{{#ic-menu}}
  {{#ic-menu-trigger title=title class=triggerClass}}<i class="icon-settings"><span class="screenreader-only">{{title}}</span></i>{{/ic-menu-trigger}}
  {{#ic-menu-list}}
    {{yield}}
  {{/ic-menu-list}}
{{/ic-menu}}

