# - name: delete vendor/bundle
#   file: path=/vagrant/vendor/bundle state=absent

- name: bundle install
  shell: >
    executable=/bin/bash source /etc/profile.d/rvm.sh;
    bundle install --path=vendor/bundle --without=sqlite mysql
  args:
    chdir: /vagrant
    creates: /vagrant/vendor/bundle

- name: npm install
  shell: >
    executable=/bin/bash source /etc/profile.d/rvm.sh;
    npm install
  args:
    chdir: /vagrant

- name: compile assets
  shell: >
    executable=/bin/bash source /etc/profile.d/rvm.sh;
    RAILS_ENV=production bundle exec rake canvas:compile_assets[false]
  args:
    chdir: /vagrant

- name: init databases
  shell: >
    executable=/bin/bash source /etc/profile.d/rvm.sh;
    RAILS_ENV=production \
    CANVAS_LMS_ADMIN_EMAIL=vagrant@localhost \
    CANVAS_LMS_ADMIN_PASSWORD=canvas4me \
    CANVAS_LMS_ACCOUNT_NAME=admin \
    CANVAS_LMS_STATS_COLLECTION=opt_out \
    bundle exec rake db:initial_setup
  args:
    chdir: /vagrant
