<div class="move">
  <a tabindex="0" class="draggable-handle" role="button">
    <i class="icon-drag-handle">
      <span class="screenreader-only"><%= t('move_to', 'Move To...') %></span>
      <span class="accessibility-warning screenreader-only">
        <%= t('This element is a more accessible alternative to drag & drop reordering. Press Enter or Space to move this question.') %>
      </span>
    </i>
  </a>
</div>
