<div class="move">
  <span tabindex="0" class="draggable-handle" role="button">
    <i class="icon-drag-handle">
      <span class="screenreader-only"><%= t('move_to', 'Move To...') %></span>
      <span class="accessibility-warning screenreader-only">
        <%= t('quiz_move_to_accessibility_warning', 'This element is a more accessible alternative to drag & drop reordering.') %>
      </span>
    </i>
  </span>
</div>
