<div class="muted-notice">
  <h3><%= t "muted_quiz_header", "Your quiz has been muted" %></h3>
  <p><%= t "muted_quiz_description", "Your quiz score is unavailable because your instructor has not finished
     grading it. When your instructor finishes grading this quiz, your score
     will be available on this page." %></p>
 </div>
