<% 
  add_crumb(@quiz.quiz_title, context_url(@context, :context_quiz_url, @quiz))
  content_for :page_title, join_title(@quiz.quiz_title, @context.name)
  css_bundle :quizzes
%>

<div style="width: 600px; margin: 10px auto;">
  <h2><%= @quiz.quiz_title || @quiz.readable_type %></h2>
  <p><% if @quiz.survey? %>
    <%= t(:survey_protected, "This survey is protected and is only available from certain locations. The computer you are currently using does not appear to be at a valid location for taking this survey.") %>
  <% else %>
    <%= t(:quiz_protected, "This quiz is protected and is only available from certain locations. The computer you are currently using does not appear to be at a valid location for taking this quiz.") %>
  <% end %></p>
</div>
