<h1>
  <%= t('headers.loading_in_lockdown', "Loading Quiz in Respondus LockDown Browser") %>
</h1>
<script type="text/javascript">
  // open the quiz in a popup window with the plugin's given query param hash
  window.location = <%= raw url_for(request.path_parameters.merge(quiz_redirect_params)).to_json %>;
</script>
