.label {
  display: inline-block;
  padding: 1px 4px;
  margin: 0 2px;
  font-style: italic;
  background: #f2dede;
  color: #000;
}

.label.required::before {
  content: "REQUIRED"
}

.label.optional {
  background: #d9edf7;
}

.label.optional::before {
  content: "OPTIONAL"
}

.label.required-for {
  background: #fcf8e3;
}

.label.required-for::before {
  content: "REQUIRED FOR: "
}

.mono {
  white-space: pre;
  font-family: monospace;
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited {
  color: #333;
  text-decoration: none;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active {
  color: #3C7DEE;
  text-decoration: none;
}

a:link {
  color: #2266dd;
}

a:visited {
  color: #5090f0;
}


a:hover {
  color: #2f6fdf;
}

a:active {
  color: #2060d0;
}


body {
  margin:0; padding:0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}
#sidebar {
  float: left;
  width: 180px;
  border-bottom: 1px solid #D0D0D0;
}
#content {
  margin: 10px 20px 0 220px;
  max-width: 800px;
}

#header {
  background-color: #6A7177;
  padding: 4px 0;
  border-bottom: 1px #aaa solid;
}
#header a, #alert-header a {
  text-decoration: none;
  color: #eee;
}

#header h1, #alert-header h1 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 1.6em;
  padding: 4px 0 0;
}
#content h1 {
  padding: 0.6em 1em;
  background-color: #555;
  border: 1px solid #d8d8e5;
  border-radius: 5px;
  color: #eee;
}
h2 {
  border-bottom: 1px #aaa solid;
  padding: 0 0 3px;
  font-size: 1.4em;
  margin-top: 30px;
}
h3.beta {
  border: 1px solid black;
  background-color: #E5E8FF;
  text-align: center;
  padding: 6px;
  font-weight: bold;
}

#sidebar {
  background-color: #F2F5F7;
}
#sidebar nav > a, #sidebar h2 {
  display:block;
  border: none;
  border-top: 1px solid #D0D0D0;
  font-size: 1.1em;
  border-right: 1px solid #D0D0D0;
}
#sidebar h2 {
  padding:10px 26px 10px 10px;
  font-family: Skolar, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
#sidebar h2.first {
  border-top:none;
}
#sidebar nav > a {
  padding:8px 26px;
  color: #4B7092;
  text-decoration: none;
}
#sidebar nav > a:hover, #sidebar nav > a:focus {
  background-color: #DEE2E4;
  text-decoration: none;
}
#sidebar nav > a.current {
  background-color: white;
  border-right: none;
  padding:12px 26px;
}

.method_details_list h2 {
}

.syntaxhighlighter .line code { white-space: nowrap; }
.syntaxhighlighter { overflow: auto; }

.method_details h3.endpoint {
  font-size: 14px;
  font-weight: normal;
  font-family: Monaco, Consolas, Courier, monospace;
  padding: 6px 10px;
  margin-top: 18px;
  background: #e5e8ff;
  border: 1px solid #d8d8e5;
  border-radius: 3px;
}

h2 .defined-in {
  float:right;
  font-size:10px;
  padding-top:10px;
  opacity:0.7;
}

.method_details h4 {
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

table th {
  background-color: #DDD;
}

table th, table td {
  border: 1px inset gray;
  padding: 4px;
}

table.sis_csv {
	border: 2px solid gray;
	border-collapse: collapse;
}
table.sis_csv th, table.sis_csv td {
    padding: 4px;
    border: 1px inset gray;
    border-spacing: 1px;
}
table.sis_csv th {
    background-color: #DDD;
}

table.tool {
	border: 1px solid gray;
	border-collapse: collapse;
	width: 75%;
}
table.tool th, table.tool td {
    padding: 2px 4px;
    border: 1px inset gray;
    border-spacing: 1px;
}
table.tool th {
    background-color: #DDD;
}
table.tool tr td:first-child {
    font-weight: bold;
    width: 20%;
}
table.tool tr td:last-child {
    width: 20%;
}

/* Footer */
#footer {
  clear: left;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 7px 0;
  color: #999;
}
#footer a {
  color: #999;
}

pre.code {
  padding: 15px;
  border: 1px solid black;
  overflow: scroll;
}

div.syntaxhighlighter {
  padding: 15px;
  border: 1px solid black;
}

table#quicklinks {
  width: 100%;
}
table#quicklinks tr {
  border: 1px solid black;
}
table#quicklinks td a {
  padding: 6px;
}
table#quicklinks th {
  font-weight: bold;
  padding: 12px;
}

h2.api_method_name a {
  text-decoration: none;
  color: black;
}

div.appendix img {
  max-width: 800px;
}
