p {
  line-height: 1.5;
}

.label {
  display: inline-block;
  padding: 1px 4px;
  margin: 0 2px;
  font-style: italic;
  background: #f2dede;
  color: #000;
}

.label.required::before {
  content: "REQUIRED"
}

.label.optional {
  background: #d9edf7;
}

.label.optional::before {
  content: "OPTIONAL"
}

.label.required-for {
  background: #fcf8e3;
}

.label.required-for::before {
  content: "REQUIRED FOR: "
}

.mono {
  white-space: pre;
  font-family: monospace;
}

.note.deprecated { background: #ffe5e5; border-color: #e9dada; padding: 1.33em; }
.note.title.deprecated { background: #ffe5e5; border-color: #e9dada; }
.request-param.deprecated, .response-field.deprecated { background: #ffe5e5; border-color: #e9dada; }
.param-deprecated { width: 185px; }

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited {
  color: #333;
  text-decoration: none;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active {
  color: #3C7DEE;
  text-decoration: none;
}

a:link {
  color: #2266dd;
}

a:visited {
  color: #5090f0;
}

a:hover {
  color: #2f6fdf;
}

a:active {
  color: #2060d0;
}

body {
  margin:0; padding:0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}
#sidebar {
  float: left;
  width: 180px;

}
#content {
  margin: 10px 20px 0 220px;
  max-width: 1280px;
}

#header {
  background-color: #2A404D;
  padding: 4px 0;
}
#header a, #alert-header a {
  text-decoration: none;
  color: #eee;
}

#header h1, #alert-header h1 {
  font-size: 16px;
  padding: 10px 10px;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  padding: 4px 0 0;
}
#content h1 {
  padding: 1em 0 0.5em 0;
  border-bottom: 1px solid #333;
  color: #333;
  font-weight: normal;
}
h2 {
  padding: 0 0 3px;
  font-size: 1.4em;
  margin-top: 30px;
}
h3.beta {
  border: 1px solid black;
  background-color: #E5E8FF;
  text-align: center;
  padding: 6px;
  font-weight: bold;
}

#sidebar {
  background-color: #efefef;
}
#sidebar nav > a, #sidebar h2 {
  display: block;
  font-size: 1.1em;
}

#sidebar h2 {
  padding: 14px 10px 14px 6px;
  font-size: 14px;
  font-weight: bold;
  border-left: 3px solid #0073ac;

  margin:  0;
}
#sidebar nav > a {
  padding:8px 10px;
  color: #333;
  text-decoration: none;
}
#sidebar nav > a:hover, #sidebar nav > a:focus {
  background-color: #DEE2E4;
  text-decoration: none;
}
#sidebar nav > a.current {
  background-color: white;
}

.method_details h3.endpoint {
  font-weight: normal;
  font-size: 14px;
  font-family: Monaco, Lucida Console, monospace;
  padding: 6px 10px;
  margin-top: 18px;
  color: #333;
  background: #eee;
  border-left: 3px solid #0073ac;
}

.method_details code.scope {
  background-color: #eee;
  padding: 1px;
}

h2 .defined-in {
  float:right;
  font-size:10px;
  padding-top:10px;
  opacity:0.7;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

table th {
  background-color: #0073ac;
  color: #fff;
  font-weight: normal;
}

table th, table td {
  border: 1px inset gray;
  padding: 4px;
}

table.changelog {
  border: 2px solid gray;
  width: 100%
}

table.changelog th {
  padding: 4px;
  border: 1px inset gray;
  border-spacing: 1px;
  height: 30px;
  text-align:left;
  vertical-align: center;
  font-weight: bold;
  color: #333;
  background-color: #DDD;
}

table.changelog tr td:nth-child(1) {
     width:20%;
}

table.changelog tr td:nth-child(2) {
     width:30%;
}

table.changelog tr td:last-child {
     width:auto;
}

table.changelog td {
  padding: 10px 8px 10px 5px;
  border: 1px inset gray;
  border-spacing: 1px;
  vertical-align: top;
  text-align: left;
}

table.sis_csv {
  border: 2px solid gray;
  border-collapse: collapse;
}
table.sis_csv th, table.sis_csv td {
  padding: 4px;
  border: 1px inset gray;
  border-spacing: 1px;
}
table.sis_csv th {
  color: #333;
  background-color: #DDD;
}

table.outcomes_csv {
  border: 2px solid gray;
  border-collapse: collapse;
}
table.outcomes_csv th, table.outcomes_csv td {
  padding: 4px;
  border: 1px inset gray;
  border-spacing: 1px;
}
table.outcomes_csv th {
  color: #333;
  background-color: #DDD;
}

table.tool {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 75%;
}
table.tool th, table.tool td {
  padding: 2px 4px;
  border: 1px inset gray;
  border-spacing: 1px;
}
table.tool th {
  background-color: #DDD;
}
table.tool tr td:first-child {
  font-weight: bold;
  width: 20%;
}
table.tool tr td:last-child {
  width: 20%;
}

/* Footer */
#footer {
  clear: left;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 7px 0;
  color: #999;
}
#footer a {
  color: #999;
}

pre.code {
  padding: 15px;
  border: 1px solid black;
  overflow: auto;
  background-color: white;
}
pre.code code {
  overflow: auto;
}

table#quicklinks {
  width: 100%;
}
table#quicklinks tr {
  border: 1px solid #ccc;
}
table#quicklinks td {
  line-height: 1.5;
  padding-left: 12px;
}
table#quicklinks td a {
  padding: 6px 12px 6px 0;
  color: #0073ac;
  text-decoration: none;

}
table#quicklinks td a:hover {text-decoration: underline;}
table#quicklinks th {
  padding: 12px;
  text-align: left;
}

h2.api_method_name a {
  text-decoration: none;
  color: black;
}

div.appendix img {
  max-width: 800px;
}

div.warning-message {
  background-color: #ffb700;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  min-height: 20px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  border-bottom-color: rgba(0,0,0,0.5);
  border-radius: 3px;
}

code.enum {
  color: white;
  font-weight: bold;
  padding: 0 4px;
  background-color: #2A404D;
  border: 1px solid #2A404D;
  border-radius: 3px;
}
.param-values .allowed {
  display: block;
  font-weight: bold;
  margin-bottom: 13px;
}
.param-values {
  background: #efefef;
  border-radius: 3px;
  padding: 12px;
  font-size: 1.1em;
}
table.request-params, table.response-fields {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 1.33em;
}

table.request-params, table.request-params th, table.request-params td, table.response-fields, table.response-fields th, table.response-fields td {
  border: 0;
  text-align: left;
}
table.request-params td, table.response-fields td {
  border-bottom: 1px solid #ccc;
  vertical-align: text-top;
  font-family: Monaco, Lucida Console, monospace;
  font-size: 12px;
  word-wrap: break-word;
}
table.request-params td.param-desc, table.response-fields td.param-desc {
  font-family: "Helvetica Neue", Helvetica;
}
table.request-params td.param-desc ul, table.response-fields td.param-desc ul {
  padding: 0;
  list-style-position: inside;
}

.param-name, .field-name {
  width: 20em;
}
.param-req {
  width: 5em;
}
.param-type, .param-deprecated, .param-effective, .field-type, .field-deprecated, .field-effective, {
  width: 10em;
}
.param-desc {
}
