<div class="form-dialog-content sync-to-sis-message-content">
  <span class="disable-sync-to-sis-message">
    {{#t}} Are you sure you want to disable Sync to {{sisName}} for all assignments?{{/t}}
  </span>
</div>

<div class="form-controls">
  <button
    id="cancel-assignment-settings"
    class="btn dialog_closer"
    type="button"
  >{{#t}}Cancel{{/t}}</button>
  <button
    id="update-assignment-settings"
    class="btn btn-primary"
    data-text-while-loading='{{#t}}Disabling...{{/t}}'
    type="submit"
  >{{#t}}Disable{{/t}}</button>
</div>
