<div class="never_drop collectionViewItems"> </div>
{{#if hasAssignments}}
  <button
    class="btn btn-link add_never_drop{{#unless canChangeDropRules}} disabled{{/unless}}"
    {{#unless canChangeDropRules}}aria-disabled=true{{/unless}}
    type="button"
  >{{addIcon 'add'}}
    {{#if hasNeverDrops}}
      {{#t}}Add another assignment{{/t}}
    {{else}}
      {{#t}}Add an assignment{{/t}}
    {{/if}}
  </button>
{{/if}}
