<% js_bundle :jquery_ui_menu %>
<% js_block do %>
<script>
require([
  'jquery' /* $ */,
  'compiled/kyleMenu'
], function($) {

$(function() {
  $('#section_to_show')
    .kyleMenu()
    .next().bind('menuselect', function(event, ui){
      $("<div/>").text("Selected: " + ui.item.text()).appendTo("#log");
    });
});
});
</script>
<% end %>
  


&nbsp;&nbsp;&nbsp;<button id="section_to_show">Showing all sections</button>
<ul style="width: 200px;">
  <li>Choose a section to show</li>
  <li><a href="#"><label for="radio4">All Sections</label><input type="radio" id="radio4" name="radioTest2" checked="checked" /></a></li> 
  <li><a href="#"><label for="radio5">Red Section</label><input type="radio" id="radio5" name="radioTest2" /></a></li> 
  <li><a href="#"><label for="radio6">Blue Section</label><input type="radio" id="radio6" name="radioTest2" /></a></li>
</ul>

<div class="ui-widget" style="clear: left; margin-top:2em; font-family:Arial"> 
  Log:
  <div id="log" style="height: 400px; width: 300px; overflow: auto;" class="ui-widget-content"></div> 
</div>
