@import "base/environment";

.ReactModal__Overlay.CourseWizard__modalOverlay {
  transition: none;
  background: transparent;
}

.ic-wizard-box {
  transition: all 1s $can-transition;
  width: 100%;
  height: 100%;
  background: $canvas-secondary;
  position: fixed;
  bottom: 0; left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: url("/images/wizard-bg.jpg") no-repeat center center;
  background-size: cover;
  transform: translate3d(0,100%,0);
  opacity: 0;
  @include breakpoint(desktop) { flex-direction: row; }

  .ReactModal__Overlay.ReactModal__Overlay--after-open & {
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  *, *:before, *:after { box-sizing: border-box; }
}

.ic-wizard-box__header {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  order: 1;
  @if $use_high_contrast { background: $canvas-secondary; }
  @else { background: rgba($canvas-secondary, 0.9); }

  @include breakpoint(mini-tablet) {
    flex-direction: row; 
  }
  @include breakpoint(desktop) { 
    flex: 1;
    order: 0;
    flex-direction: column; 
  }
}

.ic-wizard-box__logo-link {
  background: url("/images/canvas-logo.svg") no-repeat $can-sp+4 50%;
  background-size: 114px 27px;
  border-left: 4px solid transparent;
  flex: 0 0 36px;

  &:hover, &:focus {
    border-color: $canvas-primary;
    background-color: rgba($canvas-light, 0.1);
  }
  @include breakpoint(mini-tablet) { 
    flex: 1;
  }
  @include breakpoint(tablet) {
    background-size: 144px 34px;  
  }
  @include breakpoint(desktop) {
    flex: 0 0 $can-sp*9;
    @include breakpoint(short) {
      flex: 0 0 $can-sp*6;
      background-size: 114px 27px;
    }  
  }
  
}

.ic-wizard-box__nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  @include breakpoint(mini-tablet) {
    flex: 2;
  }
  @include breakpoint(desktop) { flex: 1; }
}

.ic-wizard-box__content-trigger {
  flex: 1;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 $can-sp 0 $can-sp*4;
  border-left: 4px solid transparent;
  background: url("/images/wizard-todo-unchecked.svg") no-repeat $can-sp 50%;
  background-size: 18px 18px;
  font-weight: 300;

  @if $use_high_contrast { 
    color: $canvas-light;
    &:hover, &:focus, &.ic-wizard-box__content-trigger--active {
      background-color: $canvas-primary;
      color: canvas-light;
    }
  }
  @else { 
    color: rgba($canvas-light, 0.9);
    &:hover, &:focus, &.ic-wizard-box__content-trigger--active {
      background-color: rgba($canvas-light, 0.1);
      color: $canvas-light;
    }
  }

  @include breakpoint(desktop) { font-size: 15px; }

  &:hover, &:focus, &.ic-wizard-box__content-trigger--active {
    border-left-color: $canvas-primary;
    text-decoration: none;
    color: $canvas-light;
  }

  &.ic-wizard-box__content-trigger--checked {
    background-image: url("/images/wizard-todo-checked.svg");
  }
}

.ic-wizard-box__main {
  flex: 2;
  display: flex;
  flex-direction: column;
  
  @if $use_high_contrast { background: rgba( $canvas-secondary, 0.9); }
  @else { background: linear-gradient(to bottom, rgba($canvas-secondary, 0.75) 0%,rgba(0,0,0,0) 100%); }
}

.ic-wizard-box__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ic-wizard-box__close {
  text-align: right;
}

.ic-wizard-box__headline {
  line-height: 0.85;
  font-size: $can-sp*3;
  text-align: center;
  color: $canvas-light;
  font-weight: 700;
  margin: 0;
  @include breakpoint(mini-tablet) {
    font-size: $can-sp*4;
    padding: $can-sp 0;
  }
  @include breakpoint(tablet) {
    font-size: $can-sp*5;
  }
  @include breakpoint(desktop) {
    font-size: $can-sp*6;
    padding: $can-sp*2 0;
  }
}

.ic-wizard-box__message {
  flex: 1;
  display: flex;
  align-items: center;
}


.ic-wizard-box__message-layout {
  position: relative;
  perspective: 500px;

  @include breakpoint(mini-tablet) {
    margin: 0 $can-sp;
  }
  @include breakpoint(tablet) {
    margin: 0 $can-sp*2;
  }
  @include breakpoint(desktop) {
    max-width: 600px;
    margin: 0;
  }
}

.ic-wizard-box__message-icon {
  display: none;
  
  @include breakpoint(mini-tablet) {
    transition: all 1s $can-transition;
    opacity: 0;
    transform: scale(0) translate3d(0,50%,0);

    display: block;
    background: $canvas-secondary;
    width: 72px; height: 72px;
    border-radius: 100%;
    position: absolute;
    left: 50%; top: -36px;
    z-index: 1;
    margin-left: -36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.ic-wizard-box__message-icon--is-fired {
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }

    i[class*=icon-], i[class^=icon-] {
      width: auto; height: auto;
      color: $canvas-light;
      line-height: 1;
      &:before {
        font-size: $can-sp*3;
        top: 0;
      }
    }
    
  }

  @include breakpoint(tablet) {
    i[class*=icon-], i[class^=icon-] {
      &:before { font-size: $can-sp*3; }
    }
  }

  @include breakpoint(desktop) {
    width: 120px; height: 120px;
    top: -60px; left: 50%;
    margin-left: -60px;
    i[class*=icon-], i[class^=icon-] {
      &:before { font-size: $can-sp*5; }
    }
  }

}

.ic-wizard-box__message-inner {
  transition: all 1s $can-transition;
  opacity: 0;
  transform: translate3d(0,50%,0);
  background: rgba($canvas-light, 0.9);
  padding: $can-sp*4 $can-sp*2 $can-sp*2 $can-sp*2;
  box-shadow: 0 1px 4px 1px rgba(black, 0.3);
  text-align: center;

  &.ic-wizard-box__message-inner--is-fired {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  
  @if $use_high_contrast { background: $canvas-light; }
  @else { background: rgba($canvas-light, 0.9); }

  @include breakpoint(mini-tablet) {
    border-radius: $baseBorderRadius;
  }
  @include breakpoint(desktop) { padding: $can-sp*7 $can-sp*2 $can-sp*2 $can-sp*2; }

}

.ic-wizard-box__message-button {
  margin-top: $can-sp*2;
}

.ic-wizard-box__message-text {
  font-weight: 300;
  margin-bottom: 0;
  
  @include breakpoint(desktop) {
    font-size: 15px;
    line-height: 1.6;

    @include breakpoint(short) {
      font-size: 14px;
      line-height: 1.3;
    }  
  }
}


// Styles for specific React Components
@import "./CourseWizard";

