.image-block-container {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: solid 1px #d7dade;
}

.image-block-add-button {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.image-block-default-preview {
  background-color: #f2f4f4;
}

.image-block-default-preview svg {
  color: #d7dade;
}

.image-actions-container {
  position: relative;
}

.image-actions-container img {
  width: 100%;
}

.image-actions-container .image-actions {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 16px;
}
