.group_reference {
  color: #444;
  padding: 2px;
  margin-bottom: 2px;
  position: relative; 
  overflow: hidden; 
  white-space: nowrap;
}
.group_reference label {
  cursor: pointer;
}
.group_reference .add_event_link {
  float: right;
  display: none;
  position: relative;
  z-index: 100;
  font-size: 10px;
  padding: 1.5px 5px;
  margin-right: -3px;
}
.group_reference .add_event_link img {
  vertical-align: middle;
}

div.calendar_container {
	margin: 5px 10px;
  color: #595959;
}
table.calendar_month {
	width: 100%;
	border-collapse: collapse;
}
.calendar_day {
/*	min-width: 100px;*/
	height: 90px;
	overflow: auto;
  position: relative;
}
.calendar_day a:hover, .calendar_day a:focus{
  background-color: transparent !important;
  text-decoration: underline !important;
}
.calendar_day a {
  text-decoration: none !important; 
  color: inherit !important;
}
td.calendar_day_holder.drop_target
{
	padding: 0px;
}
.calendar_day.hover,
td.calendar_day_holder.selected .calendar_day {
	background-image: url('/images/4_percent_opacity.png');
}
td.calendar_day_holder {
	border: 1px dotted #aaa;
  outline: 0;
}
td.calendar_day_holder.drop_target .calendar_day, .calendar_undated.drop_target .calendar_day {
	background-color: #DFEEFC;
	background-image: none;
}
.calendar_day.other_month {
	background-color: #f2f3f4;
	color: #b3b3b3;
}
.calendar_day.current_month.today {
	background-color: #ffc;
}
.calendar_day .day_number {
	padding: 0px 3px;
	font-size: 0.8em;
}
.month_title {
	text-align: center;
	font-size: 1.2em;
	font-size: 23px;
	font-family: georgia, serif;
}
.month_title img{
  vertical-align: middle;
}
.refresh_calendar_link{
  float: right;
}
#month_and_year {
  min-width: 185px;
  display: inline-block;
}
.calendar_event {
	white-space: nowrap;
/*	min-width: 70px;*/
	overflow: hidden;
	background-color: #bcf;
	color: #595959;
	margin: 1px;
	cursor: pointer;
	font-size: 0.9em;
	position: relative;
}
.calendar_event .due_text {
  display: none;
  font-weight: bold;
  font-size: 0.8em;
}
.calendar_event.assignment .due_text {
  display: inline;
}
.calendar_event.selected {
	border: 1px solid #444;
  background-color: #fd4;
}
.calendar_event_text {
	position: absolute;
	top: 0px;
	left: 3px;
}
#event_details .content, .event_details .content, #edit_event .content {
	padding: 5px;
}
#edit_event select {
	max-width: 280px;
}
.details_title {
	font-weight: bold;
}
.details_time {
	color: #888;
	font-style: italic;
	text-align: right;
}
.details_description {
	max-height: 70px;
	overflow: hidden;
	padding: 2px 10px;
	font-size: 0.9em;
}
#event_details .links, .event_details .links {
	text-align: right;
	margin: 5px;
}
#edit_event_tabs {
  background-image: none;
}
.calendar_undated .calendar_day {
	border: 1px solid #aaa;
	overflow: auto;
	height: auto;
	min-height: 25px;
	max-height: 200px;
	background-color: #fff;
	background-image: none;
}

/*#edit_event .ui-tabs .ui-tabs-nav .ui-state-active, */
#edit_event .ui-tabs .ui-tabs-panel {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255,255,255,0.6)));
  background: -moz-linear-gradient(top, #fff, rgba(255,255,255,0.6));
}



#calendar-days td{
  width: 14%;
  text-align: center;
}