/*
 * LaTeX Math in pure HTML and CSS -- No images whatsoever
 * v0.xa
 * by Jay and Han
 * Lesser GPL Licensed: http: //www.gnu.org/licenses/lgpl.html
 * 
 * This file is automatically included by mathquill.js
 * 
 */

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"),
    url(font/Symbola.ttf) format("truetype"),
    url(font/Symbola.otf) format("opentype"),
    url(font/Symbola.svg#webfont7MzkO3xs) format("svg");
}

.mathquill-editable, .mathquill-embedded-latex .mathquill-editable {
  display: -moz-inline-box;
  display: inline-block;
  border: 1px solid gray;
  padding: 2px;
}
.mathquill-embedded-latex .mathquill-editable {
  margin: 1px;
}
.mathquill-textbox {
  overflow-x: auto;
  overflow-y: hidden; /*so IE8 won't show a vertical scrollbar*/
}
.mathquill-editable.empty, .mathquill-editable * {
  cursor: text;
}

.mathquill-editable .textarea {
  position: relative;
  display: inline; /*so Firefox 3.6 (Gecko 1.9.2) won't wrap the box to 2 lines*/
}
.mathquill-editable .textarea textarea {
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 1px;
  opacity: 0;
  border: none;
  outline: none;
}

.mathquill-editable .cursor {
  border-left: 1px solid black;
  margin-right: -1px;
  display: inline;
  position: relative;
  z-index: 1;
}
.mathquill-editable .cursor.blink {
  visibility: hidden;
}
.mathquill-editable.empty:after, .mathquill-textbox:after, .mathquill-rendered-math .empty:after {
  visibility: hidden;
  content: 'c';
}
/*separated from above because unrecognized pseudoclasses invalidate the entire selector*/
.mathquill-editable .cursor:only-child:after,
.mathquill-editable .textarea+.cursor:last-child:after {
  visibility: hidden;
  content: 'c';
}

.mathquill-editable .selection,
.mathquill-editable .selection .mathquill-rendered-math,
.mathquill-editable .selection sup, .mathquill-editable .selection sub {
  background: #B4D5FE;
  background: Highlight;
  color: HighlightText;
  border-color: HighlightText;
}
.mathquill-editable .selection.blur,
.mathquill-editable .selection.blur .mathquill-rendered-math,
.mathquill-editable .selection.blur sup,.mathquill-editable .selection.blur sub {
  background: #CCC;
  background: rgba(0, 0, 0, .2);
  color: black;
  border-color: black;
}
.mathquill-editable .selection .selection.blur,
.mathquill-editable .selection .selection.blur sup,
.mathquill-editable .selection .selection.blur sub {
  background: #ABF;
}
.mathquill-editable .selection.blur .selection.blur,
.mathquill-editable .selection.blur .selection.blur sup,
.mathquill-editable .selection.blur .selection.blur sub {
  background: #AAA;
  background: rgba(0, 0, 0, .2);
}

.mathquill-textbox, .mathquill-rendered-math {
  white-space: pre-wrap;
  font-family: Symbola, "Times New Roman", serif;
}
.mathquill-rendered-math {
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 115%;
  line-height: 1;
  display: -moz-inline-box;
  display: inline-block;
  -moz-user-select: none;
}
.mathquill-rendered-math var, .mathquill-rendered-math .nonSymbola {
  font-family: "Times New Roman", serif;
}
.mathquill-rendered-math * {
  font-size: inherit;
  line-height: inherit;
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-color: black;
}
.mathquill-editable.hasCursor,
.mathquill-rendered-math .latex-command-input.hasCursor {
  border-color: ActiveBorder;
}
.mathquill-editable.hasCursor, .mathquill-editable .hasCursor {
  -webkit-box-shadow: #68B4DF 0 0 3px 2px;
  -moz-box-shadow: #68B4DF 0 0 3px 2px;
  box-shadow: #68B4DF 0 0 3px 2px;
}

.mathquill-rendered-math .empty {
  background: #ccc;
}
.mathquill-rendered-math.empty {
  background: transparent;
}

.mathquill-rendered-math .text {
  display: inline;
  font-size: 87%;
}

.mathquill-rendered-math var { /* variables, in case the user does something weird to their <var>'s */
  font-style: italic;
  font-weight: normal;
}
.mathquill-rendered-math var.florin { /* florin looks so much better than italic f */
  margin: 0 -.1em;
}

.mathquill-rendered-math big {
  font-size: 125%;
}

.mathquill-rendered-math sup, .mathquill-rendered-math sub {
  position: relative;
  font-size: 90%;
}
.mathquill-rendered-math sup {
  vertical-align: .5em;
}
.mathquill-rendered-math sub {
  vertical-align: -.4em;
}
.mathquill-rendered-math sup.nthroot {
  margin-right: -.6em;
  margin-left: .2em;
  min-width: .5em;
}
.mathquill-rendered-math sup.limit, .mathquill-rendered-math sub.limit,
.mathquill-rendered-math sup.nthroot {
  font-size: 80%;
}
.mathquill-rendered-math sup.limit, .mathquill-rendered-math sup.nthroot {
  vertical-align: .8em;
}
.mathquill-rendered-math sub.limit {
  vertical-align: -.6em;
}

.mathquill-rendered-math .binary-operator {
  padding: 0 .2em;
}
.mathquill-rendered-math .unary-operator {
  padding-left: .2em;
}
.mathquill-rendered-math sup .binary-operator,
.mathquill-rendered-math sub .binary-operator {
  padding: 0 .1em;
}
.mathquill-rendered-math sup .unary-operator,
.mathquill-rendered-math sub .unary-operator {
  padding-left: .1em;
}

.mathquill-rendered-math .fraction {
  font-size: 90%;
  text-align: center;
  vertical-align: -.5em;
  padding: 0 .1em;
}
.mathquill-rendered-math .fraction, x:-moz-any-link { /* Firefox 2 (and older?) only */
  display: -moz-groupbox; /* because display:inline-block is FUBAR in Gecko < 1.9.0 */
}
.mathquill-rendered-math .fraction, x:-moz-any-link, x:default { /* Firefox 3+ (Gecko 1.9.0+) */
  display: inline-block;
}
.mathquill-rendered-math .numerator, .mathquill-rendered-math .denominator {
  display: block;
}
.mathquill-rendered-math .numerator {
  border-bottom: 1px solid; /* black is too black, contrasts with antialised text */
  padding: 0 .1em;
}
.mathquill-rendered-math .denominator {
  border-top: 1px solid;
  float: right; /* take out of normal flow to manipulate baseline */
  width: 100%;
}

.mathquill-rendered-math sup .fraction, .mathquill-rendered-math sub .fraction {
  font-size: 70%;
  vertical-align: -.4em;
}
.mathquill-rendered-math sup .numerator, .mathquill-rendered-math sub .numerator {
  border-bottom: none;
  padding-bottom: 0;
}
.mathquill-rendered-math sup .denominator, .mathquill-rendered-math sub .denominator {
  padding-top: 0;
}

.mathquill-rendered-math .latex-command-input {
  color: inherit;
  font-family: "Courier New", monospace;
  border: 1px solid gray;
  padding-right: 1px;
  margin-right: 1px;
  margin-left: 2px;
}
.mathquill-rendered-math .latex-command-input:before {
  content: '\\';
}
.mathquill-rendered-math .latex-command-input.empty {
  background: transparent;
}

.mathquill-rendered-math .sqrt-prefix {
  vertical-align: top;
  position: relative;
  top: 2px;
}
.mathquill-rendered-math .sqrt-stem {
  border-top: 1px solid;
  margin-top: 1px;
  padding-left: 2px;
  padding-right: .2em;
  margin-right: .1em;
}

.mathquill-rendered-math .paren {
  vertical-align: bottom;
  position: relative;
}

.mathquill-rendered-math .array {
  vertical-align: middle;
  text-align: center;
}

.mathquill-rendered-math .array > span {
  display: block;
}

.mathquill-rendered-math .non-italicized-function {
  padding-right: .2em;
}

/*.mathquill-rendered-math .not {
  margin-right: -.75em;
}*/


/*
 * editor/toolbar styles
 */
.mathquill-editor {
  padding: 0 4px 10px;
  width: 680px;
  display: inline-block;
}
.mathquill-toolbar {
  font-family: sans-serif, Arial, Verdana;
  font-size: 1em;
  margin: 0 -4px 10px;
  position: relative;
  overflow: hidden;
  z-index: 101;
}
.mathquill-tab-bar {
  padding: 8px 8px 2px 16px;
  margin: 0 0 -2px;
  line-height: 1.5;
  font-size: 9pt;
  list-style: none;
  overflow: hidden;
  display: block;
  background: #aaa;
}
.mathquill-tab-bar li {
  color: #555;
  background: #ccc;
  border-color: #999;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-radius-topright: 4px;
  -webkit-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0 4px 0 0;
  float: left;
  top: 1px;
  height: 2em;
  overflow: hidden;
  position: relative;
}
.mathquill-tab-bar li.mathquill-tab-selected {
  background: #e8e8e8;
  border-color: #999;
}
.mathquill-tab-bar li a {
  padding: 0 8px;
  line-height: 2em;
  color: #000;
  text-decoration: none;
  cursor: default;
  display: block;
}
*:first-child+html .mathquill-tab-bar li a { /* IE7 only */
  padding: 0 7px;
}
.mathquill-tab-bar a span {
  padding: 0 6px 0 0;
  line-height: inherit;
  font-weight: bold;
}
.mathquill-toolbar-panes {
  border-top: 1px solid #999;
  border-bottom: 1px solid #aaa;
  background: #e8e8e8;
}
.mathquill-tab-pane {
  margin: 0 -100% 0 0;
  width: 100%;
  visibility: hidden;
  float: left;
}
.mathquill-tab-pane-selected {
  visibility: visible;
  margin: 0;
}
.mathquill-tab-pane ul {
  margin: 0;
  padding: 6px 12px;
  overflow: hidden;
  line-height: 1;
  list-style: none;
}
.mathquill-tab-pane li {
  overflow: hidden;
  display: block;
  float: left;
  height: 1.5em;
  margin: 0 -4px 3px;
  padding: 4px 6px 0;
  text-align: center;
  background: #eee;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.mathquill-tab-pane li.mathquill-button-spacer {
  background: transparent;
  border-color: transparent;
  width: 10px;
}
.mathquill-tab-pane li a {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  width: 1.5em;
  height: 1.4em;
}
.mathquill-tab-pane li a:hover {
  background-color: #adcddf;
}
.mathquill-toolbar * {
  cursor: default !important;
}



/*
 * instructure tweaks
 */
@font-face {
  font-family: Symbola;
  src: url(/font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"),
    url(/font/Symbola.ttf) format("truetype"),
    url(/font/Symbola.otf) format("opentype"),
    url(/font/Symbola.svg#webfont7MzkO3xs) format("svg");
}
.mathquill-toolbar-panes {
  background: #ccc url(/images/tinybg.png) repeat-x top left;
}
.mathquill-tab-pane li {
  background: #ccc url(/images/tinybutton.png) repeat-x top left;
}
.mathquill-tab-pane li a:hover {
  text-decoration: none;
}

.mathquill-editable .textarea textarea {
  z-index: inherit; /* so that jquery modal dialogs don't cancel its events */
}
