.defaultSkin table.mceLayout {
  border: 0;
  background-color: transparent; }
  .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar {
    border-top: 0;
    background: #ccc url(../images/tinybg.png) repeat-x top left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px; }
    .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar {
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: transparent; }
      .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar.mceToolbarRow1 {
        margin-top: 5px; }
      .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td {
        background-color: transparent;
        background-image: url(../images/tinybutton.png);
        padding: 0px 2px; }
        .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td.mceToolbarStart, .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td.mceSeparatorLeft {
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px; }
        .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td.mceToolbarEnd, .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td.mceSeparatorRight {
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomright: 5px; }
        .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td.mceSeparatorMiddle {
          background: transparent;
          width: 4px; }
        .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td a.mceButton {
          border-color: transparent; }
        .defaultSkin table.mceLayout tr.mceFirst td.mceToolbar table.mceToolbar tr td td {
          padding: 0; }
