<div id="quiz_preview" class="question_preview quiz assessment">
</div>
<script type="text/text" id="script_template">
if(!jQuery) {
  var head = document.getElementsByTagName("head")[0];
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js";
  head.appendChild(script);
}
var evaluateAnswersNow = true;
;(function($) { // hide the namespace
  $("#instructure_quiz :radio.option").mousedown(function(event) {
    $(this).attr('was_clicked', true);
  });
  $("#instructure_quiz select.answer_match_select").change(function(event) {
    if(!evaluateAnswersNow) { return; }
    var $question = $(this).parents(".question");
    var questionId = $question.attr('id');
    var $answer = $(this).parents(".answer");
    var answerId = $answer.attr('id');
    var $answerOption = $(this.options[this.selectedIndex]);
    var optionId = $answerOption.val().substring(7);
    var question = quiz.questions[questionId];
    if(!question) { return; }
    var answer = question[answerId];
    if(!answer) { return; }
    var answer_message = answer.comments || "Incorrect";
    $answer.removeClass('correct_answer');
    if(answerId == optionId) {
      answer_message = "Correct!";
      $answer.addClass('correct_answer');
    }
    $answer.find(".answer_comment_holder").remove();
    if(optionId) {
      var comment = answer_message
      var $comment = $("#answer_comment_template").clone().attr('id', '');
      $comment.find(".answer_comment").html(comment);
      $answer.append($comment.show())
        .append("<div class='clear'></div>");
    }
    if($question.find(".answer").length == $question.find(".answer.correct_answer").length) {
      $question.addClass('correct')
        .find(".answer:first").addClass('correct_answer');
      $question.removeClass('incorrect');
    } else {
      $question.removeClass('correct')
        .find(".answer_correct_answer").removeClass('correct_answer');
      if(allEntered) {
        $question.addClass('incorrect');
      }
    }
    $("#instructure_quiz").triggerHandler('answer_changed');
  }).val("");
  $("#instructure_quiz select.answers_select").change(function(event) {
    if(!evaluateAnswersNow) { return; }
    var $question = $(this).parents(".question");
    var questionId = $question.attr('id');
    var $answerOption = $(this.options[this.selectedIndex]);
    var optionId = $answerOption.val().substring(7);
    var question = quiz.questions[questionId];
    if(!question) { return; }
    var comments = null;
    var answer = question[optionId] || {};
    if(answer.weight == 100) {
      comments = answer.comments || "Correct!";
      $question.addClass('correct');
    } else {
      comments = answer.comments || "Incorrect";
      $question.removeClass('correct');
    }
    $question.find(".answer_comment_holder").remove();
    if(optionId) {
      var $comment = $("#answer_comment_template").clone().attr('id', '');
      $comment.find(".answer_comment").html(comments);
      if($question.find(".answers .answer").length == 0) {
        $question.find(".answers").append("<div class='answer'></div>");
      }
      $question.find(".answers .answer:first").append($comment.show())
        .append("<div class='clear'></div>");

    }
    $("#instructure_quiz").triggerHandler('answer_changed');
  }).val("");
  $("#instructure_quiz :radio.option,#instructure_quiz :checkbox.option").change(function(event) {
    if(!evaluateAnswersNow) { return; }
    var $question = $(this).parents(".question");
    var questionId = $question.attr('id');
    var $answer = $(this).parents(".answer");
    var answerId = $answer.attr('id');
    var question = quiz.questions[questionId];
    if(!question) { return; }
    var answer = question[answerId];
    if(!answer) { return; }
    var answer_message = "Incorrect";
    $question.removeClass('correct').removeClass('incorrect')
      .find(".answer.correct_answer").removeClass('correct_answer');
    var answer_selected = false;
    if(answer.weight == 100) {
      answer_message = "Correct!";
      if(question.question_type != "muliple_answers_question") {
        $question.addClass('correct');
        $answer.addClass('correct_answer');
      }
    } else {
      $question.addClass('incorrect');
    }
    if(question.question_type != "multiple_answers_question") {
      $question.find(".answer_comment_holder").remove();
    } else {
      var answer_selected = false;
      var correct = true;
      $question.find(".answer").each(function() {
        var $answer = $(this);
        var answer = question[$answer.attr('id')];
        if(answer.weight == 0 && $answer.find(".option").attr('checked')) {
          correct = false;
          $answer.removeClass('correct_answer');
          answer_selected = true;
        } else if(answer.weight == 100 && !$answer.find(".option").attr('checked')) {
          correct = false;
          $answer.removeClass('correct_answer');
        } else if(answer.weight == 100 && $answer.find(".option").attr('checked')) {
          $answer.addClass('correct_answer');
          answer_selected = true;
        }
      });
      if(correct) {
        $question.addClass('correct');
        $question.removeClass('incorrect');
      } else {
        $question.removeClass('correct');
        if(answer_selected) {
          $question.addClass('incorrect');
        }
      }
    }
    if($(this).attr('checked')) {
      var comment = answer.comments || answer_message;
      var $comment = $("#answer_comment_template").clone().attr('id', '');
      $comment.find(".answer_comment").html(comment);
      $answer.append($comment.show())
        .append("<div class='clear'></div>");
    } else {
      $answer.find(".answer_comment_holder").remove();
    }
    if($(this).attr('was_clicked')) {
      $(this).attr('was_clicked', false);
      $(this).blur();
      $question.focus();
    }
    $("#instructure_quiz").triggerHandler('answer_changed');
  });
  $("#instructure_quiz :input.text_input").blur(function(event) {
    if(!evaluateAnswersNow) { return; }
    var $question = $(this).parents(".question");
    var questionId = $question.attr('id');
    $question.find(".answer_comment_holder").remove();
    if($(this).val() == "") {
      $question.removeClass('correct').removeClass('incorrect')
        .find(".answer.correct_answer").removeClass('correct_answer');
      return;
    }
    var $answer = $(this).parents(".answer");
    var question = quiz.questions[questionId];
    if(!question) { return; }
    
    var comments = null;
    for(var idx in question) {
      if(idx.indexOf('answer_') == 0) {
        var answer = question[idx];
        var correct = (answer.text && answer.text.toLowerCase() == $(this).val().toLowerCase());
        if(question.question_type == "numerical_question") {
          var val = parseFloat($(this).val());
          if(isNaN(val)) {
            val = 0.0;
          }
          $(this).val(val);
          if('answer_exact' in answer) {
            var margin = answer.answer_error_margin || 0;
            correct = (val >= (answer.answer_exact - margin) && val <= (answer.answer_exact + margin))
          } else {
            correct = (val >= (answer.answer_range_start) && val <= (answer.answer_range_end));
          }
        }
        if(correct) {
          comments = answer.comments || "Correct!";
          $question.addClass('correct')
            .find(".answer:first").addClass('correct_answer');
        } else if(question.question_type == "essay_question" && answer.comments) {
          comments = answer.comments;
          $question.removeClass('correct')
            .find(".answer.correct_answer").removeClass('correct_answer');
        }
      }
    }
    if(question.question_type == "essay_question") {
      $question.addClass('correct')
        .find(".answer:first").addClass('correct_answer');
    } else if(!comments) {
      comments = "Incorrect";
      $question.addClass('incorrect');
    }
    if(comments) {
      var $comment = $("#answer_comment_template").clone().attr('id', '');
      $comment.find(".answer_comment").html(comments);
      $answer.append($comment.show())
        .append("<div class='clear'></div>");
    }
    $("#instructure_quiz").triggerHandler('answer_changed');
  });
  $("#instructure_quiz .score_quiz_link").click(function(event) {
    event.preventDefault();
    var oldEval = evaluateAnswersNow;
    evaluateAnswersNow = true;
    $("#instructure_quiz select.answer_match_select,#instructure_quiz select.answers_select").each(function() {
      if($(this).parents(".answer").css('display') != 'none') {
        $(this).triggerHandler('change');
      }
    });
    $("#instructure_quiz :radio.option,#instructure_quiz :checkbox.option").each(function() {
      if($(this).attr('checked')) {
        $(this).triggerHandler('change');
      }
    });
    $("#instructure_quiz :input.text_input").each(function() {
      if($(this).parents(".answer").css('display') != 'none') {
        $(this).triggerHandler('blur');
      }
    });
    evaluateAnswersNow = oldEval;
  });
  $("#instructure_quiz .reset_link").click(function(event) {
    event.preventDefault();
    var oldEval = evaluateAnswersNow;
    evaluateAnswersNow = true;
    $("#instructure_quiz select.answer_match_select,#instructure_quiz select.answers_select").each(function() {
      $(this).val("").change();
    });
    $("#instructure_quiz :radio.option,#instructure_quiz :checkbox.option").each(function() {
      $(this).attr('checked', false).change();
    });
    $("#instructure_quiz :input.text_input").each(function() {
      $(this).val("").change();
    });
    $("#instructure_quiz").triggerHandler('answer_changed');
    evaluateAnswersNow = oldEval;
  });
  $("#instructure_quiz").bind("answer_changed", function(event) {
    var score = 0;
    var tally = 0;
    $("#instructure_quiz .question").each(function() {
      var $question = $(this);
      var points = parseFloat($question.find(".question_points").text());
      if(isNaN(points)) {
        points = 0.0;
      }
      tally += points;
      if($question.hasClass('correct')) {
        score += points;
      }
    });
    if(!evaluateAnswersNow) { score = "..."; }
    $("#instructure_quiz .current_score").text(score);
    $("#instructure_quiz .points_possible").text(tally);
    $("#instructure_quiz .score").show();
    $("#instructure_quiz .score_quiz_link").val("Re-Score the Quiz");
  });
})(jQuery);
//jQuery.noConflict(true);
</script>
<div id="instructure_quiz_templates" style="display: none;">
  <div id="multiple_choice_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer">
          <input type="radio" class="option"><label class="answer_text"></label>
        </div>
      </div>
    </div>
  </div>
  <div id="multiple_answers_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer">
          <input type="checkbox" class="option"><label class="answer_text"></label>
        </div>
      </div>
    </div>
  </div>
  <div id="short_answer_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer">
          Type your answer here:
          <input type="text" class="answer_text text_input">
        </div>
      </div>  
    </div>
  </div>
  <div id="numerical_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer">
          Type your answer here (numbers only): <input type="text" class="answer_text text_input">
        </div>
      </div>  
    </div>
  </div>
  <div id="matching_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer" style="clear: both;">
          <div class="answer_match">
            <div class="answer_match_left"></div>
            <div class="answer_match_middle">&nbsp;</div>
            <div class="answer_match_right"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="missing_word_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <span class="question_text">
      </span>
      <select class="answers_select">
        <option class="answer answer_text"></option>
      </select>  
      <span class="text_after_answers">
      </span>
      <div class="answers">
        <div class="answer"></div>
      </div>
    </div>
  </div>
  <div id="essay_question_template" class="question">
    <div class="header">
      <span class="question_name">&nbsp;</span>
      : <span class="question_points">&nbsp;</span> pts
    </div>
    <div class="text">
      <div class="question_text">
      </div>
      <div class="answers">
        <div class="answer">
          <textarea class="answer_text text_input"></textarea>
        </div>
      </div>  
    </div>
  </div>
  <div id="answer_comment_template" class="answer_comment_holder" style="display: none;">
    <div class="comment_top"></div>
    <div class="answer_comment">&nbsp;</div>
  </div>
  <div id="instructure_quiz_scoring">
    <div class="score" style="display: none;">
      Quiz Score: <span class="score_data"><span class="current_score">&nbsp;</span> out of <span class="points_possible">&nbsp;</span></span>
    </div>
    <div class="scoring_links button-container">
      <button type="button" class="score_quiz_link">Score the Quiz</button>
      <button type="button" class="reset_link button-secondary">Reset</button>
    </div>
  </div>
</div>
