<h1>
  Quiz Loading
</h1>
<script type="text/javascript">
  // open the quiz in a popup window with the plugin's given query param hash
  window.open(<%= raw url_for(params.merge(@query_params).merge(:escape => false)).to_json %>);
  // redirect this window back to the quiz show page
  window.location = <%= raw context_url(@context, "context_quiz_url", @quiz).to_json %>;
</script>
