<% js = CoffeeScript.compile(File.read(Rails.root + 'app/coffeescripts/bookmarklet_source.coffee'))
   bookmarklet_src = Uglifier.compile(js).
                              # convert whitespace to %20
                              # gsub(/\s/, '%20').
                              # replace 'put_canvas_domain_here' with the right domain name
                              gsub('put_canvas_domain_here', @domain_root_account.domain) %>

<h1>Canvas Bookmarklet Tester</h1>
<p>
  Add this link to your Bookmarks Bar: 
  <a href="javascript:void(<%= bookmarklet_src %>);" onclick="alert('Drag me to the bookarks bar'); return false;" title="Drag me to the bookmarks bar to save">Pin To Canvas</a>
</p>