<%
  self.instance_variables.each do |name|
    if name.match(/\A@content_for/)
      instance_variable_set(name, nil)
    end
  end
  status ||= nil
  exception ||= nil
%>
<% content_for :page_title, :clear_first => true do %>Page Not Found<% end %>

<%= render :partial => "shared/errors/backtrace", :locals => {:exception => exception} %>
<div style="width: 410px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h2>Page Not Found</h2>
  <% if @not_found_message %>
    <p><%= @not_found_message %></p>
  <% else %>
    <p>Oops, we couldn't find that page.</p>
  <% end %>
  <a href="#" style="font-size: 1.2em;" class="submit_error_link discussion-topic">Click here to tell us what you were looking for.</a>
  <%= render :partial => "shared/errors/error_form", :locals => {:status => status} %>
</div>
