<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  self.instance_variables.each do |name|
    if name.match(/\A@content_for/)
      instance_variable_set(name, nil)
    end
  end
  exception ||= nil
%>
<% content_for :page_title, t('title', 'Page Not Found') %>

<%

js_bundle :not_found_index
css_bundle :not_found_index

%>
<div>
  <div id="not_found_root"></div>

  <div class="not_found_page_artwork" style="width: 440px; margin-left: auto; margin-right: auto; text-align: center;">
    <a href="#" style="font-size: 1.2em;" class="icon-discussion submit_error_link discussion-topic"><%= t('#links.errors.4xx_feedback', %{Click here to tell us what you were looking for.}) %></a>
    <%= render :partial => "shared/errors/error_form", :locals => {:error_category => '404'} %>
  </div>
</div>
