<%
  self.instance_variables.each do |name|
    if name.match(/\A@content_for/)
      instance_variable_set(name, nil)
    end
  end
  exception ||= nil
%>
<% content_for :page_title, t('title', 'Page Error') %>

<div style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h2><%= t('headings.page', %{Page Error}) %></h2>
  <p><%= t('description', %{Well, it looks like something broke unexpectedly.  Sorry you had to see that.  If you have a second, please let us know what you were doing when the error happened.}) %></p>
  <a href="#" style="font-size: 1.2em;" class="icon-discussion submit_error_link discussion-topic"><%= t('#links.errors.feedback', %{Click here to tell us what happened}) %></a>
  <%= render :partial => "shared/errors/error_form", :locals => {:error_category => '500'} %>
</div>
