<h3>Log-in Troubleshooting steps:</h3>
<ol>
  <li>Clear your entire internet browsers' History, Cache, and Cookies. (If you need assistance with completing these steps, please be sure to call us.)</li>
  <li>After completing step 1, restart your internet browser and attempt to re-log in.</li>
  <li>If these steps do not work, please be sure to call us immediately at (480) 456-6678 and please choose Option 5 for Technical Support.</li>
</ol>
<br/>
