<div class="service">
  <% if @resource %>
    <h1><%= @resource %> API</h1>
  <% else %>
    <h1>All API Resources</h1>
  <% end %>
  <% if @beta %>
    <h3 class='beta'>BETA: This API resource is not finalized, and there could be breaking changes before its final release.</h3>
  <% end %>
  <table id='quicklinks'>
  </table>
  <%= yieldall %>
</div>
