.grouped-select-group,
.grouped-select-item {
  padding: 8px;
  border-radius: 4px;
}

.grouped-select-group.selected {
  border-left: 4px solid #133b72;
  border-radius: 4px;
}

.grouped-select-group:not(.selected) {
  margin-left: 4px;
}

.grouped-select-group.selected span {
  font-weight: 600;
}

.grouped-select-item {
  height: 40px;
  border: solid 1px transparent;
}

.grouped-select-item.selected {
  background-color: #f2f4f4;
  border: solid 1px #d7dade;
}
