.grouped-select-group,
.grouped-select-item {
  padding: 8px;
  border-radius: 4px;
}

.grouped-select-group:not(.selected) {
  margin-left: 4px;
}

.grouped-select-item {
  height: 40px;
  border: solid 1px transparent;
}

.grouped-select-item.selected {
  background-color: #f2f4f4;
  border: solid 1px #d7dade;
}
