<div id="dialog_prompt">
  <p id="dialog_message" aria-label="" aria-live="polite">
    {{message}}
  </p>
  <div id="text_preview">
    <span id="final_results">
    </span>
    <span id="interim_results">
    </span>
  </div>
</div>