<div class="migration_config"></div>

<% js_block do %>
  <script>
  require([
    'jquery' /* $ */,
    'content_migration' /* enableFileUpload */
  ], function($) {

    $(function() {

      $("#plugin_common_cartridge_importer").bind("pluginShown", function(event, enableFileUpload) {
        enableFileUpload(".imscc");
        $(".migration_part_selection").hide();
      });
      
      $("#plugin_common_cartridge_importer").bind("pluginHidden", function(event) {
        $(".migration_part_selection").show();
      });

    });
  });
  </script>
<% end %>
