<li class="attachment clearfix" tabindex="0"
    title="{{#t "titles.attachment"}}File to attach{{/t}}">
      <a href="#"
         class="remove_link icon-end black pull-right"
         title="{{#t "titles.remove_attachment"}}Remove attachment{{/t}}">
        <span class="screenreader-only">
          {{#t "titles.remove_attachment"}}Remove attachment{{/t}}
        </span>
      </a>
      <div class="attachment-icon" aria-hidden="true">
        <i class="icon-paperclip"></i>
      </div>
      <div class="attachment-name-clip"></div>
      <div class="attachment-name"></div>
      <input id="file_input" type="file"
             class="file_input"
             name="attachments[]">
  </div>
</li>
