<li class="attachment" title="{{#t "titles.attachment"}}File to attach{{/t}}">
  <img src="/images/messages/attach-gray.png">
  <input type="file" class="file_input" name="attachments[]">
  <a href="#" class="remove_link" style="float: right;" title="{{#t "titles.remove_attachment"}}Remove attachment{{/t}}"><img src="/images/delete_circle.png"></a>
  <div class="clear"></div>
</li>
