<li class="ac-result" id="result-{{guid}}" data-id="{{id}}">
  <img src="{{avatar_url}}"
       class="avatar"
       alt=""
       height="32"
       width="32"
       role="presentation" />
  <b>{{name}}</b>
</li>
