<li class="ac-token">
  {{name}}

  <a href="#"
     class="ac-token-remove-btn">
    <i class="icon-x icon-messageRecipient--cancel"></i>
    <span class="screenreader-only">
      {{#t}}Remove recipient {{name}}{{/t}}
    </span>
  </a>


  <input type="hidden"
         name="recipients[]"
         value="{{id}}" />
</li>
