<div class="ui-dialog-buttonset attachments">
  <{{#if isIE10}}label for="file_input" role="button"{{else}}button{{/if}}
          id="add-message-attachment-button"
          class="ui-button ui-widget ui-state-default ui-corner-all attach-file"
          type="button"
          title="{{#t "titles.add_attachment"}}Add an attachment{{/t}}">
    <span class="ui-button-text">
      <i class="icon-paperclip"></i>
      <span class="screenreader-only">
        {{#t "titles.add_attachment"}}Add an attachment{{/t}}
      </span>
    </span>
  </{{#if isIE10}}label{{else}}button{{/if}}>

  <button class="ui-button ui-widget ui-state-default ui-corner-all attach-media"
          type="button"
          title="{{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}">
    <span class="ui-button-text">
      <i class="icon-media"></i>
      <span class="screenreader-only">
        {{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}
      </span>
    </span>
  </button>
</div>
