<div class="ui-dialog-buttonset attachments">
  <label for="file_input" class="ui-button ui-widget ui-state-default ui-corner-all attach-file"
          type="button" role="button"
          title="{{#t "titles.add_attachment"}}Add an attachment{{/t}}">
    <span class="ui-button-text">
      <i class="icon-paperclip"></i>
      <span class="screenreader-only">
        {{#t "titles.add_attachment"}}Add an attachment{{/t}}
      </span>
    </span>
  </label>

  <button class="ui-button ui-widget ui-state-default ui-corner-all attach-media"
          type="button"
          title="{{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}">
    <span class="ui-button-text">
      <i class="icon-media"></i>
      <span class="screenreader-only">
        {{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}
      </span>
    </span>
  </button>
</div>
