<div class='ui-dialog-buttonset attachments'>
  <button class='ui-button ui-widget ui-state-default ui-corner-all attach-file' type="button"
          role="button" aria-disabled="false" title="{{#t "titles.add_attachment"}}Add an attachment{{/t}}">
    <span class="ui-button-text"><i class='icon-paperclip'></i></span>
  </button>

  <button class='ui-button ui-widget ui-state-default ui-corner-all attach-media' type="button"
          role="button" aria-disabled="false" title="{{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}">
    <span class="ui-button-text"><i class='icon-media'></i></span>
  </button>
</div>
