<option value="">{{defaultOption}}</option>
{{#favorites}}
  {{>[conversations/courseOption]}}
{{/favorites}}
<optgroup label="{{#t "course_options.more_courses"}}More Courses{{/t}}">
  {{#more}}
    {{>[conversations/courseOption]}}
  {{/more}}
</optgroup>
<optgroup label="{{#t "course_options.concluded"}}Concluded{{/t}}">
  {{#concluded}}
    {{>[conversations/courseOption]}}
  {{/concluded}}
</optgroup>
<optgroup label="{{#t "course_options.groups"}}Groups{{/t}}">
  {{#groups}}
    {{>[conversations/groupOption]}}
  {{/groups}}
</optgroup>
