<div class="list-header">
  <b class="current-context-code label pull-right">[[Course Code]]</b>
  <b class="current-context">[[Current Course Name]]</b>
</div>

<ul class="messages unstyled collectionViewItems"
  aria-label="{{#t "messages"}}Messages{{/t}}">
</ul>

<div class="paginatedLoadingIndicator"></div>
