<div>
  <div class="message-header">
    <b class="subject" {{#if subject}}title="{{subject}}"{{/if}}>
      {{#if subject}}
        {{subject}}
      {{else}}
        ({{#t "no_subject"}}No subject{{/t}})
      {{/if}}
    </b>
  </div>

  <ul class="message-content unstyled"></ul>
</div>
