<div class="list-header">
  <b class="current-context"></b>
</div>

<ul class="messages unstyled collectionViewItems"
  aria-label="{{#t "messages"}}Messages{{/t}}">
</ul>

<div class="paginatedLoadingIndicator"></div>
