<div class="alert alert-info beta-notice">
  <b>{{#t "beta_version"}}Beta Version{{/t}}</b>
  {{#t "beta_description"}}You are using a beta version of the Canvas inbox{{/t}}
</div>

<div class="no-messages">
  <i class="icon-email"></i>
  {{#t "no_conversations_selected"}}No Conversations Selected{{/t}}
</div>
