<span style="color: rgb(34, 34, 34); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px;">
<%= t :html_not_exist, "The HTML version of this message was not created nor sent" %>
</span>