<%
  content_for :page_title, t("#titles.messages", "Messages")
  add_crumb t("#crumbs.messages", "Messages")
%>

<% css_bundle :messages %>
<% js_bundle  :messages %>

<h1><%= t('titles.messages', 'Messages for %{name}', :name => @context.name) %></h1>
<ol class="messages">
  <%= render :partial => 'message', :collection => @messages %>
</ol>
<%= will_paginate(@messages) %>
