.permissions-dialog-form{
  .radio{
    margin-top: 15px;
  }
}
.form-horizontal{
  .dialog-adapter-form-calendar-label{
    width: 110px;
    margin-left: 0px;
  }
}
.dateSelectInput { width: 100px }
.controls.dateSelectInputContainer{ margin-left: 120px }
