.UsageRightsDialog__fileName {
  font-weight: bold;
}

.UsageRightsDialog__preview {
  width: 160px !important;
  height: 160px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.UsageRightsDialog__warning {
  color: $canvas-alert;
}