.UsageRightsDialog__fileName {
  font-weight: bold;
}

.UsageRightsDialog__preview {
  width: 160px !important;
  height: 160px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.UsageRightsDialog__warning {
  color: $canvas-alert;
}

.UsageRightsDialog__andMore {
  text-decoration: underline;
  cursor: pointer;
}

.UsageRightsDialog__paddingFix {
  padding: 10px;
}

.UsageRightsDialog__folderBulletList {
  /* list-style-image: url(/images/mimeClassIcons/folder.svg)
      would be better than this stuff, but sizing is hard with it. */
  list-style: none;
  margin-left: 0;
  li:before {
    content:'';
    display:inline-block;
    height:1em;
    width:1em;
    background-image:url('/images/mimeClassIcons/folder.svg');
    background-size:contain;
    background-repeat:no-repeat;
  }
}
