<div class="edit-content">
  <label class="edit-label" for="title">{{#t "page_title"}}Title{{/t}}</label>
  <div class="edit-controls">
    <input class="edit-control-text" type="text" id="title" name="title" value="{{title}}">
  </div>
</div>
