<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  folders = @context.active_folders.by_position.select([:id, :name, :parent_folder_id]).to_a
  root_folders = folders.select{|f| f.parent_folder_id == nil}

  provide :page_title, join_title(t(:page_title, "Import Content"), @context.name)
  deferred_js_bundle :content_migrations
  js_env :FOLDER_OPTIONS => folders_as_options(root_folders, :all_folders => folders)
  css_bundle :content_migrations
%>

<% if Account.site_admin.feature_enabled?(:instui_for_import_page) %>
  <div id="instui_content_migrations"></div>
<% else %>
  <form id="migrationConverterContainer" class="form-horizontal"></form>
  <div id="migration_upload_progress_container" style="width: 100%; display: none;">
    <div style="display: flex;">
      <span><%= t("Uploading...") %>&ensp;</span>
      <span id="migration_upload_progress_bar" style="flex-grow: 1;"></span>
    </div>
  </div>
  <div id="progress" class="span10"></div>
<% end %>

