<%
  folders = @context.active_folders.by_position.select([:id, :name, :parent_folder_id]).to_a
  root_folders = folders.select{|f| f.parent_folder_id == nil}

  content_for :page_title, join_title(t(:page_title, "Import Content"), @context.name)
  js_bundle :content_migration
  js_env :FOLDER_OPTIONS => folders_as_options(root_folders, :all_folders => folders)
  css_bundle :content_migrations
%>

<form id="migrationConverterContainer" class="form-horizontal"></form>
<div id="progress" class="span10"></div>
