<div class="row-fluid" id="quiz-show-tabs">
  <ol>
    {{#link-to 'quiz.show' this tagName='li' replace=true}}
      {{#link-to 'quiz.show' this.id replace=true}}
        {{#t 'overview'}}Overview{{/t}}
      {{/link-to}}
    {{/link-to}}

    {{#link-to 'quiz.moderate' this tagName='li' replace=true}}
      {{#link-to 'quiz.moderate' this.id replace=true}}
        {{#t 'moderate'}}Moderate{{/t}}
      {{/link-to}}
    {{/link-to}}

    {{#link-to 'quiz.statistics' this tagName='li' replace=true}}
      {{#link-to 'quiz.statistics' this.id replace=true}}
        {{#t 'statistics'}}Statistics{{/t}}
      {{/link-to}}
    {{/link-to}}
  </ol>
</div>
<div class="tabs-content">
  {{outlet}}
</div>
