# autogen
/.sublime-project.sublime-workspace
/.jshint.html
/doc/api
/doc/coverage
/tests.html

# build
/tmp
/dist
npm-debug.log

# assets
exclude
*.zip
*.gz

# env
/.ruby-version
/.grunt/
/node_modules
/apps/*/js/config/environments/development_local.js
*.swp