/**
 * Courtesy of http://tobiasahlin.com/spinkit/
 */
.ic-Spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: $whitespace;
  margin-top: -6px;
  height: 38px;

  & > div {
    background-color: $highlightColor;
    height: 100%;
    width: 10px;
    margin-right: 1px;
    display: inline-block;

    -webkit-animation: ic-Spinner__stretchdelay 1.2s infinite ease-in-out;
    animation: ic-Spinner__stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes ic-Spinner__stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1.0);
            transform: scaleY(1.0);
  }
}

@keyframes ic-Spinner__stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1.0);
            transform: scaleY(1.0);
  }
}