<div style="margin:1em 2em;font-size:1.1em">
  <p>
    {{#t "set_up_account"}}
    Your account is almost set up. To finish, please check your email at
    <b>{{email}}</b> to set your password.
    {{/t}}
  </p>
  <p>
    {{#t "start_participating"}}
    You can start participating now, but you must set a
    password before you can log back in. 
    {{/t}}
  </p>
</div>