@import "base/environment"
@import "pages/shared/move_dialog"

.accessibility-warning
  color: #fff
  background-color: #DC3F3F
  border: 1px dashed #fff
  font-size: 12px
  position: absolute
  left: 0px
  top: -16px

#weight-groups
  padding-left: 15px

.ag-header-controls
  position: absolute
  top: 0
  right: 0

.loadingIndicator
  margin-top: 15px

.group_select
  margin-left: 20px

#ag_weights_wrapper
  overflow-y: auto
  position: absolute
  top: 35px
  left: 15px
  right: 15px
  bottom: 15px

  #assignment_groups_weights
    margin-top: 30px
    width: 100%
    td
      padding: 10px 0px
    td.right-align
      text-align: right
    tfoot td
      font-weight: bold

.assignment
  .ig-title
    right: 630px
    min-width: 120px
  .ig-details
    width: 590px
  .default-dates .status-description
    font-weight: bold

#course_home_content
  .assignment
    .ig-title
      right: 335px
      min-width: 90px
      max-width: 260px
      padding-right: 30px
    .ig-details
      text-align: right
      width: 545px

@media screen and (max-width : 1280px)
  #course_home_content
    .assignment-date-available
      visibility: hidden

.ag-weights-tr
  border-bottom: 1px solid #dae1e6

.remove_never_drop
  color: #666
  &:hover
    color: #333

.never_drop_rule
  padding-bottom: 5px

.drop_rules_section
  margin-bottom: 0
  font-size: 14px
  line-height: 20px
  border-bottom: 0
  font-weight: bold

.ig-details
  width: 450px

.show-by-label
  // to match what we add to non-wrapped labels in bootstrap overrides
  vertical-align: -4px
  margin-right: 5px

.sortable-handle, .draggable-handle
  cursor: pointer
  color: darken($ic-color-neutral, 40%)
  a
    color: darken($ic-color-neutral, 40%)

.sortable-handle
  margin: 0 0px 0 -30px
  padding: 0 0px 0 30px
  a
    padding: 20px 0px 10px 0px

.draggable-handle
  margin: 0 4px 0 -15px
  padding: 0 0px 0 10px

.sortable-dropzone
  height: 50px
  background-color: #dce1e6
  border: 1px dashed #c1c7cf
  border-top: none

.ui-sortable-helper
  background-color: #e8ecef
  border: 1px solid #c1c7cf !important
  border-radius: 3px
  box-shadow: 0px 1px 4px #b7b7b7

.draggable .ui-sortable-helper
  background-color: white
  div
    border: none !important

.draggable-dropzone
  height: 40px
  background-color: #dce1e6
  border-right: 1px dashed #c1c7cf
  border-left: 1px dashed #c1c7cf

.ag-header-controls .tooltip_link
  color: #3d454c

#ag-list
  padding-bottom: 100px

.row-fluid span.grade-display
  margin-left: 9%

.with-left-side
  min-width: 971px

.accessible-toggler
  color: #333
  &:hover, &:focus
    color: #333
    text-decoration: none
