@import 'base/environment';

.outcome-details {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #b0afaf;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  max-width: 500px;
  min-width: 250px;
  padding: 18px 12px;
  border-radius: 8px;
  font-weight: 500;
  color: #4f5f6e;
  .title {
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b0afaf;
    margin-bottom: 10px;
  }
  .chart {
    font-size: 11px;
    text-align: center;
    height: 150px
  }
  .ratings {
    font-weight: normal;
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 25px;
    .rating {
      list-style-type: none;
    }
    .legend-color {
      width: 13px;
      height: 13px;
      display: inline-block;
      margin-right: 3px;
      vertical-align: sub;
    }
  }
  .outcome-info {
    clear: both;
    .description {
      font-weight: 200;
    }
  }
  .mastery {
    color: #555;
  }
  .last-assessment {
    color: $grayLight;
    font-size: $fontSizeSmall;
  }
  .mastery-details i:before {
    font-size: 1.5em;
  }
  .mastery:before {
    color: #5DC28F;
  }
  .near-mastery {
    color: #DFB056;
  }
  .remedial:before {
    color: #F76A66;
  }
  .method-details {
    background-color: $ic-color-neutral;
    margin-bottom: 0px;
    margin-top: 10px;
    div {
      padding-bottom: 10px;
    }
    span {
      display: inline-block;
      font-style: italic;
    }
    .example {
      color: $grayLight;
      font-size: $fontSizeSmall;
    }
    .left-content {
      float: left;
    }
    .right-content {
      padding-left: 10px;
    }
    .method-description {
      width: 320px;
    }
  }
}