.DS_Store
.dockerignore
.git
.gitignore
.idea

docker-compose/
!docker-compose/config/*
docker-compose.override.yml
docker-compose.yml

client_apps/canvas_quizzes/node_modules/
gems/canvas_i18nliner/node_modules/
log/
node_modules/
public/dist/
public/optimized/
public/webpack-dist/
public/webpack-dist-optimized/
tmp/
vendor/bundle/
Dockerfile
Gemfile.lock
