.env*
.git
.bundle/config
docker-compose/
client_apps/canvas_quizzes/node_modules/
client_apps/canvas_quizzes/dist/
client_apps/canvas_quizzes/tmp/
config/*.example
coverage/
coverage-js/
gems/*/node_modules/
gems/plugins/*/node_modules/
gems/plugins/*/.git
log/
node_modules/
packages/*/node_modules/
packages/canvas-planner/lib
public/dist/
public/doc/
public/assets/
public/javascripts/client_apps/
public/javascripts/translations/
public/optimized/
!public/javascripts/translations/_core_en.js
tmp/
vendor/bundle/
vendor/*/.git
mkmf.log
