.DS_Store
.dockerignore
.git
.gitignore
.idea

build/
!build/vendor/woff-code-latest.zip
docker-compose/
!docker-compose/config/*
docker-compose.local.*.yml
docker-compose.override.yml
docker-compose.yml

client_apps/canvas_quizzes/dist/
client_apps/canvas_quizzes/node_modules/
client_apps/canvas_quizzes/tmp/
config/*.example
coverage/
coverage-js/
gems/*/node_modules/
gems/plugins/*/node_modules/
gems/plugins/*/.git
log/
node_modules/
packages/*/node_modules/
packages/canvas-planner/lib
public/dist/
public/doc/
public/javascripts/client_apps/
public/javascripts/translations/
!public/javascripts/translations/_core_en.js
tmp/
vendor/bundle/
vendor/*/.git
Dockerfile
Dockerfile-production
Gemfile.lock
mkmf.log
