debian/canvas-lms.postinst.debhelper
debian/canvas-lms.postrm.debhelper
debian/canvas-lms.prerm.debhelper
debian/canvas-lms.debhelper.log
debian/canvas-lms.substvars
debian/canvas-lms/*
debian/files
.rvmrc
.rdebug_hist
.DS_Store
Gemfile.lock
log/*.log
log/*.pid
log/**/*
lib/tasks/deploy.rake
tmp/**/*
tmp/*
db/*.sqlite3
db/*.sqlite3-journal
db/*.sqlite
db/demo
config/GEM_HOME
config/*.yml
config/environments/*-local.rb
models.dot
db/*sql
db/development_structure.sql
db/schema.rb
noodle*
tmp_*
public/files/**/*
public/javascripts/cached/*
public/javascripts/translations/*
public/stylesheets/compiled/*
public/stylesheets/compiled/**/*
public/stylesheets/cached/*
*.pid
vendor/cache/*mswin*.gem
vendor/cache
coverage
instructure_content
.idea/*
exports/*
.sass-cache
.bundle
public/*.gz
public/*/*.gz
public/*/*/*.gz
public/*/*/*/*.gz
public/*/*/*/*/*.gz
public/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*/*/*.gz
*.swp
public/assets/*
doc/api/*
doc/plugins/*
public/doc/api/*
.yardoc/*

