.rvmrc
.rdebug_hist
.DS_Store
Gemfile.lock
log/*.log
log/*.pid
log/**/*
lib/tasks/deploy.rake
tmp/**/*
tmp/*
db/*.sqlite3
db/*.sqlite3-journal
db/*.sqlite
config/amazon_s3.yml
config/cutycapt.yml
config/collaborations.yml
config/database.yml
config/delayed_jobs.yml
config/domain.txt
config/domain.yml
config/etherpad.yml
config/external_migration.yml
config/facebooker.yml
config/file_store.yml
config/GEM_HOME
config/google_docs.yml
config/kaltura.yml
config/linked_in.yml
config/mysql.database.yml
config/memcache.yml
config/outgoing_mail.yml
config/saml.yml
config/scribd.yml
config/security.yml
config/selenium.yml
config/tinychat.yml
config/twitter.yml
config/web_conferences.yml
config/zendesk.yml
config/environments/*-local.rb
models.dot
db/*sql
db/development_structure.sql
db/schema.rb
noodle*
tmp_*
public/files/**/*
public/javascripts/cached/*
public/stylesheets/compiled/*
public/stylesheets/compiled/**/*
public/stylesheets/cached/*
*.pid
vendor/cache/*mswin*.gem
vendor/cache
coverage
instructure_content
.idea/*
exports/*
.sass-cache
.bundle
vendor/cache/*mswin*.gem
public/*.gz
public/*/*.gz
public/*/*/*.gz
public/*/*/*/*.gz
public/*/*/*/*/*.gz
public/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*/*.gz
public/*/*/*/*/*/*/*/*/*.gz
*.swp
public/assets/*
doc/api/*
doc/plugins/*
.yardoc/*
