# it is intended that this be used exclusive of all other docker-compose.*yml files in CI
version: "2.3"
services:
  canvas:
    image: $PATCHSET_TAG
    depends_on:
      - postgres
      - cassandra
      - redis
      - dynamodb
    environment:
      DB_VALIDITY_ENSURED: 1
      ENCRYPTION_KEY: facdd3a131ddd8988b14f6e4e01039c93cfa0160
      RAILS_ENV: test
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      RANDOMIZE_SEQUENCES: 1
      DISABLE_SPRING: 'true'
      RERUNS_RETRY:
      COVERAGE:
      FORCE_FAILURE:
      TEST_CACHE_CLASSES:

      # parallel_tests
      CI_NODE_TOTAL:
      CI_NODE_INDEX:
      RSPEC_PROCESSES:
      EXCLUDE_TESTS:
      TEST_PATTERN:

      # rspecq
      RSPECQ_REDIS_URL:
      RSPECQ_FILE_SPLIT_THRESHOLD:
      RSPECQ_MAX_REQUEUES:

      # rspec-parallel-log build
      RSPEC_LOG:
    # this will stop passenger from booting so the container isn't running anything at all once up
    command: sleep infinity
    init: true

  redis:
    image: starlord.inscloudgate.net/jenkins/redis:alpine
    init: true

  postgres:
    image: $POSTGRES_IMAGE_TAG
    environment:
      PGDATA: /data
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    init: true

  cassandra:
    image: $CASSANDRA_IMAGE_TAG
    environment:
      CASSANDRA_START_RPC: 'true'
    init: true

  dynamodb:
    image: $DYNAMODB_IMAGE_TAG
    command: -jar DynamoDBLocal.jar -sharedDb
    init: true
