# See doc/docker/README.md or https://github.com/instructure/canvas-lms/tree/master/doc/docker
services:
  web: &WEB
    build:
      context: .
    links:
      - postgres
      - redis
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app:Z   
    environment:
      RAILS_ENV: development
      BUNDLE_APP_CONFIG: /usr/src/app/.bundle
      DATABASE_URL: postgres://canvas:password@127.0.0.1:5432/canvas_development
      REDIS_URL: redis://redis:6379/0

  jobs:
    <<: *WEB
    command: bundle exec script/delayed_job run

  postgres:
    build: ./docker-compose/postgres
    environment:
      POSTGRES_PASSWORD: password

  redis:
    image: redis:alpine
