{{#if showMore}}
<a href='#'>
{{#if moreText}}
  {{moreText}}
{{else}}
  {{#t "show_more"}}Show more{{/t}}
{{/if}}
</a>
{{/if}}
<div class='new-and-total-badge'>
  <span class="new-items">{{n stats.unread}}</span>
  <span class="total-items">{{n stats.total}}</span>
</div>
