<ul class="discussion-entries"></ul>

{{#if showReplyButton}}
  <span class="add_root_reply"><a href="*" class="btn btn-primary btn-small icon-arrow-up">{{#t "add_reply_to_topic"}}Add Reply to Topic{{/t}}</a></span>
{{/if}}

