<% if can_do(@context, @current_user, :participate_as_student) %>
  <div class="rs-margin-top">
    <a href="<%= context_url(@context, :context_grades_url) %>" class="btn button-sidebar-wide"><%= image_tag "grading_icon.png", :alt => '' %> <%= t 'links.see_current_grades', "See my grades so far" %></a>
  </div>
<% end %>
<%= render :partial => "shared/event_list", 
           :object  => @upcoming_assignments, 
           :locals  => {
             :title         => t('titles.upcoming_assignments', "Upcoming Assignments"),
             :show_context  => true, 
             :upcoming      => true,
             :show_more     => false,
             :period        => :next_week,
           } %>
