<% if can_do(@context, @current_user, :participate_as_student) %>
  <a href="<%= context_url(@context, :context_grades_url) %>" class="btn button-sidebar-wide">
    <i class="icon-check-plus" role="presentation"></i>
    <%= t 'links.see_current_grades', "See my grades so far" %>
  </a>
<% end %>
<%= render :partial => "shared/event_list", 
           :object  => @upcoming_assignments, 
           :locals  => {
             :title         => t('titles.upcoming_assignments', "Upcoming Assignments"),
             :show_context  => true, 
             :upcoming      => true,
             :show_more     => false,
             :period        => :next_week,
           } %>
