<div class="rs-margin-lr rs-margin-top">
  <% if @assignment.unlock_at && @assignment.lock_at %>
    This assignment is only unlocked from<br/>
    <span class="lock_date"><%= datetime_string(@assignment.unlock_at) %></span><br/>
    to<br/>
    <span class="lock_date"><%= datetime_string(@assignment.lock_at) %></span>
  <% elsif @assignment.unlock_at %>
    This assignment is locked until<br/>
    <span class="lock_date"><%= datetime_string(@assignment.unlock_at) %></span>
  <% else %>
    This assignment is locked<br/>
    <span class="lock_date"><%= datetime_string(@assignment.lock_at) %></span>
  <% end %>
</div>