<div class="rs-margin-lr rs-margin-top">
  <% if @assignment.unlock_at && @assignment.lock_at %>
    <%= t :assignment_unlocked_from_to, "This assignment is only unlocked from *%{unlock_at}* to *%{lock_at}*",
            :unlock_at => datetime_string(@assignment.unlock_at), :lock_at => datetime_string(@assignment.lock_at),
            :wrapper => '<span class="lock_date">\1</span>' %>
  <% elsif @assignment.unlock_at %>
    <%= t :assignment_unlocked_from, "This assignment is locked until *%{unlock_at}*",
            :unlock_at => datetime_string(@assignment.unlock_at),
            :wrapper => '<span class="lock_date">\1</span>' %>
  <% else %>
    <%= t :assignment_locked, "This assignment is locked as of *%{lock_at}*",
            :lock_at => datetime_string(@assignment.lock_at),
            :wrapper => '<span class="lock_date">\1</span>' %>
  <% end %>
</div>
