<div id="sidebar_content">
  <% if @can_view_grades || @can_grade %>
    <%= render :partial => "grade_assignment" %>
  <% end %>

  <% if @current_user_submission %>
    <%= render :partial => "submission_sidebar" %>
  <% end %>

  <% if can_do(@context, @current_user, :view_all_grades) &&
        ConditionalRelease::Service.triggers_mastery_paths?(@assignment, @current_user, session) %>
    <div id="crs-graphs"></div>
  <% end %>
</div>
