<% if @assignment.group_category %>
  <div style="padding:1em;" class="ui-state-highlight"><%= image_tag "warning.png" %> Keep in mind, this submission will count for everyone in your <%= @assignment.group_category %> group.</div>
<% end %>
