<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% if @assignment.has_group_category? && can_do(@assignment.submissions.build(:user => @current_user), @current_user, :make_group_comment) %>
  <% if @assignment.grade_as_group? %>
    <tr><td colspan="2">
      <%= t("All comments are sent to the whole group.") %>
      <input type="hidden" name="submission[group_comment]" value="1" />
    </td></tr>
  <% else %>
    <tr><td colspan="2">
      <fieldset class="ic-Fieldset ic-Fieldset--radio-checkbox">
        <div class="ic-Form-control ic-Form-control--radio">
          <div class="ic-Radio">
            <input type="radio" name="submission[group_comment]" id="not_submission_group_comment" value="0" checked />
            <label for="not_submission_group_comment" class="ic-Label"><%= t("Send comment to instructor only") %></label>
          </div>
          <div class="ic-Radio">
            <input type="radio" name="submission[group_comment]" id="submission_group_comment" value="1" />
            <label for="submission_group_comment" class="ic-Label"><%= t("Send comment to the whole group") %></label>
          </div>
        </div>
      </fieldset>
    </td></tr>
  <% end %>
<% end %>
