<%
# Copyright (C) 2014 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% css_bundle :assignments %>
<div id='assignment_show'>
  <div class='assignment-title'>
    <div class='title-content'>
      <h1 class="title">
        <%= @assignment.title %>
      </h1>
    </div>
    <div class='assignment-buttons'>
      <span style="display: inline-block">
        <%= render "shared/mark_as_done" %>
      </span>
    </div>
  </div>
</div>
<% if @assignment && @assignment.description.present? %>
  <div class="description user_content" style="margin: 20px">
    <%= user_content(@assignment.description) %>
  </div>
<% end %>
