<% course_home ||= false %>
<div id="sidebar_content">
  <% current = Time.zone.today
    first_day_of_month = Date.new(y=current.year, m=current.month, d=1)
    last_day_of_previous_month = first_day_of_month - 1
    current = first_day_of_month
    last_day_of_month = (first_day_of_month >> 1) - 1
    first_day = last_day_of_previous_month - last_day_of_previous_month.wday
  %>
  <%= render :partial => 'calendars/mini_calendar', :locals => {:current => current, :first_day => first_day, :mini_css => 'static/mini_calendar_sidebar.css' } %>
  <%= render :partial => "courses/sidebar_weighting", :object => @groups %>
</div>
<%= render :partial => "shared/wiki_sidebar" %>
