<%- if @context.all_turnitin_comments.present? %>
  <tr>
    <td colspan="2" class='turnitin-comments'>
      <%= @context.all_turnitin_comments %>
    </td>
  </tr>
<%- end %>
<tr>
  <td colspan="2">
    <label class='checkbox'>
      <input type="checkbox" class='turnitin_pledge' name="turnitin_pledge" value="1"/>
      <%= @context.turnitin_pledge %>
    </label>
  </td>
</tr>
