{{#if this}}
  {{#if avatar_image_url}}
    <a {{#if url}} href="{{url}}" {{/if}} class="avatar" {{#if display_name}} title="{{display_name}}" {{/if}}><img src="{{avatar_image_url}}" alt="{{display_name}}"></a>
  {{/if}}
{{/if}}
