<div class="turnitin_info turnitin_{{assetString}}" style="display: none;">
  <div>{{message}}</div>
  {{#if showResubmit}}
  <div class="turnitin_resubmit_container">
    <a href="#" class="btn btn-small turnitin_resubmit_button">{{#t "buttons.resubmit_to_turnitin"}}Resubmit to Turnitin{{/t}}</a>
  </div>
  {{/if}}
</div>
