<div title="{{#t "titles.assignment_group_weights"}}Manage assignment group weighting{{/t}}" style="display:none;" id="assignment_group_weights_dialog">
  <p style="margin-top: 8px;">
    {{checkbox "group_weighting_scheme"}}
    <label for="group_weighting_scheme">{{#t "weight_final"}}Weight final grade based on groups{{/t}}</label>
  </p>
  <table>
    <tbody class="groups_holder">
      <tr style="display:none;" class="assignment_group_row blank">
        <td><label></label></td>
        <td><input type="number" min="0" max="100" class="group_weight"/>%</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>{{#t "titles.total"}}Total{{/t}}</td>
        <td>&nbsp;<span class="total_weight"></span>%</td>
      </tr>
    </tfoot>
  </table>
  <button class="btn btn-primary" type="submit">{{#t "buttons.save"}}Save{{/t}}</button>
</div>
