<p title="{{#t "titles.update_assignment_points"}}Change assignment points to match rubric?{{/t}}">
  {{#t "prompts.update_assignment_points"}}
   Leaving the assignment's total points at {{assignmentPoints}} and the rubric's total points at {{rubricPoints}}
   will result in a maximum possible score of {{toPercentage pointRatio}} for student submissions graded with the rubric.
  {{/t}}
</p>
