<p title="{{#t "titles.update_assignment_points"}}Change points possible to match rubric?{{/t}}">
  {{#t "prompts.update_assignment_points"}}
    This assignment has {{assignmentPoints}} points possible,
    would you like to change it to have {{rubricPoints}} points possible to match this rubric?
  {{/t}}
</p>