<div class="input-append">
  <input class="input-xxlarge flickrSearchTerm"
         placeholder="{{#t "find_cc_on_flickr"}}Find Creative Commons images on Flickr{{/t}}"
         type="search"
         style="position: relative; z-index: 1200"
         ><button class="btn flickrSearchButton"
                               title="{{#t "search"}}Search{{/t}}"
                               type="submit"><i class="icon-search"></i></button>
</div>
<ul class="flickrResults thumbnails insertUpdateImageTabpane" style="display: none;"></ul>
