<a href="#" data-fullsize="{{preview_url}}" role="presentation" tabindex="-1" class="treeFile ellipsis" title="{{display_name}}">
    <img class="preview-thumbnail" src="{{thumbnail_url}}">
    {{display_name}}
</a>
