<form action="{{action}}" enctype="multipart/form-data" id="upload_modal" method="post" title="{{#t "titles.upload_form"}}Choose a CSV file to upload{{/t}}">
  <input type="hidden" name='authenticity_token' value="{{authenticityToken}}">
  <p aria-hidden="true">
    <a class="icon-question"
      target="_blank"
      href="http://guides.instructure.com/m/4152/l/55013-how-do-i-upload-changes-to-the-gradebook">
        {{#t "what_should_csv_look_like"}}What should the CSV file look like?{{/t}}
    </a>
  </p>
  <p style="font-size: 1.2em;">
    <label for="gradebook_upload_uploaded_data">{{#t "labels.upload"}}Choose a CSV file to upload:{{/t}}</label>
    <input id="gradebook_upload_uploaded_data" name="gradebook_upload[uploaded_data]" type="file" />
  </p>

  <button class="btn btn-primary" type="submit">{{#t "buttons.upload_data"}}Upload Data{{/t}}</button>
</form>
