<div title="{{#t "grade_display_warning.warning"}}Warning{{/t}}" style="display:none;" id="grade_display_warning_dialog">
  <div>
    {{warning_text}}
  </div>
  <br/>
  <label for="hide_warning">
    {{checkbox "hide_warning" id="hide_warning"}}
    {{#t "grade_display_warning.checkbox"}}Don't show for this course again.{{/t}}
  </label>
</div>
