<form action="{{action}}" enctype="multipart/form-data" id="upload_modal" method="post" title="{{#t "titles.upload_form"}}Choose a CSV file to upload{{/t}}">
  <input type="hidden" name='authenticity_token' value="{{authenticityToken}}">
  <style>
    tr.table-callout-notes td div {
      padding: 6px;
      border-radius: 10px;
    }
    tr.table-callout-notes-spacer td, tr.table-callout-notes td{
      padding: 0 10px;
      border: none;
      background-color: transparent !important;
      text-align: center;
      vertical-align: bottom;
    }
    .table-callout-notes-spacer span {
      width: 0;
      border-style: solid;
      /*should be same as ui-state-highlight gradient bottom*/
      border-color: #eedc94 transparent;
      border-width: 8px 8px 0px;
      margin: -1px auto 0;
      display: block;
    }
  </style>
  <p aria-hidden="true">
    <a class="icon-question element_toggler"
       aria-controls="gradebook-upload-help"
       data-hide-while-target-shown="true"
       href="#">
        {{#t "what_should_csv_look_like"}}What should the CSV file look like?{{/t}}
    </a>
  </p>
  <div id="gradebook-upload-help" class="well" style="display:none">
    <h3>{{#t "example_csv_file"}}Example CSV file{{/t}}</h3>
    <table class="table table-striped" >
      <thead style="background: none">
        <tr class="table-callout-notes">
          <td colspan="4"><div class="ui-state-highlight">{{#t "explanation_of_required_columns"}}You Must have <em>all</em> of these columns, you only <em>need</em> one per row.{{/t}}</div></td>
          <td><div class="ui-state-highlight">{{#t "optional_ignored"}}Optional, ignored.{{/t}}</div></td>
          <td colspan="2"><div class="ui-state-highlight">{{#t "leaving_id_will_match_better_can_add_new_assignment"}}Leaving the ID intact (the "(581)" part in this case) will help match better.  You can also add new assignments that will be created on the fly.{{/t}}</div></td>
          <td colspan="2"><div class="ui-state-highlight">{{#t "optional_ignored"}}Optional, ignored.{{/t}}</div></td>
        </tr>
        <tr class="table-callout-notes-spacer">
          <td colspan="4"><span /></td>
          <td><span /></td>
          <td colspan="2"><span /></td>
          <td colspan="2"><span /></td>
        </tr>
        <tr>
          <th>Student</th>
          <th>ID</th>
          <th>SIS User ID</th>
          <th>SIS Login ID</th>
          <th>Section</th>
          <th>{{#t "existing_assignment_example"}}Existing Assignment (581){{/t}}</th>
          <th>{{#t "new_assignment_example"}}A New Assignment{{/t}}</th>
          <th>Current Score</th>
          <th>Final Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">Points Possible</td>
          <td></td>
          <td></td>
          <td></td>
          <td>50</td>
          <td>10</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Smith, John</td>
          <td>12345</td>
          <td>2122</td>
          <td>12321</td>
          <td>night</td>
          <td>46</td>
          <td>8</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>King, Ben</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>34</td>
          <td>60</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>12347</td>
          <td></td>
          <td></td>
          <td></td>
          <td>38</td>
          <td>3</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>123</td>
          <td></td>
          <td></td>
          <td>40</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>3232</td>
          <td></td>
          <td>44</td>
          <td>7</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>{{#t "instructions.csv_download_and_upload"}}If in doubt, you can always <a href="{{download_gradebook_csv_url}}">download a CSV</a>, change the grades you want and re-upload the same file.{{/t}}</p>
  </div>

  <div class="screenreader-only" id="screenreader-csv-explainer">
      {{#t "screenreader_csv_explainer"}}What should be in my CSV File? The following columns should be in your upload: "Student", "ID", and "Existing Assignment (#)". The Student column should have the name of each student, formatted as Last Name, First Name. For example, "Smith, John". Existing assignment columns should say the assignment name followed by the assignment ID in parentheses. For example, "Chapter One Worksheet (201)". If you use SIS, include the following columns: "SIS User ID" and "SIS Login ID". If you wish to create a new assignment, include a column titled with the name of the assignment. For example, "Derivatives Worksheet". The following columns are optional: "Section", "Current Score", "Final Score".{{/t}}
  </div>

  <p style="font-size: 1.2em;">
    <label for="gradebook_upload_uploaded_data">{{#t "labels.upload"}}Choose a CSV file to upload:{{/t}}</label>
    <input id="gradebook_upload_uploaded_data" name="gradebook_upload[uploaded_data]" type="file" />
  </p>

  <button class="btn btn-primary" type="submit">{{#t "buttons.upload_data"}}Upload Data{{/t}}</button>
</form>
