<ul class="navigation_list" tabindex="-1">
  {{#each keyBindings}}
  <li>
    <span class="keycode">{{key}}</span>
    <span class="colon">:</span>
    <span class="description">{{desc}}</span>
  </li>
  {{/each}}
</ul>
