<div class="form-dialog-content form-horizontal move-dialog">
  <h2 class="move-select-header">{{#t 'where_to_move'}}Where would you like to move <b>{{name}}</b>?{{/t}}</h2>
  <div class="child_container">
  </div>
</div>
<div class="form-controls">
  <button
    class="cancel_button btn dialog_closer"
    type="button"
  >{{#t "cancel"}}Cancel{{/t}}</button>
  <button
    class="create_group btn btn-primary"
    data-text-while-loading='{{#t "saving"}}Saving...{{/t}}'
    type="submit"
  >{{#t "save"}}Save{{/t}}</button>
</div>
