<div title="{{#t "mute_assignment"}}Mute Assignment{{/t}}">
  <div id="assignment_muter_content" tabindex="-1">
    <p>
      {{#t "sure_you_want_to_mute"}}
        Are you sure you want to mute this assignment? While this assignment
        is muted, students will not receive new notifications about or be
        able to see:
      {{/t}}
    </p>
    <ul>
      <li>{{#t "see_grade"}}Their grade for the assignment{{/t}}</li>
      <li>{{#t "grade_change_notifications"}}Grade change notifications{{/t}}</li>
      <li>{{#t "submission_comments"}}Submission comments{{/t}}</li>
      <li>{{#t "curving_assignments"}}Curving assignments{{/t}}</li>
      <li>{{#t "score_change_notifications"}}Score change notifications{{/t}}</li>
    </ul>
    <p>
      {{#t "students_will_see"}}Students will be able to see that this assignment is muted.{{/t}}
    </p>
    <p>
      {{#t "how_to_unmute"}}
        Once you have muted this assignment, you can begin sending
        notifications again by clicking the "Unmute Assignment" link.
      {{/t}}
    </p>
  </div>
</div>
