<h2>{{#t '#observees.observing'}}Observing{{/t}}</h2>

<form class="add-observee-form">
  <div class="row">
    <div class="span2">
      <label for="unique_id">
        {{#t '#observees.new_observee_pairing_code'}}Student Pairing Code{{/t}}
        <input type="text" id="pairing_code" name="pairing_code">
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
      <i class="icon-plus" role="presentation"></i>
      <span class="screenreader-only">Add</span>
      {{#t}}Student{{/t}}
  </button>
</form>

<h3 id="being-observed">{{#t '#observees.being_observed'}}Students Being Observed{{/t}}</h3>
<div class="observees-list-container" aria-busy="false">
  <ul class="observees-list collectionViewItems" aria-labelledby="being-observed"></ul>
  <div class="loading-indicator">
    <img src="/images/ajax-reload-animated.gif">&nbsp;
  </div>
</div>
