<div title="{{#t}}Sync Grades{{/t}}" style="display:none;">
  <div class="before_external_content_info_alert screenreader-only" tabindex="0">
    <div class="ic-flash-info">
      <div class="ic-flash__icon" aria-hidden="true">
        <i class="icon-info"></i>
      </div>
      {{t 'The following content is partner provided'}}
    </div>
  </div>
  <iframe
    class="post-grades-frame"
    style="border: none; width: 100%; height: 100%;"
    tabindex="0"
    title="{{#t}}Sync Grades{{/t}}"
    allow="{{allowances}}"
  >
  </iframe>
  <div class="after_external_content_info_alert screenreader-only" tabindex="0">
    <div class="ic-flash-info">
      <div class="ic-flash__icon" aria-hidden="true">
        <i class="icon-info"></i>
      </div>
      {{t 'The preceding content is partner provided'}}
    </div>
  </div>
</div>
