#ic-QuizInspector__Events {
  position: relative;
}

#ic-QuizInspector__EventTable {
  font-size: 16px;
  line-height: 24px;
  border-collapse: separate;
  border-spacing: $whitespace;

  thead {
    display: none;
  }

  td, th {
    vertical-align: top;
  }

  tbody td:first-child {
    color: $muteFg;
    text-align: right;
  }

  .flag-warning {
    color: darken($canvas-alert, 5%);
  }

  .flag-ok {
    color: darken($canvas-success, 15%);
  }
}
