{{#unless column.hidden}}
  <div class="custom-column-cell padding-top">
    <label {{bind-attr for=id}}>
      <h4>
        {{column.title}}
      </h4>
    </label>
    {{
      textarea
      value=value
      name=id
      id=id
      disabled=column.isLoading
      class="span8"
    }}
  </div>
{{/unless}}
