{{#unless column.hidden}}
  <div class="custom-column-cell padding-top">
    <label {{bind-attr for=id}}>
      <h4>
        {{#if column.teacher_notes}}
          {{#t}}Notes{{/t}}
        {{else}}
          {{column.title}}
        {{/if}}
      </h4>
    </label>
    {{
      textarea
      value=value
      name=id
      id=id
      disabled=disabled
      class="span8"
    }}
  </div>
{{/unless}}
