<div id="final-grade-override">
  <label for="final-grade-override-grade">
    <strong>{{#t}}Final Grade Override{{/t}}</strong>
  </label>
  {{
    input
    id="final-grade-override-grade"
    type="text"
    value=overrideGrade
  }}

  {{overridePercent}}
</div>
