<div class="btn-group">
  <a class="btn btn-success dropdown-toggle" aria-role="link" href="#" data-toggle="dropdown" aria-haspopup="true">Add Role</a>
  <div class="dropdown-menu bootstrap-form new-role" aria-hidden="true">
    <form>
      <input type='text' aria-label="Role Name" tabindex=1 placeholder="Role name"></input>
      <select aria-label="Role Basetype" tabindex=2 {{#if adminRoles }}disabled{{/if}}>
        {{#each base_role_types}}
          <option role="menuitem" value="{{value}}">{{ label }}</option>
        {{/each}}
      </select>
      <button type="submit" class="btn btn-success" aria-label="Add Role" tabindex=3>Add</button>
    <form>
  </div>
</div>
