<em data-tooltip title="{{baseRoleTip}}">{{label}}</em>
{{#if editable}}
  <a class="edit_role" href="#" aria-label="Edit role {{label}}"><i class="icon-edit standalone-icon" ></i></a>
  <a class="delete_role" href="#" aria-label="Delete role {{label}}"><i class="icon-end standalone-icon" ></i></a>
{{/if}}
