<div id="role_tabs" class="ui-tabs-minimal manage-permissions">
  <ul>
    <li><a href="#course-roles-tab" id="course_role_link">Course Roles</a></li>
    <li><a href="#account-roles-tab" id="account_role_link">Account Roles</a></li>
  </ul>

  <div id="course-roles-tab" class="course-roles role-tab"></div>
  <div id="account-roles-tab" class="account-roles role-tab"></div>
</div>
