<div id="role_tabs" class="ui-tabs-minimal manage-permissions">
  <ul>
    {{#if showCourseRoles}}
      <li><a href="#course-roles-tab" id="course_role_link">{{#t "course_roles"}}Course Roles{{/t}}</a></li>
    {{/if}}
    <li><a href="#account-roles-tab" id="account_role_link">{{#t "account_roles"}}Account Roles{{/t}}</a></li>
  </ul>

  {{#if showCourseRoles}}
    <div id="course-roles-tab" class="course-roles role-tab"></div>
  {{/if}}
  <div id="account-roles-tab" class="account-roles role-tab"></div>
</div>
