<p>
  <a class="btn btn-primary add_role_link" role="button" href="#" aria-haspopup="true">{{#t "add_role"}}Add Role{{/t}}</a>
</p>
<table class='roles_table table table-striped table-hover table-condensed'></table>
