<div class="form-inline">
  <input
    type="text"
    name="inputFilter"
    class="inputFilterView"
    placeholder='{{#t "search"}}Search{{/t}}'
    aria-label='{{#t "search_"}}Search{{/t}}'>
</div>

<div class="v-gutter collectionView"></div>

