<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% unless @hide_message %>
 <h2 id="dialog_message" style="color: #666; font-size: 24px;"><%= t :retrieving_content, "Retrieving Content..." %></h2>
<% end %>
<a href="<%= external_content_oembed_retrieve_url(:url => "{{ url }}", :endpoint => "{{ endpoint }}", oembed_token: @oembed_token) %>"
  id="oembed_retrieve_url"
  style="display: none;">
    &nbsp;
</a>
<% js_bundle 'legacy/external_content_success' %>
