<th scope="row">{{name}}</th>

<td class="right-align">
  <div class="input-append">
    <input
      aria-label='{{#t}}Group weight for:{{/t}} {{name}}'
      type="text"
      class="span1 group_weight_value"
      value="{{n group_weight}}"
      name="{{name}}_group_weight"
      {{#unless canChangeWeights}}readonly{{/unless}} />
    <span class="add-on">%</span>
  </div>
</td>
