<div class="form-dialog-content">
  <div class="form-horizontal">
    <label class="checkbox" id="weight-groups" for="apply_assignment_group_weights">
      {{checkbox "apply_assignment_group_weights"}}
      {{#t "weight_groups"}}Weight final grade based on assignment groups{{/t}}
    </label>

    <div id="ag_weights_wrapper">
      <table id="assignment_groups_weights">
        <tbody>

        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td id="percent_total" class="right-align"></td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
<div class="form-controls">
  <button
    id="cancel-assignment-settings"
    class="btn dialog_closer"
    type="button"
  >{{#t "cancel"}}Cancel{{/t}}</button>
  <button
    id="update-assignment-settings"
    class="btn btn-primary"
    data-text-while-loading='{{#t "validating"}}Saving...{{/t}}'
    type="submit"
  >{{#t "save"}}Save{{/t}}</button>
</div>
