<div class="due-date-override-headers clearfix">
  <div class="section-header">
    <label id="overrides_course_section">
    {{#t "overrides.for"}}For{{/t}}
    </label>
  </div>
  <div class="due-date-header">
    <label id="overrides_due_date">
    {{#t "overrides.due_date"}}Due Date{{/t}}
    </label>
  </div>
  <div class="lock-header">
    <label id="overrides_unlock_at">
    <span aria-hidden="true">{{#t "overrides.available_from"}}Available From{{/t}}</span>
    <span class="screenreader-only">{{#t}}Available From Date{{/t}}</span>
    </label>
  </div>
  <div class="unlock-header">
    <label id="overrides_lock_at">
    <span aria-hidden="true">{{#t "until"}}Until{{/t}}</span>
    <span class="screenreader-only">{{#t}}Available Until Date{{/t}}</span>
    </label>
  </div>

</div>

{{#if needsUnassignedWarning}}
  <div id="unassigned_warning" class="alert">
    No students are currently assigned. Add a due date to assign a set of students.
  </div>
{{/if}}

<ul class="due-date-overrides"></ul>

<div class="due-date-override-footer">
  <button type="button" class="btn" id="add_due_date" style="{{hiddenIf shouldHideDueDate}}">
    <i class="icon-add"><span class=screenreader-only>Add</span></i>
    {{#t "overrides.due_date"}}Due Date{{/t}}
  </button>
</div>
