<div class="due-date-override-headers clearfix" aria-hidden="true">
  <div class="section-header">
    {{#t "overrides.for"}}For{{/t}}
  </div>
  <div class="due-date-header">
    {{#t "overrides.due_date"}}Due Date{{/t}}
  </div>
  <div class="lock-header">
    {{#t "overrides.available_from"}}Available From{{/t}}
  </div>
  <div class="unlock-header">
    {{#t "until"}}Until{{/t}}
  </div>

</div>

{{#if needsUnassignedWarning}}
  <div id="unassigned_warning" class="alert">
    No students are currently assigned. Add a due date to assign a set of students.
  </div>
{{/if}}

<ul class="due-date-overrides"></ul>

<div class="due-date-override-footer">
  <button type="button" class="btn" id="add_due_date" style="{{hiddenIf shouldHideDueDate}}">
    <i class="icon-add"><span class=screenreader-only>Add</span></i>
    {{#t "overrides.due_date"}}Due Date{{/t}}
  </button>
</div>
