{{#if course_home}}
  <h2 class="screenreader-only">
    {{#t "assignments"}}Assignments{{/t}}
  </h2>
{{else}}
  <h1 class="screenreader-only">
    {{#t "assignments"}}Assignments{{/t}}
  </h1>
{{/if}}

<div class="header-bar">
  <div class="header-bar-left form-inline">
    <input
      id="search_term"
      name="search_term"
      type="search"
      value=""
      disabled
      placeholder="{{#t "search_for_assignment"}}Search for Assignment{{/t}}"
      aria-label="{{#t "search_for_assignment"}}Search for Assignment{{/t}}"
    >
  </div>

  <div class="header-bar-right">
    {{#if ENV.PERMISSIONS.manage}}
      <a
        href="#"
        class="btn icon-plus"
        id="addGroup"
        role="button"
        title='{{#t "title_add_group"}}Add Assignment Group{{/t}}'
        aria-label='{{#t "title_add_group"}}Add Assignment Group{{/t}}'
      >{{#t "add_group"}}Group{{/t}}</a>

      <a
        href="{{ENV.URLS.new_assignment_url}}"
        class="new_assignment btn btn-primary icon-plus"
        role="button"
        title='{{#t "title_add_assignment"}}Add Assignment{{/t}}'
        aria-label='{{#t "title_add_assignment"}}Add Assignment{{/t}}'
      >{{#t "add_assignment"}}Assignment{{/t}}</a>

      <a
        href="#"
        class="btn"
        id="assignmentSettingsCog"
        role="button"
        title='{{#t "assignments_settings"}}Assignments Settings{{/t}}'
        aria-label="{{#t "assignments_settings_screenreader"}}Assignments Settings{{/t}}"
      ><i class="icon-settings"></i></a>
    {{else}}
      <div data-view="showBy"></div>
    {{/if}}
  </div>
</div>

<div data-view="assignmentGroups" class="item-group-container" id="ag-list"></div>

{{#if ENV.PERMISSIONS.manage}}
  <form data-view="createGroup" class="form-dialog"></form>
  <form data-view="assignmentSettings" class="form-dialog"></form>
{{/if}}
