<div class="never_drop collectionViewItems"> </div>
{{#if hasAssignments}}
<button class="btn btn-link add_never_drop">{{addIcon 'add'}}
{{#if hasNeverDrops}}
  {{#t "add_another_assignment"}}Add another assignment{{/t}}
{{else}}
  {{#t "add_first_assignment"}}Add an assignment{{/t}}
{{/if}}
</button>
{{/if}}
