<div>
  <div class="ig-header">
    <h2 class="ig-header-title" aria-label="{{#t "aria_assignments"}}Assignments{{/t}}">
      <i class="icon-mini-arrow-down"></i>
      {{#t "assignments"}}Assignments{{/t}}
    </h2>
  </div>
  <ul class="ig-list">
    <li>
      <div class="ig-row ig-row-empty">
        <div class="ig-empty-msg">
          {{#t "no_assignments_found"}}No assignments found{{/t}}
        </div>
      </div>
    </li>
  </ul>
</div>