<div class="form-column-left no-group">
  {{#t}}Post Grades to SIS{{/t}}
</div>

<div class="form-column-right">
  <label class="checkbox flush" for="assignment_post_to_sis">
    {{checkbox "post_to_sis"
    id="assignment_post_to_sis"
    prefix=prefix
    checked=postToSIS}}
    {{#t}}Include this assignment's grades when posting to your school's Student Information System{{/t}}
  </label>
</div>