{{#if visible}}
<span class="show-by-label">
  {{#t "show_by"}}Show by:{{/t}}
</span>
<span id="show_by">
  <input
    id="show_by_date"
    name="show_by"
    type="radio"
    aria-label="{{#t}}Show by Date{{/t}}"
    {{checkedIf showByDate}}
  >
  <label aria-hidden="true" for="show_by_date">{{#t "date"}}Date{{/t}}</label>

  <input
    id="show_by_type"
    name="show_by"
    type="radio"
    aria-label="{{#t}}Show by Type{{/t}}"
    {{checkedUnless showByDate}}
  >
  <label aria-hidden="true" for="show_by_type">{{#t "type"}}Type{{/t}}</label>
</div>
{{/if}}
