<label class="control-label" for="migrationFileUpload"><strong>{{#t "migration_text"}}Source{{/t}}</strong></label>
<div class="controls controlMargin">
  <input id="migrationFileUpload" name="file" type="file" accept=".zip,.imscc,.mbz">
</div>
