<label class="control-label" for="courseSearchField"><strong>{{#t "search_label"}}Search for a course{{/t}}</strong></label>

<div class="controls">
  <select id="courseSelect" class="span3">
    <option value="default">{{#t "select_default"}}Select a course{{/t}}</option>
     {{#eachProp terms}}
     <optgroup label="{{property}}">
         {{#each value}}
           <option value="{{id}}">{{label}}</option>
         {{/each}}
       </optgroup>
     {{/eachProp}}
  </select>
  {{#t "or"}}or{{/t}}
  <input id="courseSearchField" type="text" placeholder="{{#t "course_name"}}Course name{{/t}}" name="courseSearchField" class='span3'/>
  <br>
  <label class="checkbox" for="include_completed_courses">
    {{checkbox "include_completed_courses" checked=include_concluded}}
    {{#t 'include_completed_courses'}}Include completed courses{{/t}}
  </label>
</div>


