<label class="control-label" for="courseSearchField"><strong>{{#t "search_label"}}Search for a course{{/t}}</strong></label>
<div class="controls">
  <select id="courseSelect" class="span3">
    <option value="default">{{#t "select_default"}}Select a course{{/t}}</option>
    {{#each courses}}
    <option value={{course.id}}>{{course.name}}</option>
    {{/each}}
  </select>
  {{#t "or"}}or{{/t}}
  <input id="courseSearchField" type="text" placeholder="Course name" name="courseSearchField" class='span3'/>
</div>


