<div class="controls">
  <label class="checkbox">
    <input type="checkbox" id="dateShiftCheckbox">
    {{#t "checkbox_label"}}Adjust events and due dates{{/t}}
  </label>
</div>

<div class="dateShiftContent" style="display:none">
  <br />
  <div class="control-group">
    <label class="control-label"><strong>{{#t "beginning_date"}}Beginning date{{/t}}</strong></label>
    <div class="controls">
      <div class="pull-left"><input type="text" id="oldStartDate" class="span2"></div>
      <div class="pull-left">&nbsp; {{#t "beginning_change_to"}}change to{{/t}} <input type="text" id="newStartDate" class="span2"></div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><strong>{{#t "ending_date"}}Ending date{{/t}}</strong></label>
    <div class="controls">
      <div class="pull-left"><input type="text" id="oldEndDate" class="span2"></div>
      <div class="pull-left">&nbsp; {{#t "ending_change_to"}}change to{{/t}} <input type="text" id="newEndDate" class="span2"></div>
    </div>
  </div>

  <div class="control-group">
    <div id="daySubstitution"></div>
    <div class="controls">
      <button href="#" id='addDaySubstitution' class="btn top-margin bottomMargin"><i class="icon-add"></i> {{#t "substitution"}}Substitution{{/t}}</button>
    </div>
  </div>
</div>
