<label class="control-label" for="externalToolLaunch">{{#t "choose_mig_file"}}Choose Migration File{{/t}}</label>
<div class="controls controlMargin">
  <button id="externalToolLaunch" >{{#t "choose_file"}}Choose File{{/t}}</button>
  <span class='file_name'>{{#t "no_file"}}No file chosen{{/t}}</span>
</div>