<label class="control-label"><strong>{{#t 'upload_to'}}Upload to{{/t}}</strong></label>
<div class="controls">
  <select class="migrationUploadTo span3" name="migrationUploadTo">
    <option value="">{{#t "default_select_folder"}}Select Folder{{/t}}</option>
    {{{ folderOptions }}}
  </select>
</div>
