<label class="control-label">Upload to</label>
<div class="controls">
  <select class="migrationUploadTo" name="migrationUploadTo">
    <option>Select Folder</option>
    {{{ folderOptions }}}
  </select>
</div>
