<div class="controls controlMargin">
  <label class="checkbox" for="selectContentCheckbox">
    <input type="checkbox" />
      {{#t "overwrite_assessment_content"}}Overwrite assessment content with matching IDs{{/t}}
    </label>
</div>
