<label class="control-label" for="selectContentCheckbox"><input type="checkbox" /></label>
<div class="controls controlMargin">
  {{#t "overwrite_assessment_content"}}Overwrite assessment content with matching IDs{{/t}}
</div>
