<label class="checkbox" for="overwriteAssessmentContent">
  <input type="checkbox" id="overwriteAssessmentContent" />
    {{#t "overwrite_assessment_content"}}Overwrite assessment content with matching IDs{{/t}}
</label>
