<label class="control-label"><strong>{{#t "default_question_bank_label"}}Default Question bank{{/t}}</strong></label>
<div class="controls">
  <select class="questionBank span3">
    <option value="">{{#t "select_question_bank"}}Select question bank{{/t}}</option>
    <option value="new_question_bank" id="createQuestion" aria-label="{{#t "aria_new_label"}}Create new question bank{{/t}}">{{#t "create_new_question"}}-- Create new question bank --{{/t}}</option>
    {{#each questionBanks}}
    <option value={{assessment_question_bank.id}}>{{assessment_question_bank.title}}</option>
    {{/each}}
  </select>
  <div id="questionBankDisabledMsg" style="color: #ccc; display: none;">{{#t "question_banks_disabled"}}This option has been disabled{{/t}}</div>
</div>
<br />
<div class="controls" aria-live="assertive">
  <input title="{{#t "question_bank_title"}}New question bank name{{/t}}" aria-label="{{#t "question_bank_placeholder_aria"}}Enter new question bank name{{/t}}" placeholder="{{#t "question_bank_placeholder"}}Question bank name{{/t}}" type="text" style="display:none" id="createQuestionInput"/>
</div>
