<label class="control-label" for="selectContentCheckbox"><input id="selectContentCheckbox" type="checkbox" /></label>
<div class="controls checkboxText">
  {{#t "select_migration_label"}}Select migration content?{{/t}}
</div>
