<div class="form-inline clearfix">
  <div class="screenreader-only" id="filter_description">
    {{#t "filter_field_description"}}As you type in this field, the list of people will be automatically filtered to only include those whose names match your input.{{/t}}
  </div>
  <input
    type="text"
    name="search_term"
    data-view="inputFilter"
    placeholder='{{#t "search_people"}}Search people{{/t}}'
    aria-label='{{#t "filter_list_of_people"}}Filter list of people{{/t}}'
    aria-describedby="filter_description"
  >

  <select
    name="enrollment_role"
    data-view="roleSelect"
    aria-label='{{#t "role_to_search"}}Limit search to role{{/t}}'
  ></select>

  {{#if permissions.add_users}}
    {{#if course.concluded}}
    <a
      href="#"
      class="btn pull-right icon-plus"
      id="addUsers"
      role="button"
      title='{{#t "cannot_add_users"}}New users can not be added because this course is concluded{{/t}}'
      aria-label='{{#t "cannot_add_users"}}New users can not be added because this course is concluded{{/t}}'
      disabled data-tooltip>
       {{#t "people"}}People{{/t}}
     </a>
    {{else}}
    <a
      href="#"
      class="btn btn-primary pull-right icon-plus"
      id="addUsers"
      role="button"
      title='{{#t "title_add_people"}}Add People{{/t}}'
      aria-label='{{#t "title_add_people"}}Add People{{/t}}'
    >{{#t "people"}}People{{/t}}</a>
    {{/if}}
  {{/if}}
</div>

<form data-view="createUsers" class="form-dialog"></form>

<div class="v-gutter">
  <div data-view="resendInvitations"></div>
  <div data-view="users"></div>
</div>

