{{#ifAll canResend pendingInvitationsCount}}
  <p>
    {{#ifEqual pendingInvitationsCount 1}}
      {{#t "pending_invitation"}}
        1 invitation hasn't been accepted.
      {{/t}}
    {{else}}
      {{#t "pending_invitations"}}
        {{pendingInvitationsCount}} invitations haven't been accepted.
      {{/t}}
    {{/ifEqual}}
    {{#if available}}
      {{#if sending}}
        <a href="javascript:void(0)">
          {{#t "re_sending_invitations"}}Resending...{{/t}}
        </a>
      {{else}}
        <a href="javascript:void(0)" class="resend-pending-invitations">
          {{#t "re_send_invitations"}}Resend{{/t}}
        </a>
      {{/if}}
    {{/if}}
  </p>
{{/ifAll}}
