<td><a href="{{html_url}}" class="roster_user_name">{{name}}</a></td>
<td>
  {{#each sections}}
  <div class="section">{{name}}</div>
  {{/each}}
</td>
<td>
  {{#each enrollments}}
  <div>{{enrollmentName type}}</div>
  {{/each}}
</td>

