{{#if collection.length}}

<table class="roster table table-hover table-striped table-condensed table-vertically-center">
  <thead>
    <tr>
      <th></th>
      <th>{{#t "name"}}Name{{/t}}</th>
      {{#if canViewLoginIdColumn}}
      <th>{{#t "login_name_or_sis_id"}}Login / SIS ID{{/t}}</th>
      {{/if}}
      <th>{{#t "section"}}Section{{/t}}</th>
      <th>{{#t "role"}}Role{{/t}}</th>
      {{#if canViewLoginIdColumn}}
      <th>{{#t "last_activity"}}Last Activity{{/t}}</th>
      <th>{{#t "total_activity"}}Total Activity{{/t}}</th>
      {{/if}}
      <th></th>
    </tr>
  </thead>
  <tbody class="collectionViewItems"></tbody>
</table>
<div class="paginatedLoadingIndicator"></div>

{{else}}

  {{#if collection.atLeastOnePageFetched}}
  <div class="alert alert-info">
    <p class="lead">{{#t "no_people_found"}}No people found{{/t}}</p>
    <p>{{#t "you_can_search_by"}}You can search by:{{/t}}</p>
    <ul>
      <li>{{#t "name"}}Name{{/t}}</li>
      {{#if canViewLoginIdColumn}}
      <li>{{#t "login_name_or_sis_id"}}Login / SIS ID{{/t}}</li>
      {{/if}}
      <li>{{#t "canvas_user_id"}}Canvas User ID{{/t}}</li>
    </ul>
  </div>
  {{else}}
  <div class="paginatedLoadingIndicator"></div>
  {{/if}}

{{/if}}


