<p>
  {{#t "in_this_course"}}In this course, students can:{{/t}}
</p>
<fieldset>
  <label>{{checkbox "allow_student_discussion_topics"}} {{#t "allow_student_topics"}}Create discussion topics{{/t}}</label><br/>
  <label>{{checkbox "allow_student_forum_attachments"}} {{#t "attach_files"}}Attach files to replies{{/t}}</label>
</fieldset>

