<fieldset>
  <p role="heading" aria-level="3"><b>{{#t "my_settings"}}My Settings{{/t}}</b></p>

  <label class="checkbox" for="manual_mark_as_read">
    {{checkbox "manual_mark_as_read"}}
    {{#t "manually_mark_as_read"}}Manually mark posts as read{{/t}}
  </label>
</fieldset>

<hr />

<p role="heading" aria-level="3"><b>{{#t "student_settings"}}Student Settings{{/t}}</b></p>

<fieldset>
  <label class="checkbox" for="allow_student_discussion_topics">
    {{checkbox "allow_student_discussion_topics"}}
    {{#t "allow_student_topics"}}Create discussion topics{{/t}}
  </label>
  <label class="checkbox" for="allow_student_discussion_editing">
    {{checkbox "allow_student_discussion_editing"}}
    {{#t "allow_student_discussion_editing"}}Edit and delete their own posts{{/t}}
  </label>
  <label class="checkbox" for="allow_student_forum_attachments">
    {{checkbox "allow_student_forum_attachments"}}
    {{#t "attach_files"}}Attach files to discussions{{/t}}
  </label>
</fieldset>
