<p>
  {{#t "in_this_course"}}In this course, students can:{{/t}}
</p>
<fieldset>
  {{checkbox "allow_student_discussion_topics"}} <label for="allow_student_discussion_topics">{{#t "allow_student_topics"}}Create discussion topics{{/t}}</label><br/>
  {{checkbox "allow_student_discussion_editing"}} <label for="allow_student_discussion_editing">{{#t "allow_student_discussion_editing"}}Edit and delete their own posts{{/t}}</label><br/>
  {{checkbox "allow_student_forum_attachments"}} <label for="allow_student_forum_attachments">{{#t "attach_files"}}Attach files to discussions{{/t}}</label>
</fieldset>

