<fieldset>
  <p><b>{{#t "my_settings"}}My Settings{{/t}}</b></p>

  <label class="checkbox" for="manual_mark_as_read">
    {{checkbox "manual_mark_as_read"}}
    {{#t "manually_mark_as_read"}}Manually mark posts as read{{/t}}
  </label>
</fieldset>
