<h2 class="screenreader-only">
  {{#t "feature_options"}}Feature Options{{/t}}
</h2>

<div class="alert alert-info">
  {{#t "no_features_available"}}No features are currently available.{{/t}}
</div>

<div class="account-feature-flags"></div>
<div class="course-feature-flags"></div>
<div class="user-feature-flags"></div>

