<div class="student">
  <a id="progression_student_{{id}}"
     href="#"
     role="button"
     aria-controls="progression_modules"
     aria-label="{{#t 'show_progressions_for_student'}}Show progressions for {{name}}{{/t}}">
    {{name}}
  </a>
</div>