<div class="module-progressions">
  {{#if collection.length}}
    <ul class="collectionViewItems"></ul>
  {{else}}
    {{#if collection.atLeastOnePageFetched}}
      <p class="message">{{#t "no_modules_found"}}No modules were found{{/t}}</p>
    {{/if}}
  {{/if}}
</div>