<% css_bundle :quizzes %>
<%= t :score_out_of, "You got %{score} out of %{points_possible}", :score => @submission.score, :points_possible => @quiz.points_possible %>
<% submission_data = @submission.data %>
<div id="questions" class="assessment_results <%= (show_correct_answers? ? 'show_correct_answers' : 'suppress_correct_answers') %>">
  <% @quiz.stored_questions.each do |q| %>
    <%= render :partial => "quizzes/display_question", :object => q, :locals => {:user_answer => submission_data.find{|a| a.question_id == q.id}, :assessment_results => true} %>
  <% end %>
</div>
<%= t :score_out_of, "You got %{score} out of %{points_possible}", :score => @submission.score, :points_possible => @quiz.points_possible %>
