<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% css_bundle :quizzes %>
<%= t :score_out_of, "You got %{score} out of %{points_possible}", :score => @submission.score, :points_possible => round_if_whole(@quiz.points_possible) %>
<% submission_data = @submission.data %>
<div id="questions" class="assessment_results <%= (show_correct_answers? ? 'show_correct_answers' : 'suppress_correct_answers') %>">
  <% @quiz.stored_questions.each do |q| %>
    <%= render :partial => "quizzes/display_question", :object => q, :locals => {:user_answer => submission_data.find{|a| a.question_id == q.id}, :assessment_results => true} %>
  <% end %>
</div>
<%= t :score_out_of, "You got %{score} out of %{points_possible}", :score => @submission.score, :points_possible => round_if_whole(@quiz.points_possible) %>
