<tr>
  <th style="text-align: left">
    <%= before_label(t(:auth_type_label, "Type")) %>
  </th>
  <th style="text-align: left">
    <%= auth_type %>
  </th>
</tr>
<% if aac.account.multi_auth? && !aac.new_record? %>
  <tr>
    <td><%= t :auth_url, "Login url for this config" %></td>
    <td><%= url_for(presenter.login_url_options(aac)) %></td>
  </tr>
<% end %>
