<div class="ic-Form-control">
  <%= f.label :jit_provisioning, t('Just in Time Provisioning'), class: 'ic-Label', for: "jit_provisioning_#{presenter.id_suffix(aac)}" %>
  <%= f.check_box :jit_provisioning, class: 'jit_provisioning_checkbox', id: "jit_provisioning_#{presenter.id_suffix(aac)}" %>
</div>
