<div class="ic-Form-control">
  <%= f.label :login_attribute, 'Login Attribute', class: 'ic-Label' %>
  <%= f.select(:login_attribute,
               aac.class.login_attributes,
               {},
               class: 'ic-Input') %>
</div>
