<div class="ic-Form-control">
  <%= f.label :client_id, 'Client ID', class: 'ic-Label' %>
  <%= f.text_field :client_id, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :client_secret, 'Client Secret', class: 'ic-Label' %>
  <%= f.password_field :client_secret, class: 'ic-Input' %>
</div>
