<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div class="ic-Form-control">
  <%= f.label :client_id, 'Client ID', class: 'ic-Label', for: "client_id_#{presenter.id_suffix(aac)}" %>
  <%= f.text_field :client_id, class: 'ic-Input', id: "client_id_#{presenter.id_suffix(aac)}" %>
</div>
<div class="ic-Form-control">
  <%= f.label :client_secret, 'Client Secret', class: 'ic-Label', for: "client_secret_#{presenter.id_suffix(aac)}" %>
  <%= f.password_field :client_secret, class: 'ic-Input', id: "client_secret_#{presenter.id_suffix(aac)}" %>
</div>
