<p>{{#t}}
  You have changed the progression requirements for an active course.
  There may be students who have already progressed to this module and to others that depend on it.
{{/t}}</p>
<p>{{#t}}
  Would you like to let students continue in the course or do you want to re-lock these modules until the new requirements are completed?
{{/t}}</p>