<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation defaultLanguage="VB" debug="true"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" loginUrl="login.aspx" name="applicationvbnet_auth" protection="All">
				<credentials passwordFormat="Clear">
					<user name="demo" password="demo" />
				</credentials>
			</forms>		 
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
    <location path="upload.aspx">
        <system.web>
            <httpRuntime maxRequestLength="2151" executionTimeout="300" />
        </system.web>
    </location>
</configuration>
