@import "environment.sass";
@import "show";
@import "moderate";
@import "statistics";
$backgroundColor: #dfe9f0;
$borderColor: #AAA;
$questionHeaderBackground: #F5F5F5;
$selectedBorderColor: #31b5ff;

//====== Layout =========
div#content {
  overflow: visible;
  padding: 0;
  min-width: 763px;
}

//===== Loading Page =========
#ember-loading {
  padding: 10px;
  text-align: center;
  background-color: #FFF;
  border-bottom: 1px solid #C1C7CF;
  min-height: 33px;
}

//===== Index Page ===========
li.quiz .ig-title {
  right: 554px;
}

.header-bar {
  overflow: visible;
}

//===== Item Group Overrides =====
.item-group-container {
  .ig-admin {
    top: 4px;
  }
  .ig-list {
    .quiz:first-of-type {
      margin-top: 5px;
      .ig-row {
        border-top: 1px solid #C1C7CF;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    .quiz:last-of-type {
      .ig-row {
        border-bottom: 1px solid #C1C7CF;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
  .item-group-condensed {
    .ig-header-title {
      cursor: pointer;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }

  .publish-icon i {
    padding: 6px;
  }
}

li.quiz {
  cursor: pointer;
  .ig-details {
    right: 110px;
    width: 425px;
  }
}
