#quiz-show {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  .edit-header {
    padding-right: 20px;
  }

  //===== Action Buttons In the Top Right Corner ===

  .edit-header {
    margin-bottom: 1.5em;

    h1 {
      padding-left: 24px;
    }
  }
  .teacher-action-buttons,
  .student-action-buttons {
    // Makes ICPublishButtonComponent render inline-block
    div {
      display: inline-block
    }

    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    min-height: 60px;
    padding-top: 15px;

    // Margin-right for the ic-actions dropdown to be absolutely positioned.
    margin-right: 25px;
  }

  //===== Tabs ===

  #quiz-show-tabs {
    position: relative;
    top: 1px;

    ol li {
      border: 1px solid transparent;
      border-bottom-width: 0;
      background: white;
      position: relative;
      display: inline-block;
      list-style-type: none;
      min-width: 105px;
      text-align: center;
      font-size: 14px;

      a {
        font-weight: bold;
        padding: 10px 5px 10px 5px;
        display: block;
        color: #5f666d;
      }

      &.active {
        border: 1px solid #CAD0D7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid white;

        a {
          color: #2a333c;
        }
      }
    }

    ol {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .tabs-content {
    border-top: 1px solid #CAD0D7;
    padding: 55px 35px;
  }

  table.quiz-table {
    border: 1px solid #e6e6e7;

    th {
      background-color: #F4F5F6;
      font-weight: bold;
      text-align: left;
    }
    tbody {
      font-weight: 300;
    }
  }

  //===== Overview Tab ===

  .quiz-overview {
    .quiz-description {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 1.5em;
    }

    .quiz-attributes {
      dl dt,
      dl dd {
        float: left;
        margin: 0 0.5em 10px 0;
      }
      dl dd + dt,
      dl dd + dd {
        clear: left
      }
      dl dd + dd {
        float: none
      }
      dl dt {
        font-weight: bold;
        clear:left;
      }
      dl dd {
        font-weight: 200;
      }
    }

    .quiz-attributes-student {
      border-bottom: 1px solid #CAD0D7;
      margin-bottom: 30px;
      padding: 0 37px;

      dl, dt, dd {
        margin-bottom: 0;
      }
      .quiz-attribute-column {
        float: left;
        width: 20%;
      }
    }
    .student-quiz-content {
      padding: 0 35px 55px 35px;
    }

    .quiz-attributes-teacher {
      overflow: hidden;
      margin-bottom: 2.5em;

      .quiz-attribute-column {
        text-align: center;
        border-right: 1px solid #F1F2F2;
        margin-bottom: -99999px;
        padding-bottom: 99999px;

        &:last-of-type {
          border-right: none;
        }
      }
    }

    #due-dates-table {
      td {
        width: 20%;
      }
      td:nth-of-type(2) {
        width: 40%;
      }
      td:nth-of-type(3) span {
        margin: 0 10px 0 12px;
      }
    }
  }

  //===== Moderate Tab ===

  .quiz-moderate {

    #moderate-table {
      .check {
        width: 12px;
        line-height: 1em;
        vertical-align: top;
      }
      .icon-refreshing {
        &.inactive {
          display:none;
        }
        position: relative;
        left: -2px;
        top: -2px;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
      th.name,
      td.name {
        text-align: left;
      }
      th a.icon-refresh:before {
        font-size: 100%;
      }
      th a.icon-refresh,
      td a.icon-edit {
        color: #444;
      }
      .extra-time {
        font-size: 85%;
        color: #555;
      }

    }

  }

  // ic-actions overrides

  ic-actions {
    position: absolute;
    top: 41px;
    right: 6px;
    padding-right: 5px;
  }
  ic-menu-item {
    display: block;
  }
  ic-menu-item a {
    color: inherit;
    text-decoration: none;
  }
  ic-menu-list {
    top: 32px;
    right: 5px;
    text-align: left;
  }

}
// Dialogs - Put outside the #quiz_show scope because jQueryUI puts
// it in the body.

#message-students-dialog {
  textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
  }
}

