#quiz-show {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  //===== Action Buttons In the Top Right Corner ===

  .edit-header {
    margin-bottom: 1.5em;

    h1 {
      padding-left: 24px;
    }
  }
  .teacher-action-buttons {
    // Makes ICPublishButtonComponent render inline-block
    div {
      display: inline-block
    }

    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    min-height: 60px;
    padding-top: 15px;
  }

  //===== Tabs ===

  #quiz-show-tabs {
    position: relative;
    z-index: 5;
    top: 1px;

    ol li {
      border: 1px solid transparent;
      border-bottom-width: 0;
      background: white;
      position: relative;
      display: inline-block;
      list-style-type: none;
      min-width: 105px;
      text-align: center;
      font-size: 14px;

      a {
        font-weight: bold;
        padding: 10px 5px 10px 5px;
        display: block;
        color: #5f666d;
      }

      &.active {
        border: 1px solid #CAD0D7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid white;

        a {
          color: #2a333c;
        }
      }
    }

    ol {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .tabs-content {
    border-top: 1px solid #CAD0D7;
    padding: 55px 50px;
  }

  table.quiz-table {
    border: 1px solid #e6e6e7;

    th {
      background-color: #F4F5F6;
      font-weight: bold;
      text-align: left;
    }
    tbody {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    }
  }

  //===== Overview Tab ===

  .quiz-overview {
    .quiz-description {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin-bottom: 1.5em;
    }

    #quiz-attribute-table {
      overflow: hidden;
      margin-bottom: 2.5em;

      dl dt, dl dd {
        float: left;
        margin: 0 0.5em 10px 0;
      }

      dl dd + dt, dl dd + dd {
        clear: left
      }

      dl dd + dd {
        float: none
      }

      dl dt {
        font-weight: bold;
        clear:left;
      }
      dl dd {
        font-weight: 200;
      }

      .quiz-attribute-column {
        text-align: center;
        border-right: 1px solid #F1F2F2;
        margin-bottom: -99999px;
        padding-bottom: 99999px;

        &:last-of-type {
          border-right: none;
        }
      }

    }

    #due-dates-table {
      td {
        width: 25%;
      }
      td:nth-of-type(2) {
        width: 50%;
      }
      td:nth-of-type(3) span {
        margin: 0 10px 0 12px;
      }
    }
  }

  //===== Moderate Tab ===

  .quiz-moderate {

    #moderate-table {
      .check {
        width: 12px;
        line-height: 1em;
        vertical-align: top;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
      th.name,
      td.name {
        text-align: left;
      }
      th a.icon-refresh:before {
        font-size: 100%;
      }
      th a.icon-refresh,
      td a.icon-edit {
        color: #444;
      }

    }

  }
}
