//mathquill.scss is just the stock mathquill.css file that comes with the
//javascript library.  we had to rename it to be an scss file because
//sass can only import sass/scss files.
@import 'vendor/mathquill.scss';

/*
 * instructure tweaks of stock mathquill styles
 */

@font-face {
  font-family: Symbola;
  src: url(/fonts/Symbola.eot);
  src: local("Symbola Regular"),
       local("Symbola"),
       url(/fonts/Symbola.ttf) format("truetype"),
       url(/fonts/Symbola.otf) format("opentype"),
       url(/fonts/Symbola.svg#webfont7MzkO3xs) format("svg");
}

div.math-dialog > span {
  padding: 0 !important;
}

.mathquill-editor {
  font-size: 1.5em;
  // the editable area gets an active blue glow so it looks wierd if there is white space between
  // it and the buttonpane
  margin-bottom: -5px;
  min-height: 247px;
  margin-left: 5px;
  width: 96%;
}

.mathquill-rendered-math {
  sup {
    top: auto;
  }
}
//undo the padding added by .ui-dialog
.mathquill-toolbar {
  margin-left: -1em !important;
  margin-right: -1em !important;
}

.mathquill-toolbar-panes {
  background: #ccc url(/images/tinybg.png) repeat-x top left;
}
.mathquill-tab-pane li {
  background: #ccc url(/images/tinybutton.png) repeat-x top left;
  font-size: 1.52em;
}
.mathquill-tab-pane li a:hover {
  text-decoration: none;
}

.mathquill-editable .textarea textarea {
  z-index: inherit; /* so that jquery modal dialogs don't cancel its events */
}

#mathjax-editor {
  width: 95%;
  min-height: 100px;
  margin: 0px 10px;
}

#mathjax-preview, .MathJax_Display {
  min-height: 100px;
}

#mathjax-message {
  min-height: 20px;
}

.math-toggle {
  text-align: right;
  padding-right: 10px;
}

#mathquill-view, #mathjax-view {
  min-height: 403px;
}
