<th class="rating-header" aria-label='{{description}}'>
  <div class='rating-wrap'>
    <h5>{{description}}</h5>
    <div class="insert">
      <a href="#" class="insert_rating" title="{{#t "insert_criterion_rating"}}Insert criterion rating{{/t}}" tabindex=0 role=button aria-label="{{#t "insert_criterion_rating"}}Insert criterion rating{{/t}}">
        {{#t "insert_rating"}}Insert{{/t}}
        <span class="arrow-icon"></span>
      </a>
    </div>
  </div>
</th>
