<table>
  <caption>
    {{#t}}
      The most recent scores for user {{ current_user_name }} and outcome {{ outcome_name }}.
    {{/t}}
  </caption>
  <tr>
    <th scope="col">{{#t}}Date{{/t}}</th>
    <th scope="col">{{#t}}Score{{/t}}</th>
  </tr>
  {{#each data}}
    <tr>
      <td scope="row">{{ tTimeToString (fudge date) "medium" }}</td>
      <td>{{nf y format="outcomeScore"}}</td>
    </tr>
  {{/each}}
</table>
