<div class="outcomes-browser content-box">

  {{#unless skipToolbar}}
  <div class="toolbar outcomes-toolbar">
    <a href="#" class="go_back ui-button ui-widget ui-state-default ui-corner-all" role="button" style="display:none">
      {{#t "links.back"}}Back{{/t}}
    </a>

    {{#if canManageOutcomes}}
    <a href="#" class="add_outcome_link ui-button ui-widget ui-state-default ui-corner-all" role="button">
      <i class="icon-plus"></i>
      <span class="ui-button-text" aria-hidden="true">{{#t "links.new_outcome"}}Outcome{{/t}}</span>
      <span class="screenreader-only">{{#t}}Add a New Outcome{{/t}}</span>
    </a>
    <a href="#" class="add_outcome_group ui-button ui-widget ui-state-default ui-corner-all" role="button">
      <i class="icon-plus"></i>
      <span class="ui-button-text" aria-hidden="true">{{#t "links.new_group"}}Group{{/t}}</span>
      <span class="screenreader-only">{{#t}}Add a New Outcome Group{{/t}}</span>
    </a>
    <a href="#" class="find_outcome ui-button ui-widget ui-state-default ui-corner-all" role="button">
      <i class="icon-search"></i>
      <span class="ui-button-text" aria-hidden="true">{{#t "links.find"}}Find{{/t}}</span>
      <span class="screenreader-only">{{#t}}Find an Outcome{{/t}}</span>
    </a>
    {{/if}}
    <span id="popoverMenu" class="popover-menu"></span>
  </div>
  {{/unless}}

  <div class="outcomes-main">
    <div class="outcomes-sidebar">
      <div class="wrapper"></div>
    </div>
    <div class="outcomes-content">
    </div>
  </div>
</div>
