<div class="wrapper">
  <h2 class="title">
    {{#t "instructions.find.title"}}
    Finding Outcomes
    {{/t}}
  </h2>
  <div class="description">
    {{#t "instructions.find.description"}}
    <p>Outcomes created by your institution, or state can be accessed here. Just like in your course, the panel to the left will allow you to navigate between existing outcomes. Once you have found the outcome or outcome group you wish to use, click the import button below to add it to your course.</p>
    {{/t}}
  </div>
</div>
