<div class="wrapper">
  <h2 class="title">
    {{#t "instructions.main.manage.title"}}
    Setting up Outcomes
    {{/t}}
  </h2>
  <div class="description">
    {{#t "instructions.main.manage.description"}}
    <p>Outcomes are created here to track mastery in a course.  To get started, checkout the menu bar along the top. Click on the New button to create a new outcome, or the New Group button to create a new group to organize your outcomes into. The Find button will allow you to use outcomes that have been created by your state or institution. As you create and use outcomes you will be able to use the panel to the left to navigate through your outcomes. You can drag and drop outcomes between the different levels to create structure.</p>
    <p>More importantly, Canvas allows you to add outcomes to your grading rubrics so that you can evaluate mastery as you grade assignments. Once you've set up outcomes, click Manage Rubrics to start using your outcomes for grading.</p>
    {{/t}}
  </div>
</div>
