<div class="no-outcomes-warning">
  <div class="alert" aria-live="true" aria-alert="true">
    {{#t}}You have no outcomes. <a href="{{addOutcomesUrl}}" aria-label="{{noOutcomesLinkLabel}}">Click here</a> to create one.{{/t}}
  </div>
</div>
