<h2 class="title">
  <i class="icon-folder"></i>
  {{title}}
</h2>
<div class="description">
  {{{description}}}
</div>

{{#unless readOnly}}
<a href="#" style="float:left" class="move_button move_group_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
  {{#t}}Move Outcome Group{{/t}}
</a>
<a href="#" style="float:left" class="edit_button edit_group_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
  {{#t "links.edit_outcome_group"}}Edit Outcome Group{{/t}}
</a>
<a href="#" style="float:left" class="delete_button delete_group_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
  {{#t "links.delete_outcome_group"}}Delete Outcome Group{{/t}}
</a>
{{/unless}}
