<div class="title">{{alignment_name}}</div>
<div class="outcome-bar-wrapper">
  <div class="score"><strong>{{nf roundedScore format="outcomeScore"}}</strong>/{{nf mastery_points format="outcomeScore"}}</div>
  {{view progress}}
</div>
