<script type="text/javascript">
  $('h2.api_method_name').each(function(i, el) {
    var subtopic = $(el).data('subtopic');
    var $a = $(el).find('a');
    if ($.trim($a[0].innerHTML) == '')
      return;
    var $row = $('table#quicklinks tr').filter(function() { return $(this).data('subtopic') == subtopic; });
    if ($row.length == 0) {
      $row = $('<tr/>').appendTo($('table#quicklinks'));
      $row.data('subtopic', subtopic);
      $('<th/>').append(subtopic).appendTo($row);
      $('<td/>').appendTo($row);
    }
    var link = $('<a/>').attr('href', '#'+$(el).attr('name')).append($.trim($a[0].innerHTML));
    $row.find('td').append(link);
  });

  SyntaxHighlighter.defaults['gutter'] = false;
  SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.defaults['auto-links'] = false;
  $('#content pre.code.javascript code').each(function(i, el) {
    $(el).parent().addClass('brush: js');
    $(el).replaceWith(el.innerHTML);
  });
  SyntaxHighlighter.all();
</script>
<div id="footer">
  &copy; Instructure, Inc. Generated on <%= Time.now.strftime("%c") %><br>
  This documentation is generated directly from the Canvas LMS source code, available <a href="https://github.com/instructure/canvas-lms">on Github</a>.
</div>
