<meta charset="UTF-8">
<meta name="Content-Type" content="text/html; charset=<%= charset %>" />
<title><%= options[:page_title] %></title>
<link rel="stylesheet" href="<%= url_for("css/common.css") %>" type="text/css" media="screen" charset="utf-8" />
