<div class="outcome-cell-wrapper">
  <span class="outcome-score">{{nf score format="outcomeScore"}}</span> /{{nf masteryScore format="outcomeScore"}}
  <span class="outcome-result {{className}}"></span>
</div>
