.table td.permissionButtonView {
  position: relative;

    .default_permission {
      opacity: .5;
    }

    .icon-x {
      color: #9B0000;
    }
    
    .icon-check {
      color: green;
    }

    .btn-group{
      margin: 0 auto;
      width: 40px;
      position: relative;

      .btn.dropdown-toggle{
        position: relative;
        min-width: 35px;

        &:disabled, &[disabled] {
          background: none;
          border: none;

          & .icon-lock {
            display: none;
          }
        }
      }
    }

  .dropdown-menu {
    text-align: left;
    /*left: 30%;*/

    input[type=radio] {
      /* Display none breaks ie so we position it off the page */
      position: absolute;
      left: -9999px;
    }

    label{
      display: block;
      padding: 5px;
    }

    span.text{
      float: right;
      text-align: left !important;
      width: 110px;

      &:last{
        float: none;
        text-align: center;
        display: block;
      }
    }

    label:hover, label:focus, input:checked+label {
      text-decoration: none;
      color: white;
      background-color: #0081C2;
      background-image: linear-gradient(to bottom, #08C, #0077B3);
      background-repeat: repeat-x;
    }
  }
}

table#course_roles thead, table#account_roles thead {
  background: #fff;
}