.table th, .table td{
  border: none !important;
}

.role-tab {
  padding-bottom: 200px !important;
  overflow-x: scroll;
}

.manage-permissions{
  thead th{
    text-align: center;
    white-space: nowrap;
    width: 0;
  }

  td {
    vertical-align: middle;
  }

  th{
    width: 20%;
  }
}

.toolbar{
  th, td {
    background-color:#dae1e6 !important;
    &:hover{
      background-color:#dae1e6 !important;
    }
  }
}
