/* line 9, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

/* line 19, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table {
  width: 100%;
  margin-bottom: 20px; }
  /* line 24, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table th,
  .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  /* line 31, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table th {
    font-weight: bold; }
  /* line 35, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table thead th {
    vertical-align: bottom; }
  /* line 44, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table caption + thead tr:first-child th,
  .table caption + thead tr:first-child td,
  .table colgroup + thead tr:first-child th,
  .table colgroup + thead tr:first-child td,
  .table thead:first-child tr:first-child th,
  .table thead:first-child tr:first-child td {
    border-top: 0; }
  /* line 48, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table tbody + tbody {
    border-top: 2px solid #dddddd; }

/* line 60, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

/* line 69, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  /* line 76, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #dddddd; }
  /* line 88, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered caption + thead tr:first-child th,
  .table-bordered caption + tbody tr:first-child th,
  .table-bordered caption + tbody tr:first-child td,
  .table-bordered colgroup + thead tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child td,
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }
  /* line 93, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered thead:first-child tr:first-child th:first-child,
  .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px; }
  /* line 99, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered thead:first-child tr:first-child th:last-child,
  .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px; }
  /* line 107, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered thead:last-child tr:last-child th:first-child,
  .table-bordered tbody:last-child tr:last-child td:first-child,
  .table-bordered tfoot:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px; }
  /* line 115, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered thead:last-child tr:last-child th:last-child,
  .table-bordered tbody:last-child tr:last-child td:last-child,
  .table-bordered tfoot:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px; }
  /* line 125, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered caption + thead tr:first-child th:first-child,
  .table-bordered caption + tbody tr:first-child td:first-child,
  .table-bordered colgroup + thead tr:first-child th:first-child,
  .table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px; }
  /* line 133, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
  .table-bordered caption + thead tr:first-child th:last-child,
  .table-bordered caption + tbody tr:first-child td:last-child,
  .table-bordered colgroup + thead tr:first-child th:last-child,
  .table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px; }

/* line 151, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

/* line 164, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: whitesmoke; }

/* line 178, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0; }

/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0; }
/* line 188, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0; }

/* line 199, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table tbody tr.success td {
  background-color: #dff0d8; }
/* line 202, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table tbody tr.error td {
  background-color: #f2dede; }
/* line 205, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table tbody tr.warning td {
  background-color: #fcf8e3; }
/* line 208, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table tbody tr.info td {
  background-color: #d9edf7; }

/* line 215, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6; }
/* line 218, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-hover tbody tr.error:hover td {
  background-color: #ebcccc; }
/* line 221, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc; }
/* line 224, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_tables.scss */
.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3; }

/* line 8, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropup,
.dropdown {
  position: relative; }

/* line 11, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-toggle {
  *margin-bottom: -3px; }

/* line 16, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0; }

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: ""; }

/* line 34, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px; }

/* line 41, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  /* line 64, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  /* line 70, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
  .dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid white; }
  /* line 75, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
  .dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap; }

/* line 90, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0); }

/* line 99, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0); }

/* line 110, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999; }

/* line 114, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default; }

/* line 123, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.open {
  *z-index: 1000; }
  /* line 128, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
  .open > .dropdown-menu {
    display: block; }

/* line 135, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

/* line 147, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid black;
  content: ""; }
/* line 153, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

/* line 162, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu {
  position: relative; }

/* line 166, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

/* line 175, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

/* line 180, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0; }

/* line 191, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

/* line 204, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: white; }

/* line 209, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-submenu.pull-left {
  float: none; }
  /* line 215, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; }

/* line 227, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px; }

/* line 234, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 9, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none; }

/* line 16, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > li > a {
  display: block; }

/* line 19, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee; }

/* line 25, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > .pull-right {
  float: right; }

/* line 30, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

/* line 41, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav li + .nav-header {
  margin-top: 9px; }

/* line 50, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0; }

/* line 56, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

/* line 61, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list > li > a {
  padding: 3px 15px; }

/* line 65, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc; }

/* line 71, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px; }

/* line 75, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white; }

/* line 86, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs,
.nav-pills {
  *zoom: 1; }
  /* line 15, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .nav-tabs:before, .nav-tabs:after,
  .nav-pills:before,
  .nav-pills:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 22, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .nav-tabs:after,
  .nav-pills:after {
    clear: both; }

/* line 90, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > li,
.nav-pills > li {
  float: left; }

/* line 94, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

/* line 105, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs {
  border-bottom: 1px solid #ddd; }

/* line 109, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > li {
  margin-bottom: -1px; }

/* line 113, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }
  /* line 119, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd; }

/* line 125, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default; }

/* line 138, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 148, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: white;
  background-color: #0088cc; }

/* line 159, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-stacked > li {
  float: none; }

/* line 162, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-stacked > li > a {
  margin-right: 0; }

/* line 167, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs.nav-stacked {
  border-bottom: 0; }

/* line 170, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/* line 174, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px; }

/* line 177, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

/* line 180, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2; }

/* line 186, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

/* line 189, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

/* line 198, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

/* line 201, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/* line 208, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px; }

/* line 213, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580; }

/* move down carets for tabs */
/* line 218, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px; }

/* line 224, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

/* line 228, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555; }

/* line 235, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > .dropdown.active > a:hover {
  cursor: pointer; }

/* line 243, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: white;
  background-color: #999999;
  border-color: #999999; }

/* line 250, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: white;
  border-bottom-color: white;
  opacity: 1;
  filter: alpha(opacity=100); }

/* line 257, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-stacked .open > a:hover {
  border-color: #999999; }

/* line 271, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabbable {
  *zoom: 1; }
  /* line 15, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .tabbable:before, .tabbable:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 22, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .tabbable:after {
    clear: both; }

/* line 274, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tab-content {
  overflow: auto; }

/* line 281, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

/* line 287, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

/* line 291, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tab-content > .active,
.pill-content > .active {
  display: block; }

/* line 299, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

/* line 302, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

/* line 306, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  /* line 308, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
  .tabs-below > .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
    border-top-color: #ddd; }

/* line 314, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd; }

/* line 323, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

/* line 327, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

/* line 334, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

/* line 339, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

/* line 343, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

/* line 347, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: white; }

/* line 353, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

/* line 358, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

/* line 362, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

/* line 366, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: white; }

/* line 377, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > .disabled > a {
  color: #999999; }

/* line 381, ../../../../../../../.rbenv/versions/1.9.3-p286/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.2.1.1/vendor/assets/stylesheets/bootstrap/_navs.scss */
.nav > .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default; }












.role-tab {
  padding-bottom: 200px !important;
  overflow-x: scroll;
}

.manage-permissions{
  thead th{
    text-align: center;
    white-space: nowrap;
    width: 0;
  }

  td {
    vertical-align: middle;
  }

  th{
    width: 20%;
  }

  &.toolbar{
    th, td {
      background-color:transparent !important;
      &:hover{
        background-color:transparent !important;
      }
    }
  }
}
