<div class="customListWrapper">
  <button class="btn btn-small customListRestore">{{#t "reset_course_menu"}}Reset{{/t}}</button>
  <a class="customListClose" href="#" title='{{#t "close_course_menu_title"}}close{{/t}}' aria-label='{{#t "close_course_menu_title"}}close{{/t}}' role="button"></a>
  <ul class="customListContent menu-item-drop-column-list"></ul>
</div>