<div class="customListWrapper">
  <a class="customListClose" title='{{#t "close_course_menu_title"}}close{{/t}}'></a>
  <button class="btn btn-small customListRestore">{{#t "reset_course_menu"}}Reset{{/t}}</button>
  <ul class="customListContent menu-item-drop-column-list"></ul>
</div>