<div class="radio">
  <label>
    <input type="radio" name="selective_import" value=false>
    {{#t "select_all_content"}}All content{{/t}}
  </label>
  <label>
    {{#t "select_all_content_subtext"}}The following content types will be imported: Course Settings, Syllabus Body, Modules, Assignments, Quizzes, Question Banks, Discussion Topics, Pages, Announcements, Rubrics, Files, and Calendar Events.{{/t}}
    <br />
    {{#t "select_all_content_subtext_continued"}}Feature Options aren't imported and must be enabled manually in the new course's Settings.{{/t}}
    <br /><br />
  </label>
</div>

{{#if ENV.BLUEPRINT_ELIGIBLE_IMPORT}}
   <div class="importBlueprintSettings" style="margin-left: 2em"></div>
{{/if}}

<div class="radio">
  <label>
    <input type="radio" name="selective_import" value="true">
    {{#t "select_specific_content"}}Select specific content{{/t}}
  </label>
</div>

