<div class="radio">
  <label>
    <input type="radio" name="selective_import" value=false>
    {{#t "select_all_content"}}All content{{/t}}
  </label>
</div>

{{#if ENV.BLUEPRINT_ELIGIBLE_IMPORT}}
   <div class="importBlueprintSettings" style="margin-left: 2em"></div>
{{/if}}

<div class="radio">
  <label>
    <input type="radio" name="selective_import" value=true>
    {{#t "select_specific_content"}}Select specific content{{/t}}
  </label>
</div>

