<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <p>
    <%= f.label :endpoint_uri, en: "URI to POST data to (https://www.somewhere.com/endpoint/path)" %>
    <%= f.text_field :endpoint_uri %>
  </p>
<% end %>
<%= render partial: "plugins/byots_docs" %>
