<% fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td><%= f.blabel :bucket_name, :en => "Bucket Name" %></td>
      <td>
        <%= f.text_field :bucket_name %>
      </td>
    </tr>
  </table>
<% end %>
