<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td><%= f.blabel :session_timeout, :en => "Time before session expires in minutes (20 minimum)" %></td>
      <td><%= f.text_field :session_timeout %></td>
    </tr>
  </table>
<% end %>
