<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <%= mt :description, "Ticketing System setup" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :type, :en => "Ticketing System type" %></td>
      <td><%= f.select :type, Canvas::Plugin.all_for_tag(:byots).map { |p| [p.name, p.id] } %>
    </tr>
  </table>
<% end %>
