<% fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p>
          You will need to create a <a href="http://dev.twitter.com">new app on Twitter</a>.
          Set the following configuration options to ensure your Twitter app
          works correctly:
          <ul>
            <li><b>Application Type:</b> set to "Browser"</li> 
            <li><b>Callback URL:</b> set to https://&lt; domain &gt;/oauth_success?service=twitter</li> 
            <li><b>Default Access type:</b> set to "Read, Write & Private Message"</li>
            <li>After you save your app, make a note of the Consumer key and Consumer secret</li>
          </ul>
          
        </p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :api_key, "Consumer Key:" %></td>
      <td>
        <%= f.text_field :api_key %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :secret_key, "Consumer Secret:" %></td>
      <td>
        <%= f.text_field :secret_key %>
      </td>
    </tr>
  </table>
<% end %>
