<div class="control-group chooseMigrationFile"></div>
<div class="control-group content">
  <label class="control-label"><strong>{{#t "content"}}Content{{/t}}</strong></label>
  <div class="controls selectContent"></div>
</div>
<div class="control-group options">
  <label class="control-label"><strong>{{#t "options"}}Options{{/t}}</strong></label>
  {{#if new_quizzes_migration}}
    <div class="controls importQuizzesNext"></div>
  {{/if}}
   <div class="dateShift"></div>
</div>
