<div class="form-horizontal bootstrap-form" id="enroll_form">
  <p><%= mt :class_full, "Enrollment has filled up for **%{course}**. We apologize for the inconvenience.", :course => @course.name %></p>
</div>