@import "./variables";
@import "./summary_statistics";
@import "./question_statistics";
@import "../../../vendor/css/jquery.qtip";
@import "./ext/qtip";
@import "./components/ic_spinner";

#canvas-quiz-statistics {
  padding: 25px 35px 55px 35px;

  a:not(:disabled) {
    cursor: pointer;
  }

  header.padded {
    padding: $whitespace*2 0;
    line-height: 34px;
  }

  .inline {
    display: inline-block;

    &.sighted-user-content[hidden] {
      display: inline-block;
    }
  }

  .section-title {
    line-height: 1;
    font-weight: bold;
  }

  .answer-set-tabs {
    margin: $whitespace*2 0;

    button {
      display: inline-block;
      background: $inactiveBg;
      color: $inactiveFg;
      font-weight: bold;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;

      & + button {
        margin-left: $whitespace / 2;
      }

      &.active, &:hover {
        background: $activeBg;
        color: $activeFg;
        cursor: pointer;
      }
    }
  }

  .erratic-statistics {
    text-align: center;
    margin-top: 20px;

    img {
      height: 35px;
      width: 218px;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 0;
      line-height: 22px;
      font-size: 14.5px;
    }
  }

  .sighted-user-content[hidden] {
    display: inherit;
  }

  #notifications {
    padding: 0;
    margin: 0;
    list-style: none;
    $dismiss-width: 60px;
    padding-right: $dismiss-width + $whitespace;

    li {
      position: relative;
    }

    .notification {
      vertical-align: middle;
      display: inline-block;
      width: 100%;
    }

    .dismiss-notification {
      display: inline-block;
      position: relative;
      margin-left: -50px;
      right: -60px;
      top: -10px;
    }
  }
}
.canvas-quiz-statistics-noload {
  position: relative;
  #sad-panda {
    display: flex;
    flex-direction: column;
    top: 150%;
    left: 50%;
    position: absolute;
    float: none;
    transform: translate(-50%, -20%)
  }
  p {
    text-align: center;
    margin: 13px 0 10px 0;
  }
  .links {
    margin: 0 auto;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
