<form class="triangle-box-with-header kollectionItemSaveView collection-item">
  <header class="box-header">
    <div class="row-fluid">
      <input type="text" autofocus placeholder="{{#t "say_something_about_this..."}}Say something about this...{{/t}}" class="span12" name="user_comment" value="{{user_comment}}">
    </div>
  </header>
  <div class="box-content">
    <div class="linkDataView"></div>
  </div>
  <div class="button-container border border-t toolbar">
    <span class="SelectKollectionView"></span>
    <button data-text-while-loading="{{#t "saving..."}}Saving...{{/t}}" type="submit" class="button button-default">{{#t "add_to_collection"}}Add to Collection{{/t}}</button>
  </div>
</form>
