@mixin ui-widget-header-bg-and-text {
  border: 1px solid $ic-border-light;
  background: $lightBackground;
}

// mixin for easy retina background images
@mixin bg-image($filename, $filetype, $rep: no-repeat, $bgx: 0, $bgy: 0, $bgcolor: none, $bgw: auto, $bgh: auto) {

  background-color: $bgcolor;
  background-image: url('/images/' + $filename + '.' + $filetype);
  background-repeat: $rep;
  background-position: $bgx $bgy;

  @media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
    background-image: url('/images/' + $filename + '@2x.' + $filetype);
    background-size: $bgw $bgh;
  }
}
