@mixin name_bubbles {
  div {
    padding: $contentBoxPadding;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  span {
    color: $ic-font-color-dark;
    vertical-align: middle;
    display: inline-block;
  }
  a {
    color: $ic-font-color-dark;
    padding-right: $contentBoxPadding;
    cursor: pointer;
    vertical-align: middle;
  }
  white-space: nowrap;
  float: left;
  color: $ic-font-color-dark;
  background-color: $ic-color-medium-light;
  border: 1px solid $ic-border-color;
  border-radius: $borderRadius;
  cursor: default;
  position: relative;
  &.cannot_remove, &.cannot_remove:hover {
    div {
      padding-right: $contentBoxPadding;
    }
  }
}
