@mixin name_bubbles {
  div {
    background-color: #dee7fa;
    border-radius: 10px;
    padding: 0 14px 0 11px;
    display: inline-block;
    overflow: hidden;
  }
  span {
    color: #fff;
    font-size: 0.8em;
    vertical-align: top;
    display: inline-block;
  }
  a {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 13px;
    height: 100%;
    color: #c4cbcf;
    vertical-align: top;
    cursor: pointer;
    background: transparent url(/images/messages/token-delete.png) 12px center no-repeat;
  }
  white-space: nowrap;
  float: left;
  margin: 1px 2px 1px 4px;
  color: #000;
  background-color: #85ace0;
  border: 1px solid #a5bcf0;
  border-radius: 10px;
  cursor: default;
  position: relative;
  &.cannot_remove, &.cannot_remove:hover {
    background-color: $gray-light;
    border-color: $gray-lighter;
    div {
      background-color: $gray-lighter;
      color: $gray;
    }
  }
  &:hover {
    div {
      background-color: #bccef4;
    }
    border-color: #6f94e6;
    a {
      background-position: 1px center;
    }
  }
}

@mixin count-bubble {
  border-radius: 50%;
  background-color: $ic-brand-primary;
  @include fontSize(12px);
  color: #fff;
  background-color: $ic-brand-primary;
  padding: 0.063em 0.438em;
}
