// StrongMind added
// Example: 'turned in' tag on the student view of a must-submit assignment

@mixin chip-appearance {
    background-color: #333333;
    border-radius: 3px;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 800;
    padding: 3px 8px;
    text-transform: uppercase;
}