// use on a UL or a OL to reset
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin vertical-gradient($topColor, $bottomColor) {
  background-image: linear-gradient(to bottom, $topColor, $bottomColor);
}

@mixin accessible_text_replacement {
  display: inline-block;
  text-indent: -999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@mixin unselectable { user-select: none; }

@mixin firefox-white-space-bug-fix {
  white-space: normal;
  height: $baseLineHeight;
  position: relative;
  &:after {
    content: "";
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
    position: absolute;
    right: 0; top: 0;
    height: $baseLineHeight; width: $ic-sp*2.5;
    z-index: 1;
  }
}

// Quick and easy way for times where you want the icon to be
// (usually) larger than the default 16px
// Add this mixin under a parent class, and any icons that are
// children of your class will show at the size specified in the
// $new-icon-size parameter
@mixin overwrite-default-icon-size($new-icon-size) {
  i[class*=icon-], i[class^=icon-] {
    width: auto; height: auto;
    line-height: 1;
    &:before {
      font-size: $new-icon-size;
      top: 0;
    }
  }
}

// Some layouts in Canvas (Speedgrader and Conversations)
// are absolutely positioned full-screen, which can cause problems when
// they are contained by the New UI flexbox-based layout.
// This mixin removes the un-neeeded flex in the layout containers.
@mixin remove-nui-flex-layout {
  @if $use_new_styles {
    .ic-app-main-layout-vertical { display: block; }
    .ic-app-main-layout-horizontal {
      transition: none;
      transform: none;
      flex: none;
      display: block;
      position: static;
      min-height: 100vh;
      body.course-menu-expanded & { transform: none; }
      @include breakpoint(wide) { display: block; }
    }
    .ic-app-main-content {
      flex: none;
      display: block;
    }
    .ic-app-main-content__primary {
      flex: none;
    }
  }
}