#bz-fullscreen_modal {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9001; /* OVER NINE THOUSAAAAAAAAAAAD! */
}

#bz-fullscreen_modal > div {
  position: fixed;
  margin: 4em auto;
  left: 10vw;
  width: 800px;
  width: 80vw;
  background-color: white;
}

#bz-fullscreen_modal > div > h1 {
  height: 2em;
  vertical-align: middle;
  padding: 0px 1em;

}

#bz-fullscreen_modal .bz-fullscreen_modal-body_holder {
  height: 720px;
  height: calc(100vh - 8em /* margin of inner div */ - 2em /* header */ - 3em /* buttons */);
  padding: 0px 2em;
}

#bz-fullscreen_modal .bz-fullscreen_modal-buttons_holder {
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  text-align: right;
}

#bz-fullscreen_modal .bz-fullscreen_modal-buttons_holder > button {
  vertical-align: middle;
  margin-right: 2em;
}

#bz-offline-warning {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
  background-color: #ffff88;
  height: 2.5em;
  width: 100%;
  margin: 0px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 14pt;
  padding: 0.25em;
  padding-top: 0.5em;
}

#bz-late-warning {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1500;
  background-color: #ff8888;
  height: 2.5em;
  width: 100%;
  margin: 0px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 14pt;
  padding: 0.25em;
  padding-top: 0.5em;
}

/*
 The point of this is to hide the element for a while until the scripts get a chance to run,
 so it doesn't freak out students by flashing it for a while.

 Supported browsers will support this fancy feature too, so by the time the script cancels
 the alarm, the animation will not even roll it in.

 Unsupported browsers will show it (at worst, after a few seconds, hopefully immediately),
 even if javascript totally fails.

 {
*/
@keyframes nonSupportedBrowserAnimation {
  0% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(0);
  }
}

#bz-non-supported-browser {
  position: fixed;
  z-index: 1000;
  top: 6em;
  width: 400px;
  background: yellow;
  color: black;
  padding: 2em;
  margin: 0px auto;

  animation: 15s ease-in 0s 1 nonSupportedBrowserAnimation;
}

/* } done with the above */
