<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <style>
    body { background-color: #33373f !important; }
    h3 {
      color: #fff;
      font-family: "Montserrat",sans-serif !important;
      text-rendering: optimizelegibility;
      font-weight: 100 !important;
      line-height: 1.5 !important;
      font-size: 1.5rem !important;
      text-align: center;
      padding-bottom: 80px
    }
    p {
      font-size: 14px;
    }
    .maintenance {
      font-family: "Montserrat",sans-serif;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;

    }
    #logo {
      padding-top: 100px;
      max-width: 400px
    }

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
  <div style="margin-right: auto; margin-left: auto; max-width: 400px">
    <img id="logo" src="https://maintenance-mode-courseware.s3-us-west-2.amazonaws.com/strongmind_logo-20bce9f2f8.svg">
    <h3>Courseware</h3>

  <div id="maintenance-card" class="card text-white bg-warning mb-3" style="max-width: 30rem; background-color: #FDB414 !important;">
    <div class="card-header text-dark fa fa-warning" style="text-align: center;"> <span class="maintenance">Site Maintenance</span></div>
    <div class="card-body" style="background-color: #33373f !important;">
      <p class="card-text">
	Courseware is currently down for scheduled maintenance. 
      </p>
      <p class="card-text">
	We appreciate your patience and apologize for the inconvenience.  
      </p>
      <p class="card-text">
	Please check back soon.
      </p>
    </div>
  </div>
</div>



</body>
</html>
