<% content_for :page_title do %><%= t "group_join_request", "Group Join Request" %><% end %>

<div style="width: 400px; margin: 10px auto;">
  <h2><%= t "group_join_request", "Group Join Request" %></h2>
  <%= t 'group_join_request_info', 'This group has received your request to join.  You\'ll be notified once they accept or reject your request.' %>
</div>
