<% jammit_css :group_profile %>
<% content_for :page_title do %><%= @group.name %><% end %>

<div class="container">
  <div class="row v-gutter">
    <div class="span2 profile-pic-container">
      <%= image_tag group_avatar_url(@group), :class => 'profile-pic' %>
    </div>
    <div class="span8">
      <h1><%= @group.name %></h1>
      <% if @group.is_public? %>
        <p><%= format_message(@group.description || "").first.html_safe %></p>
      <% end %>

      <% if @can_join %>
        <p><button id="join_group">Join</button></p>
      <% elsif not @in_group %>
        <p>This group is not accepting new members at this time.</p>
      <% end %>

      <% if @group.is_public? %>
        <p><button id="follow_group">Follow</button></p>

        <%# TODO: collections go here %>
      <% end %>
    </div>
  </div>
</div>
