<%
  @show_cc_prefs = @current_pseudonym &&
    @current_pseudonym.login_count < 10 &&
    @current_user &&
    !@current_user.fake_student? &&
    !@current_user.used_feature?(:cc_prefs)
%>
<% if @show_cc_prefs %>
<div class="ic-notification">
  <div class="ic-notification__icon" role="presentation">
    <i class="icon-info"></i>
    <span class="screenreader-only">
      <%= accessible_message_icon_text("information") %>
    </span>
  </div>
  <div class="ic-notification__content">
    <div class="ic-notification__message">
      <h4 class="ic-notification__title">
        <%= t("Notifications") %>.
      </h4>
      <span class="notification_message">
        <%= t("Tell us how and when you would like to be notified of events in Canvas.") %>
      </span>
    </div>
    <div class="ic-notification__actions">
      <%= link_to(t("Notification Preferences"), communication_profile_path, :class => "Button Button--small Button--primary", :role => "button") %>
    </div>
  </div>
</div>
<% end %>
