<!--[if IE 7 ]>
<div class="global-message image-block">
  <div class="image-block-image">
    <i class="warning-icon"></i>
    <span class="hidden-inline-text">
      <%= accessible_message_icon_text("warning") %>
    </span>
  </div>
  <div class="image-block-content">
    <div class="title">
      <%= link_to(t('browser_upgrade', 'You should upgrade your browser'), 'http://www.beautyoftheweb.com/#/download', :class => 'not_external') %>
    </div>
    <div class="message">
      <p><%= t 'upgrade_ie7', <<-BODY
      You are using Internet Explorer 7.  This browser is not fully supported by
      Canvas (and many other web sites) and you should consider upgrading.
      Until you upgrade, some portions of Canvas will not be fully functional.
      BODY
      %></p>
    </div>
    <div class="buttons">
      <%= link_to(t('buttons.upgrade', "Upgrade"), 'http://www.beautyoftheweb.com/#/download', :class => "btn btn-primary not_external", :role => "button") %>
    </div>
  </div>
</div>
<![endif]-->
