<%
  js_bundle :dashboard2
  jammit_css :dashboard, :tinymce, :collection_item_save
  @body_classes << "no-page-block"
%>

<% content_for :right_side do %>
  <div class="dashboardActions">
    <ul class="page-action-list">
      <li><a href="#"><i class="icon-add"></i> <%= t 'new_course', 'Add a new course' %></a></li>
      <li><a href="#"><i class="icon-search"></i> <%= t 'find_people', 'Find people on Canvas' %></a></li>
      <li><a href="#"><i class="icon-group-new"></i> <%= t 'start_a_group', 'Start a group' %></a></li>
      <li><a href="#"><i class="icon-collection"></i> <%= t 'create_collection', 'Create a collection' %></a></li>
    </ul>
  </div>
  <div class="dashboardAside"></div>
<% end %>

<div class="quickStartBar not-expanded border border-rbl border-round-b content-callout"></div>
<div class="activityFeed drawerClosed"></div>

