$gradebook_letter-grade-font: lighten($ic-color-dark, 8%);
$gradebook_even-row-color: lighten($ic-color-neutral, 6);
$gradebook_border-color: darken($ic-color-neutral, 7);
$gradebook_late-color: saturate(darken($ic-bg-light-danger, 5), 20);
$gradebook_resubmitted-color: desaturate(darken($ic-bg-light-alert, 7), 2);

.react-gradebook {
  .teacher-note {
    height: 100%;
  }
}

// pretty much everything in this file should eventually
// go within .react-gradebook, but the notes styling is here
// because the notes modal attaches to the 'application'
// div outside of the .react-gradebook
.notes-textarea {
  width: 95%;
  height: 60%;
  resize: none;
}

.notes-body {
  height: 200px;
}

a#accessibility_warning {
  @include accessibility-prompt;
  @include fontSize(14px);
}

#footer {
  display: none;
}

#main {
  margin-bottom: 0;
}

$cell_height: 33px;

.gradebook2 #content {
  position: relative;
  @if $use_new_styles { padding: 0 $ic-sp*2; }
  @else { padding: 0; }
}

#gradebook-grid-wrapper {
  position: relative;
}

.student-name {
  color: #1b7eda;
  text-shadow: #fbf8f8 0 0 1px;
}

.student-grades-link {
  @if $use_high_contrast { color: darken($ic-link-color, 5%); }
}

.meta-cell .avatar {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-right: 4px;
  float: left;
  position: relative;
  z-index: 1;
}

.student-placeholder {
  display: none;
}

.student-section {
  margin-top: -7px;
  @include fontSize(12px);
}

.secondary_identifier_cell, .custom_column {
  color: #333333;
  @include fontSize(12px);
  text-align: center;
  line-height: 35px;
}

// show and hide student names using a parent css class.
.hide-students {
  .student-name, .avatar {
    display: none;
  }
  .student-placeholder {
    display: block;
  }
  .secondary_identifier_cell {
    text-indent: -9999em;
  }
}

.gradebook-header-column {
  background-color: #f3f4f8;
  background-image: none;
  padding: 10px;
  @include fontSize(12px);
  text-align: center;
  font-weight: normal;
  // override jqueryUI style
  &.ui-state-default {
    height: 30px;
  }
  &.hovered-column,
  &.ui-state-hover {
    @if $use_high_contrast { @include vertical-gradient(#eef5fc, #d5e2ed); }
    @else { @include vertical-gradient(#e0ecf9, #bdd2e3); }
  }
  a.assignment-name {
    font-weight: normal;

    text-shadow: white 0 0 1px;
    //this is for the ellipses
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @if $use_high_contrast {
      &:hover, &:focus { text-decoration: underline; }
    }
    @else { color: $ic-link-color; }
  }
  .muted {
    background: url("/images/icon-sound-muted.svg") no-repeat left center;
    background-size: 16px;
    padding-left: 18px;
  }
  .assignment-due-date {
    position: relative;
    bottom: 4px;
    @include fontSize(12px);
    // If high contrast, default to regular dark text
    @if $use_high_contrast == false { color: lighten($ic-font-color-dark, 15%); }
  }
  .gradebook-header-drop {
    //put it above the "out of"
    z-index: 1;
    width: 14px;
    height: 14px;
    position: absolute;
    outline: none;
    right: 3px;
    bottom: 3px;
    text-indent: 999px;
    opacity: 0;
    //override jqueryui blue border
    border: 0 none;

    @if $use_high_contrast {
      background: url("/images/jqueryui/gradebook-header-drop2-high-contrast.png") no-repeat top left;
      @media (min--moz-device-pixel-ratio: 1.5),
      (-o-min-device-pixel-ratio: 3/2),
      (-webkit-min-device-pixel-ratio: 1.5),
      (min-device-pixel-ratio: 1.5),
      (min-resolution: 1.5dppx) {
        background-image: url("/images/jqueryui/gradebook-header-drop2-high-contrast@2x.png");
        background-size: 14px 28px;
      }
    }

    @else {
      background: url("/images/jqueryui/gradebook-header-drop2.png") no-repeat top left;
      @media (min--moz-device-pixel-ratio: 1.5),
      (-o-min-device-pixel-ratio: 3/2),
      (-webkit-min-device-pixel-ratio: 1.5),
      (min-device-pixel-ratio: 1.5),
      (min-resolution: 1.5dppx) {
        background-image: url("/images/jqueryui/gradebook-header-drop2@2x.png");
        background-size: 14px 28px;
      }
    }

    &:hover, &.ui-menu-trigger-menu-is-open {
      background-position: bottom left;
      opacity: 1;
    }
  }
  &:hover .gradebook-header-drop {
    opacity: 1;
  }
}

.gradebook-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gradebook-cell-turnitin {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  width: 20px;
  height: 16px;
  &.no-score {
    background-image: url(/images/turnitin_no_score.png);
  }
  &.none-score {
    background-image: url(/images/turnitin_none_score.png);
  }
  &.acceptable-score {
    background-image: url(/images/turnitin_acceptable_score.png);
  }
  &.warning-score {
    background-image: url(/images/turnitin_warning_score.png);
  }
  &.problem-score {
    background-image: url(/images/turnitin_problem_score.png);
  }
  &.failure-score {
    background-image: url(/images/turnitin_failure_score.png);
  }
}

.gradebook-cell-comment {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 12px;
  width: 12px;
  z-index: 2;
  overflow: hidden;
  visibility: hidden;

  @if $use_high_contrast {
    background: url("/images/gradebook-comments-sprite3-high-contrast.png") no-repeat 100% 0;
    @media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {
      background-image: url("/images/gradebook-comments-sprite3-high-contrast@2x.png");
      background-size: 17px 105px;
    }
  }

  @else {
    background: url("/images/gradebook-comments-sprite3.png") no-repeat 100% 0;
    @media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {
      background-image: url("/images/gradebook-comments-sprite3@2x.png");
      background-size: 17px 105px;
    }
  }

  &.active {
    visibility: visible;
    background-position: 100% -41px;
    width: 25px;
    height: 25px;

    &:hover {
      background-position: 100% -88px !important;
      width: 25px;
      height: 25px;
    }
  }
}

.gradebook-cell:hover a.gradebook-cell-comment {
  visibility: visible;
  background-position: 100% -41px;
  width: 25px;
  height: 25px;

}
.gradebook-cell:hover a.gradebook-cell-comment:hover {
  background-position: 100% -88px !important;
}

.gradebook-cell-comment-label {
  @include hide-text;
  display: inline-block;
}

.gradebook-cell-editable {
  height: $cell_height - 1px -8px;
  padding-top: 8px;
  margin: 0;
  border: 1px solid #35a5e5;
  background-color: white;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.gradebook-cell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .grade {
    border: none;
    text-align: center;
    outline: none;
    @include fontSize(12px);
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none !important;
  }
  .grade::-webkit-outer-spin-button {
    display: none;
  }
  .grade::-ms-clear {
    display: none;
  }
}

.points-input {
  .out-of-grade {
    text-align: right;
  }

  .out-of-float {
    float: left;
    width: 50%;

    .divider {
      padding: 0 2px 0 2px;
    }

    .grade::-webkit-outer-spin-button {
      display: none;
    }
  }

  .out-of-points {
    padding-top: 1px;
    text-align: left;
    @if $use_high_contrast == false { color: #888888; }
  }
}

$gradebook_checkbox_width: 16px;

.gradebook-checkbox {
  @include hide-text;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $gradebook_checkbox_width;
  height: $gradebook_checkbox_width;
  margin-top: -$gradebook_checkbox_width / 2;
  margin-left: -$gradebook_checkbox_width / 2;
  background: url("/images/checkbox_sprite3.png") no-repeat 0 0;
  &.gradebook-checkbox-complete {
    background-position: -48px 0;
  }
  &.gradebook-checkbox-incomplete {
    background-position: -64px 0;
  }
  &.editable {
    &.gradebook-checkbox-complete {
      background-position: -16px 0;
    }
    &.gradebook-checkbox-incomplete {
      background-position: -32px 0;
    }
  }
}

#hide_warning {
  vertical-align: top;
}

.minimized {
  background-image: url("/images/4_percent_opacity.png");
  .gradebook-cell {
    @include fontSize(0px);
    * {
      display: none;
    }
  }
}

#gradebook-toolbar {
  position: relative;
  background-color: transparent;
  border: transparent;
  @if $use_new_styles {
    padding: $ic-sp;
    border-top: none;
    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
    }
  }
  @else {
    height: 38px;
    padding: 6px 10px;
    border-left: none;
    border-right: none;
  }
}

.gradebook_dropdowns {
  display: inline-block;
}

.gradebook_filter {
  display: inline-block;
  input {
    width: 248px;
  }
  @if $use_new_styles {
    @include breakpoint(desktop) {
      margin-left: $ic-sp/3;
    }
  }
}

.gradebook_menu {
  @if $use_new_styles {
    margin-top: $ic-sp/3;
    @include breakpoint(desktop) {
      white-space: nowrap;
      margin-top: 0;
      flex: 1;
      text-align: right;
    }
  }
  @else {
    position: absolute;
    right: 10px;
    top: 6px;
  }
}

@mixin gradebook_menu_label($fontsize) {
  @include fontSize($fontsize);
  font-weight: bold;
  margin-bottom: 0;
  vertical-align: 0px !important;
  position: relative;
  line-height: 1.5;
}

#section-to-show-menu {
  width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 275px;
  label {
    @include gradebook_menu_label(12px);
  }
  .ui-state-focus:last-child {
    margin: 0 !important;
  }
}

.post-grades-placeholder {
  display: inline-block;
}

.submission_type_icon {
  display: block;
  width: 100%;
  height: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  .online_text_entry & {
    background-image: url("/images/text_entry.png");
  }
  .discussion_topic & {
    background-image: url("/images/word_bubble.png");
  }
  .online_upload & {
    background-image: url("/images/file.png");
  }
  .pending_review & {
    background-image: url("/images/pending_review.png");
  }
  .media_comment &, .media_recording & {
    background-image: url("/images/media_comment.gif");
  }
  .quiz & {
    background-image: url("/images/quiz.png");
  }
}

.letter-grade-points,
.gpa-scale-points {
  position: absolute;
  @include fontSize(12px);
  padding-left: 8px;
  line-height: 19px;
  color: $gradebook_letter-grade-font;
}

.final-warning {
  margin-left: -16px;
}

.gradebook_dropdown, .export_dropdown {
  display:none;
  li, label {
    @include gradebook_menu_label(13px);
    cursor:pointer;
  }
}

.ui-menu .ui-menu-item.ui-state-disabled {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.ui-menu-item.ui-state-disabled label {
  margin-bottom: 0;
  vertical-align: 0;
}

.post-grades-menu {
  li.external-tools-dialog,
  li.post-grades-placeholder {
    cursor: pointer;
  }
  li.external-tools-dialog.ellip {
    cursor: default;
  }
}

// Very specific declaration to get Choose a Section text to have better text:background contrast in Section dropdown
#section-to-show-menu {
  li:first-of-type.ui-state-disabled {
    opacity: 0.8;
  }
}

// Fixed Data Table overrides

#gradebook_grid {
  [data-reactid$="$header"] {
    box-shadow: 0px 1px 4px rgba(28, 28, 28, 0.2);
  }

  .gradebook-cell{
    overflow-x: hidden;
    white-space: nowrap;
    height: 36px;
    box-sizing: border-box;
    margin-right: 1px;
    padding: 5px;
    border: 1px solid transparent;
    text-align: center;
    border-bottom: 1px solid $gradebook_border_color;

    .student-name {
      text-align: left;
    }

    &.active {
      border-color: $ic-brand-primary !important;
    }

    &.late {
      background-color: $gradebook_late-color;
    }
    &.resubmitted {
      background-color: $gradebook_resubmitted-color;
    }
    &.grayed-out {
      background-color: $grayLighter;
    }
  }

  .assignment-grade-cell {
    font-weight: 400;
  }


  .gradebook-header-column {
    background-color: $gradebook_even-row-color;
    height: 39px;
    padding-top: 2px;
    padding-bottom: 2px;
    &.title {
      padding-top: 8px;
      font-weight:bold;
      text-shadow: white 0 0 1px;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .public_fixedDataTableRow_highlighted,
  .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: $gradebook_even-row-color !important;
  }
}

#gradebook-toolbar {
  padding-left: 0;
  padding-right: 0;
}

#react-gradebook-canvas {
  outline: none;
}
