<div class="row">
  <div class="span12">
    <h1>{{#t 'gradebook_individual_view'}}Gradebook: Individual View{{/t}}</h1>
    <em>
      {{#t 'save_instructions'}}Note: Grades and notes will be saved automatically after moving out of the field.{{/t}}
    </em>
    <p>
      <a href="{{ unbound changeGradebookVersionUrl }}">{{#t "switch_to_gradebook2"}}Switch gradebooks{{/t}}</a>
    </p>
  </div>
</div>