{{!
Copyright (C) 2014 - 2017 Instructure, Inc.

This file is part of Canvas.

Canvas is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, version 3 of the License.

Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along
with this program. If not, see <http://www.gnu.org/licenses/>.
}}

<div class="row">
  <div class="span12">
    <h1>{{#t 'gradebook_individual_view'}}Gradebook: Individual View{{/t}}</h1>
      {{#t 'save_instructions'}}Note: Grades and notes will be saved automatically after moving out of the field.{{/t}}
    <p>
      <a id="switch_to_default_gradebook" href="{{ unbound changeGradebookVersionUrl }}">{{#t "switch_to_gradebook"}}Switch to Default Gradebook{{/t}}</a>
    </p>
  </div>
</div>
