<div id="app_{{id}}">
  <img class="banner_image" src="{{banner_url}}"></img>
  <div class="details">
    <div class="content">
      <span class='name'>{{ name }}</span>
      <div class='desc'>{{{ truncate description 160 }}}</div>
    </div>
  </div>
</div>
