<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Extensions</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody class="collectionViewItems"></tbody>
</table>
<div class="paginatedLoadingIndicator" style="display: none"></div>
