<table class="table table-striped">
  <caption>{{#t "app_headder"}}External Apps{{/t}}</caption>
  <thead>
    <tr>
      <th scope="col" >Name</th>
      <th colspan="2" scope="col" >Extensions</th>
    </tr>
  </thead>
  <tbody class="collectionViewItems"></tbody>
</table>
<div class="paginatedLoadingIndicator" style="display: none"></div>
