<div class="before_external_content_info_alert screenreader-only" tabindex="0">
  <div class="ic-flash-info">
    <div class="ic-flash__icon" aria-hidden="true">
      <i class="icon-info"></i>
    </div>
    {{t 'The following content is partner provided'}}
  </div>
</div>
<iframe
  tabindex="0"
  class="tool_launch"
  src="{{launch_url}}"
  title="{{#t}}Tool content{{/t}}"
  allow="{{allowances}}"
>
</iframe>
<div class="after_external_content_info_alert screenreader-only" tabindex="0">
  <div class="ic-flash-info">
    <div class="ic-flash__icon" aria-hidden="true">
      <i class="icon-info"></i>
    </div>
    {{t 'The preceding content is partner provided'}}
  </div>
</div>
