<h2 class="page-header">{{#t "external_tools"}}External Tools{{/t}}
  <button class="btn view_tools_link lm pull-right">
    {{#t "view_installed_tools"}}View Installed Tools{{/t}}
  </button>
  <button class="btn view_app_center_link lm pull-right">
    {{#t "view_app_center"}}View App Center{{/t}}
  </button>
  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_new_tool"}}Add New Tool{{/t}}
  </button>
</h2>

<p class="well well-small">
  {{#t "external_tools_note"}}External Tools are an easy way to add new features to Canvas. They can be added to individual courses, or to all courses in an account. Once configured, you can link to them through course modules and create assignments for assessment tools.{{/t}}<br/><br/>{{#t "external_tools_references"}}Click <a href="https://edu-apps.org">here</a> to see some LTI tools that work great with Canvas. You can also check out the Canvas Community topics about LTI tools <a href="http://help.instructure.com/entries/20878626-lti-tools-and-examples"> here</a>{{/t}}
</p>

<div data-view="appCenter"></div>
<div data-view="externalTools"></div>
<div data-view="appFull"></div>
<form data-view="addApp" class="form-dialog"></form>