<fieldset class="rate_app_wrapper">
  <div class="row-fluid">
    <h5 class="span12">{{#t "rate_tool"}}How do you rate this tool?{{/t}}
      <div id="rate-app-star" class="pull-right"></div>
    </h5>
  </div>
  <div class="row-fluid">
    <textarea name="review_text" class="span12" rows="6"></textarea>
  </div>
</fieldset>