@import 'base/environment';

.progress-title {
  text-align: center;
  font-weight: bold;
}

.progressbar {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.group-category-contents {
  background: $wellBackground;
  border-color: darken($wellBackground, 7%);
  border-style: solid;
  border-width: 1px 0px;
  padding: 1em 1.5em;
  min-height: 350px;
}

.group-category-contents-condensed {
  padding: 0;
  .groups {
    > p {
      margin: 1em;
    }
    > .paginatedLoadingIndicator {
      margin-top: 1em;
    }
  }
}

.groups {
  > .collectionViewItems {
    margin: -1px 0 0;
  }
  > h2 {
    border-bottom: 1px solid #c2c8d0;
  }
  > p {
    margin: 1em 0;
  }
}

.group-category-summary {
  min-height: 32px;
  margin: 0 1em 1em;
  background: #fff;
  .group-category-actions {
    margin-left: 1em;
  }
  .student-organized-groups {
    overflow: hidden; // so it doesn't overlap with the button/cog
  }
}

.group-heading {
  padding: 10px 8px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
  margin: 0;

  &.unassigned-users-heading {
    padding: 10px 0;
  }
}

a.group-heading:hover {
  color: inherit;
  text-decoration: none;
}

.unassigned-students {
  &.droppable-hover {
    background-color: $droppableBackground;
  }

  input[type=text] {
    box-sizing: border-box;
    height: $baseLineHeight + 8; // adjust default for box-sizing
    width: 100%;
    margin: 8px 0;
  }

  .no-results {
    background: transparent;
    border: 0;
    margin: 8px;
    padding: 0;
    width: 80;
  }
}
