@import 'base/environment';

.accessibility-warning {
  @include accessibility-prompt;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  @include fontSize(12px);
  &:focus{
    left: 0;
    top: 36px;
    width: auto;
    height: auto;
    z-index: 1;
  }
}

.progress-title {
  text-align: center;
  font-weight: bold;
}

.progressbar {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.group-category-contents {
  background: $wellBackground;
  border-color: $ic-border-color;
  border-style: solid;
  border-width: 1px 0px;
  padding: 1em 1.5em;
  min-height: 350px;
}

.group-category-contents-condensed {
  padding: 0;
  .groups {
    > p {
      margin: 1em;
    }
    > .paginatedLoadingIndicator {
      margin-top: 1em;
    }
  }
}

.groups {
  > .collectionViewItems {
    margin: -1px 0 0;
  }
  > h2 {
    border-bottom: 1px solid #c2c8d0;
  }
  > p {
    margin: 1em 0;
  }
}

.group-category-summary {
  padding: 0 $ic-sp;
  margin-bottom: $ic-sp;

  @include breakpoint(desktop) {
    display: flex;
    align-items: flex-end;
  }

  .student-organized-groups {
    overflow: hidden; // so it doesn't overlap with the button/cog
  }
}

.group-category-summary__search {
  margin-bottom: $ic-sp / 2;

  @include breakpoint(desktop) {
    margin-bottom: 0;
    margin-right: $ic-sp * 2;
  }
}

.group-category-summary__detail {
  flex: 1;
}

.group-category-summary__detailLayout {
  @include breakpoint(tablet) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.group-category-summary__messages {
  flex: 1;
  margin-bottom: $ic-sp / 2;

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }
}

.group-heading {
  padding: 10px 8px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
  margin: 0;

  &.unassigned-users-heading {
    padding: 10px 0;
  }
}

a.group-heading:hover {
  color: inherit;
  text-decoration: none;
}

.unassigned-students {
  &.droppable-hover {
    background-color: $droppableBackground;
  }

  input.filterable-unassigned-users {
    margin-bottom: $ic-sp/2;
  }

  .no-results {
    background: transparent;
    border: 0;
    margin: 8px;
    padding: 0;
    width: 80;
  }
}
