.group_categories_area {
  min-height: 250px;
}

#group_categories_tabs {
  margin: 0 -1em -1em;
  > .collectionViewItems {
    padding: 10px 0 0 1em;
    border-bottom: 0px;
  }
  > .tab-panel {
    position: relative;
    // moved from tab ul, because IE9 is dumb
    border-top: 1px solid #aaaaaa;
  }
}

.group-edit-dialog {
  .outlet > .control-group {
    margin: 20px 0;
  }
}
.group-categories-actions {
  height: 36px;
  padding-bottom: 10px;
  z-index: 1;
  position: relative;
}
