.group_categories_area {
  min-height: 250px;
}
.headerBar {
  margin-bottom: 15px;
  .headerBar-right {
    float: right;
  }
}
.group-edit-dialog {
  .outlet > .control-group {
    margin: 20px 0;
  }
}
