.group-user {
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 3px;
  padding: 0 15px 0 0;
  line-height: 30px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  &.ui-draggable-dragging {
    cursor: move;
  }

  &.group-user-highlight {
    animation: highlight-shadow-fade ease-in 1s;
    -webkit-animation: highlight-shadow-fade ease-in 1s;
    -moz-animation: highlight-shadow-fade ease-in 1s;
  }
}

.remove-from-group,
.assign-to-group {
  position: absolute;
  top: 0px;
  right: 3px;
  top: 1px;
  i:before {
    color: #aaa;
    font-size: 0.8em;
  }
}

.assign-to-group {
  position: absolute;
  top: 0px;
  right: 1px;
}

.group .group-users {
  margin: 1.25em -8px -8px;
  padding: 8px;
  overflow: hidden;
  .collectionViewItems {
    width: 103%;
  }
}

.group .group-user {
  float: left;
  width: 31%;
  margin: 0 2% 3px 0;
  .group-category-contents-condensed & {
    width: 23.5%;
    margin: 0 1% 3px 0;
  }
  box-sizing: border-box;
  .group-user-name {
    margin-right: 0;
  }
}

.group-user-name {
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: #777;
}

.group-users .paginatedLoadingIndicator {
  clear: both;
}
