<div class="avatar-nav">
  <div class="avatar-nav-dropdown text-left">
    <label for="avatarDropdown" style="display: block; font-weight: bold;">
      {{#t "avatar.dropdown"}}Picture Options{{/t}}
    </label>
    <select id="avatarDropdown" class="span3">
      {{#if hasFileReader}}
        <option value="#upload-picture">{{#t}}Upload a Picture{{/t}}</option>
      {{/if}}
      {{#if hasGetUserMedia}}
        <option value="#take-picture">{{#t}}Take a Picture{{/t}}</option>
      {{/if}}
      {{#if enableGravatar}}
        <option value="#from-gravatar">{{#t}}From Gravatar{{/t}}</option>
      {{/if}}
    </select>
  </div>
</div>

<div class="avatar-content">
  <div class="active" id="upload-picture"></div>
  <div id="take-picture" class="text-center"></div>
  <div id="from-gravatar" class="text-center"></div>
</div>
