<div class="avatar-nav">
  <ul class="nav nav-pills">
    {{#if hasFileReader}}
      <li class="active">
        <a href="#upload-picture">{{#t}}Upload a Picture{{/t}}</a>
      </li>
    {{/if}}
    {{#if hasGetUserMedia}}
      <li>
        <a href="#take-picture">{{#t}}Take a Picture{{/t}}</a>
      </li>
    {{/if}}
    {{#if enableGravatar}}
      <li>
        <a href="#from-gravatar">{{#t}}From Gravatar{{/t}}</a>
      </li>
    {{/if}}
  </ul>
</div>

<div class="avatar-content">
  <div class="active" id="upload-picture"></div>
  <div id="take-picture" class="text-center"></div>
  <div id="from-gravatar" class="text-center"></div>
</div>
