<img class="content-box gravatar-preview-image" aria-label="gravatar"></img>
<div class="content-box-mini gravatar-label">
  <label for="gravatar-preview-input">
    {{#t "enter_gravatar_email_below"}}enter your <a href="http://gravatar.com/" target="_blank">Gravatar</a> email address below{{/t}}
  </label>
</div>
<div class="input-append">
  <input type="text" class="gravatar-preview-input" id="gravatar-preview-input" />
  <button class="btn gravatar-preview-btn">
    {{#t "button.preview"}}Preview{{/t}}
  </button>
</div>
