<% if can_do @account, @current_user, :read_roster %>
  <h2><%= t 'titles.find_user', "Find A User" %></h2>
  <div class="rs-margin-lr">
    <% form_for :user, :url => account_users_path(@account), :html => {:id => "new_user", :method => :get} do |f| -%>
      <fieldset class="textfield-inline-with-button">
        <input id="user_name" name="user[name]" value="<%= @query %>" />
        <button class='button small-button'><%= t 'buttons.go', "Go" %></button>
      </fieldset>
    <% end -%>
  </div>

  <% js_block do %>
    <script type="text/javascript">
    require([
      'jquery' /* jQuery, $ */,
      'jqueryui/autocomplete' /* /\.autocomplete/ */
    ], function($) {

      $(function(){
        $("#new_user").find("#user_name").autocomplete({
          minLength: 4,
          delay: 150, //miliseconds
          source: $("#new_user")[0].action + ".json",
          select: function(event, ui){
            window.location = $("#new_user")[0].action + "/" + ui.item.id;
          }
        });
      });
    });
    </script>
  <% end %>
<% end %>
