<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<footer role="contentinfo" id="footer" class="ic-app-footer">
  <a href="http://www.instructure.com" class="footer-logo ic-app-footer__logo-link">
    <span class="screenreader-only">
      <%= t(:by_instructure, 'By Instructure') %>
    </span>
  </a>
  <div id="footer-links" class="ic-app-footer__links">
    <% if Setting.get("show_opensource_linkback", "false") == "true" %>
      <a href="http://instructure.com"><%= t('open_source_learning_management_system', 'Open Source LMS') %></a>
    <% end %>
    <%= render :partial => 'shared/footer_links' %>
  </div>
</footer>
