<div style="margin-top: 20px; display: none;">
  <a href="#" class="custom_search_results_link find"><%= t 'links.search_for_resources', 'Search for Open Resources Related to this Page' %></a>
</div>
<div id="custom_search_results_dialog" style="display: none;">
  <div id="cse" style="width: 100%;"><%= t 'status.loading', 'Loading' %></div>
</div>
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'en'});

require([
  'jquery' /* $ */
], function($) {
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('014949904870326116447:l9dhnd4kuni');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
    $("#custom_search_results_dialog").data('searchControl', customSearchControl);
  }, true);
});
</script>

