<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <script src="js/scripts.js"></script>

  <h3>END USER LICENSE AGREEMENT</h3>

  <p>This End User License Agreement (“Agreement”) is made between StrongMind, Inc. (“StrongMind”) and you (“You”) and the organization you represent (“Licensee”) that is using StrongMind’s online educational platform.  This is a legally binding contract between You and StrongMind, which covers Your use of curriculum and other educational software made available on this website. If You do not agree to the terms of this Agreement, then do not install or use the Software (defined herein). By explicitly accepting this Agreement by clicking on the link below, You are acknowledging and agreeing to be bound by the terms within this Agreement. Further, StrongMind may update the terms of this Agreement and it is Your responsibility to check back for updates.  Your continued use of the Software, Curriculum, and Intellectual Property after any such update constitutes Your acceptance of the updated Agreement.</p>
  <br>

  <strong><p>1. DEFINITIONS</p></strong>
  <br>
  <p>1.1. <strong>StrongMind Online Course Catalog</strong> means the then-current course catalog provided by StrongMind during the term of this Agreement and all the courses set forth therein, which may be updated from time to time during the term of the Agreement in StrongMind’s sole discretion.</p>
  <br>
  <p>1.2. <strong>Content</strong> means any and all educational materials including but not limited to tests, quizzes, workbooks, textbooks, handouts, worksheets, and other similar materials provided by StrongMind to Licensee.</p>
  <br>
  <p>1.3. <strong>Copyrights</strong> include any copyrightable subject matter, registered and unregistered copyrights, and subject matter that could be protected by copyright if fixed in a tangible medium including the Software, object code, and source code provided by StrongMind to Licensee for the operation of the Online Program.</p>
  <br>
  <p>1.4. <strong>Course</strong> includes any one of the courses listed in StrongMind Online Course Catalog.</p>
  <br>
  <p>1.5. <strong>Curriculum</strong> is the listing of Courses set forth in the StrongMind Online Course Catalog, all the Content provided by StrongMind to Licensee as part the Software used to provide the Curriculum to students, and the Intellectual Property embodied within the Curriculum.</p>
  <br>
  <p>1.6. <strong>Derivative Works</strong> has the meaning set forth in Title 17 of the United States Code.</p>
  <br>
  <p>1.7. End <strong>User</strong> is a person who accesses and uses the Software on their own behalf as a Licensee or on the Licensee’s behalf as part of his or her duties and obligations to Licensee.</p>
  <br>
  <p>1.8. <strong>Intellectual Property</strong> means any patents, patent applications, patentable subject matter irrespective of whether a patent application has been filed, trademarks, service marks, domain names, trade dress, trade secrets, Copyrights, moral rights, know-how, modifications, Derivative Works, improvements, additions, modifications, and other similar intellectual property rights embodied within or related to the Curriculum, Course, StrongMind Online Course Catalog, or Software.</p>
  <br>
  <p>1.9. <strong>Online Program</strong> means the educational program that Licensee provides to End Users that utilizes the Software.</p>
  <br>
  <p>1.10. <strong>Password</strong> is any code, word, number, symbol, combinations thereof, or anything else that enables You to gain access to the Software.</p>
  <br>
  <p>1.11. <strong>Software</strong> means any software program that StrongMind provides to Licensee.</p>
  <br>
  <p>1.12 User <strong>Provided Content</strong> means any content uploaded, posted, e-mailed, or otherwise made available to the Software by an End User, including on behalf of a Licensee.</p>
  <br>
  <strong><p>2. LICENSE GRANT AND RESTRICTIONS</p></strong>
  <br>
  <p>2.1. <strong>Grant of License.</strong> Subject to Your strict compliance with the terms and conditions of this Agreement, StrongMind hereby grants to You a non-transferrable, non-sub-licensable, non-exclusive license (“License”) for the sole purposes of using the Curriculum, Software, and Intellectual Property to enable End User to participate the Online Program.  No other rights to are granted and are expressly reserved by StrongMind.</p>
  <br>
  <p>2.2. <strong>Improvements, Derivative Works and Modified Software </strong> You agree to assign all right, title, and interest to and hereby assign any ownership of any Derivative works, improvements, or modifications of the Intellectual Property and all rights to the Software to StrongMind that You currently have or which may vest in You as the End User.  Furthermore, You hereby grant StrongMind power of attorney to effectuate Your obligations under this Section.</p>
  <br>
  <p>2.3 Consent <strong>to use of Data.</strong>  As an express condition of the license granted herein, You expressly agree and acknowledge that StrongMind may collect and use technical data and related information, including but not limited to technical information about your device, system and application software and peripherals, that are gathered to facilitate the provision of product support and other services to you related to the License.</p>
  <br>
  <p>2.3. <strong>Restrictions and Requirements of Use.</strong></p>
  <br>
  <p>2.3.1. Except as expressly provided in Section 2.1, no other license or right in the Software is granted to You under this Agreement directly, by implication, or otherwise.  Without limiting the generality of the foregoing and notwithstanding anything to the contrary in this Agreement, You may not:</p>
  <br>
  <p>2.3.1.1. Remove any copyright notice, proprietary information notices, or other notice (collectively, Copyright Notice) provided by StrongMind, including, without limitation, any Copyright Notice contained in the Software provided by StrongMind.</p>
  <br>
  <p>2.3.1.2. Assign, sublicense, lease, or in any other way transfer or disclose the Curriculum, Software, or Intellectual Property to any third party.</p>
  <br>
  <p>2.3.1.3. Utilize the Software in a manner to prepare, draft, or assist third parties in preparing or drafting software, materials, educational curriculum, texts, websites, or any other such material that is similar to the Software, StrongMind educational material, or Online Program subject to this License.</p>
  <br>
  <p>2.3.1.4. Reproduce or use any part of the Curriculum, Software, and Intellectual Property except as provided in this Agreement.</p>
  <br>
  <p>2.3.1.5. Reproduce, modify, decompile, reverse engineer, disassemble, or otherwise reduce the Software to a human-readable form.</p>
  <br>
  <p>2.3.1.6. Utilize the Software, Curriculum, and Intellectual Property in any way (including any disclosure to any third party) to compete with StrongMind or develop a similar and/or competing curriculum, software, or educational product for 2 (two) years after termination of this Agreement.</p>
  <br>
  <p>2.3.1.7 Upload, post, transmit or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, inappropriate, invasive of another's privacy (up to, but not excluding any address, email, phone number, or any other contact information without the written consent of the owner of such information), hateful, racial, or otherwise objectionable.</p>
  <br>
  <p>2.3.1.8. Impersonate any person or entity, including, but not limited to, a teacher, administrator, forum leader, other user, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity, including an affiliation with StrongMind.</p>
  <br>
  <p>2.3.1.9. Share Your Password with others or allow any third party to log into the Software with your Password.</p>
  <br>
  <p>2.3.1.10. Interfere with or disrupt the Software or servers or networks utilized to provide the Software to others, or disobey any requirements, procedures, policies or regulations of such networks.</p>
  <br>
  <p>2.3.1.11. Use the Software to intentionally or unintentionally violate any applicable local, state, national or international law.</p>
  <br>
  <p>2.3.1.12. Use the Software to stalk, bully or otherwise harass another user and/or any third-party.</p>
  <br>
  <p>2.3.13. Solicit Passwords or personal identifying information for commercial or unlawful purposes from other users.</p>
  <br>
  <p>2.3.2. The restrictions set forth in Section 2.3.1 shall apply equally to attempts to perform the restricted activities, regardless of whether or not any such attempt is successful.</p>
  <br>
  <p>2.3.3. Your breach of this Section 2 shall allow StrongMind to terminate this Agreement for cause and Your access to the Curriculum, Intellectual Property, and Software.</p>
  <br>
  <p>2.4. <strong>Injunctive Relief.</strong> You acknowledge and agree that StrongMind will suffer irreparable damage in the event of a breach by You of the terms of Section 2 of this Agreement and that StrongMind will be entitled to injunctive relief (without the necessity of posting a bond or proving actual damages) in the event of any such breach.
  <br>
  <strong><p>3. INTELLECTUAL PROPERTY</p></strong>
  <br>
  <p>3.1.  StrongMind Intellectual Property Rights.  Any and all Intellectual Property relating to the Curriculum, Course, StrongMind Online Course Catalog, or Software is and shall remain property of StrongMind.  StrongMind’s trademarks including but not limited to its name and other related images, graphics, logos, service marks, and trade names, whether registered or not, and used on or in connection with the Software are the trademarks of StrongMind and may not be used without permission in connection with any third-party products or services.
  <br>
  <p>3.2. <strong>Third Party Intellectual Property Rights.</strong> The Software may contain certain intellectual property such as copyrights, patents, trademarks, service marks of third parties (collectively “Third Party Content”).  The intellectual property of the Third Party Content is governed by policies set in place and prepared by the owners of the Third Party Content and You agree to abide by those policies.  Your failure to abide by policies for Third Party Content enables StrongMind (or others who own the Third Party Content) to terminate your use of Third Party Content.  For a specific listing of providers of Third Party Content, please feel free to contact us.
  <br>
  <p>3.3. <strong>Domain Names / Social Media.</strong> You shall not acquire or use any internet address (such as a domain name) or set up any accounts on any social media websites or applications (such as Facebook® or Twitter®) containing the trademarks, a portion thereof, or anything confusingly similar thereto.
  <br>
  <p>3.4. <strong>Suspicion of Infringement.</strong> If You believe that any material on the websites used for the Online Program or otherwise provided by StrongMind infringes upon any copyright that You own or controls, You may send a written notification of such infringement to our designated agent identified below. Such notification is provided under the Digital Millennium Copyright Act (DMCA), 17 U.S.C. § 512(c) (3) and must contain substantially the following information:</p>
  <br>
  <p>1. Identification in sufficient detail that the copyrighted work or intellectual property that You claim has been infringed so that StrongMind can locate the material.</p>
  <br>
  <p>2. Identification of the URL or other specific location on website that contains the material that You claim infringes Your copyright described in Item one above.</p>
  <br>
  <p>3. Provision of the electronic or physical signature of the owner of the copyright or a person authorized to act on the owner's behalf.</p>
  <br>
  <p>4. Statement by You that You have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</p>
  <br>
  <p>5. Statement by You that the information contained in Your notice is accurate and that You attest under the penalty of perjury that You are the copyright owner or that You are authorized to act on the copyright owner's behalf.</p>
  <br>
  <p>6. Provision of StrongMind’s name, mailing address, telephone number, and email address. You may send your Notification of Alleged Copyright Infringement to our designated agent by fax, mail, or E-Mail as set forth below:
  StrongMind, Inc.</p>
  <br>
  <p>Attn: J. Damon Ashcraft, Esq.<br>
  Snell and Wilmer, LLP<br>
  One Arizona Center<br>
  400 E. Van Buren St.<br>
  Phoenix, AZ 85004<br>
  Phone: 602-382-6389<br>
  Fax:602-382-6070<br>
  dashcraft@swlaw.com<br></p>
  <br>
  <p>3.4. <strong>Breach of this Section.</strong> Your breach of any obligations under this Section shall be a material breach of this Agreement and will allow StrongMind to terminate this Agreement for cause.</p>
  <br>
  <strong><p>4.  USER PROVIDED CONTENT</p></strong>
  <br>
  <p>4.1.  Responsibility for User Provided Content.  Our system may allow you to upload certain content that you create or obtain from a third party which you choose to incorporate into our program. This includes tests, presentations, videos, or anything else that you may upload into our system to enhance your experience.  You acknowledge that you are solely responsible for any and all User Provided Content provided by You.  Further, you hereby expressly permit StrongMind to identify You as the contributor of User Provided Content submitted by You, in any publication in any form, media, or technology now known or later developed, in connection with the User Provided Content.</p>
  <br>
  <p>4.2    License.  You hereby grant StrongMind an irrevocable, sub-licensable, worldwide, royalty-free license to use, copy, distribute, and create derivative works of your User Provided Content.  This is a license and You retain all ownership of your User Provided Content—StrongMind does not own such User Provided Content.</p>
  <br>
  <p>4.2. Ownership of User Provided Content.  You acknowledge that by providing User Provided Content to StrongMind, You also grant StrongMind permission to freely display, reproduce, transmit, modify, and otherwise use the User Provided Content in any way it sees fit, without any further authorization or consent by You, including providing other Users of the Software with access to the User Provided Content.</p>
  <br>
  <p>4.3. User Provided Content Intellectual Property Rights.  You acknowledge that you have the right and authorization to transmit the User Provided Content to the Software.  Further, you acknowledge that the User Provided Content provided by You does not infringe the intellectual property rights of others.</p>
  <br>
  <p>4.4. No obligation to screen User Provided Content.  You acknowledge that StrongMind has no duty or responsibility to screen User Provided Content posted by you.  StrongMind reserves the right, at its sole discretion, to temporarily or permanently remove any User Provided Content that it determines may violate any law or regulation, or the terms of this Agreement, or presents any potential liability.</p>
  <br>
  <p>4.5. Restrictions on User Provided Content.  You agree that in connection with providing and/or uploading User Provided Content, You may not:</p>
  <br>
  <p>4.5.1. Upload, post, or otherwise transmit any content that You do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements).</p>
  <br>
  <p>4.5.2. Upload, post, or otherwise transmit any content that infringes any patent, trademark, trade secret, copyright, rights of privacy or publicity, or other proprietary rights of any party.</p>
  <br>
  <p>4.5.3. Upload, post or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</p>
  <br>
  <strong><p>5. WARRANTY, WARRANTY DISCLAIMER, AND LIMITATION OF LIABILITY</p></strong>
  <br>
  <p>5.1. <strong>No Warranty.</strong>  YOU ARE ACCEPTING THE SOFTWARE, CURRICULUM, COURSE, AND INTELLECTUAL PROPERTY “AS IS” WITHOUT ANY WARRANTIES AS TO ITS USE, PERFORMANCE, INFRINGEMENT OF ANY THIRD PARTY INTELLECTUAL PROPERTY RIGHT OR WARRANTY OF STRONGMIND’S OWNERSHIP OF THE INTELLECTUAL PROPERTY, CURRICULUM, OR SOFTWARE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, STRONGMIND DISCLAIMS ALL OTHER REPRESENTATIONS, WARRANTIES, ANY CONDITIONS EXPRESSED, IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY QUALITY, AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. YOU BEAR THE ENTIRE RISK OF USING THE SOFTWARE, CURRICULUM, AND INTELLECTUAL PROPERTY.  FURTHERMORE, YOU EXPRESSLY ACKNOWLEDGE THAT THE SOFTWARE IS NOT WARRANTED BY STRONGMIND TO FUNCTION PROPERLY ON YOUR COMPUTER(S). STRONGMIND SPECIFICALLY DISCLAIMS ANY WARRANTY (EXPRESSED OR IMPLIED) THAT THE SOFTWARE IS FREE FROM BUGS, DEFECTS, VIRUSES, WORMS, TROJAN HORSES, OR SIMILAR PROBLEMS. THEREFORE, STRONGMIND SHALL NOT BE LIABLE TO YOU OR ANYONE ELSE WHO IS PROVIDED ACCESS TO THE SOFTWARE BY YOU FOR ANY DAMAGE TO COMPUTER HARDWARE OR SOFTWARE, NETWORKS, WEBSITES (INCLUDING “DOWN TIME”) ANY DAMAGES ASSOCIATED THEREWITH CAUSED DIRECTLY OR INDIRECTLY BY THE SOFTWARE. YOU ACKNOWLEDGE THAT THE SOFTWARE MAY NOT BE AVAILABLE DUE TO ANY NUMBER OF FACTORS, INCLUDING BUT WITHOUT LIMITATION TO SCHEDULED OR UNSCHEDULED PERIODIC SYSTEM MAINTENANCE, ACTS OF GOD, UNAUTHORIZED ACCESS, VIRUSES, DENIAL OF SERVICE, TECHNICAL FAILURE OF THE SOFTWARE, TELECOMMUNICATIONS INFRASTRUCTURE, OR DISRUPTION. THEREFORE, STRONGMIND EXPRESSLY DISCLAIMS ANY EXPRESSED OR IMPLIED WARRANTY REGARDING SYSTEM USE ANDOR SOFTWARE AVAILABILITY, ACCESSIBILITY, SECURITY, OR PERFORMANCE. YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION OF PROBLEMS, AND ANY OTHER DIRECT OR INDIRECT DAMAGES OR COSTS CAUSED BY UNAUTHORIZED NETWORK OR COMPUTER ACCESS OR VIRUSES, WORMS, DEFECTS, BUGS, TROJAN HORSES, OR SIMILAR PROBLEMS.</p>
  <br>
  <p>5.2. <strong>Limitation of Liability.</strong>  TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, STRONGMIND SHALL NOT BE LIABLE TO YOU, AND YOU COVENANT THAT YOU WILL NOT ASSERT A CLAIM AGAINST STRONGMIND,  UNDER ANY LEGAL THEORY, WHETHER IN AN ACTION BASED ON A CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY, OR OTHERWISE PROVIDED BY STATUTE OR LAW, (i) FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL, OR STATUTORY DAMAGES, OR ANY DAMAGES RESULTING FROM LOST PROFITS, INTERRUPTION OF BUSINESS, OR LOSS OF GOODWILL, EVEN IF STRONGMIND HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (ii) FOR DAMAGES RELATED TO OR ARISING OUT OF THIS AGREEMENT IN AN AMOUNT THAT EXCEEDS THE LICENSE FEES ACTUALLY PAID BY LICENSEE FOR YOUR RIGHTS AS AN INDIVIDUAL END USER GRANTED UNDER THIS AGREEMENT.</p>
  <br>
  <p>5.3. <strong>Basis of Bargain.</strong> The parties hereby acknowledge and agree that the warranty disclaimers and limitation of liability provisions set forth above have been negotiated and are fundamental elements of the basis of this Agreement, and StrongMind would not be able to provide the licenses granted herein at the price and on the other terms and conditions currently offered without such limitations. The parties further agree that such provisions will inure to the benefit of the other party’s successors and permitted assigns.</p>
  <br>
  <p>5.4 <strong>Your Warranty.</strong>  You hereby represent and warrant that You have a legal right to access the Course, Curriculum, Software, and Intellectual Property through a valid agreement with a Licensee and that You are able to enter into this Agreement with StrongMind.  You also represent and warrant that you have the right to upload all User Provided Content and grant the license to StrongMind to user Provided Content as set forth in this Agreement.</p>
  <br>
  <strong><p>6. TERM AND TERMINATION</p></strong>
  <br>
  <p>6.1. <strong>Term.</strong> The term of this Agreement and the licenses granted herein shall begin on the effective date and shall continue as long as You are using the Software or until Your or Licensee’s rights to the Curriculum are terminated.  Irrespective of anything in the contrary in this Agreement, Your use may not continue longer than that of the Licensee that provided you with access to the Course, Curriculum, Software, and Intellectual Property.</p>
  <br>
  <p>6.2. <strong>Termination without Cause.</strong> StrongMind may terminate this Agreement upon giving You 5 (five) days’ written notice of its intent to terminate this Agreement for any reason whatsoever.</p>
  <br>
  <p>6.3. <strong>Termination for Cause.</strong> StrongMind may terminate this Agreement upon one (1) days’ notice if You fail to remedy any breach or non-fulfillment of any condition, term, provision, representation, warranty, covenant, obligation, or other any other event denoted as a “termination for cause” event herein.</p>
  <br>
  <p>6.4. <strong>Effect of Termination.</strong> Upon Termination of this Agreement, the license of the Curriculum, Software, and Intellectual Property granted herein shall terminate and You shall cease using the Curriculum, Software, and Intellectual Property immediately and return any remaining Software and Curriculum to StrongMind. Any and all materials bearing StrongMind’s trademarks shall be returned to StrongMind within ten (10) days of termination of this Agreement.</p>
  <br>
  <strong><p>7. CONFIDENTIALITY</p></strong>
  <br>
  <p>7.1. <strong>Confidentiality.</strong> During the Term of this Agreement, You or Licensee may be given access to confidential or proprietary information relating to StrongMind’s business plans, technical data and know-how, price lists, development and research work, patentable subject matter, copyrightable subject matter or matter that could be copyrightable if placed in a tangible medium, technology, business activity, products, or services or any information covered by the Family Educational Rights and Privacy Act (“FERPA”) (collectively “Confidential Information”). Confidential Information includes Intellectual Property, the Student Management System (“SMS”), and Learning Management System (“LMS”). This information described in this Section 7.1 collectively shall be deemed Confidential Information. All Confidential Information, whether in written, oral, or electronic form, including but not limited to technical know-how, any specifications delivered hereunder, instructions and procedures, which either party at any time has disclosed or may hereafter disclose to each other or to any employee, agent, or representative of the other, shall be received and retained by the receiving party and its employees, agents, and representatives as strictly confidential, and except as provided for herein, may not be disclosed to any third party.</p>
  <br>
  <p>7.2. <strong>Term of Non-Disclosure.</strong>  You agree that, during the term of this Agreement and for so long as the Confidential Information is not generally known or generally disclosed, that it will not disclose any such Confidential Information to any third party or to any person not having a need to know the same and shall only use such information as contemplated by this Agreement. All originals and copies of documented business and technical information maintained as confidential and proprietary to either party, shall be and remain the exclusive property of that party at all times and shall be returned to the other upon demand, or if no demand is made, upon the cancellation or termination of this Agreement.</p>
  <br>
  <p>7.3. <strong>Exceptions.</strong> The obligations of confidentiality shall not apply to any information that You can show: (i) is publicly known at the time it is disclosed to, or obtained by, You; (ii) becomes publicly known through no fault of You; (iii) is in Your possession before being disclosed by StrongMind evidenced by proper business records; or (iv) is obtained by You from a third person who is not under an obligation of confidentiality and has a lawful right to make such disclosure.</p>
  <br>
  <strong><p>8. INDEMNIFICATION</p></strong>
  <br>
  <p>8.1. <strong>Indemnification of StrongMind.</strong> You will indemnify, defend, save and hold harmless StrongMind and all of its employees, officers, directors, trustees, subcontractors, and agents, their respective successors and permitted assigns, against any and all claims, demands, suits, or other forms of liability that may arise out of, or by reason of: any (a) breach by You of any agreements, covenants, warranties, or undertakings of You contained in this Agreement, (b) violation by You of any applicable law including the FERPA, (c) breach of the representations and warranties of You contained in this Agreement, or (d) Your use of the Intellectual Property, Software, or Curriculum.  StrongMind agrees that it will give You notice within twenty (20) business days of any claim under this section, or as soon as reasonably practicable.</p>
  <br>
  <strong><p>9. MISCELLANEOUS</p></strong>
  <br>
  <p>9.1. <strong>Assignment.</strong> You may not assign this Agreement or any of its rights or obligations hereunder without the prior written consent of StrongMind, such consent to be given at its sole discretion. Any attempted assignment without such prior written consent shall be void and shall be considered an event of default, enabling StrongMind to terminate this Agreement. StrongMind may assign all or part of this Agreement immediately, without the prior written consent of You or Licensee (i) to any successor in interest to StrongMind who assumes responsibility for StrongMind’s obligations hereunder; or (ii) if necessary to satisfy the rules, regulations and/or orders of any federal, state or local governmental agency or body.</p>
  <br>
  <p>9.2. <strong>Dispute Resolution.</strong> Any dispute relating to this Agreement shall be submitted for binding arbitration. The arbitration shall be heard by a single arbitrator that StrongMind and You agree upon and should StrongMind and You be unable to agree on an arbitrator, StrongMind shall pick the arbitrator. The venue for any such arbitration shall be in Phoenix, Arizona. In all cases, each party shall bear its own costs relating to such arbitration, and the parties shall equally share the arbitrator’s fees unless provided otherwise in this Agreement or otherwise determined by the arbitrator, and the arbitrator and all related proceedings and discovery shall take place pursuant to a protective order entered by the arbitrators that adequately protects the confidential nature of the parties’ proprietary and confidential information.  The Parties do not need to submit disputes related to breaches of duties related to Confidential Information or exceeding the scope of the License to arbitration as those disputes can be submitted directly to state or federal court for equitable relief.  Any such cases shall be submitted to courts in Maricopa County, Arizona.  This agreement shall be governed by and construed in accordance with the laws of the state of Arizona.</p>
  <br>
  <p>9.3. <strong>Severability.</strong> In the event that any portion of this Agreement is held to be unenforceable, the unenforceable portion shall be stricken or amended to reflect, to the greatest extent permitted under applicable law, the original intent of the parties, and the remainder of the provisions shall remain in full force and effect.</p>
  <br>
  <p>9.4. <strong>Waiver.</strong> Either party’s failure to insist upon strict performance of any provision of this Agreement shall not be construed as a waiver of that or any other of its rights hereunder at any later date or time.</p>
  <br>
  <p>9.5. <strong>Force Majeure.</strong> With the exception of any payment obligations, neither party shall be liable for failing to perform its obligations hereunder (other than payment obligations) where delayed or hindered by war, riots, embargoes, strikes or acts of its vendors or suppliers, accidents, acts of God, or any other event beyond its reasonable control.</p>
  <br>
  <p>9.6. <strong>Survival.</strong> Sections 2, 3, 4, 7, and 9 shall survive termination of this Agreement.</p>
  <br>
  <p>9.7. <strong>Entire Agreement.</strong> This Agreement constitutes the entire agreement between You and StrongMind with respect to the subject matter hereof. This Agreement supersedes any prior agreements, representations, or dealings between the parties.</p>
  <br>
  <p>9.8. <strong>Export Restrictions.</strong>  You may not download or otherwise export or re-export the Software or any underlying information or technology except in full compliance with all United States and other applicable laws and regulations. You represent that it is not located in, under the control of, or a national resident of any country to which the United States has embargoed goods, are not on the U. S. Treasury Department's list of specifically designated nationals, or are not on the U. S. Commerce Department's Table of Denial Orders.</p>
  <br>
  <p>9.9. <strong>Headings.</strong> The section headings herein are for convenience and reference purposes only and shall not serve as a basis for construction or interpretation.</p>
  <br>

</html>
