<a href="http://www.hsslb.pudong-edu.sh.cn/Main.aspx" class="footer-logo1"></a>
<a href="http://www.shnu.edu.cn" class="footer-logo2"></a>
<% unless @current_user %>
<p class="footer-helper">指导单位：《全国优秀作文选》 《中国青年报》</p>
<% end %>