<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div id="cant_record_dialog" style="display: none;">
  <div>
    <%= t('you_need_a_webcam', <<-BODY
    In order to create video or audio recordings your computer needs to be 
    webcam-enabled.  If you don't have a webcam on your computer, you can still
    record audio-only messages by first installing the Google Video Chat
    plugin.
    BODY
    ) %>
  </div>
  <div style="text-align: center; font-size: 1.5em; margin: 10px;">
    <a href="http://www.google.com/chat/video" target="_blank" rel="noopener" class="btn"><%= t('buttons.install_video_plugin', 'Install the Video Plugin') %></a>
  </div>
  <div class="links" style="text-align: <%= direction('right') %>; font-size: 0.8em; display: none;">
    <a href="#" class="cant_record_link"><%= t('dont_have_a_webcam', "Don't have a webcam?") %></a>
  </div>
</div>
