<div id="cant_record_dialog" style="display: none;">
  <div>
    <%= t('you_need_a_webcam', <<-BODY
    In order to create video or audio recordings your computer needs to be 
    webcam-enabled.  If you don't have a webcam on your computer, you can still
    record audio-only messages by first installing the Google Video Chat
    plugin.
    BODY
    ) %>
  </div>
  <div style="text-align: center; font-size: 1.5em; margin: 10px;">
    <a href="http://www.google.com/chat/video" target="_blank" class="btn"><%= t('buttons.install_video_plugin', 'Install the Video Plugin') %></a>
  </div>
  <div class="links" style="text-align: right; font-size: 0.8em; display: none;">
    <a href="#" class="cant_record_link"><%= t('dont_have_a_webcam', "Don't have a webcam?") %></a>
  </div>
</div>