<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% js_env :crowdsourced_locales => crowdsourced_locales %>
<% css_bundle :locale %>
<% js_bundle :locale %>
<i style="<%= hidden %>" class="locale-warning icon-warning" data-tooltip='{"tooltipClass":"popover", "position":"right"}'
   data-html-tooltip-title="<div class='popover-title'><%= t(:crowdsourced_warning_title, "Crowdsourced Language") %></div><div class='popover-content'><p>
    <%= t(:crowdsourced_warning_message, "The language you have selected was translated via crowdsourcing.
    Instructure has not reviewed or verified the accuracy of the translation, and accepts no responsibility for your use of this language setting. Please use at your own discretion.") %></p></div>">
</i>