<% if @has_mark_done_requirement %>
  <div id="mark-as-done-container">
    <input id="mark-as-done-checkbox" type="checkbox" 
       <%= @mark_done_checked ? 'checked="true"' : '' %>
       onchange="var url = '<%= "/api/v1/courses/#{@context.id}/modules/#{@content_tag.context_module_id}/items/#{@content_tag.id}/done" %>'; if (this.checked) {$.ajaxJSON(url, 'PUT')} else {$.ajaxJSON(url, 'DELETE')}">
    <label for="mark-as-done-checkbox">
      <%= t(:mark_as_done_checkbox, 'Mark as done') %>
    </label>
  </div>
<% end %>
