<li>
  <a href="<%= group_path(menu_group_membership.group) %>">
    <span class="name ellipsis"><%= menu_group_membership.group.name %></span>
    <span class="subtitle ellipsis"><%= menu_group_membership.group.context.name %>&nbsp;</span> 
  </a>  
</li>
