<% form_for :context_message, :url => context_url(@context, :context_roster_messages_url), :html => {:id => 'message_recipients_dialog', :style => 'display: none;'} do |f| %>
  <%= f.hidden_field :recipients, :class => 'recipient_ids' %>
  <div>Send To:
    <span class="select_holder">&nbsp;</span>
    <div class="recipients" style="font-size: 0.8em; font-style: italic; padding-left: 0 10px;">
    </div>
  </div>
  
  <div style="padding: 5px 20px;">
    Subject: <%= f.text_area :subject, :style => "width: 200px;" %><br/>
    <%= f.text_area :body, :style => "width: 100%; height: 200px;" %>
  </div>
  <div>
    <button type="submit" class="button submit_button">Send Message</button>
    <button type="button" class="button-secondary cancel_button">Cancel</button>
  </div>
<% end %>
<% js_block do %>
<script>
$(document).ready(function() {
  $("#message_recipients_dialog").formSubmit({
    object_name: 'context_message',
    beforeSubmit: function(data) {
      $(this).find("button").attr('disabled', true);
      $(this).find(".submit_button").text("Sending Message...");
    },
    success: function(data) {
      $(this).find("button").attr('disabled', false);
      $(this).find(".submit_button").text("Message Sent!");
      var $form = $(this);
      setTimeout(function() {
        $form.find(".submit_button").text("Send Message");
        $("#message_recipients_dialog").dialog('close');
      }, 3000);
    },
    error: function(data) {
      $(this).find("button").attr('disabled', false);
      $(this).find(".submit_button").text("Send Failed, Please Try Again");
    },
  });
});
var recipientsDialog = {
  init: function($selectBox) {
    recipientsDialog.select = $selectBox;
    var $select = $selectBox.clone();
    $("#message_recipients_dialog .select_holder").empty().append($select);
    $select.change(function() {
      $selectBox.change();
    });
    $selectBox.change();
  },
  show: function(title) {
    recipientsDialog.init(recipientsDialog.select);
    $("#message_recipients_dialog").fillFormData({body: '', subject: '', recipients: ''}, {
      object_name: 'context_menu'
    });
    $("#message_recipients_dialog").dialog('close').dialog({
      autoOpen: true,
      title: title
    }).dialog('open');
  },
  setRecipients: function(recipients) {
    var recipient_ids = [];
    var recipient_names = [];
    for(var idx in recipients) {
      var recipient = recipients[idx];
    }
    $("#message_recipients_dialog .recipient_ids").text(recipient_ids.join(','));
    $("#message_recipients_dialog .recipients").text(recipient_names.join(', '));
  }
}
</script>
<% end %>
