<% if !show_welcome_message? %>
<div class="no-recent-messages global-message image-block">
  <div class="image-block-image">
    <i class="information-icon"></i>
    <span class="hidden-inline-text">
      <%= accessible_message_icon_text("information") %>
    </span>
  </div>
  <div class="image-block-content">
    <div class="title">
      <%= t('no_recent_messages', 'No Recent Messages') %>
    </div>
    <div class="message">
      <p><%= t 'empty_stream_message', <<-BODY
      You don't have any messages to show in your stream yet.  Once you
      begin participating in your courses you'll see this stream fill up
      with messages from discussions, grading updates, private messages between
      you and other users, etc.
      BODY
      %></p>
    </div>
  </div>
</div>
<% end %>
