<tbody>
  <% presenter = OverrideListPresenter.new(assignment, user) %>
  <% presenter.visible_due_dates.each do |due_date| %>
    <tr>
      <td><%= due_date[:due_at] %></td>
      <td><%= due_date[:due_for] %></td>
      <td><%= due_date[:unlock_at] %></td>
      <td><%= due_date[:lock_at] %></td>
    </tr>
  <% end %>
</tbody>
