<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>
<div id="edit_criterion" style="display: none; text-align: center;">
  <form id="edit_criterion_form" class="form-inline no-margin-bottom">
    <input type="text" aria-label="<%= t('criteria_description_label', "Description of criterion") %>" class="criterion_description" style="min-width: 100px; width: 90%;" name="description"/>
    <div class="button-container">
      <button type="button" class="cancel_button btn btn-mini"><%= t '#buttons.cancel', "Cancel" %></button>
      <button type="submit" class="ok_button btn btn-mini btn-primary"><%= t '#buttons.ok', "OK" %></button>
    </div>
  </form>
</div>
