<div id="unmute_dialog" style="display: none; width: 400px;" data-title="<%= t("Unmute Assignment") %>">
  <%=
  mt(:unmute_dialog, <<-STR)
This assignment is currently muted. That means students can't see their grades and feedback. Would you like to unmute now?
STR
  %>
</div>

