<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript">
    top.location = '<%= url %>'
  </script>
</head>
<body>
  Redirecting...
</body>
</html>
