{{#if expanded}}
  <span aria-hidden="true">{{#t "show_less"}}Show Less{{/t}} <i class="icon-mini-arrow-up"></i></span>
{{else}}
  <span aria-hidden="true">{{#t "show_more"}}Show More{{/t}} <i class="icon-mini-arrow-down"></i></span>
{{/if}}
<span class='screenreader-only'>{{ assistiveText }}</span>