{{#canvas-modal title="Add Module" test=test}}
  <div class="test-modal-titlebar">
    <div class="test-modal-close">
        {{#linkTo 'modules.index' class="btn btn-mini test2"}}
          <i class="icon-x"></i>
        {{/linkTo}}
    </div>
    Add Module Item {{test}}
  </div>
  <form class="form form-horizontal">
    <div class="test-modal-content">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Type:</label>
        <div class="controls">
        <select>
          <option value="assignment">Assignment</option>
          <option value="quiz">Quiz</option>
          <option value="attachment">File</option>
          <option value="wiki_page">Content Page</option>
          <option value="discussion_topic">Discussion</option>
          <option value="context_module_sub_header">Text Header</option>
          <option value="external_url" >External URL</option>
          <option value="context_external_tool">External Tool</option>
        </select>
        </div>
      </div>
      
      <hr />

      {{canvas-module-item-assignment-type}}

      <hr />

      <div class="control-group">
        <label class="control-label" for="inputEmail">Indentation:</label>
        <div class="controls">
          <div class="btn-group">
            <button class="btn active">0</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="test-modal-footer">
      {{#linkTo 'modules.index' class="btn"}}Cancel{{/linkTo}}
      <button class="btn btn-primary">Add Module Item</button>
    </div>
  </form>
{{/canvas-modal}}