
/*
@styleguide Cogs (Admin Links)

Cogs, *AKA admin links*, are generally floated to the right, make sure it's the right-most item in your UI. There are different cogs for the toolbar and content:
<ul>
<li>toolbar cogs are buttons with the cog and arrow inside</li>
<li>content cogs are just the cog icon with the arrow and are generally used in the content areas, list items oir anything else that is NOT in a toolbar</li>
</ul>
**adding `class="admin-links"` to the container will float cog to the right**

### Toolbar Cog (button + cog)

```html
<div role="application">
  <a class="al-trigger btn" role="button" href="#">
    <i class="icon-settings"></i>
    <i class="icon-mini-arrow-down"></i>
    <span class="screenreader-only">Settings</span>
  </a>
  <ul id="toolbar-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="toolbar-2">
    <li role="presentation">
      <a href="#" class="icon-edit" id="toolbar-2" tabindex="-1" role="menuitem">Edit</a>
    </li>
    <li role="presentation">
      <a href="#" class="icon-trash" id="toolbar-3" tabindex="-1" role="menuitem">Delete</a>
    </li>
    <li role="presentation">
      <a href="#" class="icon-lock" id="toolbar-4" tabindex="-1" role="menuitem">Lock</a>
    </li>
  </ul>
</div>
```

### Content cog

```html
<div role="application">
  <a class="al-trigger al-trigger-gray" role="button" href="#">
    <i class="icon-settings"></i>
    <i class="icon-mini-arrow-down"></i>
    <span class="screenreader-only">Settings</span>
  </a>

  <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
    <li role="presentation">
      <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
    </li>
    <li role="presentation">
      <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
    </li>
  </ul>
</div>
```

*/

.admin-links {
  float: right;
}
.al-options {
  display: none;
  -webkit-font-smoothing: antialiased;
  &.ui-menu{
    display: block;
  }
}

.al-options {
  background-color: transparent;
  border: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0, 0.8);
  position: absolute;
  .ui-menu-item a {
    background-color: black; /* ie<=8 */
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    text-shadow: rgba(0,0,0,0.5) 1px 0 1px;
    white-space: nowrap;
  }
  .ui-menu-item a.disabled,
  .ui-menu-item a.disabled.ui-state-focus {
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    background-image: none;
    cursor: default;
    color: #c0c0c0;
  }
  .ui-menu-carat {
    border-color: transparent;
  }
  .ui-menu-carat span {
    border-color: black transparent; /* ie<=8 */
    border-color: rgba(0,0,0,0.7) transparent;
  }
  .ui-state-focus{
    margin: 0 !important;
    border: none;
  }
}

.al-trigger-gray, .al-trigger-gray:hover {
  @if $use_high_contrast {
    color: #444;
  } @else {
    color: #bbb;
  }
}

.admin-link-hover-area:hover .al-trigger,
.admin-link-hover-area.active .al-trigger,
.al-trigger.ui-state-active,
.al-trigger:focus,
.al-trigger:hover {
  color: #4d4d4d;
  text-decoration: none;
}

.al-trigger {
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.al-hover-container .al-trigger {
  position: relative;
  z-index: -1;
}

.al-hover-container:hover, .al-hover-container-active {
  .al-trigger {
    z-index: 0;
  }
}

