// this was copied from boostrap: https://github.com/twitter/bootstrap/blob/master/lib/patterns.less
// the copied code is available under their licence: https://github.com/twitter/bootstrap/blob/master/LICENSE

// see: http://twitter.github.com/bootstrap/index.html#alerts for usage

$baseline: 18px;
$grayDark: #404040;

// Super jank hack for removing border-radius from IE9 so we can keep filter gradients on alerts
//:root .alert-message{
//  border-radius: 0 \0;
//}


// commenting out until we actually need it
//// CLOSE ICONS
//// -----------
//.close {
//  float: right;
//  color: @black;
//  font-size: 20px;
//  font-weight: bold;
//  line-height: $baseline * .75;
//  text-shadow: 0 1px 0 rgba(255,255,255,1);
//  .opacity(25);
//  &:hover {
//    color: @black;
//    text-decoration: none;
//    .opacity(40);
//  }
//}


// ERROR STYLES
// ------------

// Base alert styles
.alert-message {
  position: relative;
  padding: 7px 15px;
  margin-bottom: $baseline;
  color: $grayDark;
  //  @include vertical-gradient(#fceec1, #eedc94);
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25);

  // Adjust close icon
  .close {
    margin-top: 1px;
  }

  // Make links same color as text and stand out more
  a {
    font-weight: bold;
    color: $grayDark;
  }
  &.danger p a,
  &.error p a,
  &.success p a,
  &.info p a {
    color: white;
  }

  // Remove extra margin from content
  h5 {
    line-height: $baseline;
  }
  p {
    margin-bottom: 0;
  }
  div {
    margin-top: 5px;
    margin-bottom: 2px;
    line-height: 28px;
  }

  &.block-message {
    background-image: none;
    background-color: lighten(#fceec1, 5%);
    // .reset-filter();
    padding: 14px;
    border-color: #fceec1;
    box-shadow:  none;
    ul, p {
      margin-right: 30px;
    }
    ul {
      margin-bottom: 0;
    }
    li {
      color: $grayDark;
    }
    .alert-actions {
      margin-top: 5px;
    }
    &.error,
    &.success,
    &.info {
      color: $grayDark;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    &.error {
      background-color: lighten(#f56a66, 25%);
      border-color: lighten(#f56a66, 20%);
    }
    &.success {
      background-color: lighten(#62c462, 35%);
      border-color: lighten(#62c462, 28%);
    }
    &.info {
      background-color: lighten(#6bd0ee, 25%);
      border-color: lighten(#6bd0ee, 20%);
    }
    // Change link color back
    &.danger p a,
    &.error p a,
    &.success p a,
    &.info p a {
      color: $grayDark;
    }

  }
}