/*
@styleguide Buttons: Publish

The publish button has two states on click (publish and published) and a hover state of 'Unpublish' once published.

```html

<p>
  <button class="btn" id="publish"></button>
</p>

<p>
  <button class="btn" id="published"></button>
</p>

<p>
  <button class="btn" id="published-disabled"></button>
</p>

```

*/

/* publish buttons */
.btn-publish,
.btn-published,
.btn-unpublish {
  padding-left: 9px;

  i {
    margin-right: 2px;
    vertical-align: text-top;
    line-height: 17px;
  }
  i:before {
    font-size: 17px;
  }
}
.btn-publish {
  i:before {
    color: #b4b8bb;
  }
}

.btn-published,
.btn-published:hover {
  background: #35842c;
  border: 1px solid #2a5325;
  color: #fff;
  text-shadow: none;
  box-shadow: inset 0 0 6px #1b2d19;
}
.btn-published.disabled,
.btn-published.disabled:hover {
  border: 1px solid #256f1e;
  background: #35842c;
  box-shadow: none;
  color: #fff;
}

.btn-unpublish {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
  box-shadow: none;
}
