.v-gutter {
  margin-top: $gridGutterWidth;
  margin-bottom: $gridGutterWidth;
}

.v-gutter-large {
  margin-top: $gridGutterWidth * 1.5;
  margin-bottom: $gridGutterWidth * 1.5;
}

@media (min-width: 1200px) {
  .v-gutter {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .v-gutter-large {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
