@import 'environment';

/* @styleguide Item Groups

Item groups come either `item-group` or `item-group-condensed` styles.
The `item-group` style is for draggable tiems and `item-group-condensed`
is for items that are not draggable.

```html
<div class="item-group">
  <h2 class="ig-header">
    <a class="element_toggler" href="#"
       aria-controls="group_1"
       aria-expanded="true">
      <i class="icon-mini-arrow-down"></i> Item Group Header
    </a>
  </h2>
  <ul class="ig-list" id="group_1">
    <li>
      <div class="ig-row">
        <a href="#" class="ig-title ellipses">
          <i class="icon-assignment"></i> Some Assignment
        </a>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses"><b>Available</b> Nov 1</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span id="publish-icon" class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
          </span>

          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" tabindex="-1">
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only">Settings</span>
          </a>

          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
            <li role="presentation">
              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
            </li>
            <li role="presentation">
              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <div class="ig-row ig-published ig-indent1">
        <a href="#" class="ig-title ellipses">
          <i class="icon-assignment"></i> Some Assignment
        </a>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses"><b>Available</b> Nov 1</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span id="publish-icon" class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
          </span>

          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" tabindex="-1">
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only">Settings</span>
          </a>

          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
            <li role="presentation">
              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
            </li>
            <li role="presentation">
              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <div class="ig-text">
        Greek Civilization Essay
      </div>
    </li>

    <li>
      <div class="ig-row">
        <a href="#" class="ig-title ellipses">
          <i class="icon-assignment"></i> Some Assignment
        </a>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses"><b>Available</b> Nov 1</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span id="publish-icon" class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
          </span>

          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" tabindex="-1">
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only">Settings</span>
          </a>

          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
            <li role="presentation">
              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
            </li>
            <li role="presentation">
              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </li>


  </ul>
</div>
```

*/

.item-group {
  background-color: $wellBackground;
  border: 1px solid darken($wellBackground, 7%);
  padding: 9px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.ig-header, .ig-text {
  font-size: 15px;
  color: #3d454c;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  padding-left: 30px;
}

.ig-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ig-header {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 20px;
  margin: auto;

  a {
    text-decoration: none;
    color: #3d454c;
  }

  i {
    vertical-align: middle;
  }
  .icon-mini-arrow-right {
    position: relative;
    top: -1px;
  }

  .btn {
    vertical-align: text-bottom;
  }
}

.ig-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.ig-list li {
  margin: 4px 0;
}

.ig-list .ig-row {
  position: relative;
  display: block;
  height: 40px;
  background: #fff;
  border: 1px solid #c1c7cf;
  border-radius: 3px;
  box-shadow: 0 1px 0 #dde0e4;
  color: #696969;

  a.ig-title {
    color: #696969;
    text-decoration: none;
  }

  .ellipses {
    color: #7c7c7c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: #eef7ff;
  }

  &:before {
    position: relative;
    top: -2px;
  }

  &.ig-published .ig-title {
    color: #34832b;
  }
}


.ig-title {
  position: absolute;
  left: 30px;
  right: 430px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  top: 9px;
}

.ig-details {
  position: absolute;
  right: 30px;
  font-size: 11px;
  width: 370px;
  top: 10px;
}

.ig-admin {
  position: absolute;
  white-space: nowrap;
  right: 3px;
  top: 10px;

  .publish-icon {
    margin-right: 22px;

    i[class*=icon-]:before,
    i[class^=icon-]:before {
      font-size: 18px;
    }
  }
}

.ig-details [class^=span] {
  white-space: nowrap;
}

[class^=ig-indent] {
  // anything > 2 is still 60px;
  margin-left: 60px;
}

.ig-indent1 {
  margin-left: 20px;
}

.ig-indent2 {
  margin-left: 40px;
}

.ig-text {
  color: #3d454c;
  font-size: 15px;
}

.ig-no-content {
  height: 20px;
  margin-top: 5px;
  border: 1px dashed #c1c7cf;
  border-radius: 3px;
  background: #fff;
  padding: 10px 17px;
  color: #878d92;
  line-height: 20px;
}
