/*
@styleguide Spacing: Content Box

Content boxes automatically clear their floated children and have default margins.

```html
<div class="content-box border border-trbl">
  Hello
</div>
<div class="content-box border border-trbl">
  Hey, we have space between us
</div>
```

### Sizes

```html
<div class="content-box-mini border border-trbl">Half spacing</div>
<div class="content-box-mini border border-trbl">Third spacing</div>
```

*/

[class*='content-box'] {
  clear: both;
  position: relative;
  @include clearfix;
}

.content-box { margin: $spacing-width 0; }
.content-box-mini { margin: $spacing-width/2 0; }
.content-box-micro { margin: $spacing-width/3 0; }

/*
@styleguide Spacing: Pad Box

Use pad-box if you want to arbitrarily add some padding to an element.

### Sizes

```html
<div class="pad-box-mega border border-trbl">Mega</div>
<div class="pad-box border border-trbl">Normal</div>
<div class="pad-box-mini border border-trbl">mini</div>
<div class="pad-box-micro border border-trbl">micro</div>
```
*/

.pad-box { padding: $spacing-width; }
.pad-box-mega { padding: $spacing-width*2; }
.pad-box-mini { padding: $spacing-width/2; }
.pad-box-micro { padding: $spacing-width/4; }

.pad-box, .pad-box-mega, .pad-box-mini, .pad-box-micro {
  &.no-sides {
    padding-left: 0; padding-right: 0;
  }
  &.sides-only {
    padding-top: 0; padding-bottom: 0;
  }
  &.top-only {
    padding-bottom: 0; padding-right: 0; padding-left: 0;
  }
  &.bottom-only {
    padding-top: 0; padding-right: 0; padding-left: 0;
  }
}
