@import 'environment';

/* @styleguide Item Groups

```html
<div class="item-group">
  <div class="ig-header">
    <i class="icon-mini-arrow-right"></i> Item Group Header
  </div>
  <ul class="ig-list">
    <li>
      <a href="#" class="ig-link">
        <div class="ig-title ellipses"><i class="icon-assignment"></i> Some Assignment</div>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Available</b> Nov 1, 2012</div>
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span class="al-trigger">
            <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          </span>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ig-link ig-published ig-indent1">
        <div class="ig-title ellipses"><i class="icon-assignment"></i> Some Assignment</div>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Available</b> Nov 1, 2012</div>
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span class="al-trigger">
            <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          </span>
        </div>
      </a>
    </li>

    <li>
      <div class="ig-text">
        Greek Civilization Essay
      </div>
    </li>

    <li>
      <a href="#" class="ig-link">
        <div class="ig-title ellipses"><i class="icon-assignment"></i> Some Assignment</div>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Available</b> Nov 1, 2012</div>
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span class="al-trigger">
            <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          </span>
        </div>
      </a>
    </li>


  </ul>
</div>

*/

.item-group {
  background-color: $wellBackground;
  border: 1px solid darken($wellBackground, 7%);
  padding: 9px;
  border-radius: 3px;
}

.ig-header, .ig-text {
  font-size: 15px;
  color: #3d454c;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  padding-left: 30px;
}

.ig-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ig-header {
  font-weight: bold;

  .icon-mini-arrow-right {
    position: relative;
    top: -1px;
  }
}

.ig-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.ig-list li {
  margin: 5px 0;
}

.ig-list  a {
  position: relative;
  display: block;
  height: 40px;
  text-decoration: none;
  background: #fff;
  border: 1px solid #c1c7cf;
  border-radius: 3px;
  color: #696969;

  &:hover {
    background: #eef7ff;
  }

  &:before {
    position: relative;
    top: -2px;
  }

  &.ig-published .ig-title {
    color: #34832b;
  }
}

.ig-title {
  position: absolute;
  left: 30px;
  right: 430px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  top: 9px;
}

.ig-details {
  position: absolute;
  right: 50px;
  font-size: 11px;
  width: 370px;
  top: 10px;
}

.ig-admin {
  position: absolute;
  right: 8px;
  top: 10px;
}

.ig-details [class^=span] {
  white-space: nowrap;
}

[class^=ig-indent] {
  // anything > 2 is still 60px;
  margin-left: 60px;
}

.ig-indent1 {
  margin-left: 20px;
}

.ig-indent2 {
  margin-left: 40px;
}

.ig-text {
  color: #3d454c;
  font-size: 15px;
}

