.Collaboration {
  position: relative;
  border-bottom: $ic-border-dark 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Collaboration:first-child {
  border-top: $ic-border-dark 1px solid;
}

.Collaboration-title {
  font-size: 1.1rem;
}

.Collaboration-description {
  margin: 5px 0;
}

.Collaboration-author {
  margin-right: 10px;
}

.Collaboration-actions {
  min-width: 100px;
}
