.CollaborationsApp {
  min-height: 400px;
}

.GettingStartedCollaborations {
    width: 600px;
    margin: 0 auto;
}
.Collaborations--GettingStarted {
    text-align: center;
}
.create-collaborations-dropdown {
    margin-left: 20px;
}
.CollaborationsApp .LoadMore-button{
  text-align: center;
}
.image-collaborations-container {
    background-color: $ic-color-neutral;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
}
