// there is magic that happens here, see the docs at the top of assets.yml for more info
@import 'variant_variables'

$iconSpritePath:      "canvas_does_not_use_boostraps_default_sprit_based_icons_so_this_is_meaningless" !default
$iconWhiteSpritePath: $iconSpritePath !default

@import 'bootstrap/variables'
@import 'jqueryui/variables'


$right_side_width: 286px
$left_side_width: 175px
$min_main_width: 510px
$max_main_width: 1100px

$identity-link-color: #fff
$menu-border-color: #ccc

$menu-background-color: #f3f4f5
$menu-text-color: ensure-contrast(#444, $menu-background-color)

$menu-link-color: #456787

$right_side_text_color: #595959
$right_side_margin: 13px

// section tabs
$section_tabs_bg_color: #f2f5f7
$section_tabs_color: #4b7092
$section_tabs_hover_background_color: darken(#e4e7e9, 2%)
$section_tabs_border_top_color: #C6C6C6
$section_tabs_border_bottom_color: lighten($section_tabs_border_top_color, 4%)
$section_tabs_to_be_hidden_color: #888
$hintTextColor: #888

$button-text-color: #525252

$ui-state-default-gradient-top: #ededed
$ui-state-default-gradient-bottom: #c4c4c4


// this is the blue color that we use all over the place when not in a gradiants
$highlight-color: #06a9ee
// light blue hover color
$hover-color: #E5F3FF
// this is the grey color for when things are disabled, or meant to contrast with $highlight-color
$diminutive-color: #acacac

$masquerade-link-color: #ffa500

// canvas stuff
$lightBackground:               rgb(248, 250, 251)
$altBG:                         #dfe9f0
$borderColor:                   #a8adb3
$borderRadius:                  4px
$toolbarBackground:             #D7E7F5
$toolbarBackgroundLight:        #E8F1F9
$listViewHeaderBackground:      rgb(225, 230, 235)
$listViewHeaderBackgroundLight: lighten($listViewHeaderBackground, 5%)
$contentBoxPadding:             8px
$listBorderColor:               lighten($borderColor, 5%)
$activeBG:                      #d6ecfc
$dimmedOpacity:                 0.4

$masquerade-link-color: #ffa500

// Font Sizes
$h1-font-size: 23px
$h2-font-size: 14px
$h3-font-size: 19px

$spacing-width: 20px

$wellBackground: #e8ecef

// override bootstrap green buttons
$green: #34832b !default

