//
// Autocomplete combo box
// --------------------------------------------------

/*
@styleguide Autocomplete

A generic, accessible autocomplete widget.

```html
<div class="ac">
  <div class="ac-input-box">
    <ul class="ac-token-list"></ul>
    <input type="search"
           class="ac-input"
           aria-expanded="false"
           aria-activedescendant=""
           aria-owns="ac-result-list-1"
           auto-autocomplete="list"
           role="combobox" />

    <span class="ac-placeholder">Search for results</span>
  </div>

  <button class="btn ac-search-btn"
          type="button">
    <i class="icon-address-book"></i>
    <span class="screenreader-only">Search</span>
  </button>

  <ul class="ac-result-list"
      id="ac-result-list-1"
      aria-hidden="true"></ul>
</div>
```
*/

ul[class*=ac-] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class*=ac-][aria-hidden=true] {
  display: none;
}

.ac {
  position: relative;
}

.ac-input-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: text;
  float: left;
  min-height: 30px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  width: 100%;

  &.focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  }

  &.disabled {
    background-color: #ddd;
  }
}

.ac .btn {
  border-left: none;
  border-radius: 0 3px 3px 0;
}

.ac-input-box .ac-input {
  background: transparent;
  border: none;
  box-shadow: none;
  display: block;
  margin: 0;
  min-width: 15px;
  padding: 0;
  width: 15px;

  &:focus {
    box-shadow: none;
  }
}

.ac-placeholder {
  color: #999;
  left: 12px;
  position: absolute;
  top: 5px;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.ac-clear {
  display: none;
  position: absolute;
  right: 4px;
  top: 5px;

  i:before {
    color: #999;
    font-size: 20px;
  }

  &:hover, &:focus {
    outline: none;

    i:before {
      color: inherit;
    }
  }
}

.ac-token-list {
  display: inline;
  position: relative;
  z-index: 2;
}

.ac-token {
  background: #dee7fa;
  border: 1px solid #85ace0;
  border-radius: 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  float: left;
  height: 20px;
  margin: 0 4px 0 0;
  padding: 0 16px 0 12px;
  position: relative;

  &:hover {
    background: #bccef4;
    border-color: #6f94e6;
  }

  &:hover a, a:focus {
    right: -1px;
  }

  a {
    position: absolute;
    right: -9999em;
    top: 0;
  }

	a, a i:before {
		color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
	}
}

.ac-result-list {
  background: #eee;
  border: 1px solid #ccc;
  border-top: none;
	border-radius: 0 0 3px 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  max-height: 250px;
  min-height: 50px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 100%;
}

.ac-result {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	cursor: pointer;
  padding: 4px 8px;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &.selected, &:hover {
    background: steelblue;
    color: #fff;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
  }
}

