//
// Autocomplete combo box
// --------------------------------------------------

/*
@styleguide Autocomplete

A generic, accessible autocomplete widget.

```html
<div class="ac" role="application">
  <label for="ac-1">To</label>
  <div class="ac-input-box">
    <ul class="ac-token-list"></ul>
    <input type="search"
           class="ac-input"
           aria-activedescendant=""
           aria-owns="ac-list-1"
           id="ac-1"
           aria-autocomplete="list"
           role="combobox" />
  </div>

  <ul class="ac-result-list"
      id="ac-result-list-1"
      aria-expanded="false"
      aria-hidden="true">
  </ul>
</div>
```
*/

ul[class*=ac-] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class*=ac-][aria-hidden=true] {
  display: none;
}

.ac {
  position: relative;
}

.ac-input-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: text;
  overflow: hidden;
  padding: 4px 6px;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  width: 100%;

  &.focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  }

  &.disabled {
    background-color: #ddd;
  }
}

.ac-input-box .ac-input {
  background: transparent;
  border: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  margin: 0;
  min-width: 15px;
  padding: 0;
  width: 15px;

  &:focus {
    box-shadow: none;
  }
}

.ac-token-list {
  display: inline;
}

.ac-token {
  background: #dee7fa;
  border: 1px solid #85ace0;
  border-radius: 14px;
  float: left;
  margin: 0 4px 0 0;
  padding: 0 6px;

	a {
		color: #fff;
	}
}

.ac-result-list {
  background: #eee;
  border: 1px solid #ccc;
  border-top: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 250px;
  min-height: 50px;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 30px;
  width: 100%;
}

.ac-result {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	cursor: pointer;
  padding: 4px 8px;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &.selected, &:hover {
    background: steelblue;
    color: #fff;
  }
}

