
.ui-combobox
  position: relative
  font-size: 11px
  line-height: 16px
  display: inline-block
  margin-right: 1em

  .ui-combobox-container
    color: #333
    text-align: left
    float: left
    select
      width: 230px

  .ui-combobox-prev, .ui-combobox-next
    display: block
    background: url('/images/back_forward.png') no-repeat top left
    text-indent: -1000px
    width: 27px
    height: 23px
    float: left
    outline: none

  .ui-combobox-prev
    background-position: top left
    &:hover, &:focus
      background-position: left -31px 
    &:active
      background-position: bottom left

  .ui-combobox-next
    background-position: top right
    &:hover, &:focus
      background-position: right -31px
    &:active
      background-position: bottom right

  a.ui-selectmenu
    &:hover, &:focus
      background-color: white
      text-decoration: none

  .ui-selectmenu-dropdown
    border-radius: 0
    color: #222 !important
    height: 21px
    background-color: #fff
    background-image: none
    border: 1px solid #B5B8C8
    font-weight: normal !important

    &:hover
      text-decoration: none !important

    .ui-selectmenu-status
      font-size: 14px
      padding: 2px 0 0 1em
      margin: 0 20px 0 0
      height: 21px
      .ui-icon
        top: 3px !important

    .ui-selectmenu-icon
      width: 17px
      height: 22px
      border: 0
      background: transparent url("/images/inst_combo/trigger.gif") no-repeat 0 0
      cursor: pointer
      border-bottom: 1px solid #B5B8C8
      position: absolute
      top: -1px
      right: -1px
      margin: 0

    &:hover, &.ui-state-active
      .ui-selectmenu-icon
        background-position: -17px 0

  .ui-selectmenu-menu
    z-index: 10
    max-height: 400px
    margin-top: 1px

    a:focus
      background-color: inherit

    ul
      max-height: 400px

    li a, .ui-selectmenu-status
      padding-top: 0.1em !important
      padding-bottom: 0 !important

    li .ui-selectmenu-item
      font-weight: normal
