/* Helper classes */
.align-center { text-align: center; }
.align-right  { text-align: right; }
.padding-r    { padding-right: 16px; }
.table        { display: table; }
.table-row    { display: table-row; }
.table-cell   { display: table-cell; }
.ellipsis     {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Page styles */
#main {
  background: #dfe9f0;
}

#content {
  color: #434343;
  padding: 0;
}

header {
  background: #fff;
  border-bottom: 1px solid #b6babf;
  padding: 16px 0;
}

/* Item box */
.item-box {
  color: #434343;

  a {
    color: #434343;

    &.btn-primary, &.btn-primary:hover {
      color: #fff;
    }

    &:hover {
      color: #434343;
      text-decoration: none;
    }
  }

  i[class*=icon-]:before, i[class^=icon-]:before {
    font-size: 13px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 8px 16px;
  }

  > div {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    min-height: 64px;
  }
}

/* Conference styles */
.conference-wrapper {
  padding: 8px 16px;
}

.table-row {
  border-bottom: 1px solid #b6babf;

  &:last-child .table-cell {
    border-bottom: none;
  }

  &:hover .label.has_actions {
    display: none;
  }

  &:hover .conference-length.has_actions {
    display: none;
  }

  &:hover .actions a, .actions a:focus {
    clip: auto;
    position: static;
  }
}

.table-cell {
  border-bottom: 1px solid #b6babf;
  padding: 8px 16px 8px 0;
  vertical-align: middle;

  &:first-child {
    padding-left: 16px;
  }
}

.conference-title {
  max-width: 200px;
  width: 200px;
  font-weight: bold;
}

.conference-actions   { width: 70px; height: 22px;}
.conference-start     {
  width: 70px;
  .join-button, .start-button { min-width: 25px; }
  &.show-end-button   { width: 95px; }
}
.conference-day       { width: 80px; }
.conference-length    { width: 70px; }
.conference-recording { width: 80px; }

.conference-actions .actions a {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

#add_conference_form {
  min-width: 700px;
}
#web_conference_title, #web_conference_description { min-width: 500px; }
#web_conference_duration {
  width: 25px;
}