@import environment.sass
.hide
  display: none

.unpublish-module-link
  background: url('/images/draft_white.png') no-repeat
  padding-left: 18px
  margin-left: -2px

.bordered.context_module
  border-left: 3px solid #FFF
  border-right: 3px solid #FFF

.context_module:last-child
  margin-bottom: 100px

.context_module.unpublished_module
  background-color: rgb(252, 250, 244)
  border-left: 3px solid #D5B988
  border-right: 3px solid #D5B988

  .context-module-header
    background-color: #FCF8E3
    border: 1px solid #FBEED5
    .name, .draft-text
      color: rgb(163, 128, 67)

  .context_module_item.context_module_item_hover, .context_module_item:hover
    background-color: #FCF8E3

  .context_module_item tr
    border-bottom: 1px dotted #D5B988

  .publish-module-link
    background: url('/images/publish_white.png') no-repeat
    padding-left: 18px
    margin-left: -2px

  
/* 
 * <div class="context-modules-main-header">
 *   <h2 class="context-modules-title">Course Modules</h2>
 *   <div class="context-modules-main-toolbar">
 *     <button class="btn">View Progress</button>
 *     <button class="btn btn-primary">Create a Module</button>
 *   </div>
 *  </div>
 */
.context-modules-main-header
  .context-modules-title
    float: left
    margin: 0

  .context-modules-main-toolbar
    float: right

  .context-modules-main-toolbar .btn.btn-small
    margin-right: 5px
    padding-left: 25px
    padding-right: 25px

  .context-modules-main-toolbar .btn.btn-small:last-child
    margin-right: 0px
/*
 * Example Usage
 *   <ul class="context-module-toolbar">
 *     <li class="context-module-toolbar-item">
 *       <div class="admin-links" role="application">
 *         <button class="al-trigger ui-button"><span class="al-trigger-inner">Manage (will be accessibly hidden)</span></button>
 *         <ul class="al-options">
 *           <li><a href="#" class="icon-plus">Add Content</a></li>
 *           <li><a href="#" class="icon-edit">Edit</a></li>
 *           <li><a href="#" class="icon-trash">Delete</a></li>
 *         </ul>
 *       </div>
 *     </li>
 *     <li class="context-module-toolbar-item adjust-top"><a href="#" class="icon icon-collapse"></a></li>
 *     <li class="context-module-toolbar-item"><span>Hello world</span></li>
 *     <li class="context-module-toolbar-item"><span>Something</span></li>
 *  </ul><!-- end context-module-toolbar -->
 */


.context-module-header
  .context-module-left-toolbar
    float: left
  
  .context-module-toolbar
    margin: 0
    padding: 0
    list-style-type: none
    float: right

    .icon, .al-trigger i
      color: $grayLight
      cursor: pointer

    .context-module-toolbar-item
      float: right
      margin-right: 5px

    .adjust-top
      margin-top: 2px

/* 
 * These are overrides in css fixing the g_context_modules.sass file. 
 * We are leaving that file in the source code until we can verify it
 * doesn't get used anywhere else. Better to just not break thigs.
 */
.add_module_item_link, .edit_module_link, .delete_module_link
  display: block !important

// This is a hack to get the javascript to work when
// collapsing and expanding modules. See context_modules.js
.collapse_module_link, .expand_module_link
  background-color: #e4e6e8

.unpublished_module .collapse_module_link, .unpublished_module .expand_module_link
  background-color: #FCF8E3

.context_module
  border: none

.context_module div.footer
  padding: 0

.context_module .header
  border: none



