.context_modules2
  #breadcrumbs
    border-bottom-color: rgb(182, 186, 191)
  .modules-toolbar
    padding: 16px
    border-bottom: 1px solid rgb(182, 186, 191)
    input[type="search"]
      width: 300px
      margin-bottom: 0
  #content
    padding: 0
  .btn
    padding-left: 8px
    padding-right: 8px
  .module-published-button
    color: #34832b
    font-size: 14px
    display: inline-block
    padding: 4px 12px
    line-height: 22px
    vertical-align: middle

  .prereqs
    font-size: 14px
    padding: 4px 12px
    line-height: 22px
    display: inline-block
    vertical-align: middle

  .editable-show
    display: none

  .editable
    .editable-show
      display: inherit

  .item-group-condensed
    .ig-title
      left: 20px
      &.indent-1
        left: 32px
      &.indent-2
        left: 44px
      &.indent-3
        left: 56px
      &.indent-4
        left: 68px

  .editable
    .item-group-condensed
      .ig-title
        right: 600px
        left: 30px
        &.indent-1
          left: 42px
        &.indent-2
          left: 54px
        &.indent-3
          left: 66px
        &.indent-4
          left: 78px
      .ig-details
        right: 140px
        width: 400px
      .ig-publish-btn
        position: absolute
        right: 76px
      .add-item-button
        padding-left: 7px
        padding-right: 7px