.top-margin
  margin-top: 5px

.bottomMargin
  margin-bottom: 5px

.top-padding
  padding-top: 5px

.migrationProgressItem
  padding-top: 5px
  padding-bottom: 5px

.controlMargin
  padding-top: 8px

.centerText
  text-align: center

.cancelBtn
  margin-left: 0

.rightAlign
  text-align: right

.progress
  margin-bottom: 0

#progress
  margin-left: 20px
  margin-top: 100px

.noMargin
  margin: 0

.icon-folder
  font-size: 24px !important

hr
  margin-bottom: 0 !important

.plain
  color: black
