@import environment.sass
#keys
  border-collapse: collapse
  width: 100%
  tr:hover
    td
      background-color: #eee
      &.links
        opacity: 1
      .api_key
        visibility: visible
  td, th
    padding: 3px 5px
  th
    border-bottom: 1px dotted #888
    font-weight: bold
  td
    border-bottom: 1px dotted #ccc
    vertical-align: middle
    &.name
      font-weight: bold
      font-size: 14px
    &.links
      opacity: 0.4
    .api_key
      visibility: hidden
    .icon
      width: 36px
      height: 36px
      border: 1px solid #ccc
      padding: 2px
      margin-right: 5px
      vertical-align: middle
      float: left
    .details
      max-width: 200px
      overflow: auto
      > div
        white-space: nowrap
#loading
  text-align: center
  margin-top: 10px
  .show_all,.loader
    display: none
  &.loading
    .loader
      display: inline
    .show_all
      display: none
  &.show_more
    .loader
      display: none
    .show_all
      display: inline
.key_form
  td
    white-space: nowrap
    padding: 3px 2px
    