@import environment.sass

.hidden
  display: none

.show-if-collapsed
  display: none !important
.collapsed
  .hide-if-collapsed
    display: none !important
  .show-if-collapsed
    display: block !important

.discussion-entries
  list-style: none
  margin: 0 0 0 8px
  padding: 0
  .entry
    padding: 4px 0 0 10px

.discussion_entry
  position: relative
  margin: 5px 0
  box-shadow: 0px 1px 2px rgba(0,0,0, 0.2)
  background: #fff
  border: 2px solid #fff
  .al-trigger
    margin-left: 10px
    margin-right: 0px
    margin-top: 0px
  .ellipsis
    padding-right: 70px

.showMore .new-and-total-badge
  float: right
  margin-top: 10px

.reply-textarea
  width: 100%

.discussion-section
  padding: 4px 10px 3px 10px
  position: relative
.topic
  h1.discussion-title
    font-size: 19px
  h2.discussion-title
    font-size: 16px

.discussion-title
  font-size: 13px
  margin: 0
  line-height: 23px
.discussion-subtitle
  font-size: 11px
  margin: 0
.discussion-header-right
  float: right
.discussion-pubdate
  font-size: 11px
  color: #777
  line-height: 23px
.discussion-assignment-section
  background-image: url('/images/discussions/assignment_bg.png')
  background-position: 8px 8px
  background-repeat: no-repeat
  padding-left: 40px !important
  min-height: 40px
  .discussion-title
    font-size: 14px !important
  .discussion-header-content
    margin-bottom: 15px
    min-height: 30px /* make sure assignment icon does not get cut off */
.discussion-assignment-links
  padding: 3px 0
  text-align: center
  a
    margin-right: 20px

.discussion-fyi
  font-style: italic
  font-size: 12px
  color: #777

.discussion-read-state
  position: absolute
  top: 12px
  left: -20px
  bottom: 0
  width: 8px
  height: 8px
  background: transparent url(/images/messages/new-replied-icon_sprite.png) -4px -8px no-repeat
  display: none

.unread-onload .discussion-read-state
  display: block
.read .discussion-read-state
  background-position: -4px -80px



//.read      .discussion-read-state .read,
.discussion-reply-form
  .show-if-replying
    display: none
  &.replying
    .hide-if-replying
      display: none
    .show-if-replying
      display: block

.entry
  .cancel_button
    font-size: 11px

//these can be global
.avatar
  float: left
  margin: 3px 8px 0 0
  img
    width: 16px
    height: 16px
    padding: 0
    background: #fff
.topic .avatar img
  width: 50px
  height: 50px

.discussion-header-content
  .author.unknown
    font-style: italic

.discussion-reply-attachments
  list-style: none
  padding: 0
  margin: 0
  li
    padding: 0 0 0 20px
    margin: 0
    background: transparent url(/images/messages/attach-gray.png) left center no-repeat
  a
    display: inline-block
    text-indent: -1000em
    width: 16px
    height: 16px
    background: transparent url(/images/delete_circle.png) left center no-repeat

.discussion-reply-add-attachment
  display: inline-block

.discussion-reply-attachments-container
  float: right

.discussion-reply-buttons
  float: left

.message-notification, .notification
  background: #ffffcc

.deleted-discussion-entry
  .discussion-header-content
    min-height: 0
  .discussion-title
    font-size: 12px
    font-style: italic

.add_root_reply
  display: inline-block
  margin-top: 20px

.admin-link-hover-area
  border-bottom: solid 1px #eee

.showMore
  box-shadow: 0px 1px 2px rgba(0,0,0, 0.2)
  margin-left: 18px
  margin-top: 10px
  background: #fff
  padding: 5px 10px
  font-size: 10px
  font-weight: bold
  +clearfix()
  a
    float: left
    text-transform: uppercase
    &:after
      content: ''
      display: inline-block
      position: relative
      left: 4px
      bottom: 2px
      height: 0px
      width: 0px
      border-style: solid
      border-color: transparent transparent transparent $link_color
      border-width: 5px
      vertical-align: middle
  .new-and-total-badge
    margin-top: 2px
    float: right

.showMore:hover
  background: $menu-background-color
  cursor: pointer
  a
    text-decoration: underline

.entry-controls
  overflow: auto
  padding: 4px 10px
  font-size: 12px
  .new-and-total-badge
    float: left
    margin: 0

.topic
  padding: 10px
  margin: 0
  overflow: auto

.entry-header
  border-bottom: none

#content
  padding: 0

#main
  background: #dfe9f0

.discussion_subentries
  padding: 10px

.discussion-page-nav
  ul
    font-size: 12px
    margin: 0
    padding-bottom: 20px
    list-style: none
    text-align: right
    height: 1em
  li
    display: inline-block
  .item
    display: block
    padding: 4px 12px 4px 8px
    border-right: 1px solid #c5d6e7
  li:last-child .item
    border-right: none

.new-and-total-badge
  .new-items, .total-items
    font-weight: normal
    font-size: 10px

.highlight .discussion_entry,
.side_comment_discussion .highlight
  outline: 3px solid #06A9EE

.highlight .entry .discussion_entry,
.side_comment_discussion .highlight .discussion_entry
  outline: none

.side_comment_discussion
  .entry, .discussion-entries, .showMore
    padding-left: 0
    margin-left: 0
  .discussion_entry
    box-shadow: none
    border: none
    margin: 0
  .entry
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2)
    margin-left: 18px !important
    background: #fff
    margin: 50px 0
    &:first-child
      margin-top: 5px
    .entry
      box-shadow: none
      margin: 0 !important
      padding-left: 30px
      border-top: solid 1px #e4e5e7
      .replies
        display: none
      .discussion_entry
        margin: 0
        border-bottom: none
  .entry-controls
    display: none
  .showMore
    box-shadow: none
    padding: 10px
    padding-bottom: 13px
    margin: 0
    border-top: solid 1px #e4e5e7
    .new-and-total-badge
      margin-top: 0
    a:after
      border-color: #396eb2 transparent transparent transparent
      top: 2px
  .entry
    padding: 3px 0
    .avatar img
      width: 32px
      height: 32px
    .entry .avatar img
      width: 16px
      height: 16px
    .discussion-header-content
      padding-top: 10px
    &.collapsed .discussion-header-content
      padding-top: 0px
    .deleted-discussion-entry .right-of-avatar
      padding-top: 0px !important
    .entry .right-of-avatar
      padding-top: 0px

.side_comment_discussion .discussion-reply-label,
.topic .discussion-reply-label
  display: block
  background-color: #f4f5f7
  font-size: 11px
  color: #636363 !important
  padding: 3px 10px
  cursor: text
  border: 1px inset #eee
  &:hover
    text-decoration: none

.topic
  .discussion-reply-label
    margin-top: 20px

.add-side-comment-wrap
  padding: 10px 10px 10px 41px
  border-top: solid 1px #e4e5e7

.side_comment_discussion .entry .entry .discussion-read-state
  left: -14px
  top: 14px

.message *:last-child
  margin-bottom: 0

.message_wrapper
  padding-top: 2px
  padding-bottom: 8px

.al-trigger
  background: none
  border-color: #fff

.al-trigger:hover, .al-trigger.ui-state-active
  border-color: #c2c2c2
  border-bottom-color: #bfbfbf

.collapsable:hover
  cursor: pointer
  &:before
    display: block
    content: ''
    position: absolute
    top: 2px
    left: 50%
    height: 0px
    width: 0px
    border-style: solid
    border-color: transparent transparent #396eb2 transparent
    border-width: 8px

.collapsed .collapsable:before
  top: 10px
  border-color: #396eb2 transparent transparent transparent

.toolbarView
  background: #fff
  padding: 10px 10px 6px 14px
  border-bottom: solid 1px #efefef

.bootstrap-form
  margin: 0

.headerBar
  +clearfix()

.headerBar-left
  float: left

.headerBar-right
  float: right

#filterResults

  .entry-controls
    display: block !important

  .entry
    margin-top: 10px !important
    margin-bottom: 10px !important

  .entry:hover
    .discussion_entry
      cursor: pointer
      .viewInDiscussion
        text-decoration: underline



