@mixin hideForPhone {
  @media (max-width:767px){
    display: none;
  }
}
$border: #e5e4e4;

/* This is much easier than writing code for an edgecase of not showing crumbs */
#breadcrumbs{
  display: none;
}
#main{
  max-width: inherit !important;
}

body.files .container-fluid, body.files #content{
  padding: 0px;
}

/* ---------------------------------------- end of the ugly --------------------*/

.ef-search-container{
  position: relative;
  height: 30px;
  width: 240px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;

  .icon-search{
    position: absolute;
    left: 6px;
    top: 7px;
    color: #555555;
    z-index: 1;
  }

  [type=search]{
    position: absolute;
    padding-left: 25px;
    z-index: 0;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
  }
}

.ef-main-buttons{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;

  flex: 2 2 0;
  -webkit-flex: 2 2 0;
  -ms-flex: 2 0;

  .btn{
    margin-right: 5px;
  }
}

.ef-admin-cog{
  margin-left: 10px;
}

.ef-header{
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.ef-breadcrumb{
  padding-left: 20px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  height: 40px;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  a{
    background-color: transparent;
    background-image: url("/images/breadcrumb-chevron.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 29px;
    padding-left: 12px;
    margin-left: 8px;

    &:first-child{
      background: none;
      padding-left: 0;
      margin-left: 0;
    }
    &.active:link, &.active:visited{
      color: #999da5;
    }
  }

}

.ef-main{
  min-height: 500px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  .ef-folder-content{
    border-right: 1px solid #f2f2f2;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    flex: 1 1 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 0;
    padding: 0px;

    [role=tree]{
      position: relative;
      margin: 10px;
    }

    i{
      color: black;
    }

    ul{
      list-style: none;
      margin: 0px;
    }

    [aria-selected=true] > .ef-folder-header{
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .ef-folder-header{
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover{
        background-color: #f2f2f2;
      }
    }

    .ef-folder-list{
      flex: 10 10 0;
      -webkit-flex: 10 10 0;
      -ms-flex: 10 0;

      font-size: 12px;
    }

    .ef-folder-totals{
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;

      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;

      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;

      flex: 1 1 0;
      -webkit-flex: 1 1 0;
      -ms-flex: 1 0;
      height: 30px;
      font-size: 16px;
      border-top: 1px solid $border;
      padding-left: 20px;
    }
  }

  .ef-directory{
    margin: 10px;
    flex: 3 3 0;
    -webkit-flex: 3 3 0;
    -ms-flex: 3 0;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    .ef-directory-header{
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 5px;

      border-bottom: 1px solid #f2f2f2;

      a{
        color: black;
      }
    }

    .ef-item-row{
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 5px;

      &.currently-selected-item{
        background-color: #d9edf9;

        .ef-hover-options{
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
        }
      }

      &:hover{
        background-color: #d9edf9;
      }

      &:hover .ef-hover-options{
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
      }
    }

    .ef-name-col{
      flex: 8 8 0;
      -webkit-flex: 8 8 0;
      -ms-flex: 8 0;
    }

    .ef-date-modified-col{
      flex: 3 3 0;
      -webkit-flex: 3 3 0;
      -ms-flex: 3 0;
      @include hideForPhone;
    }
    
    .ef-modified-by-col{
      flex: 3 3 0;
      -webkit-flex: 3 3 0;
      -ms-flex: 3 0;
      @include hideForPhone;
    }
    
    .ef-size-col{
      flex: 2 2 0;
      -webkit-flex: 2 2 0;
      -ms-flex: 2 0;
      @include hideForPhone;
    }

    .ef-links-col{
      display: flex;
      width: 85px;
    }

    .ef-hover-options{
      .al-trigger{
        color: black;
      }
      display: none;
      margin-left: 14px;
    }
  }
}

.ef-thumbnail {
  width: 45px;
}
