@import environment.sass
$context_module_border_color: #aaa
$context_module_bg_color: #f2f3f4

#context_modules
  min-width: 20px
.context_module
  border:
    top: 1px dotted $context_module_border_color
    bottom: 1px dotted $context_module_border_color
  background-color: $context_module_bg_color
  min-width: 20px
  margin-bottom: 15px
  
  .links a, .reorder_module_link, .move_item_link
    +opacity(0.5)
    text-decoration: none
    &:hover
      +opacity(1)
  .reorder_module_link, .move_item_link
    padding-left: 2px
  .links
    padding-right: 10px
    text-align: right
    white-space: nowrap
  .header 
    background-color: darken($context_module_bg_color, 5%)
    border-bottom: 1px dotted #aaa
    padding: 6px 0
    color: #323232
    .links
      float: right

  .due_date_display, .points_possible_display
    width: 65px
    margin-right: 5px

  .ig-details
    width: 180px

  .ig-row.with-completion-requirements
    height: 55px

  .module-item-title
    min-width: 300px
    right: 230px

  h2 .name
    display: inline
    position: absolute
    left: 45px
    right: 140px
    top: 6px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  &.student-view
    h2 .name
      left: 20px

  .student-view 
    .requirement-description
      left: 36px
    .module-item-title
      right: 150px
    .ig-details
      width: 125px
      right: 0px
    .due_date_display
      width: 65px
    .points_possible_display
      width: 33px
      right: 125px
    
  .requirement-description
    position: absolute
    bottom: 5px
    left: 55px
    font-size: 11px

  .completion_status .complete_icon, 
  .locked_icon,
  .progression_details_link,
  .header .links,
  .add_module_item_link,
  .manage_module,
  .delete_prerequisite_link,
  .expand_module_link,
  .collapsed,
  .context_module_item .links
    display: none
  &.editable_context_module
    .progression_details_link,
    .reorder_module_link, 
    .add_module_item_link,
    .edit_module_link,
    .delete_module_link,
    .delete_prerequisite_link
      display: inline
    .delete_prerequisite_link
      text-decoration: none
      padding-left: 3px
    .header .links,
    .manage_module
      display: block
    .completion_status
      visibility: hidden
    .context_module_item
      td.links
        display: table-cell
  &.collapsed_module
    .expand_module_link
      display: inline
      position: absolute
    .collapse_module_link,
    .content
      display: none
    .collapsed
      display: block
  &.completed
    .completion_status
      .complete_icon
        display: inline
      .incomplete_icon,
      .locked_icon
        display: none
  &.locked_module
    .context_module_item
      +opacity(0.5)
      .title 
        display: none
      .locked_title 
        display: inline
      .completion_requirement
        color: #aaa
    .completion_status
      .complete_icon,
      .incomplete_icon
        display: none
      .locked_icon
        display: inline
    .module_item_icons
      opacity: 0.8
  .manage_module, .show_hide, .progression_container
    font-size: 0.8em
    float: left
    padding-left: 15px
  .progression_container
    float: right
  a.add-small
    line-height: normal
  div.footer
    +clearfix
    padding: 13px 10px 2px
    margin-left: 15px
    color: #666
  .prerequisites .criterion 
    float: left
    border: 1px solid #aaa
    background-color: #def
    margin-left: 3px
    padding: 0.2em 4px
    font-size: 0.8em
    color: #444

.context_module_item 
  border-bottom: 1px dotted #e0e0e0
  &.indent_0
    .outdent_item_link
      display: none !important
    .indent_item_link
      border-top-left-radius: 8px
      border-top-right-radius: 8px
  &.indent_1
    .type_icon
      padding-right: 20px
  &.indent_2
    .type_icon
      padding-right: 40px
  &.indent_3
    .type_icon
      padding-right: 60px
  &.indent_4
    .type_icon
      padding-right: 80px
  &.indent_5
    .type_icon
      padding-right: 100px
    .indent_item_link
      display: none !important
  .type_icon
    display: inline-block
    i
      color: #777
      display: none
    .icon-document
      display: inline-block
  &.attachment
    .icon-document
      display: none
    .icon-download
      display: inline-block
  &.discussion_topic
    .icon-document
      display: none
    .icon-discussion
      display: inline-block
  &.assignment
    .icon-document
      display: none
    .icon-assignment
      display: inline-block
  &.quiz
    .icon-document
      display: none
    .icon-quiz
      display: inline-block
  &.external_url, &.context_external_tool
    .icon-document
      display: none
    .icon-link
      display: inline-block
  &.context_module_sub_header
    .type_icon i
      display: none
    .completion_status
      display: none
  .completion_requirement
    font-size: 0.8em
    padding-left: 5px
    margin-top: -4px
    color: #888
    display: block
    .requirement_type
      display: none
      .fulfilled
        display: none
  &.min_score_requirement
    .completion_requirement,
    .min_score_requirement
      display: block
  &.max_score_requirement
    .completion_requirement,
    .max_score_requirement
      display: block
  &.must_view_requirement
    .completion_requirement,
    .must_view_requirement
      display: block
  &.must_contribute_requirement
    .completion_requirement,
    .must_contribute_requirement
      display: block
  &.must_submit_requirement
    .completion_requirement,
    .must_submit_requirement
      display: block
  .complete_item_icon
    display: none
  &.completed_item
    .completion_requirement
      .requirement_type
        .fulfilled
          display: inline
          padding-left: 12px
          background: transparent url(/images/pass.10px.dim.png) no-repeat left center
        .unfulfilled
          display: none
    .complete_item_icon
      display: inline
    .incomplete_item_icon
      display: none
  &.after_current_position
    .item_name
      +opacity(0.5)
      .title
        display: none
      .locked_title
        display: inline
      .completion_requirement
        color: #aaa
  .module_item_icons
    vertical-align: top
    padding-top: 2px
    text-align: left
    white-space: nowrap
    width: 3.2em

#context_modules.editable
  .context_module_item
    &.after_current_position
      +opacity(1)
      .title 
        display: inline-block
      .locked_title 
        display: none

.module_item_select
  min-height: 175px
  min-width: 200px
  width: 100%

.context_module_item 
  .item_name 
    vertical-align: top
    .title
      padding-left: 5px
      padding-top: 5px
      padding-bottom: 5px
      font-size: 0.9em
    .locked_title 
      display: none
  width: 100%
  .move_item_link, .links a
    visibility: hidden
    
  .locked_module & 
    .title 
      display: none
    .locked_title 
      display: inline

  &.context_module_sub_header 
    .title
      display: none
    .type_icon
      width: 0px
    .criterion img
      display: none
    .locked_title
      display: inline
      font-weight: bold
      color: #888
  .links
    width: 80px
    vertical-align: top
    padding-top: 2px
  &.context_module_item_hover, &:hover 
    background-color: darken($context_module_bg_color, 2.5%)
    .move_item_link, .links a
      visibility: visible

  td.points_possible_display, td.due_date_display
    padding-top: 5px
    vertical-align: top
    color: #888
    font-size: 0.8em
    text-align: left
    white-space: nowrap
  td.points_possible_display
    padding-right: 15px
    width: 40px
  td.due_date_display
    padding-right: 5px
    padding-left: 15px
    width: 40px

.context_module_placeholder 
  height: 15px
  border: 1px dashed #888
  margin: 3px 0

#student_progression_list 
  .student 
    margin-bottom: 10px
    .name 
      font-weight: bold
      font-size: 1.2em
    .module_list 
      li.completed
        color: #888
      li.started, li.unlocked 
        font-weight: bold

.context_module .context_module_items
  border-collapse: collapse
  .context_module_item
    .move_item_link
      display: none
    .completion_status
      display: inline
    .links a
      display: none
  &.manageable
    .context_module_item
      .move_item_link
        display: inline
      .completion_status
        display: none
      .links a
        display: inline
  
#student_progression_dialog
  .module_progressions
    .icon i
      display: none
    th
      text-align: left
      font-size: 1.2em
    td
      vertical-align: middle
      &.icon
        width: 20px
      &.progress
        white-space: nowrap
        padding-right: 5px
      &.details
        font-size: 1.5em
        padding: 2px 15px 2px 5px
    tr
      &.in_progress
        td.details
          font-weight: bold
      &.completed
        color: #888
        .icon-check
          opacity: 0.5
          display: block
      &.locked
        .icon-lock
          display: block

div.completion_criterion_option
  select.assignment_picker
    width: 160px

body.ie
  div.completion_criterion_option
    select.assignment_picker
      width: auto

@media screen and (max-width : 1024px)
  .with-left-side.modules
    min-width: 700px

  #context_modules
    .student-view
      .due_date_display
        display: block

    .due_date_display
      display: none
    .ig-details
      width: 115px

