@import environment.sass
.discussion_topic,.announcement
  &.read .header .title
    font-weight: normal
  div
    &.header
      .announcement_icon
        :display none
      .locked_icon
        :display none
        &.locked
          :display inline
          :visibility visible
          :opacity 1.0

      .editable_locked_icon
        :display inline
        :cursor pointer
        :visibility hidden
        &.locked_icon_hover
          :visibility visible
          :opacity 0.5
        &.locked
          :visibility visible
          :opacity 1.0


      .editable_locked_icon_hover
        :visibility visible
        :opacity 0.5
        :cursor pointer
        &.locked
          :opacity 1.0

.announcement
  div.header
    .announcement_icon
      :display inline
    .discussion_topic_icon
      :display none

.discussion_entry
  div
    &.header
      .right_bar
        :float right

      .left_bar
        :float left
        :padding-top 2px

      .teaser_message
        :float left
        :width 70%
        :overflow hidden
        :white-space nowrap
        :display none

      .user_name
        :padding-left 0px
        :color #888

      .post_date
        :padding-top 0
        :color #666
  &.unread, &.just_read
    background: url('/images/discussion_entry_unread.png') 8px 35px no-repeat

  &.just_read
    background-image: url('/images/discussion_entry_just_read.png')

  &.clump
    div.header
      :font-size 0.8em
      :overflow hidden
      .teaser_message
        :display block
      .link_box
        :width 0
        :height 0
        :overflow hidden
      .left_bar
        :width 20%
        :overflow hidden
        .user_name
          :padding-left 10px
    div.content
      :display none

.discussion_subtopic
  :padding-left 15px
  .discussion_entry
    .header
      :background-color #ddd
      .right_bar
        :background #ddd
    .content
      .link_box
        :display none

.discussion_start
  +border-top-radius(5px)
  .header
    +border-top-radius(3px)
.discussion_end
  +border-bottom-radius(5px)

#topic_list .discussion_topic .user_content .media_comment_thumbnail,
#entry_list .discussion_entry .user_content .media_comment_thumbnail
  margin: 3px 0
#entry_list.agglomerated .discussion_entry .header .link_box
  :display none

.delay_posting_option
  .datetime_suggest
    display: none