.mini_month
  padding: 10px 0 0

.mini-cal-header
  text-align: center
  font-family: georgia, serif
  font-size: 14px
  padding: 0 8px
  img
    vertical-align: middle
  .prev_month_link
    float: left
  .next_month_link
    float: right
    
.mini_calendar
  width: 100%
  background-color: #e6e7e8
  .day
    padding: 0
    height: 21px
    font-size: 0.8em
    color: #444
    text-align: center
    cursor: pointer
    width: 14%
    &.has_event
      background-color: #ccc
    &.today
      background-color: #F1F1DD
    &.other_month
      color: #888
    &:hover, &.related, &.drop_target
      background-image: url('/images/4_percent_opacity.png')
    &.drop_target
      background-color: #aaa
