/* Resets default browser CSS.
   pulled from blueprint's css reset.
   Based on Eric Meyer's reset http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section
  padding: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

// dont reset border for tables so tinyMCE can do it's thing
// and dont reset margin so setting html align="center" works for tiny tables
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd,
fieldset, form, label, legend,
article, aside, dialog, figure, footer, header,
hgroup, nav, section
  border: 0
  margin: 0

// reset-html5
article, aside, dialog, figure, footer, header,
hgroup, nav, section
  display: block


body
  line-height: 1.5

/* NOTE: table border-spacing is purposely not being reset because TinyMCE relies on
   it not being there. Once you set border-spacing: 0 in css,  there is no way to do
   table.user_content {border-spacing:auto} (there is no 'auto' or 'default' value for
   border-spacing) and you cannot override it with the cellspacing html attribute
   (which is what tinyMCE uses). But we can, and do, reset border-collapse which makes
   it so we dont have to add cellspacing=0 to all our tables.
   see: http://stackoverflow.com/questions/339923/how-to-set-cellpadding-cellspacing-in-css */
table
  border-collapse: collapse
.user_content,.mceContentBody
  table
    border-collapse: separate


caption, th, td
  text-align: left
  font-weight: normal
table, td, th
  vertical-align: middle

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after
  content: ""
blockquote, q
  quotes: "" ""

/* Remove annoying border on linked images. */
a img
  border: 0 none

// reset-list-style
// ol, ul
  list-style: none



// this is a test, I want to see if it makes things look good
img
  vertical-align: text-bottom
