@import environment.sass

$subdued-text-color: #696969
$published-text-color: #34832b
$unpublished-text-color: $subdued-text-color

$published-icon-color: #34832b
$unpublished-icon-color: #b4b7ba

$border-color: #c1c7cf
$border-radius: 3px

$index-background: #e8ecef
$item-background: #ffffff
$item-hover-background: #eef7ff

$shadow: 0 1px 0 rgba(0,0,0,0.1)

.pages
  #breadcrumbs
    :border-bottom 1px solid $border-color
  .toolbar-buttons
    :padding 1em
    :border-bottom 1px solid $border-color
    :box-shadow $shadow
    .left-buttons
      :float left
    .right-buttons
      :float right

.pages.index
  .toolbar-buttons
    :position relative
  .index-content
    :background $index-background
    :padding 0 1em 1em

    .table
      :border-collapse separate
      :border-spacing 0
      td, th
        &:first-child
          :padding-left 12px
        &:last-child
          :padding-right 12px
          
      .canvas-sortable-header-row
        :text-transform uppercase
        a.canvas-sort-field
          :cursor pointer
          :user-select none
          :color inherit
          i
            :color #ccc
        a.canvas-sort-field:hover
          :text-decoration none
          i
            :color #0088cc
        a.canvas-sort-field-active
          i
            :color black

    .table thead
      tr
        :height 40px
      th
        :vertical-align middle

    .table tbody
      .page_title
        :font-weight bold
      .front-page
        :margin auto 0.5em

      .linkrow
        :background $item-background
        :text-decoration inherit
        :color inherit
        &:hover
          :background $item-hover-background
          :text-decoration inherit
          :color inherit
        td:first-child
          :border-left 1px solid $border-color
        td:last-child
          :border-right 1px solid $border-color

      .linkrow:first-child
        td:first-child
          :border-top-left-radius $border-radius
        td:last-child
          :border-top-right-radius $border-radius
      .linkrow:last-child
        td
          :border-bottom 1px solid $border-color
        td:first-child
          :border-bottom-left-radius $border-radius
        td:last-child
          :border-bottom-right-radius $border-radius

      td
        :font-size 11px
        :color $subdued-text-color
        :border-top 1px solid $border-color

        .published
          :color $published-text-color
        .unpublished
          :color $unpublished-text-color
        .published, .unpublished
          :font-size 13px
          :font-weight bold

        .icon-publish
          :color $published-icon-color
        .icon-unpublished
          :color $unpublished-icon-color

.pages.show
  .toolbar-buttons
    .publish, .unpublish
      :margin 0 1em

  .show-content
    :padding 1em
    .page-title
      :font-weight bold
      :margin-top 0

.pages.edit
  .form-actions
    :padding-left 1em
    
  .toolbar-buttons
    .published
      :color $published-text-color
    .unpublished
      :color $unpublished-text-color

  .edit-form
    :margin 0

    .edit-content
      :padding 1em

      .edit-header
        :position relative
        :margin-bottom 1em

      .switch_views
        :right 5px
        :bottom 0px
        :position absolute

      .body
        :width 98.5%

      .mceLayout
        :margin 0

      .options
        :margin-top 1em

    .form-actions
      :margin-top 0
      :margin-bottom 0

#wiki_show_view_main
  :overflow auto

#last_edited_by
  :border solid #eee
  :border-width 0 0 1px 0
  :font-size .8em
  :margin-bottom 10px
  :margin-right 2px
  h3, .h3
    :margin 0px 20px 10px
    :font-size 1.5em
    :color #444

#page_history
  :float right
#wiki_page_comments
  margin-top: 50px
  textarea
    width: 97%
    +border-radius(4px)
    border: 1px solid #aaa
    height: 50px
  .wiki_page_comment
    margin-bottom: 20px
    .commenting
      display: none
    &.commenting
      .commenting
        display: block
      .formatted_body .not_commenting
        display: none
    .header
      border-bottom: 1px solid #ccc
      margin-bottom: 2px
      color: #888
      font-size: 0.8em
      .user_name
        float: left
      .links
        float: right
        .delete_comment_link
          display: none
    &.deletable_comment
      .header 
        .links .delete_comment_link
          display: inline
          opacity: 0.5
        &:hover
          .links .delete_comment_link
            opacity: 1.0
    .formatted_body
      margin: 0 10px
      .add_comment_link
        width: 97%
        +border-radius(4px)
        border: 1px solid #aaa
        cursor: text
        display: block
        padding: 2px 4px
        text-decoration: none
        color: #888
        
// this is to fix a bug that was reported that if you shrink your browser window width to something small 
// that it would just cut off the right side of the tiny WYSIWYG editor box and make it dissapear beind the right side.
#wiki_page_body_parent.mceEditor
  display: block
  overflow: auto
