@import environment.sass

#standards
  .grading_standard
    border-bottom: 1px dotted #ccc
    margin-bottom: 25px
    .links
      opacity: 0.5
    &:hover
      .links
        opacity: 1
    .standard_title
      font-weight: bold
      font-size: 1.2em
    .display_grading_standard
      .data_holder
        max-height: 175px
        margin-left: 20px

.grading_standard
  .data_holder
    max-height: 175px
    overflow: auto
    padding-bottom: 10px
  .read_only
    display: none
  .editing_box
    :display none
  .editing_td
    :display none
  .editing_tr
    :display none
  .min_score,.max_score
    :width 100px
  &.editing
    .displaying
      :display none
    .editing_box
      :display block
    td.editing_box
      :display table-cell
    tr.editing_box
      :display table-row
    .data_holder
      max-height: 125px
    .standard_title div
      float: left
