@import environment.sass

html
  :overflow auto

#topleft_content
  :display none
  :margin 0
  :width 100%

#top_content
  :overflow hidden
  :display none
  :position relative
  :margin 0
  :width 100%


#assignment_names, #student_names
  :position relative

#left_content
  :overflow hidden
  :display none
  :position relative
  :margin 0
  :width 100%
  
  #student_name
    :width 100%

#gradebook
  :position relative

#gradebook_inner
  :width 100%
  :position relative
  :border 1px solid #ccc

#gradebook_table
  :position relative

table.gradebook_table
  :border-collapse collapse
  :border-top 1px solid #ccc
  :border-left 1px solid #ccc
  
.datagrid a, .datagrid a:hover, .datagrid a:focus
  background-color: transparent
  text-decoration: none
table.gradebook_table,.datagrid .content
  select
    :border 0px
  td,div.cell
    :border 1px solid #ccc
    outline: none !important
    .table_entry,.student_header,.assignment_header
      :padding 5px
      
    &.student_assignment
      :border-color #ddd
      // .score_details
      &.late.selected
        :background-color #fcc
      
      &.selected
        :background-color #cdf
      
      &.late
        :background-color #fee
        
      &.dropped.selected
        :background-color #cdf
        :background-image url(/images/earmark_hover.png)
        
      &.dropped
        :background #fff url(/images/earmark.png) no-repeat top left
        :color #ccc
        a
          :color #aaa
        
      &.related
        :background-color #f6f6f6
        
      &.focus
        :background-color #888    
        :color #fff
        .table_entry
          :padding 0
        
      &.group_total,&.final_grade
        :background-color #eee
        &.related
          :background-color #ddd
        &.selected
          :background-color #ccc

      &.final_grade
        :background-color #ddd
        :min-width 80px
        &.related
          :background-color #ccc
        &.selected
          :background-color #bbb
        .letter_grade
          float: right
          padding-right: 5px
      .score,.letter_grade
        color: #888
        font-size: 0.9em
        padding-left: 5px
      
    &.assignment_name,&.student_name
      :background-color #eee
      .assignment_options
        :background-color #eee
        
      &.unpublished
        :background-color #fdd
        .assignment_options
          :background-color #fdd
        &.selected,&.related
          :background-color #fbb
          .assignment_options
            :background-color #fbb
      &.group_total
        :background-color #ddf
        .assignment_options
          :background-color #ddf
        &.related
          :background-color #cce
          .assignment_options
            :background-color #cce
        &.selected
          :background-color #bbd
          .assignment_options
            :background-color #bbd
      
      &.final_grade
        :background-color #fffccc
        .assignment_options
          :background-color #fffccc
        &.related
          :background-color #fff999
          .assignment_options
            :background-color #fff999
        &.selected
          :background-color #eee666
          .assignment_options
            :background-color #eee666

      &.selected
        :background-color #abf
        .assignment_options
          :background-color #abf
      
      &.related
        :background-color #ddd
        .assignment_options
          :background-color #ddd
          
      &.drop_right_side
        :border-right 1px solid #888
              
      &.drop_left_side
        :border-left 1px solid #888

      .assignment_link
        img.assignment_dropdown
          :background-image url(/images/menu_option.png)

        &:hover img.assignment_dropdown
          :background-image url(/images/menu_option_hover.png)
          
    &.hidden_column
      :min-width 2px      
      
    div.student_row_header
      :margin 0
      :padding 0
    
    .secondary_identifier
      font-size: 0.7em
      color: #999
      max-width: 120px
      margin-left: 10px
      margin-top: -2px
      height: 7px
      &.with_section
        margin-top: -5px
    .course_section, .course_sections
      font-size: 0.7em
      font-size: 0.7em
      color: #999
      max-width: 120px
      margin-left: 10px
      margin-top: 2px
      height: 7px
    .display_name
      :position relative
      :padding-right 20px
      :max-width 120px
      :overflow hidden

      .assignment_options
        :position absolute
        :top 0
        :right 0
    
        img
          :margin 2px 0px 2px 5px
          :width 16px
          :height 16px

.event_pending
  opacity: 0.5

#gradebook_options_holder
  :float left
  :background-color #fafafa
  :margin-left 10px
  :margin-top 5px
  :padding 1px 3px
  :border 1px solid #aaa
  border-radius: 2px
  :margin-bottom 2px
  #gradebook_options
    :padding-right 20px
    :background url(/images/menu_option.png) no-repeat right center
    :color #888
  &:hover
    :border-color #444
    :background-color #fff
    #gradebook_options
      :background-image url(/images/menu_option_hover.png)
      :color #444
#datagrid_topleft #topleft_box.selected
  :background-color #eee

#submission_information
  .late_box
    :display none
  .submitted_at_box.late_submission
    :color #800
    :font-weight bold
  .submitted_at_box.late_submission
    .late_box
      :display inline
  .turnitin_similarity_score
    margin: 0 2px
    color: #444
    text-decoration: none
    &:hover
      text-decoration: none
.grade .less_important
  :font-size 0.8em
  :color #888
  
#assignment_details_dialog
  .distribution
    height: 30px
    width: 200px
    position: relative
    .bar_left
      position: absolute
      top: 0pt
      left: 0pt
      height: 10px
      width: 0px
      margin: 5px 0px
      border-width: 2px 0 2px 2px
      border-style: solid
      border-color: #aaa
      overflow: hidden
    .none_left
      position: absolute
      top: 0pt
      left: 0px
      height: 0px
      margin-top: 10px
      border-bottom: 2px solid #aaa
      overflow: hidden
      border-top-width: 0pt
    .some_left
      position: absolute
      top: 0pt
      height: 20px
      border-width: 2px 0pt 2px 2px
      border-style: solid
      border-color: #aaa
      overflow: hidden
      -moz-border-radius-topleft: 3px
      -moz-border-radius-bottomleft: 3px
      background: none repeat scroll 0% 0% #fff
    .some_right
      position: absolute
      top: 0pt
      height: 20px
      border: 2px solid #aaa
      overflow: hidden
      -moz-border-radius-topright: 3px
      -moz-border-radius-bottomright: 3px
      background: none repeat scroll 0% 0% #fff
    .none_right
      position: absolute
      top: 0pt
      height: 10px
      margin: 5px 0px
      border-width: 2px 2px 2px 0pt
      border-style: solid
      border-color: #aaa
      overflow: hidden
    .bar_right
      position: absolute
      top: 0pt
      width: 0px
      height: 10px
      margin: 5px 0px
      border-width: 2px 2px 2px 0pt
      border-style: solid
      border-color: #aaa
      overflow: hidden
      
#total_tooltip
  background-color: #444
  color: #fff
  border-radius: 3px
  padding: 5px 10px
  z-index: 5
  position: absolute
  font-size: 0.8em
  .tooltip_tail
    border-color: #444 transparent
    border-style: solid
    border-width: 5px 5px 0
    position: absolute
    bottom: -5px
    width: 0
    left: 15px
  &:hover
    display: none
