/* High contrast stylesheet */

/* <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/8994490/high-contrast.css"> */

/* header */
#header{
  background: #333;
}
#identity{
  background: #555;
}

/* general/navigation */
#wrapper-container{
  background: #fff;
}
.global-message, .recent_activity>li, .recent-activity-header, #right-side h2, #right-side .h2, #main, .btn, .ui-button{
  border-color: #555;
}
.list-view>ul>li>a, .list-view>nav>ul>li>a{
  color: #000;
}
a, .fake-link, #menu_enrollments .customListOpen, .discussion-section a, #editor_tabs .page_list li a, .discussion .title, .slick-header-column a.assignment-name{
  color: #14597c;
}
a:hover, .fake-link:hover, .discussion .title:hover, {
  color: #0088cc;
}
.new-and-total-badge .new-items{
  background: #0088cc;
}
.menu-item .menu-item-drop li .subtitle, .menu-item .menu-item-drop .menu-item-drop-column .menu-item-heading, .menu-item.hover .menu-item-title, .discussion-reply-box, .standalone-icon:before, .discussion .discussion-actions a, .discussion.no-content, .al-trigger-gray, .al-trigger-gray:hover{
  color: #444;
}
#section-tabs .section-tab-hidden a{
  color: #555;
  background: #fff;
}

.ig-list .ig-row.ig-published .ig-title{
  color: #21541b;
}
.btn-published.disabled, .btn-published.disabled:hover, .btn-published, .btn-published:hover{
  background: #21541b;
}
.btn-unpublished, .btn-unpublished:hover{
  background: #a42a23;
}



/* buttons */
.btn-primary, .ui-state-active, .ui-progressbar .ui-widget-header, .ui-widget-content .ui-state-active, .ui-widget-content .ui-progressbar .ui-widget-header, .ui-progressbar .ui-widget-content .ui-widget-header, .ui-widget-header .ui-state-active, .ui-widget-header .ui-progressbar .ui-widget-header, .ui-progressbar .ui-widget-header .ui-widget-header, .discussion-read-state, #change_gradebook_version_link_holder a, #change_calendar_version_link_holder a, .dashboard-toggle a{
  background-color: #005179;
  background-image: -moz-linear-gradient(top, #015b88, #005179);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#015b88), to(#005179));
  background-image: -webkit-linear-gradient(top, #015b88, #005179);
  background-image: -o-linear-gradient(top, #015b88, #005179);
  background-image: linear-gradient(to bottom, #015b88, #005179);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0ABEFF', endColorstr='#FF008FD6', GradientType=0);
  border-color: #005179 #005179 #015b88;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover{
  background: #015b88;
}

.btn-info{
  background-color: #226e85;
  background-image: -moz-linear-gradient(top, #257790, #226e85);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#257790), to(#226e85));
  background-image: -webkit-linear-gradient(top, #257790, #226e85);
  background-image: -o-linear-gradient(top, #257790, #226e85);
  background-image: linear-gradient(to bottom, #257790, #226e85);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0ABEFF', endColorstr='#FF008FD6', GradientType=0);
  border-color: #226e85 #226e85 #257790;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover{
  background: #257790;
}

.btn-success{
  background-color: #197619;
  background-image: -moz-linear-gradient(top, #166616, #197619);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#197619), to(#166616));
  background-image: -webkit-linear-gradient(top, #197619, #166616);
  background-image: -o-linear-gradient(top, #197619, #166616);
  background-image: linear-gradient(to bottom, #197619, #166616);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0ABEFF', endColorstr='#FF008FD6', GradientType=0);
  border-color: #197619 #197619 #166616;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover{
  background: #166616;
}

.btn-warning, .btn-warning:hover{
  color: #222;
  font-weight: bold;
  text-shadow: none;
}

.btn-danger{
  background-color: #a42a23;
  background-image: -moz-linear-gradient(top, #a42a23, #af2d26);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#af2d26), to(#a42a23));
  background-image: -webkit-linear-gradient(top, #af2d26, #a42a23);
  background-image: -o-linear-gradient(top, #af2d26, #a42a23);
  background-image: linear-gradient(to bottom, #af2d26, #a42a23);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0ABEFF', endColorstr='#FF008FD6', GradientType=0);
  border-color: #af2d26 #af2d26 #a42a23;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover{
  background: #af2d26;
}
.ui-buttonset .ui-state-active{
  background: #555;
  color: #fff;
  text-shadow: none;
}

/* bootstrap alerts */
.alert{
  color: #6e4c12;
}
.alert-error{
  color: #862523;
}
.alert-success{
  color: #2f5730;
}
.alert-info{
  color: #114f6e;
}

/* jquery ui alerts */
.ui-state-warning{
  background: #ffa500;
  color: #000;
}
.ui-state-success{
  background: #166616;
}
.ui-state-error{
  background: #a42a23;
}

/* discussion specific */

#discussion_container .avatar img{
  border-color: #999;
}

/* calendar */
.calendar .agenda-col-wrapper, .calendar .agenda-col-wrapper .month-name{
  color: #475660;
}





