table.plugins {
  border-collapse: collapse;
  th {
    border-bottom: 1px dotted #888888;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
  }
  td {
    border-bottom: 1px dotted #cccccc;
    padding: 2px 5px;
    &.name {
      //font-size: 1.2em;
      font-weight: bold;
      padding-right: 10px;
    }
    &.description {
      padding-left: 10px;
      padding-right: 15px;
    }
    //&.description, &.tag {
    //  font-size: 0.8em;
    //}
    &.website {
      text-align: center;
    }
    &.configure {
      padding-left: 10px;
    }
  }
  tr:hover {
    td {
      background-color: #f0f0f0;
    }
  }
}

#settings {
  table {
    td {
      &.sub {
        h3, .h3 {
          margin-top: 15px;
          margin-bottom: 5px;
        }
        p {
          font-size: 0.8em;
        }
        p:last-child {
          margin-bottom: 5px;
        }
      }
      .hint {
        font-size: 0.8em;
      }
    }
  }
}
