@import 'environment';

.roster {
  min-width: 515px;
  overflow: hidden;

  .users-column-wrapper {
    float: left;
    margin-right: 2%;
    width: 47%;
  }

  .avatar {
    float: left;
    padding-right: 5px;

    &:hover { text-decoration: none; }
    img { height: 64px; width: 64px; }
  }

  .user-details {
    float: left;
    margin-left: 12px;
  }

  .more_info {
    font-size: 0.85em;
  }

  .sections {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .roster .avatar img { height: 32px; width: 32px; }
}

