@import environment.sass
.slideshow_dialog
  border: none !important
  background: transparent !important
  border-radius: 30px
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.2)
  .ui-dialog-titlebar
    display: none
  .ui-dialog-content
    background-image: url(/images/slideshow/background-slice.png)
    background-color: #2a2a2a
    border-radius: 30px
    margin: 0
    padding: 24px
    ul.slides
      margin: 0
      padding: 0
      // 529px dialog height - (48px outer padding + 35px separator height + 32px navigation height)
      height: 414px
      list-style: none
      li
        // (700px dialog width - (48px outer padding + 538px body width)) / 2
        padding: 0 57px
        color: white
        font-size: 14px
        img.icon
          height: 150px
          width: 175px
          margin-bottom: 24px
        img.screenshot
          height: 280px
          width: 538px
          margin-bottom: 16px
        p.large
          font-size: 16px
        p.large_and_blue
          font-size: 16px
          color: #5eb0e4
    div.separator 
      // total height: 35px (neither above nor below have vertical margins)
      margin: 16px 0
      padding: 0
      height: 3px
      width: 652px
      background-image: url(/images/slideshow/separator.png)
      background-repeat: repeat-x
    div.navigation
      margin: 0
      padding: 0
      height: 32px
      text-align: center
      a
        text-decoration: none
        padding: 0
        margin: 0 8px
      a.back
        float: left
        margin-left: 0px
        height: 29px
        width: 17px
        background-image: url(/images/slideshow/back.png)
        &.inactive
          background-image: url(/images/slideshow/back-disabled.png)
      a.forward
        float: left
        height: 29px
        width: 17px
        background-image: url(/images/slideshow/forward.png)
        &.inactive
          background-image: url(/images/slideshow/forward-disabled.png)
      a.slide
        display: inline-block
        margin-top: 7px
        width: 14px
        height: 14px
        background-image: url(/images/slideshow/white-circle-nav.png)
      a.current_slide
        background-image: url(/images/slideshow/blue-circle-nav.png)
      a.close
        float: right
        margin-right: 0px
        height: 29px
        width: 29px
        background-image: url(/images/slideshow/close.png)
