<form method="post" action="/login/canvas" id="login_form" class="bootstrap-form">
  <input type="hidden" name="redirect_to_ssl" value="1"/>
  <input type="hidden" name="_method" value="POST">
  <input name="authenticity_token" type="hidden" value="{{auth_token}}">
  <div>
    <input name="pseudonym_session[unique_id]" class="login-input" type="text" placeholder="{{login_handle_name}}">
  </div>
  <div>
    <input name="pseudonym_session[password]" class="login-input" type="password" placeholder="{{#t "password"}}Password{{/t}}">
  </div>
  <div>
    <button type="submit">{{#t "sign_in"}}Sign In{{/t}}</button>
  </div>
  <label class="checkbox">
    <input name="pseudonym_session[remember_me]" type="checkbox">
    {{#t "remember_me"}}Remember Me{{/t}}
  </label>
</form>
