<div class="registration-dialog">
  <p>
    {{#t "sent_email_paragraph"}} 
    We sent an email to {{email}}. <b>Click the link in the email to
    finish registering</b>. If you don't see it,
    <a href="#" class="re_send_confirmation_link">click
    to re-send the email</a>, and make sure to check your spam box.
    {{/t}}
  </p>
  <div class="re_send_confirmation_status"></div>
  <p style="text-align: right">
    <button class="button ok_close">{{#t "buttons.ok"}}OK{{/t}}</button>
  </p>
</div>
