<div class='module-sequence-padding'></div>
<div class='module-sequence-footer' role="navigation" aria-label="{{#t}}Module Navigation{{/t}}">
  <div class="module-sequence-footer-content">
    <div class="module-sequence-footer-left">
      {{#if previous.show}}
        <span class="module-sequence-footer-button--previous"></span>
      {{/if}}
    </div>
    <div class="module-sequence-footer-right">
      {{#if next.show}}
        <span class="module-sequence-footer-button--next"></span>
      {{/if}}
    </div>
  </div>
</div>
