<div class="empty-statistics">
  <img
    src="/images/quizzes/quiz_stats_empty.png"
    {{bind-attr alt=imageAltLabel}} />

  <header>
    <h3>
      {{t 'empty_stats.header' 'Nothing to see here folks.'}}
    </h3>
  </header>

  <p>
    {{t 'empty_stats.info' 'None of your students have taken this quiz yet.'}}
  </p>
</div>