<div class="erratic-statistics">
  <img
    src="/images/quizzes/quiz_stats_empty.png"
    {{bind-attr alt=imageAltLabel}} />

  <header>
    <h3>{{errorHeaderLabel}}</h3>
  </header>

  <p>{{errorInfoLabel}}</p>
</div>