<% content_for :page_title do %>Edit Delayed Job<% end %>

<% content_for :page_header do %>
  <h1>Edit Delayed Job</h1>
<% end %>

<%= render :partial => "nav" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to 'Show', delayed_job_path(@delayed_job) %> |
  <%= link_to "View All", delayed_jobs_path %>
</p>
