@import "base/environment";

// #4985f5
$turnitin_blue: rgba(73, 133, 245, 0.5);

// #4ff057
$turnitin_green: rgba(79, 240, 87, 0.5);

// #f5f549
$turnitin_yellow: rgba(245, 245, 73, 0.5);

// #ffb433
$turnitin_orange: rgba(255, 180, 51, 0.5);

// #ff383f
$turnitin_red: rgba(255, 56, 63, 0.5);

// #b8b8b8
$turnitin_gray: rgba(184, 184, 184, 0.5);

.turnitin_score_container_caret {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  content: "";
  border-width: 4px;
  border-color: transparent;
  border-style: solid;
  left: -8px;
  margin-top: -4px;
  &.none_score {
    border-right-color: $turnitin_blue;
  }
  &.acceptable_score {
    border-right-color: $turnitin_green;
  }
  &.warning_score {
    border-right-color: $turnitin_yellow;
  }
  &.problem_score {
    border-right-color: $turnitin_orange;
  }
  &.failure_score {
    border-right-color: $turnitin_red;
  }
  &.submission_error, &.submission_pending {
    border-right-color: $turnitin_gray;
  }
}

.turnitin_score_container {
  position: relative;
  margin-left: 10px;
}

.turnitin_similarity_score,
.turnitin_similarity_score:link,
.turnitin_similarity_score:visited,
.turnitin_similarity_score:active,
.turnitin_similarity_score:hover,
.turnitin_similarity_score:focus {
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px;
  padding: 2px 4px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 0 1px;
  color: #444;
  font-size: 10px;
  text-decoration: none;
  &.none_score {
    background-color: $turnitin_blue;
  }
  &.acceptable_score {
    background-color: $turnitin_green;
  }
  &.warning_score {
    background-color: $turnitin_yellow;
  }
  &.problem_score {
    background-color: $turnitin_orange;
  }
  &.failure_score {
    background-color: $turnitin_red;
  }
  &.submission_error, &.submission_pending {
    background-color: $turnitin_gray;
  }
}

.turnitin_resubmit_container {
  text-align: right;
}

.turnitin-comments {
  font-size: 0.8em;
}
