@import base/environment

ul.context_list
  li
    margin-bottom: 10px
    margin-left: 10px
    margin-right: 10px
    padding-left: 10px
    padding-bottom: 5px
    
    .unenroll_link
      opacity: 0.3

    &:hover
      background-color: #eee
      .unenroll_link
        opacity: 1
      &.invited
        background-color: transparent

    .invited:hover
      background-color: transparent

    a
      font-weight: bold
      display: block
      
      .subtitle
        color: #888

    .reminder
      margin-left: 0

  .unpublished
    a
      color: #888
      font-weight: normal

  .name
    font-size: 1.5em

  .subtitle
    display: block
    font-style: italic
    margin-left: 10px
    font-size: 0.8em
    line-height: 0.8em
    margin-bottom: 3px
