$highlight-color: #06a9ee;

.course-options {
  font-size: 14px;
  margin: -13px -13px 25px -13px;
  padding: 10px 15px;
  .button-sidebar-wide {
    color: black;
    padding: 5px;
    i {
      margin-right: 5px;
    }

    &:link, &:visited, &:active {
      text-decoration: none;
      font-weight: 500;
    }

    &:hover, &:hover i[class^=icon-]:before {
      color: $highlight-color !important;
    }
  }
}

#edit_course_home_content_form div.form_group {
  padding-top: 2px;
  padding-left: 10px;
}

.public-license-image-link {
  float:left;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.public-license-text {
  font-size: 0.8em;
  display: block;
  line-height: 1.5em;
  padding-left:5px;
}
