@import "base/environment";
@import "pages/shared/move_dialog";

$announcements_disscussion-summary-color: $canvas-dark;

// min width to ensure toolbar doesn't stagger
#main { min-width: 700px; }

.discussionTopicIndexList {
  .discussion-actions {
    float: right;
    padding: 11px 10px 0px 0px;
  }
  .discussion-topic {
    cursor: pointer;
    display: table;
    padding: 8px;
    min-height: 52px;
    border-top: 1px solid $tableBorder;
    background-color: white;
    @if $use_high_contrast == false {
      &:nth-child(odd) { background-color: $tableBackgroundAccent; }
    }
    &.unread .discussion-title{ font-weight: bold; }
    &.selected { background-color: #d6ecfc; }
  }
  .discussion-summary {
    max-width: 740px;
    @media screen and (max-width: 1100px) { max-width: 520px; }
  }
  .discussion-info-icons { float: right; }
  .discussion-unread-container, .discussion-last-reply, .discussion-info-icons {
    float: right;
    padding: 11px 10px 0;
    // 'not-important' styles
    color: $announcements_disscussion-summary-color;
    font-size: 11px; }
  .discussion-unread-container { width: 56px; }
  .discussion-author { font-size: 10px; }
  .discussion-summary { font-size: 12px; color: $announcements_disscussion-summary-color; }
  .discussion-title {
    font-size: 14px;
    line-height: 1;
    display: block;
  }
  .discussion-column {
    display: table-cell;
    vertical-align: middle;
  }
  .toggleSelected { margin-right: 8px;}
}

.announcements .discussionTopicIndexList .discussion-summary {
  @media screen and (max-width: 1100px) { max-width: 520px; }
  @media screen and (max-width: 1345px) and (min-width: 1101px) { max-width: 550px; }
  @media screen and (max-width: 1345px) and (min-width: 1176px) { max-width: 580px; }
}

.discussion-drag-handle {
  display: none;
  background-image: inline-image('drag_handle.png');
  height: 20px;
  width: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 4px 0 -5px;
  float: left;
  cursor: ns-resize;
  opacity: 0;
  .touch &, .discussion-topic:hover & { opacity: 0.5; }
  .ui-sortable & { display: block; }
  &:hover, &:focus {
    opacity: 1 !important;
  }
}

.discussion-title-block {
  margin: 0;
  line-height: 1.5em;
}

.item-box {
  background: #e0e5ea;
  border: 1px solid #c1c7cf;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 0;

  h1,h2,h3,h4,h5,h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 8px 16px;

    &, a {
      color: #3a4652;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.discussion-collections {
  background: #e8ecef;
}

.discussion-list {
  border: none;
  border-bottom: 2px dashed #c6cacd;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 9px 9px 16px 9px;

  &:last-child {
    border-bottom: none;
  }

  &.droppable-hover {
    > * {
      opacity: 0.5;
    }
  }

  &.pinned.droppable-hover .no-content {
    background: #dff0d8;
  }

  &.locked .title {
    color: #696969;
  }

  .title-help {
    color: #686868;
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
  }

  .collectionViewItems {
    margin: 0;
  }

  .loader {
    height: 40px;
  }
}

.discussion {
  position: relative;
  display: block;
  height: auto;
  background: #fff;
  border: 1px solid #c1c7cf;
  border-radius: 3px;
  color: #696969;
  padding: 5px 0 5px 10px;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &:hover {
    background: $ic-list-item-background--hover;
  }

  a {
    display: inline;
    height: auto;
    background: transparent;
    border: none;
    border-radius: 0;
    &.al-trigger { display: inline-block; }
  }

  .discussion-content {
    box-sizing: border-box;
    display: table;
    vertical-align: middle;
    width: 100%;
  }

  .discussion-row {
    display: table-row;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
    &.discussion-unpublished {
      .discussion-type, .discussion-title a {
        color: #696969;
      }
    }
    &.discussion-published {
      .discussion-type, .discussion-title a {
        color: #33802a;
      }
    }
  }

  .draggable-handle {
    width: 16px;
    color: #B4B7BA;
    cursor: pointer;
  }

  .discussion-type {
    text-align: center;
    width: 36px;
  }

  .discussion-date-available {
    width: 200px;

    .status-description {
      font-weight: bold;
    }
  }

  .discussion-due-date {
    width: 200px;

    .discussion-date-type {
      font-weight: bold;
    }
  }

  .discussion-status {
    color: $ic-color-icon-disabled;
    width: 60px;

    .publish-icon {
      margin-right: 10px;
    }

    .subscription-toggler {
      padding: 5px;
      &:before {
      margin: 0;
      }
    }

    a[class*=icon-] {
       text-decoration: none;
    }

    .icon-discussion-check {
      color: $canvas-success;
    }

    .icon-discussion-x {
      color: $canvas-danger;
    }
  }

  .discussion-unread-status {
    padding-right: 5px;
    width: 60px;
  }

  .discussion-actions {
    width: 45px;
  }

  .title {
    color: #1f6fc0;
    display: block;
    font-size: 14px;
    font-weight: bold;

    &:focus {
      outline: 0;
      text-decoration: underline;
    }
  }

  &.no-content {
    border-style: dashed;
    color: ensure-contrast(#878d92, #fff);
    display: none;
    margin: 5px;
    padding: 8px;
    text-align: center;

    &:hover {
      background: #fff;
    }

    b {
      font-size: 16px;
    }

    p {
      margin: 0;
    }
  }
}

.accessibility-warning {
  color: #fff;
  background: #DC3F3F;
  border: 1px dashed #fff;
  font-size: 14px;
  padding: 2px;
}

