@import "base/environment";

$replace-this-with-a-variable-for-focus-bg: hsl(0, 0%, 95%);

$ef-thumbnail-size: 36px;

@mixin hideForPhone {
  @media (max-width:800px){
    display: none;
  }
}

.permissions-dialog-form{
  .radio{
    margin-top: 15px;
  }
}
.form-horizontal{
  .dialog-adapter-form-calendar-label{
    width: 90px;
    margin-left: 0px;
  }
}
.dateSelectInput { width: 100px }
.controls.dateSelectInputContainer{ margin-left: 100px }


.ef-main-buttons{
  .ui-buttonset, .ui-button {
    display: inline-block;
  }
}

.ef-header{
  padding: $base-content-padding $base-content-padding 8px;
  border-bottom: 1px solid $base-border-color;
  > * {
    display: block;
    margin-bottom: 0
  }
  input[type='search'] {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
}

.ef-main{
  min-height: 300px;
  display: flex;

  .ef-folder-content{
    border-right: 1px solid $base-border-color;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0px;

    .folderTree {
      margin: 10px
    }

    [aria-selected=true] > .ef-folder-header{
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .ef-folder-header{
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover{
        background-color: #f2f2f2;
      }
    }

    .ef-folder-list{
      flex: 10 10 0;
      font-size: 12px;
      overflow: auto;
    }

    .ef-folder-totals{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1 1 0;
      height: 30px;
      font-size: 16px;
      border-top: 1px solid $base-border-color;
      padding-left: 20px;
    }
  }
}
.ef-directory{
  position: relative;
  margin: 10px;
  flex: 3 3 0;
  display: flex;
  flex-direction: column;

}
.ef-directory-header{
  display: flex;
  padding: 5px;
  border-bottom: 1px solid $base-border-color;
}

.ef-plain-link, .ef-plain-link:hover { color: $base-font-color-dark; }


.ef-item-row{
  display: flex;
  padding: 5px;
  user-select: none; /* so that we can shift-click to select */
  margin-bottom: 1px;
  border-radius: 3px;
  line-height: $ef-thumbnail-size;

  // :hover style needs to be before 'selected' so item that is both hovered and selected gets selected color
  &:hover            { background-color: $base-list-item-background--hover }
  &.ef-item-selected { background-color: $base-list-item-background--selected }

  .al-trigger { opacity: 0 }
  &:hover .al-trigger, .al-trigger.ui-state-active { opacity: 1 }

  .btn-link { border-width: 0 }
}
.ef-big-icon {
  width: $ef-thumbnail-size !important;
  color: $base-font-color-dark;
  &:before {
    font-size: $ef-thumbnail-size - 7px !important;
  }
}

.ef-name-col{
  flex: 8 8 0;
}

.ef-date-created-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-date-modified-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-modified-by-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-size-col{
  flex: 2 2 0;
  @include hideForPhone;
}

.ef-links-col{
  display: flex;
  width: 63px;
}


.ef-thumbnail {
  width: $ef-thumbnail-size;
  height: $ef-thumbnail-size;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.ef-edit-name-form {
  position: relative;
  margin-bottom: 0;
}
.ef-edit-name-cancel {
  position: absolute;
  top: 0;
  right: 0;
}

.ef-footer {
  border-top: 1px solid $base-border-color;
  padding: 0 $base-content-padding;
  line-height: 33px;
  .progress-bar__bar-container {
    width: auto;
  }
  .ef-quota-usage {
    min-width: 330px;
  }
}


.file-rename-form__form-label {
  float: left;
  margin-top: 5px;
  padding-right: 5px;
}
.upload-progress-view {
  padding-top: 25px;
  clear: both;
}
.upload-progress-view__label {
  margin-left: 5px;
  margin-top: 5px;
  width: 49%;
  color: ensure-contrast(#000, $canvas-secondary);
  font-size: 0.95em;
  float: left;
}
.progress-bar__bar-container {
  height: 9px;
  width: 49%;
  margin-bottom: 12px;
  border: solid $canvas-primary 1px;
  border-radius: 20px;
  float: right;
  margin-top: 10px;

  &.almost-done {
    border: solid $canvas-success 1px;
  }
}
.progress-bar__bar {
  position: relative;
  background: $canvas-primary;
  border: none;
  height: 9px;
  border-radius: 20px;

  &.almost-done {
    background: $canvas-success;
  }
}
.current_uploads {
  border-radius: 10px;
  border: dashed $canvas-neutral 2px;
  padding: 10px 10px 40px 10px;
}
.current_uploads__uploaders {
  padding-left: 20px;
  padding-right: 20px;
}

.ef-breadcrumb-popover {
  display: block;
  left: -9999px;
  top: 15px;
  opacity: 0;
  transition: opacity .2s;
  width: auto;
  &.open {
    left: -23px;
    opacity: 1;
  }
  &.popover > .arrow {
    left: 53px;
  }

  ul {
    list-style: none;
    margin: 0;
  }
}

.UploadDropZone {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(254, 254, 254, 0);
  z-index: -1;
}

.UploadDropZone__active {
  background: rgba(254, 254, 254, 0.9);
  z-index: 1;
}

.UploadDropZone__instructions {
  margin-top: 70px;
  text-align: center;
  pointer-events: none;
}
.UploadDropZone__instructions__close {
  float: right;
  color: $canvas-neutral;
  font-size: -1.8em;
  pointer: cursor;
}
i[class*=UploadDropZone__instructions--icon-upload]:before {
  font-size: 100px;
}
i[class*=UploadDropZone__instructions--icon-upload] {
  color: $canvas-primary;
  width: 100px;
  height: 100px;
}
.UploadDropZone__instructions--drag {
  font-size: 1.3em;
  font-weight: bold;
}

.activeDragTarget {
  background-color: $base-list-item-background--selected !important;
  box-shadow: inset 0 0 0px 2px $canvas-primary;
}

.DragFeedback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  > * {
    position: absolute;
  }
}




// Hack, Hack, Hack!
// to make sure that there is space for the ItemCog menu to appear below the bottom thing in the list of files
#footer { min-height: 80px }

// Make sure that ReactModal gets above everything else
.ReactModal__Overlay {
  z-index: 100;
}

.ef-file-preview-overlay {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);

}

.ef-file-preview-container {
  display: flex;
  flex-direction: column;
  height: 100%
}

.ef-file-preview-header {
  // position: relative;
  // top: 0;
  // left: 0;
  // right: 0;
  //height: 70px;
  flex: 0 0 70px;
  background-color: #000;
  opacity: 1;
  border-bottom: 1px solid #666;
}

.ef-file-preview-preview {
  flex: 1;
  display: flex;
  &.full-height {
    flex: 0 0 400px;
  }
  // height: 100vh;
  // position: absolute;
  // top: 70px;
  // left: 0;
  // right: 0;
  // height: 100%;
  // width: 100%;
}

.ef-file-preview-arrow-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100px;
}

.ef-file-preview-arrow-link {
  background-color: #000;
  border: 1px solid #666;
  text-align: center;
  height: 100px;
  padding-top: 65px;
}

.ef-file-preview-arrow {


  // background-color: #000;
  // height: 100px;
  // width: 50px;
  // i {
  //   margin-top: 45px;
  //   margin-left: 13px;
  // }
}

.ef-file-preview-header-buttons {
  padding: 8px 16px;
}

.ef-file-preview-button {
  color: rgba($canvas-light, 0.8);
  font-weight: bold;
  margin-left: 16px;
  cursor: pointer;
  &:hover, &:focus { color: $canvas-light; }
  @if $use_high_contrast == false {
    &:hover, &:focus { text-decoration: none; }
  }
}

.ef-file-preview-header-filename-container {
  padding: 8px 16px;
}

.ef-file-preview-header-filename {
  color: $canvas-light;
  margin: 0;
}


.ef-file-preview-information {
  // width: 46%;
  background-color: #333;
  align-self: flex-start;
  // position: absolute;
  // right: 0;
  // float: right;
  // top: 70px;
  // bottom: 0;
}

.ef-file-preview-infotable {
  th {
    color: gray;
  }
  td {
    color: white;
  }
}

.ef-file-preview-toggle {
  color: #666;
  font-weight: bold;
  background-color: #000;
  // width: 100px;
  // margin-left: 25px;
  text-align: center;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  // position: absolute;
  // bottom: 10px;
}

.ef-file-preview-footer {
  // width: 100%;
  // height: 20%;
  // position: absolute;
  // bottom: 0;
  background-color: black;

}

.ef-file-preview-footer-item
{
  width: 100px;
  height: 100px;
  // float: right;
  color: white;
  display: inline-block;
}

.ef-file-preview-image {
  width: 500px;
  height: auto;
}

.ef-file-preview-item {
  //background-color: red;
  align-items: center;
}

.ef-file-preview-toggle-row {
  flex: 0 0 70px;
}

.ef-file-preview-footer-list {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ef-file-preview-footer-list-item {
  display: inline;
}

.ef-file-preview-footer-arrow {
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}

.ef-file-preview-footer-active {
  border: solid $canvas-primary 2px;
}

.ef-file-preview-footer-image {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.ef-file-preview-not-available {
  color: #fff;
  background-color: #000;
  padding: 200px;
}

