@mixin hideForPhone {
  @media (max-width:767px){
    display: none;
  }
}
$border: #e5e4e4;

.form-horizontal{
  .dialog-adapter-form-calendar-label{
    width: 90px;
    margin-left: 0px;
  }
}

.adminCog-download-link{
  color: black;
  margin-right: 10px;
}

.dateSelectInput{
  width: 100px;
}

.controls.dateSelectInputContainer{
  margin-left: 100px;
}
.ef-search-container{
  position: relative;
  height: 30px;
  width: 240px;
  flex: 1 1 0;

  .icon-search{
    position: absolute;
    left: 6px;
    top: 7px;
    color: #555555;
    z-index: 1;
  }

  [type=search]{
    position: absolute;
    padding-left: 25px;
    z-index: 0;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
  }
}

.ef-main-buttons{
  display: flex;
  justify-content: flex-end;
  flex: 3 3 0;
  position: relative;
  .ui-buttonset, .ui-button {
    display: inline-block;
  }
}
.ef-selected-items-actions {
  position: absolute;
  left: 8px;
}

.ef-admin-cog{
  margin-left: 10px;
}

.ef-header{
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.ef-breadcrumbs{
  padding-left: 20px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  height: 40px;
  display: flex;
  align-items: center;

  a {
    background-color: transparent;
    background-image: url("/images/breadcrumb-chevron.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 29px;
    padding-left: 12px;
    margin-left: 8px;

    &:first-of-type {
      background: none;
      padding-left: 0;
      margin-left: 0;
    }
    &.active:link, &.active:visited{
      color: #999da5;
    }
  }

}

.ef-main{
  min-height: 500px;
  display: flex;

  .ef-folder-content{
    border-right: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0px;

    [role=tree]{
      position: relative;
      margin: 10px;
    }

    i {
      color: black;
    }


    [aria-selected=true] > .ef-folder-header{
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .ef-folder-header{
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover{
        background-color: #f2f2f2;
      }
    }

    .ef-folder-list{
      flex: 10 10 0;
      font-size: 12px;
    }

    .ef-folder-totals{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1 1 0;
      height: 30px;
      font-size: 16px;
      border-top: 1px solid $border;
      padding-left: 20px;
    }
  }
}
.ef-directory{
  margin: 10px;
  flex: 3 3 0;
  display: flex;
  flex-direction: column;

}
.ef-directory-header{
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #f2f2f2;

  a{
    color: black;
  }
}



.ef-item-row{
  display: flex;
  padding: 5px;
  user-select: none; /* so that we can shift-click to select */

  &.ef-item-selected{
    background-color: #d9edf9;
  }

  .al-trigger {
    opacity: 0
  }
  &:hover .al-trigger,
  .al-trigger.ui-state-active {
    opacity: 1
  }


  &:hover{
    background-color: #d9edf9;
  }
}

.ef-name-col{
  flex: 8 8 0;
}

.ef-date-created-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-date-modified-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-modified-by-col{
  flex: 3 3 0;
  @include hideForPhone;
}

.ef-size-col{
  flex: 2 2 0;
  @include hideForPhone;
}

.ef-links-col{
  display: flex;
  width: 85px;
}

.ef-hover-options{
  .al-trigger{
    color: black;
  }
  margin-left: 14px;
}



.ef-thumbnail {
  width: 45px;
}

.ef-edit-name-form {
  position: relative;
}
.ef-edit-name-cancel {
  position: absolute;
  top: 0;
  right: 0;
}
.file-rename-form__form-label {
  float: left;
  margin-top: 5px;
  padding-right: 5px;
}
