@import base/environment

body,html
  height: inherit
  
body
  background: #fff
  #fb-root
    margin-bottom: 25px
  .facebook_message
    margin-bottom: 25px
    .header
      border-bottom: 1px solid #ccc
      padding-bottom: 1px
      .left_links
        float: left
        .header_icon
          float: left
          padding-top: 2px
          margin-top: 3px
        a
          font-size: 1.2em
          font-weight: bold
          margin-left: 9px
      .right_links
        float: right
        color: #888
        text-align: right
        margin-top: 4px
        .delete_holder
          margin-top: 2px
        .delete_link
          opacity: 0.3
      .context_name
        color: #888
        margin-top: 2px
        padding-left: 25px
        font-size: 0.9em
    .body
      padding-top: 5px
      padding-left: 35px
    &:hover
      .right_links
        .delete_link
          opacity: 1