@import base/environment
@import vendor/slick.grid
#gradebook_importer_resolution_section
  margin: 1em 2em

  table
    border-collapse: collapse
    width: 100%

    td, th
      border: 1px solid #EEEEEE
      padding: 0.2em 20px

  select
    text-align: center

    option
      text-align: left

    .new
      color: green

    .ignore
      color: red

  .points_possible_section
    opacity: 0
    
  input.points_possible
    width: 50px


.cell-title
  font-weight: bold


#assignments_without_changes_alert
  color: orange
  font-size: 0.8em
  margin-left: 100px

