@import base/environment

#gradebook-history
  margin: 0
  padding: 1em

  li
    list-style: none
  h4, .h4
    margin: 0

  .assignment_header
    cursor: pointer
    a
      color: #124B87
      padding-right: 5px
      float: left
    .changes
      font-size: 10px
      width: 65px
      float: left
      text-align: center
      margin-right: 7px
      vertical-align: top
      line-height: 10px
      margin-top: 4px
      opacity: 0.5
    .ui-icon
      float: left
      opacity: 0
    &:hover
      a
        text-decoration: underline
      .ui-icon, .changes
        opacity: 0.8
  .assignment_details
    table
      width: 100%
      text-align: center
  .revert-grade-link
    font-weight: normal
    padding: 0 3px
    line-height: 20px
    text-decoration: none
    .revert, .ui-icon
      opacity: 0
    .ui-icon
      display: inline
      padding: 0 0 0 18px
    .grade
      padding: 0 3px
      border-color: transparent
    &:hover, &:focus
      .revert, .ui-icon
        opacity: 1
      .grade
        border-color: inherit
        background-color: white

  .current_grade
    padding-left: 17px

  .loading
    background: #F5F8F9 url(/images/blue_small_loading.gif) no-repeat left center
    color: #bbb
