@import "base/environment";
@import "pages/shared/registration_dialog.scss";
@import "shared/login.scss";
@import "vendor/bootstrap/responsive-767px-max";

body.modal {
  #modal-box {
    max-width: $modal_box_width - (2 * $modal_box_padding);
    width: auto;
  }
  #footer {
    max-width: $modal_box_width + 20px;
    width: auto;
  }
  #login-box .btn {
    float: none;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }
  body,
  body.no-headers #wrapper,
  body.embedded #wrapper
  {
    min-width: 0;
    padding: 0;
  }
  .modal {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  }
  body.modal #modal-box,
  body.modal #login-box {
    margin: 0 auto;
    .btn {
      width: 100%;
      margin: 0;
      display: block;
    }
  }
  body.modal #modal-box {
    padding: 20px;
    box-shadow: 0 4px 8px -2px black;
    h2, .h2 {
      margin: 0 0 1em 0;
      position: relative;
      &:after {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -.5em;
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    select {
      height: 32px;
      font-size: 16px;
      width: 95%;
    }
    .bootstrap-form {
      margin: 0;
    }
  }
  body.no-headers #content,
  body.embedded #content {
    padding: 10px;
  }
  #login_form {
    width: auto;
  }
  #footer {
    padding: 0 20px;
  }
}
