@import base/environment

.report_description
  display: none

table.report_example, table.report
  border-collapse: collapse
  page-break-inside: avoid
  thead, th
    background-color: #ccc
  td, th
    border: 1px solid #aaa
    padding: 2px 5px

#tab-reports
  .report_dialog
    padding: 15px
    
  table.reports
    margin: 5px 15px
    width: 90%
    border-collapse: collapse
    
    tr.reports
      border-bottom: 1px solid #DDD
      
      th.reports
        padding: 5px
        background-color: #DDD
        font-weight: bold
      
      td.reports
        padding: 5px
        
        &.title
          font-weight: bold
        
        &.action
          text-align: center

table.report.sortable
  th.header
    padding-right: 20px
    cursor: pointer
    background: url(/images/tablesorter/bg.png) no-repeat right center
    
    &:hover
      background-image: url(/images/tablesorter/bg_hover.png)
  
    &.headerSortDown
      background-image: url(/images/tablesorter/asc.gif)

    &.headerSortUp
      background-image: url(/images/tablesorter/desc.gif)