@import base/environment
@import components/ui.selectmenu
@import vendor/_xflex.scss

#content
  padding: 0

$gradebook_header_height: 52px

#gradebook_header_container
  height: $gradebook_header_height
  overflow: hidden

#gradebook_header a.ui-selectmenu:hover,
#gradebook_header a.ui-selectmenu:focus
  :background-color white
  :text-decoration none
.ui-selectmenu-menu a:focus
  :background-color inherit

#speed_grader_loading
  padding: 5px
  font-size: 24px

#gradebook_header
  form
    margin: 0
  @if $use_high_contrast
    background-color: $canvas-dark
  @else    
    background-color: #4b5662
  :padding 12px 25px 12px 12px
  :font-size 11px
  :text-align center
  color: $canvas-light
  line-height: 15px
  position: relative
  min-width: 960px
  .ui-icon
    background-image: $iconsActive
  a
    :color #fff
    :font-weight bold
  #avatar
    width: 32px
    display: block
    float: left
    margin-top: -3px
    #avatar_image
      height: 30px
      max-width: 30px
      padding-right: 2px
  #combo_box_container
    :color #333
    :text-align left
    select
      width: 230px
  .right
    :float right
    div
      clear: right
  .center
    :white-space nowrap
    :overflow hidden
    :padding-left 5px
    :padding-right 5px
    .due_at
      margin-top: -3px
  #assignment_url
    :font-size 1.2em
  .left
    :float left
    #combo_box_container
      :float left
    #x_of_x_students
      :float left
      padding-left: 8px
    .prev, .next
      :display block
      :background url('/images/back_forward.png') no-repeat top left
      :text-indent -1000px
      :width 27px
      :height 23px
      :float left
      :outline none
      &:hover, &:focus
        :background-position left -31px
      &:focus
        @if $use_high_contrast
          @include button-focus
      &:active
        :background-position bottom left
    .next
      :background-position top right
      &:hover, &:focus
        :background-position right -31px
      &:active
        :background-position bottom right
#eg-canvas-logo
  background: url(/images/canvas/header_canvas_logo.png) no-repeat
  position: absolute
  top: 7px
  right: 7px
  height: 26px
  width: 135px
  display: block

#settings_link, #mute_link
  position: relative
  .ui-icon
    display: inline-block
    vertical-align: top

#main
  position: static

#full_width_container
  position: absolute
  top: $gradebook_header_height
  bottom: 0
  left: 0
  right: 0
  min-width: 960px

.full_width
  #left_side
    width: 100%
    margin-left: -8px

    #left_side_inner
      margin-left: 8px

  #right_side
    width: 7px

  #rightside_inner
    display: none

.media_comments_visible
  #left_side
    width: 100%
    margin-left: -330px

    #left_side_inner
      margin-left: 330px

  #right_side
    width: 329px

#left_side
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 25%

  #submissions_container, #left_side_inner, iframe, #doc_preview_holder, #iframe_holder, #resize_overlay
    height: 100%
    width: 100%
    border: 0 none
  #resize_overlay
    position: relative
    top: -100%
    z-index: 1
  h3, .h3
    margin: 0
    padding: 2em
    text-align: center
    .subheader
      display: block
      font-size: 0.75em
      line-height: 2em

#width_resizer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  background: #bbb url('/images/splitpane_handle-ew.gif') no-repeat scroll 50% 50%
  cursor: pointer
  width: 7px
  border-right: 1px solid #838383
  z-index: 2
  &.highlight
    background-color: #FBEC88

#speedgrader_iframe
  display: block

#right_side
  width: 25%
  position: absolute
  top: 0
  bottom: 0
  right: 0
  background-color: #f2f2f2
  color: #444
  font-size: 12px

  .bold
    font-weight: bold

  #rubric_summary_holder
    border-top: 1px dashed #bbb

  #rubric_summary_container
    border-top: 1px solid #aaa
    overflow: auto

  #rubric_assessments_list_and_edit_button_holder
    .button-container
      display: inline-block

  div.comment
    padding: 8px
    font-size: 12px
    border-top: 1px dashed $ic-border-light
    background: $canvas-light
    &:first-of-type
      border-top: none
    .comment_citation
      @if $use_high_contrast == false
        color: #888
      font-size: 0.8em
      text-align: right
    .delete_comment_link
      float: right
      @if $use_high_contrast
        color: lighten($canvas-dark, 12%)
      @else
        color: lighten($canvas-dark, 25%)
      &:hover, &:focus
        color: $canvas-dark
        

  h2, .h2
    background: lighten($canvas-neutral, 5%)
    border-bottom: 1px solid $ic-border-light
    border-top: 1px solid $ic-border-light
    font-size: 1.2em
    font-weight: bold
    margin: 0
    padding: 8px
    line-height: 1.1

  .content_box
    padding: 8px
    background: $canvas-light

  #rightside_inner
    @extend %flex-1
    overflow-y: auto


.right_side_content
  @extend %flex
  @extend %flex-column
  position: absolute
  top: 0
  bottom: 0
  left: 8px
  right: 0

#rubric_full h2, #rubric_full .h2, #grading h2, #grading .h2
  margin-top: 0 !important
  border-top: 0px none !important

#rubric_full
  position: absolute
  right: 1px
  top: 0px
  border-left: 7px solid #bbb
  border-bottom: 7px solid #bbb
  border-bottom-left-radius: 5px
  z-index: 1000
  background-color: $canvas-light

  .content_box
    padding-right: 24px

  #rubric_full_resizer
    position: absolute
    top: 0
    left: -6px
    cursor: pointer
    height: 100%
    width: 7px
    #rubric_full_resizer_handle
      position: absolute
      top: 50%
      left: 0px
      background: transparent url('/images/splitpane_handle-ew.gif') no-repeat scroll 50% 50%
      cursor: pointer
      height: 20px
      width: 7px

  a.big_link
    display: none

  table.rubric
    margin-top: 0

#discussion

  padding-top: 0 !important
  padding-bottom: 0 !important

#comments
  overflow-y: auto
  .comment
    .avatar
      height: 30px
      max-width: 30px
      float: left
      margin-right: 6px

#add_a_comment
  border-top: 1px solid $ic-border-light
  margin: 0
  box-sizing: border-box
  padding: 8px
  
  #media_media_recording
    margin: 0 -2px
  .hidden
    display: none
  #teachers_and_submitter_will_be_notified
    color: #888
    font-size: 10px
  label
    font-weight: bold
  button
    float: right
  .attach_things
    float: left
    margin: 0
    padding: 0
    list-style: none

    //Chrome has a nice bug where clicking on block element
    //inside an inline element will force the inline element
    //to keep the :active pseudo class.
    //this causes tooltips to stay open since our tooltips
    //show if the tooltip element has the :active pseudo class
    //a bug has been filed at https://code.google.com/p/chromium/issues/detail?id=391254
    .tooltip .tooltip_wrap
      display: none
    .tooltip:hover .tooltip_wrap
      display: block
    /////// END: fix for chrome bug.
    .prompt
      font-weight: bold
      line-height: 24px
      padding-right: 4px
    li
      float: left
      margin-right: 1px
      &:last-of-type
        margin-right: 0
      .icon
        display: block
        border: 1px solid #F0F0F0
        padding: 2px 3px
        border-radius: 2px
        img
          vertical-align: bottom
      a:hover .icon, a:focus .icon
        background: url(/images/h2_bg.png) repeat-x 0 -15px
        border-color: #888

  #group_comment_wrapper
    margin-bottom: 2px
    label
      font-weight: normal
    input
      margin: 0
      vertical-align: middle
  .comment_attachment_input
    margin-bottom: 2px
    input
      float: left
      width: 85%
      // this is a hack  because windows based browsers do not allow me to set the width of a file input.
      // so I just have to make it smaller font so that it fits.
      font-size: 8.5px
    a
      display: block
      float: right
  textarea
    border-radius: $baseBorderRadius
    max-height: 200px
    font-size: 13px

html > body #add_a_comment textarea
  width: 100% /* for everyone else */
  box-sizing: border-box

body .ui-selectmenu-dropdown
  border-radius: 0
  color: #222 !important
  height: 21px
  background-color: #fff
  background-image: none
  border: 1px solid #B5B8C8
  font-weight: normal !important
  &:hover
    text-decoration: none !important
  .ui-selectmenu-status
    font-size: 14px
    padding: 0 20px 0
    padding: 0 0 0 20px
    margin: 0 20px 0 0
    height: 21px
    .ui-icon
      top: 3px !important
  .ui-selectmenu-icon
    :width 17px
    :height 22px
    :border 0
    background-image: url("/images/inst_combo/trigger.gif") !important
    background-position: 0 0
    :cursor pointer
    :border-bottom 1px solid #B5B8C8
    :position absolute
    :top -1px
    :right -1px
    :margin 0
body .ui-selectmenu-dropdown:hover .ui-selectmenu-icon, body .ui-state-active .ui-selectmenu-icon
  background-position: -17px 0

.ui-selectmenu-menu
  z-index: 10
  max-height: 400px
  margin-top: 1px
  li a, .ui-selectmenu-status
    padding-top: 0.1em !important
    padding-bottom: 0 !important
  li
    .ui-selectmenu-item-header
      font-weight: normal
    .ui-selectmenu-item-footer
      margin: 1px 0 1px
      margin-top: -1px
      font-size: 10px
      line-height: 1em
      opacity: 0
  .ui-selectmenu-item-focus .ui-selectmenu-item-footer
    opacity: 0.9

.ui-selectmenu-item-icon
  top: 2px !important
  margin-top: 0 !important
  left: -3px

.ui-selectmenu-item-icon.speedgrader-selectmenu-icon
  position: absolute
  left: 0px

  .ui-selectmenu-status &
    top: -0.5px !important
    left: 4px

  .not_graded &
    font-size: 1.7em
    color: $orange
  .resubmitted &
    font-size: 1.7em
    color: $orange
  .graded &
    color: $green

    i
      width: 14px
      height: 14px
      line-height: 14px
      &:before
        font-size: 14px

.ui-selectmenu-item-header
  .not_submitted &
    @if $use_high_contrast
      color: lighten($canvas-dark, 20%)
    @else
      color: $grayLight
  .ui-selectmenu-status &
    margin-top: 1px

.speedgrader-selectmenu-icon + .ui-selectmenu-item-header
  margin-left: 5px

.turnitin_info
  margin-top: 3px
  border-top: 1px solid #999999
  padding: 3px 0
#submission_details
  border-bottom: 1px solid $ic-border-light
  a
    font-size: 12px
  .on_time
    color: #004B00
  .late
    color: #d12f19
    font-weight: bold
    white-space: nowrap
  #submission_late_notice
    color: #d12f19
    font-weight: bold
  #submission_not_newest_notice
    color: #EB9A00
    font-weight: bold
  .see-all-attempts
    display: block
    font-weight: bold
  select
    width: 99%
  label
    font-weight: bold
  #submission_files_list
    overflow: auto
    .submission-file
      padding: 1px 16px 1px 19px
      position: relative
      .turnitin_score_container
        position: absolute
        top: 0
        right: 20px
      .turnitin_similarity_score
        font-size: 9px
        &.submission_error, &.submission_pending
          padding: 1px
        &:hover
          font-size: 9px
      .submission-file-download
        display: block
        opacity: 0.5
        background: url("/images/download.png") no-repeat top right
        width: 16px
        height: 16px
        position: absolute
        top: 0
        right: 1px
        text-indent: -9999px
      &:hover
        background-color: #DCECFB
        .submission-file-download
          display: block
          opacity: 1
    .submission-file-selected
      background: #DCECFB url("/images/pass.png") no-repeat center left
      font-weight: bold

#section-menu
  position: absolute
  overflow: visible
  #section-menu-link
    display: block
    height: 20px
    line-height: 19px
    padding-left: 8px
    background: url("/images/arrow_right.png") no-repeat center right
    overflow: hidden
    white-space: nowrap
  #section_currently_showing
    display: inline
  ul
    position: absolute
    right: -215px
    width: 215px
    top: 0
    background-color: #fff
    padding: 0
    border-radius: 0
    li
      padding: 0
      margin: 0
      border: 0 none
      a
        line-height: 21px
        &.selected
          font-weight: bold

.speedgrader_alert
  position: absolute
  left: 50%
  margin-left: -150px
  width: 300px
  text-align: center

.dialog_button
  height: 35px

#record_button div
  margin: 0 10px
  width: 15px
  height: 15px

#record_button[recording=false] div
  background-color: $red
  border-radius: 15px

#record_button[recording=true] div
  background-color: $black

#text_preview
  width: 420px
  height: 100px
  border: 1px solid $borderColor

#interim_results
  color: $canvas-success

.no-close
  .ui-dialog-titlebar-close
    display: none
