@import "base/environment";

.page-header {
  margin-bottom: 15px;
}

.communication_message {
  margin-left: 0px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $ic-border-color;

  &:first-child {
    margin-top: 0px;
  }

  .header {
    margin-left: 0px;

    padding: 25px;
    line-height: 20px;

    .header_title {
      float: none;
      padding: 5px;
      line-height: 1.8em;

      .title {
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
        font-size: 16px;
        color: $canvas-secondary;
        font-weight: normal;
      }
      .sub_title {
        margin-left: 0px;
        padding: 0 0 5px 0;
        color: $ic-font-color--subdued;
        font-style: italic;
      }
    }

    .delete_user_note_link {
      position: relative;
      top: 3px;
      color: $canvas-dark;
    }

    .delete_user_note_link:hover {
      color: lighten($canvas-dark, 10%);
    }
  }

  .content {
    padding: 10px !important;

    .inner-content {
      position: static;
    }
  }
}