#login_information
  > table
    border-collapse: collapse
    width: 100%
  tr.login > th, tr.login > td
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    vertical-align: top
  .details
    font-size: 0.8em
    padding-left: 20px
  .account
    font-size: 0.8em
    padding-left: 10px
  .links
    white-space: nowrap
    text-align: right
    font-size: 0.8em
    padding-left: 30px