.course_details
  border-collapse: collapse
  min-width: 400px
  margin-left: 20px
  border-spacing: 0
  th
    text-align: left
  tr:hover td
    background-color: #eee
  td
    border-bottom: 1px solid #ccc
  .course
    font-size: 1.2em
    padding: 6px 50px 6px 5px
    vertical-align: top
  .percent
    text-align: right
    font-size: 1.2em
    font-weight: bold
    padding-right: 5px
  .report
    padding: 12px
