  <img src='http://<%= HostUrl.default_host %>/images/favicon_large.png' style='float: left; padding-right: 5px;'/> 
  <p style="font-size: 1.2em;">
  <h2><%= t :instructure_canvas, "Instructure Canvas" %></h2>
  <%= t :disabled_notice, "This Canvas site is not configured to communicate with Facebook." %>
  </p>
  <div style="text-align: right;">
    <a href="http://support.instructure.com"><%= t :get_help, "Get help at support.instructure.com" %></a>
  </div>
  <div style="clear: left;"></div>
