<%= render :partial => "navigation", :locals => {:view => 'settings'} %>

<div id="notification_types" style="margin-top: 10px;">  
  <p style="font-size: 1.2em;">
  <img src='http://<%= HostUrl.default_host %>/images/favicon_large.png' style="float: left; padding-right: 5px;"/> 
  <h2>Canvas Notification Settings</h2>
  Notifications from Canvas
  can automatically be sent over to your Facebook account.  Below you'll see the types of
  notifications you can have sent.  You can change your notification preferences at any time,
  either here or in Canvas.</p>
  <fb:if-is-app-user>
    <div id="notification_types_holder">
      <% if @user %>
        <%= render :partial => "notification_policies" %>
      <% else %>
        Before you can configure the Canvas Facebook App you 
        need to link it to your Canvas login.  Please click "Welcome"
        for more information.
      <% end %>
    </div>
  <fb:else>
    <div style="margin-top: 10px;">You'll need to 
      <a href="<%= install_url %>">install the application</a>
      before you can use it.</div>
  </fb:else>
  </fb:if-is-app-user>
</div>
