// use on a UL or a OL to reset
=reset-list
  margin: 0
  padding: 0
  list-style: none
  li
    margin: 0
    padding: 0

=vertical-gradient($topColor, $bottomColor)
  background-image: linear-gradient(to bottom, $topColor, $bottomColor)

=accessible_text_replacement
  display: inline-block
  text-indent: -999px
  overflow: hidden
  background-repeat: no-repeat


=unselectable
  user-select: none
