<div>
  <form class='form-dialog'>
    <div class='form-dialog-content'>
    </div>
    <div class='form-controls'>
      <input type='button' class='btn' value='Cancel'>
      <input type='submit' class='btn btn-primary' value='Move'>
    </div>
  <form>
</div>