<p>
  <em {{bind-attr class=":index discriminationIndexClass"}}>
    <span class="sign">{{sign}}</span>{{forcePrecision discriminationIndex}}
  </em>
  <strong>{{t 'discrimination_index' 'Discrimination Index'}}</strong>
</p>

<svg class="chart"></svg>