{{#message-dialog
  fix-dialog-buttons=true
  height=250
  title=discriminationIndexHelpDialogTitle}}

  {{#t 'discrimination_index_help'}}
    <p>
      This metric provides a measure of how well a single question can tell the
      difference (or discriminate) between students who do well on an exam and
      those who do not.

      It divides students into three groups based on their score on the whole
      quiz and displays those groups by who answered the question correctly.
    </p>

    <p>
      More information is available <a target="_blank" href="http://guides.instructure.com/m/4152/l/41484-once-i-publish-my-quiz-what-kinds-of-quiz-statistics-are-available">here</a>.
    </p>
  {{/t}}
{{/message-dialog}}
