{{#if has_grading_periods}}
  <div class="row">
    <div class="span4">
      <label for="grading_period_select" class="text-right-responsive">
        {{t "Select a Grading Period" }}
      </label>
    </div>
    <div class="span8">
      {{
        fast-select
        id="grading_period_select"
        class="grading_period_select"
        items=gradingPeriods
        selected=selectedGradingPeriod
        value=selectedGradingPeriod.id
        valuePath="id"
        labelPath="title"
     }}
    </div>
  </div>
{{/if}}
