@import "environment";

#main {
  background-color: transparent;
  border: none;
}

#content {
  padding-right: 0;
}

#calendar-app {
  position: relative;
}

#calendar-header {
  position: absolute;
  right: 0;
  top: 0;
  width: 55%;
  &.with-scheduler {
    width: 58%;
  }
}

#change-calendar-version {
  float: right;
}

.calendar {
  .fc-content {
    background-color: white;
  }
  .fc-view-month .fc-widget-header {
    color: #627382;
    font-size: 14px;
    background-color: #f6f7f9;
    line-height: 35px;
  }
  .fc-widget-header, .fc-widget-content {
    border-color: #dadada;
  }
  .fc-header {
    h2 {
      font-size: 18px;
      padding: 0 16px;
      line-height: 32px;
    }
  }
  .fc-other-month {
    color: #b4b3b3;
    background-color: #f8f9f9;
  }
  .fc-state-highlight {
    background-color: #ecf3f6;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  .fc-event-inner {
    border-color: inherit;
    width: auto;
    padding-left: 3px;
  }
  .fc-event-time {
    font-weight: bold;
  }
  .fc-agenda {
    .fc-agenda-slots .fc-agenda-axis {
      border-top-color: transparent;
    }
    .fc-widget-header {
      background-color: #f6f7f9;
    }
    .scheduler-reserved {
      font-weight: bold;
    }
    .scheduler-full {
      background-color: #eeeeee !important;
    }
  }
  .agenda-col-wrapper {
    overflow: hidden;
    display: inline-block;
    color: #617582;
    font-size: 9px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: left;
    .day-num {
      font-size: 24px;
      float: left;
      padding-right: 5px;
      line-height: 23px;
      text-shadow: -1px -1px 1px white;
    }
    .day-name {
      float: left;
      line-height: 13px;
    }
    .month-name {
      line-height: 10px;
      float: left;
      color: #9da5ab;
    }
  }
}

.fc-event.assignment, .fc-event.assignment_override {
  .fc-event-inner div {
    display: inline;
  }
  background-color: white;
}

.counter-badge {
  @include border-radius(8px);
  background-color: #3cb5fb;
  color: white;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.3);
  padding: 1px 6px;
}

#refresh_calendar_link {
  @include hide_text;
  width: 20px;
  height: 20px;
  float: right;
  background-image: url("/images/ajax-loader-black-on-white-static.gif");
  background-position: 50% 50%;
  margin-left: 10px;
  position: relative;
  top: 5px;
  &.loading {
    background-image: url("/images/ajax-loader-black-on-white.gif");
  }
}

.event-details {
  h3 {
    margin-bottom: 0;
  }
  &.carat-bottom .ui-menu-carat span {
    border-color: white transparent;
  }
  position: absolute;
  z-index: 1000;
  border: 1px solid #b0afaf;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  min-width: 250px;
  max-width: 500px;
  ul {
    @include reset-list;
  }
  th {
    font-weight: bold;
    padding-bottom: 3px;
    padding-right: 8px;
  }
  td,th {
    vertical-align: top;
  }
  .delete_event_link {
    float: right !important;
  }
}

.event-details-timestring {
  margin: 5px 0 10px;
  color: #666666;
  font-size: 14px;
}

.event-details-links {
  a {
    padding-right: 6px;
    line-height: 28px;
    border-right: 1px solid #333333;
  }
  a:last-child {
    border-right: none;
  }
}

.event-details-header,
.event-details-content,
.event-details-footer {
  @include clearfix;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  word-wrap: normal;
  max-height: 225px;
  &:last-child {
    border-bottom: none;
  }
}

.event-details-header {
  max-width: 460px;
  overflow: auto;
}

.event-details-content table {
  th[scope=row] {
    width: 55px;
  }
}

.event-details-actual-context {
  font-size: 0.8em;
  font-style: italic;
  color: #666666;
}

.event-detail-overflow {
  min-height: 30px;
  max-height: 160px;
  max-width: 395px;
  margin-bottom: 6px;
  overflow: auto;
}

.x-close-link {
  padding-right: 5px;
  opacity: 0.5;
}

#attendees li {
  @include name_bubbles;
}

/*replicate button styles to work for fullcalendar */
.calendar .fc-button {
  @include user-select(none);
  padding: $buttonPadding;
  //these are just ui-state-default colors
  font-size: 12px;
  border: 1px solid $borderColorDefault;
  color: $fcDefault;
  font-weight: normal;
  @include background-image(linear-gradient(white, white 25%, #e6e6e6));
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-bottom-color: #bbbbbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  & ~ .fc-button {
    border-left: 0;
    margin-left: 0;
  }
  &.fc-state-hover {
    @include vertical-gradient(white, #dfdfdf);
  }
  &.fc-state-down {
    @include vertical-gradient(#a8a8a8, #c6c6c6);
  }
  &.fc-state-disabled {
    opacity: 0.7;
  }
  .fc-button-content {
    color: $textColor;
    text-shadow: white 0 1px 1px;
  }
  &.fc-corner-left {
    @include border-left-radius(4px);
  }
  &.fc-corner-right {
    @include border-right-radius(4px);
  }
}

#edit_appt_calendar_event_form {
  p {
    margin-bottom: 0.5em;
  }
  textarea {
    width: 500px;
    height: 100px;
  }
  .max-participants {
    width: 40px;
  }
}

.whats-new {
  float: right;
  margin-right: 10px;
  line-height: 32px;
  font-size: 11px;
}

.event_button {
  margin-left: 3px;
}