@import "base/environment";

#calendar-app {
  position: relative;
}

.calendar, #calendar-drag-and-drop-container {
  .fc-view-container {
    background-color: white;
  }
  .fc-month-view .fc-widget-header {
    @include fontSize(14px);
    background-color: #f6f7f9;
    line-height: 35px;
    color: $ic-font-color--subdued;
    font-weight: 500;
  }
  .fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
    border-color: $ic-border-light;
  }
  .fc-head thead .fc-widget-header {
    color: $ic-font-color--subdued;
    padding: 10px 0;
    text-transform: uppercase;
  }
}
.fc-event.grayed {
  opacity: 0.5;
}

.fc-event.assignment, .fc-event.assignment_override {
  .fc-event-inner div {
    display: inline;
  }
  background-color: white;
}

.event-details {
  h3, .h3 {
    margin-bottom: 0;

    a:focus {
      outline: 0;
      text-decoration: underline;
    }
  }
  &.carat-bottom .ui-menu-carat span {
    border-color: white transparent;
  }
  position: absolute;
  z-index: 1000;
  border: 1px solid #b0afaf;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  min-width: 320px;
  max-width: 500px;
  ul {
    @include reset-list;
  }
  th {
    padding-bottom: 3px;
    padding-right: 8px;
  }
  td,th {
    vertical-align: top;
  }
  .event-details-content {
    overflow: auto;
  }
}

.event-details-timestring {
  margin: 5px 0 10px;
  color: #666666;
  @include fontSize(14px);
}

.event-details-links {
  a {
    padding-right: 6px;
    line-height: 28px;
    border-right: 1px solid #333333;
  }
  a:last-child {
    border-right: none;
  }
}

.event-details-header,
.event-details-content,
.event-details-footer {
  @include clearfix;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  word-wrap: normal;
  &:last-child {
    border-bottom: none;
  }
}

.event-details-header {
  max-width: 460px;
  overflow: auto;
}

.event-details-content table {
  th[scope=row] {
    width: 55px;
  }
}

.event-details-actual-context {
  font-size: 0.8em;
  font-style: italic;
  color: #666666;
}

.event-detail-overflow {
  min-height: 30px;
  min-width: 160px;
  max-width: 395px;
  max-height: 495px;
  margin-bottom: 6px;
  overflow: auto;
}

#edit_appointment_group_form_holder .scheduler-event-details-footer {
  display: inline;
}

.x-close-link {
  padding-right: 5px;
  opacity: 0.5;
}

#attendees li {
  @include name_bubbles;
}

.calendar .fc-button {
  @include user-select(none);
  padding: $buttonPadding;
  //these are just ui-state-default colors
  @include fontSize(12px);
  border: 1px solid $borderColorDefault;
  color: $fcDefault;
  font-weight: normal;
  background-image: linear-gradient(white, white 25%, #e6e6e6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-bottom-color: #bbbbbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  & ~ .fc-button {
    border-left: 0;
    margin-left: 0;
  }
  &.fc-state-hover {
    @include vertical-gradient(white, #dfdfdf);
  }
  &.fc-state-down {
    @include vertical-gradient(#a8a8a8, #c6c6c6);
  }
  &.fc-state-disabled {
    opacity: 0.7;
  }
  .fc-button-content {
    color: $ic-font-color-dark;
    text-shadow: white 0 1px 1px;
  }
  &.fc-corner-left {
    @include border-left-radius(4px);
  }
  &.fc-corner-right {
    @include border-right-radius(4px);
  }
}

#edit_appt_calendar_event_form {
  p {
    margin-bottom: 0.5em;
  }
  textarea {
    width: 500px;
    height: 100px;
  }
  .max-participants {
    width: 40px;
  }
}

.event_button {
  margin-left: 3px;
}

.Button.ui-button {
    font-weight: 300;
}
.fc-month-view .fc-widget-content .fc-day-number {
  text-align: left;
}

.fc-event-title { line-height: 1.3; }

.calendar__event--completed {
  text-decoration: line-through;
  opacity: 0.7;
}

//////////////////////////////////////
/////// NEW CALENDAR LOOK / OVERRIDES
/////////////////////////////////////

//lose the horizontal border for weekly view
.fc-time-grid .fc-slats td {
  border-top: 0;
}
.fc-agendaWeek-view .fc-event {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 3px;
}
.fc-day-header__week-number {
  @include fontSize(36px);
  font-weight: 200;
}
.fc-day-header__week-day {
  @include fontSize(16px);
  font-weight: 500;
}

// to change the size/color of the event time only within the event container
.fc-agendaWeek-view .fc-event-container a[class*="group_"] .fc-content .fc-time {
  color: $ic-font-color-dark;
}
// override the default fullcalendar.css to accommodate wider left border on events
.fc-ltr .fc-time-grid .fc-event-container {
  margin-left: 1px;
}
