@import "vendor/bootstrap/button-groups";
@import "components/autocomplete";

#not_right_side, #content-wrapper, #content, .conversations {
  height: 100%;
}

#main {
  position: absolute;
  top: 0; bottom: 0;
  margin-bottom: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
}

#footer {
  display: none;
}

#content {
  overflow: visible;
  padding: 0;
}

.conversations {
  position: relative;
}

.conversations .panel {
  box-sizing: border-box;
  height: 58px;

  background: $lightBackground;
  border-bottom: 1px solid $ic-border-light;
  height: 112px;
  padding: $ic-sp;
  // TODO: revisit when breakpoint fixed
  // until we have a better breakpoint for desktop
  // need to put in direct amount for better ux
  @media only screen and (min-width: 1200px) {
    height: 62px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
  }
  .panel__primary {
    margin-bottom: $ic-sp;
    // TODO: revisit when breakpoint fixed
    // until we have a better breakpoint for desktop
    // need to put in direct amount for better ux
    @media only screen and (min-width: 1200px) {
      margin-bottom: 0;
      flex: 1;
      white-space: nowrap;
    }
    > * {
      display: inline-block;
      white-space: nowrap;
    }
  }
  .panel__secondary {
    // TODO: revisit when breakpoint fixed
    // until we have a better breakpoint for desktop
    // need to put in direct amount for better ux
    @media only screen and (min-width: 1200px) { white-space: nowrap; }
    > div {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .btn {
    color: #555;
  }

  .btn.ui-state-active {
    background-color: #E6E6E6;
    background-image: none;
  }

  .actions {
    margin-right: $ic-sp;
  }
}

#sending-spinner {
  display: inline-block;
  height: 8px;
  width: 10px;
  vertical-align: bottom;
}

.filters {
  margin-right: $ic-sp;

  /* TODO: make sure we still need this with the frd filters (may not be selects) */
  select {
    margin-bottom: 0;
    width: 150px;
  }
}

.bootstrap-select abbr {
  cursor: pointer;
  border-bottom: none;
}

.conversations .panel, .message-header {
  button {
    &[disabled], &[disabled]:focus, &[disabled]:hover {
      color: #a6a6a6;
    }
  }

  .btn-group {
    display: inline-block;
  }
}

#help-btn {
  color: #333;
  position: relative;
  left: 8px;
  float: right;

  &:hover, &:focus {
    color: #0088cc;
    text-decoration: none;
  }

  .icon-mini-arrow-down {
    position: relative;
    right: 5px;
  }
}

.search .ac {
  display: block;

  .ac-input-box {
    float: left;
    min-height: 0;
    height: 38px;
    padding: 6px 12px;
    box-sizing: border-box;
    width: 205px;

    .ac-placeholder {
      top: 0;
      line-height: 38px;
    }

    .ac-clear {
      top: 8px;
    }
  }

  .ac-input {
    margin-left: 0;
  }

  input {
    border-radius: 0;
  }

  .btn {
    float: left;
  }
}

.messaging-wrapper {
  position: absolute;
  bottom: 0;
  top: 112px;
  @media only screen and (min-width: 1200px) { top: 62px; }
}

.message-list-scroller {
  border-right: 1px solid #bfbfbf;
  height: 100%;
  overflow: auto;
}

.message-list {
  .list-header {
    color: darken($ic-color-neutral, 50);
    padding: 3px 12px;
    background: $lightBackground;
    border-bottom: 1px solid $ic-border-light;
  }

  .current-context-code {
    color: #f3f3f3;
    background-color: $ic-color-neutral;
    padding: 0 10px;
  }

  .messages > li {
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
    height: 100px;
    padding: 8px 12px 8px 32px;
    position: relative;
    border-bottom: 1px solid $ic-border-light;

    &.active {
      background: $ic-bg-light-primary;
    }
    &:hover {
      background: $ic-bg-light-primary;
    }
    &:hover .message-actions a, .message-actions a:focus {
      left: 0;
    }
  }

  .author {
    display: inline-block;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h2.author {
    @include fontSize(13px);
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
  }

  .date {
    color: $ic-brand-primary;
  }

  .summary {
    color: #7f7f7f;
    height: 40px;
    margin: 0 24px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    @include fontSize($ic-font-size--xsmall);
    line-height: 16px;
    margin-bottom: 8px;
  }
}

.subject {
  display: block;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: 0;
  }
}

h3.subject {
 margin: 0px 0px 8px 0;
 @include fontSize(13px);
 line-height: 20px;
}

h2.subject {
  @include fontSize(13px);
  font-weight: bold;
  margin: 0px;
}

.message-full-participants {
  display: none;
}

.message-summarized-participants:focus, .message-full-participants:focus {
  outline: 0;
}

.message-count {
  @include fontSize(11px);
  position: absolute;
  right: 13px;
  top: 43%;
  background-color: $ic-color-dark;
  text-shadow: none;
}

.message-actions {
  left: 8px;
  position: absolute;
  top: 8px;

  a {
    position: relative;
  }

  li {
    margin-bottom: 8px;
  }

  .read-state {
    background: $ic-color-dark;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 10px;
    margin: 3px;
    width: 10px;

    &.read {
      background: $ic-brand-primary;
      border: 1px solid darken($ic-brand-primary, 10);
      @if $use_high_contrast {
        background: $ic-color-light;
        border: 1px solid $ic-color-dark;
      }
      left: -9999px;
    }

    &:focus {
      border: 1px solid $ic-color-dark;
      box-shadow: none;
    }
  }

  .star-btn {
    color: $ic-font-color-dark;
    display: inline-block;
    font-family: 'Hiragino Kaku Gothic Pro', 'Lucida Sans Unicode', 'Arial Unicode MS';
    @include fontSize($ic-font-size--medium);
    left: -9999em;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: #333;
      text-decoration: none;
    }

    &:focus, &.active {
      left: 0;
    }

    &.active {
      &:before, &:after {
        position: absolute;
      }
      &:before {
        color: $ic-color-alert;
        content: "\2605";
      }
      &:focus {
        color: #333;
        &:after {
          content: "\2606";
          color: #333;
          z-index: 5;
          top: 0; left: 0;
        }
      }
    }
  }
}

.open-message {
  @include accessibility-prompt;
  left: -9999px;
  position: absolute;
  &:focus {
    left: auto; top: auto;
    right: 0; bottom: 0;
    z-index: 1;
    width: auto; height: auto;
  }
}

.message-detail.span8 {
  margin-left: 0;
  width: 68.08511%;
  height: 100%;
  overflow: auto;

  &:focus {
    outline: none;
  }

  .subject {
    float: left;
  }

  .no-messages {
    color: #bbbbbb;
    display: block;
    @include fontSize(20px);
    font-weight: bold;
    margin-top: 5%;
    text-align: center;

    i {
      display: block;
      line-height: 120px;
      margin-bottom: 120px;
      text-align: center;
      width: 100%;

      &:before {
        @include fontSize(120px);
      }
    }
  }

  .message-header {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border-bottom: 1px solid $ic-border-light;

    .label {
      margin-top: 12px;
    }
  }

  .message-detail-actions {
    li {
      display: inline;
    }
  }

  .message-content > li {

    margin: 0 12px;
    padding: 24px 0;
    border-bottom: 1px solid $ic-border-light;

    p:last-child {
      margin-bottom: 0;
    }

    .message-attachments {
      list-style: none;
      margin: 0 1em;
      padding: 0.5em;
      border-top: 1px solid $ic-border-light;
    }

    .message-attachment-thumbnail {
      max-height: 16px;
      max-width: 16px;
    }
  }

  .message-info {
    margin-bottom: 12px;
  }

  .user-info {
    .avatar {
      float: left;
      margin-right: 8px;
    }

    .context {
      color: darken($ic-color-neutral, 50);
      display: block;
    }

    .message-author-and-participants {
      padding-top: 6px;
    }
  }

  .message-metadata {
    position: relative;
  }

  .date {
    color: darken($ic-color-neutral, 50);
    position: absolute;
    right: 10px;
    top: 0;
  }

  .actions {
    right: 9999em;
    position: relative;
    top: 0;
    margin: 20px 10px 0 8px;
  }

  .actions li {
    border: none;
    float: left;
    margin:0 0 0 8px;
    padding: 0;
  }

  .message-detail-actions li a,
  .actions li a {
    color: darken($ic-color-neutral, 50);

    &:hover, &:focus {
      color: #333;
      outline: none;
      text-decoration: none;
    }
  }
}

.touch .message-detail .actions {
  right: -7px;
  top: 24px;
}

.touch .message-item-view:hover, .touch .message-metadata.hover {
  .date {
    right: 0;
  }
}

.message-item-view:hover, .message-metadata.hover {

  .actions {
    display: block;
    right: -7px;
  }
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  margin-bottom: 0;
}

i.icon-ok:before {
  vertical-align: baseline;
}

.bootstrap-select .dropdown-submenu > .dropdown-menu {
  top: -20px;
}

.bootstrap-select .dropdown-submenu .dropdown-menu.inner {
  max-height: 200px;
  overflow: auto;
}

.bootstrap-select label {
  margin: 0;
  display: block;
}

input.dropdown-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.message-header-row .ac-input-box {
  max-height: 95px;
  overflow-y: auto;
}

.beta-notice {
  margin: 36px 48px;
}
