<% 
  js_bundle :wiki
  jammit_css :tinymce
  content_for :page_title, join_title(@page.title.to_s, @context.name)
  content_for :right_side, render(:partial => 'wiki_pages/wiki_right_side')
%>

<% if reason = @page.locked_for?(@context, @current_user) %>
  <h2><%= @page.title %></h2>
  <%= lock_explanation(reason, 'page', @context) %>
<% else %>
  <%= render :partial => "wiki_pages/content" %>
<% end %>

<%= render :partial => "shared/sequence_footer", :locals => {:asset => @page} if @page.context_module_tag_for(@context, @current_user) %>
