<%
  content_for :page_title, join_title(@page.title.to_s, @context.name)
  js_bundle :wiki_page_show
%>
<div id="wiki_page_show"></div>

<% if @has_mark_done_requirement %>
<%- # FIXME duplicates assignments/show %>
  <div id="mark-as-done-container">
    <input id="mark-as-done-checkbox" type="checkbox" onchange="var url = '<%= "/api/v1/courses/#{@context.id}/modules/#{@content_tag.context_module_id}/items/#{@content_tag.id}/done" %>'; if (this.checked) {$.ajaxJSON(url, 'PUT')} else {$.ajaxJSON(url, 'DELETE')}">
    <label for="mark-as-done-checkbox"><%= t(:mark_as_done_checkbox, 'Mark as done') %></label>
  </div>
<% end %>
