<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-I">
    <title>Paytm</title>
  </head>
  <body>
  <center>
    <h2>Redirecting to Paytm </h2>
    <br />
    <h1>Please do not refresh this page...</h1>
  </center>
  <form method="post" action="<%=@payment_url%>" name="f1">
    <%keys = @paramList.keys%>
    <%keys.each do |k|%>
      <input type="hidden" name="<%=k%>" value="<%=@paramList[k]%>">
    <%end%>
    <input type="hidden" name="CHECKSUMHASH" value="<%=@checksum_hash%>">
  </form>
  <script type="text/javascript">document.f1.submit();</script>
</body>
</html>