.root {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: var(--toggleMarginTop);
  margin-inline-start: 12rem;

  & > :last-child {
    width: 100%;
  }

  & > div > button {
    margin: var(--toggleButtonMarginTop) 0;

    & svg {
      margin-inline-start: var(--toggleButtonMarginStart);
    }
  }
}

.icon {
  position: absolute;
  top: calc(var(--toggleMarginTop) - 2px);
  left: 0;
}

.medium, .small {
  &.root {
    margin-inline-start: 0;
  }
}

.moreButton {
  margin-top: var(--moreButtonMarginVertical);
  margin-bottom: var(--moreButtonMarginVertical);
  margin-inline-start: var(--moreButtonMarginStart);
}
