<div class="controls">
  <input
    id="{{fieldName}}-autocompleteField"
    type="text"
    data-name="autocomplete_search_term"
    placeholder="{{placeholder}}"
    maxlength="255"
  >
  <input
    type="hidden"
    data-name="autocomplete_search_value"
    name="{{fieldName}}"
    maxlength="255"
  >
</div>