<h2>{{#t}}View Notifications{{/t}}</h2>
<p>
  {{#t}}To view all notifications sent to a Canvas user, select the user and date range for your search.{{/t}}
</p>

<form id="commMessagesSearchForm" class='form-horizontal'></form>
<hr />
<div id="commMessagesSearchOverview"></div>

<h2 class="screenreader-only">{{#t}}Notifications Search Results{{/t}}</h2>
<div id="commMessagesSearchResults"></div>
