<h2>{{#t}}Course Activity{{/t}}</h2>

<form id="courseLoggingForm" class='form-horizontal pad-box border border-trbl search-controls'>
  <div id="courseCourseSearch" class="control-group"></div>
  <div id="courseDateRangeSearch"></div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" name="course_submit">
        {{#t}}Find{{/t}}
      </button>
    </div>
  </div>
</form>

<hr aria-hidden="true"/>

<div id="courseLoggingSearchResults"></div>
