{{#if collection.length}}

  <table class="table table-bordered">
    <thead>
      <tr>
        <td>{{#t "date"}}Date{{/t}}</td>
        <td>{{#t "time"}}Time{{/t}}</td>
        <td>{{#t "user"}}User{{/t}}</td>
        <td>{{#t "event_type"}}Type{{/t}}</td>
        <td>{{#t "event_source"}}Source{{/t}}</td>
        <td>{{#t "event_details"}}Event Details{{/t}}</td>
      </tr>
    </thead>
    <tbody class="collectionViewItems"></tbody>
  </table>
  <div class="paginatedLoadingIndicator"></div>

{{else}}

  <div class="alert alert-info">
    <p class="lead">{{#t "no_item_found"}}No items found{{/t}}</p>
  </div>
  <div class="paginatedLoadingIndicator"></div>

{{/if}}
