<div>
  <label for="courseSearchField">{{#t "labels.find_deleted_course"}}Search for a deleted course by ID{{/t}}</label>
</div>
<div class="form-inline">
  <input type="text" id="courseSearchField" class="span4" placeholder='{{#t "course_id"}}Course ID{{/t}}' maxlength="50">
  <input type="submit" class="btn btn-primary span2" id="courseSearchBtn" value="Find">
</div>

<div>or</div>

<label class="control-label" for="courseSelect">{{#t "select_label"}}Select a course{{/t}}</label>
<div class="controls">
  <select id="courseSelect">
    <option value="default">{{#t "select_default"}}Select a course{{/t}}</option>
    {{#each courses}}
    <option value={{course.id}}>{{course.name}}</option>
    {{/each}}
  </select>
</div>
