<h2>{{#t}}Restore Courses{{/t}}</h2>
<div>
  <label for="courseSearchField">{{#t}}Search for a deleted course by ID{{/t}}</label>
</div>
<div class="form-inline">
  <input type="text" id="courseSearchField" class="span4" placeholder="{{#t}}Course ID{{/t}}" maxlength="50">
  <input type="submit" class="btn btn-primary span2" id="courseSearchBtn" value="{{#t}}Find{{/t}}">
</div>
