<div>
  <label for="courseSearchField">{{#t "labels.find_deleted_course"}}Find a deleted course{{/t}}</label>
</div>
<div class="form-inline">
  <input type="text" id="courseSearchField" class="span4" placeholder="Course ID">
  <input type="submit" class="btn btn-primary span2" id="courseSearchBtn" value="Find">
</div>


