{{#if collection.length}}

  <table class="ic-Table ic-Table--condensed">
    <thead>
      <tr>
        <th>{{#t "date"}}Date{{/t}}</th>
        <th>{{#t "time"}}Time{{/t}}</th>
        <th>{{#t "from"}}From{{/t}}</th>
        <th>{{#t "To"}}To{{/t}}</th>
        <th>{{#t "Grader"}}Grader{{/t}}</th>
        <th>{{#t "Student"}}Student{{/t}}</th>
        <th>{{#t "Course"}}Course{{/t}}</th>
        <th>{{#t "Assignment"}}Assignment{{/t}}</th>
        <th>{{#t "Anonymous"}}Anonymous{{/t}}</th>
      </tr>
    </thead>
    <tbody class="collectionViewItems"></tbody>
  </table>
  <div class="paginatedLoadingIndicator"></div>

{{else}}

  <div class="alert alert-info">
    <p class="lead">{{#t "no_item_found"}}No items found{{/t}}</p>
  </div>
  <div class="paginatedLoadingIndicator"></div>

{{/if}}
