<% content_for :page_title do %>Pageviews for <%= @user.short_name %><% end %>


<% content_for :page_header do %>
  <h1>Pageviews for <%= @user.short_name %></h1>
<% end %>



<% content_for :page_subhead do %>
  <h2>Shows all of the pages that this user has visited.</h2>
<% end %>

 <h2>Pageviews for <%= @user.short_name %></h2>
<%= render :partial => 'page_views/table' %>