<div id="privacy-notice" data-title="{{#t "privacy_notice_title"}}Privacy Notice{{/t}}">
  <p>{{#t "privacy_notice"}}Notice: Some notifications may contain confidential
  information. Selecting to receive notifications at an email other than your
  institution provided address may result in sending sensitive Canvas course
  and group information outside of the institutional system.{{/t}}</p>

  <div class="button-container">
    <button class="btn btn-primary dialog_closer">{{#t "ok"}}Ok{{/t}}</button>
  </div>
</div>
