/* Variables are defined in ./theme.js */

.root {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);

  color: var(--color);
  background: var(--background);

  margin-top: var(--marginTop);
}
