.CourseImageSelector {
  height: 146px;
  width: 262px;
  box-sizing: border-box;
  border: 1px solid $ic-border-color;
  position: relative;
  background-size: cover;

  .Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.CourseImageSelector__Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}