<div class="no-messages">
  <i class="icon-email"></i>

  {{#if batch}}
    {{#t "batch_selected"}}Multiple Conversations Selected{{/t}}
  {{else}}
    {{#t "no_conversations_selected"}}No Conversations Selected{{/t}}
  {{/if}}
</div>
