<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% js_bundle :submission_download %>
<div id="download_submissions_dialog" style="display: none;">
  <i class="icon-download" aria-hidden="true"></i> <%= mt('download_message', '**Your student submissions are being gathered** and compressed into a zip file. This may take some time, depending on the size and number of submission files.') %>
  <div class="progress" style="margin: 10px 5px;">
  </div>
  <div class="status_box" style="text-align: center;">
    <%= image_tag "ajax-loader-small.gif", :style => "visibility: hidden;", :class => "status_loader", :alt => t('Loading') %>&nbsp;<span class="status"><%= t('Gathering Files...') %></span>
  </div>
</div>
