<% js_bundle :submission_download %>
<div id="download_submissions_dialog" style="display: none;">
  <i class="icon-download" aria-hidden="true"></i> <%= mt('download_message', '**Your student submissions are being gathered** and compressed into a zip file. This may take some time, depending on the size and number of submission files.') %>
  <div class="progress" style="margin: 10px 5px;">
  </div>
  <div class="status_box" style="text-align: center;">
    <%= image_tag "ajax-loader-small.gif", :style => "visibility: hidden;", :class => "status_loader", :alt => '' %>&nbsp;<span class="status"><%= t('gathering_files', 'Gathering Files...') %></span>
  </div>
</div>
