/* Variables are defined in ./theme.js */

.root {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);

  color: var(--color);
  background: var(--background);
  white-space: nowrap;
}
