<label class="control-label" for="courseSearchField"><strong>{{#t "search_label"}}Search for a course{{/t}}</strong></label>

<div class="controls">
  {{#if show_select}}
    <select id="courseSelect" class="span3">
      <option value="default">{{#t "select_default"}}Select a course{{/t}}</option>
       {{#each terms}}
       <optgroup label="{{term}}">
           {{#each courses}}
             <option value="{{id}}">{{label}}</option>
           {{/each}}
         </optgroup>
       {{/each}}
    </select>
    {{#t "or"}}or{{/t}}
  {{/if}}
  <input id="courseSearchField" type="text" placeholder="{{#t "course_name"}}Course name{{/t}}" name="courseSearchField" class='span3'/>

  <i id="courseSelectWarning" class="course_select_warning icon-warning" data-tooltip='{"tooltipClass":"popover popover-padded", "position":"right"}'
       title="{{#t}}Importing course content into the same course will duplicate content the first time and overwrite duplicates if repeated.{{/t}}">
  </i>
  <br>
  <label class="checkbox" for="include_completed_courses">
    {{checkbox "include_completed_courses" checked=include_concluded}}
    {{#t 'include_completed_courses'}}Include completed courses{{/t}}
  </label>
</div>
