<label class="control-label" for="externalToolLaunch"><strong>{{#t "course"}}Course{{/t}}</strong></label>
<div class="controls">
  <button id="externalToolLaunch" class="btn" type="button">{{#t "find_a_course"}}Find a Course{{/t}}</button>
  <span class='file_name'></span>
</div>