<div id="importBlueprintSettingsContainer">
  <label class="checkbox">
    <input type="checkbox" id="importBlueprintSettingsCheckbox">
    {{#t "checkbox_label"}}Import Blueprint Course settings{{/t}}
  </label>
</div>
