<% assignment = grading_box_extended
  submission ||= nil
%>
<% if assignment.grading_type == "points" %>
  <input type="text" style="width: 35px;" maxlength="254"/>
<% elsif assignment.grading_type == "percent" %>
  <input type="text" style="width: 35px;" maxlength="254"/> %
<% elsif assignment.grading_type == "letter_grade" %>
  <input type="text" style="width: 35px;" maxlength="254"/>
<% elsif assignment.grading_type == "gpa_scale" %>
  <input type="text" style="width: 35px;" maxlength="254"/>
<% elsif assignment.grading_type == "pass_fail" %>
  <select>
    <option value="">---</option>
    <option value="complete"><%= t('#gradebooks.grades.complete', "Complete") %></option>
    <option value="incomplete"><%= t('#gradebooks.grades.incomplete', "Incomplete") %></option>
  </select>
<% end %>
