<% hard_coded ||= false %>
<span tabindex="0" class="grade <%= 'hard_coded' if hard_coded %>" style="text-align: center; cursor: pointer;">
  <a href="#" class="no-hover no-underline"> - </a>
</span>
<span class="score" style="font-size: 0.8em; color: #888; padding-left: 5px; display: none;">&nbsp;</span>
<span class="pct"><%= ' %' if hard_coded %></span>
<span class="letter_grade" style="display: none;"></span>
<%= image_tag 'pending_review.png', 
      :style => "position: absolute; top: 3px; right: 2px; cursor: pointer; display: none;", 
      :title => t('titles.submission_review', "This submission needs review"),
      :class => "pending_review" %>
<div style="display: none;"></div>
