<%
  css_bundle :screenreader_gradebook
  js_bundle :screenreader_gradebook
%>
<% content_for :page_title, t(:page_titles, "Gradebook: Individual View") %>
<div style="display:none;">
  <%= render :partial => "shared/message_students" %>
</div>
