<a {{#if assignment.muted}} title="{{#t "this_assignment_is_muted"}}This assignment is muted{{/t}}" {{/if}} class="assignment-name {{#if assignment.muted}}muted{{/if}}" href="{{href}}">
  {{{assignment.name}}}
</a>
<a class="gradebook-header-drop" data-assignment-id="{{assignment.id}}" href="#" role="button">
  {{#t "assignment_options"}}Assignment Options{{/t}}
</a>
{{#if showPointsPossible}}
  <div class='assignment-points-possible'>
    {{#t "points_out_of"}}Out of {{assignment.points_possible}}{{/t}}
  </div>
{{/if}}
