<a
  {{#if assignment.muted}}
    title="{{#t "this_assignment_is_muted"}}This assignment is muted{{/t}}"
  {{/if}}
  {{#if assignment.invalid}}
    title="{{#t "zero_point_assignment"}}Assignments in this group have no points possible and cannot be included in grade calculation{{/t}}"
  {{/if}}
  class="assignment-name {{#if assignment.muted}}muted{{/if}}"
  href="{{href}}"
>
  {{#if assignment.invalid}}
    <i class="icon-warning"></i>
  {{/if}}
  {{{assignment.name}}}
</a>
<a class="gradebook-header-drop assignment_header_drop" data-assignment-id="{{assignment.id}}" href="#" role="button">
  {{#t "assignment_options"}}Assignment Options{{/t}}
</a>
{{#if showPointsPossible}}
  <div class='assignment-points-possible'>
    {{#t "points_out_of"}}Out of {{assignment.points_possible}}{{/t}}
  </div>
{{/if}}
