<div class="inline-block" role="application">
  <a class="al-trigger" href="#" data-append-to-body="true" role="button">
    <span class="current-label">{{#t "course_average"}}Course average{{/t}}</span>
    <i class="icon-mini-arrow-down"></i>
  </a>

  <ul class="al-options">
    <li><a href="#" data-method="average">{{#t "course_average"}}Course average{{/t}}</a></li>
    <li><a href="#" data-method="median">{{#t "course_median"}}Course median{{/t}}</a></li>
    <li><a href="#" data-method="mode">{{#t "course_mode"}}Course mode{{/t}}</a></li>
  </ul>
</div>
