<div class="row-fluid">
  <div class="span9">
    <div class="outcome-gradebook-wrapper"></div>
  </div>
  <div class="span3">
    <div class="outcome-gradebook-sidebar">
      <ul class="checkboxes unstyled">
        <li>{{view mastery}}</li>
        <li>{{view near-mastery}}</li>
        <li>{{view remedial}}</li>
      </ul>
    </div>
  </div>
</div>
