<div class="outcome-details carat-bottom">
  <div class="title">{{title}}</div>
  <div class="mastery">{{#t "mastery_set_at"}}Mastery set at{{/t}}: {{mastery_points}}</div>
  <div class="description">{{{description}}}</div>
  <div class="view-more"><a href="{{url}}">{{#t "view_more_details"}}view more details{{/t}}</a></div>
</div>
