<style>
    .post-summary-center {
        margin-top: 120px
    }
</style>
<div class="post-summary post-summary-center" style="margin-left: 75px">
    <h1 class="lead text-left" style="color: #aaaaaa; font-size: 28px">You are ready to post <span class="assignments_to_post_count">{{assignments_to_post.length}}</span> assignments.</h1>
    <div id="ungraded_count"></div>
</div>