<div id="needs_grading" >
    <small><em class="text-left" style="color: #555555">NOTE: Students have submitted work for these assignments that has not been graded. If you post these grades now, you will need to re-post their scores after grading their latest submissions. </em></small>
    <br><br>
    <table class="table table-hover table-condensed">
       <tbody>
        <thead>
            <td>Assignment Name</td>
            <td>Due Date</td>
            <td>Ungraded Submissions</td>
        </thead>
    {{#each needs_grading}}
        <tr class="clickableRow" data-url="gradebook/speed_grader?assignment_id={{id}}">
            <td>{{name}}</td>
            <td>{{datetimeFormatted due_at}}</td>
            <td>{{needs_grading_count}}</td>
        </tr>
    {{/each}}
        </tbody>
    </table>
</div>