{{>avatar}}
<div class='student-name'><a class='student-grades-link' href="{{url}}">{{{display_name}}}</a></div>
<div class="student-placeholder">
  {{#t "student_placeholder"}}Student{{/t}}
</div>
{{#if sectionNames}}
  <div class='student-section'>{{{sectionNames}}}</div>
{{/if}}
