test:
  base_url: https://staging.beyondz.org/
  change_password_path: /users/edit
  nonexistent_user_path: /users/not_on_lms

development:
  base_url: https://staging.beyondz.org/
  change_password_path: /users/edit
  nonexistent_user_path: /users/not_on_lms

production:
  base_url: https://staging.beyondz.org/
  change_password_path: /users/edit
  nonexistent_user_path: /users/not_on_lms
