# This file only manages the unsupported browser banner that
# displays in Canvas if a browser being used is below the
# minimum specified below. It does not manage which browsers are
# actively supported for Canvas, which is always the last two
# versions of each browser.

# This file is updated yearly in q3 to match the latest firefox
# ESR version and the latest chrome rapid release version.
# These browsers must also match what's available in test.

minimums:
  chrome: 107
  safari: 14
  firefox: 91
chrome_os_lts:
  chrome: 102
  platform: 14695
