development:
  # required to enable the feature. default is false.
  enabled: false

  # required. no default.
  host: conditional_release.docker

  # optional. default matches Canvas
  protocol: http

  # optional. default is 'ui/edit_rule'
  edit_rule_path: 'ui/edit_rule'

  # optional. default is 'api/accounts'
  create_account_path: 'api/accounts'
