# This documents the credentials you might want to set in Vault (if running in
# production) or with `rails credentials:edit` if running locally.

microsoft_sync:
  client_id: my_azure_application_id
  client_secret: my_azure_application_key

release_notes_creds:
  aws_access_key_id: whatever
  aws_secret_access_key: secret123
