common: &common
  adapter: postgresql
  host: <%= ENV.fetch('PGHOST', 'postgres') %>
  password: <%= ENV.fetch('PGPASSWORD') %>
  encoding: utf8
  username: <%= ENV.fetch('PGUSER', 'postgres') %>
  timeout: 5000
  prepared_statements: false
  use_qualified_names: true
  shard_name: public
  schema_search_path: "''"

production:
  <<: *common
  database: <%= ENV.fetch('PGDATABASE', 'canvas_production') %>

