# See doc/docker/README.md or https://github.com/instructure/canvas-lms/tree/master/doc/docker
version: '2.3'
services:
  jobs: &BASE
    build:
      context: .
    volumes:
      - '.:/usr/src/app'
    environment: &BASE-ENV
      ENCRYPTION_KEY: facdd3a131ddd8988b14f6e4e01039c93cfa0160
      RAILS_ENV: development
    cap_add:
      - SYS_ADMIN
    # for linux the default profile restricts mount usage, set to have no restrictions
    security_opt:
      - apparmor:unconfined
    entrypoint: /root/entrypoint.sh

  webpack:
    <<: *BASE
    command: yarn run webpack

  web:
    <<: *BASE
    environment:
      <<: *BASE-ENV
      VIRTUAL_HOST: .canvas.docker
      HTTPS_METHOD: noredirect

  postgres:
    volumes:
      - pg_data:/var/lib/postgresql/data

  githook_installer:
    build:
      context: .
      dockerfile: 'Dockerfile.githook'
    volumes:
      - ./.git:/tmp/.git
      - ./hooks:/tmp/hooks
      - ./script:/tmp/script

volumes:
  pg_data: {}
