test:
  domain: localhost

development:
  domain: "localhost:3000"

production:
  domain: "canvas.example.com"
  # whether this instance of canvas is served over ssl (https) or not
  # defaults to true for production, false for test/development
  ssl: true
  # files_domain: "canvasfiles.example.com"
