# this config file is useful if you don't want to run a consul
# cluster with canvas.  Just provide the config data you would
# like for the DynamicSettings class to find, and it will use
# it whenever a call for consul data is issued. Data should be
# shaped like the example below, one key for the related set of data,
# and a hash of key/value pairs (no nesting)
development:
  # tree
  config:
    # service
    canvas:
      # environment
      address-book:
        app-host: "http://address-book.docker"
        secret: "opensesame"
      canvas:
        encryption-secret: "astringthatisactually32byteslong"
        signing-secret: "astringthatisactually32byteslong"
      live-events:
        aws_endpoint: http://kinesis.canvaslms.docker
        kinesis_stream_name: live-events
      live-events-subscription-service:
        app-host: "http://les.docker"
        sad-panda: null
      math-man:
        base_url: 'http://mathman.docker'
        use_for_svg: 'false'
        use_for_mml: 'false'
      rich-content-service:
        app-host: "rce.docker"
    # another service
    inst-fs:
      app-host: "http://api.instfs.docker"
      # this is just "super-sekret-value", base64-encoded:
      secret: "c3VwZXItc2VrcmV0LXZhbHVlCg=="
    pandata:
      ios-pandata-key: IOS_pandata_key
      ios-pandata-secret: teamrocketblastoffatthespeedoflight
      android-pandata-key: ANDROID_pandata_key
      android-pandata-secret: surrendernoworpreparetofight

  private:
    canvas:
      ha_cache.yml: |
        cache_store: ha_store
        servers:
         - redis://localhost/2
        # keep stale data for up to 1 week in the cache
        race_condition_ttl: 604800
        # how long it might take to recompute a cache value
        # before the lock times out and another process is
        # allowed to write it
        lock_timeout: 5
        # how long before a cache entry is considered stale
        expires_in: 300
        # when deleting from the cache, trigger a consul event
        # you can use the example script/consume_consul_events
        # to delete from local nodes, but may need to tweak
        # slightly if your config doesn't match
        consul_event: "canvas/dev/invalidate_ha_cache"
        # if configured, trigger the event in multiple Consul
        # datacenters, rather than just the local one
        # if you use this you SHOULD still list the local
        # dc; it won't be added for you
        consul_datacenters:
        - dc1
        - dc2
