# The api key, secret key, and canvas page name are required to get started
# Tunnel configuration is only needed if you are going to use the facebooker:tunnel Rake tasks
# Your callback url in Facebook should be set to http://public_host:public_port

production:
 api_key: key 
 secret_key: secret_key
 canvas_page_name: page_name    
     
development:
 api_key: key 
 secret_key: secret_key
 canvas_page_name: page_name    
     
test:
  api_key: key
  secret_key: secret_key
  canvas_page_name: page_name
