# Update note: incoming mail processing used to use the mailman gem and accepted
# mailman configurations. The implementation has changed to accomodate more
# robust error handling. Some of the mailman features have been removed (such as
# stdin and maildir processing). Some mailman configuration settings are still
# accepted but log a deprecation warning. The configuration settings for imap
# and pop3 are the same as before.
#
# The mail processor can run in the following ways:
#  * controlled by the Canvas job server:
#     * set run_periodically: true
#  * by running script/process_incoming_emails periodically
#
# Incoming mail can be received in the following ways:
#  * imap
#     * requires server, username, password
#     * defaults ssl => true, port => 993, filter => "ALL", error_folder => "errors"
#     * filter can be an array
#  * pop3
#     * requires server, username, password
#     * defaults ssl => true, port => 995
#  * directory (read email files from a directory)
#     * requires folder (relative to rails root, but an absolute path would be best)
#     * defaults error_folder => "errors"
# 


development:
  # defaults will not read incoming mail from any source

test:
  directory: 
    folder: "/tmp/maildir"

production:
  run_periodically: true
  pop3:
    server: "pop.example.com"
    port: 995
    ssl: true
    username: "user"
    password: "password"

# To configure multiple pop3/imap accounts, configure a pop3/imap/directory
# section with default values and add an accounts section that contains an
# array of override values for each account. 
# example:

multiple_inboxes:
  run_periodically: true
  imap:
    server: "imap.example.com"
    port: 993
    ssl: true
    filter: ALL
    accounts:
    - username: "user1@example.com"
      password: "pass1"

    - username: "user2@example.com"
      password: "pass2"

    - username: "user3@example.com"
      password: "pass3"
