production:
  domain: www.kaltura.com
  resource_domain: cdn.kaltura.com
  secret_key: secret_key
  user_secret_key: user_secret_key
  partner_id: partner_id
  subpartner_id: subpartner_id
  player_ui_conf: player_ui_conf
  kcw_ui_conf: kcw_ui_conf
  upload_ui_conf: uploader_ui_conf
  
development:
  domain: www.kaltura.com
  resource_domain: cdn.kaltura.com
  secret_key: secret_key
  user_secret_key: user_secret_key
  partner_id: partner_id
  subpartner_id: subpartner_id
  player_ui_conf: player_ui_conf
  kcw_ui_conf: kcw_ui_conf
  upload_ui_conf: uploader_ui_conf
     
test:
  domain: www.kaltura.com
  resource_domain: cdn.kaltura.com
  secret_key: secret_key
  user_secret_key: user_secret_key
  partner_id: partner_id
  subpartner_id: subpartner_id
  player_ui_conf: player_ui_conf
  kcw_ui_conf: kcw_ui_conf
  upload_ui_conf: uploader_ui_conf
