development:
  logger: rails
# log_context: false
# (log_context defaults to true)

test:
  logger: rails

production:
  logger: rails
#  logger: syslog
#  app_ident: canvas-lms
#  daemon_ident: canvas-lms-daemon
#  include_pid: false
#  facilities:
#  - user
#  - local3
