test:
  browser: "firefox"
  #version: "45.0"
  #platform: "Windows 10"
  #remote_url: "https://instructure:secret_key@ondemand.saucelabs.com:80/wd/hub"
  #tunnel_id: "canvas_firefox"
  paths:
    # setting path works for opera, chrome, and firefox
    # firefox: "/Applications/Firefox7.app/Contents/MacOS/firefox"