development:
  username: put_your_zendesk_username_here
  password: put_your_zendesk_password_here
  # URL used in redirects, links, etc.
  site: http://support.put_your_zendesk_support_site_here.com
  # URL to Zendesk API, not user facing. (HTTPS required)
  api_url: https://support.put_your_zendesk_support_site_here.com
  auth_token: put_auth_token_from_zendesk_website_here
  enabled: false

production:
  username: put_your_zendesk_username_here
  password: put_your_zendesk_password_here
  # URL used in redirects, links, etc.
  site: http://support.put_your_zendesk_support_site_here.com
  # URL to Zendesk API, not user facing. (HTTPS required)
  api_url: https://support.put_your_zendesk_support_site_here.com
  auth_token: put_auth_token_from_zendesk_website_here
  enabled: true

test:
  username: test.username
  password: test.password
  # Must be https URL unless it is localhost or 127.0.0.1
  site: http://127.0.0.1
  api_url: http://127.0.0.1
  enabled: false
  auth_token:
