<%
  css_bundle :login_confirm
  @headers = false
  if use_new_styles?
    @body_classes << "full-width modal body--login-confirmation"
  else
    @body_classes << "modal body--login-confirmation"
  end

  content_for :page_title, t(:page_title, "Registration Confirmation Failed")
%>

<div id="modal-box"<% if use_new_styles? %> class="ic-Login-confirmation"<% end %>>
  <% if use_new_styles? %>
  <header class="ic-Login-confirmation__header">
    <%= image_tag("login/canvas-logo@2x.png", class:"ic-Login-confirmation__logo", alt:"Canvas by Instructure") %>
  </header>
  <div class="ic-Login-confirmation__content">
  <% end %>
    <h2<% if use_new_styles? %> class="ic-Login-confirmation__headline"<% end %>>
      <%= t 'titles.problems_with_registration', "Problem with Registration" %>
    </h2>
    <p><%= t :details, %{It looks like you may have already confirmed your registration.  Try
    *logging in*
    with the email address and password you registered.  If you can't remember
    your password, click the "Forgot Password" link and you should get a new link
    that you can use to log in and re-set your password.},
    :wrapper => %{<a href="#{login_url}"><b>\\1</b></a>} %></p>
    <% if show_feedback_link? %>
      <p>
      <%= t "If you keep having problems, click the \"%{link}\" link below to search the guides
      or to let us know what's going on.", :link => help_link_name %>
    <% end %>
    </p>
  <% if use_new_styles? %></div><% end %>
</div>
