<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  css_bundle :login_confirm
  @headers = false
  add_body_class "full-width modal body--login-confirmation"

  provide :page_title, t(:page_title, "Registration Confirmation Failed")
%>

<div id="modal-box" class="ic-Login-confirmation">
  <header class="ic-Login-confirmation__header">
    <%= image_tag("login/canvas-logo@2x.png", class:"ic-Login-confirmation__logo", alt:"Canvas by Instructure") %>
  </header>
  <div class="ic-Login-confirmation__content">
    <h2 class="ic-Login-confirmation__headline">
      <%= t 'titles.problems_with_registration', "Problem with Registration" %>
    </h2>
    <p><%= t :details, %{It looks like you may have already confirmed your registration.  Try
    *logging in*
    with the email address and password you registered.  If you can't remember
    your password, click the "Forgot Password" link and you should get a new link
    that you can use to log in and re-set your password.},
    :wrapper => %{<a href="#{login_url}"><b>\\1</b></a>} %></p>
    <% if show_feedback_link? %>
      <p>
      <%= t "If you keep having problems, click the \"%{link}\" link below to search the guides
      or to let us know what's going on.", :link => help_link_name %>
    <% end %>
    </p>
  </div>
</div>
