<%
  css_bundle :login_confirm
  @headers = false
  @body_classes << "modal"
  content_for :page_title, t(:page_title, "Registration Confirmation Failed")
%>

<div id="modal-box">
  <h2><%= t 'titles.problems_with_registration', "Problem with Registration" %></h2>
    <p><%= t :details, %{It looks like you may have already confirmed your registration.  Try
    *logging in*
    with the email address and password you registered.  If you can't remember
    your password, click the "Forgot Password" link and you should get a new link
    that you can use to log in and re-set your password.},
    :wrapper => %{<a href="#{login_url}"><b>\\1</b></a>} %></p>
    <% if Setting.get("show_feedback_link", "false") == "true" %>
      <p><%= t :feedback, %{If you keep having problems, click the "Help" link below to search the guides
      or to let us know what's going on.} %>
    <% end %>
    </p>
</div>
