<header class="entry-header discussion-section admin-link-hover-area {{read_state}} clearfix {{#if collapsable}}collapsable{{/if}}" {{#if collapsable}}data-event="toggleCollapsed"{{/if}}>
  <div class="discussion-header-content right-of-avatar">
    <div class="discussion-header-right">
      <div class="headerBadges show-if-collapsed"></div>
    </div>
    <div class="discussion-title">{{#t "deleted"}}Deleted by <a {{editor_href}} tabindex="0">{{editor_name}}</a> on {{edited_at}}{{/t}}</div>
  </div>
</header>

