<header class="{{#if hideRepliesOnCollapse}}admin-link-hover-area{{/if}} discussion-section {{read_state}}" data-event="toggleCollapsed">
  <div class="discussion-header-content right-of-avatar">
    <h1 class="discussion-title">{{#t "deleted"}}This entry has been deleted{{/t}}</h1>
  </div>
</header>

