<header class="discussion-section {{read_state}}">
  <div class="discussion-header-content right-of-avatar">
    <h1 class="discussion-title">{{#t "deleted"}}This entry has been deleted{{/t}}</h1>
  </div>
</header>

