<header class="discussion-section {{read_state}}">
  <div class="discussion-read-state tooltip">
    <span class="tooltip_wrap unread"></span>
    <span class="tooltip_wrap just_read"></span>
  </div>
  <div class="discussion-header-content right-of-avatar">
    <h1 class="discussion-title">{{#t "deleted"}}This entry has been deleted{{/t}}</i></a>
  </div>
</header>

