<header class="discussion-section admin-link-hover-area {{read_state}} clearfix">
  <div class="discussion-read-state tooltip">
    <span class="tooltip_wrap unread"></span>
    <span class="tooltip_wrap just_read"></span>
  </div>
  <div class="discussion-header-content right-of-avatar">
    <div class="admin-links"></div>
    <h1 class="discussion-title">
      <a class="show-if-collapsed summary ellipsis"><i>{{#t "deleted"}}This entry has been deleted{{/t}}</i></a>
    </h1>
    <h2 class="show-if-collapsed discussion-subtitle"></h2>
  </div>
</header>

