{{#if showBoxReplyLink}}
  <div class="discussion-entry-reply-area reply-box-container hide-if-collapsed hide-if-replying">
    <div class="notification" data-bind="notification"></div>
    <a class="discussion-reply-action discussion-reply-box" data-event="addReply" href="#">
      <i class="icon-replied"></i>
      {{#t "write_a_reply"}}Reply{{/t}}
    </a>
  </div>
{{/if}}
<div class='discussion-entry-reply-area hide-if-collapsed show-if-replying'>
  <form class="discussion-reply-form">
    <div class="toggle-wrapper">
      <a href="#">
        {{#t "#editor.switch_editor_html"}}HTML Editor{{/t}}
      </a>
      <a href="#" style="display:none;">
        {{#t "#editor.switch_editor_rich_text"}}Rich Text Editor{{/t}}
      </a>
    </div>

    <textarea class="reply-textarea"
              id="{{#if root}}root_{{/if}}reply_message_for_{{id}}"></textarea>

    <div class="clearfix">
      <div class="discussion-reply-buttons">
        <a href="javascript:" class="cancel_button btn btn-small">{{#t "cancel"}}Cancel{{/t}}</a>
        <button class="btn btn-primary btn-small" type="submit">{{#t "post_reply"}}Post Reply{{/t}}</button>
      </div>

      <div class="discussion-reply-attachments-container">
        <ul class="discussion-reply-attachments"></ul>
        {{#if canAttach}}
          <a href="#" class="discussion-reply-add-attachment discussion-reply-action icon-paperclip"
             data-event="addReplyAttachment">{{#t "attach_file"}}Attach{{/t}}</a>
        {{/if}}
      </div>
    </div>
  </form>
</div>
