<form class="discussion-section hide-if-collapsed discussion-reply-form">
  <span class="notification" data-bind="notification"></span>
  <label class="discussion-reply-label hide-if-replying" data-event="addReply" for="reply_message_for_{{id}}">
    {{#if allowsSideComments}}
      {{#t "add_side_comment"}}Add a side comment...{{/t}}
    {{else}}
      {{#t "write_a_reply"}}Write a reply...{{/t}}
    {{/if}}
  </label>
  <div class="show-if-replying">
    <textarea class="reply-textarea" id="reply_message_for_{{id}}"></textarea>
    <ul class="discussion-reply-attachments"></ul>
    {{#if canAttach}}
      <a href="#" class="discussion-reply-add-attachment" data-event="addReplyAttachment">{{#t "attach_file"}}Attach{{/t}}</a>
    {{/if}}
    <div>
      <button class="button small-button" type="submit">{{#t "post_response"}}Post Response{{/t}}</button>
      <a href="#" class="cancel_button">{{#t "cancel"}}Cancel{{/t}}</a>
    </div>
  </div>
</form>
