<div class="notification" data-bind="notification"></div>
<form class="discussion-reply-form">
  <a class="discussion-reply-label hide-if-replying" data-event="addReply" href="#">
    {{#t "write_a_reply"}}Reply{{/t}}
  </a>
  <div class="show-if-replying">
    <textarea class="reply-textarea" id="reply_message_for_{{id}}"></textarea>

    <div class="clearfix">
      <div class="discussion-reply-buttons">
        <a href="javascript:" class="btn btn-small cancel_button">{{#t "cancel"}}Cancel{{/t}}</a>
        <button class="btn btn-primary btn-small" type="submit">{{#t "post_response"}}Post Response{{/t}}</button>
      </div>

      <div class="discussion-reply-attachments-container">
        <ul class="discussion-reply-attachments"></ul>
        {{#if canAttach}}
          <a href="#" class="discussion-reply-add-attachment" data-event="addReplyAttachment">{{#t "attach_file"}}Attach{{/t}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</form>
