<article class="discussion_entry can_be_marked_as_read {{read_state}}-onload {{read_state}} {{#if deleted}}deleted-discussion-entry{{/if}} {{#if canReply}}can-reply{{/if}}"
         data-mark-read-url="{{mark_read_url}}">
  <a href="#"
     class="discussion-read-state-btn"
     role="button"
     title=""
     data-tooltip='{ "position": "top", "collision": "none" }'
     data-event="toggleRead">
    <div class="discussion-read-state tooltip data-tooltip"></div>
  </a>
  <div class="entry-content" data-should-position>
    {{#if deleted}}
      {{>[discussions/deleted_entry]}}
    {{else}}
      {{>[discussions/entry_content]}}
    {{/if}}
  </div>
  {{#if allowsThreadedReplies}}
    {{>[discussions/reply_form]}}
  {{/if}}
</article>
<div class="replies hide-if-collapsed"></div>
{{#if allowsSideComments}}
  <div class="bottom-reply-with-box">
    {{>[discussions/reply_form]}}
  </div>
{{/if}}


