<p>
  {{#t "your_search_did_not_match_any_entries"}}Your search did not match any entries.{{/t}}
</p>
<p>
{{#t "suggestions"}}Suggestions:{{/t}}
<ul>
  <li>{{#t "make_sure_all_search_terms_are_spelled_correctly"}}Make sure all search terms are spelled correctly.{{/t}}</li>
  <li>{{#t "try_different_more_general_or_fewer_keywords"}}Try different, more general, or fewer keywords.{{/t}}</li>
  <li>{{#t "try_disabling_the_unread_filter"}}Try disabling the "Unread" filter.{{/t}}</li>
</ul>
