<div class="headerBar">
  <div class="headerBar-left bootstrap-form form-inline">
    <label
      class="hidden-inline-text"
      for="discussion-search"
    >{{#t "search_entries"}}Search entries or authors{{/t}}</label>

    <input
      id          = "discussion-search"
      type        = "text"
      aria-label  = '{{#t "filter_replies"}}Filter replies by search term{{/t}}'
      placeholder = '{{#t "search_entries_placeholder"}}Search entries or author{{/t}}'
      size        = 50
    >

    <input
      type    = "checkbox"
      id      = "onlyUnread"
    ><label for="onlyUnread">{{#t "unread"}}Unread{{/t}}</label>
  </div>
</div>

