<% message = dashboard_conversation_event %>
<% hide_message ||= false %>
<% author = message.author %>
<div id="dashboard_conversation_message_<%= message.id %>" class="communication_sub_message <%= 'toggled_communication_sub_message' if hide_message %>">
  <div class="header">
    <div class="post_date time_ago_date"><%= datetime_string(message.created_at) %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="message user_content"><%=
      case message.event_data.event_type
      when :users_added
        author_name = "<a href=\"#{user_path(author.id)}\" class=\"user_name\">#{h(author.short_name)}</a>".html_safe
        user_names = message.event_data.users.map do |user| 
          "<a href=\"#{user_path(user.id)}\" class=\"user_name\">#{h(user.short_name)}</a>".html_safe
        end
        ConversationMessage::EventFormatter.users_added(author_name, user_names)
      end
    %></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
