<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tinychat</title>

    <style>
      html,body { height: 100%; }
    </style>
  </head>
  <body>
    <div id="client"></div>

    <script src="/javascripts/vendor/tinychat.js"></script>
    <script>
      (function() {
        var queryStringParams, initTinychat, data;

        queryStringParams = function() {
          var vars   = [],
              hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'),
              hash;

          for (var _i=0; _i < hashes.length; _i++) {
            hash = hashes[_i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
          }

          return vars;
        };

        initTinychat = function() {
          var queryString = queryStringParams();
          queryString['target'] = 'client';
          queryString['desktop'] = true;

          tinychat(queryString);
        };

        if (window.addEventListener) {
          window.addEventListener('load', initTinychat, false);
        } else if (window.attachEvent) {
          window.attachEvent('onload', initTinychat);
        }
      })();
    </script>
  </body>
</html>

