<% title = @media_object.try(:title) || t('titles.media_playback', "Media Playback")
   content_for :page_title, title
   content_for :page_header, title
   add_crumb t('#crumbs.media', "Media")
   add_crumb title
%>
<div style="margin: 10px auto; width: 500px;">
  <div id="media_comment">
  </div>
</div>
<% js_block do %>
<script>
require([
  'jquery' /* $ */,
  'media_comments' /* mediaComment */
], function($) {

$(document).ready(function() {
  $("#media_comment").mediaComment('show_inline', '<%= params[:id] %>', '<%= @media_object ? @media_object.media_type : 'video' %>');
});

});
</script>
<% end %>
