<% title = @media_object.try(:title) || t('titles.media_playback', "Media Playback")
   content_for :page_title, title
   add_crumb t('#crumbs.media', "Media")
   add_crumb title
%>
<div style="margin: 10px auto; width: 500px;">
  <div id="media_comment">
  </div>
</div>
<% js_bundle 'legacy/context_media_object_inline' %>
