<% content_for :page_title, (@media_object.try(:title) || "Media Playback") %>
<% content_for :page_header, (@media_object.try(:title) || "Media Playback") %>
<% add_crumb "Media" %>
<% add_crumb (@media_object.try(:title) || "Media Playback") %>
<div style="margin: 10px auto; width: 500px;">
  <div id="media_comment">
  </div>
</div>
<% js_block do %>
<script>
$(document).ready(function() {
  $("#media_comment").mediaComment('show_inline', '<%= params[:id] %>', '<%= @media_object ? @media_object.media_type : 'video' %>');
});
</script>
<% end %>