<div id="adminToolsTabs">
  <ul id="adminToolsTabNav">
    {{#if contentRestore}}
    <li><a href="#restoreContentPane">{{#t}}Restore Content{{/t}}</a></li>
    {{/if}}
    {{#if viewMessages}}
    <li class="notifications"><a href="#commMessagesPane">{{#t "view_messages"}}View Notifications{{/t}}</a></li>
    {{/if}}
    {{#if logging}}
    <li class="logging"><a href="#loggingPane">{{#t "tab_labels.admin_tools_logging"}}Logging{{/t}}</a></li>
    {{/if}}
    {{#if bouncedEmails}}
    <li class="bouncedEmails"><a href="#bouncedEmailsPane">{{#t}}Bounced Emails{{/t}}</a></li>
    {{/if}}
  </ul>
  <div id="adminToolsTabPanes">
    {{#if contentRestore}}
    <div id="restoreContentPane"></div>
    {{/if}}
    {{#if viewMessages}}
    <div id="commMessagesPane"></div>
    {{/if}}
    {{#if logging}}
    <div id="loggingPane"></div>
    {{/if}}
    {{#if bouncedEmails}}
    <div id="bouncedEmailsPane"></div>
    {{/if}}
  </div>
</div>
