<h2>{{#t}}User Login / Logout Activity{{/t}}</h2>
<p>
  {{#t}}To view all login / logout activities of a Canvas user, select the user and date range for your search.{{/t}}
</p>

<form id="authLoggingSearchForm" class='form-horizontal'></form>
<hr aria-hidden="true"/>

<div id="authLoggingSearchResults"></div>

