<h2>{{#t}}Course Activity{{/t}}</h2>

<div id="course_activity_form_mount_point"></div>

<hr aria-hidden="true"/>

<div id="courseLoggingSearchResults"></div>

<div id="course_activity_details_mount_point"></div>
