{{#if collection.length}}

  <table class="ic-Table">
    <thead>
      <tr>
        <th>{{#t "date"}}Date{{/t}}</th>
        <th>{{#t "time"}}Time{{/t}}</th>
        <th>{{#t "user"}}User{{/t}}</th>
        <th>{{#t "event_type"}}Type{{/t}}</th>
        <th>{{#t "event_source"}}Source{{/t}}</th>
        <th>{{#t "event_details"}}Event Details{{/t}}</th>
      </tr>
    </thead>
    <tbody class="collectionViewItems"></tbody>
  </table>
  <div class="paginatedLoadingIndicator"></div>

{{else}}

  <div class="alert alert-info">
    <p class="lead">{{#t "no_item_found"}}No items found{{/t}}</p>
  </div>
  <div class="paginatedLoadingIndicator"></div>

{{/if}}
