<div class="control-group">
  <div class="controls">
    <input type="text" id="{{name}}-dateStartSearchField" class="dateSearchField dateStartSearchField" name="start_time" placeholder="{{#t "message_date_from"}}From Date{{/t}}" maxlength="50" />
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <input type="text" id="{{name}}-dateEndSearchField" class="dateSearchField dateEndSearchField" name="end_time" placeholder="{{#t "message_date_to"}}To Date{{/t}}" maxlength="50" />
  </div>
</div>
