<h2>{{#t}}Grade Change Activity{{/t}}</h2>

<form id="gradeChangeLoggingForm" class='form-horizontal pad-box border border-trbl search-controls'>
  <div id="gradeChangeGraderSearch" class="control-group"></div>
  <div id="gradeChangeStudentSearch" class="control-group"></div>

  <div class="control-group">
    <div class="controls">
      <input type="text" id="gradeChangeCourseSearch" class="" name="course_id" placeholder="{{#t}}Course Id{{/t}}" maxlength="50" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="text" id="gradeChangeAssignmentSearch" class="" name="assignment_id" placeholder="{{#t}}Assignment Id{{/t}}" maxlength="50" />
    </div>
  </div>

  <div id="gradeChangeDateRangeSearch"></div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" name="gradeChange_submit">
        {{#t}}Find{{/t}}
      </button>
    </div>
  </div>
</form>

<hr aria-hidden="true"/>

<div id="gradeChangeLoggingSearchResults"></div>
