<style type="text/css">
  #userIdSearchField { width: 8em; }
</style>
<div class="control-group">
  <label>
    {{#t "search"}}Search for people by ID or name{{/t}}
    <br>
    <input
      type="text"
      name="search_term"
      data-view="inputFilter"
      maxlength="255"
    >
  </label>

  <input
    type="hidden"
    class="userIdField"
    name="user_id"
    maxlength="255"
  >

  <input
    type="hidden"
    class="hiddenDateStart"
    name="start_time"
  />

  <input
    type="hidden"
    class="hiddenDateEnd"
    name="end_time"
  />
</div>

<div class="v-gutter">
  <h2 class="screenreader-only">{{#t}}Users{{/t}}</h2>
  <div data-view="users" class="users-container"></div>
</div>
