<h2>{{#t}}Restore Users{{/t}}</h2>
<div>
  <label for="userSearchField">{{#t}}Search for a deleted user by ID{{/t}}</label>
</div>
<div class="form-inline">
  <input type="text" id="userSearchField" placeholder="{{#t}}User ID{{/t}}" maxlength="50">
  <input type="submit" class="btn btn-primary span2" id="UserSearchBtn" value="{{#t}}Find{{/t}}">
</div>
