<header class="activityFeedItemsToolbar toolbar border border-trbl border-round-t">
  <div class="row-fluid">
    <div class="span4">
      <h2 class="header"><i class="icon-toggle-left drawerToggle"></i> Recent Activity</h2>
    </div>
    <div class="span8">
      <ul class="activityFeedItemsFilter nav nav-links">
        <li><a href="#" data-value="all" class="active">All</a>
        <li><a href="#" data-value="announcements">Announcements</a>
        <li><a href="#" data-value="discussions">Discussions</a>
        <li><a href="#" data-value="conversations">Conversations</a>
        <li><a href="#" data-value="messages">Alerts</a>
      </ul>
    </div>
  </div>
</header>
<ul class="activityFeedItemsList"></ul>

