.root {
  font-family: var(--fontFamily);
  box-sizing: border-box;
  padding: var(--padding);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color);
  line-height: var(--lineHeight);
}

.completed,
.icon {
  box-sizing: border-box;
  margin-right: var(--gutterWidth);
}

.completed {
  width: 1.375rem;
}

.icon {
  color: var(--iconColor);
  font-size: var(--iconFontSize);

  > svg { /* stylelint-disable-line selector-no-type */
    display: block;
  }
}

.layout {
  box-sizing: border-box;
  flex: 1;
  min-width: 1px;
}

.details {
  box-sizing: border-box;
  margin-bottom: var(--bottomMargin);
  min-width: 1px;
}

.secondary {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 1px;
}

.type {
  box-sizing: border-box;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  margin-bottom: var(--typeMargin);
}

.title {
  box-sizing: border-box;
  line-height: var(--titleLineHeight);
}

.type,
.title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.metrics {
  box-sizing: border-box;
  text-align: right;
  flex: 1;
  min-width: 1px;
  padding-left: var(--metricsPadding);
}

.due,
.score {
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  line-height: 1;
  white-space: nowrap;
}

.badges {
  flex: 1;
  min-width: 1px;
}

[data-media-medium] {
  &.root {
    padding: var(--paddingMedium);
  }

  .layout {
    display: flex;
    align-items: center;
  }

  .details {
    flex: 0 0 50%;
    margin-bottom: 0;
  }

  .secondary {
    flex: 0 0 50%;
  }

  .badges {
    text-align: end;
  }

  .metrics {
    flex: 0 0 7rem;
  }
}

[data-media-x-large] {
  &.root {
    padding: var(--paddingLarge);
  }

  .completed,
  .icon {
    margin-right: var(--gutterWidthLarge);
  }
}
