/* Variables are defined in ./theme.js */

.root {
  font-family: var(--fontFamily);
  margin: var(--margin);
  border-color: var(--groupColor);
  color: var(--groupColor);
  line-height: var(--lineHeight);
  position: relative;
  display: flex;
}

.title {
  position: relative;
  z-index: 1;
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  padding: var(--titlePadding);
  background-color: var(--titleBackground);
  text-transform: var(--titleTextTransform);
  text-decoration: var(--titleTextDecoration);
  font-size: var(--titleFontSize);
  font-weight: var(--titleFontWeight);
  color: var(--titleColor);

  /* handle unusually long words that break the layout */
  min-width: 1px;
  overflow: hidden;
  max-height: 3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  &::after {
    content: "";
    width: 100%;
    height: var(--titleOverflowGradientHeight);
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--titleBackground) 100%);
  }
}

.hero {
  position: relative;
  display: flex;
  flex: 0 0 var(--heroWidth);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  padding: var(--heroPadding);
  text-decoration: none;

  /* handle long words that break layout */
  min-width: 1px;

  .groupingName {
    text-decoration: var(--heroLinkTextDecoration);
  }
}

.hero,
.overlay {
  border-bottom-inline-start-radius: var(--heroBorderRadius);
  border-top-inline-start-radius: var(--heroBorderRadius);
}

.heroHover {
  &:focus,
  &:hover {
    text-decoration: none;

    .title {
      text-decoration: var(--titleTextDecorationHover);
    }
  }
}

.overlay {
  background-color: var(--groupColor);
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.withImage {
    opacity: var(--overlayOpacity);
  }
}

/* the <ol> */
.items {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: var(--borderTopWidth) solid;
  border-color: var(--groupColor);
  color: var(--groupColor);
  min-width: 1px;
}

.medium, .small {
  &.root {
    display: block;
    margin: 0;
  }
  .hero, .overlay {
    border-radius: 0;
    background-color: transparent;
  }
  .hero {
    display: block;
    flex: none;
    min-height: unset;
    line-height: 2rem;
  }
  .title {
    font-size: var(--titleFontSizeTablet);
    padding-inline-start: 0;
  }
  .items {
    border-top-width: var(--borderTopWidthTablet);
  }
}
