<p>
Your Canvas verification code is <b><%= @data[:verification_code] %></b>
</p>

<p>
For improved login experience and security, you can reconfigure Multi-Factor
Authentication (MFA) to use an OTP authentication app by following <a href="https://community.canvaslms.com/t5/Student-Guide/How-do-I-set-up-multi-factor-authentication-for-my-user-account/ta-p/524#verify-via-authenticator-app">
this guide</a> under the "Verify via Authenticator App" section.
</p>
