<% define_content :link do %>
  <%= polymorphic_url([asset.assignment.context, asset.assignment]) %>
<% end %>

<%= t('assignment_due_date_changed_sentence', 'The due date for the assignment *%{assignment_name}* for %{course_name} (%{override}) has changed to:', :assignment_name => asset.assignment.title, :course_name => asset.assignment.context.name, :override => asset.title, :wrapper => "<b><a href=\"#{content :link}\">\\1</a></b>") %>

<b>
  <% if asset.due_at %>
    <%= datetime_string(force_zone(asset.due_at)) %>
  <% else %>
    <%= t('no_due_date', 'No Due Date') %>
  <% end %>
</b>
