<% define_content :link do %>
  <%= course_assignment_submission_url(asset.assignment.context, asset.assignment, asset.user_id) %>
<% end %>

<%= mt('user_resubmitted_sentence', '**%{user_name}** has just turned in a late submission for **%{assignment_name}** in the course %{course_name}', :user_name => asset.user.name, :assignment_name => asset.assignment.title, :course_name => asset.assignment.context.name) %>
<br/><br/>
<b><a href="<%= content :link %>"><%= t('click_to_view', 'Click here to view the submission.') %></a></b>
