<% define_content :link do %>
  <%= polymorphic_url([asset.collaboration.context, asset.collaboration]) %>
<% end %>

<%= t :body, <<-BODY, :document => %{<b><a href="#{content(:link)}">#{h asset.collaboration.title}</a></b>}.html_safe, :course_or_group => asset.collaboration.context.name, :service => asset.collaboration.service_name unless asset.collaboration.user
You've been invited to collaborate on a document, %{document} for
%{course_or_group}.  The document was created in %{service}.
BODY
%>

<%= t :body_with_user, <<-BODY, :document => %{<b><a href="#{content(:link)}">#{h asset.collaboration.title}</a></b>}.html_safe, :course_or_group => asset.collaboration.context.name, :user => asset.collaboration.user.short_name, :service => asset.collaboration.service_name if asset.collaboration.user
You've been invited to collaborate on a document, %{document} for
%{course_or_group}.  The document was created by %{user} in %{service}.
BODY
%>