<p>
  <%= t("We've finished creating a copy of the Canvas data you requested on %{request_time}", request_time: I18n.l(@data[:request_time], format: :long)) %>
  <%= t("Your download will contain data from Canvas LMS and should be treated with care.") %>
</p>

<p>
 <%= t("Follow the link below to download your export") %>
<b><%= @data[:download_url] %></b>
</p>
