<p>
We've finished creating a copy of the Canvas data you requested on June 26, 2024. You can download your files until August 1, 2024.
Your download will contain data from Canvas LMS and should be treated with care.
</p>

<p>
Follow the link below to download your export
<b><%= @data[:download_url] %></b>
</p>
