<% define_content :link do %>
  <%= course_users_url(asset.course_id) %>
<% end %>

<%=
    case asset.type
    when 'TeacherEnrollment'
      t :body_teacher, "%{user} just accepted their invitation to participate in the course %{course} as a teacher.", :user => %{<b><a href="#{content :link}">#{asset.user.name}</a></b>}, :course => asset.course.name
    when 'TaEnrollment'
      t :body_ta, "%{user} just accepted their invitation to participate in the course %{course} as a TA.", :user => %{<b><a href="#{content :link}">#{asset.user.name}</a></b>}, :course => asset.course.name
    when 'ObserverEnrollment'
      t :body_observer, "%{user} just accepted their invitation to participate in the course %{course} as an observer.", :user => %{<b><a href="#{content :link}">#{asset.user.name}</a></b>}, :course => asset.course.name
    when 'DesignerEnrollment'
      t :body_designer, "%{user} just accepted their invitation to participate in the course %{course} as a designer.", :user => %{<b><a href="#{content :link}">#{asset.user.name}</a></b>}, :course => asset.course.name
    else
      t :body_student, "%{user} just accepted their invitation to participate in the course %{course} as a student.", :user => %{<b><a href="#{content :link}">#{asset.user.name}</a></b>}, :course => asset.course.name
    end
%>
