<% define_content :link do %>
  <%= polymorphic_url([asset.group.context, asset.group]) %>
<% end %>

<%=
    case asset.group.context_type
    when 'Account'
      t :body_account, %{A new student organized group named %{group_name} was created for the account %{account}. The first member is %{user}.}, :group_name => %{<b><a href="#{content :link}">#{h asset.group.name }</a></b>}.html_safe, :account => asset.group.context.name, :user => asset.user.name
    else
      t :body_course, %{A new student organized group named %{group_name} was created for the course %{course}. The first member is %{user}.}, :group_name => %{<b><a href="#{content :link}">#{h asset.group.name }</a></b>}.html_safe, :course => asset.group.context.name, :user => asset.user.name
    end
%>
