<% define_content :link do %>
  <%= polymorphic_url([asset.group.context, :groups]) %>
<% end %>
<%=
    case asset.group.context_type
    when 'Account'
      t :body_account, "You've been added to a new group for the account %{account}.  The name of the group is %{group_name}.", :account => asset.group.context.name, :group_name => %{<b><a href="#{content :link}">#{h asset.group.name}</a></b>}.html_safe
    else
      t :body_course, "You've been added to a new group for the course %{course}.  The name of the group is %{group_name}.", :course => asset.group.context.name, :group_name => %{<b><a href="#{content :link}">#{h asset.group.name}</a></b>}.html_safe
    end
%>
