<div class="outlet"></div>

<div class="button-container">
  <button class="btn dialog_closer">{{#t "cancel"}}Cancel{{/t}}</button>
  <button class="btn btn-primary" data-text-while-loading="{{#t "creating"}}Creating...{{/t}}" type="submit">{{#t "Save"}}Save{{/t}}</button>
</div>
