<div class="pull-right">
  <div class="editable-show">
    <span class="prereqs">
      <strong>{{#t "module.prerequisites"}}Prerequisites{{/t}}:</strong> 
      Yadda yadda
    </span>

    <span class="module-published-button">
      {{#t "module.published"}}Published{{/t}} <i class="icon-publish" aria-hidden="true"></i>
    </span>

    <a href="#" class="btn add-item-button"><i class="icon-plus"></i></a>
    <a href="#" class="btn module-settings-button">
      <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
    </a>
  </div>
</div>
<h2 class="ig-header">
  <i class="icon-mini-arrow-right"></i> {{name}}
</h2>
<div class="module_items"></div>