#skip_navigation_link
  @include accessibility-prompt
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
  &:focus
    left: 0
    top: 0
    width: auto
    height: auto
    z-index: 1
// the #header.no-user #header-logo part here is so that it overrides the byuh logo
#header-logo, #header.no-user #header-logo
  +bg-image('canvas/header_canvas_logo', 'png', no-repeat, left, top, transparent, 110px, 26px)
  width: 135px
  height: 26px
  left: 16px
  bottom: 21px
  position: absolute
  text-indent: -9999px

// TODO: remove this style once people have time to update their logo-related custom
// css. See related code in app/coffeescripts/bundles/common.coffee too.
#header-logo.original, #header.no-user #header-logo.original
  bottom: 12px
#header-logo-secondary
  display: none
  +bg-image('canvas/header_canvas_logo', 'png', no-repeat, left, top, transparent, 110px, 26px)
  width: 135px
  height: 26px
  right: 26px
  bottom: 6px
  position: absolute

#header-inner
  padding-top: 26px
  max-width: $max_main_width
  position: relative

#header
  @if $is-k12 == false
    position: relative
    z-index: 11 /* IE7 needs this so the menu-item-drops get stuck above #main */    
    background-color: $ic-base-header-background
    &.no-user
      background-position: 0 -25px
      min-height: 45px
      #header-logo
        top: 11px
        left: 6px
      #header-logo-secondary
        display: none

#topbar
  @if $is-k12 == false
    position: absolute
    top: 0
    right: 0
    width: 100%
    overflow: hidden

#identity
  +reset-list

  @if $is-k12
    font-size: 14px
  @else  
    float: right
    font-size: 12px
    margin-right: $right_side_margin
    /*make room for the drop shadow*/
    margin-bottom: 4px
    padding: 0 11px
    @if $use_high_contrast
      background-color: #555
    @else
      background-color: #31383e
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    border-top: 0

  li
    @if $is-k12
      margin: 0 0 0 $k12-sp 
      padding: 0
      display: inline-block
    @else
      color: white
      float: left
      line-height: 1em
      margin: 5px 8px 5px 0
      padding-left: 8px
    &.first, &#identity-help-container
      border-left: none
    form
      margin: 0

  .user_name
    @if $is-k12 == false
      margin-right: 15px
  a
    @if $is-k12
      color: $k12-header-text
      text-decoration: none
      &:hover, &:focus
        text-decoration: underline
    @else
      color: $identity_link_color
      @if $use_high_contrast
        text-decoration: none
      &:hover, &:focus
        text-decoration: underline

  .emphasize-name
    color: $masquerade-link-color

  .inbox a
    text-decoration: none
    &:hover, &:active
      span
        text-decoration: underline

    .unread-messages-count
      +count-bubble
      padding: 2px 6px
  #identity-help-container a
    padding: 1px 8px

#menu
  +pie-clearfix
  +reset-list
  
  @if $is-k12
    display: flex
    flex: 1
    height: $k12-header-primary-height
  @else
    padding-top: 3px
    margin-left: $left_side_width

.menu-item
  position: relative
  @if $is-k12
    +border-box
    border-right: 1px solid $brand-k12-dark
    flex: 0 0 $k12-sp*10
    display: flex
    @if $use_high_contrast
      border-color: darken($brand-k12-dark, 15%)
    +breakpoint(desktop)
      flex: 0 0 $k12-sp*14
    +breakpoint(wide)
      flex: 0 0 $k12-sp*16
  @else
    display: block
    float: left
  .menu-item-title, .menu-item-no-drop
    position: relative
    z-index: 100
    text-decoration: none

    @if $is-k12
      +border-box
      transition: background 0.2s linear
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      color: $k12-header-text
      +breakpoint(desktop)
        flex-direction: row
    @else
      color: #fff
      border: 1px solid transparent
      border-bottom: 0 none
      display: block
      padding: 6px 17px 5px
      height: 29px
      color: #fff
      font-size: 15px
  
  .menu-item-no-drop, .menu-item-title
    &:hover, &:focus
      text-decoration: underline
    @if $is-k12
      &:hover, &:focus
        background: rgba($k12-header-text, 0.15)
        @if $use_high_contrast == false
          text-decoration: none
      &:active
        background: $brand-k12-dark
        box-shadow: inset 0 2px 1px rgba(black, 0.3)    
  &.hover
    .menu-item-title
      text-shadow: none
      @if $is-k12
        background: rgba($k12-header-text, 0.1)
        color: $k12-header-text
        @if $use_high_contrast == false
          text-decoration: none
      @else
        color: $menu-text-color
        border-top-color: $menu-border-color
        border-left-color: $menu-border-color
        border-right-color: $menu-border-color
        background-color: $menu-background-color

    .menu-item-drop
      // bring it back on screen so you can see it
      left: 0


  .menu-item-drop
    font-size: 13px
    // hide off screen, dont do display:none, so screenreaders can see it
    overflow: hidden
    position: absolute
    left: -999999px
    @if $is-k12
      padding: $k12-sp $k12-sp/2 $k12-sp/2 0
      z-index: 101
      top: 90%
      // For browsers that support it, offset the dropdown by the height of the triangle shape in .menu-item-drop__inner-content
      top: calc(100% - 11px)
    @else
      background-color: $menu-background-color    
      box-shadow: 0 2px 18px rgba(0, 0, 0, .30)
      // brings it down by one pixel so it doesn't overlap
      top: 41px
      z-index: 99
    .menu-item-view-all
      border-bottom: none
      font-size: 12px
      text-align: right
      white-space: nowrap
      &:hover
        background-color: transparent
      a
        &:hover, &:focus
          text-decoration: underline

    .menu-item-drop-column
      padding: 0
      border-left: 1px solid lighten($borderColor, 22%)
      min-width: 270px
      width: 270px
      vertical-align: top
      .menu-item-heading
        display: block
        padding: 9px 12px 3px
        // border-bottom: 1px solid lighten($borderColor, 22%)
        color: $menu-text-color
        font-size: 1.1em
        line-height: 20px
        margin: 0
      &:first-child
        border-left: none
    li
      line-height: .9em
      .secondary-right, .subtitle
        font:
          style: italic
        color: #555
      .subtitle
        display: block
        @if $use_high_contrast
          color: $menu-text-color
        font-size: 9px
      .menu-item-drop-float-right
        float: right
        white-space: nowrap
      &:hover
        @if $is-k12
          background: #f0f0f0
          &.menu-item-view-all
            background: transparent
        @else
          background-color: $activeBG

        .secondary-right, .subtitle
          color: #666
      .name-right-wrapper
        width: 100%
        display: block
        overflow: hidden
      .secondary-right
        float: right
        white-space: nowrap
        font-size: 11px
      .name
        display: block


.customListContent li.customListItem:hover
  background-color: transparent

.menu-item-drop-column-list, .customListGhost
  +reset-list
  width: 270px
  
  li    
    @if $is-k12
      border-top: none  
    &:hover
      .name
        color: $linkColorHover
    a
      display: block
      line-height: 1.2
      text-decoration: none
      
      @if $is-k12
        padding: $k12-sp - 4 $k12-sp
        color: $brand-k12-dark
        &:hover, &:focus
          color: ensure-contrast($brand-k12-dark, #f0f0f0)
          .name
            color: ensure-contrast($brand-k12-dark, #f0f0f0)
      @else
        padding: 8px 12px

        
.menu-item-drop.menuCustomListEditing
  min-width: 589px

#menu_enrollments
  .customListWrapper
    background: #fff
    padding: 10px
    border: solid 1px #ccc

    position: absolute
    left: 0
    opacity: 0
    top: 10px
    bottom: 10px
    width: 270px
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2)
    transition: all 200ms ease
    transform: scale(0.5)

    .customListRestore
      float: left

    .customListClose
      float: right
      display: block
      width: 20px
      height: 20px
      cursor: pointer
      text-decoration: none
      background: url(/images/close-button.png) no-repeat top left

    ul
      position: absolute
      top: 40px
      bottom: 10px
      left: 10px
      right: 10px
      overflow: auto

      a
        padding-left: 30px
        background: url(/images/checkboxes-customlist.png) no-repeat -8px 6px

        &:hover
          background-position: -8px -88px

      .on a
        background-position: -8px -41px

  .customListOpen
    font-size: 11px
    float: right
    position: relative
    top: -26px
    right: 12px
    @if $is-k12
      color: ensure-contrast($brand-k12-dark, #f0f0f0)
      .name
        color: ensure-contrast($brand-k12-dark, #f0f0f0)
    @else
      color: $linkColor

.customListEditing ul
  min-height: 350px

.customListEditing .customListWrapper ul
  min-height: 300px

#menu_enrollments.customListEditing .customListWrapper
  transform: scale(1)
  left: 270px
  opacity: 1

.menu-item-drop .customListOpen
  line-height: 28px
  cursor: pointer

.customListGhost
  position: absolute
  z-index: 100
