#skip_navigation_link
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
  color: #fff
  background-color: #DC3F3F
  border: 1px dashed #fff
  font-size: 12px
  padding: 1px
  &:focus
    left: 0
    width: auto
    height: auto
    z-index: 1
// the #header.no-user #header-logo part here is so that it overrides the byuh logo
#header-logo, #header.no-user #header-logo
  +bg-image('canvas/header_canvas_logo', 'png', no-repeat, left, top, transparent, 110px, 26px)
  width: 135px
  height: 26px
  left: 16px
  bottom: 21px
  position: absolute
  text-indent: -9999px

// TODO: remove this style once people have time to update their logo-related custom
// css. See related code in app/coffeescripts/bundles/common.coffee too.
#header-logo.original, #header.no-user #header-logo.original
  bottom: 12px
#header-logo-secondary
  display: none
  +bg-image('canvas/header_canvas_logo', 'png', no-repeat, left, top, transparent, 110px, 26px)
  width: 135px
  height: 26px
  right: 26px
  bottom: 6px
  position: absolute

#header-inner
  padding-top: 26px
  max-width: $max_main_width
  position: relative

#header
  position: relative
  z-index: 11 /* IE7 needs this o so the menu-item-drops get stuck above #main */
  @if $use_high_contrast
    background-color: #333
  @else
    +bg-image('canvas/header_bg', 'png', repeat-x, left, bottom, transparent, 28px, 70px)
  &.no-user
    background-position: 0 -25px
    min-height: 45px
    #header-logo
      top: 11px
      left: 6px
    #header-logo-secondary
      display: none

#topbar
  position: absolute
  top: 0
  right: 0
  width: 100%
  overflow: hidden

#identity
  +reset-list
  float: right
  font-size: 12px
  margin-right: $right_side_margin
  margin-bottom: 4px /*make room for the drop shadow*/
  padding: 0 11px
  @if $use_high_contrast
    background-color: #555
  @else
    +bg-image('canvas/top_bar_bg', 'png', repeat-x, left, top, transparent, 22px, 23px)
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 5px
  border: 1px solid rgba(0,0,0, 0.3)
  border-top: 0


  li
    color: white
    float: left
    line-height: 1em
    margin: 5px 8px 5px 0
    padding-left: 8px
    &.first, &#identity-help-container
      border-left: none
  .user_name
    margin-right: 15px
    a
      text-decoration: none !important
  a
    color: $identity_link_color
  .emphasize-name
    color: $masquerade-link-color

  .inbox a
    text-decoration: none
    &:hover, &:active
      span
        text-decoration: underline

    .unread-messages-count
      +count-bubble
  #identity-help-container a
    padding: 1px 8px

#menu
  +pie-clearfix
  +reset-list
  padding-top: 3px
  margin-left: $left_side_width
.menu-item
  display: block
  float: left
  position: relative
  .menu-item-title, .menu-item-no-drop
    text-shadow: 0px 0px 1px #000 /*this gives it the effect of looking thinner*/
    color: #fff
    font-size: 16px
    border: 1px solid transparent
    border-bottom: 0 none
    display: block
    padding: 6px 17px 5px
    text-decoration: none
    position: relative
    z-index: 100
    height: 29px
    font-size: 15px

  .menu-item-no-drop:hover
    text-decoration: underline
  &.hover
    .menu-item-title
      text-shadow: none
      color: $menu-text-color
      border-top-color: $menu-border-color
      border-left-color: $menu-border-color
      border-right-color: $menu-border-color
      background-color: $menu-background-color

    .menu-item-drop
      left: 0 // bring it back on screen so you can see it

  .menu-item-drop
    border: 1px solid $menu-border-color
    background-color: $menu-background-color
    box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.25)
    top: 40px
    z-index: 99
    font-size: 13px
    // hide off screen, dont do display:none, so screenreaders can see it
    overflow: hidden
    position: absolute
    left: -999999px

    .menu-item-view-all
      border-bottom: none
      font-size: 11px
      text-align: right
      white-space: nowrap
      &:hover
        background-color: transparent
      a
        &:hover, &:focus
          text-decoration: underline

    .menu-item-drop-column
      padding: 0
      border-left: 1px solid lighten($borderColor, 22%)

      min-width: 270px
      width: 270px
      vertical-align: top
      .menu-item-heading
        display: block
        padding: 9px 12px 3px
        border-bottom: 1px solid lighten($borderColor, 22%)
        color: $menu-text-color
        font-size: 1.1em
        line-height: 20px
        margin: 0
      &:first-child
        border-left: none
    li
      line-height: .9em
      .secondary-right, .subtitle
        font:
          style: italic
        color: #555
      .subtitle
        display: block
        @if $use_high_contrast
          color: $menu-text-color
        @else
          color: #bcbcbc
        font-size: 9px
      .menu-item-drop-float-right
        float: right
        white-space: nowrap
      &:hover
        background-color: $activeBG

        .secondary-right, .subtitle
          color: #666
      .name-right-wrapper
        width: 100%
        display: block
        overflow: hidden
      .secondary-right
        float: right
        white-space: nowrap
        font-size: 11px
      .name
        display: block


.customListContent li.customListItem:hover
  background-color: transparent

.menu-item-drop-column-list, .customListGhost
  +reset-list
  width: 270px
  li
    border-top: 1px solid #FAFAFA
    border-bottom: 1px solid lighten($borderColor, 22%)
    &:hover
      .name
        color: $linkColorHover
    a
      display: block
      line-height: 1.2
      padding: 4px 12px 8px
      text-decoration: none

.menu-item-drop.menuCustomListEditing
  min-width: 589px

#menu_enrollments
  .customListWrapper
    background: #fff
    padding: 10px
    border: solid 1px #ccc

    position: absolute
    left: 0
    opacity: 0
    top: 10px
    bottom: 10px
    width: 270px
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2)
    +transition(all 200ms ease)
    +transform(scale(0.5))

    .customListRestore
      float: left

    .customListClose
      float: right
      display: block
      width: 20px
      height: 20px
      cursor: pointer
      text-decoration: none
      background: url(/images/close-button.png) no-repeat top left

    ul
      position: absolute
      top: 40px
      bottom: 10px
      left: 10px
      right: 10px
      overflow: auto

      a
        padding-left: 30px
        background: url(/images/checkboxes-customlist.png) no-repeat -8px 6px

        &:hover
          background-position: -8px -88px

      .on a
        background-position: -8px -41px

  .customListOpen
    color: $linkColor
    font-size: 11px
    float: right
    position: relative
    top: -26px
    right: 12px

.customListEditing ul
  min-height: 350px

.customListEditing .customListWrapper ul
  min-height: 300px

#menu_enrollments.customListEditing .customListWrapper
  +transform(scale(1))
  left: 270px
  opacity: 1

.menu-item-drop .customListOpen
  line-height: 28px
  cursor: pointer

.customListGhost
  position: absolute
  z-index: 100

