#left-side {
  display: none;
  @if $use_new_styles == false {
    float: left;
    width: $left_side_width;
  }
}

#section-tabs .section-tab-hidden a {
  @if $use_high_contrast {
    color: darken($ic-course-sidenav_list-item--inactive-font-color, 45%);
    background: lighten($ic-course-sidenav_list-item--inactive-font-color, 15%);
  }
  @else {
    color: $ic-course-sidenav_list-item--inactive-font-color;
  }
}
