#right-side-wrapper
  display: none
  position: relative
  width: 0
  right: 0

#right-side
  position: relative
  width: $right_side_width - ($right_side_margin * 2)
  color: $right_side_text_color
  min-height: 20px
  // puts it equal with #main, used so datepickers that pop up from #right-side pop up on top
  z-index: 10
  margin: $right_side_margin $right_side_margin 0

  hr
    border: dotted #aaa
    border-width: 1px 0 0
    margin: 17px 0 20px
  h2, .h2
    font-size: 14px
    color: $gray
    font-weight: bold
    border-bottom: solid 1px #bbb
    box-shadow: 0 1px 0 white
    margin: $right_side_margin 0
    overflow: hidden
    line-height: 1.2em
    padding-bottom: 3px

.rs-match-list-indent
  padding-left: 31px

// .rs-margin-lr was removed because it is not needed since #right-side has it's own margin
.rs-margin-top
  margin-top: $right_side_margin
.rs-margin-all
  margin-top: $right_side_margin
  margin-bottom: $right_side_margin

.rs-margin-bottom
  margin-bottom: $right_side_margin
.right-side-list
  +reset-list
  margin: 10px 0
  li
    a
      font-size: 12px
      padding-top: 4px
      padding-bottom: 4px
      display: block
      border-bottom: 1px solid #d6d6d6
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.85)
      @if $use_high_contrast
        text-decoration: none
      &:hover, &:focus
        b, &.more_link
          text-decoration: underline
        em
          color: #666
      // Not underlining on hover due to ugliness with accompanying icons
      &:hover
        text-decoration: none
      &:focus
        text-decoration: underline
    
    &:last-child a
      border-bottom: none
      box-shadow: none

    // this is for things like "nothing for the next week"
    small
      padding: 3px 0 0px 31px
      display: block
      color: #666
      font-size: 1em
    b, em
      font-weight: normal
      display: block  
    em, .more_link
      font:
        style: italic
        size: 10px
      line-height: 13px
    em
      @if $use_high_contrast
        color: #555
      @else
        color: #777
      padding-bottom: 2px
    .more_link
      padding-top: 6px
  .tooltip 
    .tooltip_wrap
      left: -185px
      width: 185px
      height: 70px
      top: 0
      font-size: 0.9em
      background-image: none
    .tooltip_text
      margin-right: 15px
      min-height: 30px
      
    .tooltip-carat
      border-bottom: 7px solid transparent
      border-left: 14px solid #444444
      border-top: 7px solid transparent
      display: block
      margin-top: 12px
      float: right
      width: 1px
      height: 1px
  &.to-do-list
    li 
      position: relative
      a.item
        padding-left: 24px
        b
          padding-right: 20px
      a.disable_item_link
        @if $use_high_contrast
          color: #555
        @else
          color: #777  
        padding: 0
        position: absolute
        background-image: none
        right: 0
        top: 2px
        z-index: 2
        border-bottom: none
        box-shadow: none
      &:hover
        a.disable_item_link
          @if $use_high_contrast
            color: #222
          @else
            color: #444
      .icon-peer-review:before
        position: absolute
        left: 0
        top: 14px
        color: #999



// these are the classes that get applied to #right-side-wrapper to handle $.scrollSidebar
// NOTE: they used to get applied to body but were moved to #right side to not force a repaint
// of the entire page and be less jumpy going in and out display modes.
.with-scrolling-right-side
  #right-side
    position: fixed
    top: 0
    margin-top: 0

#right-side-wrapper.with-sidebar-pinned-to-bottom
  position: absolute
  bottom: 0

