$ic-left-side-width: $ic-sp*15;

.ic-app {
  box-sizing: border-box;
  min-height: 100vh;
}

.ic-app-container {
  box-sizing: border-box;
  min-height: 100vh;
}

.ic-app-main-layout-vertical {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ic-app-main-layout-horizontal {
  transition: all 0.1s ease-out;
  transform: translate3d(0,0,0);
  flex: 1 0 auto;
  position: relative;
  background:
    transparent
    0 100%
    no-repeat;
  background-image: $ic-brand-watermark;
  body.course-menu-expanded & { transform: translate3d($ic-left-side-width,0,0); }
  @include breakpoint(wide) {
    display: flex;
    position: static;
    body.course-menu-expanded & {
      transform: none;
      transition: none;
    }
  }
  // HACK workaround for IE10 and IE11 flexbox bug
  // https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { min-height: 93.5vh; }
}

.ic-app-main-and-right-side {
  box-sizing: border-box;
  flex: 1;
}

.ic-app-course-menu {
  transition: transform 0.2s ease-out, opacity 0.2s;
  transition-delay: 0.1s;
  transform: translate3d(0,25%,0);
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 100%;
  width: $ic-left-side-width;
  padding: $ic-sp*2 $ic-sp $ic-sp $ic-sp*2;
  opacity: 0;
  body.course-menu-expanded & {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  @include breakpoint(wide) {
    position: static;
    top: auto; right: auto; width: auto;
    flex: 0 0 $ic-left-side-width;
    opacity: 1;
    transition: none;
    transform: none;
  }
  @include breakpoint(short) { padding-top: $ic-sp; }
}

.ic-app-main-content {
  box-sizing: border-box;
  flex: 1;
  @include breakpoint(desktop) { display: flex; }
}

.ic-app-main-content__primary {
  box-sizing: border-box;
  @include breakpoint(desktop) { flex: 1; }
}

.ic-app-main-content__secondary {
  box-sizing: border-box;
  padding: $ic-sp*2;
  @include breakpoint(desktop) {
    flex: 0 0 $ic-sp*22;
    padding-left: $ic-sp;
  }
  @include breakpoint(wide) {
    flex: 0 0 $ic-sp*24;
    padding-left: $ic-sp*2;
  }
}

.ic-app-footer {
  box-sizing: border-box;
  padding: $ic-sp 0;
  margin: 0 $ic-sp*2;
  border-top: 1px solid $ic-border-light;
  @include breakpoint(desktop) {
    display: flex;
    align-items: center;
  }
  body.modal & {
    margin: 0;
    padding: $ic-sp $ic-sp*2;
  }
}

.ic-app-footer__links {
  flex: 1;
  display: flex;
  a {
    color: $ic-font-color--subdued;
    margin-right: $ic-sp;
    font-size: 12px;
  }
  @include breakpoint(desktop) {
    justify-content: flex-end;
    a { margin-right: 0; margin-left: $ic-sp; }
  }
}

.ic-app-nav-toggle-and-crumbs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $ic-border-light;
  margin: 0 $ic-sp*2;
  padding: $ic-sp 0;
  @include breakpoint(wide) { padding: 16px 0; }
}

.ic-app-course-nav-toggle {
  transform: translateY(1px);
  margin-right: $ic-sp*1.5;
  padding: 0;
  width: $ic-sp*3; height: ($ic-sp*3) - ($ic-sp/2);
  @include breakpoint(wide) { display: none; }
  @include overwrite-default-icon-size(22px);
}

.ic-app-crumbs {
  flex: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
