@if $use_new_styles {

  /// These are editable variables from the theme editor.
  /// For more info view stylesheets/brandable_variables.json
  // ic-brand-global-nav-bgd
  // ic-brand-global-nav-ic-icon-svg-fill
  // ic-brand-global-nav-menu-item__text-color
  // ic-brand-global-nav-avatar-border
  // ic-brand-global-nav-menu-item__badge-bgd
  // ic-brand-global-nav-ic-icon-svg-fill--active
  // ic-brand-global-nav-logo-bgd

  $ic-global-nav-menu-item__badge-border: darken($ic-brand-global-nav-bgd, 5%);
  $ic-global-nav-link-hover: darken($ic-brand-global-nav-bgd, 5%);
  $ic-global-nav-link-active:  darken($ic-brand-global-nav-bgd, 8%);
  $ic-masquerade-color: $ic-brand-primary;
  $ic-subnav-panel-bgd: $ic-color-light;
  $ic-logomark-url: url("/images/svg-icons/svg_canvas_logomark_only.svg");

  .ic-app-header {
    box-sizing: border-box;
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: $ic-header-primary-width - $ic-sp;
    z-index: 100;
    @include breakpoint(wide) { width: $ic-header-primary-width; }
  }

  .ic-app-header__layout {
    position: relative;
    height: 100%;
    // Use this element to preload the loading image for the secondary nav drawers
    background: url("/images/panda-cycle-loader.gif") no-repeat -9999px -9999px;
  }

  .ic-app-header__main-navigation {
    flex: 1 0 auto;
    box-sizing: border-box;
  }

  .ic-app-header__secondary-navigation {
    box-sizing: border-box;
  }

  .ic-app-header__menu-list { @include reset-list; }

  .ic-app-header__menu-list-item {
    box-sizing: border-box;
    &.ic-app-header__menu-list-item--active {
      .ic-app-header__menu-list-link { background: $ic-color-light; }
      .menu-item__text { color: $ic-brand-global-nav-menu-item__text-color--active; }
      .ic-icon-svg path { fill: $ic-brand-global-nav-ic-icon-svg-fill--active; }
      .ic-avatar {
        border-color: $ic-border-light;
        &.ic-avatar--fake-student { border-color: $ic-masquerade-color; }
      }
      .menu-item-icon-container .menu-item__badge { border-color: $ic-color-light; }
    }
  }

  button.ic-app-header__menu-list-link {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
  }

  .ic-app-header__menu-list-link {
    transition: background-color 0.2s ease-out;
    padding: ($ic-sp*0.75) 0;
    text-align: center;
    display: block;
    position: relative;

    @include breakpoint(short) {
      padding-top: $ic-sp/2;
      padding-bottom: $ic-sp/2;
    }

    &:hover, &:focus {
      background-color: $ic-global-nav-link-hover;
      @if $use_high_contrast == false {
        text-decoration: none;
        outline: none;
      }
      .ic-icon-svg, .ic-avatar { transform: scale(1.075); }
      .ic-avatar {
        border-color: $ic-brand-global-nav-avatar-border;
        &.ic-avatar--fake-student { border-color: $ic-masquerade-color; }
      }
      &:active { .ic-icon-svg, .ic-avatar { transform: scale(1); } }
      .menu-item__badge { border-color: $ic-global-nav-menu-item__badge-border; }
    }

    &:active {
      background-color: $ic-global-nav-link-active;
      box-shadow: inset 0 1px 1px rgba(black, 0.3);
    }

    .ic-icon-svg {
      transition: all 0.2s ease-out;
      transform: translate3d(0,0,0);
      width: 26px;
      display: inline-block;
      vertical-align: middle;
      path { fill: $ic-brand-global-nav-ic-icon-svg-fill; }
    }

    // Need to provide heights for IE10 and 11
    .ic-icon-svg--dashboard { height: 30px; }
    .ic-icon-svg--calendar,
    .ic-icon-svg--inbox,
    .ic-icon-svg--apps { height: 28px; }
    .ic-icon-svg--courses { height: 26px; }
    .ic-icon-svg--grades { height: 30px; }
    .ic-icon-svg--commons { height: 21px; }
    .ic-icon-svg--arrow-right { width: 24px; height: 24px; }
    .ic-icon-svg--groups { width: 32px; height: 21.6px; }
    .ic-icon-svg--accounts { width: 26px; height: 29px; }
    .ic-icon-svg--login {width: 26px; height: 29px;}
    .ic-icon-svg--lti {width: 26px; height: 29px;}
  }

  .ic-app-header__secondary {
    transition: all 0.2s ease-out;
    transform: translate3d(-101%,0,0);
    box-sizing: border-box;
    background: $ic-subnav-panel-bgd;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    width: $ic-header-primary-expanded-width + ($ic-header-primary-expanded-width * 1.3);
    padding: $ic-sp*1.5 $ic-sp*2;
    left: $ic-header-primary-width - $ic-sp;
    @include breakpoint(wide) { left: $ic-header-primary-width; }

    body.secondary-nav-expanded & {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }

  .ic-app-header__primary {
    box-sizing: border-box;
    background: $ic-brand-global-nav-bgd;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: $ic-header-primary-width - $ic-sp;
    @include breakpoint(wide) { width: $ic-header-primary-width; }
  }

  .ic-avatar {
    transition: all 0.2s ease-out;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid $ic-brand-global-nav-avatar-border;
    width: $ic-sp*4; height: $ic-sp*4;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    &.ic-avatar--fake-student { border-color: $ic-masquerade-color; }
  }

  .menu-item-icon-container {
    transform: translate3d(0,0,0);
    position: relative;
    z-index: 1;
    width: $ic-sp*4;
    margin: 0 auto;
    .menu-item__badge {
      position: absolute;
      top: -($ic-sp/2); right: 0;
      border-color: $ic-brand-global-nav-bgd;
    }
    .ic-avatar {
      transform: translate3d(0,0,0);
      width: $ic-sp*3; height: $ic-sp*3;
    }
  }

  .menu-item__text {
    margin-top: $ic-sp/2;
    box-sizing: border-box;
    color: $ic-brand-global-nav-menu-item__text-color;
    line-height: 1.1;
    font-size: ($baseFontSize - 2);
  }

  .menu-item__badge {
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    width: $ic-sp*2; height: $ic-sp*2;
    background: $ic-brand-global-nav-menu-item__badge-bgd;
    color: $ic-brand-global-nav-menu-item__text-color;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 2px solid transparent;
  }

  .ic-app-header__logomark-container {
    width: 100%;
    background-color: $ic-brand-global-nav-logo-bgd;
    box-sizing: border-box;
    @if $ic-brand-header-image != $ic-logomark-url {
      padding: 0;
    }
    @else {
      padding: 0 $ic-sp+6;
    }
  }

  .ic-app-header__logomark {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto $ic-sp auto;
    background-image: $ic-brand-header-image;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.5s;
    @if $ic-brand-header-image != $ic-logomark-url {
      height: 85px;
    }
    @else {
      height: 75px;
      transform: scale3d(0.7, 0.7, 0.7); // default canvas logo
    }
  }
  // set to block to avoid any exta inline spacing at bottom
  .ic-app-header__uploaded-logo { display: block; }

  // react-tray component styles
  .ReactTrayPortal {
    position: relative;
    z-index: 10;
  }

  .ReactTray__Overlay {
    background: rgba( darken($ic-brand-secondary, 10%), 0.8 );
    opacity: 0;
    &.ReactTray__Overlay--after-open {
      transition: opacity 0.4s;
      opacity: 1;
    }
  }

  .ReactTray__Content {
    box-sizing: border-box;
    transform: translate3d(-100%,0,0);
    background: $ic-color-light;
    padding: $ic-sp*1.5 $ic-sp*2;
    overflow-x: hidden;
    width: $ic-sp*28;
    top: 0; bottom: 0;
    left: $ic-header-primary-width - $ic-sp;
    @include breakpoint(wide) { left: $ic-header-primary-width; }
    @if $use_high_contrast == false {
      &:focus { outline: none; }
    }
  }

  .ReactTray__Content--after-open {
    transition: all 0.2s ease-out;
    transform: translate3d(0,0,0);
  }

  .ReactTray__Content--before-close {
    transition: all 0.2s ease-in;
    transform: translate3d(-100%,0,0);
    opacity: 0;
  }

  .ReactTray__layout {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ReactTray__primary-content {
    flex: 1 0 auto;
  }

  .ReactTray__link-list {
    @include reset-list;
    font-size: 14px;
    li {
      line-height: 1.3;
      margin-bottom: $ic-sp;
      @include breakpoint(short) { margin-bottom: $ic-sp/2; }
      &:last-of-type { margin-bottom: 0; }
      &.ReactTray__feature-list-item {
        border-top: 1px solid $ic-border-light;
        padding-top: $ic-sp;
        @include breakpoint(short) { padding-top: $ic-sp/2; }
      }
      &.ReactTray__loading-list-item {
        background: url("/images/panda-cycle-loader.gif") no-repeat left center;
        background-size: 100px;
        text-align: center;
        color: $ic-dim-helper-text;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: $baseFontSize;
        box-sizing: border-box;
        padding: $ic-sp*4 0;
      }
    }
    a {
      display: inline-block;
      i[class*=icon-],
      i[class^=icon-] { margin-right: $ic-sp/3; }
    }
  }

  .ReactTray__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $ic-border-light;
    padding-bottom: $ic-sp;
    margin-bottom: $ic-sp;
  }

  .ReactTray__headline {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.1;
    flex: 1;
  }

}
