@import "mixins/blue";

$body-bg-color:                     $ic-color-light;
$embedded-bg:                       $ic-color-light;
$embedded-footer-bg:                $ic-color-neutral;
$embedded-footer-border-color:      $ic-border-color;
$embedded-footer-box-shadow:        $ic-color-light;
$layout-modal-bg:                   $ic-color-light;
$layout-modal-font-color:           $ic-color-dark;
$footer-links-color:                lighten($ic-color-dark, 16);
$footer-links-border-color:         lighten($ic-color-dark, 16);

@if $use_new_styles {
  body {
    min-height: 100vh;
    min-width: 768px;
  }
}
@else { body, html { height: 100%; } }

body {
  @if $use_new_styles == false { min-width: $min_main_width; }
  @if $use_high_contrast { background: white; }
  @else {
    @if $use_new_styles {
      background: $ic-color-light;
      font-weight: 300;
    }
    @else { background-color: $ic-body-background-color; }
  }
  &.no-headers, &.embedded {
    #header, #topbar, #left-side, #breadcrumbs { display: none !important; }
    @if $use_new_styles {
      .ic-app-nav-toggle-and-crumbs { display: none; }
    }
    #footer { display: none; }
    #wrapper {
      margin: 0;
      @if $use_new_styles == false { min-width: 400px; }
    }
    #main {
      margin: 0;
      border: 0 none;
      background-color: transparent;
      box-shadow: none;
    }
    #content {
      padding-top: 0;
    }
  }
  &.embedded {
    #application, #wrapper-container, #wrapper, #main {
      height: 100%;
    }
    #main {
      min-height: 0;
    }
    #content {
      padding: 1em;
    }
    h2, .h2 {
      @include ui-widget-header-bg-and-text;
      font-size: 14px;
      font-weight: bold;
      margin: (-0.95em) -0.95em 1em;
      padding: 0.4em 1em;
      line-height: 20px;
    }
    &.no-headers {
      h2, .h2 {
        display: none;
      }
    }
    .embedded-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 14px 0 15px;
      margin: 0 -1em !important;
      background-color: $embedded-footer-bg;
      border-top: 1px solid $embedded-footer-border-color;
      box-shadow: inset 0 1px 0 $embedded-footer-box-shadow;
      text-align: right;
      .footer-info {
        position: absolute;
        left: 1em;
        top: 1.5em;
      }
      .controls {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    #modal-box {
      background: $layout-modal-bg !important;
      color: $layout-modal-font-color !important;
      height: auto !important;
    }
    background: $embedded-bg;
  }
}

// so we don't get the non-interactionable content
.scripts-not-loaded {
  a:not([href]), a[href="#"], button:not([type]) {
    visibility: hidden !important;
  }
}

@if $use_new_styles {
  #wrapper-container {
    margin-left: $ic-header-primary-width - $ic-sp;
    @include breakpoint(wide) { margin-left: $ic-header-primary-width; }
    body.primary-nav-expanded & { margin-left: $ic-header-primary-expanded-width; }
    body.no-headers & { margin-left: 0; }
  }
}

@if $use_new_styles == false {
  #wrapper { @include pie-clearfix; }
}

#main {
  position: relative;
  z-index: 10;

  @if $use_new_styles == false {
    background-color: $body-bg-color;
    border: none;
    margin-bottom: 40px;
    @include pie-clearfix;
    min-height: 450px;
    max-width: $max_main_width;
  }
}

#content {
  @if $use_new_styles { padding: $ic-sp*2; }
  @else {
    padding: 1em;
    overflow: hidden;
  }
}

// **********************************************************************************
// all of the following are classes that should be applied to 'body' when appropriate

@if $use_new_styles == false {
  .padless-content #content,
  #content.padless { padding: 0; }
}

#content.horizontal-padding { padding: 0 $ic-sp*2; }

.with-left-side {
  #left-side { display: block; }
  @if $use_new_styles == false {
    min-width: $left_side_width + $min_main_width;
    #footer { margin-left: $left_side_width; }
    #wrapper { margin-left: 0; }
    #main { margin-left: $left_side_width; }
    #header-inner { max-width: $left_side_width + $max_main_width; }
  }
}

.with-right-side {
  @if $use_new_styles == false { min-width: $right_side_width + $min_main_width; }
  #right-side-wrapper {
    display: block;
    @if $use_new_styles == false {
      float: right;
      position: absolute;
      top: 0;
    }
  }
  @if $use_new_styles == false {
    #main { margin-right: $right_side_width; }
  }
  #header-inner {
    max-width: $right_side_width + $max_main_width;
  }
}

.with-right-side.with-left-side {
  @if $use_new_styles==false { min-width: $right_side_width + $left_side_width + $min_main_width; }
  #header-inner {
    max-width: $right_side_width + $left_side_width + $max_main_width;
  }
}

.full-width {
  #header-inner, #main {
    max-width: none;
  }
}

// This hides stuff till the javascript has done it's stuff
.hide-content-while-scripts-not-loaded {
  #content, #right-side-wrapper {
    transiton: opacity 0.3s;
    opacity: 1;
  }
}

// **********************************************************************************
// end classes applied to body

#footer {
  @if $use_new_styles == false {
    color: #5c5c5c;
    font-size: 11px;
    margin: 0 15px 34px;
  }

  .footer-logo {
    @include bg-image("footer-logo", "png", no-repeat, left, top, transparent, 140px, 10px);
    display: inline-block;
    height: 10px;
    margin: 0 20px 0 0;
    width: 140px;
  }
}
@if $use_new_styles == false {
  #footer-links {
    a {
      border-left: 1px solid $footer-links-border-color;
      color: $footer-links-color;
      padding-right: 2px;
      padding-left: 5px;
      &:hover, &:focus {
        text-decoration: underline;
      }
      &:first-child { border-left: none; }
    }
  }
}

div.content_notice {
  margin: 12px;
  margin-bottom: 6px;
  div {
    display: inline-block;
  }
  i {
    padding-right: 8px;
  }
}
