@import mixins/blue

body, html
  height: 100%
body
  @if not $use_high_contrast
    +bg-image('blue/bg', 'jpg', repeat, left, top, transparent, 150px, 150px)
  min-width: $min_main_width

  &.no-headers, &.embedded
    #header, #topbar, #left-side, #breadcrumbs
      display: none !important
    #footer
      display: none
    #wrapper
      margin: 0
      min-width: 400px
    #main
      margin: 0
      border: 0 none
      background-color: transparent
      box-shadow: none
    #content
      padding-top: 0

  &.embedded
    #wrapper-container, #wrapper, #main
      height: 100%
    #main
      min-height: 0
    #content
      padding: 1em
    h2, .h2
      @include ui-widget-header-bg-and-text
      font-size: 14px
      font-weight: bold
      margin: -0.95em -0.95em 1em
      padding: 0.4em 1em
      line-height: 20px
    &.no-headers
      h2, .h2
        display: none
    .embedded-footer
      position: absolute
      bottom: 0
      width: 100%
      padding: 14px 0 15px
      margin: 0 -1em !important
      background-color: #EFEFEF
      border-top: 1px solid #DDD
      box-shadow: inset 0 1px 0 white
      text-align: right
      .footer-info
        position: absolute
        left: 1em
        top: 1.5em
      .controls
        margin-left: 15px
        margin-right: 15px
    #modal-box
      background: #fff !important
      color: #333 !important
      height: auto !important
    background: #fff

// so we don't get the non-interactionable content
.scripts-not-loaded
  a:not([href]), a[href="#"], button:not([type])
    visibility: hidden !important

#wrapper-container
  // the sole purpose of this div is to make it so the shadow on #wrapper does not cause the page to have scroll bars.
  overflow: hidden
  min-height: 100%
#wrapper
  +pie-clearfix

#main
  position: relative
  z-index: 10
  background-color: $bodyBackground
  border: 1px solid $listBorderColor
  border-top: 0
  margin-bottom: 40px
  +pie-clearfix
  min-height: 450px
  max-width: $max_main_width

#content
  padding: 1em
  overflow: hidden


// **********************************************************************************
// all of the following are classes that should be applied to 'body' when appropriate

.padless-content #content, #content.padless
  padding: 0

.with-left-side
  min-width: $left_side_width + $min_main_width
  #footer
    margin-left: $left_side_width
  #wrapper
    margin-left: 0
  #left-side
    display: block
  #main
    margin-left: $left_side_width
  #header-inner
    max-width: $left_side_width + $max_main_width

.with-right-side
  min-width: $right_side_width + $min_main_width
  #right-side-wrapper
    display: block
    float: right
  #breadcrumbs + #right-side-wrapper
    margin-top: -28px
  #main
    margin-right: $right_side_width
  #header-inner
    max-width: $right_side_width + $max_main_width



.with-right-side.with-left-side
  min-width: $right_side_width + $left_side_width + $min_main_width
  #header-inner
    max-width: $right_side_width + $left_side_width + $max_main_width

.full-width
  #header-inner, #main
    max-width: none


// This hides stuff till the javascript has done it's stuff
.hide-content-while-scripts-not-loaded
  #content, #right-side-wrapper
    transiton: opacity 0.3s
    opacity: 1


// **********************************************************************************
// end classes applied to body

#breadcrumbs
  border-bottom: 1px solid #efefef
  overflow: hidden
  background-color: #fff
  ul
    +reset-list
    +clearfix
    margin-left: 10px
    color: #637178
    font-size: 12px
    li
      float: left
      height: 27px
      line-height: 29px
      padding-left: 12px
      margin-left: 8px
      @include bg-image(breadcrumb-chevron, png, no-repeat, 0, 50%, transparent, 5px, 9px)
      &:first-child
        background: none
        padding-left: 0
        margin-left: 0
    .home a
      color: #ccc
      i
        margin-right: -5px
        vertical-align: text-bottom
        &:before
          font-size: 12px

  .ellipsis
    display: inline-block


#footer
  color: #5c5c5c
  font-size: 11px
  margin: 0 15px 34px
  .footer-logo
    +bg-image('footer-logo', 'png', no-repeat, left, top, transparent, 140px, 10px)
    display: inline-block
    height: 10px
    margin: 0 20px 0 0
    width: 140px

#footer-links
  a
    border-left: 1px solid #5C5C5C
    color: #5C5C5C
    padding-right: 2px
    padding-left: 5px
    &:hover, &:focus
      text-decoration: underline
    // ie7 supports :first-child so this will work on everything we support.
    &:first-child
      border-left: none
