$bar-height: 64px;

.module-sequence-footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: $bar-height+1;
  overflow: hidden;

  .hidden-aria-title {
    display: none;
  }
}

.module-sequence-footer .module-sequence-footer-content {
  height: $bar-height;
  background: $ic-color-light;
  border-top: 1px solid $ic-border-light;
  box-sizing: border-box;
  padding-top: $ic-sp;
}

@keyframes module-sequence-footer-animation {
  from { transform: translate3d(0,100%,0); opacity: 0; }
  to { transform: translate3d(0,0,0); opacity: 1; }
}

.module-sequence-footer-content:not(.no-animation){
  animation: module-sequence-footer-animation 0.5s ease-out;
}

.module-sequence-footer-button--next { float: right; }
.module-sequence-footer-button--previous { float: left; }

@media print {
  .module-sequence-padding, .module-sequence-footer {
    display: none;
  }
}
