/// TOC
//============================================================================================
//
// - Brand Variants
// - Color Variables
// - Layout Variables
//
//============================================================================================

// Canvas Brand Variants
//=======================
// This imports the variables needed to support new styles {$use_new_styles}
// accessibility ($use_high_contrast) and k12 ($is-k12).
// You can also use the sass function that helps ensure color contrast ratio.
// Look in /sass-functions/ for more information on how that is used
@import "variant_variables";


/// Custom Branding
//=======================
// Pulls in variables in 'config/brand_variables.scss', if it exists.
// See docs in config/brand_variables.scss.example.
// In the future, this will be how we'll pull in the variables that
// a school sets in their "Theme Editor" interface.
// Only variables here with a "!default" at the end are able to be overrideable by the school.
// see: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_
@import "brand_variables";


/// Canvas LMS Color Sheet
//=======================
// Our color variables in Canvas are simple and easy to integrate
// We use a two-tiered variable process with Canvas color variables.
// When you need to use a color, please create a functional variable name
// and use the color variable name of your choosing. See examples below.

// New Canvas Theme Color Variables
//=======================
// These are the new colors that we would like to start rebranding
// all the canvas pages in. All of the app variables that denote a
// color should use or be based off of one of these variables


$canvas-primary:                  #0099e0 !default; // light blue
@if $use_high_contrast { $canvas-primary: #0073ac; }

$canvas-secondary:                #5b6c79 !default; // dark blue
@if $use_high_contrast { $canvas-secondary: #343c44; }

$canvas-success:                  #00ad18; // green
@if $use_high_contrast { $canvas-success: #008a14; }

$canvas-neutral:                  hsl(0,0,90%);

$canvas-action:                   #ba3fa5; // magenta
@if $use_high_contrast { $canvas-action: #a23891; }

$canvas-danger:                   #ad393a; // red
@if $use_high_contrast { $canvas-danger: #a03536; }

$canvas-alert:                    #c48506; // gold
@if $use_high_contrast { $canvas-alert: #9e6b05; }

$canvas-light:                    #fff; // white

$canvas-dark:                     #333;



// Bootstrap Color Variable Overwrites
//=======================
// These overwrite the variables used by bootstrap using our
// custom colors above

// When the new_style feature flag is available to use, we
// can uncomment these out. Right now they would overwrite
// current canvas styles prematurely

// $brand-primary:         $canvas-primary;
// $brand-success:         $canvas-success;
// $brand-info:            $canvas-light;
// $brand-warning:         $canvas-alert;
// $brand-danger:          $canvas-danger;
// $brand-inverse:         $canvas-neutral;

// $gray-darker:            lighten(#000, 13.5%);  // #222
// $gray-dark:              lighten(#000, 20%);   // #333
// $gray:                   lighten(#000, 33.5%); // #555
// $gray-light:             lighten(#000, 60%);   // #999
// $gray-lighter:           lighten(#000, 93.5%); // #eee

// Functional Variable Colors
//=======================
// For variables throughout canvas we should be using custom names
// and setting their colors using our two-tiered process

// Examples of functional variable use:
//
//    $link-color: $canvas-primary;
//    $submit_button--on: $canvas-secondary;


// in these variables, "content" refers specifically to the #content div,
// which is the main white page in between the left and right columns
$base-body-background-color: lighten($canvas-neutral, 4);
$base-content-background-color: $canvas-light;
$base-content-padding: 15px;
$ic-base-header-background: $canvas-secondary;
@if $use_high_contrast {$ic-base-header-background: #333;}



$base-font-color-light: $canvas-light;
$base-font-color-dark: $canvas-dark;
$base-font-color--subdued: #696969;
$base-border-color: $canvas-neutral;
$base-list-item-background--hover: #eef7ff;
$base-list-item-background--selected: #d9edf9;
// To be used for any disabled icon states
$ic-base-color-icon-disabled: darken($canvas-neutral, 40);
@if $use_high_contrast {$ic-base-color-icon-disabled: darken($canvas-neutral, 60);}
$ic-base-dim-helper-text: darken($canvas-neutral, 33);
@if $use_high_contrast {$ic-base-dim-helper-text: darken($canvas-neutral, 50);}

$announcements_disscussion-summary-color: $canvas-dark;

$gradebook_letter-grade-font: lighten($canvas-dark, 8%);

// These variables control the active and hover
// states we have on the global left-hand sidenav in Canvas

$course-sidenav_list-item--bg-color: #fff;
@if $use_high_contrast {$course-sidenav_list-item--bg-color: #333;}

$course-sidenav_list-item--active-font-color: #0099e0;
@if $use_high_contrast {$course-sidenav_list-item--active-font-color: #fff;}

$course-sidenav_list-item--inactive-font-color: #ccc;

$course-sidenav_list-item--hover-bg-color: #0099e0;
@if $use_high_contrast {$course-sidenav_list-item--hover-bg-color: #333;}


// Legacy Variables
//=======================
// These are variables used throughout Canvas that need to be restructured and organized
// Eventually we'd like to have these put into one of the two categories: Colors or Layout

$iconSpritePath:      "canvas_does_not_use_boostraps_default_sprit_based_icons_so_this_is_meaningless" !default;
$iconWhiteSpritePath: $iconSpritePath !default;

@import 'vendor/bootstrap/variables';
@import 'vendor/jqueryui/variables';


$right_side_width: 286px;
$left_side_width: 175px;
$min_main_width: 510px;
$max_main_width: 1100px;

$identity-link-color: #fff;
$menu-border-color: #ccc;

$menu-background-color: #fff;
$menu-text-color: ensure-contrast(#444, $menu-background-color);

$menu-link-color: #456787;

$right_side_text_color: #595959;
$right_side_margin: 13px;

// section tabs
$section_tabs_bg_color: #f2f5f7;
$section_tabs_color: #4b7092;
$section_tabs_hover_background_color: darken(#e4e7e9, 2%);
$section_tabs_border_top_color: #C6C6C6;
$section_tabs_border_bottom_color: lighten($section_tabs_border_top_color, 4%);
$section_tabs_to_be_hidden_color: #888;
$hintTextColor: #888;

$button-text-color: #525252;

$ui-state-default-gradient-top: #ededed;
$ui-state-default-gradient-bottom: #c4c4c4;


// this is the blue color that we use all over the place when not in a gradiants
$highlight-color: #06a9ee !default;
// light blue hover color
$hover-color: #E5F3FF !default;
// this is the grey color for when things are disabled, or meant to contrast with $highlight-color
$diminutive-color: #acacac;

$masquerade-link-color: #ffa500;
$ic-sp: 12px;
$ic-border-radius: $ic-sp/2;

// canvas stuff
$lightBackground:               rgb(248, 250, 251);
$altBG:                         #dfe9f0;
$borderColor:                   #a8adb3;
$borderRadius:                  4px;
$toolbarBackground:             #D7E7F5;
$toolbarBackgroundLight:        #E8F1F9;
$listViewHeaderBackground:      rgb(225, 230, 235);
$listViewHeaderBackgroundLight: lighten($listViewHeaderBackground, 5%);
$contentBoxPadding:             8px;
$listBorderColor:               lighten($borderColor, 5%);
$activeBG:                      #d6ecfc;
@if $use_high_contrast { $dimmedOpacity: 0.9; }
@else { $dimmedOpacity: 0.6; }


// Canvas K-12 brand color and global spacing variables
@if $is-k12 {
  $brand-k12: #2a89e8;
  $brand-k12-dark: darken(desaturate($brand-k12, 21), 15);
  $k12-sp: 12px;
  $k12-header-primary-height: $k12-sp*8;
  $k12-header-secondary-height: $k12-sp*4;
  $k12-header-text: white;
  $k12-transition: cubic-bezier(0,1,0.5,1);
}

// Font Sizes
$h1-font-size: 23px;
$h2-font-size: 14px;
$h3-font-size: 19px;

$spacing-width: 20px;

$wellBackground: #e8ecef;

// override bootstrap green buttons
@if $is-k12 { $green: #25bc34; }
@else { $green: #34832b !default; }

// override bootstrap orange color for k-12
@if $is-k12 { $orange: #f55e22; }


//
// New-component variables that will eventually phase out the legacy stuff above
//==================================================================================
//

$can-sp: 12px; // use this variable -- or multiples of it -- to space things out and add padding, etc.
$can-transition: cubic-bezier(0,1,0.5,1); // this is a pleasing transition that can be used when you need a transition timing function

/// Global light background colors
//================================

// $can-bg-light-neutral
$can-bg-light-neutral: lighten($canvas-neutral, 6%);

// $can-bg-light-primary
$can-bg-light-primary: lighten($canvas-primary, 52%);
@if $use_high_contrast { $can-bg-light-primary: lighten($canvas-primary, 64%); }

// $can-bg-light-success
$can-bg-light-success: lighten($canvas-success, 60%); // No high contrast color exists for legacy $canvas-success

// $can-bg-light-alert
$can-bg-light-alert: lighten($canvas-alert, 50%);
@if $use_high_contrast { $can-bg-light-alert: lighten($canvas-alert, 66%); }

// $can-bg-light-danger
$can-bg-light-danger: lighten($canvas-danger, 48%); // No high contrast color exists for legacy $canvas-danger


/// Global border colors
//======================

// If it's a light border, it should be this color.
@if $use_new_styles { $can-border-light: lighten($canvas-secondary, 42%); }
@else { $can-border-light: $menu-border-color; }

// If it's a dark border, it should be this color.
@if $use_new_styles { $can-border-dark: lighten($canvas-secondary, 25%); }
@else { $can-border-dark: lighten(#4b5662, 20%); }


/// Link-color-related variables
//==============================

$ic-link-color: darken($canvas-primary, 5%);
@if $use_high_contrast { $ic-link-color: darken($canvas-primary, 2%); }
$ic-link-color-hover: darken($ic-link-color, 10%);

// linkColor is a deprecated Bootstrap 2 variable. Please use $ic-link-color!
$linkColor: $ic-link-color; // deprecated - do not use
$linkColorHover: $ic-link-color-hover; // deprecated - do not use

$ic-icon-link-color-hover: lighten($canvas-dark, 15%);
@if $use_high_contrast { $ic-icon-link-color-hover: $canvas-dark; }

$ic-icon-link-color: lighten($canvas-dark, 30%);
@if $use_high_contrast { $ic-icon-link-color: lighten($canvas-dark, 12%); }


/// Text-color variables
//======================
$ic-text-color: $canvas-dark;

// textColor is a deprecated Bootstrap 2 variable. Please use $ic-text-color!
$textColor: $ic-text-color; // deprecated - do not use

/// Form-related variables
//==============================
$ic-horizontal-form-offset: $ic-sp*19;
$ic-label-line-height: 1.3;
$ic-radio-checkbox-left-offset: 22px;
