// Compiler for Canvas
@import "base/environment";
@import "components/g_base";
@import "components/g_instructure";
@import "components/g_assignments";
@import "components/g_groups";
@import "components/g_media_comments";
@import "components/g_context_modules";
@import "components/g_collaborations";
@import "components/g_files";
@import "components/g_wiki";
@import "components/g_conference";
@import "components/g_rubrics";
@import "components/g_wiki_sidebar";
@import "components/g_syllabus";
@import "components/g_mini_calendar";
@import "components/helpDialog";
@import "vendor/mediaelementplayer";