$bar-background: #eff2f5;
$button-border-line: #d4d6d9;
$top-bar-border: #bdc1c5;
$top-bar-shadow: #dcdee0;
$text: #3a4651;
$button-hover: #dee5ea;

.module-sequence-footer{
  background: $bar-background;
  position: absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height: 55px;
  border-top: 1px solid $top-bar-border;
  box-shadow: inset 0px 1px 0px 0px $top-bar-shadow;

  a{
    line-height: 55px;
    font-weight: bold;
    color: $text;
    border-right: 1px solid $button-border-line;
    width: 120px;
    text-align: center;

    &:hover{
      background-color: $button-hover;
    }

    &:last-child{
      border-right: none;
      border-left: 1px solid $button-border-line;
    }

    &.disabled{
      opacity: .3;
      cursor: not-allowed;
      &:hover{
        background-color: $bar-background;
        text-decoration: none;
      }
    }
  }
}
