// We need this id to make some of the js components style correctly
// not sure why, but this takes off some of the width/heigh stuff we don't want
#main.Sg-only {
  width: 100% !important;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  min-height: 450px;
  max-width: 100%;
}
.Sg-Main {
  // This is a workaround to account for the padding around
  // the gutters of flexgrid. It's a known problem and there's
  // currently an issue reported. If things change we'll fix it.
  //
  overflow-x:hidden;
}
.Sg-Section {
  padding-bottom: 100px; // adds some padding between our sections and headers

}
$sg-Header-height: 85px;
.Sg-Header {
  height: $sg-Header-height;
}
.Sg-Anchor {
  display: block;
  height: $sg-Header-height;
  margin-top: -$sg-Header-height;
  visibility: hidden;
}
.Sg-header__Subnavigation-item {
  // to account for our added "section" for canvas sg nav
  display: inline-block;
}
.styleguide-section__grid-demo-element {
  padding: 8px 16px;
  background: lighten($ic-link-color, 15%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 16px;
}
.Sg-Main .codeBlock,
.Sg-Main .highlight {
  &:after {
    content: 'Code';
  }
}
.Sg-Main .codeBlock,
.Sg-Main .highlight {
  &:after {
    content: 'Code';
  }
}
// For hiding sections from nav
.isHidden {display: none;}
.styleguide-section__accordion-demo-element {
  padding: $ic-sp*2;
  color: darken($ic-color-neutral, 15%);
}
/////
////// React Modal
/////
.ReactModal__Content.ReactModal__Content--canvas.ReactModal__Content--demo-styleguide .ReactModal__Layout {
  transform: none;
  opacity: 1;
  width: 100%;
  max-width: 697px;
}

/////
////// Styles for Colors
/////
.Colorguide-color {
  justify-content: space-between;
  padding: 145px 0 0 0;
  flex: 1 170px;
  margin: 5px;
  border: 1px solid $ic-color-medium-light;
  border-radius: 3px;
}
.Colorguide-var {
  display: block;
  background: $ic-color-light;
  border-top: 1px solid $ic-color-medium-light;
  padding: 10px;
}

.Colorguide-color--primary        {background: $ic-brand-primary;}
.Colorguide-color--success        {background: $ic-color-success;}
.Colorguide-color--action         {background: $ic-color-action;}
.Colorguide-color--danger         {background: $ic-color-danger;}
.Colorguide-color--alert          {background: $ic-color-alert;}
.Colorguide-color--dark           {background: $ic-color-dark;}
.Colorguide-color--medium-darker  {background: $ic-color-medium-darker;}
.Colorguide-color--medium         {background: $ic-color-medium;}
.Colorguide-color--medium-light   {background: $ic-color-medium-light;}
.Colorguide-color--light          {background: $ic-color-light;}


.sg-bg-color-example {
  background: $ic-bg-light-primary;
  @include fontSize($ic-font-size--small);
  padding: $ic-sp;
  color: $ic-bg-light-primary-text;

  @if $use_high_contrast {
    border: 1px solid $ic-bg-light-primary-text;
  }

  &--neutral {
    background: $ic-bg-light-neutral;
    color: $ic-bg-light-neutral-text;

    @if $use_high_contrast {
      border: 1px solid $ic-bg-light-neutral-text;
    }
  }
  &--success {
    background: $ic-bg-light-success;
    color: $ic-bg-light-success-text;

    @if $use_high_contrast {
      border: 1px solid $ic-bg-light-success-text;
    }
  }
  &--alert {
    background: $ic-bg-light-alert;
    color: $ic-bg-light-alert-text;
    
    @if $use_high_contrast {
      border: 1px solid $ic-bg-light-alert-text;
    }
  }
  &--danger {
    background: $ic-bg-light-danger;
    color: $ic-bg-light-danger-text;

    @if $use_high_contrast {
      border: 1px solid $ic-bg-light-danger-text;
    }
  }
}
