// Hide/show new styles vs old styles
@if $use_new_styles { 
  .style-guide-nav .canvasSidebar--menu__item {
    a[href*=_-_legacy] {display: none;}
    a[href*=_-_new] {display: block;}
  }  

  [id*=_-_legacy].styleguide-section__component-doc { display: none;}
  [id*=_-_new].styleguide-section__component-doc { display: block;}
}
@else {
  #style-guide-nav li {
    a[href*=_-_legacy] {display: block;}
    a[href*=_-_new] {display: none;}
  }

  .styleguide-section__component > [id*=_-_legacy] { display: block;}
  .styleguide-section__component > [id*=_-_new] { display: none;}
}
@if $use_new_styles { 
// Styleguide Typography
//===============
.styleguide-subheader {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  line-height: normal;
}

// Styleguide Layout
//===============
// We're using flex to put these elements in the order that we
// want them to appear in
.styleguide-section__component {  
  margin: 0 0 50px 0;
}
.styleguide-section__component-code {
  @extend %flex;
  flex-flow: row wrap;  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  // Ordering
  .code-rendered                        { @extend %flex-order-1;}
  .highlight                            { @extend %flex-order-2;}
  .styleguide-section__component-notes  { @extend %flex-order-3;}
  // Sizing
  .code-rendered                        { width: 100%;}
  .highlight                            { @extend %flex-2;}
  .styleguide-section__component-notes  { @extend %flex-1;}
}
.styleguide-section__component-code-content { @extend %flex-1; }
// end layout

/// Styleguide element styles
//===============
/// Note: some of these may become obsolete as we 
/// continue to put in more styles to our typography
.code-rendered {
  margin-bottom: 20px;  
  padding-bottom: 20px;
  border-bottom: 1px solid $canvas-neutral;
}
.highlight {  
  height: 100%;
  pre {
    padding: 10px;
    background: lighten($canvas-primary, 60%);
    box-shadow: 0 0 8px lighten($canvas-dark, 10%);    
    border-radius: 0;
    color: $canvas-dark;
  }  
}
.styleguide-section__component-notes {
  padding: 0 0 0 25px;
  .codeBlock__note-title {
    font-size: 18px;
    font-weight: 500;    
    line-height: 29px;
    padding: 0;
    margin: 0;
  }
  .codeBlock__note-description {
    line-height: 22px;
    font-size: 14px;
  }
}
.styleguide-section__grid-demo-element {
  padding: 8px 16px;
  background: lighten($linkColor, 15%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 16px;
}

/// Temporary styles for new nav till real styles
/// are in there. These only show up on new_styles styleguide
.style-guide-nav-container {
  background: $canvas-secondary;
}
.style-guide-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  .canvasSidebar--menu__item {
    &.canvasSidebar--menu__item-title {
      font-weight: 500; 
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 20px;
    }
    & {
      color: white;
      padding: 0;
      margin: 0;
      width: 100%;
      a {
        display: block;
        width: 100%;
        color: #fff;
        padding: 10px 20px;
        font-weight: 300;
        min-width: 180px;
        transition: background 0.5s ease-in-out;
        &:hover {
          text-decoration: none;
          background: lighten($canvas-secondary, 5%); 
          transition: background 0.5s ease-in-out;
        }
      }        
    }
    &.canvasSidebar--menu__item--is-on {
      a {
        background: lighten($canvas-secondary, 5%); 
        font-weight: 500; 
        &:hover {
          text-decoration: none;
        }
      }          
    }
  }
}
/// end nav
} 
@else {
  #main {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $altBG;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 10px 20px;
}

#docs {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#docs > article {
  margin: 40px 20px;
  padding: 20px;
  min-height: 60%;
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
  background: #fff;
  max-width: 700px;
}

#docs > article:first-child {
  border:none;
}

.code-demo:hover {
  margin-left: -12px;
  border-left: solid 4px #0088cc;
  padding-left: 8px;
}
}// end @else legacy styles

/////
////// Styles for Colors
/////
.Colorguide-title {
  width: 101%;
  font-size: 15px;
  padding: 0;
  text-align: left;    
}
.Colorguide-container {
  @extend %flex;
  flex-flow: row wrap;    
  justify-content: space-around;
}
.Colorguide-container--hc-theme {
  margin-bottom: 30px;
}
.Colorguide-color {  
  height: 100px;
  padding: 25px;
  @if $use_new_styles {
    width: 300px;
  }
  @else {
    float: left;
    width: 150px;
  }
  color: $base-font-color-light;
  margin-bottom: 5px;
  
 &.Colorguide-color--light,
 &.Colorguide-color--neutral {
  color: $base-font-color-dark;
 }
 .Colorguide-hex {  
  display: block;
 }
}
@mixin colorguide ($bg-color) {
  background: $bg-color;
  border: 1px solid darken($bg-color, 10%);
}
.Colorguide-color--primary    {@include colorguide($canvas-primary);}
.Colorguide-color--secondary  {@include colorguide($canvas-secondary);}
.Colorguide-color--success    {@include colorguide($canvas-success);}
.Colorguide-color--neutral    {@include colorguide($canvas-neutral);}
.Colorguide-color--action     {@include colorguide($canvas-action);}
.Colorguide-color--danger     {@include colorguide($canvas-danger);}
.Colorguide-color--alert      {@include colorguide($canvas-alert);}
.Colorguide-color--light      {@include colorguide($canvas-light);}
.Colorguide-color--dark       {@include colorguide($canvas-dark);}
@if $use_new_styles {
  .Colorguide-container--hc-theme {
    .Colorguide-color--primary    {@include colorguide(#0078c4);}
    .Colorguide-color--secondary  {@include colorguide(#58646d);}
    .Colorguide-color--success    {@include colorguide(#008a14);}
    .Colorguide-color--neutral    {@include colorguide(#ffffff);}
    .Colorguide-color--action     {@include colorguide(#a23891);}
    .Colorguide-color--danger     {@include colorguide(#a03536);}
    .Colorguide-color--alert      {@include colorguide(#9e6b05);}
    .Colorguide-color--dark       {@include colorguide(#405360);}  
  }
} 
@else {
.Colorguide-container--hc-theme {
  .Colorguide-color--primary    {@include colorguide(#0073ac);}
  .Colorguide-color--secondary  {@include colorguide(#0074af);}
  .Colorguide-color--success    {@include colorguide(#33802a);}
  .Colorguide-color--neutral    {@include colorguide(#6d6d6d); color: $canvas-light;}
  .Colorguide-color--action     {@include colorguide(#a23891);}
  .Colorguide-color--danger     {@include colorguide(#ad393a);}
  .Colorguide-color--alert      {@include colorguide(#845a04);}
  .Colorguide-color--dark       {@include colorguide(#333333);}  
}  
}
