
#style-guide-nav li {
  a[href*=_-_legacy] {display: block;}
  a[href*=_-_new] {display: none;}
}

.styleguide-section__component > [id*=_-_legacy] { display: block;}
.styleguide-section__component > [id*=_-_new] { display: none;}

#main {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $altBG;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 10px 20px;
}

#docs {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#docs > article {
  margin: 40px 20px;
  padding: 20px;
  min-height: 60%;
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
  background: #fff;
  max-width: 700px;
}

#docs > article:first-child {
  border:none;
}

.code-demo:hover {
  margin-left: -12px;
  border-left: solid 4px #0088cc;
  padding-left: 8px;
}

.styleguide-section__grid-demo-element {
  padding: 8px 16px;
  background: lighten($linkColor, 15%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 16px;
}

/////
////// Styles for Colors
/////

.Colorguide-container {
  display: flex;
  justify-content: space-around;  
}
.Colorguide-container--primary-theme,
.Colorguide-container--hc-theme {
  width: 50%;
  margin: 0 5px;
}
.Colorguide-color {    
  padding: 25px;
  .Colorguide-container--hc-theme & {
    padding: 35px;
  }
  margin: 5px 0;

  color: $base-font-color-light;
  margin-bottom: 5px;
  
 &.Colorguide-color--light,
 &.Colorguide-color--neutral {
  color: $base-font-color-dark;
 }
 .Colorguide-hex {  
  display: block;
 }
}
@mixin colorguide ($bg-color) {
  background: $bg-color;
  border: 1px solid darken($bg-color, 10%);
}
.Colorguide-color--primary    {@include colorguide($canvas-primary);}
.Colorguide-color--secondary  {@include colorguide($canvas-secondary);}
.Colorguide-color--success    {@include colorguide($canvas-success);}
.Colorguide-color--neutral    {@include colorguide($canvas-neutral);}
.Colorguide-color--action     {@include colorguide($canvas-action);}
.Colorguide-color--danger     {@include colorguide($canvas-danger);}
.Colorguide-color--alert      {@include colorguide($canvas-alert);}
.Colorguide-color--light      {@include colorguide($canvas-light);}
.Colorguide-color--dark       {@include colorguide($canvas-dark);}

.Colorguide-container--hc-theme {
  .Colorguide-color--primary    {@include colorguide(#0073ac);}
  .Colorguide-color--secondary  {@include colorguide(#343c44);}
  .Colorguide-color--success    {@include colorguide(#008a14);}
  .Colorguide-color--neutral    {@include colorguide(hsl(0,0,90%)); color: $canvas-light;}
  .Colorguide-color--action     {@include colorguide(#a23891);}
  .Colorguide-color--danger     {@include colorguide(#a03536);}
  .Colorguide-color--alert      {@include colorguide(#9e6b05);}
  .Colorguide-color--light      {@include colorguide(#ffffff);}
  .Colorguide-color--dark       {@include colorguide(#333333);}  
}

.styleguide-section__grid-demo-element {
  padding: 8px 16px;
  background: lighten($linkColor, 15%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 16px;
}

.styleguide-section__accordion-demo-element {
  padding: $ic-sp*2;
  color: darken($canvas-neutral, 15%);
}
