<div class="turnitin_info vericite_{{assetString}}" style="display: none;">
  <div>{{message}}</div>
  {{#if showResubmit}}
  <div class="vericite_resubmit_container">
    <a href="#" class="btn btn-small vericite_resubmit_button">{{#t "buttons.resubmit_to_vericite"}}Resubmit to VeriCite{{/t}}</a>
  </div>
  {{/if}}
</div>
