@import "header";

body {
  background: url(/images/blue/bg.jpg);
}

#instructure_ajax_error_box {
  display: none;
}

#content {
  min-height: 400px;
}

#footer {
  margin-top: 40px;
}

h1 {
  color: $linkColor
}

.dateFieldContainer {
  position: relative;

  .ui-datepicker-trigger {
    position: absolute;
    left: 138px;
    top: 5px;
  }

  .dateField {
    padding-right: 20px;
    width: 160px;
  }
}

.button-wide {
  width: 100%;
  text-align: center !important;
}

.hidden {
  display: none;
}

