@import "header";

body {
  background: url(/images/blue/bg.jpg);
}

#instructure_ajax_error_box {
  display: none;
}

#content {
  min-height: 400px;
}

#left-side {
  .section {
    list-style-type: none;
    border-right: 1px solid $borderColor;
  }
}
#section-tabs {
  margin: 0;
  padding: 0;

  a {
    padding-left: $gridGutterWidth;
    display: block;
    line-height: 29px;
    background-color: #f8fafb;
    border-bottom: 1px solid lighten($borderColor, 22%);
    font-weight: bold;
    color: $gray;
    &:hover {
      text-decoration: none;
    }
  }
}
#section-tabs-header {
  color: black;
  background-color: #dae2e9;
  font-size: 13px;
  padding-left: $gridGutterWidth;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}

#footer {
  margin-top: 40px;
}

h1 {
  color: $linkColor
}

.dateFieldContainer {
  position: relative;

  .ui-datepicker-trigger {
    position: absolute;
    left: 138px;
    top: 5px;
  }

  .dateField {
    padding-right: 20px;
    width: 160px;
  }
}

.button-wide {
  width: 100%;
  text-align: center !important;
}

.hidden {
  display: none;
}

.error_box {
  position: absolute;
  top: -1000px;
  left: -100px;
  z-index: 11;
  max-width: 200px;
  min-width: 100px;
  .error_text {
    max-height: 100px;
    overflow: auto;
    margin-bottom: 10px;
    background-color: #edd;
    border: 2px solid #a44;
    border-radius: 5px;
    padding: 5px;
  }
  .error_bottom {
    position: absolute;
    bottom: 0;
    left: 4px;
  }
}
