

.toolbar {
  @extend .ui-widget-header;

  padding: $contentBoxPadding / 2;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;

  .header {
    font-size: 16px;
  }
}

.content-callout {
  @include content-callout();
}

.content-box {
  background-color: $lightBackground;

  & > * {
    padding-left: $contentBoxPadding;
    padding-right: $contentBoxPadding;
  }

  // add soem space above first child
  & > *:first-child {
    padding-top: $contentBoxPadding;
  }

  // embedded toolbar styles
  & > .toolbar {
    border-bottom: 1px solid $borderColor;
    & + * {
      padding-top: $contentBoxPadding;
    }
  }

  &.border-round-b > .toolbar {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }

  &.border-round-t > .toolbar,
  &.border-round > .toolbar {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  &.border-round-tl > .toolbar {
    border-top-left-radius: $borderRadius;
  }

  &.border-round {
    border-radius: $borderRadius;
  }

  // remove pading from list-view
  & > .list-view {
    padding: 0;
  }
}

// List View
.list-view {
  background-color: $lightBackground;
  overflow: auto;

  & > header,
  // oldskool compat
  #section-tabs-header {
    @include buttonBackground($listViewHeaderBackgroundLight, $listViewHeaderBackground);
    padding: 4px 12px;
    font-weight: bold;
    $shadow: inset 0 1px 0 rgba(255,255,255,0.75);
    @include box-shadow($shadow);
    border-bottom: 1px solid $listBorderColor;
    @include bevelText;
    border-top: 1px solid $listBorderColor;

    // oldskool overrides
    font-size: $baseFontSize;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 19px;
  }
  #section-tabs-header-subtitle {
    display: block;
    font-size: 11px;
    font-style: italic;
    color: inherit;
  }

  & > *:first-child {
    border-top: 0 !important; // oldskool important
  }

  & > ul,
  // oldskool overrides
  & > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      padding: 0;

      & > a {
        display: block;
        border-top: 1px solid $white;
        border-bottom: 1px solid lighten($borderColor, 22%);
        padding: 4px 12px;
        color: $gray;
        white-space: nowrap;

        &:hover {
          text-decoration: none;
          background: $white;
        }
      }

      &:last-child > a {
        border-bottom: 0;
      }
    }
  }

  // lists w/o headers still need a strong border
  & > ul + ul {
    border-top: 1px solid $listBorderColor;
  }

  a.active {
    background-color: $activeBG;
    border-bottom-color: lighten($borderColor, 15%);
    border-top-color: lighten($activeBG, 2%);
    &:hover {
      background-color: $activeBG;
    }
  }
}

.nav-links {
  @include clearfix();
  overflow: visible;
  padding-left:0;

  & > li {
    float: left;

    & > a {
      padding-right: 8px;
      padding-left: 8px;
      margin-right: 2px;
      line-height: 4px; // keeps the overall height an even number
      color: $gray;
      font-size: 11px;
      font-weight: bold;

      &.active, &:hover {
        color: $black;
        background: none;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.image-block {
  @include clearfix;

  .image-block-image {
    float: left;
    margin-right: $contentBoxPadding;
  }

  .image-block-content {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
  }
}

.box-shadow {
  @include box-shadow(0 2px 4px rgba(0,0,0,.25))
}

.box-with-header,
.triangle-box,
.triangle-box-with-header {
  @include box-with-header;
}

.triangle-box,
.triangle-box-with-header {
  position: relative; // for the triangle
  margin-left: 20px;

  .box-header {
    // relative position to sit on top of the triangle
    position: relative;
    z-index: 1;
  }

  // the triangle
  &:before {
    content: ' ';
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 15px;
    left: -9px;
    @include rotate(45deg);
    border: solid 1px $borderColor;
    border-right: none;
    border-top: none;
    background: $white;
    .ie & {
      display: none;
    }
  }
}

.triangle-box-with-header:before {
  @include box-shadow(0 1px 1px 0px lighten($borderColor, 30%));
  @include gradient-directional(lighten($contentCalloutColor, 4%), $contentCalloutColor, 45deg);
}

.checkbox-inline {
  padding-top: 4px;
}

.page-action-list {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    > a {
      display: block;
      color: $gray;
      font-weight: bold;
      border-bottom: solid 1px lighten($grayLight, 10%);
      @include box-shadow(0 1px 0px rgba(255, 255, 255, 0.85));
      padding: 8px 0;

      &:hover {
        text-decoration: none;
        color: $blue;
        i {
          background-image: url(../../../images/blue/canvas-icons-16x16-blue.png);
        }
      }

      &:active {
        color: $grayLight;
        i {
          background-image: url(../../../images/blue/canvas-icons-16x16-ltgrey.png);
        }
      }
    }
  }
}

