// add icon font
@font-face {
  font-family: 'canvasregular';
  src: url('/font/canvas/canvas-webfont.eot');
  src: url('/font/canvas/canvas-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/canvas/canvas-webfont.woff') format('woff'),
    url('/font/canvas/canvas-webfont.ttf') format('truetype'),
    url('/font/canvas/canvas-webfont.svg#canvasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// styles to ensure icons can only be applied through the <i> element, but also allowing
// to be applied directly to text links

i[class*=icon-], i[class^=icon-], a[class*=icon-], a[class^=icon-] {

  &:before {
    font-family: 'canvasregular';
    display: inline-block;
    vertical-align: middle;

    // override any properties in the cascade that might make the font display incorrectly
    text-transform: none !important;
    font-weight: normal !important;
    font-style: normal !important;
  }

}

i[class*=icon-], i[class^=icon-] {
  display: inline-block;
  font-style: normal !important;
  width: 16px; height: 16px; line-height: 16px; font-size: 16px;

  // adjust icon sizes to look good with our large-size button class
  .btn-large & { width: 18px; height: 18px; line-height: 18px; font-size: 18px; }

  // suppress icons when the smallest buttons are used
  .btn-mini & { display: none; }

}

// when an icon is applied directly to a link, add a little left margin to make
// things look nicer
a[class*=icon-], a[class^=icon-] {
  &:before { margin-right: 4px; }
}

.standalone-icon {
  // make standalone icons within links display as dark gray, not default link blue
  &:before { color: #666; }
}

// change vertical alignment of icons used with common typographic elements to line them up better
h1, h2, h3, h4, p {
  
  i[class*=icon-]:before, i[class^=icon-]:before {
    vertical-align: baseline;
  }
  
}


// define specific icon classes, mapped to the "canvasregular" icon font above

.icon-stats:before { content: "+" }
.icon-paperclip:before { content: "Ê" }
.icon-media:before { content: "J" }
.icon-address-book:before { content: "=" }
.icon-reset:before { content: "8" }
.icon-announcement:before { content: "A" }
.icon-analytics:before { content: "Ì" }
.icon-student-view:before { content: ")" }
.icon-calendar-day:before { content: "Z" }
.icon-trash:before { content: "!" }
.icon-speed-grader:before { content: "." }
.icon-copy-course:before { content: "[" }
.icon-import-content:before { content: "V" }
.icon-export-content:before { content: "7" }
.icon-discussion:before { content: "c" }
.icon-discussion-reply:before { content: "e" }
.icon-peer-review:before { content: "\ed" }
.icon-discussion-new:before { content: "E" }
.icon-edit:before { content: "W" }
.icon-home:before { content: "H" }
.icon-settings:before { content: "/" }
.icon-compose:before { content: "\\" }
.icon-flag:before { content: "U" }
.icon-video:before { content: "\76" }
.icon-audio:before { content: "\dc" }
.icon-outdent:before { content: "\ea" }
.icon-indent:before { content: "\e9" }
.icon-forward:before { content: "j" }
.icon-warning:before { content: "o" }
.icon-filmstrip:before { content: "\da" }
.icon-rubric:before { content: "3" }
.icon-rubric-dark:before { content: "4" }
.icon-check-plus:before { content: "a" }
.icon-rss:before { content: "å" }
.icon-rss-add:before { content: "6" }
.icon-quiz:before { content: ";" }
.icon-question:before { content: "^" }
.icon-drop-down:before { content: "X" }
.icon-minimize:before { content: "G" }
.icon-end:before { content: "]" }
.icon-add:before { content: "y" }
.icon-info:before { content: "I" }
.icon-check:before { content: "`" }
.icon-clock:before { content: "ù" }
.icon-calendar-month:before { content: "ô" }
.icon-x:before { content: "x" }
.icon-refresh:before { content: ":" }
.icon-off:before { content: "ö" }
.icon-updown:before { content: "%" }
.icon-user-add:before { content: "r" }
.icon-group:before { content: "È" }
.icon-star:before { content: "," }
.icon-replied:before { content: "9" }
.icon-hour-glass:before { content: "&" }
.icon-assignment:before { content: "h" }
.icon-message:before { content: "b" }
.icon-note-dark:before { content: "C" }
.icon-note-light:before { content: "B" }
.icon-tag:before { content: "(" }
.icon-next-unread:before { content: "D" }
.icon-search:before { content: "K" }
.icon-lock:before { content: "0" }
.icon-unlock:before { content: "\"" }
.icon-folder:before { content: "ú" }
.icon-toggle-right:before { content: "@" }
.icon-toggle-left:before { content: "<" }
.icon-link:before { content: "Ù" }
.icon-lti:before { content: "L" }
.icon-text:before { content: "\27" }
.icon-timer:before { content: "*" }
.icon-pin:before { content: "p" }
.icon-like:before { content: "N" }
.icon-collection-save:before { content: "2" }
.icon-collection:before { content: "g" }
.icon-group-new:before { content: "s" }
.icon-group-new-dark:before { content: "s" }
.icon-zipped:before { content: "\7a" }
.icon-user:before { content: "\75" }
.icon-standards:before { content: "-" }
.icon-search-address-book:before { content: "1" }
.icon-facebook:before { content: "F" }
.icon-facebook-boxed:before { content: "f" }
.icon-linkedin:before { content: "O" }
.icon-twitter:before { content: "T" }
.icon-twitter-boxed:before { content: "t" }
.icon-github:before { content: "$" }
.icon-skype:before { content: "#" }
.icon-wordpress:before { content: "w" }
.icon-pinterest:before { content: "\e1" }
.icon-gradebook:before { content: "S" }
.icon-document:before { content: "Y" }
.icon-module:before { content: "_" }
.icon-arrow-up:before { content: "i" }
.icon-arrow-down:before { content: "l" }
.icon-arrow-left:before { content: "k" }
.icon-arrow-right:before { content: "j" }
.icon-mini-arrow-up:before { content: "\3f" }
.icon-mini-arrow-down:before { content: "\4d" }
.icon-mini-arrow-left:before { content: "\7e" }
.icon-mini-arrow-right:before { content: "\3e" }
.icon-email:before { content: "m" }
.icon-instructure:before { content: "n" }
.icon-ms-word:before { content: "\7b" }
.icon-ms-excel:before { content: "\7c" }
.icon-ms-ppt:before { content: "\7d" }
.icon-pdf:before { content: "\2919" }
.icon-apple:before { content: "\ef" }
.icon-windows:before { content: "\ec" }
.icon-android:before { content: "\f2" }
.icon-heart:before { content: "\e0" }
.icon-upload:before { content: "\e2" }
.icon-download:before { content: "\eb" }
.icon-text-left:before { content: "\e3" }
.icon-text-center:before { content: "\e4" }
.icon-text-right:before { content: "\e7" }
.icon-mature:before { content: "Q" }
.icon-prerequisite:before { content: "P" }
.icon-educators:before { content: "5" }
.icon-calendar-days:before { content: "\c7" }
.icon-materials-required:before { content: "\c5" }
.icon-not-graded:before { content: "\c9" }
.icon-peer-graded:before { content: "\64" }
.icon-bookmark:before { content: "\ee" }
.icon-printer:before { content: "\d4" }

// utility class for when you want a standalone icon, and want its function to be read aloud by
// screen readers. Should only ever be an issue when an icon- class is used with a link.
span.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 4px;
}
