// add icon font
@font-face {
  font-family: 'canvasregular';
  src: url('/font/canvas/canvas-webfont.eot');
  src: url('/font/canvas/canvas-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/canvas/canvas-webfont.woff') format('woff'),
    url('/font/canvas/canvas-webfont.ttf') format('truetype'),
    url('/font/canvas/canvas-webfont.svg#canvasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// styles to ensure icons can only be applied through the <i> element, but also allowing
// to be applied directly to text links

i[class*=icon-], i[class^=icon-], a[class*=icon-], a[class^=icon-] {

  &:before {
    font-family: 'canvasregular';
    display: inline-block;
    vertical-align: middle;
    text-rendering: optimizeLegibility;

    // override any properties in the cascade that might make the font display incorrectly
    text-transform: none !important;
    font-weight: normal !important;
    font-style: normal !important;
  }

}

i[class*=icon-], i[class^=icon-] {
  display: inline-block;
  font-style: normal !important;
  width: 16px; height: 16px; line-height: 16px; font-size: 16px;

  // adjust icon sizes to look good with our large-size button class
  .btn-large & { width: 18px; height: 18px; line-height: 18px; font-size: 18px; }

  // suppress icons when the smallest buttons are used
  .btn-mini & { display: none; }

}

// when an icon is applied directly to a link, add a little left margin to make
// things look nicer
a[class*=icon-], a[class^=icon-] {
  &:before { margin-right: 4px; }
}

.standalone-icon {
  // use to make standalone icons within links display as dark gray, not default link blue
  &:before { color: #555; }
}

// change vertical alignment of icons used with common typographic elements to line them up better
h1, h2, h3, h4, p {
  
  i[class*=icon-]:before, i[class^=icon-]:before {
    vertical-align: baseline;
  }
  
}


// define specific icon classes, mapped to the "canvasregular" icon font above

.icon-stats:before { content: "\e06a" }
.icon-paperclip:before { content: "\e03d" }
.icon-media:before { content: "\e062" }
.icon-address-book:before { content: "\e064" }
.icon-reset:before { content: "\e009" }
.icon-announcement:before { content: "\e082" }
.icon-analytics:before { content: "\e041" }
.icon-student-view:before { content: "\e005" }
.icon-calendar-day:before { content: "\e055" }
.icon-trash:before { content: "\e04d" }
.icon-speed-grader:before { content: "\e079" }
.icon-copy-course:before { content: "\e056" }
.icon-export-content:before { content: "\e083" }
.icon-import-content:before { content: "\e084" }
.icon-discussion:before { content: "\e067" }
.icon-discussion-reply:before { content: "\e068" }
.icon-peer-review:before { content: "\e034" }
.icon-discussion-new:before { content: "\e067" }
.icon-edit:before { content: "\e065" }
.icon-home:before { content: "\e07b" }
.icon-settings:before { content: "\e008" }
.icon-compose:before { content: "\e057" }
.icon-flag:before { content: "\e011"; }
.icon-video:before { content: "\e059" }
.icon-audio:before { content: "\e040" }
.icon-outdent:before { content: "\e02a" }
.icon-indent:before { content: "\e029" }
.icon-outdent2:before { content: "\e06d" }
.icon-indent2:before { content: "\e06e" }
.icon-forward:before { content: "\e087" }
.icon-warning:before { content: "\e070" }
.icon-filmstrip:before { content: "\e03e" }
.icon-rubric:before { content: "\e04c" }
.icon-rubric-dark:before { content: "\e05c" }
.icon-check-plus:before { content: "\e016" }
.icon-rss:before { content: "\e025" }
.icon-rss-add:before { content: "\e07c" }
.icon-quiz:before { content: "\e00c" }
.icon-question:before { content: "\e013" }
.icon-drop-down:before { content: "\e012" }
.icon-minimize:before { content: "\e080" }
.icon-end:before { content: "\e081" }
.icon-add:before { content: "\e07f" }
.icon-info:before { content: "\e00e" }
.icon-check:before { content: "\e015" }
.icon-clock:before { content: "\e030" }
.icon-calendar-month:before { content: "\e054" }
.icon-x:before { content: "\e058" }
.icon-refresh:before { content: "\e00b" }
.icon-off:before { content: "\e069" }
.icon-updown:before { content: "\e001" }
.icon-user-add:before { content: "\e063" }
.icon-group:before { content: "\e06b" }
.icon-star:before { content: "\e006" }
.icon-replied:before { content: "\e00a" }
.icon-hour-glass:before { content: "\e07d" }
.icon-assignment:before { content: "\e066" }
.icon-message:before { content: "\e06c" }
.icon-note-dark:before { content: "\e077" }
.icon-note-light:before { content: "\e076" }
.icon-tag:before { content: "\e004" }
.icon-next-unread:before { content: "\e05f" }
.icon-search:before { content: "\e07a" }
.icon-lock:before { content: "\e045" }
.icon-unlock:before { content: "\e044" }
.icon-folder:before { content: "\e061" }
.icon-toggle-right:before { content: "\e05e" }
.icon-toggle-left:before { content: "\e05d" }
.icon-link:before { content: "\e03f" }
.icon-lti:before { content: "\e06f" }
.icon-text:before { content: "\e003" }
.icon-timer:before { content: "\e07d" }
.icon-pin:before { content: "\e019" }
.icon-like:before { content: "\e075" }
.icon-collection-save:before { content: "\e05b" }
.icon-collection:before { content: "\e073" }
.icon-group-new:before { content: "\e06b" }
.icon-group-new-dark:before { content: "\e06b" }
.icon-user:before { content: "\e074" }
.icon-standards:before { content: "\e007" }
.icon-search-address-book:before { content: "\e060" }
.icon-facebook:before { content: "\e00d" }
.icon-facebook-boxed:before { content: "\e017" }
.icon-linkedin:before { content: "\e00f" }
.icon-twitter:before { content: "\e010" }
.icon-twitter-boxed:before { content: "\e01a" }
.icon-github:before { content: "\e01b" }
.icon-skype:before { content: "\e01c" }
.icon-wordpress:before { content: "\e01d" }
.icon-pinterest:before { content: "\e022" }
.icon-gradebook:before { content: "\e05a" }
.icon-document:before { content: "\e04e" }
.icon-module:before { content: "\e014" }
.icon-mini-arrow-up:before { content: "\e047" }
.icon-mini-arrow-down:before { content: "\e048" }
.icon-mini-arrow-left:before { content: "\e049" }
.icon-mini-arrow-right:before { content: "\e046" }
.icon-arrow-up:before { content: "\e086" }
.icon-arrow-down:before { content: "\e085" }
.icon-arrow-left:before { content: "\e088" }
.icon-arrow-right:before { content: "\e087" }
.icon-email:before { content: "\e06c" }
.icon-instructure:before { content: "\e018" }
.icon-ms-word:before { content: "\e01e" }
.icon-ms-excel:before { content: "\e01f" }
.icon-ms-ppt:before { content: "\e020" }
.icon-pdf:before { content: "\e021" }
.icon-apple:before { content: "\e02e" }
.icon-windows:before { content: "\e02d" }
.icon-android:before { content: "\e02f" }
.icon-heart:before { content: "\e023" }
.icon-upload:before { content: "\e024" }
.icon-download:before { content: "\e02b" }
.icon-text-left:before { content: "\e026" }
.icon-text-center:before { content: "\e027" }
.icon-text-right:before { content: "\e028" }
.icon-mature:before { content: "\e035" }
.icon-prerequisite:before { content: "\e037" }
.icon-educators:before { content: "\e039" }
.icon-calendar-days:before { content: "\e055" }
.icon-materials-required:before { content: "\e03b" }
.icon-not-graded:before { content: "\e042" }
.icon-peer-graded:before { content: "\e043" }
.icon-bookmark:before { content: "\e04b" }
.icon-printer:before { content: "\e04a" }
.icon-image:before { content: "\e07e" }
.icon-expand:before { content: "\e050" }
.icon-collapse:before { content: "\e04f" }
.icon-invitation:before { content: "\e053" }
.icon-muted:before { content: "\e051" }
.icon-unmuted:before { content: "\e052" }
.icon-plus:before { content: "\e078" }
.icon-zipped:before { content: "\e089" }

// utility class for when you want a standalone icon, and want its function to be read aloud by
// screen readers. Should only ever be an issue when an icon- class is used with a link.
span.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 4px;
}
