<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% add_crumb t("Download Course Content") %>
<% css_bundle :epub_exports -%>
<% js_bundle :epub_exports -%>
<% provide :page_title do %><%= t("Download Course Content")  %><% end %>

<div>
  <h1><%= t("Download Course Content")  %></h1>
  <p>
  <%= t("Downloading course content allows access to content while offline. \
         Content may include files, pages, assignments, discussion topics or \
         quizzes. Click \"Generate ePub\" for each course and open with any \
         eReader software to view.") %>
  </p>

  <div class="item-group-container">
    <div class="item-group-condensed">
      <div class="ig-header">
        <h2 class="ig-header-title">
          <%= t("Current Courses") %>
        </h2>
      </div>

      <div class="course-epub-exports-app"></div>
    </div>
  </div>
</div>
