<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.

  add_crumb t('titles.sub_accounts', "Sub-Accounts")
  @active_tab = "sub_accounts"
  content_for :page_title, t('titles.sub_accounts', 'Sub-Accounts')
  css_bundle :sub_accounts
  js_bundle :sub_accounts 
%>

<h1 class="screenreader-only"><%= t :page_header_title, 'Sub Accounts' %></h1>
<div id="sub_account_urls">
  <a href="<%= context_url(@context, :context_sub_account_url, "{{ id }}") %>" class="sub_account_url" style="display: none;">&nbsp;</a>
</div>
<% account_data = @accounts[@context.id] %>
<%= render :partial => "sub_accounts", :locals => {:account => @context, :depth => 2, :course_count => account_data[:course_count], :sub_account_count => account_data[:sub_account_count]} %>
<%= render :partial => "sub_accounts" %>
