<% unless @object == "file.all_resources.md" %>
---

This documentation is generated directly from the Canvas LMS source code, available <a href="https://github.com/instructure/canvas-lms">on Github</a>.
<% end %>