---

&copy; Instructure, Inc. Generated on <%= Time.now.strftime("%c") %><br>
This documentation is generated directly from the Canvas LMS source code, available <a href="https://github.com/instructure/canvas-lms">on Github</a>.
