{{#ifAny collection.length collection.fetchingPage}}
  <ul class="collectionViewItems unstyled groups-list"></ul>
  <div class="paginatedLoadingIndicator"></div>
{{else}}
  <div class="no-results">
    {{#t "no_groups"}}There are currently no groups in this group set. Add a group to get started.{{/t}}
  </div>
{{/ifAny}}
<div class="no-results hidden">
  {{#t "no_matching_groups"}}There are no groups that match your current search term.{{/t}}
</div>
