#assignment_group_weights_dialog {
  table {
    width: 100%;
  }
  th, td {
    padding: 2px 10px;
  }
  td {
    width: 1px;
    white-space: nowrap;
  }
  tbody tr {
    border: solid #ccc;
    border-width: 1px 0;
  }
  tfoot {
    th, td {
      font-weight: bold;
    }
  }
  .group_weight {
    width: 50px;
  }
}
