@import 'base/environment';

.MoveDialog__folderItem--selected {
  background-color: $base-list-item-background--selected
}

.MoveDialog__folderItem--focused {
  & > .treeLabel {
    background-color: $base-list-item-background--hover
  }
}
