@import 'base/environment';

.tree {
  font-size: 12px;
  &, ul {
    @include reset-list;
  }
  ul { margin-left: 8px; }
  li a {
    padding-bottom: 2px;
    display: flex;
    white-space: nowrap;
    &.active { background-color: $activeBG; }
  }
  .preview-thumbnail-holder {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding-right: 6px;
    .preview-thumbnail {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .icon-folder:before {
    font-size: 11px;
  }

  i[class*=icon-], i[class^=icon-] { color: $ic-font-color-dark }

  .icon-mini-arrow-right { transition: transform 0.2s }
  .expanded .icon-mini-arrow-right { transform: rotate(90deg) }
}

