.immersiveView {
  width: 100%;
  height: calc(100vh - 55px); /* 55px => Canvas header height */
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

.immersiveView [data-media-player] {
  --radius-3: 0;
}

.immersiveView form {
  margin-bottom: 0; /* Fixing Search bar in Transcript panel, overriding global styles */
}

@media (min-width: 768px) {
  .immersiveView {
    gap: 2.25rem;
  }

  .immersiveView [data-media-player] {
    --radius-3: 0.625rem;
  }
}

.immersiveViewContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.immersiveViewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem 0.75rem;
}

@media (min-width: 768px) {
  .immersiveViewHeader {
    padding: 0;
  }
}

.immersiveViewTitle {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.375rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .immersiveViewTitle {
    font-size: 2.25rem;
    font-weight: 700;
  }
}

.immersivViewTranscript {
  flex: 1;
  min-height: 0;
}

.noWrapText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideElement {
  display: none;
}
