<div class="show-content" style="margin-top: 30px">
  <p>
  Braven has a partnership with LinkedIn to help you build your professional network and to stay up to date on your accomplishments.
  </p>
  <p>
  In order for us to do that, <strong>please click the button below</strong> to authorize access your LinkedIn data.
  </p>
  <p>
  <br />
  <a class="btn btn-small" style="margin-left: 20px" href="/oauth?service=linked_in&amp;return_to=<%= @host_url %>%2Fbz%2Flinked_in_auth">
    <img src="/dist/images/linked_in_icon-760b214e84.png" alt="Authorize LinkedIn Access">&nbsp;AUTHORIZE ACCESS TO LINKEDIN
  </a>
  </p>
</div>
