<table id="instant-survey-report">
	<caption>Survey Stats for <%= @name %></caption>
	<tr><th>Option</th><th>Votes</th></tr>
	<tr>
	<% @result.each do |row| %>
	  <td><%= row["value"] %></td>
	  <td><%= row["cnt"] %></td>
	<% end %>
	</tr>
</table>
