<%
# Copyright (C) 2022 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex,nofollow" />
  <title>Canvas LTI PostMessageForwarding</title>
  <script>
    window.ENV = { PARENT_ORIGIN: <%= raw @parent_origin.to_json %> }
  </script>
</head>
<body>
  <script src="<%= javascript_path("/javascripts/lti_post_message_forwarding.js") %>"></script>
</body>
</html>
