<div id="mathquill-view">
  <p class="screenreader-only" role="alert">{{#t "#editor.screen_reader_tip"}}
  Screen reader users: The most accessible way to use this editor is to switch
  to the advanced view, and then either enter LaTeX directly, or use the
  toolbar to assist you in doing so. The link to switch to the advanced view
  can be found near the end of this dialog, directly before the edit field.
{{/t}}</p>
  <div class='mathquill-toolbar'>
  </div>
  <div class='math-toggle'>
    <a href="#" class='math-toggle-link'>
      {{#t "#editor.switch_to_mathquill"}}Switch View to Advanced{{/t}}
    </a>
  </div>
  <div id="mathquill-container">
  </div>
</div>
<div id="mathjax-view">
  <div class='mathquill-toolbar'>
  </div>
  <div class='math-toggle'>
    <a href="#" class='math-toggle-link'>
      {{#t "#editor.switch_to_mathjax"}}Switch View to Basic{{/t}}
    </a>
  </div>
  <textarea id='mathjax-editor'
    aria-label="{{#t "#editor.mathjax_text_entry_field_label"}}Enter the equation as LaTeX.{{/t}}"
  >
  </textarea>
  <br/>
  <span id='mathjax-preview'>
  </span>
  <div id="mathjax-message">
  </div>
</div>
