<% @routes.each do |route| %>
<% route_path = route.segments.inject("") { |str,s| str << s.to_s }.sub(/\(\.:format\)\?/, '').sub(/\/$/, '')
   next if route_path =~ /\.json$/ %>
<h3 class='endpoint'>
  <%= route.conditions[:method].to_s.upcase %> <%= route_path %>
</h3>
<% end %>
