<% @routes.each do |route| %>
  <% route_path = route.path.spec.to_s.sub("(.:format)", "")
     if CANVAS_RAILS4_2
       if route.verb.source =~ /\^?(\w*)\$/
         verb = $1.upcase
       else
         verb = route.verb.source
       end
     else
       verb = route.verb
     end
     next if route_path =~ /\.json$/ %>
  <h3 class='endpoint'>
    <%= verb %> <%= route_path %>
  </h3>
<% end %>
