.page-editor-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.page-editor-container .toolbar-area {
  position: sticky;
  align-self: start;
  top: 36px;
}

.page-editor-container .editor-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
