<dl class="dl-horizontal">
  <dt>{{#t}}Calculation Method{{/t}}:</dt>
  <dd>{{method}}</dd>

  <dt class="example">{{#t}}Example{{/t}}: </dt>
  <dd id="calculation_int_example" class="example">{{exampleText}}</dd>

  <dt class="example">
    <span aria-hidden="true">{{#t}}1- Item scores{{/t}}: </span>
    <span class="screenreader-only">{{#t}}Example item scores{{/t}}: </span>
  </dt>
  <dd class="example">{{exampleScores}}</dd>

  <dt class="example">
    <span aria-hidden="true">{{#t}}2- Final score{{/t}}: </span>
    <span class="screenreader-only">{{#t}}Example final score{{/t}}</span>
  </dt>
  <dd class="example">{{nf exampleResult format="outcomeScore"}}</dd>
</dl>
