html * {
  scroll-behavior: smooth;
}

.block-editor-editor {
  --active-border-color: var(--ic-brand-primary); /*rgba(38,128,235,1); */
  --hover-border-color: #ababab;

  transition: width 0.3s ease-in-out;
}

.block-editor-editor, .block-editor-editor * {
  box-sizing: border-box;
}

.block-editor-view {
  container-type: inline-size;
  container-name: block-editor-view;
}


.toolbox-item:hover {
  outline: 1px solid var(--ic-brand-primary);
}

.font0 {font-family: lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.font1 {font-family: 'Balsamiq Sans', lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.font2 {font-family: 'Architects Daughter', lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.font4 {font-family: georgia, palatino;}
.font5 {font-family: tahoma, arial, helvetica, sans-serif;}
.font6 {font-family: 'times new roman', times;}
.font7 {font-family: 'trebuchet ms', geneva;}
.font8 {font-family: verdana, geneva;}

.page-block {
  background: transparent;
  padding: 16px;
  min-height: 10rem;
}

.colorPalette {
  box-sizing: border-box;
  height: 20px;
  width: 102px;
  border-color: black;
  border-width: 1px;
  border-style: none none none solid;
}

.colorPalette__color {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 25px;
  border-color: black;
  border-width: 1px;
  border-style: solid solid solid none;
}

.block-editor-editor .block-toolbar {
  position: fixed;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.25rem;
  background-color: #f6f6f7; /* need to find css vars */
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2),0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.block-menu {
  position: fixed;
  border-radius: 0.25rem;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.375rem 0.4375rem, rgba(0, 0, 0, 0.25) 0px 0.625rem 1.75rem;
}

.form-horizontal .block-editor-editor label{
    display: flex; /* fix instui RadioInputs */
}

.empty::before {
  content: attr(data-placeholder);
  color: #ababab;
  pointer-events: none;
  /*float: left;*/
}

[contenteditable="true"]:focus-visible {
  outline: var(--ic-brand-primary) auto 1px;
  outline-offset: 2px;
}

.selected, .hovered {
  outline-offset: 1px;
  outline-width: 1px;
  outline-style: dashed;
  border-style: none;
}

.selected {
  outline-color: var(--active-border-color);
  outline-style: solid;
}

.hovered {
  outline-color: var(--hover-border-color);
}


.block-header {
  display: flex;
  justify-items: start;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #1A2729;
  color: #fff;
  .block-header-text {
    font-weight: bold;
  }
}

.container-block > .selected, .container-block > .hovered {
  outline-offset: 5px;
}

.container-block {
  position: relative;
  padding: .25rem;
  min-height: 2.5rem;
  &.empty {
    border: 1px dotted #ababab;
  }
}

.paragraph-block {
  min-height: 1.5rem;
  line-height: 1.5rem;
}

.resource-card {
  display: inline-block;
  break-inside: avoid;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid black;
  width: 256px;
  height: 204px;
}

/* the <li>s in course nav are .section also */
.block-editor-editor .section {
  margin-block-end: .5rem;
}

.resources-section__inner {
  position:relative;
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-flow: row wrap;
}

.columns-section {
  min-height: 1.5rem;
  line-height: 1.5rem;
  &.fluid {
    .columns-section__inner {
      position: relative;
      column-gap: 1rem;
    }
    &.columns-1 .columns-section__inner {
      column-count: 1;
    }
    &.columns-2 .columns-section__inner {
      column-count: 2;
    }
    &.columns-3 .columns-section__inner {
      column-count: 3;
    }
    &.columns-4 .columns-section__inner {
      column-count: 4;
    }
  }
  &.fixed {
    display: grid;
    gap: 1rem;
    .columns-section__inner {
      position: relative;
    }
    &.columns-1 {
      grid-template-columns: 1fr;
    }
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.enabled .columns-section.fluid .columns-section__inner {
  column-rule: 2px dotted var(--active-border-color);
}

.columns-section .columns-section__inner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.5rem;  /* half the gap */
  width: 1;
}

.enabled .columns-section .columns-section__inner::after {
  border-left: 2px dotted var(--active-border-color);
}

.columns-section .columns-section__inner:last-child::after {
  border-style: none;
}

.hero-section {
  .hero-section__inner-start {
    overflow: hidden;
    .hero-section__text {
      .text-half__inner {
        padding: 0.5rem;
        min-height: 287px;
      }
    }
  }
  .hero-section__inner-end {
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
}

.about-section {
  padding: 0.5rem;
  .about-section__inner-end {
    img {
      max-width: 100%;
    }
  }
}
.navigation-section {
  .navigation-section__inner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
  }
}

.footer-section__inner {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.text-block {
  max-width: 100%;
  text-wrap: balance;
  &.enabled {
    text-wrap: stable;
  }
}

.question-block {
  border: 1px solid #1A2729;
  border-radius: 1rem;
  margin: 0.5rem 0;
  overflow: hidden;
  .question-block__body {
    padding: 0.5rem;
    border-radius: 1rem;
  }
}
/* when displayed as a RadioInput label */
.question-block p, .question-option p {
  margin: 0;
}

.queston-block__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.matching-question__question {
  display: flex;
  align-items: center;
  .matching-question__left {
    flex: 0 1 100%;
    white-space: nowrap;
    background-color: rgb(245, 245, 245);
    border: 0.0625rem solid rgb(199, 205, 209);
    padding: 0.5rem;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-wrap: wrap;
  }

  .matching-question__center {
    flex: 0 1 100%;
    padding: 0px;
    flex-shrink: 1.3;
    border-bottom: 0.125rem solid rgb(45, 59, 69);
  }

  .matching-question__right{
    flex: 0 1 100%;
    padding-left: 0px;
    min-width: 0px;
  }

  .matching-question__left > *, .matching-question__right > * {
    flex: 0 1 100%;
    padding: 0.5rem;
  }
}

.iframe-block {
  position: relative;
  box-sizing: border-box;
  min-width: 450px;
  min-height: 250px;
  z-index: 1;
  border: 1px solid #1A2729;
  border-radius: 1rem;
  margin: 0.5rem 0;
  overflow: hidden;
}


/*
.iframe-block__overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.1);
}
*/

.iframe-block iframe {
  width: 100%;
  height: 100%;

}

@container block-editor-view (320px < width <= 768px) {
  .columns-section {
    &.fluid {
      &.columns-3 .columns-section__inner,
      &.columns-4 .columns-section__inner {
        column-count: 2;
      }
    }
    &.fixed {
      &.columns-3,
      &.columns-4 {
        grid-template-columns:  1fr 1fr;
      }
    }
  }
}

@container block-editor-view (width <= 320px) {
  .page-block {
    padding: 0;
  }
  .columns-section {
    &.fluid {
      &.columns-1 .columns-section__inner,
      &.columns-2 .columns-section__inner,
      &.columns-3 .columns-section__inner,
      &.columns-4 .columns-section__inner {
        column-count: 1;
      }
    }
    &.fixed {
      &.columns-1,
      &.columns-2,
      &.columns-3,
      &.columns-4 {
        grid-template-columns:  1fr;
      }
    }
  }
  .hero-section {
    .hero-section__inner-start {
      .hero-section__text {
        .text-half__inner {
          h2 {
            font-size: 3.5rem; /* so "Welcome!" fits */
          }
        }
      }
    }
  }
  .question-block {
    .matching-question__question {
      flex-wrap: wrap;
      .matching-question__center {
        border-bottom-style: none;
      }
    }
  }
}


