@import "sass-functions/ensure-contrast";
@import "base/variables";
@import "./variables";
@import "./summary_statistics";
@import "./question_statistics";
@import "../../vendor/css/jquery.qtip";
@import "./ext/qtip";
@import "./components/ic_spinner";

#canvas-quiz-statistics {
  border-top: 1px solid $borderColor;
  padding: 25px 35px 55px 35px;

  header.padded {
    padding: $whitespace*2 0;
    line-height: 34px;
  }

  .inline {
    display: inline-block;

    &.sighted-user-content[hidden] {
      display: inline-block;
    }
  }

  .section-title {
    line-height: 1;
    font-weight: bold;
  }

  .answer-set-tabs {
    margin: $whitespace*2 0;

    button {
      display: inline-block;
      background: $inactiveBg;
      color: $inactiveFg;
      font-weight: bold;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;

      & + button {
        margin-left: $whitespace / 2;
      }

      &.active, &:hover {
        background: $activeBg;
        color: $activeFg;
        cursor: pointer;
      }
    }
  }

  .erratic-statistics {
    text-align: center;
    margin-top: 20px;

    img {
      height: 35px;
      width: 218px;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 0;
      line-height: 22px;
      font-size: 14.5px;
    }
  }

  .sighted-user-content[hidden] {
    display: inherit;
  }
}
