<p>{{#t "edit_sections_desc"}}Sections are an additional way to organize users. This can allow you to teach multiple classes from the same course, so that you can have the course content all in one place. Below you can move a user to a different section, or add/remove section enrollments. Users must be in at least one section at all times.{{/t}}</p>

<input id="section_input" name="sections" data-finder_url="{{sectionsUrl}}" type="text" style="display:none;">

<ul id="user_sections"></ul>
