<p>{{#t "link_student_desc"}}When an observer is linked to a student, they have access to that student's grades and course interactions.{{/t}}</p>

<p>{{#t}}To link the course observer <b>{{name}}</b> to a student, start typing the student's name below to find them and then click Update.{{/t}}</p>

<input id="student_input" name="students" data-finder_url="{{studentsUrl}}" type="text" style="display:none;">
