<option value="">{{#t "all_roles"}}All Roles{{/t}}</option>
    {{#each roles}}
    <option value="{{id}}" {{#ifEqual id ../selectedRole}} selected="selected" {{/ifEqual}}>{{label}} ({{count}})</option>
    {{/each}}


