<div class="outcome-gradebook-sidebar">
  <div class="outcome-gradebook-sidebar-header">
    <a href="#" class="icon-arrow-open-right sidebar-toggle">
      <span class="screenreader-only">{{#t "toggle_sidebar"}}Toggle Sidebar{{/t}}</span>
    </a>
  </div>

  <div class="outcome-gradebook-sidebar-content">
    <ul class="checkboxes unstyled">
      <li>{{view exceeds}}</li>
      <li>{{view mastery}}</li>
      <li>{{view near-mastery}}</li>
      <li>{{view remedial}}</li>
    </ul>
    <ul class="operations unstyled" >
      <li class="operation-view">
        <a href="#" class="export-content icon-export-content">
          <span class="operation-label">{{#t}}Export report{{/t}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="outcome-gradebook-wrapper"></div>
