---
ai_experiences:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: AI Experiences
  description: Introduces AI Experiences - a new Canvas Learning Object.
  touch_context: true
  environments:
    ci:
      state: allowed_on
    development:
      state: allowed_on
ai_experiences_student_view:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: AI Experiences Student View
  description: Enables the student view for AI Experiences.
  touch_context: true
