---
analytics2_api_access:
  state: hidden
  applies_to: RootAccount
  display_name: New Analytics API Access
  description: Enables new API endpoints for the course and user data provided by New Analytics.
datadog_rum_js:
  state: hidden
  applies_to: SiteAdmin
  display_name: Datadog RUM JS Agent
  description: Include the Datadog RUM JS Agent in the document HEAD.
missing_policy_applicator_emits_live_events:
  state: hidden
  applies_to: RootAccount
  display_name: Missing Policy Applicator Emits Live Events
  description:
    Allows the missing policy applicator to emit submission_updated live events for each submission
    marked as missing.
disable_post_to_sis_when_grading_period_closed:
  state: hidden
  applies_to: RootAccount
  display_name: Disable Post to SIS for Assignment in Closed Grading Periods
  description:
    If set, turns off post-to-SIS functionality for assignments when their grading period closes.
    Only applies if the "Enable new SIS integration settings" feature is enabled.
responsive_student_grades_page:
  state: hidden
  applies_to: RootAccount
  display_name: Responsive Student Grades Page
  description: Makes the student grades page responsive.
view_ungraded_as_zero:
  type: setting
  state: hidden
  applies_to: Account
  display_name: View Ungraded as Zero View in Gradebook
  description:
    The Gradebook will factor in ungraded submissions as if they were given a score of zero for
    calculations. This is just a view for the teacher, and does not affect actual scoring.
grade_calc_ignore_unposted_anonymous:
  state: hidden
  applies_to: RootAccount
  display_name: Ignore Unposted Anonymous Assignments in Grade Calculation
  description:
    If set, the grade calculator will ignore unposted anonymous assignments when calculating
    totals.
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
    development:
      state: on # enable for local development
    test:
      state: on # enable for the deployed 'test' environment
enhanced_gradebook_filters:
  beta: true
  state: allowed
  applies_to: Course
  root_opt_in: true
  display_name: Enhanced Gradebook Filters
  description:
    wrapper: <a href="https://community.canvaslms.com/t5/Gradebook-Filters/gh-p/Gradebook-Filters">\1</a>
    enhanced_gradebook_filters_description:
      This feature provides enhanced filtering options in the Canvas gradebook. When
      this flag is enabled, early access to ongoing improvements will be displayed
      automatically with every release. For full details, please see the *Gradebook
      Filters User Group* in the Canvas Community.
message_observers_of_students_who:
  state: hidden
  applies_to: SiteAdmin
  display_name: Message Observers of Students Who...
  description: Enables a redesigned Message Students Who... dialog that allows
    for messaging observers in addition to students.
apply_score_to_ungraded:
  state: hidden
  applies_to: Account
  display_name: Apply Score to Ungraded
  description: Allows instructors to apply scores to ungraded submissions en masse from assignment
    group and Total column menus in the Gradebook.
  environments:
    development:
      state: allowed
enhanced_grade_statistics:
  state: hidden
  applies_to: SiteAdmin
  display_name: Show quartiles for grades and use them for box and whiskers
  description: Updates the student-facing assignment statistics to include quartiles and makes the
    box-and-whiskers plot a proper box and whiskers plot.
submission_comment_emojis:
  state: hidden
  display_name: Emojis in Submission Comments
  description: Adds an emoji picker that allows students and teachers to add emojis to
    their submission comments.
  applies_to: Course
  root_opt_in: true
  environments:
    ci:
      state: allowed_on # enable for automated testings builds and local testing
    development:
      state: allowed_on # enable for local development
updated_mastery_connect_icon:
  state: hidden
  applies_to: SiteAdmin
  display_name: Updated Mastery Connect Icon
  description: If set, displays updated mastery connect icon
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
    development:
      state: on # enable for local development
    test:
      state: on # enable for the deployed 'test' environment
visibility_feedback_student_grades_page:
  state: hidden
  applies_to: SiteAdmin
  display_name: Improve Feedback on Students Grade Page
  description: Students will be able to more easily recognize when
    feedback has been provided by an instructor/grader ...
peer_reviews_for_a2:
  state: hidden
  applies_to: Course
  display_name: Peer Review Support in Assignment Enhancements
  description: Students will be able to provide feedback on another student's assignment submission
    using the enhanced assignment view
assignment_missing_shortcut:
  state: hidden
  applies_to: SiteAdmin
  display_name: Keyboard Shortcut for Missing Assignment
  description: Allows graders to type MI in the Gradebook or SpeedGrader to manually tag an assignment as missing
originality_reports_for_a2:
  state: hidden
  applies_to: SiteAdmin
  display_name: Originality Reports with Assignment Enhancements
  description: If set, displays originality reports with Assignment Enhancements turned on
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
    development:
      state: on # enable for local development
    test:
      state: on # enable for the deployed 'test' environment
single_new_quiz_session_in_speedgrader:
  state: hidden
  applies_to: SiteAdmin
  display_name: Single Quizzes.Next Session in SpeedGrader
  description: If set, Quizzes.Next will operate using a single launch session in SpeedGrader
  environments:
    ci:
      state: allowed_on # enable for automated testing builds and local testing
    development:
      state: allowed_on # enable for local development
    test:
      state: allowed_on # enable for the deployed 'test' environment
new_quizzes_grade_by_question_in_speedgrader:
  state: hidden
  applies_to: SiteAdmin
  display_name: Quizzes.Next Grade by Question in SpeedGrader
  description: Adds the option to grade by question in SpeedGrader for Quizzes.Next Quizzes
  environments:
    ci:
      state: allowed_on
    development:
      state: allowed_on
proxy_file_uploads:
  state: hidden
  applies_to: SiteAdmin
  display_name: Submit on Behalf of Student
  description: Allows teachers with the proper permissions to submit file upload assignments
    on behalf of their students.
  environments:
    ci:
      state: allowed_on # enable for automated testings builds and local testing
deprioritize_section_overrides_for_nonactive_enrollments:
  state: hidden
  applies_to: SiteAdmin
  display_name: Deprioritize Section Overrides for Nonactive Enrollments
  description: If set, deprioritizes using due dates, lock dates, and unlock dates from
    section overrides on an assignment that are associated with a deactivated, concluded, or
    otherwise non-active enrollment for a student.
  environments:
    ci:
      state: allowed_on # enable for automated testing builds and local testing
    development:
      state: allowed_on # enable for local development
    test:
      state: allowed_on # enable for the deployed 'test' environment
additional_speedgrader_links:
  state: hidden
  applies_to: SiteAdmin
  display_name: Add SpeedGrader links to Assignments and Quizzes index views
  description: Reorders some menu options for more consistency and adds link
    to SpeedGrader.
  environments:
    ci:
      state: allowed_on # enable for automated testing builds and local testing
    development:
      state: allowed_on # enable for local development
    test:
      state: allowed_on # enable for the deployed 'test' environment
new_quiz_deleted_workflow_restore_pending_review_state:
  state: hidden
  applies_to: SiteAdmin
  display_name: New Quiz deleted user restore pending review state on enroll
  description: When set, determines if the workflow state of a new quiz should be
    set as graded or pending_review if a user had a previous pending_review new quiz but
    had been re-enrolled in the course.
  environments:
    ci:
      state: allowed_on # enable for automated testing builds and local testing
    development:
      state: allowed_on # enable for local development
    test:
      state: allowed_on # enable for the deployed 'test' environment
individual_gradebook_enhancements:
  state: hidden
  applies_to: RootAccount
  display_name: Individual Gradebook Enhancements
  description: This feature introduces performance and maintenance enhancements
    to Individual Gradebook
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
    development:
      state: on # enable for local development
    test:
      state: on # enable for the deployed 'test' environment
