---
analytics2_api_access:
  state: hidden
  applies_to: RootAccount
  display_name: New Analytics API Access
  description: Enables new API endpoints for the course and user data provided by New Analytics.
datadog_rum_js:
  state: hidden
  applies_to: SiteAdmin
  display_name: Datadog RUM JS Agent
  description: Include the Datadog RUM JS Agent in the document HEAD.
missing_policy_applicator_emits_live_events:
  state: hidden
  applies_to: RootAccount
  display_name: Missing Policy Applicator Emits Live Events
  description:
    Allows the missing policy applicator to emit submission_updated live events for each submission
    marked as missing.
disable_post_to_sis_when_grading_period_closed:
  state: hidden
  applies_to: RootAccount
  display_name: Disable Post to SIS for Assignment in Closed Grading Periods
  description:
    If set, turns off post-to-SIS functionality for assignments when their grading period closes.
    Only applies if the "Enable new SIS integration settings" feature is enabled.
final_grade_override_in_gradebook_history:
  state: hidden
  applies_to: SiteAdmin
  display_name: Final Grade Override in Gradebook History
  description: Includes overridden course grades in the Gradebook History.
responsive_student_grades_page:
  state: hidden
  applies_to: RootAccount
  display_name: Responsive Student Grades Page
  description: Makes the student grades page responsive.
view_ungraded_as_zero:
  type: setting
  state: hidden
  applies_to: Account
  display_name: View Ungraded as Zero View in Gradebook
  description:
    The Gradebook will factor in ungraded submissions as if they were given a score of zero for
    calculations. This is just a view for the teacher, and does not affect actual scoring.
import_override_scores_in_gradebook:
  state: hidden
  applies_to: SiteAdmin
  display_name: Import Override Scores in Gradebook
  description: Allows the Gradebook importer to recognize and apply changes to override scores.
gradebook_load_assignments_by_grading_period:
  state: hidden
  applies_to: SiteAdmin
  display_name: Load Gradebook Assignments by Grading Period
  description:
    If set, the Gradebook will chunk out loading of assignments, loading those for the selected
    grading period first.
grade_calc_ignore_unposted_anonymous:
  state: hidden
  applies_to: RootAccount
  display_name: Ignore Unposted Anonymous Assignments in Grade Calculation
  description:
    If set, the grade calculator will ignore unposted anonymous assignments when calculating
    totals.
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
    development:
      state: on # enable for local development
    test:
      state: on # enable for the deployed 'test' environment
use_cloudfront_for_docviewer:
  state: hidden
  applies_to: SiteAdmin
  display_name: Use CloudFront for DocViewer
  description: Request that DocViewer use CloudFront for serving pdf assets.
annotated_document_submissions:
  state: hidden
  applies_to: SiteAdmin
  display_name: Student Annotation submissions
  description: Ability to submit student annotation assignments.
gradebook_csv_export_order_matches_gradebook_grid:
  state: hidden
  applies_to: SiteAdmin
  display_name: Gradebook CSV Export Assignment Order Matches the Gradebook Grid
  description: If set, the order of assignments in Gradebook CSV exports will
    match the order in the Gradebook grid.
  environments:
    ci:
      state: on # enable for automated testings builds and local testing
edit_submission_status_from_speedgrader:
  state: hidden
  applies_to: SiteAdmin
  display_name: Edit Submission Status from Speedgrader
  description: If set, allows submission status to be changed from inside of
    Speedgrader
enhanced_gradebook_filters:
  state: hidden
  applies_to: SiteAdmin
  display_name: Enhanced Gradebook Filters
  description: Improved filtering of students and assignments in Gradebook.
remove_gradebook_student_search_delay:
  state: hidden
  applies_to: SiteAdmin
  display_name: Remove Delay for Gradebook Student Search
  description: If set, removes the delay that normally occurs when searching for students.
gradebook_assignment_search_and_redesign:
  state: hidden
  applies_to: SiteAdmin
  display_name: Gradebook Assignment Search And Redesign
  description: Search assignments in Gradebook and new design for assignment
    and student search
visible_assignments_scope_change:
  state: hidden
  applies_to: SiteAdmin
  display_name: Visible Assignments Scope Change
  description: Reverts the visible assignments scope to its original form
message_observers_of_students_who:
  state: hidden
  applies_to: SiteAdmin
  display_name: Message Observers of Students Who...
  description: Enables a redesigned Message Students Who... dialog that allows
    for messaging observers in addition to students.
