---
analytics2_api_access:
  state: hidden
  applies_to: RootAccount
  display_name: New Analytics API Access
  description: Enables new API endpoints for the course and user data provided by New Analytics.
gradebook_export_sort_order_bugfix:
  state: hidden
  applies_to: SiteAdmin
  display_name: Gradebook Export Sort Order Bugfix (Tally-219)
  description: Changes the sort order of the gradebook export to more closely match the canvas documentation
include_speed_grader_in_assignment_header_menu:
  state: hidden
  applies_to: SiteAdmin
  display_name: Include SpeedGrader in Assignment Header Menu
  description: Includes a link to SpeedGrader in the assignment header menu in Gradebook.
datadog_rum_js:
  state: hidden
  applies_to: SiteAdmin
  display_name: Datadog RUM JS Agent
  description: Include the Datadog RUM JS Agent in the document HEAD.
gradebook_dataloader_improvements:
  state: hidden
  applies_to: SiteAdmin
  display_name: Gradebook Data Loading Performance Improvements
  description: Performance improvements for loading data into Gradebook.
  environments:
    ci:
      state: on
    development:
      state: on
    test:
      state: on
missing_policy_applicator_emits_live_events:
  state: hidden
  applies_to: RootAccount
  display_name: Missing Policy Applicator Emits Live Events
  description: Allows the missing policy applicator to emit submission_updated live events for each submission
    marked as missing.
disable_post_to_sis_when_grading_period_closed:
  state: hidden
  applies_to: RootAccount
  display_name: Disable Post to SIS for Assignment in Closed Grading Periods
  description: If set, turns off post-to-SIS functionality for assignments when their grading period closes.
    Only applies if the "Enable new SIS integration settings" feature is enabled.
final_grade_override_in_gradebook_history:
  state: hidden
  applies_to: SiteAdmin
  display_name: Final Grade Override in Gradebook History
  description: Includes overridden course grades in the Gradebook History.
responsive_student_grades_page:
  state: hidden
  applies_to: RootAccount
  display_name: Responsive Student Grades Page
  description: Makes the student grades page responsive.
view_ungraded_as_zero:
  state: hidden
  applies_to: SiteAdmin
  display_name: View Ungraded as Zero View in Gradebook
  description: The Gradebook will factor in ungraded submissions as if they were given a score of zero for
    calculations. This is just a view for the teacher, and does not affect actual scoring.
fix_missing_policy_grade_change_records:
  state: hidden
  applies_to: SiteAdmin
  display_name: Fix Missing Policy Grade Change Records
  description: Insert a grade change record when the periodic MissingPolicyApplicator job runs on a submission.
