---
default_recaptcha_registration_enable:
  type: setting
  state: hidden
  display_name: Enable Recaptcha by default for self-registration
  description: Requires Recaptcha for self-registration by default
  applies_to: SiteAdmin
course_templates:
  state: hidden
  applies_to: RootAccount
  display_name: Course Templates
  description: Enables the Course Templates feature globally
persist_inferred_authentication_providers:
  state: hidden
  applies_to: RootAccount
  display_name: Require Authentication Provider on Logins
  description: Persists the used authentication provider when logging in, and defaults new logins to the default provider
allow_unconfirmed_users_in_user_list:
  type: setting
  state: hidden
  applies_to: RootAccount
  display_name: Allow Unconfirmed E-mail Addresses When Adding Users
  description: This is technicaly a security vulnerability, but some schools need to preserve their workflows for a while.
course_admin_role_masquerade_permission_check:
  state: allowed
  applies_to: RootAccount
  display_name: Check permissions when Masquerading as Course Admins
  description: When masquerading as Course Admin Roles (Teacher/TA/Designer base role), Canvas will ensure the masquerading user has all of the same (or more) permissions as the target user.
temporary_enrollments:
  state: hidden
  display_name: Temporary Enrollments
  description: Users can temporarily enroll another user in a course. The assigned user is removed from the course when the enrollment expires.
  applies_to: RootAccount
instui_nav:
  state: hidden
  applies_to: RootAccount
  display_name: New InstUI navbar
  description: This is a new navbar being implemented with react router in mind
password_complexity:
  state: hidden
  applies_to: RootAccount
  display_name: Enhance password options
  description: More control over password settings at institution level
default_source_csp_logging:
  state: hidden
  applies_to: RootAccount
  display_name: Default Source Content Security Policy Logging
  description: Set the default-src directive for the Content-Security-Policy-Logging header to 'self' and log violations
  shadow: true
course_archival:
  state: hidden
  applies_to: RootAccount
  display_name: Course Archival
  description: Allows for the ability to archive courses
blueprint_item_notifications:
  state: hidden
  applies_to: Account
  display_name: Blueprint Item Notifications
  description: Adds an option that allows teachers and students to receive new-item notifications for content synced from the blueprint course
migrate_assignment_group_categories:
  state: hidden
  applies_to: Course
  display_name: Preserve Group Set During Assignment or Discussion Copy
  description: When copying a group assignment or discussion topic to another course, a group set set with the same name is created in the destination course if no matching group set exists
