jobs_v2:
  state: allowed
  display_name: Jobs v2
  description: |-
    New and improved jobs control panel
  applies_to: SiteAdmin
feature_flag_test:
  state: allowed
  applies_to: SiteAdmin
  display_name: Test Feature Flag
  description: This flag is a no-op and is only intended for testing.
verify_ldap_certs:
  state: hidden
  shadow: true
  display_name: Verify LDAP TLS certificates
  description: Verify TLS certificates presented by LDAP authentication providers.
  applies_to: Account
admin_manage_access_tokens:
  state: hidden
  display_name: Admin Manage Access Tokens
  description: Limit the ability to manage access tokens to admins only.
  applies_to: RootAccount
login_registration_ui_identity:
  state: hidden
  applies_to: RootAccount
  display_name: New Canvas Login UI
  description: Enable the new Login/Registration UI.  This change is part of our ongoing transition to Instructure Identity Services and represents an important step in modernizing our authentication infrastructure.
  environments:
    development:
      state: allowed
    beta:
      state: hidden
    production:
      state: hidden
force_login_after_logout:
  state: hidden
  applies_to: RootAccount
  display_name: Force Login After Delegated Logout
  description:
    After logging out of Canvas, instruct identity providers to re-authenticate the user on their next login attempt.
    This can prevent unexpected login loops.
enforce_service_token_tenant_matching:
  state: hidden
  applies_to: SiteAdmin
  display_name: Enforce Service Token Tenant Matching
  description: |-
    Enforce that service tokens can only be used within the tenant they were issued for.
  environments:
    development:
      state: allowed
    beta:
      state: hidden
    production:
      state: hidden
federated_pseudonym_attributes:
  state: hidden
  applies_to: SiteAdmin
  display_name: Federated Pseudonym Attributes
  description: Enable to use federated pseudonym attributes (username, SIS user ID) from authentication providers in live events and other Canvas features. When disabled, Canvas will use local pseudonym attributes as fallback.
  environments:
    development:
      state: allowed
    ci:
      state: allowed
saml_enforce_one_time_use:
  state: hidden
  applies_to: RootAccount
  display_name: Enforce SAML OneTimeUse Condition
  description: Enforce the OneTimeUse condition in SAML assertions to prevent replay attacks. You can check if any violations have been seen on the authentication providers page.
  environments:
    development:
      state: allowed
    beta:
      state: hidden
    production:
      state: hidden
