---
# Main flag
horizon_course_setting:
  applies_to: Account
  state: hidden
  display_name: Canvas Career
  description: |-
    Enables the Canvas Career tab in account settings.
  beta: true

# Feature flags read by Horizon app
horizon_role_dashboards:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Role Dashboards"
  description: |-
    Enables role-based dashboards in Canvas Career.
horizon_dashboard_ai_widgets:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Data & Insights AI Widgets"
  description: |-
    Enables the AI widgets in the Canvas Career Data & Insights dashboard.
horizon_hris_integrations:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: HRIS Integrations"
  description: |-
    Enables HRIS integrations in Canvas Career.
horizon_user_profile_page:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: User Profile Page"
  description: |-
    Enables the refreshed user profile page in Canvas Career.
horizon_block_content_editor:
  applies_to: Account
  state: hidden
  shadow: true
  display_name: "Canvas Career: Block Content Editor"
  description: |-
    Enables the block content editor in Canvas Career.
horizon_manual_dashboard_builder:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Manual Dashboard Builder"
  description: |-
    Enables manual dashboard builder in Canvas Career.
horizon_learning_library:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Learning Library"
  description: |-
    Enables the Learning Library in Canvas Career.
horizon_chart_view:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Chart View"
  description: |-
    Enables chart view in Canvas Career.
horizon_native_permissions_page:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Permissions Page"
  description: |-
    Enables native permissions page instead of the Academic iframe in Canvas Career.
horizon_course_academic_switcher:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Course Academic Switcher"
  description: |-
    Handles switching between Canvas Academic and Career in Courses.
horizon_syncable_objects_redesign:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Syncable Objects Redesign"
  description: |-
    Enables the redesigned syncable objects interface in Canvas Career.
horizon_help_navigation:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Help Navigation"
  description: |-
    Enables the help navigation menu in Canvas Career.

# Feature flags read by Canvas
horizon_bulk_api_permission:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Manage Bulk API & Permission"
  description: |-
    Enables the ability to manage bulk API and permission settings in Canvas Career.
horizon_auto_content_ingestion:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Auto Content Ingestion"
  description: |-
    Automatically ingests course files and wiki pages into Pine when a course becomes a Canvas Career course.
horizon_learning_object_ingestion_on_change:
  applies_to: RootAccount
  state: hidden
  shadow: true
  display_name: "Canvas Career: Learning Object Ingestion on Change"
  description: |-
    Automatically ingests course files and wiki pages into Pine when they are created or modified in a Canvas Career course.
