---
assignment_enhancements_teacher_view:
  state: hidden
  applies_to: RootAccount
  display_name: Assignment Enhancements Teacher View (Saved)
  description: Updates to the Teacher saved view of assignments.
assignment_edit_enhancements_teacher_view:
  state: hidden
  applies_to: RootAccount
  display_name: Assignment Enhancements Teacher View (Create/Edit)
  description: Updates to the Teacher create/edit view of assignments.
assign_to_differentiation_tags:
  state: hidden
  applies_to: Account
  beta: true
  display_name: Differentiation Tags
  description: Let instructors tag enrolled users and assign course content based on those tags, supporting more personalized learning experiences.
  environments:
    ci:
      state: allowed_on
    development:
      state: allowed_on
self_signup_deadline:
  state: hidden
  applies_to: Account
  display_name: Self Sign-up Group Deadline - In Development
  description: Currently in development - Allows teachers to set a deadline for students to sign up for a group within a group set.
people_page_modernization:
  state: hidden
  applies_to: Account
  display_name: People Page Modernization
  description: People page modernization
deprecate_context_groups_old_view:
  state: hidden
  applies_to: SiteAdmin
  display_name: Deprecate Legacy View of Context Groups
  description: Removes dead code from the context groups view that is no longer used.
checkpoints_group_discussions:
  state: hidden
  applies_to: Account
  shadow: true
  display_name: Checkpoints Group Discussions
  description: Allows instructors to create group discussions with checkpoints.
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
