---
assignment_enhancements_teacher_view:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: Assignment Enhancements Teacher View (Saved)
  description: Updates to the Teacher saved view of assignments.
assignment_edit_enhancements_teacher_view:
  state: hidden
  applies_to: RootAccount
  shadow: true
  display_name: Assignment Enhancements Teacher View (Create/Edit)
  description: Updates to the Teacher create/edit view of assignments.
self_signup_deadline:
  state: hidden
  applies_to: Account
  display_name: Self Sign-up Group Deadline - In Development
  description: Currently in development - Allows teachers to set a deadline for students to sign up for a group within a group set.
people_page_modernization:
  state: hidden
  applies_to: Account
  shadow: true
  display_name: People Page Modernization
  description: People page modernization
deprecate_context_groups_old_view:
  state: hidden
  applies_to: SiteAdmin
  display_name: Deprecate Legacy View of Context Groups
  description: Removes dead code from the context groups view that is no longer used.
peer_review_allocation:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: Peer Review Allocation
  description: Enable dynamic peer review allocation for a streamlined experience.
peer_review_grading:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: Peer Review Grading
  description: Enable separate due dates and grading for peer reviews on assignments.
ai_experiences:
  state: hidden
  applies_to: Course
  shadow: true
  display_name: AI Experiences
  description: Introduces AI Experiences - a new Canvas Learning Object.
  touch_context: true
  environments:
    ci:
      state: allowed_on
    development:
      state: allowed_on
updated_mastery_connect_icon:
  state: hidden
  applies_to: SiteAdmin
  display_name: Updated Mastery Connect Icon
  description: If set, displays updated mastery connect icon
  environments:
    ci:
      state: allowed_on
    development:
      state: allowed_on
    test:
      state: allowed_on
