---
ags_improved_course_concluded_response_codes:
  state: hidden
  display_name: Better LTI AGS Response Codes for Concluded Courses
  description: |-
    If enabled, the AGS API will return a more helpful response code whenever an LTI
    tool attempts to access or modify data in a course that has already concluded.
    Rather than returning a generic 404 Not Found, the API will instead return a 422
    along with a helpful message indicating that the tool cannot access concluded
    courses.
  applies_to: RootAccount
ags_scores_multiple_files:
  state: hidden
  display_name: Allow multiple file AGS submissions to count as only one submission
  description: |-
    This feature makes it so that when multiple files are submitted together by
    a third party tool via the Assignments and Grade Service API they will be
    grouped as one submission, rather than creating multiple separate submissions.
  applies_to: RootAccount
  environments:
    development:
      state: on
allow_lti_tools_editor_button_placement_without_icon:
  state: hidden
  applies_to: RootAccount
  display_name: Allow LTI tools to have an editor button icon without placement (use default tool icon)
  description: |-
    When disabled, new or updated ContextExternalTool installations (including
    LTI 1.3 tools updated automatically due to updates to their developer keys)
    will have their editor_button placement removed if there is no icon_url or
    canvas_icon_class provided in the settings (legacy behavior). When enabled,
    the placement is not removed, so tools without icons will show a default
    icon (with a color / letter based on tool name and tool/developer key ID).
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
api_auth_error_updates:
  state: hidden
  display_name: Updates to JSON API auth error HTTP code and JSON status field
  description: |-
    If enabled, an "unauthorized" response from the JSON API will return a 403
    (Forbidden) instead of a 401 code, to be more in line with HTTP standards.
    Also, when the API returns a unauthenticated or unauthorized JSON error,
    the "status" field will not be localized; it will always be given in
    English.
  applies_to: SiteAdmin
assignment_edit_placement_not_on_announcements:
  state: hidden
  applies_to: SiteAdmin
  display_name: Allows LTI tools with assignment_edit placement to be launched on Announcements page
  description: When enabled, an LTI tool with the assignment_edit placement will be launched on the Announcement page.
deep_linking_use_window_parent:
  state: hidden
  display_name: Use window.parent in Deep Linking Response
  description: |-
    If enabled, the deep linking response JS will send postMessages
    to window.parent instead of window.top. This enables the deep linking
    response to correctly send content items to New Quizzes, when a tool is
    launched from NQ.
  applies_to: SiteAdmin
  environments:
    development:
      state: allowed_on
    ci:
      state: on
developer_key_consortia_fix_inheritance_logic:
  state: hidden
  applies_to: RootAccount
  shadow: true
  display_name: Consistent inheritance logic for Developer Keys in non-CMC consortia
  description: |-
    When enabled for a child account of a non-centrally managed consortium,
    developer key state and tokens from the consortium parent will not be
    inherited to subaccounts of a consortium child. When disabled, the legacy
    (inconsistent) behavior is followed. This flag applies only to consortium
    _child_ accounts. This flag does not affect centrally-managed consortia in
    any way.
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
developer_key_consortia_stop_tool_management_from_parent:
  state: allowed_on
  applies_to: RootAccount
  shadow: true
  display_name: Prevent non-CMC consortium parent dev key from affecting tools in children
  description: |-
    When enabled for the parent account of a non-centrally managed consortium,
    turning on/off developer keys in the parent will not affect the tool
    installs of the child accounts. When disabled, turning on/off
    SiteAdmin-inherited developer keys in the parent account of a non-centrally
    managed consortium will affect (delete/restore) tools in the children
    accounts (legacy behavior). This flag applies only to consortium _parent_
    accounts. This flag does not affect centrally-managed consortia in any way.
developer_key_support_includes:
  state: hidden
  display_name: Developer Key Include Parameter Support
  description: Provides a flag on the Developer Key to support Include Parameters on API requests
  applies_to: SiteAdmin
disable_graphql_authentication:
  state: hidden
  display_name: Disable authentication for GraphQL
  description: |-
    If enabled, GraphQL queries will not require
    users to be signed in or use an access token.
  applies_to: SiteAdmin
disable_oembed_retrieve:
  state: hidden
  applies_to: RootAccount
  display_name: Disable oembed_retrieve endpoint
  description: |-
    If enabled, the deprecated oembed_retrieve endpoint will be unavailable.
    This is to ease transitioning any potential users off this endpoint before
    removing it altogether.
  shadow: true
enhanced_developer_keys_tables:
  state: hidden
  applies_to: RootAccount
  display_name: Sort and Filter Developer Keys Tables
  description: |-
    When enabled, allows the tables on the Developer Keys page to be
    sorted and filtered.
  environments:
    development:
      state: allowed_on
    ci:
      state: on
include_oauth_consumer_key_in_lti_launch:
  state: hidden
  applies_to: SiteAdmin
  display_name: Enable Sending OAuth Consumer Key
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
  description: |-
    When enabled, LTI 1.3 launches that would be associated with LTI 1.1 tool
    if the LTI 1.3 tool wasn't present will include the oauth_consumer_key and
    oauth_consumer_key_sign properties as part of the LTI 1.1 claims section.
lti_ags_remove_top_submitted_at:
  state: hidden
  applies_to: RootAccount
  shadow: true
  display_name: Remove top-level submittedAt from LTI AGS Score API
  description: |-
    When enabled, removes support for passing submittedAt as a top-level parameter in an
    LTI AGS Score request, to better conform to LTI AGS spec.
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
lti_assignment_page_line_items:
  state: hidden
  display_name: LTI Deep Linking Line Items on Assignment create/edit page
  description: If enabled, prefills the assignment form with values from deep link messages on the assignment create/edit page.
  applies_to: RootAccount
lti_deep_linking_line_items:
  state: hidden
  display_name: LTI Deep Linking Line Items
  description: If enabled, creates assignments from LineItems in deep link messages.
  applies_to: RootAccount
lti_deep_linking_module_index_menu_modal:
  state: hidden
  display_name: LTI Deep Linking for Module Index Menu
  description: If enabled, allows deep linking from the module index via a modal.
  applies_to: RootAccount
lti_dynamic_registration:
  state: hidden
  display_name: LTI Dynamic Registration
  description: Enables administrators to register LTI tools with Dynamic Registration
  applies_to: RootAccount
lti_find_external_tool_prefer_original_client_id:
  state: hidden
  applies_to: RootAccount
  display_name: Prefer LTI tools with a matching client ID when finding an external tool
  description: |-
    When possible, the LTI tool finding logic will prefer tools installed from the same
    developer key as the original tool. This prevents the edge case where multiple developer
    keys share the same domain, and a tool from the wrong developer key would be matched first.
lti_log_launches:
  state: hidden
  applies_to: RootAccount
  display_name: Log LTI launches
  shadow: true
  description: |-
    When enabled for an account, sends data for all LTI launches to the PandataEvents system
    for querying and visualization. Requires Log LTI launches (Site Admin) to also be enabled.
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
lti_log_launches_site_admin:
  state: hidden
  applies_to: SiteAdmin
  display_name: Log LTI launches (Site Admin)
  shadow: true
  description: |-
    Allows for quickly enabling or disabling LTI launch logging while rolling out
    at the account level.
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
lti_login_required_error_page:
  state: hidden
  applies_to: SiteAdmin
  display_name: Friendly Error Page for LTI Login Required
  description: |-
    When enabled, a friendly error page will be shown to users when they attempt to launch an LTI tool but encounter the
    dreaded Heisenbug caused by missing cookies. See INTEROP-8200 for more background info.
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
lti_multiple_assignment_deep_linking:
  state: hidden
  display_name: LTI Multiple Assignment Deep Linking
  description: If enabled, allows multiple deep link support for assignments and modules.
  applies_to: RootAccount
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
lti_overwrite_user_url_input_select_content_dialog:
  state: on
  applies_to: RootAccount
  display_name: Overwrite user LTI URL input on select content dialog
  description: |-
    If enabled, the user's LTI URL input on the select content dialog will be overwritten
    if the tool responds with a valid LTI URL.
lti_placement_restrictions:
  state: hidden
  applies_to: RootAccount
  display_name: Limit certain LTI placements to authorized tools
  description: |-
    When enabled, Submission_type_selection placement usage will be
    limited with an allow list.
  shadow: true
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
lti_rce_postmessage_support:
  state: hidden
  applies_to: SiteAdmin
  display_name: Support all LTI postMessages from within active RCE
  description: |-
    Respond to all LTI postMessages sent from tools launched within iframes in an active RCE
    window. Supports standard postMessages sent to window.parent and Platform Storage
    messages sent to the sibling post_message_forwarding frame.
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
lti_registrations_discover_page:
  state: hidden
  applies_to: RootAccount
  display_name: LTI Extensions Discover Page
  description: When enabled, the LTI Extensions Discover page will be available in the Extensions view.
  environments:
    development:
      state: hidden
  custom_transition_proc: lti_registrations_discover_page_hook
lti_registrations_page:
  state: hidden
  applies_to: RootAccount
  display_name: LTI Extensions Page
  description: When enabled, the LTI Extensions page will be available in the Account navigation.
  environments:
    development:
      state: hidden
lti_resource_link_id_speedgrader_launches_reference_assignment:
  state: hidden
  applies_to: RootAccount
  display_name: Make SpeedGrader LTI submission launches use assignment (not tool) resource_link_id
  description: |-
    When enabled, LTI 1.1 SpeedGrader launches will set the resource_link_id and
    resource_link_title to the assignment opaque identifier and assignment
    title. With the feature flag off, in SpeedGrader launches, resource_link_id
    and resource_link_title reference the tool (not the assignment) for
    non-NewQuizzes LTI 1.1 tools.
lti_tools_from_federated_parents:
  state: hidden
  display_name: Show LTI tools from federated parent accounts
  description: |-
    If enabled, LTI tools installed in federated parent accounts will be
    available / visible in child accounts.
  applies_to: SiteAdmin
microsoft_group_enrollments_syncing:
  state: hidden
  display_name: Microsoft Group enrollment syncing
  description: |-
    If enabled, syncing course enrollments to Microsoft Groups will be
    available. Account admins may enable this in account settings.
  applies_to: RootAccount
remove_submission_type_selection_from_dev_keys_edit_page:
  state: hidden
  shadow: true
  applies_to: RootAccount
  display_name: Remove submission_type_selection from Dev Keys edit page UI
  description: |-
    When enabled, the submission_type_selection placement will not show up in
    the UI for Dev Keys which do not already have it. Tools can still have the
    placement by editing the JSON, and it will still show up for Dev Keys which
    already have it. This flag is to be removed when after it is completely
    turned on in roughly April-May 2024.
  environments:
    development:
      state: allowed_on
    test:
      state: allowed_on
    ci:
      state: allowed_on
resource_link_uuid_in_custom_substitution:
  state: hidden
  display_name: Use a Resource link's resource_link_uuid in the $ResourceLink.id substitution parameter
  description: |-
    Changes the $ResourceLink.id substitution parameter's behavior
    to include the resource_link_uuid, instead of the resource_id for the line item
  applies_to: RootAccount
tune_lti_context_id_history_query:
  state: hidden
  applies_to: RootAccount
  display_name: Use alternate settings for LTI Context.id.history query
  description: |-
    In some accounts with a large number of content migrations, the query
    that populates the Context.id.history LTI variable expansion may
    time out regardless of the length of the history for that context.
    Enabling this will run the query with different settings that may
    improve performance. Caution: for some accounts where this query
    doesn't already time out, enabling this may cause the query to take
    much longer and even time out.
update_assignment_submission_type_launch_button:
  state: hidden
  applies_to: SiteAdmin
  display_name: Update the assignment submission type launch button
  description: |-
    Update the look of all tools using the submission_type_selection
    placement to be a more modern design in line with the rest of Canvas' UI
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
