---
assignments_2_student:
  state: hidden
  display_name: Assignment Enhancements - Student
  description:
    wrapper: <a href="https://community.canvaslms.com/t5/Assignment-Enhancements-Users/gh-p/student_enhancements">\1</a>
    assignments_2_student_description: This feature enhances the assignment submission and feedback workflow for students. When this flag is enabled, early access to ongoing improvements will be displayed automatically with every release. For full details, please see the *Assignment Enhancements User Group* in the Canvas Community.
  applies_to: Course
  root_opt_in: true
assignments_2_teacher:
  state: hidden
  display_name: Assignments 2 Teacher View
  description: Use the new assignments teacher page
  applies_to: Course
  root_opt_in: true
  beta: false
  environments:
    production:
      state: disabled
new_math_equation_handling:
  state: hidden
  display_name: 'Math: Updated equation handling'
  description: |-
    Replaces the existing image of the math equation plus its hidden mathml
    with a MathJax processed version. This change provides better accessibility
    and many options for the reader to interact with the equation on the page.
  applies_to: RootAccount
inline_math_everywhere:
  state: hidden
  display_name: 'Math: Support LaTex math equations almost everywhere'
  description: |-
    With this feature, LaTex math equations entered into most
    text entry fields in Canvas will be processed by MathJax.
    LaTex delimited by \(...\) become inline equations, while
    $$...$$ will be rendered as a block.  For example,
    you could choose to title an Assignment \(\sqrt{x}\), or
    enter $$ax^2 + by + c = 0$$ in a submission comment.
    This feature requires that the "Math: Updated equation handling"
    flag is also on.
  applies_to: RootAccount
auto_show_cc:
  type: setting
  state: allowed
  display_name: Auto Show Closed Captions
  description: |-
    Automatically show closed captions in the user's current
    language (if available) when playing canvas media.
  applies_to: User
  autoexpand: true
k5_parent_support:
  state: hidden
  display_name: 'Canvas for Elementary: Parent Support'
  description: Enables support for observers within Canvas for Elementary.
  applies_to: SiteAdmin
pace_plans:
  state: hidden
  display_name: 'Pace Plans'
  description: Pace Plans adds support for rolling enrollments to Canvas;
    allowing magical distribution of due dates for students with different
    start dates based on an instructor's defined pace. Learn more and give
    feedback by joining the Pace Plans User Group.
  applies_to: Account
  beta: true
sticky_left_nav:
  state: hidden
  display_name: 'Sticky Left Navigation'
  description: Turns left-side navigation sidebar sticky.
  applies_to: SiteAdmin
notification_settings_course_selector:
  state: hidden
  display_name: 'Notification settings: Course selector'
  description: >-
    Allows modifying notification settings for any course from within the
    account-level notification settings page.
  applies_to: SiteAdmin
create_course_subaccount_picker:
  state: hidden
  applies_to: RootAccount
  display_name: 'Allow sub-account selection when users manually create courses'
  description: |-
    Rather than automatically placing manually created courses into the
    "Manually Created Courses" sub-account, when enabled, this feature allows
    people who can manually create courses to put those courses into any sub-account
    where they have enrollments.
  enable_at: Date.new(2021, 11, 20)
  beta: true
  environments:
    beta:
      enable_at: Date.new(2021, 10, 18)
conferencing_in_planner:
  state: hidden
  applies_to: SiteAdmin
  display_name: Conferencing in planner
  description: |-
    When enabled, this flag shows a "Join" button on Canvas calendar
    events in the student planner
  enable_at: Date.new(2021, 11, 20)
  environments:
    beta:
      enable_at: Date.new(2021, 10, 18)
remember_settings_tab:
  state: hidden
  applies_to: SiteAdmin
  display_name: Remember your settings page tab
  description: |-
    Keep track of which Settings page tab you are on
    so the browser's back button takes you to your previous
    tab, and that refreshing the page will return you to
    the current active tab.
  environments:
    development:
      state: allowed_on
    ci:
      state: allowed_on
submission_feedback_indicators:
  state: allowed
  applies_to: RootAccount
  display_name: Submission feedback indicators
  description: |-
    Adds visual indicators to the submission details page to tell students that unread
    document annotations or rubric comments exist
word_count_in_speed_grader:
  state: hidden
  applies_to: RootAccount
  display_name: 'Add word count to SpeedGrader'
  description: |-
    When enabled, this flag displays a word count in the speed grader for text
    based submissions.
  development:
    state: allowed_on
  ci:
    state: allowed_on
observer_picker:
  applies_to: SiteAdmin
  state: hidden
  display_name: Filter observer dashboard by student
  description: |-
    When enabled, this flag shows a student picker for observers on the dashboard.
calendar_series:
  applies_to: SiteAdmin
  state: hidden
  display_name: Calendar Series
  description: |-
    This flag allows calendar event series to be created from the Canvas Calendar.
