---
outcome_alignment_non_scoring_content:
  state: hidden
  applies_to: RootAccount
  display_name: Outcome alignment to non-scoring content
  description: |-
    Allows aligning outcomes to non-scoring content
  environments:
    production:
      state: disabled
selectable_outcomes_in_course_copy:
  state: hidden
  applies_to: RootAccount
  display_name: "Selectable outcomes during course content migration"
  description: "Allows learning outcomes to be selectable when migrating course content"
limit_section_visibility_in_lmgb:
  state: hidden
  applies_to: RootAccount
  display_name: Restricted view for teachers in LMGB
  description: Hides certain students and sections in the LMGB if the teacher only
    has access to a particular section
outcome_alignments_course_migration:
  state: hidden
  applies_to: RootAccount
  display_name: Outcomes Service Alignment Migration
  description: Includes Outcomes Service alignments when exporting and importing
    course content
account_level_mastery_scales:
  state: hidden
  display_name: Account and Course Level Outcome Mastery Scales
  description: Allows setting Account & Course Level mastery scales and calculation methods,
    replacing per-outcome criterion ratings & calculation methods
  after_state_change_proc: mastery_scales_after_change_hook
  applies_to: RootAccount
usage_rights_discussion_topics:
  state: hidden
  applies_to: RootAccount
  display_name: Usage Rights on Discussion Topics
  description: On courses with usage rights enabled, enforces usage rights
    selection on discussion topic file attachments
improved_outcomes_management:
  state: hidden
  applies_to: RootAccount
  display_name: Improved Outcomes Management
  description: Helps administrators and teachers make more meaningful decisions as they import,
    organize, and edit outcomes in their account and courses.
assignment_comment_library:
  type: setting
  state: hidden
  applies_to: RootAccount
  display_name: Comment Library
  description: Allows users to save and search frequently used feedback in a library of comments to be used in SpeedGrader.
improved_lmgb:
  type: setting
  state: hidden
  applies_to: RootAccount
  display_name: Learning Mastery Gradebook Redesign
  description: Improvements made to enhance the user experience within the Learning Mastery Gradebook.
  beta: true
  environments:
    production:
      state: disabled
    beta:
      state: disabled
outcomes_friendly_description:
  state: hidden
  applies_to: SiteAdmin
  display_name: Outcomes Friendly Description
  description: Allows users to add a friendly description to outcomes for student and parent view
    in the Student Learning Mastery Gradebook.
outcome_service_results_to_canvas:
  state: hidden
  applies_to: Course
  display_name: Outcome Service Results to Canvas Reporting
  description: Allows result data stored in the Outcomes Service to display in Canvas reporting (LMGB, sLMGB and outcome related admin reporting).
outcome_alignment_summary:
  state: hidden
  applies_to: RootAccount
  display_name: Outcome Alignment Summary Tab
  description: Provides a list of alignments for each outcome in a course.
outcome_average_calculation:
  state: hidden
  applies_to: RootAccount
  display_name: Outcome Average Calculation Method
  description: Allows users to use average as a calulcation method for a given outcome.
