---
new_quizzes_migration:
  state: allowed
  display_name: New Quizzes migration during course import/copy
  description: Allow migration of quizzes during course copy and import
  applies_to: RootAccount
  beta: true
migrate_to_new_quizzes_by_default:
  state: allowed
  display_name: New Quizzes migration enabled by default
  description: Sets the default option for course copy and importing to New Quizzes
  applies_to: RootAccount
  beta: true
require_migration_to_new_quizzes:
  state: allowed
  display_name: New Quizzes migration required
  description:  Disable New Quiz importing and migration checkboxes, defaulting them to enabled
  applies_to: RootAccount
  beta: true
new_quizzes_assignment_build_button:
  display_name: New Quizzes Assignment Build Button
  description: Add a Build button on the Assignment edit page for New Quizzes Assignments
  applies_to: SiteAdmin
  state: hidden
new_quizzes_bank_migrations:
  display_name: New Quizzes Banks Migrations
  description: Enable migrating item banks to New Quizzes during course import/copy
  applies_to: SiteAdmin
  state: hidden
  beta: true
  environments:
    production:
      state: hidden
new_quizzes_account_course_level_item_banks:
  display_name: New Quizzes Account and Course Level Item Banks
  description: |-
    If new quizzes is enabled, this allows for the creation and management of item
    banks owned by specific courses and the root account in new quizzes.
  applies_to: SiteAdmin
  state: hidden
new_quizzes_by_default:
  state: allowed
  display_name: Default to New Quizzes
  description: Use New Quizzes as the default quizzing engine. Removes the ability to create classic quizzes.
  applies_to: Course
  visible_on: quizzes_next_visible_on_hook
new_quizzes_allow_service_jwt_refresh:
  state: hidden
  display_name: New Quizzes Service JWT Refresh
  description: Enable New Quizzes to refresh Service JWTs used by RCE
  applies_to: SiteAdmin
  environments:
    development:
      state: allowed_on
new_quizzes_exports:
  state: hidden
  display_name: New Quizzes Export Support
  description: Support exporting New Quizzes in QTI format
  applies_to: SiteAdmin
new_quizzes_migrate_without_content_rewrite:
  state: hidden
  display_name: New Quizzes Migrate Without Content Rewrite
  description: Migrating a single classic quiz will leave HTML rich content fields as-is.
  applies_to: SiteAdmin
  environments:
    development:
      state: allowed_on
