{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Debug with rdebug-ide",
      "type": "Ruby",
      "request": "attach",
      "remoteHost": "127.0.0.1",
      "remotePort": "1234",
      "remoteWorkspaceRoot": "/usr/src/app",
      "cwd": "${workspaceRoot}"
    }
  ]
}
