<% js_bundle :account_grading_standards %>
<% css_bundle :grading_standards, :grading_period_sets, :enrollment_terms %>
<% content_for :page_title, t(:title, "Grading Standards") %>

<div id="react_grading_tabs"></div>
