<label class="checkbox">
  <input type="checkbox" name="{{property}}" id="checkbox-{{cid}}" checked/> <span data-bind="title">{{title}}</span>
</label>

{{#if hasSubCheckboxes }}
  <ul data-content="sublevelCheckboxes"><ul>
{{/if}}
