<div class="control-group externalToolLaunch"></div>
<div class="control-group content">
  <label class="control-label"><strong>{{#t "content"}}Content{{/t}}</strong></label>
  <div class="controls selectContent"></div>
</div>
