<h1>{{#t "header"}}Import Content{{/t}}</h1>
{{#if ENV.DUE_DATE_NAG}}
  <div class="course-dates-nag">
    <i class="icon-warning"></i>
    <div>
      <span>Course start and end date are not currently set.</span>
      Dates are required before importing courses.
      Please set start and end dates on the Settings page before proceeding. 
    </div>
  </div>
{{/if}}

{{#if ENV.NO_AUTO_DATES_NAG}}
  <div class="course-dates-nag">
    <i class="icon-warning"></i>
    <div>
      <span>Auto-due-dates are disabled for future imports.</span>
      Please be aware that when adding content a previously imported/copied course,
      due dates will not be added and content will need to be manually sequenced.
    </div>
  </div>
{{/if}}

<div class="control-group">
  <label class="control-label" for="chooseMigrationConverter"><strong>{{#t "import_from_label"}}Content Type{{/t}}</strong></label>
  <div class="controls">
    <select id="chooseMigrationConverter" class="span3">
      <option value="none" >{{#t "default_option"}}Select One{{/t}}</option>
      {{#each selectOptions}}
      <option value="{{id}}" >{{label}}</option>
      {{/each}}
    </select>
  </div>
</div>

<div id="converter" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div>

<div class="form-container" style="display: none">
  <div class="controls control-height">
    <input class="cancelBtn btn btn-small" type="button" value="{{#t 'cancel_migration'}}Cancel{{/t}}">&nbsp;&nbsp;<input id="submitMigration" type="submit" value="{{#t "import_migration"}}Import{{/t}}" class="btn btn-small btn-primary span2" />
  </div>
</div>

