{{#if collection.length}}
<ul class="unstyled migration--error-detail collectionViewItems"></ul>
{{/if}}

<div aria-hidden="true" class="paginatedLoadingIndicator">{{#t "loading"}}Loading{{/t}}</div>
