<h2><strong>{{#t "progress_label"}}Current Jobs{{/t}}</strong></h2>
<hr aria-hidden="true">

{{#if collection.length}}
<ul class="unstyled collectionViewItems row-fluid"></ul>
{{else}}
<p>
  {{#t "no_items"}}No jobs have been queued{{/t}}
</p>
{{/if}}

{{#ifEqual ENV.CONTENT_MIGRATIONS_EXPIRE_DAYS 0}}
{{! expiration is disabled, show nothing }}
{{else}}
<p><em>{{#t}}Content import files cannot be downloaded after {{ENV.CONTENT_MIGRATIONS_EXPIRE_DAYS}} days.{{/t}}</em></p>
{{/ifEqual}}
