<form class="newItemForm">
  <div class="box-content controls">
    <div class="row-fluid">
      <input placeholder="Assignment title" class="span12 expander" name="name" type="text" id="assignmentTitle">
    </div>

    <div class="row-fluid expandee">
      <textarea placeholder="Assignment description" class="span12" rows="3" name="description" id="assignmentDescription"></textarea>
    </div>

    <div class="row-fluid expandee">
      <div class="span2">
        <input placeholder="Points" class="span1" name="points_possible" type="text" id="assignmentPoints">
      </div>

      <div class="span10 expandee">
        <div class="dateFieldContainer">
          <input placeholder="Due date" name="due_at" type="text" class="dateField" id="assignmentDueDate">
        </div>
      </div>
    </div>

    <div class="row-fluid expandee">
      <div class="span10">
        <input
          name="course_ids"
          class="contextSearch span10"
          type="text"
          data-finder_url="http://localhost:3000/conversations/find_recipients"
        >
      </div>
      <div class="span2">
        <button type="submit" class="button small-button button-wide" data-text-while-loading="{{#t "assigning"}}Saving...{{/t}}">Assign</button>
      </div>
    </div>
  </div>
</form>

