<form class="newItemForm">
  <div class="box-content controls">

    <div class="row-fluid">
      <input placeholder="Discussion topic" class="span12 expander" name="title" type="text">
    </div>

    <div class="row-fluid expandee">
      <textarea placeholder="Discussion message" class="span12" rows="3" name="message"></textarea>
    </div>

    <div class="row-fluid expandee">
      <div class="span2">
        <label class="checkbox checkbox-inline" for="graded">{{checkbox "graded"}} Graded?</label>
      </div>

      <div class="span2">
        <input placeholder="Points" class="span1" name="assignment[points_possible]" type="text" disabled>
      </div>

      <div class="span8 expandee">
        <div class="dateFieldContainer">
          <input placeholder="Due date" name="assignment[due_at]" type="text" class="dateField" disabled>
        </div>
      </div>
    </div>

    <div class="row-fluid expandee">
      <div class="course_finder span10">
        <input
          name="context_ids"
          class="contextSearch span10"
          type="text"
          data-finder_url="/conversations/find_recipients">
      </div>
      <div class="span2">
        <button type="submit" class="btn btn-small button-wide" data-text-while-loading="{{#t "saving"}}Saving...{{/t}}">Create</button>
      </div>
    </div>

  </div>
</form>
