<form class="newItemForm">
  <div class="box-content controls">

    <div class="row-fluid expander">
      <input type="text" placeholder="Event Title" class="span12" name="title"></textarea>
    </div>


    <div class="row-fluid expandee">
      <div class="dateFieldContainer">
        <input placeholder="Due date" name="date" type="text" class="dateField">
      </div>
    </div>

    <div class="row-fluid expandee">
      <div class="span10">
        <input
          name="context_code"
          class="contextSearch span10"
          type="text"
          data-finder_url="/conversations/find_recipients">
      </div>
      <div class="span2">
        <button type="submit" class="button small-button button-wide" data-text-while-loading="{{#t "saving"}}Saving...{{/t}}">{{#t "save"}}Save{{/t}}</button>
      </div>
    </div>
  </div>
</form>

