<form class="newItemForm message">
  <div class="box-content controls">

    <div class="row-fluid expander">
      <textarea placeholder="Message" class="span12" rows="5" name="body"></textarea>
    </div>

    <div class="row-fluid expandee">
      <div class="span10 recipient_finder">
        <input
          name="recipients"
          class="contextSearch span10"
          type="text"
          data-finder_url="http://localhost:3000/conversations/find_recipients">
      </div>
      <div class="span2">
        <button type="submit" class="button small-button button-wide" data-text-while-loading="{{#t "Sending"}}Sending...{{/t}}">Send</button>
      </div>
    </div>
  </div>
</form>

