<form class="newItemForm">
  <div class="box-content controls">

    <div class="row-fluid" >
      <input placeholder="http://" class="span12 expander" name="url" type="text">
    </div>

    <div class="row-fluid expandee kollectionItemSaveView"></div>
  </div>
</form>

