<div class="row-fluid pick-an-item border border-b box-shadow">
  <div class="span1">
    <span class="new-text">{{#t "new"}}New:{{/t}}</span>
  </div>
  <div class=span11>
    <ul class="nav nav-tabs">
      {{#each formViews}}
        <li><a data-type="{{type}}" href="#"><i class="icon-{{type}}"></i>{{title}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid v-gutter">

  <div class="image-block control-group">
    <div class="image-block-image">
      <i class="item-type-image icon-large-"></i>
    </div>

    <div class="image-block-content">
      <div class="newItemFormContainer triangle-box"></div>
    </div>
  </div>
</div>

