<div class="row-fluid pick-an-item border border-b box-shadow">
  <div class="span1">
    <span class="new-text">{{#t "new"}}New:{{/t}}</span>
  </div>
  <div class=span11>
    <ul class="nav nav-tabs">
      <li><a data-type="assignment" href="#"><i class="icon-assignment"></i>{{#t "assignment"}}Assignment{{/t}}</a></li>
      <li><a data-type="discussion" href="#"><i class="icon-discussion"></i>{{#t "discussion"}}Discussion{{/t}}</a></li>
      <li><a data-type="announcement" href="#"><i class="icon-announcement"></i>{{#t "announcement"}}Announcement{{/t}}</a></li>
      <li><a data-type="message" href="#"><i class="icon-message"></i>{{#t "message"}}Message{{/t}}</a></li>
      <li><a data-type="pin" href="#"><i class="icon-pin"></i>{{#t "pin"}}Pin{{/t}}</a></li>
      <li><a data-type="event" href="#"><i class="icon-calendar-day"></i>{{#t "Event"}}Event{{/t}}</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid v-gutter">

  <div class="image-block control-group">
    <div class="image-block-image">
      <i class="item-type-image icon-large-"></i>
    </div>

    <div class="newItemFormContainer image-block-content triangle-box"></div>
  </div>
</div>

