<span><%= t('course_import_notice.text', 'One or more items are currently being imported. They will be shown in the course below once they are available.') %></span>
&emsp;<%= link_to t('course_import_notice.status_link', 'Import Status'), context_url(@context, :context_content_migrations_url) %>