<% groups = sidebar_weighting || @context.assignment_groups.active %>
<% if @context.group_weighting_scheme == "percent" %>
  Assignments are weighted by group:
  <table class="summary">
    <thead>
    <tr>
      <th scope='col'>Group</th>
      <th scope='col'>Weight</th>
    </tr>
    </thead>
    <tbody>
    <% if groups.empty? %>
      <tr>
        <th scope='row' colspan="2">No Groups Set Up</th>
      </tr>
    <% else %>
      <% tally = 0 %>
      <% groups.each do |group| %>
        <tr>
          <th scope='row'><%= group.name || "Group" %></th>
          <td><%= ((group.group_weight.to_s + "%") || "none") rescue "none" %></td>
          <% tally += group.group_weight || 0 %>
        </tr>
      <% end %>
      <tr style="font-weight: bold;">
        <th scope='row'>Total</th>
        <td><%= tally %>%</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  Course assignments are not weighted.
<% end %>
