<div id="tab-users">
  <h3 style="margin-top: 10px;"><%= t(:page_moved_to_people_section_notice, "This page has been moved to the *People section*", :wrapper => link_to('\1', course_users_path(course_id: @context))) %></h3>
</div>