<div id="content-wrapper" class="ic-Layout-contentWrapper">


          <div id="content" class="ic-Layout-contentMain" role="main">

    <div style="margin:auto; text-align: center;  margin-top: 80px">
      <h1>
        There are no announcements to show
      </h1>

        <a href="/courses/2/discussion_topics/new?is_announcement=true" class="btn btn-large btn-primary">
          <i class="icon-plus"></i>
          Announcement
        </a>

    </div>


</div>
        </div>