<div id="content-wrapper" class="ic-Layout-contentWrapper">


  <div id="content" class="ic-Layout-contentMain" role="main">

    <div style="margin:auto; text-align: center;">
      <%= link_to "Paypal", pay_path(@context), class: "btn btn-large btn-primary" %>&nbsp;
      <%= link_to "Paytm", paytm_integration_course_orders_path(@context), class: "btn btn-large btn-primary" %><br>
    </div>


  </div>
</div>