<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
   content_for :page_title, join_title(t(:page_title, "Course Link Validator"), @context.name)
   js_env :validation_api_url => api_v1_course_link_validation_url(@context)
   js_bundle :course_link_validator
   css_bundle :course_link_validator
%>

<div id="link_validator">
  <h1>
    <%= t("link_validator", "Course Link Validator") %>
  </h1>
  <div>
    <%= t("The course link validator searches through course content and returns every invalid or unresponsive link that it comes across.
      Please note that some links flagged as unresponsive are just inaccessible from our servers and will still work for students.") %>
  </div>
  <div id="link_validator_wrapper"></div>
</div>