<div title="{{#t}}Sync Grades{{/t}}" style="display:none;">
  <iframe
    class="post-grades-frame"
    style="border: none; width: 100%; height: 100%;"
    tabindex="0"
    title="{{#t}}Sync Grades{{/t}}"
    allow="{{allowances}}"
    data-lti-launch="true"
  >
  </iframe>
</div>
