<div style="max-height: 400px; min-height: 100px; overflow: auto; width: 400px; display: none;" id="cse_holder">
<div id="cse" style="width: 380px;">Loading</div>
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('014949904870326116447:l9dhnd4kuni');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
    customSearchControl.execute($("title").text());
  }, true);
</script>
<link rel="stylesheet" href="//www.google.com/cse/style/look/greensky.css" type="text/css" />
</div>