<form id="submit_feedback_form" action="/errors" method="POST">
  <input type="hidden" name="error[url]" id="feedback_form_page_url" value=""/>
  <div>
    <p style="margin-top: 0; margin-bottom: 1.0em;"><img src="/images/feedback.png" style="display: none; float: left; margin: 0px 5px;" alt=""/>
    <span class="feedback_message">
    Thank you for taking time to provide your feedback.  We're working hard to make Canvas a product
    you'll enjoy using, so we want to know right away if anything goes wrong.
    </span>
    </p>
    <div class="feedback-type-holder" id="feedback-dialog-settings" style="display: none; font-size: 0.9em; margin-bottom: 10px;">
      This feedback is for:
      <div style="margin-left: 20px;">
        <div style="display: none;">
          <input type="radio" id="feedback-type-instructure" name="feedback_type" value="instructure"/>
          <label for="feedback-type-instructure">Canvas Support</label>
        </div>
        <div class='feedback-type-teacher'>
          <input type="radio" id="feedback-type-teacher" name="feedback_type" value="teacher"/>
          <label for="feedback-type-teacher">My teacher</label>
          <span>
            in 
            <select class="feedback-course-select" name="course_id" title="Course this feedback is for" style="font-size: 0.9em;">
            </select>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;">
    <label for="feedback_form_subject" style="font-weight: bold; font-size: 1.2em;">Subject: </label><br />
    <input type="text" style="width: 95%; font-size: 1.1em;" id="feedback_form_subject" name="error[subject]" />
  </div>
  <div style="margin-bottom: 2px;">
    <label for="feedback_form_comments" style="font-weight:bold;">Description:</label><br />
    <textarea id="feedback_form_comments" style="width: 95%; height: 70px;" name="error[comments]"></textarea>
  </div>
  <div style="float: left; padding-top: 3px;">
    <label style="font-weight: bold;">Email (optional):</label>
    <input type="text" id="feedback_form_user_email" name="error[email]" value=""/>
  </div>
  <div style="float: right; margin-right: 4%;">
    <button type="submit" class="button send_button"><img src="/images/email.png" alt=""/> <span class="sending_text">Send Feedback</span></button>
  </div>
  <div class="clear"></div>
  <div id="feedback_dialog_status"></div>
</form>
