Canvas can track the default license for content inside of your course.  By
default all content is considered copyrighted, but you can also release your
content to the public domain or choose a Creative Commons license.
Creative Commons provides a number of different licenses, which can
be confusing.  However, the licenses are all based on four conditions, 
so we can help you choose a license.  Select which of the conditions you
want to apply and we'll show you the correct license for those conditions.
<div style="margin-top: 10px;">
<table>
  <thead>
    <tr id="licence-help-options">
      <th><a href="#" class="option by" role="button"><img src='/images/cc/attribution.gif' alt="" /> Attribution</a></th>
      <th><a href="#" class="option sa" role="button"><img src='/images/cc/share_alike.gif' alt="" /> Share Alike</div></a></th>
      <th><a href="#" class="option nc" role="button"><img src='/images/cc/non_commercial.gif' alt="" /> Non-Commercial</div></a></th>
      <th><a href="#" class="option nd" role="button"><img src='/images/cc/no_derivative_works.gif' alt="" /> No Derivative Works</div></a></th>
    </tr>
  </thead>
  <tbody>
    <tr id="option-explanations">
      <td>You let others copy, distribute, display, and perform your copyrighted work -- and derivative works based upon it -- but only if they give credit the way you request.</td>
      <td>You allow others to distribute derivative works only under a license identical to the license that governs your work.</td>
      <td>You let others copy, distribute, display, and perform your work -- and derivative works based upon it -- but for non-commercial purposes only.</td>
      <td>You let others copy, distribute, display, and perform only verbatim copies of your work, not derivative works based upon it.</td>
    </tr>
  </tbody>
</table>
</div>
<div class="licenses clearfix">
  <div class="select">
    <button class="btn select_license">Use This License</button>
  </div>
  <div class="license private"><img src="/images/cc/copyright.png" alt="" /> Private (Copyrighted)</div>
  <div class="license cc_by"><img src="/images/cc/cc_by.png" alt="" /> CC Attribution</div>
  <div class="license cc_by_sa"><img src="/images/cc/cc_by_sa.png" alt="" /> CC Attribution Share Alike</div>
  <div class="license cc_by_nd"><img src="/images/cc/cc_by_nd.png" alt="" /> CC Attribution No Derivatives</div>
  <div class="license cc_by_nc"><img src="/images/cc/cc_by_nc.png" alt="" /> CC Attribution Non-Commercial</div>
  <div class="license cc_by_nc_sa"><img src="/images/cc/cc_by_nc_sa.png" alt="" /> CC Attribution Non-Commercial Share Alike</div>
  <div class="license cc_by_nc_nd"><img src="/images/cc/cc_by_nc_nd.png" alt="" /> CC Attribution Non-Commercial No Derivatives</div>
</div>
