<div class="outcome_dialog" id="find_outcome_dialog" style="display: none;">
  <a href="<%= context_url(@context, :list_context_outcomes_url, :unused => '1') %>" class="outcomes_url" style="display: none;">&nbsp;</a>
  <a href="<%= context_url(@context, :add_outcome_context_outcomes_url, :learning_outcome_id => "{{ learning_outcome_id }}", :learning_outcome_group_id => "{{ learning_outcome_group_id }}") %>" class="add_outcome_url" style="display: none;">&nbsp;</a>
  <span class="context_code" style="display: none;"><%= @context.asset_string %></span>
  <div class="loading_message" style="margin: 10px; text-align: center;">
  </div>
  <table class="outcomes_dialog_holder side_tabs_table" style="display: none;">
    <tr>
      <td class="left">
        <ul class="outcomes_dialog_outcomes_select unstyled_list side_tabs">
          <li class="outcomes_dialog_select blank" style="display: none;">
            <input type="checkbox" class="select_outcome_checkbox" name="" title="Select this outcome"/>
            <a href="#">
              <span class="short_description">Some outcome</span>
              <span class="id" style="display: none;">&nbsp;</span>
              <div class="sub_content cached_context_short_name" style="max-height: 1.2em; overflow: hidden;">
              </div>
            </a>
          </li>
        </ul>
        <button type="button" class="button select_outcomes_link" style="min-width: 175px;">Add Selected Outcomes</button>
      </td>
      <td class="right">
        <div class="side_tabs_content outcomes_dialog_outcomes">
          <div style="margin-bottom: 10px; display: none;" class="outcomes_dialog_outcome blank">
            <div style="margin-bottom: 10px;" class="outcomes_dialog_outcome_brief side_tabs_content_with_room_for_button">
              <span class="id" style="display: none;">&nbsp;</span>
              <div>
                <div style="float: left;">
                  <span class="_select_outcome_link"><b class="short_description">&nbsp;</b></span>
                </div>
                <div class="clear"></div>
              </div>
              <div style="margin-left: 5px;" class="description">
                &nbsp;
              </div>
              <div class="clear"></div>
            </div>
            <button type="button" class="button select_outcome_link" style="display: none;">Add This Outcome</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div style="margin-top: 5px; text-align: right; display: none;"><a href="#" class="cancel_find_outcome_link">Cancel</a></div>
  <div style="display: none;">
  </div>
</div>
