<% outcome_alignment ||= nil %>
<%= outcome_alignment_tag(@context, @outcome, outcome_alignment) do -%>
  <div class="header">
    <%= link_to_outcome_alignment(@context, @outcome, outcome_alignment) %>
  </div>
  <div class="links"></div>
  <div class="clear"></div>
<% end -%>
