<%
  jammit_css :learning_outcomes, :tinymce
  js_bundle :learning_outcomes
  content_for :page_title, t("#titles.learning_outcomes", "Learning Outcomes")
%>

<h2><%= t("#titles.learning_outcomes", "Learning Outcomes") %></h2>

<div id="outcomes"></div>
