<a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" tabindex="-1" aria-owns="content-1"
	{{action 'open'}}>
	<i class="icon-settings"></i>
	<i class="icon-mini-arrow-down"></i>
	<span class="screenreader-only">Settings</span>
</a>

<ul class="canvas-dropdown al-options ui-menu ui-widget ui-widget-content ui-corner-all ui-popup ui-kyle-menu use-css-transitions-for-show-hide" style="display: none;" id="ui-id-2" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false">
	<span class="ui-menu-carat" style="left: 71px;"><span></span></span>

  <li class="ui-menu-item" role="presentation">
    <a href="#" rel="/courses/808070/modules/630569/items" class="add_module_item_link icon-plus ui-corner-all" id="ui-id-3" tabindex="-1" role="menuitem">Add Content</a>
  </li>
  <li class="ui-menu-item" role="presentation">
    <a href="/courses/808070/modules/630569" class="icon-edit edit_module_link ui-corner-all" title="Edit" id="ui-id-4" tabindex="-1" role="menuitem">Edit</a>
  </li>
  <li class="ui-menu-item" role="presentation">
    <a href="/courses/808070/modules/630569" class="delete_module_link icon-trash ui-corner-all" title="Delete this module" id="ui-id-5" tabindex="-1" role="menuitem">Delete</a>
  </li>
</ul>

<style>
.canvas-dropdown {
  text-align: left;
}

</style>