<div class="control-group">
  <label class="control-label">Assignment:</label>
  <div class="controls">
    <select class="module_item_select" multiple="multiple" style="width: 90%;">
      <optgroup label="Assignments">
      </optgroup>
      <option value="new">[ New Assignment ]</option>
    </select>
  </div>
</div>

<hr />

<div>
  <div>
    <strong>Module is complete when, for this assignment:</strong>
  </div>
  <table>
    <tbody style="border: 0 none">
      <tr>
        <td style="white-space: nowrap;text-align: left;padding-top:8px;padding-bottom: 8px;">
        	Users must
          <select>
            <option>Score at least</option>
          </select>
          <input type="text" style="width: 20px;" />
          out of
          900
          <a><i class="icon-end"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <small>
      <a>
        <i class="icon-add"></i>
        Add requirement
      </a>
    </small>
  </div>

  <div style="margin-top: 12px;margin-bottom: 12px;">
    <label class="checkbox">
      <input type="checkbox" />
      Students must move through requirements in this module in sequential order
    </lable>
  </div>
</div>