<a
    {{bindAttr class=":publish-button
      published:published:unpublished
      hover:hover:blur
      transitioning"}}
    {{action 'togglePublish'}}
    role="button">

  {{#if published}}
    <i {{bindAttr class="hover:icon-unpublish:icon-publish"}}></i>
  {{else}}
    <i class="icon-unpublished"></i>
  {{/if}}

  <!-- span class="publish-text" role="presentation" tabindex="-1">&nbsp;Published</span>
  <span class="desc screenreader-only">Published. Click to unpublish</span -->
</a>

<style>

</style>