<span class="module-published-button no-wrap" {{action 'togglePublish'}}>
  {{#if published}}
  	Published
    <i class="icon-publish" aria-hidden="true"></i>
  {{else}}
    <i class="icon-unpublished"></i>
  {{/if}}
</span>