<li data-tooltip title="{{module.prereqModuleNames}}">
  {{#if module.onePrereq}}
    <strong>Prereq: </strong><span style="font-weight: normal;">&nbsp;{{module.prereqModuleName}}</span>
  {{/if}}

  {{#if module.moreThanOnePrereq}}
    <strong>Prereqs: </strong><span style="font-weight: normal;" >&nbsp;{{module.prereqModuleCount}} Modules</span>
  {{/if}}
</li>
