<div id="wiki_page_buttons" class="clearfix">
  <div id="pages-toolbar-right-buttons" style="float:right;">
    <button class="btn btn-primary new_page">{{#t 'buttons.new_page'}}New Page{{/t}}</button>
  </div>
</div>
