<div class="edit-content">
  <label class="edit-label" for="wiki_page[title]">{{#t "page_title"}}Title{{/t}}</label>
  <div class="edit-controls">
    <input class="edit-control-text" type="text" id="wiki_page[title]" name="wiki_page[title]" value="{{title}}">
  </div>
</div>
