<div class="outlet"></div>

<div class="button-container">
  <button class="btn dialog_closer">{{#t "cancel"}}Cancel{{/t}}</button>
  <button class="btn btn-danger" data-text-while-loading="{{#t "deleting"}}Deleting...{{/t}}" type="submit">{{#t "delete_page"}}Delete{{/t}}</button>
</div>
