.admins_list
  list-style-type: none
  padding-left: 10px

.admins_list li
  width: 300px
  padding: 2px 5px
  margin-bottom: 5px

.admins_list li:hover
  background-color: #eee
  border-radius: 3px

.admins_list .user_name
  font-weight: bold
  float: left

.admins_list .email
  clear: left
  display: block
  font-size: 0.8em
  color: #888
  padding-left: 10px

.admins_list .membership_type
  clear: left
  display: block
  font-size: 0.8em
  padding-left: 10px

.admins_list .remove_account_user_link
  float: right
  opacity: 0.5

.admins_list li:hover .remove_account_user_link
  opacity: 1.0

#account_notification_icon
  option
    padding: 3px 0 3px 25px
    background: url(/images/warning.png) no-repeat 5px center
    &.calendar
      background-image: url(/images/calendar_icon.png)
    &.people
      background-image: url(/images/group.png)
    &.help
      background-image: url(/images/help.png)
    &.file
      background-image: url(/images/file.png)
.custom_help_link
  border-top: 1px solid #ccc
  .delete
    float: right

.announcements_list
  .alert
    color: #666
  .subject
    font-size: 13px
    font-weight: bold
    img
      padding-right: 5px
  .message
    font-size: 11px
  .announcement-details
    margin-top: 10px

#self_registration_type_radios
  margin-left: 1.5em

#account_settings, .account_settings
  .unbreakable
    white-space: nowrap
  .formtable
    input, select, td
      vertical-align: baseline
    p
      line-height: 100%
    select
      width: 280px
    input.same-width-as-select
      width: 265px
    input[type="checkbox"]
      vertical-align: -3px
  fieldset
    select, input[type="text"]
      vertical-align: baseline
    .remove_domain_link img
      vertical-align: -3px

#account_settings_tabs
  legend
    font-size: 15px
    font-weight: bold

#survey_announcement_field
  line-height: 30px
  input#account_notification_months_in_display_cycle
    width: 25px
    padding: 0
    margin-top: 6px
