.admins_list {
  list-style-type: none;
  padding-left: 10px;
}

.admins_list li {
  width: 300px;
  padding: 2px 5px;
  margin-bottom: 5px;
}

.admins_list li:hover {
  background-color: #eee;
  border-radius: 3px;
}

.admins_list .user_name {
  font-weight: bold;
  float: left;
}

.admins_list .email {
  clear: left;
  display: block;
  font-size: 0.8em;
  padding-left: 10px;
}

.admins_list .membership_type {
  clear: left;
  display: block;
  font-size: 0.8em;
  padding-left: 10px;
}

.admins_list .remove_account_user_link {
  float: right;
  opacity: 0.5;
}

.admins_list li:hover .remove_account_user_link {
  opacity: 1;
}

#account_notification_icon {
  option {
    padding: 3px 0 3px 25px;
    background: url(/images/warning.png) no-repeat 5px center;
    &.calendar {
      background-image: url(/images/calendar_icon.png);
    }
    &.people {
      background-image: url(/images/group.png);
    }
    &.help {
      background-image: url(/images/help.png);
    }
    &.file {
      background-image: url(/images/file.png);
    }
  }
}

.custom_help_link {
  border-top: 1px solid #ccc;
  padding-top: $ic-sp;

  .delete {
    float: right;
  }
}

.announcement-details-post-info {
  display: flex;
}

.announcement-details-post-info__datetime {
  flex: 1;
  box-sizing: border-box;
  padding-right: $ic-sp;
  font-weight: bold;
}

.announcement-details-roles {
  margin-top: $ic-sp;
}

.announcements_list_item {
  margin-bottom: $ic-sp*2;
  padding: $ic-sp*2;
  .edit_notification_form {
    margin-top: $ic-sp*2;
    padding-top: $ic-sp*2;
    border-top: 1px solid $ic-border-light;
  }

}

#self_registration_type_radios {
  margin-left: 1.5em;
}

#account_settings,
.account_settings {
  .unbreakable {
    white-space: nowrap;
  }
  .formtable {
    input, select, td {
      vertical-align: baseline;
    }
    p {
      line-height: 100%;
    }
    select {
      width: 280px;
    }
    input.same-width-as-select {
      width: 265px;
    }
    input[type="checkbox"] {
      vertical-align: -3px;
    }
  }
  fieldset {
    select, input[type="text"] {
      vertical-align: baseline;
    }
    .remove_domain_link img {
      vertical-align: -3px;
    }
  }
  .account_settings__help-text {
    font-size: 90%;
    color: $ic-font-color--subdued;
  }
}

#account_settings_tabs {
  legend:not(.ic-Legend) {
    @include fontSize(15px);
    font-weight: bold;
  }
  .alert {
    padding-top: 0;
    margin-left: -5px;
  }
}
#global_includes_warning_message_wrapper:not(.alert) #global_includes_warning_message {
  display: none;
}

#survey_announcement_field {
  line-height: 30px;
  input#account_notification_months_in_display_cycle {
    width: 25px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.account_settings td.sub_checkbox {
  padding-left: 20px;
  padding-top: 0px;
}

.hidden_form {
  display: none;
}
