<fieldset class="pad-box auto-group-leader-controls">
  <span class="control-label">{{#t "leadership"}}Leadership{{/t}}</span>
  <div class="controls">
    <label class="checkbox" for="enable_auto_leader-{{uniqid}}">
      {{checkbox "enable_auto_leader" uniqid=true class="auto-group-leader-toggle"}}
      {{#t "auto_group_leader"}}Automatically assign a student group leader{{/t}}
    </label>
  </div>
  <div class="controls auto-group-leader-controls-radio">
    <label class="radio">
      <input type="radio" name="auto_leader_type" value="FIRST" checked>
      {{#t "auto_first_group_leader"}}
        Set first student to join as group leader
      {{/t}}
    </label>
  </div>
  <div class="controls auto-group-leader-controls-radio">
    <label class="radio">
      <input type="radio" name="auto_leader_type" value="RANDOM">
      {{#t "auto_random_group_leader"}}
        Set a random student as group leader
      {{/t}}
    </label>
  </div>
</fieldset>
