<a href="#"
  class="icon-question"
  title="{{#t "self_signup_description"}}You can create sets of groups where students can sign up on their own. Students are still limited to being in only one group in the set, but this way students can organize themselves into groups instead of needing the teacher to do the work. Note that as long as this option is enabled, students can move themselves from one group to another.{{/t}}"
  aria-label="{{#t "about_self_signup_groups"}}About Self Sign-up Groups{{/t}}"
  data-tooltip='{"tooltipClass":"popover popover-padded", "position":"right"}'></a>