<a href="#"
       data-user-id="user_{{id}}"
       class="assign-user-to-group ellipsis"
       aria-label="{{#t "add_user_to_group"}}Add user {{name}} to this group{{/t}}"
       title="{{#t "add_to_group"}}Add user to group{{/t}}">{{name}}</a>
