<div class="popover-title">
  {{#t "add_to_group"}}Add to Group{{/t}}
</div>
<ul class="unstyled popover-content assign-to-groups">
  {{#each groups}}
    <li>
      <a href="#"
        class="set-group ellipsis"
        data-group-id="{{id}}"
        title="{{#t "assign_user_to_group"}}Assign user to this group{{/t}}"
        aria-label="{{#t "assign_user_to_group"}}Assign user to this group{{/t}}"
        >{{name}}</a>
    </li>
  {{/each}}
</ul>
