<div class="control-group">
  <label class="control-label" for="group_category_name">{{#t "group_name"}}Group Name{{/t}}</label>
  <div class="controls">
    <input type="text" id="group_category_name" name='name' value="{{name}}" required
           placeholder="{{#t "group_name"}}Group Name{{/t}}">
  </div>
</div>
