<div class="row-fluid">
  <div class="span8">
    <a href="#" class="toggle-group" aria-label="{{#t "show_group_details"}}Show group details{{/t}}" title="{{#t "show_group_details"}}Show group details{{/t}}">
      <i class="group-collapsed-item icon-mini-arrow-up"></i>
      <i class="group-expanded-item icon-mini-arrow-down"></i>
      <strong>{{name}}</strong>
    </a>
  </div>
  <div class="span2">
    <span class="toggle-group group-summary">{{summary}}</span>
  </div>
  <div class="span2">
    {{#if ENV.IS_LARGE_ROSTER}}
      <a href="#" class="add-user" aria-label="{{#t "add_user_to_group"}}Assign user to group{{/t}}" title="{{#t "add_user_to_group"}}Assign user to group{{/t}}"><i class="icon-add"></i></a>
    {{/if}}
    <span class='pull-right'>
      <a class="al-trigger">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only">{{#t "group_settings"}}Settings{{/t}}</span>
      </a>
      <ul class="al-options">
        <li><a href="#" class="icon-edit edit-group">{{#t "group_edit"}}Edit{{/t}}</a></li>
        <li><a href="#" class="icon-trash delete-group">{{#t "group_delete"}}Delete{{/t}}</a></li>
      </ul>
    </span>
  </div>
</div>

<div data-view="groupUsers" class="group-users group-expanded-item"></div>
