<h1 class="screenreader-only">{{#t 'headings.groups'}}Groups{{/t}}</h1>
<div class='empty-groupset-instructions'>
  {{#ifEqual ENV.group_user_type "student"}}
  <div class='ic-Action-header'>
    <div class='ic-Action-header__Primary'>
      <h2>{{#t 'headings.course_groups'}}Student Groups{{/t}}</h2>
    </div>
    <div class='ic-Action-header__Secondary'>
      <button id='add-group-set' class='btn btn-primary' title="{{#t}}Add Group Set{{/t}}" aria-label="{{#t}}Add Group Set{{/t}}"><i class='icon-plus'></i> {{#t 'group_set'}}Group Set{{/t}}</button>
    </div>
  </div>
    <p>
      {{#t 'course_group_explanation'}}
        Student groups are a useful way to organize students for things like group projects or
        papers.  Every student group gets their own calendar, discussion board and collaboration
        tools so they can organize themselves and work together more effectively.
      {{/t}}
    </p>

    <p>{{#t 'group_assignment_instructions'}}
      You can randomly assign students to groups of a specific size, or manually
      create and organize the groups.  Once your groups are created, you can set assignments
      to be "group submission" assignments, which means each group will have one submission for
      all users of that group.
    {{/t}}
    </p>
  {{else}}
  <div class='ic-Action-header'>
    <div class='ic-Action-header__Primary'>
      <h2>{{#t 'headings.account_groups'}}Account-level Student Groups{{/t}}</h2>
    </div>
    <div class='ic-Action-header__Secondary'>
      <button id='add-group-set' class='btn btn-primary' title="{{#t}}Add Group Set{{/t}}" aria-label="{{#t}}Add Group Set{{/t}}"><i class='icon-plus'></i> {{#t 'group_set'}}Group Set{{/t}}</button>
    </div>
  </div>
    <p>{{#t 'account_group_explanation'}}
      Account-level student groups are a good way to group students without being
      tied to a specific course. Every student group gets their own calendar, discussion
      board and collaboration tools so they can organize themselves and work together
      more effectively.
    {{/t}}
    </p>
  {{/ifEqual}}
</div>
  <div style="display:none">
    {{#if isCourse}}
    <li class="static"><a href="/courses/{{context_id}}/users">{{#t 'tabs.everyone'}}Everyone{{/t}}</a></li>
    {{/if}}
  </div>
<div id="group_categories_tabs" class="ui-tabs-minimal">
  <ul class='collectionViewItems'>
  </ul>
  <div class='pull-right group-categories-actions'>
    <button id='add-group-set' class='btn btn-primary' title="{{#t}}Add Group Set{{/t}}" aria-label="{{#t}}Add Group Set{{/t}}"><i class='icon-plus'></i> {{#t 'group_set'}}Group Set{{/t}}</button>
  </div>
  <!--panels get inserted dynamically-->
</div>

