<div class="group-user-name" title="{{name}}">{{name}}</div>
{{#if canAssignToGroup}}
  <a href="#" data-user-id="{{id}}" 
     class="assign-to-group" 
     title="{{#t "assign_to_group"}}Assign to Group{{/t}}"
     aria-label="{{#t "assign_to_group"}}Assign to Group{{/t}}"
  >
    <i class="icon-plus"></i>
  </a>
{{/if}}
