<div class="row-fluid">
  <div class="span8">
    <a href="#" class="expand-group" title="{{#t "expand_group"}}Expand Group{{/t}}"><i class="icon-mini-arrow-up"></i></a>
    <a href="#" class="contract-group" title="{{#t "contract_group"}}Contract Group{{/t}}"><i class="icon-mini-arrow-down"></i></a>
    <a href="{{url}}"><strong>{{name}}</strong></a>
  </div>
  <div class="span2">{{summary}}</div>
  <div class="span2">
    <a href="#" class="edit-group" title="{{#t "edit_group"}}Edit group{{/t}}"><i class="icon-edit"></i></a>
    <a href="#" class="delete-group" title="{{#t "delete_group"}}Delete group{{/t}}"><i class="icon-trash"></i></a>
  </div>
</div>

<div data-view="groupUsers"></div>