<div class="pull-right group-category-actions">
  <button class="btn add-group" title="{{#t "add_group"}}Add Group{{/t}}"><i class='icon-plus'></i> {{#t "group"}}Group{{/t}}</button>
  {{#unless protected}}
    <span>
      <a class="al-trigger btn" role="button" aria-haspopup="true" aria-label="{{#t "settings"}}Settings{{/t}}" href="#">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only">{{#t "category_settings"}}Settings{{/t}}</span>
      </a>
      <ul class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="toolbar-2">
        {{#unless ENV.IS_LARGE_ROSTER}}
           <li>
             <a href="#" class="icon-email message-all-unassigned">
               {{#t "message_all_unassigned_option"}}Message All Unassigned Students{{/t}}
             </a>
           </li>
        {{/unless}}
        {{#if canAssignMembers}}
          <li>
            <a href="#" class="icon-user randomly-assign-members">
              {{#t "randomly_assign_students_option"}}Randomly Assign Students{{/t}}
            </a>
          </li>
        {{/if}}
        <li>
          <a href="#" class="icon-edit edit-category">
            {{#t "edit_category_option"}}Edit{{/t}}
          </a>
        </li>
        <li>
          <a href="#" class="icon-trash delete-category">
            {{#t "delete_category_option"}}Delete{{/t}}
          </a>
        </li>
      </ul>
    </span>
  {{/unless}}
</div>

{{#if self_signup}}
  <p>
    {{#t "self_signup_blurb"}}Self sign-up is enabled for these groups.{{/t}}
    {{#ifEqual self_signup "restricted"}}
      <span>{{#t "restricted_self_signup_blurb"}}All students in a group are required to be in the same section.{{/t}}</span>
    {{/ifEqual}}
    {{> [groups/manage/selfSignupHelp]}}
  </p>
  {{#if group_limit}}
    <p>{{#t "group_limit_blurb"}}Groups are limited to <strong>{{group_limit}}</strong> members.{{/t}}</p>
  {{/if}}
{{/if}}

{{#ifEqual role "student_organized"}}
  <div class="alert student-organized-groups"><i class="icon-warning"></i> {{#t "self_organized_warning"}}These groups are self-organized by students.  Unlike other types of groups, students can belong to more than one of these groups at a time, so these groups may not be the best solution for graded assignments.{{/t}}</div>
{{/ifEqual}}
