<div class="control-group">
  <label class="control-label" for="group_category_name">{{#t "group_name"}}Group Name{{/t}}</label>
  <div class="controls">
    <input type="text" id="group_category_name" name='name' value="{{name}}"
           placeholder="{{#t "group_name"}}Group Name{{/t}}">
  </div>
</div>

<div class="form-controls">
  <button class="btn dialog_closer" type="button"
          data-dismiss='modal'>{{#t "cancel"}}Cancel{{/t}}</button>
  <button class="btn btn-primary"
          data-text-while-loading='{{#t "saving"}}Saving...{{/t}}'
          type="submit">{{#t "save"}}Save{{/t}}</button>
</div>
