<div class="form-dialog-content">
  <p tabindex="0">
    {{#t "randomly_assign_students_dialog"}}
    This will automatically assign all unassigned students as evenly as possible among the existing student groups.
    {{/t}}
  </p>
</div>
<div class="form-controls">
  <button
    type="button"
    class="btn dialog_closer"
  >{{#t "cancel"}}Cancel{{/t}}</button>
  <button
    class="btn btn-primary randomly-assign-members-confirm"
    type='submit'>{{#t "okay"}}Okay{{/t}}</button>
</div>
