<div class="popover-title">
  {{#t "add_unassigned_user"}}Add Unassigned Student{{/t}}
</div>
<div class="popover-content">
  <div class="form-search clearfix">
    <input
      type="text"
      name="search_term"
      class="search-query"
      data-view="inputFilter"
      placeholder='{{#t "search_people"}}Search people{{/t}}'
      aria-label='{{#t "search"}}Search{{/t}}'
    >
  </div>
  <div data-view="users"></div>
</div>