<tr>
  <td class="date-column"><input name="date" class="date_field" value=""/></td>
  <td class="start-time-column"><input name="start_time" class="time_field start_time" value=""/></td>
  <td class="separator-column"> - </td>
  <td class="end-time-column"><input name="end_time" class="time_field end_time" value=""/></td>
  <td class="delete-column">
    <a href="#" class="delete-block-link"><img src="/images/delete_circle.png" /></a>
  </td>
</tr>
