<button class="navigate_today btn">{{#t "today"}}Today{{/t}}</button>
<span class="navigation_buttons">
  <button class="navigate_prev btn">
    <i class="icon-arrow-left" aria-hidden="true"></i>
    <span class="screenreader-only">{{#t "previous"}}Previous{{/t}}</span>
  </button>
  <button class="navigate_next btn">
    <i class="icon-arrow-right" aria-hidden="true"></i>
    <span class="screenreader-only">{{#t "next"}}Next{{/t}}</span>
  </button>
</span>
<h2 class="navigation_title" tabindex="-1"><span role="button" class="navigation_title_text" tabindex="0"></span></h2>
<span class="date_field_wrapper">
  <input type="text" name="start date" style="width: 100px;" class="date_field"
         aria-label="{{#t "enter_navigation_date"}}Enter the date you would like to navigate to.{{/t}}" />
</span>
