<form action='#' id='edit_assignment_form' style='padding: 5px; width: 400px'>
  <div class="event-details-content">
    <table class="formtable" style="width: 100%;">
      <tr>
        <td><label for="assignment_title">{{#t "title"}}Title:{{/t}}</label></td>
        <td><input id="assignment_title" name="assignment[title]" size="30" maxlength="255" style="width: 200px;" type="text" value="{{title}}"/></td>
      </tr>
      <tr>
        <td><label for="assignment_due_at">{{#t "due"}}Due:{{/t}}</label></td>
        <td>
          <input class="datetime_field" id="assignment_due_at" name="assignment[due_at]" size="30" style="width: 150px;" type="text" aria-label="{{#t}}Due on Date:{{/t}}"/>
        </td>
      </tr>
      <tr class="context_select">
        <td><label for="assignment_context">{{#t "calendar"}}Calendar:{{/t}}</label></td>
        <td>
          <select id="assignment_context" class="context_id">
            {{#each contexts}}
              {{#if can_create_assignments}}
                <option value="{{asset_string}}">{{name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="assignment_group">{{#t "group"}}Group:{{/t}}</label></td>
        <td class="assignment_group_select">
          <select id="assignment_group" class="assignment_group" name="assignment[assignment_group_id]" aria-label="{{#t "group"}}Group:{{/t}}">
            <option value="new">[ New Group ]</option>
          </select>
        </td>
      </tr>
      <tr class="context_select">
        <td>{{#t "publish"}}Publish:{{/t}}</td>
        <td>
         <div class="ic-Toggle ic-Toggle--success">
            <input id="assignment_published" name="assignment[published]" type="checkbox">
            <label for="assignment_published">
              <div class="ic-Toggle__switch" data-checked="YES" data-unchecked="NO"></div>
              <div class="screenreader-only">Publish:</div>
            </label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="popover-links-holder event-details-footer pull-right">
    <a href="#" class="event_button btn btn-secondary more_options_link">{{#t "links.more_options"}}More Options{{/t}}</a>
    <button type="submit" class="event_button btn btn-primary">{{#t "#buttons.submit"}}Submit{{/t}}</button>
  </div>
</form>
