<form action='#' id='edit_assignment_form' style='padding: 5px; width: 400px'>
  <table class="formtable" style="width: 100%;">
    <tr>
      <td>{{#t "title"}}Title:{{/t}}</td>
      <td><input id="assignment_title" name="assignment[title]" size="30" maxlength="255" style="width: 200px;" type="text" value="{{title}}"/></td>
    </tr>
    <tr>
      <td>{{#t "due"}}Due:{{/t}}</td>
      <td>
        <input class="datetime_field" id="assignment_due_at" name="assignment[due_at]" size="30" style="width: 150px;" type="text" />
      </td>
    </tr>
    <tr class="context_select">
      <td>{{#t "calendar"}}Calendar:{{/t}}</td>
      <td>
        <select class="context_id">
          {{#each contexts}}
            {{#if can_create_assignments}}
              <option value="{{asset_string}}">{{name}}</option>
            {{/if}}
          {{/each}}
        </select>
      </td>
    </tr>
    <tr>
      <td>{{#t "group"}}Group:{{/t}}</td>
      <td class="assignment_group_select">
        <select class="assignment_group" name="assignment[assignment_group_id]">
          <option value="new">[ New Group ]</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><a href="#" class="more_options_link">{{#t "links.more_options"}}more options{{/t}}</a></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right">
        <button type="submit" class="button">{{#t "#buttons.submit"}}Submit{{/t}}</button>
      </td>
    </tr>
  </table>
</form>