<form action="{{calendarEvent.appointment_group_url}}" id="edit_appt_calendar_event_form">
  <p>
    <strong>{{#t "description"}}Description:{{/t}}</strong><br>
    <textarea name="description">{{description}}</textarea>
  </p>
</form>
