<form action="{{calendarEvent.appointment_group_url}}" id="edit_appt_calendar_event_form">
  <p>
    <strong>{{#t "description"}}Description:{{/t}}</strong><br>
    <textarea name="description">{{description}}</textarea>
  </p>
  <p>
    {{checkbox "max_participants_option" id=null}}
    {{#t "slot_limit"}}Limit this slot to{{/t}}
    <input type="number" name="max_participants" class="max-participants" min="1" disabled>
    {{#t "users"}}users.{{/t}}
  </p>
</form>
