<div class="content" id="edit_event_tabs">
  <ul class="tab_list">
    <li><a href="#edit_calendar_event_form_holder" class="edit_calendar_event_option">{{#t "tabs.event"}}Event{{/t}}</a></li>
    <li><a href="#edit_assignment_form_holder" class="edit_assignment_option">{{#t "tabs.assignment"}}Assignment{{/t}}</a></li>
    <li><a href="#edit_planner_note_form_holder" class="edit_planner_note_option">{{#t "tabs.todo"}}To Do{{/t}}</a></li>
    <li><a href="#edit_todo_item_form_holder" class="edit_todo_item_option">--</a></li>
    {{#if showAppointments}}
      <li><a href="#edit_appointment_group_form_holder" class="edit_appointment_group_option">{{#t "tabs.appointment_group"}}Appointment Group{{/t}}</a></li>
    {{/if}}
  </ul>
  <div id="edit_calendar_event_form_holder" class="tab_holder clearfix"></div>
  <div id="edit_assignment_form_holder" class="tab_holder clearfix"></div>
  <div id="edit_appointment_group_form_holder" class="tab_holder clearfix"></div>
  <div id="edit_planner_note_form_holder" class="tab_holder clearfix"></div>
  <div id="edit_todo_item_form_holder" class="tab_holder clearfix"></div>
</div>
