<div title="
  {{#if reschedulable}}
    {{#t "cancel_existing_reservation"}}Cancel existing reservation and sign up for this one?{{/t}}
  {{else}}
    {{#t "appointment_limit_reached"}}Appointment limit reached{{/t}}
  {{/if}}">

  {{#t "you_are_already_signed_up_for"}}You are already signed up for:{{/t}}<br>
  {{#each reservations}}
    <div>
      {{semanticDateRange start_at end_at}}
    </div>
  {{/each}}
  {{#if reschedulable}}
    {{#t "would_you_like_to_cancel_that_and_sign_up_for_this"}}Would you like to cancel that and sign up for this?{{/t}}
  {{else}}
    {{#t "cancel_some_appointments_and_try_again"}}Please cancel one of your other reservations and try again.{{/t}}
  {{/if}}
</div>
