<div class="rs-section">
  <p>{{#t}}The scheduler tool lets you set up time slots that students (or student groups) can sign up for. To get started, click the button below.{{/t}}</p>
  <button class="create_link btn">{{#t "create_a_new_set_of_appointments"}}Create an appointment group{{/t}}</button>
</div>
