<ul>
  {{#each sections}}
    <li>
      <input type="checkbox" name="section_ids[]" value="{{asset_string}}" id="{{asset_string}}_checkbox" {{#if selected}}checked{{/if}}>
      <label for="{{asset_string}}_checkbox">{{name}}</label>
    </li>
  {{/each}}
</ul>
