<table class="time-block-list-body">
  {{#each time_blocks}}
    <tr {{#if locked}}class="locked"{{/if}}>
      <td class="date-column"><input name="date" class="date_field" value="{{formatted_date}}"{{#if locked}} disabled{{/if}}/></td>
      <td class="start-time-column"><input name="start_time" class="time_field start_time" value="{{formatted_start_time}}"{{#if locked}} disabled{{/if}}/></td>
      <td class="separator-column"> - </td>
      <td class="end-time-column"><input name="end_time" class="time_field end_time" value="{{formatted_end_time}}"{{#if locked}} disabled{{/if}}/></td>
      <td class="delete-column">
        {{#unless locked}}
          <a href="#" class="delete-block-link">{{#t "remove_row"}}Remove row{{/t}}</a>
        {{/unless}}
      </td>
    </tr>
  {{/each}}
  {{> [calendar/timeBlock]}}
</table>
