.EditPage {
  .EditPage__Header {
    border-bottom: 1px solid $ic-border-light;
    padding-bottom: 15px;
  }

  .EditPage__Form {
    margin-top: 10px;
  }
}

.EditPage__Options-Input {
  width: 50px;
}

.EditPage__Options-GroupCheckbox {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.hiddenSection {
  display: none;
}

.sectionItem {
  padding-left: 20px;
}

.AppointmentGroupList__List {
  width: 100%;
  margin-top: 10px;
  margin-left: 30px;
}
.AppointmentGroupList__Appointment {
  margin-top: 5px;
}
.AppointmentGroupList__MessageButton{
  margin-top: 10px;
  width: 100%;
  margin-left: 30px;
}
.AppointmentGroupList__unreserved{
  opacity: 0.5;
}

.ContextSelector__Dropdown {
  position: absolute;
  width: 223px;
  background: $ic-color-light;
  border: 1px solid $ic-border-light;
  margin-top: -3px;
  padding-bottom: 5px;
  z-index: 10;
}

.ContextLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 135px;
}


.TimeBlockSelector__DivideSection-Input {
  width: 40px;
}

.TimeBlockSelectorRow__Date,
.TimeBlockSelectorRow__StartTime,
.TimeBlockSelectorRow__EndTime {
  width: 130px;
}
