@import "components/ic-badge";

.EditPage {
  .EditPage__Header {
    border-bottom: 1px solid $ic-border-light;
    padding-bottom: 15px;
  }

  .EditPage__Form {
    margin-top: 10px;
  }
}

.EditPage__Options-Input {
  width: 50px;
}

.EditPage__Options-GroupCheckbox {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.hiddenSection {
  display: none;
}

.sectionItem {
  padding-left: 20px;
}

.AppointmentGroupList__List {
  width: 100%;
  margin-top: 10px;
  margin-left: 30px;
}

.AppointmentGroupList__Appointment {
  margin-top: 5px;
}

.AppointmentGroupList__MessageButton {
  margin-top: 10px;
  width: 100%;
  margin-left: 30px;
}

.AppointmentGroupList__Appointment-timeLabel {
  display: inline-block;
  width: 180px;
}

.AppointmentGroupList__Badge--unreserved {
  @include ic-badge-maker(20px, $ic-color-medium-light, $ic-color-dark);
  border: 1px solid $ic-border-light;
}

.AppointmentGroupList__Badge--reserved {
  @include ic-badge-maker(20px, $ic-color-success, $ic-color-light);
  border: 1px solid $ic-border-light;
}

.AppointmentGroupList__Icon--reserved {
  color: $ic-color-success;
}

.AppointmentGroupList__Icon--unreserved {
  color: $ic-color-medium;
}

.AppointmentGroupList__Badge {
  min-width: 70px;
  margin-right: 10px;
}

.ContextSelector__Dropdown {
  position: absolute;
  width: 223px;
  background: $ic-color-light;
  border: 1px solid $ic-border-light;
  margin-top: -3px;
  padding-bottom: 5px;
  z-index: 10;
}

.ContextLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 135px;
}

.TimeBlockSelectorRow .col-xs {
  flex-basis: auto;
}

.TimeBlockSelector__DivideSection-Input {
  width: 40px;
}

.TimeBlockSelectorRow__Date,
.TimeBlockSelectorRow__StartTime,
.TimeBlockSelectorRow__EndTime {
  width: 130px;
}

#message_participants_form .participant_list {
  margin: 10px 0 20px;

  .student-recipient {
    list-style-type: none;
    box-shadow: 0 0 1px $ic-color-dark;
    background: $ic-color-medium-light;
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 12px;
    display: inline-block;
    font-size: 0.9em;
  }
}
