@import "base/environment";

$kyle-blue: #0081e3;

.accessibility-warning {
  @include accessibility-prompt;
  @include fontSize($ic-font-size--small);
}

#minical {
  color: #666;
  background-color: #f4f4f4;
  text-shadow: 0px 1px 1px white;
  .fc-header {
    @include vertical-gradient(#b6b6b6, #999999);
    border-top: 1px solid #999999;
    border-bottom: 1px solid #6e6e70;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    @include user-select(none);
    h2, .h2 {
      // override styles from default fullcalendar.css
      @include fontSize($ic-font-size--small);
      line-height: 35px;

      background-color: transparent;
      margin: 0;
      //override default right side h2 styles
      color: #fff;
      box-shadow: none;
      border-bottom: none;
      padding-bottom: 0;
      font-weight: 500;
    }
    .fc-button {
      padding: 0px 10px;
      @include fontSize(13px);
      line-height: 35px;
      background: none;
      border: none;
      color: inherit;
      box-shadow: none;
      &:hover { color: $ic-font-color-dark; }
    }
  }
  .fc-widget-header {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    @include fontSize(10px);
    line-height: 20px;
    &.fc-first {
      border-left: 1px solid #bbbbbb;
    }
    &.fc-last {
      border-right: 1px solid #bbbbbb;
    }
  }
  .fc-toolbar .fc-button .fc-icon:after {
    margin: 0; // override -1em margin to fix Edge bug
  }
  .fc-day-number {
    float: none;
    text-align: center;
    line-height: 35px;
  }
  .fc-day-content {
    display: none;
  }
  .event {
    & > div {
      position: relative;
    }
    .fc-day-content {
      display: block;
      position: absolute;
      bottom: -1px;
      right: -1px;
      border-color: transparent $kyle-blue $kyle-blue transparent;
      border-style: solid;
      border-width: 5px;
      width: 0;
      height: 0;
      padding: 0;
    }
  }
  .fc-widget-content {
    @include vertical-gradient(#f0f0f0, #dcdddf);
    position: relative;
    color: #333;
    cursor: pointer;
  }
  .slot-available {
    background: white;
    color: $ic-brand-primary;
  }
  .fc-other-month {
    color: #b4b3b3;
    @include vertical-gradient(#f6f6f6, #ebecec);
  }
  .fc-state-highlight {
    &.event .fc-day-content {
      border-color: transparent #f6f6f6 #f6f6f6 transparent;
    }
  }
}
