@import "base/environment";

$kyle-blue: #0081e3;

.accessibility-warning {
  @include accessibility-prompt;
  font-size: 14px;
}

#minical {
  color: #666;
  background-color: #f4f4f4;
  text-shadow: 0px 1px 1px white;
  .fc-header {
    @include vertical-gradient(#b6b6b6, #999999);
    border-top: 1px solid #999999;
    border-bottom: 1px solid #6e6e70;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    @include user-select(none);
    h2, .h2 {
      // override styles from default fullcalendar.css
      font-size: 14px;
      line-height: 35px;
      
      background-color: transparent;
      margin: 0;
      //override default right side h2 styles
      color: #fff;
      box-shadow: none;
      border-bottom: none;
      padding-bottom: 0;
      @if $use_new_styles { font-weight: 500; }
      @else { font-weight: bold; }
    }
    .fc-button {
      padding: 0px 10px;
      font-size: 13px;
      line-height: 35px;
      background: none;
      border: none;
      color: inherit;
      @if $use_new_styles {
        box-shadow: none;
        &:hover { color: $ic-color-dark; }
      }
      @else {
        &:hover { text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7); }
      }
    }
  }
  .fc-widget-header {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    font-size: 10px;
    line-height: 20px;
    &.fc-first {
      border-left: 1px solid #bbbbbb;
    }
    &.fc-last {
      border-right: 1px solid #bbbbbb;
    }
  }
  .fc-day-number {
    float: none;
    text-align: center;
    line-height: 35px;
  }
  .fc-day-content {
    display: none;
  }
  .event {
    & > div {
      position: relative;
    }
    .fc-day-content {
      display: block;
      position: absolute;
      bottom: -1px;
      right: -1px;
      border-color: transparent $kyle-blue $kyle-blue transparent;
      border-style: solid;
      border-width: 5px;
      width: 0;
      height: 0;
      padding: 0;
    }
  }
  .fc-widget-content {
    @include vertical-gradient(#f0f0f0, #dcdddf);
    position: relative;
    color: #333;
    cursor: pointer;
  }
  .slot-available {
    background: white;
    @if $use_new_styles {
      color: $ic-brand-primary;
    }
    @else {
      color: #0090ff;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    }
  }
  .fc-other-month {
    color: #b4b3b3;
    @include vertical-gradient(#f6f6f6, #ebecec);
  }
  .fc-state-highlight {
    @include vertical-gradient(#4aa0e2, #4596d4);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    &.event .fc-day-content {
      border-color: transparent #f6f6f6 #f6f6f6 transparent;
    }
  }
}
