@import "base/environment";

.rs-section {
  padding: 13px 0;
  border-bottom: 1px solid #d0d1d2;
  border-top: 1px solid #f5f5f6;
  position: relative;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  &:first-child {
    padding-top: 0;
  }
}

#undated-events {
  &.droppable-hover {
    background-color: $droppableBackground;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .event {
    padding: 0px 4px 1px 4px;
    cursor: move;
    border-radius: 3px;
    margin: 2px 0;
    border: 1px solid;
  }
  .spin_holder {
    display: none;
    float: left;
    width: 22px;
    height: 20px;
    position: relative;
  }
  .undated_event_title {
    color: rgba(0, 0, 0, 0.75);
    font-size: 11px;
  }
}

.ui-kyle-menu li {
  min-width: 95px;
}

#calendar-feed-message {
  background: url("/images/ical_big.png") no-repeat top left;
  padding-left: 40px;
}

#calendar-feed-box-lower {
  text-align: center;
  input {
    width: 98%;
  }
}

#context-list-holder {
  padding: 0;
}

#context-list {
  margin: 0;
  padding: 10px 0;
  max-height: 215px;
  overflow-y: auto;
  overflow-x: hidden;
  .context_list_context {
    list-style: none;
    margin: 0;
    padding: 3px 0;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    &:hover {
      background: #b5b5b5;
    }
  }
  .context-list-toggle-box {
    width: 11px;
    height: 11px;
    margin: 5px 11px 0 15px;
    float: left;
    border: 1px solid;
  }
  .not-checked {
    color: #888;
    .context-list-toggle-box {
      border-color: #bbbbbb !important;
      background-color: #e6e7e9 !important;
    }
  }
  .context-list-add {
    position: absolute;
    right: 5px;
  }
}

.ContextList__MoreBtn {
  float: right;
}

.ColorPicker__Overlay {
  background-color: rgba(0, 0, 0, 0);
}


$popoverArrowDistanceFromCorner: $popoverArrowOuterWidth;

.ColorPicker__Content-Modal {
  padding: 1px;
  font-size: 14px;
  min-width: 200px;
  width: 200px;
  color: $gray;
  text-align: left;
  text-decoration: none;
  background-color: $popoverBackground;
  opacity: 1;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  &:before, &:after {
    border-color: transparent transparent $popoverArrowOuterColor transparent;
    position: absolute;
    border-style:solid;
    border-width: $popoverArrowOuterWidth;
    width:0;
    height:0;
    content: "";
    top: -$popoverArrowOuterWidth * 2;
    left: $popoverArrowDistanceFromCorner;
  }

  &.horizontal:before {
    top: 50%;
    margin-top: -$popoverArrowOuterWidth;
    bottom: auto;
    left: -$popoverArrowOuterWidth * 2;
    right: auto;
    border-color: transparent $popoverArrowOuterColor transparent transparent;
  }
  &.horizontal:after {
    top: 50%;
    margin-top: -$popoverArrowWidth;
    bottom: auto;
    left: -$popoverArrowWidth * 2;
    right: auto;
    border-color: transparent $popoverArrowColor transparent transparent;
  }
  &.right.horizontal:before {
    left: auto;
    right: -$popoverArrowOuterWidth * 2;
    border-color: transparent transparent transparent $popoverArrowOuterColor;
  }
  &.right.horizontal:after {
    left: auto;
    right: -$popoverArrowWidth * 2;
    border-color: transparent transparent transparent $popoverArrowColor;
  }
  &.middle:before {
    top: 50%;
    margin-top: -$popoverArrowOuterWidth;
    bottom: auto;
  }
  &.middle:after {
    top: 50%;
    margin-top: -$popoverArrowWidth;
    bottom: auto;
  }
}

.ColorPicker__ColorBlock {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid;
}

.ColorPicker__CustomInput {
  width: 100px;
}

.ColorPicker__ColorContainer {
  width: 180px;
  margin: 0 auto;
  clear: both;
}

.ColorPicker__Header {
  text-align:center;
  margin-bottom: -22px;
}

.ColorPicker__Separator {
  width: 180px;
  margin: 10px auto;
}

.ColorPicker__CloseBtn {
  display: inline-block;
  float: right;
  margin-right: 3px;
}

.ColorPicker__CustomInputContainer {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.ColorPicker__ColorPreview {
  width: 35px;
}
