@import base/environment

#editCalendarEventFull
  label.label_with_checkbox
    margin-bottom: 10px
    input[type="checkbox"]
      margin: 0 5px 0 0
  .date_start_end_row
    +clearfix
    th, td
      vertical-align: top
      padding: 0 5px 0 0
      &:first-child
        padding-left: 0px
      label.row_header
        padding-top: 10px
    input[type="text"], div.input-append
      margin-bottom: 0px
    span
      float: left
      padding: 0 5px
      min-height: 40px
    label
      font-weight: bold
    .date_field
      width: 120px
    .time_field
      width: 95px
    .time_separator
      width: 6px
      line-height: 28px
      padding: 0px
      text-align: center
    .datetime_suggest
      margin-top: 0px
      padding-top: 0px
  .show_if_using_sections
    display: none
  &.use_section_dates
    .show_if_using_sections
      display: block
    .hide_if_using_sections
      display: none

