<form action="{{url}}" class="outcome_group" method="post" novalidate>
  <div id="outcome_group_title_container" data-initial-value="{{title}}"></div>
  <label for="outcome_group_description">{{#t "group_description"}}Describe this group{{/t}}:</label>
  <textarea cols="40" id="outcome_group_description" name="description" rows="20" style="width: 100%; height: 150px;">{{description}}</textarea>
  <div class="button-container pull-right">
    <button type="button" class="btn cancel_button">{{#t "#buttons.cancel"}}Cancel{{/t}}</button>
    <button type="submit" class="btn btn-primary submit_button">{{#t "#buttons.save"}}Save{{/t}}</button>
  </div>
</form>
