<div class="item-group">
  <div class="ig-header" style="position:relative;">

    <span>
      <i class="icon-mini-arrow-down"></i>
      {{name}}
    </span>

    <div style="position:absolute; right:0; top:0">
      <ul class="pill">
        <li>50% of Total</li>
      </ul>

      <a
        class="btn icon-plus center-icon"
        title='{{#t "add_assignment"}}Add Assignment{{/t}}'
      ></a>

      <a class="al-trigger btn">
        <span class="screenreader-only">{{#t "manage"}}Manage{{/t}}</span>
        <i class="icon-settings"></i>
        <i class="icon-mini-arrow-down"></i>
      </a>
      <ul class="al-options">
      </ul>
    </div>

  </div>

  <ul class="collectionViewItems ig-list"></ul>
</div>
