{{#if fileUploaded}}

  <div class="file-status file-uploaded">
    <em role="alert" aria-live="assertive">
    {{#t "quizzes.file_successfully_uploaded"}}
      Your file has been successfully uploaded.
      {{/t}}
    </em>
  </div>
{{else}}
  <div class="file-status file-removed">
    <em role="alert" aria-live="assertive">
      {{#t "quizzes.files_removed"}}
        {{display_name}} has been removed.
      {{/t}}
    </em>
  </div>
{{/if}}
