<h2 class="ig-header">
  <i class="icon-mini-arrow-down"></i> {{#t "headers.course_quizzes"}}Course Quizzes{{/t}}
</h2>

<ul class="ig-list">
  <li>
    <div class="ig-row ig-row-empty">
      <div class="ig-empty-msg">
        {{#t "no_quizzes"}}No quizzes available{{/t}}
      </div>
    </div>
  </li>
</ul>
