<div class="ig-header">
  <i class="icon-mini-arrow-right"></i> {{#t "headers.course_quizzes"}}Course Quizzes{{/t}}
</div>
<div class="ig-no-content">
  {{#t "no_quizzes"}}No quizzes available{{/t}}
</div>
