<h2 class="ig-header">
  <a class="ig-header-title element_toggler" href="#"
     aria-controls="{{listId}}"
     aria-expanded="true">
    <i class="icon-mini-arrow-down"></i> {{title}}
  </a>
</h2>

<ul id="{{listId}}" class="ig-list collectionViewItems"></ul>

<ul class="ig-list no_content">
  <li>
    <div class="ig-row ig-row-empty">
      <div class="ig-empty-msg">
        {{#if isSurvey}}
          {{#t "no_surveys"}}No surveys found{{/t}}
        {{else}}
          {{#t "no_quizzes"}}No quizzes found{{/t}}
        {{/if}}
      </div>
    </div>
  </li>
</ul>
