<button {{action changePublished}} {{bind-attr class=":btn published:btn-published"}}>
  {{#if published}}
    {{#t "published"}}Published{{/t}}
  {{else}}
    {{#t "publish"}}Publish{{/t}}
  {{/if}}
</button>
