<% course_home ||= false %>
<div class="rs-margin-lr <%= 'rs-margin-top' unless course_home %>">
  <% if can_do(@context, @current_user, :manage_content) %>
  <a href="#" class="button add_module_link button-sidebar-wide"><%= image_tag "add.png" %> Add a New Module</a>
  <div>
    <button class="button button-sidebar-wide loading_module_progressions_link disabled" disabled='true' style='display: none;'>Loading Student Progress...</button>
    <a href="#" class="button button-sidebar-wide module_progressions_link" style="display: none;">View Student Progress for Modules</a>
  </div>
  <% end %>
</div>