<h1 class="screenreader-only">
  {{#t "assignments"}}Assignments{{/t}}
</h1>

<div class="header-bar">
  <div class="header-bar-left form-inline">
    <input
      id="search_term"
      name="search_term"
      type="search"
      value=""
      disabled
      placeholder="{{#t "search_for_assignment"}}Search for Assignment{{/t}}"
      aria-label="{{#t "search_for_assignment"}}Search for Assignment{{/t}}"
    >
  </div>

  <div class="header-bar-right">
      <a
        href="#"
        class="btn icon-publish"
        id="addGroup"
        role="button"
        title='{{#t "title_add_group"}}Add Assignment Group{{/t}}'
        aria-label='{{#t "title_add_group"}}Add Assignment Group{{/t}}'
      >{{#t "add_group"}}Publish Assignment Grades{{/t}}</a>
  </div>
</div>

<div data-view="assignmentGroups" class="item-group-container" id="ag-list"></div>
