@import "base/environment";

.js-assignment-overrides {
  overflow: auto;

  .remove-link .icon-end {
    color: $ic-icon-link-color;
    vertical-align: middle;
    &:hover, &:focus {
      color: $ic-icon-link-color-hover;  
    }
  }

  .due-date-override-headers {
    min-width: 812px;

    div {
      width: 183px;
      float: left;
      margin-right: 10px;
    }
  }

  .due-date-overrides {
    margin: 0;

    li.due-date-row {
      list-style-type: none;
      overflow: hidden;
      min-width: 812px;
      margin-bottom: 6px;
      select {
        float: left;
        margin: 0px 10px 0px 0px;
        width: 183px;
      }
      .date_field_container {
        float: left;
        position: relative;
        margin-right: 10px;
        input {
          width: 120px;
        }
        .datetime_suggest {
          height: 20px;
        }
      }
    }
  }
}

#unassigned_warning {
  max-width: 600px;
}
