.js-assignment-overrides {
  overflow: auto;

  .remove-link .icon-end:hover {
    opacity: 1.0;
  }

  .remove-link .icon-end {
    opacity: 0.5;
    color: black;
    vertical-align: middle;
  }

  .due-date-override-headers {
    min-width: 650px;

    div {
      width: 160px;
      float: left;
      margin-right: 10px;
    }
    div.due-date-header {
      width: 145px;
    }
    div.lock-header {
      width: 142px;
    }
  }

  .due-date-overrides {
    margin: 0;

    li.due-date-row {
      list-style-type: none;
      overflow: hidden;
      min-width: 771px;
      select {
        float: left;
        margin: 0px 10px 0px 0px;
        width: 160px;
      }
      .date_field_container {
        float: left;
        position: relative;
        margin-right: 10px;
        input {
          width: 88px;
        }
        .datetime_suggest {
          height: 20px;
        }
      }
    }
  }
}
