@import "base/environment";

.courses-list {
  .showMoreLink {
    padding-left: 35px;
    padding-top: 10px;
  }
}

.grid-row {
  padding-right: 10px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;

  .icon-stats, .icon-message{
    margin-left: 10px;
    margin-right: 10px;
  }
}

[role=columnheader] a{
  color: $ic-font-color-dark;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.react-tabs ul[role=tablist] {
  padding-left: 10px;
  margin-bottom: 20px;
  border-color: $ic-border-light;

  li[role=tab] {
    font-size: 1.1em;
    color: $ic-link-color;
    padding: 0;

    a {
        padding: 10px 25px;
        display: block;
        color: inherit;
    }

    &[selected] {
      font-weight: bold;
      border-color: $ic-border-light;

      a:link,
      a:visited,
      a:hover {
        text-decoration: none;
        color: $ic-font-color-dark;
      }
    }
  }
}

.button-group {
  margin-right: 10px;
  &:last-of-type {
    margin-right: 0;
  }
}

.courses-list-search-bar-layout {
  margin-bottom: $ic-sp/2;
}

.courses-list td {
  vertical-align: top;
}
.courses-list__published-icon {
  color: $ic-color-success;
}

.courses-user-list-header {
  font-weight: 500;
  white-space: nowrap;
}

.courses-user-list-actions {
  white-space: nowrap;
  text-align: right;
}

.users-list-toolbar {
  display: flex;
}

.users-list-toolbar-form {
  flex: 1;
  display: flex;

  .ic-Form-control {
    margin-bottom: 0;
    flex: 1;
  }
}

.users-list-toolbar-actions {
  margin-top: $ic-sp;

  @include breakpoint(tablet) {
    text-align: right;
    margin-top: 0;
  }
}

.users-list-toolbar-actions__layout {

  @include breakpoint(tablet) {
    display: inline-block;
    white-space: nowrap;
  }
}

.ReactModalPortal .ReactModal__Content {
  background: transparent;
  border: none;
}

.flex-grow-2 {
  flex-grow: 2;
}

.UserListRow__Avatar {
  width: 24px;
  height: 24px;
  margin-right: $ic-sp/2;
  border: none;
}

.UserLink__Avatar {
  width: 24px;
  height: 24px;
  margin-right: $ic-sp/2;
  border: none;
}
