@import "base/environment";
@import "pages/agenda/agenda_view_minical";

/*.ic-app-main-content__secondary {
  @include breakpoint(desktop) {
    flex: 0 0 $ic-sp*24;
  }
}*/

#right-side {
  padding: $ic-sp;
  background: $lightBackground;
  border: 1px solid $ic-border-light;

  .element_toggler {
    padding: 0;
    font-weight: 500;
    @include fontSize(14px);
    line-height: 1.3;

    i { vertical-align: middle; }
  }
}

.agenda-wrapper {
  background-color: #fff;
  border: 1px solid #C6CDD4;
  border-radius: 3px;

  display: none;
  &.active {
    display: block;
  }

  .item-group-container {
    background: none;
    padding: 0;
  }
}

.agenda-day {
  border-bottom: 1px dashed #D9DBDC;
  padding: 8px;
  display: flex;
  align-items: center;

  .item-group-condensed {
    padding: 0;
    border: none;
  }

  &.agenda-today {
    background-color: #FEF6E8;
  }
  &:last-child {
    border-bottom: none;
  }
}

.agenda-date {
  @include fontSize(12px);
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  flex: 0 0 90px;
  @include breakpoint(desktop) { flex: 0 0 125px; }
}

.agenda-events { flex: 1; }

span.agendaView--no-assignments {
  display: block;
  padding: 10px;
  @include fontSize(13px);
}
#calendar-app .agenda-event {
  margin: 0;
  outline: none;

  .ig-row {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 3px;
    cursor: pointer;
    padding: $ic-sp/2;

    &:hover, &:focus {
      background-color: #F2F4F6;
    }
  }
  @include breakpoint(desktop) {
    .ig-details {
      justify-content: flex-start;
      > * {
        flex: 0 1 auto;
        padding: 0;
        margin-right: $ic-sp/3;
      }
    }
  }
  .ig-title {
    background: none;
    font-weight: normal;
    // override standard width for .ig-title or it looks too scrunched up
    @include breakpoint(desktop) { flex: 1.34; }
  }

}

.agenda-actions {
  margin-left: 10%;
  .agenda-load-btn {
    margin-bottom: 20px;
  }
}

#calendar_header {
  .navigation_buttons {
    bottom: 0;
    margin-left: 6px;
    .ui-button {
      padding: 8px;
      i:before {
        @include fontSize(12px);
      }
    }
  }

  .ui-buttonset .ui-button {
    vertical-align: middle;
  }

  .navigation_title, .appointment_group_title {
    vertical-align: middle;
    padding-left: $ic-sp/4;
  }

  #refresh_calendar_link {
    display: none;
    float: none;
    margin-right: 8px;
    &.loading {
      display: inline-block;
      cursor: default;
    }
  }
}

// Restore some missing drag styles from fullcalendar css
/*#calendar-drag-and-drop-container .fc-event {
  border-width: 1px;
  border-radius: 3px;
}*/

#calendar-app,#calendar-drag-and-drop-container {
  .fc-view-container {
    background: none;
  }

  .fc-agendaWeek-view {
    .fc-body {
      background-color: white;
    }

    .fc-widget-header, .fc-axis {
      background: none;
      border-left: none;
      color: $ic-font-color--subdued;
    }

    .fc-slats table td {
      height: 27px;
    }

    .fc-axis span {
      border-color: #DADADA;
      padding: 3px 6px;
    }

    .fc-axis td, span {
      background: none;
    }

    .fc-head {
      height: 32px;
    }

    .fc-widget-header {
      border-right: none;
      text-transform: uppercase;

      .fc-axis {
        border-bottom: none;
      }
    }

    .fc-widget-content.fc-state-highlight {
      background-color: $ic-bg-light-alert;
    }

    .fc-event {
      white-space: nowrap;
    }

    .calendar-nowline {
      background-color: #FACE90;
      position: absolute;
      right: 0;
      height: 2px;
    }
  }

  .fc-month-view {
    .fc-widget-header {
      background: none;
      text-transform: uppercase;
      border-left: none;
      border-right: none;
    }

    .fc-body {
      background-color: white;
    }
  }

  .fc-other-month {
    background: none;
  }

  .fc-state-highlight {
    background-color: #fef6e8;
    box-shadow: none;
  }

  .fc-event {
    background-color: white;
    line-height: 1.3;
    padding: $ic-sp/4;
    i {
      margin-right: 2px;
    }
  }

  .fc-grid .fc-day-number {
    padding: 1px 4px;
  }

  .loading-spinner {
    display: inline-block;
    background-image: url("/images/ajax-loader-black-on-white.gif");
    background-position: 50% 50%;
    height: 16px;
    margin-left: 3px;
    position: relative;
    top: 8px;
    width: 16px;
  }
}

.rs-section {
  border: none;
  padding: 0;
  margin: 0 0 $ic-sp*2;
  &:last-of-type { margin-bottom: 0; }
}

#context-list-holder, #undated-events {
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid $ic-border-light;
  padding: $ic-sp/2;
  ul {
    margin-bottom: 10px;
    &:last-of-type { margin-bottom: 0; }
  }
}

#context-list {
  padding: 0;
  max-height: none;
  .context_list_context {
    padding: 1px $ic-sp/2;
  }
  .context-list-toggle-box {
    border-radius: 2px;
    margin-left: 0;
  }
  label {
    display: inline;
    @include fontSize(13px);
    font-weight: 500;
  }
  .checked label {
    font-weight: 500;
  }
}

#undated-events {
  display: none;
  .event {
    background-color: #fff;
    line-height: 24px;
    .undated_event_title {
      color: inherit;
    }
  }
}

/*.ig-row {
  cursor: pointer;
  border-bottom: none;
  border-top: none;
  .icon-settings {
    color: #bbb;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      color: #444;
    }
  }
}
*/
