@import "base/environment";

.alert_separator {
  border-top: 1px dotted #aaa;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert {
  padding-left: 40px;
  padding-right: 40px;
  margin: 1px 2px 2px 2px;
  width: auto;
  padding: 20px 20px 6px 6px;
  .alert-label {
    color: black;
    font-weight: bold;
    marge-top: 5px;
  }
  .labelled_region{
    margin-bottom: 15px;
  }
  .links {
    float: right;
    opacity: 0.5;
    &:hover {
      opacity: 1.0;
    }
  }
  .repetition_group {
    margin-left: 40px;
  }
  li {
    width: 400px;
    clear: right;
    .delete_item_link {
      float: right
    }
  }
  .add_criteria_line select, .add_recipients_line select, .repetition_group input[type="text"] {
    vertical-align: baseline;
  }
  
}

.alert.blank {
  display: none;
}

.alert.editing .displaying {
  display: none;
}

.alert.displaying .editing {
  display: none;
}

.alert .form-actions {
  background-color: $warningBackground;
}