#aligned_outcomes {
  .outcomes {
    list-style-type: none;
    padding-left: 10px;
    .outcome {
      margin-bottom: 5px;
      .short_description {
        font-weight: bold;
      }
      .description {
        font-size: 0.8em;
        margin-left: 20px;
      }
      .mastery {
        margin-top: 5px;
        font-size: 0.7em;
        font-style: italic;
        margin-left: 20px;
      }
    }
  }
}

#align_outcomes_dialog {
  .all_outcomes {
    list-style-type: none;
    padding-left: 10px;
    .outcome {
      padding: 2px 5px;
      margin-bottom: 2px;
      &.selected_outcome {
        background-color: #eee;
      }
    }
  }
}
