h2 {
    margin-bottom: 2rem;
}

#assign-observers-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}