@import "base/environment";

.bcs__trigger {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 3px;
  border-bottom-left-radius: 5px;
  background-color: $ic-brand-primary;
  box-shadow: -1px 1px 2px 0 rgba(0,0,0,.2);

  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 58px;
    right: 0;
    bottom: 0;
    width: 8px;
    background-color: $ic-brand-primary;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,.2)
  }
}

.bcs__content {
  width: 270px;
}

.bcs__header {
  background: $ic-brand-primary;
  position: relative;
  text-align: center;
  padding: 1.2em 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}

.bcs__close-wrapper {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
