@import "base/environment";

.bcs__trigger {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 3px;
  border-bottom-left-radius: 5px;
  background-color: $ic-brand-primary;
  box-shadow: -1px 1px 2px 0 rgba(0,0,0,.2);

  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 58px;
    right: 0;
    bottom: 0;
    width: 8px;
    background-color: $ic-brand-primary;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,.2)
  }
}

.bcs__content {
  width: 270px;
}

.bcs__row {
  margin: 0.5em 1.5em;
  border-bottom: 1px solid $ic-border-color;

  .bcs__row-right-content {
    float: right;
    line-height: 2.5em;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}

.bcs__header {
  background: $ic-brand-primary;
  position: relative;
  text-align: center;
  padding: 1.2em 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}

.bcs__close-wrapper {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.bca__wrapper {
  margin: 0 auto;
  max-width: 850px;
  position: relative;
}

.bca__overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.85);
  text-align: center;
}

.bca__overlay__save-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bca__footer {
  display: flex; justify-content: flex-end; flex: 0 0 auto;
}

.bca-course-filter {
  border: 1px solid $ic-border-color;
  border-radius: $ic-border-radius;

  input, select {
    // overwrite instui borders to match design
    border: none !important;
  }

  select {
    // use box shadow magic to create fancy border effect, overwriting instui
    box-shadow: inset -10px 0 0 7px $ic-color-light, inset 1px 0 0 0 $ic-border-color !important;
  }
}

.bca-course-details__wrapper {
  margin-top: 1em;
  position: relative;

  &> div > div {
    // overwrite instui padding to match design
    padding-left: 0 !important;
  }
}

.bca-course-picker__loading {
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: rgba(255,255,255,.65);
  text-align: center;
  padding-top: 100px;
  border-radius: $ic-border-radius;
}

.bca-table__wrapper {
  border: 1px solid $ic-border-color;
  border-radius: $ic-border-radius;
  padding: 78px 0 0;
  position: relative;
  overflow: hidden;

  .btps-table__header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .bca-table__head {
      background: $ic-color-medium-light;

      th {
        line-height: 180%;
      }
    }
  }

  .bca-table__select-all {
    padding: 8px 2px;
    border-bottom: 1px solid $ic-border-color;
    margin: 0 10px;

    label > span > span:last-child {
      margin-left: 22px;
    }
  }

  .bca-table__content-wrapper {
    height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;

    .bca-table__body {
      tr {
        // overwrite instui borders to match design
        border-left: none !important;

        td:first-child {
          // overwrite instui borders to match design
          border-bottom: none !important;

          // recreate the borders using box shadow
          box-shadow: -42px 1px 0 0 $ic-color-light, 0 1px 0 0 $ic-border-color;
        }

        &.bca-table__no-results {
          td {
           box-shadow: none;
         }
        }
      }
    }
  }
}

.bca-associations-table {
  padding-left: 10px;
  margin-bottom: 40px;
  position: relative;
  min-height: 75px;

  .bca-associations__course-row {
    form {
      margin: 0;
    }
  }
}
