@import "base/environment";
@import "components/ic-theme-card";

.ic-ThemeCard-container {
  + .ic-ThemeCard-container { margin-bottom: $ic-sp*3; }
}

.ic-ThemeCard-container__Main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; // keeps height in check on card when current card is selected
}

.ic-ThemeCard-container__Heading {
  @include fontSize(14px);
  position: relative;
  line-height: 1;
  text-align: center;
  color: $ic-font-color--subdued;
  margin: 0 0 $ic-sp*2;
  &:before {
    content: "";
    position: absolute;
    top: 50%; left: 0;
    height: 1px; width: 100%;
    background: $ic-border-light;
  }
}

.ic-ThemeCard-container__Heading-text {
  display: inline-block;
  background: $ic-color-light;
  position: relative;
  z-index: 1;
  padding-left: $ic-sp;
  padding-right: $ic-sp;
}
.ic-ThemeCard-add-template-menu {
  .ui-menu-item a {
    min-width: 240px; // override default kyle menu width
    padding-left: $ic-sp*2;
    padding-top: $ic-sp/4;
    padding-bottom: $ic-sp/4;
  }
}
