// Compiler for Canvas
//=======================

// Variables (including Bootstrap and jQuery UI), mixins, and functions
@import "base/environment";

// Heavily customized vendor styles
@import "vendor/jqueryui/jquery.ui.all";
@import "base/custom_bootstrap";
@import "vendor/flexboxgrid";

// Canvas components and area-specific styles
@import "components/buttons";
@import "components/g_base";
@import "components/accordion";
@import "components/g_instructure";
@import "components/tables";
@import "components/tabs";
@import "components/aacs";
@import "components/g_assignments";
@import "components/g_groups";
@import "components/g_media_comments";
@import "components/g_context_modules";
@import "components/g_collaborations";
@import "components/g_files";
@import "components/g_wiki";
@import "components/g_conference";
@import "components/g_rubrics";
@import "components/g_wiki_sidebar";
@import "components/g_syllabus";
@import "components/g_mini_calendar";
@import "components/helpDialog";
@import "components/ic-expand-link";
@import "vendor/mediaelementplayer";
@import "base/custom_mediaelementplayer";
