@import "base/environment";

/* Helper classes */
.align-center { text-align: center; }
.align-right  { text-align: right; }
.padding-r    { padding-right: 16px; }
.table        { display: table; }
.table-row    { display: table-row; }
.table-cell   { display: table-cell; }
.ellipsis     {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Page styles */
header:not(.ic-app-header) {
  background: #fff;
  border-bottom: 1px solid #b6babf;
  padding: 16px 0;
}

/* Item box */
.item-box {
  color: #434343;

  a {
    &.btn-primary, &.btn-primary:hover {
      color: #fff;
    }

    &:hover {
      color: #434343;
      text-decoration: none;
    }
  }

}

.ig-row-label {
  margin-right: $ic-sp;
  @include breakpoint(desktop) {
    margin-right: $ic-sp*1.5;
  }
}

.ig-header-title a {
  color: $ic-font-color-dark;
}

.ig-list .ig-row {
  padding-left: $ic-sp;
  padding-right: $ic-sp;
}

.ig-info {
  margin-left: 0;
}

.ig-title {
  margin-bottom: 0;
}

#add_conference_form {
  min-width: 700px;
}

#web_conference_title, #web_conference_description {
  min-width: 500px;
}

#web_conference_duration {
  width: 25px;
}

.item-group-expandable .emptyMessage {
  color: $ic-font-color--subdued;
  background: $ic-color-light;
  text-align: center;
  padding: $ic-sp;
  margin: 0;
  border-radius: 3px;
}
