#edit_course_home_content_form div.form_group {
  padding-top: 2px;
  padding-left: 10px;
}

.public-license-image-link {
  float:left;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.public-license-text {
  font-size: 0.8em;
  display: block;
  line-height: 1.5em;
  padding-left:5px;
}

#course_status h3 {
  font-size: 17.5px;
  line-height: 20px;
}