@import "base/environment";

.course-list-table {
  table-layout: fixed;
  white-space: nowrap;

  /* Column widths are based on these cells */
  .course-list-star-column {
    width: 3%;
    &.course-list-favorite-icon {
      color: $ic-color-icon-disabled;
    }
  }
  .course-list-term-column,
  .course-list-enrolled-as-column {
    width: 15%;
  }
.course-list-published-column {
    width: 7%;
  }
  .course-list-nickname-column {
    width: 25%;
  }
  .course-list-course-title-column,
  .course-list-not-favoritable,
  .course-list-group-column {
    width: 35%;
  }
  .course-list-no-left-border {
    border-left: 0;
  }
  .course-list-table-row:hover {
    background-color: $lightBackground;
  }
}

.course-list-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-list-favorite-course {
  color: $ic-color-alert;
}

.content--hasMarginTop {
  margin-top: $ic-sp*2;
}

.course-color-block:before {
  content:'\25FC';
  @include fontSize(20px);
  padding-right: $ic-sp/2;
  vertical-align: middle;
}
