// Styles for Dashboard Card Component

@import "base/environment";
@import "components/ic-badge";


$ic-DashboardCard-width: 262px;
$ic-DashboardCard-action-height: 40px;
$ic-DashboardCard-action-width: floor($ic-DashboardCard-width / 4);
$ic-DashboardCard-icon-size: 16px;
$ic-DashboardCard-icon-padding: floor(($ic-DashboardCard-action-width - $ic-DashboardCard-icon-size) / 2);
$ic-DashboardCard-icon-color: $ic-icon-link-color;
$ic-DashboardCard-action-hover-font-color: $ic-brand-primary;
$ic-DashboardCard-toggle-size: 60px;

// Optional parent container padding
.ic-DashboardCard__box {
  padding: $ic-sp 0 0;

}

@keyframes placeholder {
  to { opacity: 0.5; }
}

.ic-DashboardCard__placeholder-svg {
  display: block;
  width: 100%;
  height: 100%;
  .ic-DashboardCard__placeholder-animates > * {
    fill: darken($ic-bg-light-neutral, 3%);
    animation-name: placeholder;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    @for $i from 2 through 7 {
      &:nth-child(#{$i}) {
       animation-delay: 0.1s * $i;
      }
    }
  }
}

.ic-DashboardCard {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(black, 0.2);
  border-bottom: 4px solid #eee;
  background: $ic-color-light;
  width: $ic-DashboardCard-width;
  display: inline-block;
  vertical-align: top;
  margin: 0 $ic-sp*3 $ic-sp*3 0;
  .no-touch & {
    &:hover { box-shadow: 0 4px 18px rgba(black, 0.25); }
  }
}

.ic-DashboardCard__header {
  position: relative; // positioning context for cog button
  cursor: pointer;
  box-sizing: border-box;
}

.ic-DashboardCard__header_hero {
  box-sizing: border-box;
  height: 146px;
  border: 1px solid rgba(black, 0.1);
}

.ic-DashboardCard__header_image {
  background-size: cover;
}

.ic-DashboardCard__header_content {
  box-sizing: border-box;
  padding: $ic-sp*1.5 $ic-sp*1.5 0;
  background: $ic-color-light;
  height: 80px;
}

.ic-DashboardCard__header-button {
  position: absolute;
  top: $ic-sp/2; right: $ic-sp/2;
}

.ic-DashboardCard_settings_icon {
  color: white;
  opacity: 0.6;
}

.ic-DashboardCard__header-title {
  transition: all 0.2s ease-out;
  transform: translate3d(0,0,0);
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: $baseFontSize;
  font-weight: 500;
}

.ic-DashboardCard__header-subtitle {
  line-height: 1.3;
  text-transform: uppercase;
  padding: 0;
  margin: $ic-sp/3 0 0;
}

.ic-DashboardCard__header-term {
  margin: 0;
  line-height: 1.3;
  font-size: $baseFontSize - 2;
}

@if $use_high_contrast == false {
  .ic-DashboardCard__header-subtitle,
  .ic-DashboardCard__header-term {
    color: $ic-icon-link-color;
  }
}

.ic-DashboardCard__action-layout {
  position: relative;
  display: inline-block;
  width: $ic-sp*3;
  line-height: 1;
}

.ic-DashboardCard__action-badge {
  @include ic-badge-maker(18px, $ic-brand-primary, $ic-color-light);
  box-shadow: 0 0 0 1px $ic-color-light;
  transition: all 0.2s;
  position: absolute;
  top: -0.75em; right: -0.5em;
  z-index: 1; // when dashcard links get squished, don't cut off badges
}



.ic-DashboardCard__action-container {
  background: $ic-color-light;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  min-height: $ic-DashboardCard-action-height;
}

.ic-DashboardCard__action {
  transition: color 0.2s;
  display: block; // fix for IE10
  position: relative; // for :after alignment
  font-size: $ic-DashboardCard-icon-size;
  padding: 0 $ic-DashboardCard-icon-padding;
  line-height: $ic-DashboardCard-action-height;
  box-sizing: border-box;
  color: $ic-DashboardCard-icon-color;
  width: $ic-DashboardCard-action-width;

  .no-touch & {
    &:focus {
      @if $use_high_contrast { outline: 1px solid $ic-link-color; }
      @else { outline: none; }
    }
    &:hover { color: $ic-DashboardCard-action-hover-font-color; }
  }
}



.dashboard-toggle-button {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  display: inline-block;
  outline: none;

  &.dashboard-toggle-button--toggle-left {
    .dashboard-toggle-button-switch:after { transform: translate3d(0,0,0); }
  }

  &.dashboard-toggle-button--toggle-right {
    .dashboard-toggle-button-switch:after { transform: translate3d($ic-DashboardCard-toggle-size/2,0,0); }
  }

  &:focus {
    .dashboard-toggle-button-switch:after {
      @if $use_high_contrast {
        box-shadow:
          inset 0 0 0 3px $ic-link-color,
          0 0 0 2px $ic-color-light,
          0 3px 6px rgba(black, 0.3);
      }
      @else {
        box-shadow:
          0 0 0 6px rgba($ic-link-color, 0.4),
          0 3px 6px rgba(black, 0.3);
      }
    }
  }
}

.dashboard-toggle-button-layout {
  display: flex;
  align-items: center;
  width: $ic-DashboardCard-toggle-size*2 + 4;
}

.dashboard-toggle-button-icon {
  transform: translate3d(0,0,0) scale(0.9);
  flex: 0 0 $ic-DashboardCard-toggle-size/2;
  speak: none;
  line-height: 1;
  svg {
    max-width: $ic-sp*1.5;
    max-height: $ic-sp*1.5;
    display: inline-block;
    vertical-align: middle;
    > * { fill: $ic-icon-link-color; }
  }

  &.dashboard-toggle-button-icon--active {
    transform: scale(1.1);
    svg > * { fill: $ic-link-color; }
  }
}

.dashboard-toggle-button-switch {
  background: $ic-color-dark;
  border: 2px solid $ic-color-dark;
  border-radius: 17px;
  flex: 0 0 $ic-DashboardCard-toggle-size;
  height: $ic-DashboardCard-toggle-size/2;
  position: relative;
  &:after {
    content: "";
    transition: all 0.1s ease-in-out;
    width: $ic-DashboardCard-toggle-size/2;
    height: $ic-DashboardCard-toggle-size/2;
    background: url("/images/toggle-handle.svg") 50% 50% no-repeat $ic-color-light;
    background-size: 20px;
    border-radius: 100%;
    position: absolute;
    top: 0; left: 0;
    box-shadow: 0 3px 6px rgba(black, 0.3);
  }
}
