@import "base/_environment.scss";
@import "components/conditional_release";

.removeAttachment {
  @include fontSize(20px);
  color: black;
  text-decoration: none;
}

#discussion-edit-header-tabs {
  display: flex;
  align-items: flex-end;
  #topic-draft-state {
    padding-bottom: 6px;
  }
  #discussion-edit-header-spacer {
    flex: 1;
  }
}
