
.due-date-wizard-card {
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .title-wrapper {
    background: rgba(217, 218, 220, .6);
    width: 100%;
    border-bottom: 1px solid #C7CDD1;
    padding-bottom: .25rem;
  }
  
  .title, .section {
    text-align: center;
  }

  .course-date-fields {
    display: flex;
  }

  .course-date-row {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem .25rem 1rem;
  }

  .due-date-btn {
    margin: .5rem .25rem;
  }

  .course-date-title {
    font-weight: 600;
  }

  .warning {
    color: #EF6666;
  }

  .disabled {
		opacity: 0.5;
    pointer-events: none;
  }
  
  .distributing-warning-section {
    padding-bottom: 1rem;
  }
  
  .distributing-warning {
    font-weight: 600;
  }

  .progress {
    height: 1.5em;
    margin: 0;
    width: 100%;
    background-color: #efefef;
    background-image: none;
    border-radius: .25rem;
    box-shadow: none;
    position: relative;

    .value span {
      background-color: #8abbd6;
      background-image: linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
      background-size: 2rem 2rem;
      display: inline-block;
      height: 100%;
      position: absolute;
      animation: due-date-progress 1s;
      animation-iteration-count: infinite;
      transition-timing-function: ease-in;
      left: 0;
      top: 0;

      @keyframes due-date-progress {
        from  { background-position: 2rem 0; }
        to    { background-position: 0 0; }
      }
      
      @-webkit-keyframes due-date-progress {
        from  { background-position: 2rem 0; }
        to    { background-position: 0 0; }
      }
    }
  }
}