@import "base/environment";

.EnrollmentTerms__dropdown {
  background-color: $lightBackground;
  margin-bottom: 2px;
  margin-right: 12px;
}

.EnrollmentTerms__list {
  margin-left: 24px;
  @include fontSize($ic-font-size--xsmall);
}
