@import "base/environment";
@import "components/ProgressBar";

.course-epub-exports-app {
  .failed {
    color: $ic-color-danger;
  }
}

.epub-exports-admin-controls {
  a {
    @include fontSize(14px);
    line-height: 20px;
    padding: 8px 14px;
  }
}
