@import "base/environment";

body.ic-full-screen-lti-tool .tool_content_wrapper {
  // Full-width external tools
  // are 100% height. This stops the body from
  // throwing vertical scrollbars
  overflow-y: hidden;
  // Full-width external tools hide footer, so
  // we know iframe container height can stay 100vh
  height: 100vh;
}

#footer {
  display: none;
}
