@import "base/environment";

#gradebook-history {
  margin: 0;
  padding: 1em;
  li {
    list-style: none;
  }
  h4, .h4 {
    margin: 0;
  }
  .assignment_header {
    cursor: pointer;
    display: flex;
    align-items: center;
    a {
      padding-right: 5px;
      float: left;
      &:hover {
        text-decoration: underline;
      }
    }
    .changes {
      @include fontSize(13px);
      line-height: inherit;
      min-width: 65px;
      float: left;
      text-align: center;
      vertical-align: middle;
      margin: $ic-sp/2;
      border: none;
      background: transparent;
      color: $ic-font-color-dark;
      text-shadow: none;
      box-shadow: none;
      &::after {
        content: '|';
        padding-left: $ic-sp/2;
      }
    }
    .ui-icon {
      float: left;
    }
  }
  .assignment_details {
    padding-bottom: $ic-sp/2;
    table {
      width: 100%;
      text-align: center;
    }
  }
  .revert-grade-link {
    font-weight: normal;
    padding: 0 3px;
    line-height: 20px;
    text-decoration: none;
    .revert, .ui-icon {
      opacity: 0;
    }
    .ui-icon {
      display: inline;
      padding: 0 0 0 18px;
    }
    .grade {
      padding: 0 3px;
      border-color: transparent;
    }
    &:hover, &:focus {
      .revert, .ui-icon {
        opacity: 1;
      }
      .grade {
        border-color: inherit;
        background-color: white;
      }
    }
  }
  .current_grade {
    padding-left: 17px;
  }
  .loading {
    background: #F5F8F9 url(/images/blue_small_loading.gif) no-repeat left center;
    color: #bbb;
  }
}
