@import "base/environment";

#grading_periods {
  margin-bottom: 0;

  .grading-period:nth-child(n+2) {
    border-top: none;
  }
  .input-grading-period-date {
    width: 160px;
  }
  .icon-delete-grading-period::before {
    padding: 9px 0px;
    cursor: pointer;
    height: 20px;
    font-size: 20px;
  }
  .update-button {
    width: 98px;
  }
  .icon-delete-container {
    width: 20px;
  }
  .buttons-grid-row {
    width: 250px;
  }

  label {
    font-weight: bold;
  }
}

.new-grading-period {
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-top-style: none;
  border-width: 2px;

  font-size: 16px;

  #add-grading-period-button {
    text-decoration: none;
  }

  .grading-period-add-icon {
    margin-right: 2px;
  }
}

.no-active-grading-periods {
  border-top-style: dashed;
}
