@import "base/environment";
@import "pages/rubrics";

#main {
  max-width: none;
}

.outcomes-browser {
  min-width: 840px;
  margin-top: 0px;
  .outcomes-toolbar {
    padding: 5px;
    margin-top: 0px;
    height: 38px;
    background-image: none;
    background-color: #d4dce2;
    border-radius: 5px 5px 0px 0px;
    border: none;
    .manage_rubrics {
      float: right;
    }
    .search {
      float: right;
    }
    .ui-button {
      i {
        margin-bottom: -3px;
      }
    }
  }
  .outcomes-main {
    height: 625px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    &::after {
      clear: both;
    }
  }
  .outcomes-sidebar {
    float: left;
    height: 610px;
    width: 201px;
    background-color: $lightBackground;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
    border: none;
    border-radius: 0px 0px 0px 5px;
    .wrapper {
      width: 201px;
    }
  }
  .outcomes-content {
    height: 625px;
    border-left: 1px solid $borderColor;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    border: none;
    border-radius: 0px 0px 5px 0px;
    background-color: #fbfbfb;
    .learning_outcome {
      label.span3 {
        margin-left: 0px;
      }
    }
    .wrapper {
      padding: 15px;
      padding-top: 10px;
      width: 600px;
      min-height: 300px;
    }
    label {
      display: block;
      padding: 5px 0 5px 0;
    }
    .outcome_information_link i {
      margin-bottom: -3px;
    }
    .delete_button, .edit_button, .edit_group_button, .move_group_button {
      margin-right: 1em;
    }
  }
}

ul.outcome-level {
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
  float: left;
  height: 625px;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  &.outcome-level-hover, &.outcome-level-hover li {
    background: white;
  }
  li {
    padding: 0;
    margin: 0;
    background-color: $lightBackground;
    overflow: hidden;
    list-style: none;
    width: 200px;
    &:hover, &:focus {
      outline: none;
      a {
        background: white;
      }
      i[class*=icon-] {
        background-image: url(/images/blue/canvas-icons-16x16-blue.png);
      }
    }
    a {
      text-decoration: none;
      display: block;
      padding: 4px 12px;
      color: #555555;
      white-space: nowrap;
      &:hover {
        background: white;
      }
      i[class*=icon-]:before, i[class^=icon-]:before {
        vertical-align: baseline;
      }
    }
    &.selected {
      a {
        background-color: $ic-bg-light-primary;
        &:hover {
          background-color: $activeBG;
        }
      }
      &.droppable {
        a {
          background-color: $lightBackground;
          color: #bbb;
        }
      }
    }
    &.droppable {
      a {
        background-color: $activeBG;
      }
    }
    a.loading-more {
      background-color: darken($lightBackground, 3%);
    }
    &[aria-grabbed=true] a, &[aria-grabbed=true] i {
      opacity: 0.75;
    }
  }
}

#import_dialog {
  padding: 0;
  margin: 0;
  .ui-dialog-buttonpane {
    margin-top: 0;
  }
}

table.criterion {
  padding: 0;
  min-width: 600px;
  margin: 2em 0;
}

table.criterion td {
  border: 1px solid $borderColor;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  &.total {
    background-color: $lightBackground;
  }
}

.rating-wrap {
  position: relative;
}

h5, .h5 {
  margin-top: 0;
  margin-bottom: 10px;
  color: $ic-link-color;
  font-weight: normal;
  min-height: 1em;
  &.total {
    font-weight: bold;
    @if $use_high_contrast {
      color: $ic-font-color-dark;
    }
  }
}

table.criterion .edit {
  display: none;
  min-width: 180px;
  .row-fluid {
    margin-bottom: 8px;
  }
  .buttons button {
    float: right;
    margin-left: 4px;
  }
}

.edit_rating {
  float: right;
}

.outcome_rating_description {
  width: 100%;
}

table.criterion .insert {
  position: absolute;
  top: -33px;
  right: -22px;
  cursor: pointer;
  a {
    @if $use_high_contrast {
      color: $ic-font-color-dark;
    }
    @else {
      color: $grayLight;
    }
    text-decoration: none;
  }
  &:hover {
    a {
      color: $ic-link-color;
    }
    span {
      border-top-color: $ic-link-color;
    }
  }
}

.arrow-icon {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 11px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  display: block;
  @if $use_high_contrast {
    border-top-color: $ic-font-color-dark;
  }
  @else {
    border-top-color: $grayLight;
  }
}

.outcomes-points-label {
  font-size: 11px;
}

.outcomes-edit-row {
  text-align: left;
}

.no-outcomes-warning {
  margin: 10px 40px 10px 40px;
}

.outcomes_narrow_text_input {
  width: 20px;
}

.outcomes-calculation-int-italics {
  font-style: italic;
}
