@import "base/environment";

.MasqueradeModal__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MasqueradeModal__text {
  margin-top: $ic-sp*22;
}

.MasqueradeModal__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $ic-sp*15;
}

.MasqueradeModal__svg {
  position: absolute;
  margin: 0 auto;
  top: $ic-sp*15;
  left: 0;
  right: 0;
  height: $ic-sp*10;
  width: $ic-sp*10;
}

.MasqueradeModal__mask {
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.75));
  animation: pandaMasquerade 3s infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes pandaMasquerade {
  0% { transform: rotate(0deg) translate3d(0px,0px,0px); }
  33% { transform: rotate(0deg) translate3d(0px,0px,0px); }
  66% { transform: rotate(-20deg) translate3d(-120px,0px,0px); }
  100% { transform: rotate(-20deg) translate3d(-120px,0px,0px); }
}

.MasqueradeModal__mask-1 {
  fill: #faa441;
}

.MasqueradeModal__mask-1,
.MasqueradeModal__mask-2 {
  stroke: #8d642c;
}

.MasqueradeModal__mask-1,
.MasqueradeModal__mask-3,
.MasqueradeModal__mask-10 {
  stroke-width: 2px;
}

.MasqueradeModal__mask-2,
.MasqueradeModal__mask-4,
.MasqueradeModal__mask-7,
.MasqueradeModal__mask-10 {
  fill: none;
}

.MasqueradeModal__mask-2 {
  opacity: .7;
}

.MasqueradeModal__mask-3,
.MasqueradeModal__mask-6 {
  fill: #fff;
}

.MasqueradeModal__mask-3,
.MasqueradeModal__mask-10 {
  stroke: #822b00;
}

.MasqueradeModal__mask-4 {
  stroke: #b1703f;
  stroke-width: 10px;
}

.MasqueradeModal__mask-4,
.MasqueradeModal__mask-7 {
  stroke-linecap: round;
}

.MasqueradeModal__mask-5 {
  fill: #b1703f;
}

.MasqueradeModal__mask-7 {
  stroke: #86939d;
  stroke-width: 5px;
}

.MasqueradeModal__mask-8 {
  fill:#822b00;
}

.MasqueradeModal__mask-9 {
  fill:#999;
}

.MasqueradeModal__panda-1,
.MasqueradeModal__panda-6 {
  fill: #fff;
}

.MasqueradeModal__panda-1,
.MasqueradeModal__panda-2 {
  stroke: #32434f;
  stroke-width:2px;
}

.MasqueradeModal__panda-2,
.MasqueradeModal__panda-5 {
  fill: #3f5463;
}

.MasqueradeModal__panda-3 {
  fill: #32434f;
}

.MasqueradeModal__panda-4 {
  fill: none;
  stroke: #86939d;
  stroke-linecap: round;
  stroke-width:5px
}

.MasqueradeModal__panda-7 {
  fill: #999;
}
