@import "base/environment";
@import "pages/shared/move_dialog";

.accessibility-warning {
  @include accessibility-prompt;
  @include fontSize(12px);
  position: absolute;
  left: 0px;
  top: -16px;
}

#weight-groups {
  padding-left: 15px;
}

.ag-header-controls {
  position: absolute;
  top: 0;
  right: 0;
}

.loadingIndicator {
  margin-top: 15px;
}

.group_select {
  margin-left: 20px;
}

#ag_weights_wrapper {
  overflow-y: auto;
  position: absolute;
  top: 35px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  #assignment_groups_weights {
    margin-top: 30px;
    width: 100%;
    td {
      padding: 10px 0px;
    }
    td.right-align {
      text-align: right;
    }
    tfoot td {
      font-weight: bold;
    }
  }
}

.assignment {
  .default-dates .status-description { font-weight: bold; }
}

@media screen and (max-width: 1280px) {
  #course_home_content {
    .assignment-date-available {
      visibility: hidden;
    }
  }
}

.ag-weights-tr {
  border-bottom: 1px solid #dae1e6;
}

.remove_never_drop {
  color: #666;
  &:hover {
    color: #333;
  }
}

.never_drop_rule {
  padding-bottom: 5px;
}

.drop_rules_section {
  margin-bottom: 0;
  @include fontSize(14px);
  line-height: 20px;
  border-bottom: 0;
  font-weight: bold;
}

.show-by-label {
  // to match what we add to non-wrapped labels in bootstrap overrides
  vertical-align: -4px;
  margin-right: 5px;
}

.sortable-handle, .draggable-handle {
  cursor: pointer;
  color: darken($ic-color-neutral, 40%);
  a {
    color: darken($ic-color-neutral, 40%);
  }
}

.sortable-handle {
  margin: 0 0px 0 -30px;
  padding: 0 0px 0 30px;
  a {
    padding: 20px 0px 10px 0px;
  }
}

.sortable-dropzone {
  height: 50px;
  background-color: #dce1e6;
  border: 1px dashed #c1c7cf;
  border-top: none;
}

.ui-sortable-helper {
  background-color: $ic-color-light;
  border: 1px solid $ic-border-dark !important;
  box-shadow: 0px 1px 16px rgba(black, 0.3);
}

.draggable .ui-sortable-helper {
  background-color: white;
  div {
    border: none !important;
  }
}

.draggable-dropzone {
  height: 40px;
  background-color: lighten($ic-color-dark, 15%);
  border-right: 1px dashed $ic-border-dark;
  border-left: 1px dashed $ic-border-dark;
}

.ag-header-controls .tooltip_link {
  color: #3d454c;
}

#ag-list {
  padding-bottom: 100px;
}

.row-fluid span.grade-display {
  margin-left: 9%;
}

.accessible-toggler {
  @include ic-focus-base;
  color: #333;
  &:focus { @include ic-focus-variant; }
  &:hover, &:focus {
    color: #333;
    text-decoration: none;
  }
}
