@import "base/environment";
@import "pages/login/registration_dialog.scss";
@import "pages/login/login_legacy.scss";
@import "vendor/bootstrap/responsive-767px-max";
@import "pages/login/login_otp";
@import "pages/login/ic-login-sso.scss";

