@import "base/environment";

.colorPickerIcon {
  border-radius: 3px;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-#{direction(left)}: 10px;
  margin-#{direction(right)}: 10px;
  vertical-align: text-top;
}

.delete {
  display: inline-block;
  margin-#{direction(left)}: 20px;
}

.save {
  padding: 0.75rem 0 0;
  text-align: direction(right);
}
