@import "base/environment";
@import "components/_MimeClassIcons.scss";

@import "pages/react_files/react_files";

// Styles for specific React Components
@import "pages/react_files/FilePreview";
@import "pages/react_files/RestrictedDialogForm";
@import "pages/react_files/UploadDropZone";
@import "pages/react_files/MoveDialog";
@import "pages/react_files/FolderTree";
@import "pages/react_files/UsageRightsIndicator";
@import "pages/react_files/UsageRightsDialog";
@import "pages/react_files/UsageRightsSelectBox";
@import "pages/react_files/DialogPreview";
