@import "base/environment";

@import "pages/react_collaborations/_CollaborationsApp.scss";
@import "pages/react_collaborations/_Collaboration.scss";
@import "pages/react_collaborations/_DeleteConfirmation.scss";
@import "pages/react_collaborations/_LoadingSpinner.scss";
