@import "base/environment";

.avatar {
  display: inline-block;
  vertical-align: middle;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5px;
  legend {
    font-weight: bold;
    border: none;
    width: auto;
    margin-left: 20px;
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

table.details {
  td {
    padding: 1px 5px;
  }
  th {
    text-align: left;
  }
}

.user-switch-alert {
  border: 1px solid black;
  background-color: #FFD;
  margin: 5px 0;
  padding: 20px;
  .warning-text {
    font-weight: bold;
  }
  .links, .add_holder {
    display: none;
  }
}
