@import "base/environment";
@import "components/context_search";

tr.rosterUser .avatar {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: -7px;
  position: relative;
  z-index: 1;
}

.token_input {
  width: 100%;
}

#user_sections {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include name_bubbles;
    clear: left;
  }
}

#edit_sections {
  a.browser {
    background: transparent url(/images/messages/context-search-sprite.png) 0 0 no-repeat;
  }
}
