@import "base/environment";
@import "components/context_search";

.roster-container {
  display: flex;
}

.roster {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

.user-list {
  list-style-type: none;
  margin: 10px 0 0;
}

.user-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.user-list__item-details {
  margin-left: 10px;
}

.token_input {
  width: 100%;
}

#user_sections {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include name_bubbles;
    clear: left;
  }
}

#edit_sections {
  a.browser {
    background: transparent url(/images/messages/context-search-sprite.png) 0 0 no-repeat;
  }
}
