@import 'base/environment';

ul.item_list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 20px 20px;
  max-height: 150px;
  overflow: auto;
  li {
    display: block;
    a.header {
      font-size: 1em;
    }
    div.sub_header {
      font-size: 0.8em;
      color: $ic-font-color--subdued;
      margin-top: -5px;
      margin-bottom: 0.5em;
      margin-left: 5px;
    }
  }
}

table.numbers_table {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-collapse: collapse;
  th {
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px dotted #ccc;
    padding-left: 5px;
    font-size: 0.8em;
  }
  td {
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px dotted #ccc;
  }
}

.stats table {
  margin: 0 20px;
  border-collapse: collapse;
  th {
    border-bottom: 1px dotted #ccc;
    padding: 2px 10px;
    text-align: left;
  }
  td {
    border-bottom: 1px dotted #ccc;
    padding: 2px 10px;
  }
  td.indent {
    padding-left: 25px;
    font-size: 0.8em;
  }
  .small {
    font-size: 0.8em;
  }
}

#page_views_by_day td {
  border: none;
}
