@import "base/environment";

.submission-details-header {
  margin-bottom: $ic-sp;
}

.submission-details-header__grade-summary {
  float: right;
}

.submission-details-container {
  border: 1px solid $ic-border-light;
  box-sizing: border-box;
  @include breakpoint(desktop) {
    display: flex;
  }
}

.submission-details-frame {
  box-sizing: border-box;
  @include breakpoint(desktop) { flex: 1; }
}

.submission-details-comments {
  box-sizing: border-box;
  border-top: 1px solid $ic-border-light;
  @include breakpoint(desktop) {
    flex: 0 0 280px;
    border-top: none;
  }
  .comments {
    height: 300px;
    overflow: auto;
    background-color: $ic-bg-light-neutral;
    @include breakpoint(desktop) { border-left: 1px solid $ic-border-light; }
  }
}

.file-upload-submission {
  display: flex;
  align-items: center;
  background: $ic-color-light;
  padding: $ic-sp $ic-sp/2;
  border-bottom: 1px solid $ic-border-light;
  &:last-of-type { border-bottom: none; }
}

.file-upload-submission-info {
  @include fontSize(13px);
  box-sizing: border-box;
  flex: 0 0 50%;
  padding-right: $ic-sp;
  > a {
    @include fontSize(13px); // need to overwrite default tiny-text style here
    margin-right: $ic-sp/2;
    font-weight: bold;
  }
}

.file-upload-submission-info__filesize {
  @include fontSize(12px);
  white-space: nowrap;
}

.file-upload-submission-attachment {
  @include fontSize(13px);
  flex: 0 0 30%;
  text-align: right;
  box-sizing: border-box;
  padding-left: $ic-sp;
}

.file-upload-submission-turnitin {
  @include fontSize(13px);
  flex: 0 0 20%;
}

.omit-from-final-warning {
  padding: 12px;
  border-width: 1px;
  margin: 5px;
}
