@import "base/environment";

#syllabus {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
  thead th, td {
    text-align: left;
    @include fontSize(14px);
  }
  tr.date {

    &.date_passed {
      > td, > th {
        background-color: $ic-color-medium-light;
      }
    }
    .day_date {
      white-space: nowrap;
    }
    td.details {
      padding-right: 0;
      td {
        border: none;
        background-color: transparent;
      }
    }
    table.detail_list {
      width: 100%;

      td.dates {
        white-space: nowrap;
        padding-right: 7px;
        text-align: right;
      }
      tr.syllabus_assignment {
        .name a {
          @if $use_high_contrast {
            text-decoration: none;
            &:hover, &:focus {
              text-decoration: underline;
            }
          }
        }
      }
      td.not_last {
        @if $use_new_styles { border-bottom: 1px solid $ic-border-light; }
        @else { border-bottom: 1px solid #ddd; }
      }
      tr.related_event {
        @if $use_new_styles { background-color: $ic-bg-light-primary; }
        @else { background-color: #e7f3ff; }
      }
    }
    &.date_passed {
      td, th {
        background-color: $ic-color-medium-light;
      }
      &.details {
        color: #444;
      }
    }
    // when you hover over a date on the mini-calendar on the right, it will add the .related
    // class to the row that is showing the assignments for that date
    &.related, &.selected {
      td, th {
        @if $use_new_styles { background-color: $ic-bg-light-primary; }
        @else { background-color: #def; }
      }
    }
  }
  .special_date_title {
    color: #999;
    @include fontSize(12px);
  }
}
.name {
  > i {
    padding-right: $ic-sp/2;
  }
}
#toggle_special_dates_in_syllabus {
  &.hidden span.hide {
    display: none;
  }
  &.shown span.show {
    display: none;
  }
  float: right;
}

#syllabus_links {
  @include clearfix;
}
