.ic-app-main-layout-vertical {
  min-width: 1100px;
}
.term .edit_term {
  display: none;
}
.term.editing_term .show_term {
  display: none;
}
.term.editing_term .edit_term {
  display: block;
}
#terms .term td.header {
  font-size: 1.2em;
  padding-right: 20px;
}
.term .permissions {
  font-size: 0.8em;
}
#terms {
  border-collapse: collapse;
  width: 100%;
}
#terms td {
  vertical-align: top;
}
#terms td.header, #terms td.permissions, #terms td.links {
  border-bottom: 1px solid #aaa;
  padding: 2px 0;
}
#terms td.links {
  padding-left: 5px;
}
#terms form.enrollment_term_form {
  width: 80%;
}
#terms form.enrollment_term_form .control-group {
  margin-bottom: 0px;
}
#terms form.enrollment_term_form label {
  margin-bottom: 0px;
}
#terms form.enrollment_term_form .edit_term_buttons {
  text-align: right;
  width: 286px;
}
.terms-wrapper {
  margin: 0 10px;
  width: auto;
}
