#login_information {
  > table {
    border-collapse: collapse;
    width: 100%;
  }
  tr.login > th, tr.login > td {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    &.sso-icon {
      padding-top: 6px;

      .ic-icon-svg {
        width: 26px;
        height: 26px;
      }
    }
  }
  .account_name {
    line-height: 3.0;
  }
  .login_details {
    padding: 0;
  }
  .login_details td:first-child {
    font-weight: bold;
  }
  .login_details:last-child {
    & td {
     border-bottom: none;
  }
  }
  .login_details_link {
    font-style: italic;
  }
  .links {
    white-space: nowrap;
    text-align: right;
    font-size: 0.8em;
    padding-left: 30px;
  }
}
