@import "base/environment";
@import "components/ProgressBar";

.webzipexport__list {
  border-top: 1px solid $ic-border-color;
  border-bottom: 1px solid $ic-border-color;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 14px 0px 14px 0px;

  li {
    margin: 5px 0px 5px 0px;
  }
}