#distractionFreeToggle {
    background-color: #33373F;
    border-radius: 50%;
    bottom: 0;
    height: 50px;
    margin: auto;
    position: absolute;
    right: -25px;
    top: 0;
    width: 50px;

    i {
        color: #F5F5F6;
    }
}
