#distractionFreeToggle {
    background-color: #212329;
    border-radius: 4px;
    bottom: 0;
    height: 38px;
    line-height: 0;
    margin: auto auto 24px;
    padding: 2px;
    position: absolute;
    right: -24px;
    text-align: right;
    width: 48px;

    i {
        color: #F5F5F6;
        transition-duration: .24s;
        transition-property: color;
        transition-timing-function: ease-in;

        &::before {
            font-size: 1.2rem;
        }
    }

    &:hover {

        i {
            color: #FDB414;
        }
    }
}

hr.sm-divider {
    border: none;
    border-bottom: 1px #454950 solid;
    margin: 12px auto;
    max-width: calc(100% - 24px);
}

body {
    opacity: 1;
    transition-property: opacity;
    transition-delay: .48s;
    transition-duration: .24s;
    transition-timing-function: ease-in;

    &.hide-interface {
        opacity: 0;
    }
}