<div id="profile_pic_dialog">
  <a href="#" class="profile_pics_url" style="display: none;">&nbsp;</a>

  {{#t "profile_pictures"}}Select the image you would like to use as your profile, or upload a new image:{{/t}}

  <div class="profile_pic_list"
       style="background: #eee; padding: 5px; -moz-border-radius: 5px; margin: 5px 10px;">
    <h3 style="padding-left: 10px; padding-top: 10px;">
      {{#t "headers.loading_images"}}Loading Images...{{/t}}
    </h3>
    <div class="clear"></div>
  </div>

  <a href="#" class="add_pic_link add">{{#t "links.upload_new_image"}}Upload a new Image{{/t}}</a>

  <form id="add_pic_form" method="POST" action="#" style="display: none;">
    <input type="hidden" name="format" value="text" />

    <input id="attachment_uploaded_data"
           name="attachment[uploaded_data]"
           size="30"
           type="file" />

    <button type="submit" class="btn btn-small">
      {{#t "butons.add_picture_file"}}Add File{{/t}}
    </button>
  </form>
</div>
