<div class="avatar-nav">
  <ul class="nav nav-pills">
    {{#if hasFileReader}}
      <li class="active">
        <a href="#upload-picture">{{#t "upload_a_picture"}}Upload a Picture{{/t}}</a>
      </li>
    {{/if}}
    {{#if hasGetUserMedia}}
      <li>
        <a href="#take-picture">{{#t "take_a_picture"}}Take a Picture{{/t}}</a>
      </li>
    {{/if}}
    <li>
      <a href="#from-gravatar">{{#t "from_gravatar"}}From Gravatar{{/t}}</a>
    </li>
  </ul>
</div>

<div class="avatar-content">
  <div class="active" id="upload-picture"></div>
  <div id="take-picture" class="text-center"></div>
  <div id="from-gravatar" class="text-center"></div>
</div>
