{{#if hasPreview}}
  <div class="row-fluid">
    <div class="span6">
      <p>
        {{#t "crop_instructions"}}To crop image, drag the selection and then click the "Save" button below.{{/t}}
      </p>
    </div>
    <div class="span6 text-center avatar-preview-wrapper">
      <div class="avatar-preview" />
    </div>
  </div>
{{else}}
  <a class="select-photo-link" href="#">
    <i class="icon-image icon-select-photo"></i>
    {{#t "choose_a_picture"}}choose a picture{{/t}}
  </a>

  <input id="selected-photo" type="file" class="hidden" accept="image/*" />
{{/if}}
