[autogen]
/.sublime-project.sublime-workspace
/.jshint.html
/doc/api
/doc/coverage
/tests.html
*.swp

[build]
/tmp/*

[assets]
exclude
*.zip
*.gz

[env]
/.ruby-version
/.grunt/
/node_modules
/assets
/www/dist
/www/fixtures
/www/font
/www/images
/www/src
/www/vendor
/vendor/js/rsvp.js
/src/js/config/environments/development_local.js
/dist