@import 'pages/agenda/agenda_view_minical';

body {
  background: #E8ECEF;
}

#right-side {
  margin: 0;
  margin-left: 20px;
  width: 240px;
  padding: 13px;
  background-color: #d3d9df;

  .element_toggler {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    &:hover, &:focus {
      background-color: #DBE0E6;
      border-radius: 3px;
    }
    i {
      vertical-align: middle;
    }
  }
}

.agenda-wrapper {
  background-color: #fff;
  border: 1px solid #C6CDD4;
  border-radius: 3px;

  display: none;
  &.active {
    display: block;
  }

  .item-group-container {
    background: none;
    padding: 0;
  }
}

.agenda-day {
  border-bottom: 1px dashed #D9DBDC;
  padding: 8px;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  .item-group-condensed {
    padding: 0;
    border: none;
  }

  &.agenda-today {
    background-color: #FEF6E8;
  }
  &:last-child {
    border-bottom: none;
  }
}

.agenda-date {
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  max-width: 125px;
  width: 10%;
}

.agenda-events {
  float: left;
  width: 90%;
}
span.agendaView--no-assignments {
  display: block;
  padding: 10px;
  font-size: 13px;
}
#calendar-app .agenda-event {
  margin: 0;
  outline: none;

  .ig-row {
    border: none;
    box-shadow: none;
    height: 30px;
    background: none;
    border-radius: 3px;

    &:hover, &:focus {
      background-color: #F2F4F6;
      outline: none;
    }
  }

  .ig-title {
    background: none;
    font-weight: normal;
    top: 4px;
  }

  .ig-details {
    top: 4px;
  }
}

.agenda-actions {
  margin-left: 10%;
  .agenda-load-btn {
    margin-bottom: 20px;
  }
}

#calendar_header {
  .navigation_buttons {
    bottom: 0;
    margin-left: 6px;
    .ui-button {
      padding: 8px;
      i:before {
        font-size: 10px;
      }
    }
  }

  .ui-buttonset .ui-button {
    vertical-align: middle;
  }

  .navigation_title, .appointment_group_title {
    vertical-align: middle;
    padding-left: 12px;
  }

  #refresh_calendar_link {
    display: none;
    float: none;
    margin-right: 8px;
    &.loading {
      display: inline-block;
      cursor: default;
    }
  }
}

// Restore some missing drag styles from fullcalendar css
#calendar-drag-and-drop-container .fc-event {
  border-width: 1px;
  border-radius: 3px;
}

#calendar-app,#calendar-drag-and-drop-container {
  .fc-content {
    background: none;
  }

  .fc-view-agendaWeek {
    .fc-widget-header {
        background: none;
        border-left: none;
        color: #627382;
    }

    .fc-agenda-slots td div {
      /* this value needs to match the calculated value of .fc-agenda-axis
       * below, or event height will be wrong will dragging to resize in
       * week view */
      height: 27px;
    }

    .fc-agenda-axis {
      border-color: #DADADA;
      padding: 3px 6px;
    }

    .fc-agenda-days {
      thead .fc-first {
        height: 32px;
      }

      .fc-widget-header {
        border-right: none;
        text-transform: uppercase;

        &.fc-first {
          border-bottom: none;
        }
      }

      .fc-widget-content {
        background-color: white;
      }

      .fc-widget-content.fc-state-highlight {
        background-color: #FEF6E8;
      }
    }

    .fc-event {
      white-space: nowrap;
    }

    .calendar-nowline {
      background-color: #FACE90;
      position: absolute;
      right: 0;
      height: 2px;
    }
  }

  .fc-view-month {
    .fc-widget-header {
      background: none;
      text-transform: uppercase;
      border-left: none;
      border-right: none;
    }

    tbody {
      background-color: white;
    }
  }

  .fc-other-month {
    background: none;
  }

  .fc-state-highlight {
    background-color: #fef6e8;
    box-shadow: none;
  }

  .fc-event {
    background-color: white;
    i {
      margin-right: 2px;
    }
  }

  .fc-grid .fc-day-number {
    padding: 1px 4px;
  }

  .loading-spinner {
    display: inline-block;
    background-image: url("/images/ajax-loader-black-on-white.gif");
    background-position: 50% 50%;
    height: 16px;
    margin-left: 3px;
    position: relative;
    top: 8px;
    width: 16px;
  }
}

.rs-section {
  border: none;
  padding: 0;
  margin: 13px 0;
}

#context-list-holder, #undated-events {
  border: 1px solid #C6CDD4;
  border-radius: 3px;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  ul {
    margin-bottom: 10px;
  }
}

#context-list {
  padding: 0;
  max-height: none;
  .context_list_context {
    padding: 3px;
  }
  .context-list-toggle-box {
    border-radius: 2px;
    margin-left: 0;
  }
  label {
    display: inline;
  }
  .checked label {
    font-weight: bold;
  }
}

#undated-events {
  display: none;
  .event {
    background-color: #fff;
    line-height: 24px;
    .undated_event_title {
      color: inherit;
    }
  }
}

.ig-row {
  cursor: pointer;
  border-bottom: none;
  border-top: none;
  .icon-settings {
    color: #bbb;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      color: #444;
    }
  }
}
