<% 
  jammit_css :login
  @headers = false
  @body_classes << "modal" 
  content_for :page_title, "Registration Confirmation Failed"
%>

<div id="modal-box" style="padding-top:127px;">
  <h2>Problem with Registration</h2>
    <p>It looks like you may have already confirmed your registration.  Try 
    <a href="<%= login_url %>"><b>logging in</b></a>
    with the email address and password you registered.  If you can't remember
    your password, click the "Forgot Password" link and you should get a new link
    that you can use to log in and re-set your password.</p>
    <% if Setting.get_cached("show_feedback_link", "false") == "true" %>
      <p>If you keep having problems, click the "Feedback" tab at the top right
      and let us know what's going on.
    <% end %>
    </p>
</div>
