/*
@styleguide Highlights/Alerts

```html
<p>
  <div class="alert">
    <strong>Alert:</strong> Sample .alert style.
  </div>
</p>
<p>
  <div class="alert alert-error">
    <strong>Error:</strong> Sample .alert .alert-error style.
  </div>
</p>
<p>
  <div class="alert alert-success">
    <strong>Success:</strong> Sample .alert .alert-success style.
  </div>
</p>
<p>
  <div class="alert alert-info">
    <strong>Information:</strong> Sample .alert .alert-info style.
  </div>
</p>
```

```html
<p>
  <div class="ic-flash-info">
    Info: Sample flash notice style.
  </div>
</p>
<p>
  <div class="ic-flash-success">
    Success: Sample flash notice style.
  </div>
</p>
<p>
  <div class="ic-flash-warning">
    Warning: Sample flash notice style.
  </div>
</p>
<p>
  <div class="ic-flash-error">
    Error: Sample flash notice style.
  </div>
</p>
```

*/

.ic-flash-info, .ic-flash-success, .ic-flash-warning, .ic-flash-error {
  position: relative;

  color: #ffffff;
  font-weight: bold;

  padding: 4px 40px 4px 8px;
  margin: 0 auto;
  width: 475px;
  min-height: 20px;
  z-index: 2;
  zoom: 1;
  vertical-align: middle;
  text-align: center;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.5);

  a {
    text-decoration: underline;
    color: inherit;
  }
  a.close_link {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-top: -11px;
    color: white;
    text-decoration: none;
  }
  &.no_close a.close_link {
    display: none;
  }

  i {
    height: 20px;
    margin-right: 2px;
  }

  &.ic-flash-static {
    width: auto;
  }
}

.ic-flash-info {
  background-color: #3a87ad;
}

.ic-flash-success {
  background-color: $successText;
}

.ic-flash-warning {
  color: #472a0e;
  background-color: #ffb700;
}

.ic-flash-error {
  background-color: #b94a48;
}

.ic-flash--Theme-Editor {
  background-color: $ic-color-dark;
}

// Buttons in Flash actions
a.Button--flash {
  text-decoration: none;
  @if $use_high_contrast {
    text-decoration: underline;
  }
}

.ic-fixed-bottom-alert {
  background: $ic-color-light;
  border-top: 1px solid $ic-border-light;
  box-shadow: 0 -1px 2px rgba(black, 0.1);
  padding: $ic-sp/2 $ic-sp;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  @if $use_new_styles {
    @include breakpoint(desktop) {
      width: $ic-sp*23;
      padding: $ic-sp*0.75;
      align-items: flex-start;
      border: 1px solid $ic-border-light;
      border-radius: $baseBorderRadius;
      box-shadow: 0 0 8px rgba(black, 0.1);
      position: absolute;
      right: $ic-sp; bottom: $ic-sp;
      display: block;
    }
  }
  .avatar {
    width: $ic-sp*3; height: $ic-sp*3;
  }
}

.ic-fixed-bottom-module {
  flex: 1;
  padding: 0 $ic-sp/2;
  &:first-of-type { padding-left: 0; }
  &:last-of-type {
    padding-right: 0;
    &.ic-fixed-bottom-module--buttons {
      text-align: right;
    }
  }
  &.ic-fixed-bottom-module--header {
    font-weight: 500;
  }
  &.ic-fixed-bottom-module--description {
    font-style: italic;
    font-size: $baseFontSize - 2;
    line-height: 1.3;
  }
  @if $use_new_styles {
    @include breakpoint(desktop) {
      padding-left: 0; padding-right: 0;
      margin-bottom: $ic-sp/2;
      &:last-of-type { margin-bottom: 0; }
    }
  }
}

$ic-notification-icon-size: 22px;
$ic-notification-border-thickness: 2px;

@mixin ic-notification-color-scheme($color) {
  border-color: $color;
  .ic-notification__icon { background: $color; }
}

// .ic-notification
.ic-notification {
  display: flex;
  border: $ic-notification-border-thickness solid $ic-brand-primary;
  margin-bottom: $ic-sp;
  box-shadow: 0 1px 6px rgba(black, 0.2);
  border-radius: $baseBorderRadius;
  box-sizing: border-box;
  form { margin: 0; }
  &.ic-notification--success { @include ic-notification-color-scheme($ic-color-success); }
  &.ic-notification--alert { @include ic-notification-color-scheme($ic-color-alert); }
  &.ic-notification--danger { @include ic-notification-color-scheme($ic-color-danger); }
  // variant for global notifications created by admin via Settings
  &.ic-notification--admin-created {
    .ic-notification__content {
      display: flex;
      @include breakpoint(wide) { align-items: flex-start; }
    }
    .ic-notification__message { flex: 1; }
    .ic-notification__actions {
      margin-left: $ic-sp*2;
      @include breakpoint(wide) { margin-left: $ic-sp*3; }
    }
    .ic-notification__title {
      display: block;
      font-size: $baseFontSize + 2;
      margin: 0 0 $ic-sp/2;
    }
  }
}

.ic-notification__icon {
  background: $ic-brand-primary;
  flex: 0 0 $ic-sp*4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: ($baseBorderRadius - $ic-notification-border-thickness);
  border-bottom-left-radius: ($baseBorderRadius - $ic-notification-border-thickness);
  box-sizing: border-box;
  @include overwrite-default-icon-size($ic-notification-icon-size);
  i[class*=icon-], i[class^=icon-] {
    color: $ic-color-light;
    text-shadow: none;
  }
}

.ic-notification__title {
  margin-right: $ic-sp/3;
  font-size: $baseFontSize;
  display: inline;
  font-weight: 500;
}

.ic-notification__content {
  flex: 1;
  padding: $ic-sp;
  box-sizing: border-box;
  background: $ic-color-light;
  @include breakpoint(wide) {
    display: flex;
    align-items: center;

  }
}

.ic-notification__message {
  box-sizing: border-box;
  margin-bottom: $ic-sp/2;
  p:last-of-type { margin-bottom: 0; }
  @include breakpoint(wide) {
    flex: 1;
    margin-bottom: 0;
  }
}

.ic-notification__actions {
  box-sizing: border-box;
  @include breakpoint(wide) {
    margin-left: $ic-sp*4;
  }
}
