.avatar {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d9d9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 500px;
  display: block;
}

#avatars tr .avatar_state {
  text-align: center;
}
