#breadcrumbs {
  background-color: $base-content-background-color;
  > ul {
    margin: 0;
    padding: 4px $base-content-padding;
    list-style: none;
    > li {
      display: inline-block;
      white-space: nowrap;
      + li {
        &:before {
          @extend i[class*=icon-]:before;
          @extend .icon-arrow-open-right:before;
          font-size: 10px !important;
          color: hsl(0,0,61%);
          padding: 0 5px;
        }
        &:last-of-type a {
          color: $base-font-color--subdued;
        }
      }
    }
  }
  // This is kinda hacky, but the label for the crumbs is in a
  // <span class="ellipsis"> so we have to give it a display other than inline
  // for it to actually do ellipsis. but when we do that, it is positioned weird;
  // hence the position, top and margin-top, to get it back to where it should be.
  .ellipsis {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-top: -6px;
  }
  .icon-home:before {
    font-size: 10px;
    color: $base-font-color--subdued;
  }
}