//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core

/*
@styleguide Buttons

### Button Styles

```html
<p>
  <button class="Button" type="button">.Button</button>
  &nbsp;
  <button class="Button" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--primary" type="button">.Button.Button--primary</button>
  &nbsp;
  <button class="Button Button--primary" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--primary Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--secondary" type="button">.Button.Button--secondary</button>
  &nbsp;
  <button class="Button Button--secondary" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--secondary Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--success" type="button">.Button.Button--success</button>
  &nbsp;
  <button class="Button Button--success" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--success Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--warning" type="button">.Button.Button--danger</button>
  &nbsp;
  <button class="Button Button--warning" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--warning Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--danger" type="button">.Button.Button--danger</button>
  &nbsp;
  <button class="Button Button--danger" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--danger Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
<p>
  <button class="Button Button--link" type="button">.Button.Button--link</button>
  &nbsp;
  <button class="Button Button--link" type="button" disabled>&[disabled]</button>
  &nbsp;
  <button class="Button Button--link Button--active" type="button" style="pointer-events: none">&.Button--active</button>
</p>
```

### Button Sizes

Add an additional class `.btn-large`, `.btn-small`, `.btn-mini` to change button sizes

```html
<p>
  <button class="btn btn-large" type="button">Large button</button>
</p>
<p>
  <button class="btn" type="button">Default button</button>
</p>
<p>
  <button class="btn btn-small" type="button">Small button</button>
</p>
<p>
  <button class="btn btn-mini" type="button">Mini button</button>
</p>
```

### Artificial buttons

To create something that acts like a button when you can't use a button element,
listen to the "click" and "keyclick" events and add tabindex="0" and role="button".

```html
<div class="btn" tabindex="0" role="button">Activate me</div>
```
*/

.btn,       // <-- deprecated- do not use
.Button {
  @include canvas-button(darken($canvas-light, 3%), $textColor, true);
  border-radius: $baseBorderRadius;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  padding: 8px 14px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-shadow: none;

  // Hover state
  &:hover { text-decoration: none; }

  // Focus state for keyboard and accessibility ONLY IN HIGH CONTRAST MODE
  @if $use_high_contrast { 
    &:focus { @include button-focus; } 
  }
  // If not high-contrast, the "canvas-button" mixin has the :focus state share the same styles as :hover
  @else { &:focus { outline: none; } }

  &.disabled, &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large, // <-- deprecated- do not use
.Button--large {
  padding: $paddingLarge;
  font-size: $fontSizeLarge;
  border-radius: $borderRadiusLarge;

  [class^="icon-"], [class*=" icon-"] { margin-top: 2px; }

}


// Small
.btn-small, // <-- deprecated- do not use
.Button--small {
  padding: $paddingSmall;
  font-size: $fontSizeSmall;

  [class^="icon-"], [class*=" icon-"] { margin-top: 0; }

}


// Mini
.btn-mini, // <-- deprecated- do not use
.Button--mini {
  padding: $paddingMini;
  font-size: $fontSizeMini;
  border-radius: $borderRadiusSmall;
}


// Block button
// -------------------------

.btn-block, // <-- deprecated- do not use
.Button--block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include box-sizing(border-box);
}

// Vertically space out stacked block buttons
.btn-block + .btn-block, .Button--block + .Button--block { margin-top: 6px; }

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block, &.Button--block { width: 100%; }
}

// Set the backgrounds
// -------------------------

.btn-primary, // <-- deprecated- do not use
.Button--primary {
  @include canvas-button($canvas-primary, $canvas-light, false);
  @if $use_high_contrast {
    &:focus { @include button-focus($canvas-action); }
  }
}
// Warning appears are orange
.btn-warning, // <-- deprecated- do not use
.Button--warning {
  @include canvas-button($canvas-alert, $canvas-light, false);
}
// Danger and error appear as red
.btn-danger, // <-- deprecated- do not use
.Button--danger {
  @include canvas-button($canvas-danger, $canvas-light, false);
}
// Success appears as green
.btn-success, // <-- deprecated- do not use
.Button--success {
  @include canvas-button($canvas-success, $canvas-light, false);
}
// Info appears as a neutral blue
.btn-info, // <-- deprecated- do not use
.Button--secondary {
  @include canvas-button($canvas-secondary, $canvas-light, false);
}

// Inverse appears as dark gray <-- deprecated- do not use
.btn-inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link

.btn-link, .btn-link:active, .btn-link[disabled], // <-- deprecated - do not use
.Button--link, .Button--link:active, .Button--link[disabled] {
  background: transparent;
  background-image: none;
  box-shadow: none;
}

.btn-link, // <-- deprecated- do not use
.Button--link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;

  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
    background: transparent;
  }

  &.active, &.Button--active, &:active {
    background: rgba($canvas-dark, 0.05);
    box-shadow: none;
    border-color: transparent;
    color: $linkColor;
  }

  &.disabled, &[disabled] {
    color: $textColor;
    background: transparent;
  }
}


// Handle jQueryUI-generated button classes
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { @extend .ui-helper-hidden-accessible; }

.ui-button {
  position: relative;
  @extend .Button;
  &.ui-state-hover { @extend .Button:hover }
  &.ui-state-focus { @extend .Button:focus }
  &.ui-state-active { 
    @extend .Button--active;
    &:hover { @extend .Button--active; }
  }
  &.ui-state-disabled { @extend .Button.disabled; }
}