a.external {
  &:hover, &:focus, &:active {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
    .ui-icon-extlink {
      text-decoration: none;
    }
  }
  .ui-icon-extlink {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
  }
}
