

$dark-blue: #edf4fc;
$green: #f5fbf7;
$highlight-blue: #00b5fe;

.collaborations-header {
  overflow: hidden;

  h1, .h1    { float: left; }
  a.btn { float: right; }
}

.collaboration {
  background: url(/images/google_docs.png) no-repeat;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 10px 10px 10px 60px;

  &.etherpad {
    background: url(/images/ether_pad.png) no-repeat 5px 20px;
    padding: 10px 10px 10px 85px;
  }

  .links {
    float: right;
    line-height: 0.8em;
  }

  h3, .h3 {
    font-family: arial, sans-serif;
    font-size: 1.2em;
    border-bottom: 1px solid #cccccc;
  }
}

.collaborator-picker {
  .list-wrapper {
    float: left;
    height: 300px;
    overflow-y: scroll;
    width: 50%;
  }

  .list-wrapper li {
    position: relative;

    .icon-end, .icon-add {
      display: none;
      position: absolute;
      right: 5px;
      top: 4px;
    }

    &:hover .icon-end, &:hover .icon-add,
    a:focus .icon-end, a:focus .icon-add {
      display: block;
    }
  }

  .loading-wrapper { text-align: center; }
  .loading-wrapper img { margin: 16px auto; }

  .list-wrapper ul             { display: none; }
  .list-wrapper ul:first-child { display: block; }
  .members-list-wrapper ul     { display: block; }

  .box-with-header .box-content {
    overflow: hidden;
    padding: 0;
  }

  .ui-state-active i {
    color: #00b5fe !important;
  }
}

.collaboration-actions.form-actions {
  background: none;
  border: none;
  padding: 0;
}

.collaborator-list > ul > li {
  background: none;
  border-bottom: 1px solid lighten($borderColor, 22%);
  border-top: 1px solid $white;
  color: $gray;
  display: block;
  padding: 4px 12px;

  &:hover {
    background: $dark-blue;
  }

  > a {
    border: none;
    padding: 0;
  }

  > a:hover { background: none; }
}

.members-list-wrapper {
  li {
    background: $green;

    &:hover, &:hover a, a:focus {
      background: none;
      color: #b72d1e;
      outline: 0;
    }

  }

  a { cursor: pointer; }

  .remove-button {
    display: none;
  }

  .remove-button a {
    color: #333;
    cursor: pointer;
    display: block;
    text-align: center;
  }

  .member-instructions {
    border: 2px dashed #999;
    border-radius: 10px;
    color: #777;
    font-size: 16px;
    margin: 36px 8px 8px 8px;
    padding: 4px;
    text-align: center;
  }
}

