@import "base/environment";

.mini_month {
  padding: $ic-sp 0 0;
  margin-bottom: $ic-sp*2;
}

.mini-cal-header {
  text-align: center;
  padding: $ic-sp $ic-sp/2;
  font-weight: bold;
  border: 1px solid $ic-border-light;
  color: $ic-font-color--subdued;

  img {
    vertical-align: middle;
  }
  .prev_month_link {
    float: left;
  }
  .next_month_link {
    float: right;
  }
}

.mini_calendar {
  width: 100%;
  border: 1px solid $ic-border-light;
  border-top: none;

  .day {
    padding: 0;
    height: 21px;
    color: #444;
    text-align: center;
    cursor: pointer;
    width: 14%;
    @include fontSize($ic-font-size--xsmall);
    border-radius: $baseBorderRadius;
    &.has_event { background-color: darken($lightBackground, 4%); }
    &.today { background-color: $ic-bg-light-alert; }
    .event_link_text, .today_text, .previous_month_text, .next_month_text {
      display: none;
    }
    &.other_month { color: #888; }
    &:hover, &.related, &.drop_target { background-image: url("/images/4_percent_opacity.png"); }
    &.drop_target { background-color: #aaa; }
  }
  .day.today {
      .today_text {
          display: block;
      }
  }
  .day.previous_month {
      .previous_month_text {
          display: block;
      }
  }
  .day.next_month {
      .next_month_text {
          display: block;
      }
  }
  .day.has_event {
    .event_link_text {
      display: block;
    }
  }
}
