@import "base/environment";

#help-dialog {
  padding: 0;
  overflow: visible;
  position: relative;
  #help-dialog-options {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    li {
      a {
        border-bottom: 1px solid $ic-border-light;
        display: block;
        padding: $ic-sp;
        text-decoration: none;
        font-weight: 500;
        .subtext {
          display: block;
          @include fontSize(12px);
          color: $ic-font-color--subdued;
          font-weight: 300;
        }
        &:focus {
          outline: none;
          box-shadow: inset 0 0 0 1px $ic-link-color;
        }
        &:focus, &:hover {
          background-color: $ic-bg-light-neutral;
          .text { text-decoration: underline; }
        }
      }
      &.user li.user,
      &.student li.student,
      &.teacher li.teacher,
      &.admin li.admin {
        display: block;
      }
    }
  }
  form {
    padding: 10px 10px 6px;
    width: 380px;
    position: absolute;
    left: 400px;
    top: 0;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  small {
    @include fontSize(10px);
    display: block;
    color: #555;
    margin-top: -6px;
  }
  .ui-state-error, .ui-state-highlight {
    border-radius: 4px !important;
    padding: 10px 10px 10px 35px;
    position: relative;
    a {
      text-decoration: underline;
    }
    .ui-icon {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}

.ui-dialog-header-backlink {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -999px;
  width: 16px;
  height: 16px;
  margin-left: -4px;
  margin-top: 2px;
  margin-right: 10px;
  background: url(/images/jqueryui/icon_sprite.png) no-repeat left -32px;
  &:hover {
    background-position: left -48px;
  }
}
