
#help-dialog
  padding: 0
  width: 400px
  overflow: visible
  position: relative

  #help-dialog-options
    list-style: none
    padding: 0
    margin: 0
    overflow: auto
    background: #e6e7e9

    li
      //display: none
      a
        border-top: 1px solid #fafafa
        border-bottom: 1px solid #d4d5d7
        display: block
        padding: 10px 25px
        text-decoration: none
        .text
          color: #1e7eca
          font-size: 1.1em
        .subtext
          color: #a2a2a3
          font-style: italic
          display: block
          font-size: 0.9em
          line-height: 1.1em
        &:hover
          border-top-color: #d7eefb
          border-bottom-color: #297fd1
          +vertical-gradient(#0abdff, #008fd6)
          text-decoration: none
          .text
            color: #ffffff
          .subtext
            color: #015f99
      &.user    li.user,
      &.student li.student,
      &.teacher li.teacher,
      &.admin   li.admin
        display: block
  form
    padding: 10px 10px 6px
    width: 380px
    position: absolute
    left: 400px
    top: 0
  textarea
    height: 100px
    resize: none
  small
    font-size: 10px
    display: block
    color: #555
    margin-top: -6px
  .ui-state-error, .ui-state-highlight
    border-radius: 4px !important
    padding: 10px 10px 10px 35px
    position: relative
    a
      text-decoration: underline
    .ui-icon
      position: absolute
      left: 10px
      top: 10px

.ui-dialog-header-backlink
  display: block
  float: left
  overflow: hidden
  text-indent: -999px
  width: 16px
  height: 16px

  margin-left: -4px
  margin-top: 2px
  margin-right: 10px
  background: url(/images/jqueryui/icon_sprite.png) no-repeat left -32px
  &:hover
    background-position: left -48px
