// See indicateLoading.coffee for usage
.loading.after:after {
  // these are the height/width of /images/ajax-loader-linear.gif
  width: 16px;
  height: 11px;

  background: url(/images/ajax-loader-linear.gif);
  content: '';
  display: inline-block;
  margin-left: 7px;
}

.loading.center {
  background-image: url(/images/ajax-loader-linear.gif);
  background-position: center;
  background-repeat: no-repeat;
}