@import 'base/environment';

/* @styleguide Item Groups Condensed

<br/>
### tl;dr

  - Item groups come either `item-group` or `item-group-condensed` styles
  - The `item-group` style is for draggable items and `item-group-condensed` is for items that are not draggable
  - The outer `item-group-container` div is optional, and adds a background color with a dashed line between groups

<br/>

```html
<div class="item-group-container">

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title element_toggler"
         aria-controls="cond_group_1"
         aria-expanded="true"
         aria-label="Item Group Header toggle item visibility"
         role="button">
        <i class="icon-mini-arrow-down"></i> Item Group Header
      </h2>
    </div>

    <ul class="ig-list" id="cond_group_1">
      <li>
        <div class="ig-row">
          <a href="#" class="ig-title ellipses">
            <i class="icon-assignment"></i> Some Assignment
          </a>
          <div class="ig-details row-fluid">
            <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
            <div class="span4 ellipses"><b>Available</b> Nov 1</div>
            <div class="span4 ellipses">10 pts</div>
          </div>
          <div class="ig-admin">
            <span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
              <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
            </span>

            <div class="inline-block">
              <a class="al-trigger al-trigger-gray" href="#" role="button">
                <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
                <span class="screenreader-only"><%= t('manage', 'Manage') %></span>
              </a>
              <ul class="al-options">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="ig-row ig-published">
          <a href="#" class="ig-title ellipses">
            <i class="icon-assignment"></i> Some Assignment
          </a>
          <div class="ig-details row-fluid">
            <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
            <div class="span4 ellipses"><b>Available</b> Nov 1</div>
            <div class="span4 ellipses">10 pts</div>
          </div>
          <div class="ig-admin">
            <span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
              <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
            </span>

            <div class="inline-block">
              <a class="al-trigger al-trigger-gray" href="#" role="button">
                <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
                <span class="screenreader-only"><%= t('manage', 'Manage') %></span>
              </a>
              <ul class="al-options">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="ig-row">
          <a href="#" class="ig-title ellipses">
            <i class="icon-assignment"></i> Some Assignment
          </a>
          <div class="ig-details row-fluid">
            <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
            <div class="span4 ellipses"><b>Available</b> Nov 1</div>
            <div class="span4 ellipses">10 pts</div>
          </div>
          <div class="ig-admin">
            <span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
              <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
            </span>

            <div class="inline-block">
              <a class="al-trigger al-trigger-gray" href="#" role="button">
                <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
                <span class="screenreader-only"><%= t('manage', 'Manage') %></span>
              </a>
              <ul class="al-options">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title element_toggler"
         aria-controls="cond_group_2"
         aria-expanded="true"
         aria-label="Item Group Header toggle item visibility"
         role="button">
        <i class="icon-mini-arrow-down"></i> Item Group Header
      </h2>
    </div>
    <ul class="ig-list" id="cond_group_2">
    <li>
      <div class="ig-row">
        <a href="#" class="ig-title ellipses">
          <i class="icon-assignment"></i> Some Assignment
        </a>
        <div class="ig-details row-fluid">
          <div class="span4 ellipses"><b>Due</b> Nov 4, 2012</div>
          <div class="span4 ellipses"><b>Available</b> Nov 1</div>
          <div class="span4 ellipses">10 pts</div>
        </div>
        <div class="ig-admin">
          <span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
          </span>

          <div class="inline-block">
            <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
              <i class="icon-settings"></i>
              <i class="icon-mini-arrow-down"></i>
              <span class="screenreader-only">Settings</span>
            </a>

            <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
              <li role="presentation">
                <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
              </li>
              <li role="presentation">
                <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    </ul>
  </div>

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title element_toggler"
         aria-controls="cond_group_3"
         aria-expanded="true">
        <i class="icon-mini-arrow-down"></i> Item Group Header
      </h2>
    </div>
    <ul class="ig-list" id="cond_group_3">
      <li>
        <div class="ig-row ig-row-empty">
          <div class="ig-empty-msg">
            No assignments in this Group
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title element_toggler" href="#"
         aria-controls="cond_group_4"
         aria-expanded="true">
        <i class="icon-mini-arrow-down"></i> Item Group Header
      </h2>
    </div>
    <div class='item-group-expandable' id="cond_group_4">
      <ul class="ig-list">
        <li>
          <div class="ig-row">
            <a class="ig-title ellipses element_toggler" href="#"
               aria-controls="cond_sub_group_1"
               aria-expanded="true">
              <i class="icon-mini-arrow-down"></i> Some Conference
            </a>
            <div class="ig-details row-fluid">
              <div class="span4 ellipses"></div>
              <div class="span4 ellipses">2 Recordings</div>
            </div>
          </div>
          <div class="ig-sublist" id="cond_sub_group_1">
            <ul>
              <li>
                <div class="ig-row row-fluid">
                  <a href="#" class="ig-title ellipses">Recording 1</a>
                  <div class="ig-details row-fluid">
                    <div class="span4 ellipses"></div>
                    <div class="span4 ellipses">09/09/2013</div>
                    <div class="span4 ellipses">57:34</div>
                  </div>
                  <div class="ig-button">
                    <a class="btn btn-small" href="#">View</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="ig-row row-fluid">
                  <a href="#" class="ig-title ellipses">Recording 2</a>
                  <div class="ig-details row-fluid">
                    <div class="span4 ellipses"></div>
                    <div class="span4 ellipses">09/09/2013</div>
                    <div class="span4 ellipses">57:34</div>
                   </div>
                  <div class="ig-button">
                   <a class="btn btn-small" href="#">View</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </ul>
    </div>
  </div>

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title element_toggler" href="#"
         aria-controls="cond_group_5"
         aria-expanded="true">
        <i class="icon-mini-arrow-down"></i> Item Group Header
      </h2>
    </div>
    <div class='item-group-expandable' id="cond_group_5">
      <ul class="ig-list">
        <li>
          <div class="ig-row">
            <a class="ig-title ellipses element_toggler" href="#"
               aria-controls="cond_sub_group_2"
               aria-expanded="true">
              <i class="icon-mini-arrow-down"></i> Some Conference
            </a>
            <div class="ig-details row-fluid">
              <div class="span4 ellipses"></div>
              <div class="span4 ellipses">2 Recordings</div>
            </div>
          </div>
          <div class="ig-sublist" id="cond_sub_group_2">
            <ul>
              <li>
                <div class="ig-row row-fluid">
                  <a href="#" class="ig-title ellipses">Recording 1</a>
                  <div class="ig-details row-fluid">
                    <div class="span4 ellipses"></div>
                    <div class="span4 ellipses">09/09/2013</div>
                    <div class="span4 ellipses">57:34</div>
                  </div>
                  <div class="ig-button">
                    <a class="btn btn-small" href="#">View</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="ig-row row-fluid">
                  <a href="#" class="ig-title ellipses">Recording 2</a>
                  <div class="ig-details row-fluid">
                    <div class="span4 ellipses"></div>
                    <div class="span4 ellipses">09/09/2013</div>
                    <div class="span4 ellipses">57:34</div>
                   </div>
                  <div class="ig-button">
                   <a class="btn btn-small" href="#">View</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="ig-row">
            <a class="ig-title ellipses" href="#">Some Conference</a>
            <div class="ig-details row-fluid">
              <div class="span4 ellipses"></div>
              <div class="span4 ellipses">09/09/2013</div>
              <div class="span4 ellipses">57:34</div>
            </div>
            <div class="ig-button">
              <a class="btn btn-small" href="#">View</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
```

*/

body.with_item_groups #main {
  background-color: #e8ecef;
}

.item-group-container {
  background-color: $wellBackground;
  padding-bottom: 70px;

  .item-group-condensed {
    border-bottom: 1px dashed #c2c8d0;
    padding: 15px;
  }

  .item-group-condensed:last-child,
  .item-group-condensed:last-of-type,
  .item-group-condensed.last {
    border-bottom: 0;
  }

  .ig-list {
    margin-top: 0;
  }

  .ig-list li {
    margin: 0;
  }
}

.item-group-condensed {
  padding: 9px;

  .ig-header {
    padding-left: 0px;
  }

  .ig-title {
    left: 15px;
  }

  .ig-row {
    border-top-width: 0;
    border-bottom: 1px solid #e1e3e4;
    border-radius: 0;
    background: #fff;
  }

  .ig-list li:first-child,
  .ig-list li:first-of-type {
    margin-top: 5px;
  }

  .ig-list li:first-child .ig-row,
  .ig-list li:first-of-type .ig-row,
  .first_visible .ig-row {
    border-top: 1px solid #c1c7cf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &.ig-row-empty {
      border-top: 1px solid #dcdee0;
    }
  }

  .ig-list li:last-child .ig-row,
  .ig-list li:last-of-type .ig-row,
  .last_visible .ig-row {
    border-bottom: 1px solid #c1c7cf;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &.ig-row-empty {
      border-bottom: 1px solid #dcdee0;
    }
  }

  .item-group-expandable {
    border-radius: 3px;
    border: 1px solid #c1c7cf;
    box-shadow: 0 1px 0 #dde0e4;
    background-color: white;

    .ig-list {
      li{
        margin: 0px;
      }
      li .ig-row {
        background: none;
        border: none;
        border-radius: inherit;
      }

      li:last-child .ig-row,
      li:last-of-type .ig-row {
        box-shadow: none;
      }

      li:last-child .ig-sublist,
      li:last-of-type .ig-sublist {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: none;
      }
    }

    li:not(:last-child) .ig-sublist,
    li:not(:last-of-type) .ig-sublist{
      box-shadow: inset 0 1px 0 #f0f0f0, inset 0 -1px 0 #f0f0f0;
    }

    .ig-button {
      position: absolute;
      white-space: nowrap;
      right: 10px;
      top: 7px;
    }

    .ig-sublist {
      background-color: #f5f7f8;
      padding-left: 35px;
      box-shadow: inset 0 1px 0 #f0f0f0;
      border-top: 1px solid #e1e3e4;
      border-bottom: 1px solid #e1e3e4;

      ul {
        list-style:none;
        padding: 0px;
        margin: 0px;

        li:first-child,
        li:first-of-type {
          margin-top: 0px;
        }

        li:last-child .ig-row,
        li:last-of-type .ig-row {
          border-bottom: none;
        }

        li .ig-row{
          box-shadow: none;
          margin: 0px;
          padding: 0px;
          border-bottom: 1px dotted #e1e2e3;
          .ig-title {
            left: 0;
            margin-left: 0;
            color: #434343
          }
        }
      }
    }
  }

}
