
/* lock icon button */
.lock-icon {
  @include ic-focus-base;
  display: inline-block;
  color: $ic-color-icon-disabled;
  cursor: pointer;
  &:focus { @include ic-focus-variant; }
  &.lock-icon-unlocked { color: $ic-color-icon-disabled; }
  &.lock-icon-locked { color: $ic-brand-primary; }
  &.disabled { cursor: default; }
}
.lock-text {
  display: inline;
}
