.unstyled_list
  :margin 0
  :padding 0
  :list-style none
  &.wide_spacing
    :line-height 1.7em

// used for the zip_file_upload form
.ui-dialog-no-close-button .ui-dialog-titlebar-close
  display: none

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
