.post-to-sis-status {
  transition: none;
  margin-right: $ic-sp;
  cursor: pointer;

  input {
    width: 16px;
    height: 20px;
  }

  &.enabled {
    font-weight: bold;
    @if $use_high_contrast { color: darken($ic-color-success, 4%); }
    @else { color: $ic-color-success; }
  }

  &.disabled {
    font-weight: normal;
    color: $ic-color-icon-disabled;
  }
}
