/* @styleguide React Modal

See `app/jsx/examples/ReactModalExample.jsx` for example usages.
*/

.ReactModal__Overlay {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 150;
  opacity: 0;

  &--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }

  &--before-close {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
}

.ReactModal__Content {
  @extend .modal-dialog;
  background-color: transparent;
  border: none;
  margin: 30px auto;
  position: relative;
  width: 600px;
  opacity: 0;

  &--after-open {
    opacity: 1;
    transition: opacity 150ms ease-in;
  }

  &--before-close {
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  &--confirm {
    width: 350px;
    .modal-body {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
    }
  }

  .modal-content {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px 0;
    position: relative;

    .modal-header {
      border-bottom: 1px solid #E5E5E5;
      padding: 5px 15px;
      .close {
        position: relative;
        top: 8px;
      }
    }

    .modal-body {
      padding: 0 15px;
      position: relative;

      label {
        font-weight: bold;
      }

      textarea {
        margin-bottom: 0;
      }

      .hint-text {
        font-size: 12px;
      }

      .error .hint-text {
        color: #b94a48;
      }
    }

    .modal-footer {
      border-top: 1px solid #E5E5E5;
      padding: 15px;
      text-align: right;
      background-color: #efefef;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;

      .btn {
        margin-left: 3px;
      }
    }
  }
}
