.token_input {
  line-height: 1.1em;
  min-height: 20px;
  display: inline-block;
  border: 1px solid #999999;
  border-top-color: #737373;
  padding: 0;
  background: #fff;
  box-sizing: border-box;
  cursor: text;
  position: relative;
  a.browser {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    height: 18px;
    width: 18px;
    text-indent: -9999em;
    background: transparent url(/images/messages/address-book-icon-sprite.png) 0 0 no-repeat;
  }
  a.browser:hover {
    background-position: 0 -18px;
  }
  > span {
    float: left;
    color: #888;
    margin: 2px 1px 0;
  }
  > div {
    overflow: auto;
    max-height: 90px;
  }
  &.browsable > div {
    padding-right: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    @include name_bubbles;
    line-height: 1.1em;
  }
  li.selected {
    background-color: #5b89f3;
    border-color: #5b89f3;
    color: #fff;
    a {
      background-position: (-10px) center;
    }
  }
  li.details {
    div {
      padding: 0 11px;
    }
    span {
      padding: 0 15px 0 4px;
    }
  }
  input {
    box-shadow: none;
    float: left;
    border: 0;
    outline: none;
    padding: 0;
    margin: 1px 0;
    line-height: 1.1em;
  }
}

.token_input.browse {
  a.browser {
    background-position: 0 -36px;
  }
}

.token_input.active {
  box-shadow: 0 0 3px 2px #68B4DF;
}
