=icon_link
  :background-repeat no-repeat  
  :background-position left center
  :line-height 20px
  // give it a 1px top and bottom padding so that the bg-images dont get chopped off, and give it a 20px left to make room for bg-icon
  :padding 1px 0 1px 20px 
  display: inline-block /* I am testing this out to get icons to not be chopped off at the bottom, if it breaks tell me -RS */
  

a.external_link
  :padding-right 15px
  :background no-repeat  right center
  :background-image url(/images/popout.png)
a.equella_content_link
  :padding-left 17px
  :background no-repeat  left center
  :background-image url(/images/equella_icon.png)
a.add
  +icon_link
  :background-image url(/images/add.png)
a.add-small
  +icon_link
  :padding-left 15px
  :background-image url(/images/add-small.png)
a.add-feed
  +icon_link
  :background-image url(/images/add_feed.png)
a.add-file
  +icon_link
  :background-image url(/images/file.png)
a.announcement-icon-small
  +icon_link
  :background-image url(/images/announcement_icon_small.png)
a.atom
  +icon_link
  :background-image url(/images/atom.png)
a.media-comment
  +icon_link
  :background-image url(/images/audio_comment.gif)
a.back
  +icon_link
  :background-image url(/images/back.png)
a.calendar
  +icon_link
  :background-image url(/images/due_date_icon.png)
a.collapse
  +icon_link
  :background-image url(/images/collapse.png)
a.delete
  +icon_link
  :background-image url(/images/delete.png)
a.delete-circle
  +icon_link
  :background-image url(/images/delete_circle.png)
a.discussion-icon-small
  +icon_link
  :background-image url(/images/discussion_icon_small.png)
a.discussion-topic
  +icon_link
  :background-image url(/images/discussion_topic.png)
  :padding-left 30px
a.download
  +icon_link
  :background-image url(/images/download.png)
a.download-small
  +icon_link
  :padding-left 15px
  :background-image url(/images/download-small.png)
a.edit
  +icon_link
  :background-image url(/images/edit.png)
a.email
  +icon_link
  :background-image url(/images/email.png)
a.expand
  +icon_link
  :background-image url(/images/expand.png)
a.feed
  +icon_link
  :background-image url(/images/atom.png)
a.file-multiple
  +icon_link
  :background-image url(/images/file_multiple.png)
a.file_big
  +icon_link
  :background-image url(/images/file_big.png)
a.folder-closed
  +icon_link
  :background-image url(/images/folder_closed.png)
a.forward
  +icon_link
  :background-image url(/images/forward.png)
a.find
  +icon_link
  :background-image url(/images/find.png)
a.grading_dim
  +icon_link
  :background-image url(/images/grading_icon_gray.png)
a.grading
  +icon_link
  :background-image url(/images/grading_icon.png)
a.help
  +icon_link
  :background-image url(/images/help.png)
a.history
  +icon_link
  :background-image url(/images/history.png)
a.information
  +icon_link
  font-size: 0.8em
  :background-image url(/images/information.png)
a.link
  +icon_link
  :background-image url(/images/link.png)
a.lock
  +icon_link
  :background-image url(/images/lock.png)
a.pass
  +icon_link
  :background-image url(/images/pass.png)
a.peer-review
  +icon_link
  :background-image url(/images/peer_review.png)
a.pending-review
  +icon_link
  :background-image url(/images/pending_review.png)
a.quiz
  +icon_link
  :background-image url(/images/quiz.png)
a.refresh
  +icon_link
  :background-image url(/images/ajax-reload.gif)
a.refreshing
  +icon_link
  :background-image url(/images/ajax-reload-animated.gif)
a.rename
  +icon_link
  :background-image url(/images/rename.png)
a.reply
  +icon_link
  :background-image url(/images/reply.png)
a.rubric
  +icon_link
  :background-image url(/images/rubric.png)
a.small-calendar
  +icon_link
  :background-image url(/images/ical.png)
a.speedgrader
  +icon_link
  :background-image url(/images/speedgrader_icon.png)
a.text-entry
  +icon_link
  :background-image url(/images/text_entry.png)
a.warning
  +icon_link
  :background-image url(/images/warning.png)
a.word-bubble
  +icon_link
  :background-image url(/images/word_bubble.png)
a.unlock
  +icon_link
  :background-image url(/images/unlock.png)
a.icon-grading
  +icon_link
  +bg-image('grading_icon', 'png', no-repeat, left, center, 17px, 16px)
a.icon-grading-gray
  +icon_link
  +bg-image('grading_icon_gray', 'png', no-repeat, left, center, 17px, 16px)
a.admin
  :color #D15545



=attachment_link
  :background-repeat no-repeat  
  :background-position left center
  :font-size 10px
  :padding 1px 0 2px 20px
a
  &.file
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white.png') !important
  &.pdf
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_acrobat.png') !important

  &.image
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_picture.png') !important

  &.spreadsheet
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_excel.png') !important

  &.xls
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_excel.png') !important

  &.word, &.doc
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_word.png') !important

  &.ppt
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_powerpoint.png') !important

  &.zip
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_zip.png') !important

  &.html
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_world.png') !important

  &.code
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_code.png') !important

  &.text
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_text.png') !important

  &.audio
    +attachment_link
    :background-image url('/images/inst_tree/file_types/sound_none.png') !important

  &.video
    +attachment_link
    background-image: url('/images/inst_tree/file_types/page_white_camera.png') !important

  &.flash
    +attachment_link
    :background-image url('/images/inst_tree/file_types/page_white_flash.png') !important

a.no-underline,a.no-underline:hover, a.no-underline:focus
  text-decoration: none

// atr is short for accessible text replacement
// these classes make it so you can have links like <a class="atr-reply">reply to this topic</a> and have only
// a reply.png icon show up.

.atr-reply, .atr-edit, .atr-delete
  text-indent: -119988px
  overflow: hidden
  text-align: left
  background-repeat: no-repeat
  background-position: 50% 50%
  width: 16px
  height: 16px
.atr-reply
  background-image: url('/images/reply.png')
.atr-edit
  background-image: url('/images/edit.png')
.atr-delete
  background-image: url('/images/delete.png')