.clear
  :clear both
  :display block
  :margin 0
  :padding 0
  :height 0px
  :font-size 0px

.accessible_hide
  :outline none
  :text-indent -9999px
  :display inline-block

.close_link
  display: block
  background: url(/images/close.png) 0 -0 no-repeat
  height: 16px
  width: 16px
  text-indent: -99999px
  overflow: hidden
  &:hover, &:focus
    background-position: 0 -16px

//this used to be in _layout.sass but for sure did not belong there, I didnt want to get rid of it
//because I didnt know if anything actually uses it -RS
.small
  font-size: 11px

// CLOSE ICONS
// -----------
a.x-close-link
  float: right
  color: black !important
  font-size: 20px
  font-weight: bold
  line-height: 13.5px
  text-shadow: 0 1px 0 white
  text-decoration: none
  opacity: 0.25
  &:hover, &:focus
    color: black
    text-decoration: none
    opacity: 0.6