<div class="row pad-box bottom-only">
  <div class="span4 text-right-responsive">
    <label for="assignment_select">
      {{#t 'select_assignment'}}Select an assignment{{/t}}
    </label>
  </div>
  <div class="span8">
    {{! sad hack until fast select is fixed }}
    {{! prevents assignments from loading in the wrong order }}
    {{#if assignments.length}}
      {{
        fast-select id="assignment_select"
        class="assignment_select"
        items=assignments
        valuePath="id"
        labelPath="name"
        labelDefault=assignmentSelectDefaultLabel
        selected=selectedAssignment
      }}
    {{else}}
      <select disabled></select>
    {{/if}}

    {{view App.SelectionButtonsView
      type='assignment'
      selected=selectedAssignment
      list=assignments
     }}
  </div>
</div>