<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="None"/>
		 <customErrors mode="Off"/>
	</system.web>
    <location path="upload.aspx">
        <system.web>
            <httpRuntime maxRequestLength="2151" executionTimeout="300" />
        </system.web>
    </location>
</configuration>
