{{! TODO: replace this placeholder with actual publish functionality }}
{{! TODO: aria-label, title, describedby will need to use bind-attr}}
<span class='publish-icon publish-icon-publish' role='button' tabindex='0'
  aria-pressed='false'
  aria-label='Publish'
  aria-title='Publish'
  aria-describedby='ui-tooltip-25'>
  <i class='icon-unpublished'></i>
  <span class='publish-text' tabindex='-1'>Publish</span>
</span>
