///
//// SSO Login Links
///
@mixin shared-sso($direction) {
  content: "";
  flex: 1;
  height: 1px;
  margin: 0 1em;
  background: linear-gradient(to $direction, darken($ic-color-neutral, 10), transparent);
}
.ic-Login__sso {
  clear: both;
  text-align: center;
}
.ic-Login__sso-divider {
  padding: 10px 0;
  margin: 0;
  line-height: normal;
  @include fontSize(11px);
  color: darken($ic-color-neutral, 10);
  display: flex;
  align-items: center;
  border-top: 1px solid $ic-border-color;
}
.ic-Login__sso-list {
  padding: $ic-sp 0 0 0;
  margin: $ic-sp*2 0 0 0;
  border-top: 1px solid $ic-brand-Login-footer-link-color;
}
.ic-Login__sso-list__item {
  list-style: none;
  display: inline-block;
}

.Button.ic-Login__sso-button {
  padding: $ic-sp $ic-sp*2;
  background: transparent;
  color: $ic-brand-Login-footer-link-color;
  border: 1px solid transparent;
  .ic-icon-svg {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    fill: $ic-brand-Login-footer-link-color;
  }
  &--has-text {
    display: flex;
    align-items: center;
  }
  &:focus,
  &:hover {
    background: transparent;
    color: $ic-brand-Login-footer-link-color-hover;
    border: 1px solid $ic-brand-Login-footer-link-color-hover;
    &.ui-state-hover {
      background: transparent;
      color: $ic-brand-Login-footer-link-color-hover;
      border: 1px solid $ic-brand-Login-footer-link-color-hover;
    }
  }
  transition: all 0.5s;
}
.ic-Login__icon-sso {
  padding-right: $ic-sp;
}
.ic-Login__icon-sso--icon-only {
  padding-right: 0;
}
.ic-Login__sso-button__title {
  color: $ic-brand-Login-footer-link-color;
  padding: 0 $ic-sp;
}
.ic-Login__sso-button__title-caps {
  text-transform: capitalize;
}
