<%
   content_for :page_title, t(:page_title, 'Notification Preferences')
   jammit_css :notification_preferences
   js_bundle :notification_preferences
   add_crumb(@user.short_name, user_profile_path(@current_user) )
   add_crumb(t(:crumb_notification_preferences, 'Notification Preferences'), communication_profile_path )
%>

<% content_for :stylesheets do %>
  <style type="text/css">
  .event-option-buttons label {
    width: 1.7em;
    padding: 0;
  }
  </style>
<% end %>

<h2><%= t('headers.notification_preferences', 'Notification Preferences') %><i id="notifications_save_status"></i></h2>

<div id='notification-preferences'>
</div>
