{{#ic-modal-title}}
  {{#t "new_module"}}Create new module{{/t}}
{{/ic-modal-title}}

<div class="control-group">
  <label class="control-label" for="new-module-name">{{#t "module_name"}}Module Name{{/t}}</label>
  <div class="controls">
    {{input type="text" value=name id="new-module-name"}}
  </div>
</div>

<div class="control-group">
  <div class="controls">
    {{! clicking whitespace to the right shouldn't do anything, therefore inline style }}
    <label class="checkbox" for="new-module-has-unlock-date" style="display: inline-block">
      {{input checked=unlockAtChecked id="new-module-has-unlock-date" type="checkbox"}}
      {{#t "has_unlock_date"}}Lock modules until a given date{{/t}}
    </label>
  </div>
</div>

{{#if unlockAtChecked}}
  <div class="control-group">
    <label class="control-label" for="new-moudle-lock-date">{{#t "lock_datea"}}Lock date{{/t}}</label>
    <div class="controls">
      {{c-datepicker value=unlock_at}}
    </div>
  </div>
{{/if}}

<div class="form-actions">
  {{#ic-modal-trigger class="btn"}}{{#t "cancel"}}Cancel{{/t}}{{/ic-modal-trigger}}
  <button type="submit" class="btn btn-primary">{{#t "Create"}}Create{{/t}}</button>
</div>

