<div class="scheduler-wrapper" style="display: none">
  <div class="appointment-list">
    <div class="list-wrapper"></div>
  </div>
</div>
<div class="agenda-wrapper"></div>
<div class="scheduler_navigator"></div>
<div class="calendar"></div>
