<form action="{{calendarEvent.appointment_group_url}}" id="edit_appt_calendar_event_form">
  <p>
    <strong>{{#t "description"}}Description:{{/t}}</strong><br>
    <textarea name="description">{{description}}</textarea>
  </p>
  <p>
   <label>
    {{checkbox "max_participants_option" id=null}}
    {{#ifEqual calendarEvent.participant_type "Group"}}
      {{#t}}Limit this slot to <input type="number" name="max_participants" class="max-participants" min="1" disabled> groups.{{/t}}
    {{else}}
      {{#t}}Limit this slot to <input type="number" name="max_participants" class="max-participants" min="1" disabled> users.{{/t}}
    {{/ifEqual}}
   </label>
  </p>
</form>
