<div id='edit_assignment_form' style='padding: 5px; width: 400px'>
  <div class="event-details-content">
    <table class="formtable" style="width: 100%;" role="presentation">
      <tr>
        <td>
          {{#t "due"}}Due:{{/t}}
          <label class="screenreader-only" id="calendar_assignment_override_due_date_accessible_label">
            {{#t}}Due on date{{/t}}
            {{datepickerScreenreaderPrompt}}
          </label>
        </td>
        <td>
          <input class="datetime_field"
                 id="assignment_override_due_at"
                 name="assignment_override[due_at]"
                 size="30"
                 style="width: 150px;"
                 type="text"
                 aria-labelledby="calendar_assignment_override_due_date_accessible_label"
                 data-tooltip title="{{accessibleDateFormat}}"/>
          <div id="assignment_override_course_pacing_message">
            <i
              class="icon-info"
              style="margin-right: 5px;"
              data-tooltip
              title="{{#t}}To edit the due date, go to Course Pacing, change the number of days allotted to this assignment, and publish the updated pace.{{/t}}"
            ></i>
            {{#t}}This due date is managed by{{/t}}
            <a id="assignment_override_course_pacing_link" href="#">
              {{#t}}Course Pacing{{/t}}
            </a>
            .
          </div>
        </td>
      </tr>
      <tr class="context_select">
        <td>{{#t "calendar"}}Calendar:{{/t}}</td>
        <td>
          <select class="context_id">
            {{#each contexts}}
              {{#if can_create_assignments}}
                <option value="{{asset_string}}">{{name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </td>
      </tr>
    </table>
    <div class="popover-links-holder event-details-footer pull-right">
      <a href="#" class="event_button btn btn-secondary more_options_link">{{#t "links.more_options"}}More Options{{/t}}</a>
      <button type="submit" class="event_button btn btn-primary save_assignment">{{#t "#buttons.submit"}}Submit{{/t}}</button>
    </div>
  </div>
</div>
