<div id="final-grade-override">
  <label for="final-grade-override-input">
    <strong>{{#t}}Final Grade Override{{/t}}</strong>
  </label>
  {{
    input
    id="final-grade-override-input"
    type="text"
    value=inputValue
  }}

  {{inputDescription}}
</div>
