<div class='ui-combobox ic-Input-group'>
  <a href="#" class="ui-combobox-prev Button"><i role="presentation" class="icon-arrow-open-left"></i><span class="screenreader-only">{{#t}}Previous{{/t}}</span></a>
  <select class="ic-Input"></select>
  <a href="#" class="ui-combobox-next Button"><i role="presentation" class="icon-arrow-open-right"></i><span class="screenreader-only">{{#t}}Next{{/t}}</span></a>
</div>
