<%
  css_bundle :login_confirm
  js_bundle :oauth2_confirm
  @headers = false
  @body_classes << "modal body--login-confirmation"
  content_for :page_title, t(:page_title, "App Login")
%>

<% if use_new_styles? %>
<div id="modal-box" class="ic-Login-confirmation">
  <header class="ic-Login-confirmation__header">
    <%= image_tag("login/canvas-logo@2x.png", class:"ic-Login-confirmation__logo", alt:t("Canvas by Instructure")) %>
  </header>
  <div class="ic-Login-confirmation__content">
    <%= render("confirm_form") %>
  </div>
</div>
<% else %>
<div id="modal-box">
  <%= render("confirm_form") %>
</div>
<% end %>