<% content_for :page_title do %>
  Welcome to Canvas
<% end %>

<div style="width: 600px; margin: 10px auto;">
<h2>About Instructure</h2>
<p>Instructure has been around since April 2008.  We spend our days (and nights) trying to make this 
education world of ours a better place.  If you've used other Learning Management Systems, you know 
there's plenty that can be improved upon in educational software.  We believe students and 
teachers expect more from online education tools than what they're getting, 
and we're here to fix that.</p>
</div>