<% content_for :page_title do %>
  Contact Information
<% end %>

<div style="width: 500px; margin: 10px auto;">
  <h2>Contact Information</h2>
  <p>Feel free to get a hold of us through any of the plentiful possibilities listed below.</p>
  <ul class="unstyled_list">
    <li><a href="mailto:support@instructure.com" class="email">Contact Support</a></li>
    <li><a href="mailto:sales@instructure.com" class="email">Contact Sales</a></li>
  </ul>
  <span style="font-size: 0.8em; padding-left: 10px;">(Notice how we put support first.  Yeah, that's right.)</span>
</div>