<%
  js_bundle :styleguide
  @body_classes << "right-side-optional"
%>

<style>
  /* don't ever do inline styles, or inline stylesheets like this */
  .demo-icons {
    display: inline-block;
    margin: 4px;
    width: 200px;
  }
  code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#505354;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
  code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8}

  #icons { margin: 0; padding: 0;}
  #icons li { margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none; }
  #icons span.ui-icon { float: left; margin: 0 4px; }

  #toolbar {
  padding: 10px 4px;
  }

  /* Responsive docs
-------------------------------------------------- */

/* Utility classes table
------------------------- */
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
}
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test span {
  position: absolute;
  top:    -1px;
  left:   -1px;
  right:  -1px;
  bottom: -1px;
}
.responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}


</style>


<% content_for :right_side do %>
  <h2>Page Action List</h2>
  <ul class="page-action-list">
    <li><a href="#"><i class="icon-add"></i> Use <code>.page-action-list</code></a></li>
    <li><a href="#"><i class="icon-search"></i> instead of a bunch of fat buttons</a></li>
    <li><a href="#"><i class="icon-download"></i> when you want to do </a></li>
    <li><a href="#"><i class="icon-lock"></i> something like this </a></li>
    <li><a href="#"><i class="icon-group-new"></i> <%= t 'start_a_group', 'Start a group' %></a></li>
    <li><a href="#"><i class="icon-collection"></i> <%= t 'create_collection', 'Create a collection' %></a></li>
  </ul>
  <div class="page-action-list">
    <a href="#"><i class="icon-add"></i> NOTE: it doesn't matter</a>
    <a href="#"><i class="icon-end"></i> if you use &lt;ul&gt; and &lt;li&gt; or</a>
    <a href="#"><i class="icon-info"></i> a flat list of &lt;a&gt;s</a>
  </div>

<% end %>


<div>


  <h1>Canvas uses bootstrap!</h1>
  <p class="lead">Rather than copy/pasting all their docs here, We're just going to focus on a few
    key things and the things we do different. Go <a href="http://bootstrapdocs.com/v2.2.2/docs/">Read the bootstrap docs</a> to see what you can do.</p>
  <h3>There are a few parts of boostrap we dont use and here's why:</h3>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Bootstrap File</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>navbar</th>
        <td rowspan="5">We just don't use them yet. no reason we couldn't. They're commented out to just so we transfer less css over the wire. If you want them just uncomment it in app/stylesheets/bootstrap_parts/_main.scss</td>
      </tr>
      <tr>
        <th>pager</th>
      </tr>
      <tr>
        <th>sprites (aka glyphicons)</th>
        <td>We do <a href="#anchor-icon">our own font based icons</a>.</td>
      </tr>
      <tr>
        <th>button-groups</th>
        <td>
          We use <a href="http://jqueryui.com/button/#radio">jqueryUI buttonsets</a> instead.
          They are more accessible (because they use aria stuff and are built on top of native checkbox and radios)
        </td>
      </tr>
      <tr>
        <th>modals</th>
        <td>Use <a href="http://jqueryui.com/dialog/">jqueryUI .dialog</a> instead.</td>
      </tr>
      <tr>
        <th>popovers</th>
        <td>You can have popovers that look exactly like bootstrap ones, ours are just built off jqueryUI tooltips.  <a href="#anchor-popovers">see below</a>.</td>
      </tr>
      <tr>
        <th>progress-bars</th>
        <td>Use <a href="http://jqueryui.com/progressbar/">jqueryUI progressbars</a>instead, they have aria stuff that reads back to the screenreader their progress.</td>
      </tr>
      <tr>
        <th>accordion</th>
        <td>Use <a href="http://jqueryui.com/accordion/">jqueryUI</a> instead.</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <section id="responsive">
    <h2>Responsive design Grid <small style="white-space:nowrap;">Resize this page to see it in action</small></h2>
    <p>Since our interface is resizable you can only use a fluid grid.  we just have the default bootstrap fluid grid.  <a href="http://twitter.github.com/bootstrap/scaffolding.html#fluidGridSystem">see their docs for more info</a>. Use <code>.spanX</code> to have an element span 'X' number of columns.</p>
    <div class="row-fluid">
      <div class="span2"><div class="content-box border border-trbl"><p>span 2</p></div></div>
      <div class="span2"><div class="content-box border border-trbl"><p>span 2</p></div></div>
      <div class="span8"><div class="content-box border border-trbl"><p>span 8</p></div></div>
    </div>
    <p>Media queries allow for custom CSS based on a number of conditions—ratios, widths, display type, etc—but usually focuses around <code>min-width</code> and <code>max-width</code>.</p>
    <ul>
      <li>Modify the width of column in our grid</li>
      <li>Stack elements instead of float wherever necessary</li>
      <li>Resize headings and text to be more appropriate for devices</li>
    </ul>
    <p>Use media queries responsibly and only as a start to your mobile audiences. For larger projects, do consider dedicated code bases and not layers of media queries.</p>

    <h2>Responsive utility classes</h2>
    <p>For faster mobile-friendly development, use these utility classes for showing and hiding content by device. Below is a table of the available classes and their effect on a given media query layout (labeled by device).</p>
    <table class="table table-bordered table-striped responsive-utilities table-condensed">
      <thead>
        <tr>
          <th>Class</th>
          <th>Phones <small>767px and below</small></th>
          <th>Tablets <small>979px to 768px</small></th>
          <th>Desktops <small>Default</small></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>.visible-phone</code></th>
          <td class="is-visible">Visible</td>
          <td class="is-hidden">Hidden</td>
          <td class="is-hidden">Hidden</td>
        </tr>
        <tr>
          <th><code>.visible-tablet</code></th>
          <td class="is-hidden">Hidden</td>
          <td class="is-visible">Visible</td>
          <td class="is-hidden">Hidden</td>
        </tr>
        <tr>
          <th><code>.visible-desktop</code></th>
          <td class="is-hidden">Hidden</td>
          <td class="is-hidden">Hidden</td>
          <td class="is-visible">Visible</td>
        </tr>
        <tr>
          <th><code>.hidden-phone</code></th>
          <td class="is-hidden">Hidden</td>
          <td class="is-visible">Visible</td>
          <td class="is-visible">Visible</td>
        </tr>
        <tr>
          <th><code>.hidden-tablet</code></th>
          <td class="is-visible">Visible</td>
          <td class="is-hidden">Hidden</td>
          <td class="is-visible">Visible</td>
        </tr>
        <tr>
          <th><code>.hidden-desktop</code></th>
          <td class="is-visible">Visible</td>
          <td class="is-visible">Visible</td>
          <td class="is-hidden">Hidden</td>
        </tr>
      </tbody>
    </table>

    <h3>Responsive utilities test case</h3>
    <p>Resize your browser or load on different devices to test the above classes.</p>
    <h4>Visible on...</h4>
    <p>Green checkmarks indicate that class is visible in your current viewport.</p>
    <ul class="responsive-utilities-test">
      <li>Phone<span class="visible-phone">✔ Phone</span></li>
      <li>Tablet<span class="visible-tablet">✔ Tablet</span></li>
      <li>Desktop<span class="visible-desktop">✔ Desktop</span></li>
    </ul>
    <h4>Hidden on...</h4>
    <p>Here, green checkmarks indicate that class is hidden in your current viewport.</p>
    <ul class="responsive-utilities-test hidden-on">
      <li>Phone<span class="hidden-phone">✔ Phone</span></li>
      <li>Tablet<span class="hidden-tablet">✔ Tablet</span></li>
      <li>Desktop<span class="hidden-desktop">✔ Desktop</span></li>
    </ul>

  </section>

  <hr>
  <h1 id="canvas_components">Components we've made</h1>

  <div class="row-fluid v-gutter">
    <div class="span4">
      <h2>Content Box</h2>
      <div class="content-box">
        <p>The <code>content-box</code> doesn't do much on its own, sets a background color and some padding for direct children.</p>
        <p>The borders aren't defined because border logic varies so much between designs. Use the border classes to define them.</p>
      </div>
    </div>

    <div class="span4">
      <h2>Content Box with Toolbar</h2>
      <div class="content-box border-round">
        <div class="toolbar">
          <h2 class="header">Toolbar Header</h2>
        </div>
        <div class="border border-rbl">
          <p>
            The first element of a this content box is a <code>.toolbar</code>.
          </p>
          <p>
            It also has the classes <code>border border-trbl border-round</code> to make the borders.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid v-gutter">
    <div class="span4">
      <h2>List View</h2>
      <div class="list-view border border-trbl" style="height: 200px">
        <header>header</header>
        <ul>
          <li><a href="#">list item</a>
          <li><a href="#">list item</a>
        </ul>
        <ul>
          <li><a href="#">no header list item</a>
          <li><a href="#">list item</a>
        </ul>
        <header>Foo bar</header>
        <ul>
          <% 20.times do |i| %>
            <li><a href="#">Item <%= i + 1 %></a>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="span4">
      <h2>Vertical Gutter</h2>
      <p>We've added <code>v-gutter</code> and <code>v-gutter-large</code> classes to add some vertical margin to an element equal to the grid's gutters (and * 1.5 for large).</p>
    </div>
  </div>

  <h2>ImageBlock</h2>
  <div class="row-fluid">
    <div class="span6">
      <div class="image-block">
        <a href="#" class="image-block-image"><img class="border-round box-shadow" src="http://www.gravatar.com/avatar/749001c9fe6927c4b069a45c2a3d68f7?s=100"></a>
        <div class="image-block-content">
          <div class="content-box border border-trbl border-round">
            <p>Image blocks float an image (or any content) to the left and keep the content from wrapping beneath it.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="span4 offset2">
      <div class="image-block">
        <a href="#" class="image-block-image"><img src="http://www.gravatar.com/avatar/749001c9fe6927c4b069a45c2a3d68f7?s=100"></a>
        <div class="image-block-content">
          <p>Can you nest image blocks? Fer sure.</p>
          <p>You can totally nest them like a champion for as long as you like, image-block don't care.</p>
          <div class="image-block">
            <a href="#" class="image-block-image"><img src="http://www.gravatar.com/avatar/749001c9fe6927c4b069a45c2a3d68f7?s=50"></a>
            <div class="image-block-content">
              <p>You can totally nest them like a champion.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <h2>Admin Links testing</h2>
  <div class="admin-link-hover-area">
    <div class="admin-links">
      <a class="al-trigger btn btn-mini">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <div class="screenreader-only">Manage (will be accessibly hidden)</div>
      </a>
      <ul class="al-options">
        <li><a href="#"><i class="icon-edit"></i> Edit</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete (from database)</a></li>
        <li><a href="#"><i class="icon-x"></i> Hide from this screen</a></li>
        <li><a href="#">an option with no icon</a></li>
      </ul>
    </div>
    <p>This is an example of using <code>.admin-links</code></p>
    <p>here is what the code should look like:</p>
      <pre class="prettyprint linenums">
      &lt;div class=&quot;admin-link-hover-area&quot;&gt;
        &lt;div class=&quot;admin-links&quot;&gt;
          &lt;button class=&quot;al-trigger ui-button&quot;&gt;&lt;span class=&quot;al-trigger-inner&quot;&gt;Manage (will be accessibly hidden)&lt;/span&gt;&lt;/button&gt;
          &lt;ul class=&quot;al-options&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;ui-icon ui-icon-pencil&quot;&gt;&lt;/span&gt;Edit&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;ui-icon ui-icon-trash&quot;&gt;&lt;/span&gt;Delete (from database)&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;ui-icon ui-icon-trash&quot;&gt;&lt;/span&gt;Hide from this screen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;an option with no icon&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        put all of the content here
      &lt;/div&gt;
      </pre>
  </div>


  <h2 class="v-gutter" id="anchor-icon">Icons</h2>
  <p><strong>The "icon-" classes below can only be added to the semantically neutral "i" element.</strong> The one exception is text links, to which you can apply the icon class directly (see below for more details).</p>
  <div class="alert">
    <h4>icons on <code>&lt;a&gt;</code>s</h4>
    <p>you can use the same icon classes to add an icon to a plain link. Just add the <code>icon-&lt;whatever&gt;</code> class to the <code>&lt;a&gt;</code></p>
    <p>
    <b>examples:</b>
    <br>
    <a class="icon-add" href="#">Do this</a> <code>&lt;a class=&quot;icon-add&quot; href=&quot;#&quot;&gt;&lt;/a&gt;</code>
    <br>
    <a href="#"><i class="icon-add"></i> NOT this</a> <code>&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-add&quot;&gt;&lt;/i&gt;&lt;/a&gt; <-- DONT USE THIS CODE</code>
    </p>
    notice how the second, when you hover it, has an underline that creeps out too far to the left?
  </div>
  
  <span class="demo-icons"><i class="icon-zipped"></i> icon-zipped</span>
  <span class="demo-icons"><i class="icon-paperclip"></i> icon-paperclip</span>
  <span class="demo-icons"><i class="icon-media"></i> icon-media</span>
  <span class="demo-icons"><i class="icon-address-book"></i> icon-address-book</span>
  <span class="demo-icons"><i class="icon-announcement"></i> icon-announcement</span>
  <span class="demo-icons"><i class="icon-reset"></i> icon-reset</span>
  <span class="demo-icons"><i class="icon-analytics"></i> icon-analytics</span>
  <span class="demo-icons"><i class="icon-stats"></i> icon-stats</span>
  <span class="demo-icons"><i class="icon-student-view"></i> icon-student-view</span>
  <span class="demo-icons"><i class="icon-calendar-day"></i> icon-calendar-day</span>
  <span class="demo-icons"><i class="icon-trash"></i> icon-trash</span>
  <span class="demo-icons"><i class="icon-speed-grader"></i> icon-speed-grader</span>
  <span class="demo-icons"><i class="icon-copy-course"></i> icon-copy-course</span>
  <span class="demo-icons"><i class="icon-import-content"></i> icon-import-content</span>
  <span class="demo-icons"><i class="icon-export-content"></i> icon-export-content</span>
  <span class="demo-icons"><i class="icon-discussion"></i> icon-discussion</span>
  <span class="demo-icons"><i class="icon-peer-review"></i> icon-peer-review</span>
  <span class="demo-icons"><i class="icon-discussion-reply"></i> icon-discussion-reply</span>
  <span class="demo-icons"><i class="icon-discussion-new"></i> icon-discussion-new</span>
  <span class="demo-icons"><i class="icon-edit"></i> icon-edit</span>
  <span class="demo-icons"><i class="icon-home"></i> icon-home</span>
  <span class="demo-icons"><i class="icon-settings"></i> icon-settings</span>
  <span class="demo-icons"><i class="icon-compose"></i> icon-compose</span>
  <span class="demo-icons"><i class="icon-flag"></i> icon-flag</span>
  <span class="demo-icons"><i class="icon-video"></i> icon-video</span>
  <span class="demo-icons"><i class="icon-audio"></i> icon-audio</span>
  <span class="demo-icons"><i class="icon-outdent"></i> icon-outdent</span>
  <span class="demo-icons"><i class="icon-indent"></i> icon-indent</span>
  <span class="demo-icons"><i class="icon-outdent2"></i> icon-outdent2</span>
  <span class="demo-icons"><i class="icon-indent2"></i> icon-indent2</span>
  <span class="demo-icons"><i class="icon-forward"></i> icon-forward</span>
  <span class="demo-icons"><i class="icon-warning"></i> icon-warning</span>
  <span class="demo-icons"><i class="icon-filmstrip"></i> icon-filmstrip</span>
  <span class="demo-icons"><i class="icon-rubric"></i> icon-rubric</span>
  <span class="demo-icons"><i class="icon-check-plus"></i> icon-check-plus</span>
  <span class="demo-icons"><i class="icon-rss"></i> icon-rss</span>
  <span class="demo-icons"><i class="icon-rss-add"></i> icon-rss-add</span>
  <span class="demo-icons"><i class="icon-quiz"></i> icon-quiz</span>
  <span class="demo-icons"><i class="icon-question"></i> icon-question</span>
  <span class="demo-icons"><i class="icon-drop-down"></i> icon-drop-down</span>
  <span class="demo-icons"><i class="icon-minimize"></i> icon-minimize</span>
  <span class="demo-icons"><i class="icon-end"></i> icon-end</span>
  <span class="demo-icons"><i class="icon-add"></i> icon-add</span>
  <span class="demo-icons"><i class="icon-info"></i> icon-info</span>
  <span class="demo-icons"><i class="icon-check"></i> icon-check</span>
  <span class="demo-icons"><i class="icon-clock"></i> icon-clock</span>
  <span class="demo-icons"><i class="icon-calendar-month"></i> icon-calendar-month</span>
  <span class="demo-icons"><i class="icon-x"></i> icon-x</span>
  <span class="demo-icons"><i class="icon-refresh"></i> icon-refresh</span>
  <span class="demo-icons"><i class="icon-off"></i> icon-off</span>
  <span class="demo-icons"><i class="icon-updown"></i> icon-updown</span>
  <span class="demo-icons"><i class="icon-user-add"></i> icon-user-add</span>
  <span class="demo-icons"><i class="icon-group"></i> icon-group</span>
  <span class="demo-icons"><i class="icon-star"></i> icon-star</span>
  <span class="demo-icons"><i class="icon-replied"></i> icon-replied</span>
  <span class="demo-icons"><i class="icon-hour-glass"></i> icon-hour-glass</span>
  <span class="demo-icons"><i class="icon-assignment"></i> icon-assignment</span>
  <span class="demo-icons"><i class="icon-message"></i> icon-message</span>
  <span class="demo-icons"><i class="icon-note-dark"></i> icon-note-dark</span>
  <span class="demo-icons"><i class="icon-note-light"></i> icon-note-light</span>
  <span class="demo-icons"><i class="icon-tag"></i> icon-tag</span>
  <span class="demo-icons"><i class="icon-next-unread"></i> icon-next-unread</span>
  <span class="demo-icons"><i class="icon-search"></i> icon-search</span>
  <span class="demo-icons"><i class="icon-lock"></i> icon-lock</span>
  <span class="demo-icons"><i class="icon-unlock"></i> icon-unlock</span>
  <span class="demo-icons"><i class="icon-rubric-dark"></i> icon-rubric-dark</span>
  <span class="demo-icons"><i class="icon-folder"></i> icon-folder</span>
  <span class="demo-icons"><i class="icon-toggle-right"></i> icon-toggle-right</span>
  <span class="demo-icons"><i class="icon-toggle-left"></i> icon-toggle-left</span>
  <span class="demo-icons"><i class="icon-link"></i> icon-link</span>
  <span class="demo-icons"><i class="icon-lti"></i> icon-lti</span>
  <span class="demo-icons"><i class="icon-text"></i> icon-text</span>
  <span class="demo-icons"><i class="icon-timer"></i> icon-timer</span>
  <span class="demo-icons"><i class="icon-pin"></i> icon-pin</span>
  <span class="demo-icons"><i class="icon-like"></i> icon-like</span>
  <span class="demo-icons"><i class="icon-collection-save"></i> icon-collection-save</span>
  <span class="demo-icons"><i class="icon-collection"></i> icon-collection</span>
  <span class="demo-icons"><i class="icon-group-new"></i> icon-group-new</span>
  <span class="demo-icons"><i class="icon-group-new-dark"></i> icon-group-new-dark</span>
  <span class="demo-icons"><i class="icon-user"></i> icon-user</span>
  <span class="demo-icons"><i class="icon-standards"></i> icon-standards</span>
  <span class="demo-icons"><i class="icon-search-address-book"></i> icon-search-address-book</span>
  <span class="demo-icons"><i class="icon-facebook"></i> icon-facebook</span>
  <span class="demo-icons"><i class="icon-facebook-boxed"></i> icon-facebook-boxed</span>
  <span class="demo-icons"><i class="icon-linkedin"></i> icon-linkedin</span>
  <span class="demo-icons"><i class="icon-twitter"></i> icon-twitter</span>
  <span class="demo-icons"><i class="icon-twitter-boxed"></i> icon-twitter-boxed</span>
  <span class="demo-icons"><i class="icon-github"></i> icon-github</span>
  <span class="demo-icons"><i class="icon-skype"></i> icon-skype</span>
  <span class="demo-icons"><i class="icon-wordpress"></i> icon-wordpress</span>
  <span class="demo-icons"><i class="icon-pinterest"></i> icon-pinterest</span>
  <span class="demo-icons"><i class="icon-gradebook"></i> icon-gradebook</span>
  <span class="demo-icons"><i class="icon-document"></i> icon-document</span>
  <span class="demo-icons"><i class="icon-module"></i> icon-module</span>
  <span class="demo-icons"><i class="icon-arrow-up"></i> icon-arrow-up</span>
  <span class="demo-icons"><i class="icon-arrow-down"></i> icon-arrow-down</span>
  <span class="demo-icons"><i class="icon-arrow-left"></i> icon-arrow-left</span>
  <span class="demo-icons"><i class="icon-arrow-right"></i> icon-arrow-right</span>
  <span class="demo-icons"><i class="icon-mini-arrow-up"></i> icon-mini-arrow-up</span>
  <span class="demo-icons"><i class="icon-mini-arrow-down"></i> icon-mini-arrow-down</span>
  <span class="demo-icons"><i class="icon-mini-arrow-left"></i> icon-mini-arrow-left</span>
  <span class="demo-icons"><i class="icon-mini-arrow-right"></i> icon-mini-arrow-right</span>
  <span class="demo-icons"><i class="icon-email"></i> icon-email</span>
  <span class="demo-icons"><i class="icon-instructure"></i> icon-instructure</span>
  <span class="demo-icons"><i class="icon-ms-word"></i> icon-ms-word</span>
  <span class="demo-icons"><i class="icon-ms-excel"></i> icon-ms-excel</span>
  <span class="demo-icons"><i class="icon-ms-ppt"></i> icon-ms-ppt</span>
  <span class="demo-icons"><i class="icon-pdf"></i> icon-pdf</span>
  <span class="demo-icons"><i class="icon-apple"></i> icon-apple</span>
  <span class="demo-icons"><i class="icon-windows"></i> icon-windows</span>
  <span class="demo-icons"><i class="icon-android"></i> icon-android</span>
  <span class="demo-icons"><i class="icon-heart"></i> icon-heart</span>
  <span class="demo-icons"><i class="icon-upload"></i> icon-upload</span>
  <span class="demo-icons"><i class="icon-download"></i> icon-download</span>
  <span class="demo-icons"><i class="icon-text-left"></i> icon-text-left</span>
  <span class="demo-icons"><i class="icon-text-center"></i> icon-text-center</span>
  <span class="demo-icons"><i class="icon-text-right"></i> icon-text-right</span>
  <span class="demo-icons"><i class="icon-mature"></i> icon-mature</span>
  <span class="demo-icons"><i class="icon-prerequisite"></i> icon-prerequisite</span>
  <span class="demo-icons"><i class="icon-educators"></i> icon-educators</span>
  <span class="demo-icons"><i class="icon-materials-required"></i> icon-materials-required</span>
  <span class="demo-icons"><i class="icon-not-graded"></i> icon-not-graded</span>
  <span class="demo-icons"><i class="icon-peer-graded"></i> icon-peer-graded</span>
  <span class="demo-icons"><i class="icon-bookmark"></i> icon-bookmark</span>
  <span class="demo-icons"><i class="icon-printer"></i> icon-printer</span>
  <span class="demo-icons"><i class="icon-image"></i> icon-image</span>
  <span class="demo-icons"><i class="icon-expand"></i> icon-expand</span>
  <span class="demo-icons"><i class="icon-collapse"></i> icon-collapse</span>
  <span class="demo-icons"><i class="icon-invitation"></i> icon-invitation</span>
  <span class="demo-icons"><i class="icon-muted"></i> icon-muted</span>
  <span class="demo-icons"><i class="icon-unmuted"></i> icon-unmuted</span>
  <span class="demo-icons"><i class="icon-plus"></i> icon-plus</span>
  <span class="demo-icons"><i class="icon-publish"></i> icon-publish</span>
  <span class="demo-icons"><i class="icon-draft"></i> icon-draft</span>







  <!-- Forms
  ================================================== -->
  <hr>
  <section id="forms">
    <h1>Forms</h1>
    <p class="lead">TONZ more docs about forms can be found on the <a href="http://bootstrapdocs.com/v2.2.2/docs/base-css.html#forms">bootstrap docs</a></p>
    <p>Bootstrap provides simple markup and styles for four styles of common web forms.</p>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Vertical (default)</th>
          <td><code>.form-vertical</code> <span class="muted">(not required)</span></td>
          <td>Stacked, left-aligned labels over controls</td>
        </tr>
        <tr>
          <th>Inline</th>
          <td><code>.form-inline</code></td>
          <td>Left-aligned label and inline-block controls for compact style</td>
        </tr>
        <tr>
          <th>Search</th>
          <td><code>.form-search</code></td>
          <td>Extra-rounded text input for a typical search aesthetic</td>
        </tr>
        <tr>
          <th>Horizontal</th>
          <td><code>.form-horizontal</code></td>
          <td>Float left, right-aligned labels on same line as controls</td>
        </tr>
      </tbody>
    </table>


    <h2>Example forms <small>using just form controls, no extra markup</small></h2>
    <div class="row-fluid">
      <div class="span6">
        <h3>Basic form</h3>
        <p>Smart and lightweight defaults without extra markup.</p>
        <form class="well bootstrap-form">
          <label>Label name</label>
          <input type="text" class="span3" placeholder="Type something…">
          <p class="help-block">Example block-level help text here.</p>
          <label class="checkbox">
            <input type="checkbox"> Check me out
          </label>
          <button type="submit" class="btn">Submit</button>
        </form>
        <pre class="prettyprint linenums">
  &lt;form class="well bootstrap-form"&gt;
    &lt;label&gt;Label name&lt;/label&gt;
    &lt;input type="text" class="span3" placeholder="Type something…"&gt;
    &lt;span class="help-block"&gt;Example block-level help text here.&lt;/span&gt;
    &lt;label class="checkbox"&gt;
      &lt;input type="checkbox"&gt; Check me out
    &lt;/label&gt;
    &lt;button type="submit" class="btn"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
        </pre>
      </div>
      <div class="span6">
        <h3>Search form</h3>
        <p>Add <code>.form-search</code> to the form and <code>.search-query</code> to the <code>input</code>.</p>
        <form class="well form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </form>
        <pre class="prettyprint linenums">
  &lt;form class="well form-search"&gt;
    &lt;input type="text" class="input-medium search-query"&gt;
    &lt;button type="submit" class="btn"&gt;Search&lt;/button&gt;
  &lt;/form&gt;
        </pre>

        <h3>Inline form</h3>
        <p>Add <code>.form-inline</code> to finesse the vertical alignment and spacing of form controls.</p>
        <form class="well form-inline">
          <input type="text" class="input-small" placeholder="Email">
          <input type="password" class="input-small" placeholder="Password">
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
          <button type="submit" class="btn">Sign in</button>
        </form>
  <pre class="prettyprint linenums">
  &lt;form class="well form-inline"&gt;
    &lt;input type="text" class="input-small" placeholder="Email"&gt;
    &lt;input type="password" class="input-small" placeholder="Password"&gt;
    &lt;label class="checkbox"&gt;
      &lt;input type="checkbox"&gt; Remember me
    &lt;/label&gt;
    &lt;button type="submit" class="btn"&gt;Sign in&lt;/button&gt;
  &lt;/form&gt;
  </pre>
      </div><!-- /.span -->
    </div><!-- /row -->


    <h2>Horizontal forms</h2>
    <p class="lead">This is the main type of form that we use in canvas</p>

    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="input01">
            <p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input02">Datetime field</label>
          <div class="controls">
            <input type="text" id="input02" class="styleguide-datetime_field-example" placeholder="Enter a date">
            <p class="help-block">
              to get an input like this with the little calendar button to the right,<br>
              start with an <code>&lt;input type=&quot;text&quot;&gt;</code>, select it <br>
              and call <code>.datetime_field()</code> on it.
            </p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="optionsCheckbox">Checkbox</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="optionsCheckbox" value="option1">
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="select01">Select list</label>
          <div class="controls">
            <select id="select01">
              <option>something</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="multiSelect">Multicon-select</label>
          <div class="controls">
            <select multiple="multiple" id="multiSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fileInput">File input</label>
          <div class="controls">
            <input class="input-file" id="fileInput" type="file">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">Textarea</label>
          <div class="controls">
            <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="focusedInput">Focused input</label>
          <div class="controls">
            <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Uneditable input</label>
          <div class="controls">
            <span class="input-xlarge uneditable-input">Some value here</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="disabledInput">Disabled input</label>
          <div class="controls">
            <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="Disabled input here…" disabled>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="optionsCheckbox2">Disabled checkbox</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="optionsCheckbox2" value="option1" disabled>
              This is a disabled checkbox
            </label>
          </div>
        </div>
          <div class="control-group">
            <label class="control-label">Form grid sizes</label>
            <div class="controls docs-input-sizes">
              <input class="span1" type="text" placeholder=".span1">
              <input class="span2" type="text" placeholder=".span2">
              <input class="span3" type="text" placeholder=".span3">
              <select class="span1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <select class="span2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <select class="span3">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <p class="help-block">Use the same <code>.span*</code> classes from the grid system for input sizes.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Alternate sizes</label>
            <div class="controls docs-input-sizes">
              <input class="input-mini" type="text" placeholder=".input-mini">
              <input class="input-small" type="text" placeholder=".input-small">
              <input class="input-medium" type="text" placeholder=".input-medium">
              <p class="help-block">You may also use static classes that don't map to the grid, adapt to the responsive CSS styles, or account for varying types of controls (e.g., <code>input</code> vs. <code>select</code>).</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="prependedInput">Prepended text</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text">
              </div>
              <p class="help-block">Here's some help text</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="appendedInput">Appended text</label>
            <div class="controls">
              <div class="input-append">
                <input class="span2" id="appendedInput" size="16" type="text"><span class="add-on">.00</span>
              </div>
              <span class="help-inline">Here's more help text</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="appendedPrependedInput">Append and prepend</label>
            <div class="controls">
              <div class="input-prepend input-append">
                <span class="add-on">$</span><input class="span2" id="appendedPrependedInput" size="16" type="text"><span class="add-on">.00</span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="appendedInputButton">Append with button</label>
            <div class="controls">
              <div class="input-append">
                <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn" type="button">Go!</button>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="appendedInputButtons">Two-button append</label>
            <div class="controls">
              <div class="input-append">
                <input class="span2" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button">Search</button><button class="btn" type="button">Options</button>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">Inline checkboxes</label>
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
              </label>
              <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
              </label>
              <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckboxList">Checkboxes</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList1" value="option1">
                Option one is this and that&mdash;be sure to include why it's great
              </label>
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList2" value="option2">
                Option two can also be checked and included in form results
              </label>
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList3" value="option3">
                Option three can&mdash;yes, you guessed it&mdash;also be checked and included in form results
              </label>
              <p class="help-block"><strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Radio buttons</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
          </div>
          <div class="form-actions">
            <button class="btn">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </fieldset>
        </div>
      </fieldset>
    </form>
    <h3>Example markup</h3>
    <p>Given the above example form layout, here's the markup associated with the first input and control group. The <code>.control-group</code>, <code>.control-label</code>, and <code>.controls</code> classes are all required for styling.</p>
    <pre class="prettyprint linenums">
    &lt;form class="form-horizontal"&gt;
      &lt;fieldset&gt;
        &lt;legend&gt;Legend text&lt;/legend&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label" for="input01"&gt;Text input&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;input type="text" class="input-xlarge" id="input01"&gt;
            &lt;p class="help-block"&gt;Supporting help text&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/fieldset&gt;
    &lt;/form&gt;
    </pre>

    <h4>Block level inputs</h4>
    <p>Make any <code>&lt;input&gt;</code> or <code>&lt;textarea&gt;</code> element behave like a block level element.</p>
    <form>
      <div class="controls">
        <input class="input-block-level" type="text" placeholder=".input-block-level">
      </div>
    </form>

  </section>

  <section id="anchor-buttons">
  </section>


  <hr>

  <section id="jqueryUI">
    <h1>jQuery UI</h1>
    <p>This page demonstrates all available components of our jQuery UI port.</p>

    <!-- Highlight / Error -->
    <h2 class="demoHeaders">Highlight / Error</h2>
    <p class="ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <strong>Hey!</strong> Sample ui-state-highlight style.</p>
      </div>
    </p>


    <p class="ui-widget">
      <div class="ui-state-warning ui-corner-all">
        <p><strong>Ruh-roh:</strong> Sample ui-state-warning style.</p>
      </div>
    </p>


    <p class="ui-widget">
      <div class="ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        <strong>Alert:</strong> Sample ui-state-error style.</p>
      </div>
    </p>


    <p class="ui-widget">
      <div class="ui-state-success ui-corner-all">
        <p><strong>Ohai:</strong> Sample ui-state-success style.</p>
      </div>
    </p>


    <p class="ui-widget">
      <div class="ui-state-default ui-corner-all">
        <p><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span>
        <strong>Hello:</strong> Sample ui-state-default style.</p>
      </div>
    </p>
    <!--end highlights-->

    <div>
      <h2 class="demoHeaders">Simple toolbar</h2>
      <span id="toolbar" class="ui-toolbar ui-widget-header ui-corner-all">

        <input type="checkbox" id="shuffle" /><label for="shuffle">Shuffle</label>

        <span id="repeat">
          <input type="radio" id="repeat0" name="repeat" checked="checked" /><label for="repeat0">No Repeat</label>
          <input type="radio" id="repeat1" name="repeat" /><label for="repeat1">Once</label>
          <input type="radio" id="repeatall" name="repeat" /><label for="repeatall">All</label>
        </span>

      </span>
    </div>





    <!-- Autocomplete -->
    <h2 class="demoHeaders">Autocomplete</h2>
    <div class="ui-widget">
      <label for="countries">Countries: </label>
      <input id="countries" type="text">
    </div>

    <!-- Button -->
    <h4>UI Button</h4>
    <p>
      <span class="label label-important">Heads up!</span> Don't use <code>.ui-button</code> in your code
      it still exists just because of the jqueryUI components that generate them as part of their markup.
      This is just to make sure I didn't break that.
    </p>
    <p>
      <a class="styleguide-turnIntoUiButton" href="#">&lt;A href="#"&gt; .ui-button</a>
      <button class="styleguide-turnIntoUiButton">button.ui-button</button>
      <a href="#" class="btn">a.btn</a>
    </p>

    <h6>.ui-button</h6>
    <p class="styleguide-turnAllIntoUiButton">
      <button>Default</button>
      <button class="btn-primary btn-mini">.btn-primary</button>
      <button class="btn-danger btn-small">.btn-danger</button>
      <button class="btn-success">.btn-success</button>
      <button class="btn-primary btn-large">.btn-large</button>
    </p>

    <h6>.btn</h6>
    <p>
      <button class="btn">Default</button>
      <button class="btn btn-primary btn-mini">.btn-primary</button>
      <button class="btn btn-danger btn-small">.btn-danger</button>
      <button class="btn btn-success btn">.btn-success</button>
      <button class="btn btn-primary btn-large">.btn-large</button>
    </p>

    <!-- Icon Buttons -->
    <h2 class="demoHeaders">Icon Buttons</h2>
    <div class="alert">
      <strong>To view all available icon classes, please see the <a href="#anchor-icon" style="text-decoration: underline">Icons</a> section above.</strong>
      <p>To add an icon to a button, simply add an <strong>i</strong> element within the element with the .btn class. <strong>(Please note that icons will be suppressed when added to a button with the btn-mini class because they'd look so small as to be illegible at that size.)</strong></p>
      <p>
        <code>
          button class="btn" --> i class="icon-stats"
        </code>
      </p>

    </div>
    <p>
      <button class="btn"><i class="icon-stats"></i> .btn</button>
      <button class="btn btn-primary"><i class="icon-twitter"></i> .btn .btn-primary</button>
       <button class="btn btn-danger"><i class="icon-warning"></i> .btn .btn-danger</button>
      <button class="btn btn-large"><i class="icon-rss"></i> .btn .btn-large</button>
      <button class="btn btn-small"><i class="icon-note-dark"></i> .btn .btn-small</button>

    </p>

    <!-- Button Set -->
    <h2 class="demoHeaders">Button Toggle</h2>
    <div id="radio1">
      <input type="radio" id="radio1" name="radio" /><label for="radio1">Choice 1</label>
      <input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">Choice 2</label>
      <input type="radio" id="radio3" name="radio" /><label for="radio3">Choice 3</label>
    </div>

    <!-- Accordion -->
    <h2 class="demoHeaders">Accordion</h2>
    <div class="columnbox">

      <div class="accordion">

          <h3><a href="#">Section 1</a></h3>
          <div>
            <p>
            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
            ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
            amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
            odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
          </div>
          <h3><a href="#">Section 2</a></h3>
          <div>
            <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
            </p>
          </div>
          <h3><a href="#">Section 3</a></h3>
          <div>
            <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
            </p>
            <ul>
              <li>List item one</li>
              <li>List item two</li>
              <li>List item three</li>
            </ul>
          </div>
          <h3><a href="#">Section 4</a></h3>
          <div>
            <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
            </p>
            <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
            </p>
          </div>

      </div>

    </div>

    <!-- Tabs -->
    <h2 class="demoHeaders">Tabs</h2>
    <div class="tabs">
      <ul>
        <li><a href="#tabs-1">First</a></li>
        <li><a href="#tabs-2">Second</a></li>
        <li><a href="#tabs-3">Third</a></li>
      </ul>
      <div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget diam nec urna hendrerit tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum aliquam ligula non nulla cursus volutpat. Aliquam malesuada felis nec turpis auctor interdum. Cras et lobortis dolor. Nam sodales, dolor eu cursus faucibus, justo leo vestibulum turpis, id malesuada erat ipsum et leo. Integer id aliquam augue. Proin quis risus magna. Vivamus eget accumsan mauris. Vivamus justo ligula, blandit et consequat nec, vulputate a elit. Morbi feugiat metus in ante scelerisque a pulvinar quam condimentum. Suspendisse potenti. Pellentesque convallis scelerisque nunc eget dapibus. Pellentesque ut enim justo. Fusce egestas urna sed nulla placerat iaculis. Cras dignissim tincidunt molestie. Suspendisse rutrum dignissim tortor quis mollis. Sed tempor feugiat ligula in imperdiet. Quisque molestie viverra erat in adipiscing. </div>
      <div id="tabs-2">Donec porta malesuada massa, at fermentum nunc tincidunt ac. Integer nisi ligula, sodales bibendum interdum id, sodales sit amet orci. In rhoncus libero in purus vestibulum consequat. Aenean vel purus molestie leo pharetra sagittis. In hac habitasse platea dictumst. Quisque bibendum, metus a egestas convallis, est orci dapibus odio, vel pretium ante erat quis ipsum. Praesent at est in odio rhoncus cursus in sollicitudin velit. Aenean auctor molestie hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec volutpat nisl eget nisi consequat pretium. Nullam dui purus, commodo a vestibulum nec, semper varius nulla. </div>
      <div id="tabs-3">Mauris tempor urna non quam tincidunt aliquam. Proin venenatis metus eu purus interdum a vehicula ipsum sollicitudin. Mauris sed dignissim odio. Nam id odio sed diam dapibus dignissim. Nulla vestibulum nisl ac magna scelerisque adipiscing. Nam pellentesque sapien vulputate nisi scelerisque ut vehicula orci luctus. Sed rhoncus tempor metus vitae egestas. Proin pharetra tristique justo ac rutrum. Vestibulum ac pharetra dolor. Cras nibh arcu, bibendum eget luctus id, rhoncus nec augue. Integer ornare rhoncus nulla, eu aliquam mi ornare ullamcorper. Praesent egestas auctor orci, non rhoncus sapien eleifend at. Quisque eget purus sem, ut dignissim ligula. Etiam sollicitudin dui libero, id ullamcorper metus. </div>
    </div>

    <h2 class="demoHeaders">Minimal tabs, add class <code>.ui-tabs-minimal</code></h2>
    <div class="tabs ui-tabs-minimal">
      <ul>
        <li><a href="#tabs-1">First</a></li>
        <li><a href="#tabs-2">Second</a></li>
        <li><a href="#tabs-3">Third</a></li>
      </ul>
      <div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget diam nec urna hendrerit tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum aliquam ligula non nulla cursus volutpat. Aliquam malesuada felis nec turpis auctor interdum. Cras et lobortis dolor. Nam sodales, dolor eu cursus faucibus, justo leo vestibulum turpis, id malesuada erat ipsum et leo. Integer id aliquam augue. Proin quis risus magna. Vivamus eget accumsan mauris. Vivamus justo ligula, blandit et consequat nec, vulputate a elit. Morbi feugiat metus in ante scelerisque a pulvinar quam condimentum. Suspendisse potenti. Pellentesque convallis scelerisque nunc eget dapibus. Pellentesque ut enim justo. Fusce egestas urna sed nulla placerat iaculis. Cras dignissim tincidunt molestie. Suspendisse rutrum dignissim tortor quis mollis. Sed tempor feugiat ligula in imperdiet. Quisque molestie viverra erat in adipiscing. </div>
      <div id="tabs-2">Donec porta malesuada massa, at fermentum nunc tincidunt ac. Integer nisi ligula, sodales bibendum interdum id, sodales sit amet orci. In rhoncus libero in purus vestibulum consequat. Aenean vel purus molestie leo pharetra sagittis. In hac habitasse platea dictumst. Quisque bibendum, metus a egestas convallis, est orci dapibus odio, vel pretium ante erat quis ipsum. Praesent at est in odio rhoncus cursus in sollicitudin velit. Aenean auctor molestie hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec volutpat nisl eget nisi consequat pretium. Nullam dui purus, commodo a vestibulum nec, semper varius nulla. </div>
      <div id="tabs-3">Mauris tempor urna non quam tincidunt aliquam. Proin venenatis metus eu purus interdum a vehicula ipsum sollicitudin. Mauris sed dignissim odio. Nam id odio sed diam dapibus dignissim. Nulla vestibulum nisl ac magna scelerisque adipiscing. Nam pellentesque sapien vulputate nisi scelerisque ut vehicula orci luctus. Sed rhoncus tempor metus vitae egestas. Proin pharetra tristique justo ac rutrum. Vestibulum ac pharetra dolor. Cras nibh arcu, bibendum eget luctus id, rhoncus nec augue. Integer ornare rhoncus nulla, eu aliquam mi ornare ullamcorper. Praesent egestas auctor orci, non rhoncus sapien eleifend at. Quisque eget purus sem, ut dignissim ligula. Etiam sollicitudin dui libero, id ullamcorper metus. </div>
    </div>

    <!-- ui-dialog -->
    <h2 class="demoHeaders">Modal Dialog</h2>
    <button class="btn element_toggler" aria-controls="testdialog">Show Dialog</button>

    <form id="testdialog" data-turn-into-dialog='{"width":600,"modal":true}' style="display:none" title="Dialog Title">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#" id="buttonInModal" class="btn">Change</a>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">This will Submit the form</button>
        <a class="btn dialog_closer">close dialog</a>
      </div>
    </form>

    <!-- Progress Bar -->
    <h2 class="demoHeaders">Progress Bar</h2>
    <p>
      <div id="progressbar"></div>
      <a id="animateProgress" href="#">Animate to random number</a>
    </p>

    <p>
      <span class="label label-important">DON'T USE Jquery UI Icons</span>
      Use <a href="#anchor-icon">one of the font based icons above</a>.  this is just to make sure we don't break
      backward compatibility.
    </p>
    <ul id="icons" class="ui-widget ui-helper-clearfix">

      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-n"><span class="ui-icon ui-icon-carat-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-ne"><span class="ui-icon ui-icon-carat-1-ne"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-e"><span class="ui-icon ui-icon-carat-1-e"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-se"><span class="ui-icon ui-icon-carat-1-se"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-s"><span class="ui-icon ui-icon-carat-1-s"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-sw"><span class="ui-icon ui-icon-carat-1-sw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-w"><span class="ui-icon ui-icon-carat-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-1-nw"><span class="ui-icon ui-icon-carat-1-nw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-2-n-s"><span class="ui-icon ui-icon-carat-2-n-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-carat-2-e-w"><span class="ui-icon ui-icon-carat-2-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-n"><span class="ui-icon ui-icon-triangle-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-ne"><span class="ui-icon ui-icon-triangle-1-ne"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-e"><span class="ui-icon ui-icon-triangle-1-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-se"><span class="ui-icon ui-icon-triangle-1-se"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-s"><span class="ui-icon ui-icon-triangle-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-sw"><span class="ui-icon ui-icon-triangle-1-sw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-w"><span class="ui-icon ui-icon-triangle-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-1-nw"><span class="ui-icon ui-icon-triangle-1-nw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-2-n-s"><span class="ui-icon ui-icon-triangle-2-n-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-triangle-2-e-w"><span class="ui-icon ui-icon-triangle-2-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-n"><span class="ui-icon ui-icon-arrow-1-n"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-ne"><span class="ui-icon ui-icon-arrow-1-ne"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-e"><span class="ui-icon ui-icon-arrow-1-e"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-se"><span class="ui-icon ui-icon-arrow-1-se"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-s"><span class="ui-icon ui-icon-arrow-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-sw"><span class="ui-icon ui-icon-arrow-1-sw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-w"><span class="ui-icon ui-icon-arrow-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-1-nw"><span class="ui-icon ui-icon-arrow-1-nw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-2-n-s"><span class="ui-icon ui-icon-arrow-2-n-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-2-ne-sw"><span class="ui-icon ui-icon-arrow-2-ne-sw"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-2-e-w"><span class="ui-icon ui-icon-arrow-2-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-2-se-nw"><span class="ui-icon ui-icon-arrow-2-se-nw"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowstop-1-n"><span class="ui-icon ui-icon-arrowstop-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowstop-1-e"><span class="ui-icon ui-icon-arrowstop-1-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowstop-1-s"><span class="ui-icon ui-icon-arrowstop-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowstop-1-w"><span class="ui-icon ui-icon-arrowstop-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-n"><span class="ui-icon ui-icon-arrowthick-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-ne"><span class="ui-icon ui-icon-arrowthick-1-ne"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-e"><span class="ui-icon ui-icon-arrowthick-1-e"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-se"><span class="ui-icon ui-icon-arrowthick-1-se"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-s"><span class="ui-icon ui-icon-arrowthick-1-s"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-sw"><span class="ui-icon ui-icon-arrowthick-1-sw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-w"><span class="ui-icon ui-icon-arrowthick-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-1-nw"><span class="ui-icon ui-icon-arrowthick-1-nw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-2-n-s"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-2-ne-sw"><span class="ui-icon ui-icon-arrowthick-2-ne-sw"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-2-e-w"><span class="ui-icon ui-icon-arrowthick-2-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthick-2-se-nw"><span class="ui-icon ui-icon-arrowthick-2-se-nw"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthickstop-1-n"><span class="ui-icon ui-icon-arrowthickstop-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthickstop-1-e"><span class="ui-icon ui-icon-arrowthickstop-1-e"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthickstop-1-s"><span class="ui-icon ui-icon-arrowthickstop-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowthickstop-1-w"><span class="ui-icon ui-icon-arrowthickstop-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturnthick-1-w"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturnthick-1-n"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturnthick-1-e"><span class="ui-icon ui-icon-arrowreturnthick-1-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturnthick-1-s"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturn-1-w"><span class="ui-icon ui-icon-arrowreturn-1-w"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturn-1-n"><span class="ui-icon ui-icon-arrowreturn-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturn-1-e"><span class="ui-icon ui-icon-arrowreturn-1-e"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowreturn-1-s"><span class="ui-icon ui-icon-arrowreturn-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowrefresh-1-w"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowrefresh-1-n"><span class="ui-icon ui-icon-arrowrefresh-1-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowrefresh-1-e"><span class="ui-icon ui-icon-arrowrefresh-1-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrowrefresh-1-s"><span class="ui-icon ui-icon-arrowrefresh-1-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-4"><span class="ui-icon ui-icon-arrow-4"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-arrow-4-diag"><span class="ui-icon ui-icon-arrow-4-diag"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-extlink"><span class="ui-icon ui-icon-extlink"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-newwin"><span class="ui-icon ui-icon-newwin"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-refresh"><span class="ui-icon ui-icon-refresh"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-shuffle"><span class="ui-icon ui-icon-shuffle"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-transfer-e-w"><span class="ui-icon ui-icon-transfer-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-transferthick-e-w"><span class="ui-icon ui-icon-transferthick-e-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-folder-collapsed"><span class="ui-icon ui-icon-folder-collapsed"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-folder-open"><span class="ui-icon ui-icon-folder-open"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-document"><span class="ui-icon ui-icon-document"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-document-b"><span class="ui-icon ui-icon-document-b"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-note"><span class="ui-icon ui-icon-note"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-mail-closed"><span class="ui-icon ui-icon-mail-closed"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-mail-open"><span class="ui-icon ui-icon-mail-open"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-suitcase"><span class="ui-icon ui-icon-suitcase"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-comment"><span class="ui-icon ui-icon-comment"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-person"><span class="ui-icon ui-icon-person"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-print"><span class="ui-icon ui-icon-print"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-trash"><span class="ui-icon ui-icon-trash"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-locked"><span class="ui-icon ui-icon-locked"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-unlocked"><span class="ui-icon ui-icon-unlocked"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-bookmark"><span class="ui-icon ui-icon-bookmark"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-tag"><span class="ui-icon ui-icon-tag"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-home"><span class="ui-icon ui-icon-home"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-flag"><span class="ui-icon ui-icon-flag"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-calculator"><span class="ui-icon ui-icon-calculator"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-cart"><span class="ui-icon ui-icon-cart"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-pencil"><span class="ui-icon ui-icon-pencil"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-clock"><span class="ui-icon ui-icon-clock"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-disk"><span class="ui-icon ui-icon-disk"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-calendar"><span class="ui-icon ui-icon-calendar"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-zoomin"><span class="ui-icon ui-icon-zoomin"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-zoomout"><span class="ui-icon ui-icon-zoomout"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-search"><span class="ui-icon ui-icon-search"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-wrench"><span class="ui-icon ui-icon-wrench"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-gear"><span class="ui-icon ui-icon-gear"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-heart"><span class="ui-icon ui-icon-heart"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-star"><span class="ui-icon ui-icon-star"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-link"><span class="ui-icon ui-icon-link"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-cancel"><span class="ui-icon ui-icon-cancel"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-plus"><span class="ui-icon ui-icon-plus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-minus"><span class="ui-icon ui-icon-minus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-minusthick"><span class="ui-icon ui-icon-minusthick"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-close"><span class="ui-icon ui-icon-close"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-closethick"><span class="ui-icon ui-icon-closethick"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-key"><span class="ui-icon ui-icon-key"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-lightbulb"><span class="ui-icon ui-icon-lightbulb"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-scissors"><span class="ui-icon ui-icon-scissors"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-clipboard"><span class="ui-icon ui-icon-clipboard"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-copy"><span class="ui-icon ui-icon-copy"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-contact"><span class="ui-icon ui-icon-contact"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-image"><span class="ui-icon ui-icon-image"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-video"><span class="ui-icon ui-icon-video"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-script"><span class="ui-icon ui-icon-script"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-alert"><span class="ui-icon ui-icon-alert"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-info"><span class="ui-icon ui-icon-info"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-notice"><span class="ui-icon ui-icon-notice"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-help"><span class="ui-icon ui-icon-help"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-check"><span class="ui-icon ui-icon-check"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-bullet"><span class="ui-icon ui-icon-bullet"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-radio-off"><span class="ui-icon ui-icon-radio-off"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-radio-on"><span class="ui-icon ui-icon-radio-on"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-pin-w"><span class="ui-icon ui-icon-pin-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-pin-s"><span class="ui-icon ui-icon-pin-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-play"><span class="ui-icon ui-icon-play"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-pause"><span class="ui-icon ui-icon-pause"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-seek-next"><span class="ui-icon ui-icon-seek-next"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-seek-prev"><span class="ui-icon ui-icon-seek-prev"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-seek-end"><span class="ui-icon ui-icon-seek-end"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-seek-first"><span class="ui-icon ui-icon-seek-first"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-stop"><span class="ui-icon ui-icon-stop"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-eject"><span class="ui-icon ui-icon-eject"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-volume-off"><span class="ui-icon ui-icon-volume-off"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-volume-on"><span class="ui-icon ui-icon-volume-on"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-power"><span class="ui-icon ui-icon-power"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-signal-diag"><span class="ui-icon ui-icon-signal-diag"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-signal"><span class="ui-icon ui-icon-signal"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-battery-0"><span class="ui-icon ui-icon-battery-0"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-battery-1"><span class="ui-icon ui-icon-battery-1"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-battery-2"><span class="ui-icon ui-icon-battery-2"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-battery-3"><span class="ui-icon ui-icon-battery-3"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-plus"><span class="ui-icon ui-icon-circle-plus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-minus"><span class="ui-icon ui-icon-circle-minus"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-close"><span class="ui-icon ui-icon-circle-close"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-triangle-e"><span class="ui-icon ui-icon-circle-triangle-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-triangle-s"><span class="ui-icon ui-icon-circle-triangle-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-triangle-w"><span class="ui-icon ui-icon-circle-triangle-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-triangle-n"><span class="ui-icon ui-icon-circle-triangle-n"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-arrow-e"><span class="ui-icon ui-icon-circle-arrow-e"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-arrow-s"><span class="ui-icon ui-icon-circle-arrow-s"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-arrow-w"><span class="ui-icon ui-icon-circle-arrow-w"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-arrow-n"><span class="ui-icon ui-icon-circle-arrow-n"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-zoomin"><span class="ui-icon ui-icon-circle-zoomin"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-zoomout"><span class="ui-icon ui-icon-circle-zoomout"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circle-check"><span class="ui-icon ui-icon-circle-check"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circlesmall-plus"><span class="ui-icon ui-icon-circlesmall-plus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circlesmall-minus"><span class="ui-icon ui-icon-circlesmall-minus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-circlesmall-close"><span class="ui-icon ui-icon-circlesmall-close"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-squaresmall-plus"><span class="ui-icon ui-icon-squaresmall-plus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-squaresmall-minus"><span class="ui-icon ui-icon-squaresmall-minus"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-squaresmall-close"><span class="ui-icon ui-icon-squaresmall-close"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-grip-dotted-vertical"><span class="ui-icon ui-icon-grip-dotted-vertical"></span></li>

      <li class="ui-state-default ui-corner-all" title=".ui-icon-grip-dotted-horizontal"><span class="ui-icon ui-icon-grip-dotted-horizontal"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-grip-solid-vertical"><span class="ui-icon ui-icon-grip-solid-vertical"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-grip-solid-horizontal"><span class="ui-icon ui-icon-grip-solid-horizontal"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-gripsmall-diagonal-se"><span class="ui-icon ui-icon-gripsmall-diagonal-se"></span></li>
      <li class="ui-state-default ui-corner-all" title=".ui-icon-grip-diagonal-se"><span class="ui-icon ui-icon-grip-diagonal-se"></span></li>
    </ul>


    <h2 class="demoHeaders">Overlay and Shadow Classes <em>(not currently used in UI widgets)</em></h2>
    <div style="position: relative; width: 70%; height: 200px; padding:1% 4%; overflow:hidden;" class="fakewindowcontain">
      <p>Lorem ipsum dolor sit amet,  Nulla nec tortor. Donec id elit quis purus consectetur consequat. </p><p>Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. </p><p>Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. </p><p>Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. </p><p>Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. </p><p>Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. </p>

      <!-- ui-dialog -->
      <div class="ui-overlay"><div class="ui-widget-overlay"></div><div class="ui-widget-shadow ui-corner-all" style="width: 302px; height: 152px; position: absolute; left: 50px; top: 30px;"></div></div>
      <div style="position: absolute; width: 280px; height: 130px;left: 50px; top: 30px; padding: 10px;" class="ui-widget ui-widget-content ui-corner-all">
        <div class="ui-dialog-content ui-widget-content" style="background: none; border: 0;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

    </div>
  </section><!-- end jqueryUI -->

  <section>
    <h2>Tooltips</h2>
    these links have tooltips:
    <a data-tooltip title="this is a really long tooltip, it was not passed any options, it just had the [data-tooltip] attribute, which means it should appear on the top center of the trigger element.  and it should wrap since the text is so long">default</a>
    <a data-tooltip="top" title="same as default">top</a>
    <a data-tooltip="right" title="should be right center">right</a>
    <a data-tooltip="bottom" title="should be bottom center">bottom</a>
    <a data-tooltip="left" title="should be left center">left</a>
    <button data-tooltip title="any type of element can have a tooltip" class="btn">
      button with tooltip
    </button>
  </section>

  <section>
    <h2 id="anchor-popovers">Popovers</h2>
    Popovers work exactly like tooltips, just add <code>"tooltipClass":"popover"</code> to the <code>data-tooltip</code> attribute<br/>
    <a
      data-tooltip='{"tooltipClass":"popover", "position":"right"}'
      title="<div class='popover-title'>Popover Example</div>
             <div class='popover-content'><p>Some content to display.</p></div>
            ">
      Text with popover
    </a>
  </section>




</div>
