<% content_for :page_title do %>
  Welcome to Canvas
<% end %>

<% unless @current_user %>
  <% content_for :right_side do %>
  <div style="margin-top: 20px;">
    <h2>Log In to Canvas</h2>
    <%= render :partial => 'shared/login' %>
  </div>
  <% end %>
<% end %>

<div style="max-width:800px; margin: 5px 20px;">
  <h2>Canvas Makes Learning and Teaching Easier</h2>
  <p>
  <%= image_tag "logo.png", :style => "float: left; padding-right: 10px;  " %>
  Welcome to a new breed of online learning software, courtesy of Instructure.  We're here to make it 
  easy for you to use the web to improve learning.  Our interface is simple, clean and open, 
  and we work with the tools you and your students are already using -- Email,
  RSS Feeds, Google Docs... things like that.  We roll it all up into one powerful, open 
  package that does more than just tracks assignments.  It encourages interaction and fosters
  learning.</p>
  <p>Ready to see for yourself?  The best place to start is making a course.  You can
  take a stab once you register or log in -- you just need the authorization code either
  we sent you or you got from your system administrator.

  <% if show_user_create_course_button(@current_user) %>

      <div class='button-container'>
        <a href="<%= getting_started_url %>" class='button big-button'>Start
          Building a Course Now</a>
      </div>
  <% end %>
  
</div>


<% js_block do %>
<script>
$(document).ready(function() {
  $("#login_form :text:first").focus().select();
});
</script>
<% end %>