<html>
    <head>
    </head>
    <body>
        You are using the responsive layout feature flag.

        If you want to turn this off run:
        <pre>
            account = Account.find(XX)
            account.disable_feature! 'responsive_layout'
        </pre>
        in a rails console and refresh the page.
        <p>
        <em>Note: The change may take a little bit to change because of cacheing </em>
        </p>
    </body>
</html>
