<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% provide :page_title do %><%= t(:page_title, "Accounts") %><% end %>
<% add_crumb t(:accounts_crumb, "Accounts") %>

<% provide :right_side do %>
<% end %>

<% css_bundle :context_list %>

<h2><%= t(:title, "Accounts I Manage") %></h2>
<%= t(:no_accounts_message, "No Accounts") if @accounts.empty? %>
<ul class="context_list">
  <% @accounts.each do |account| %>
    <li>
      <%= link_to account.name, url_for(account) %>
    </li>
  <% end %>
</ul>