<% content_for :page_title do %><%= t(:page_title, "Accounts") %><% end %>
<% add_crumb t(:accounts_crumb, "Accounts") %>

<% content_for :right_side do %>
<% end %>

<% css_bundle :context_list %>

<h2><%= t(:title, "Accounts I Manage") %></h2>
<%= t(:no_accounts_message, "No Accounts") if @accounts.empty? %>
<ul class="context_list">
  <% @accounts.each do |account| %>
    <li>
      <%= link_to account.name, url_for(account) %>
    </li>
  <% end %>
</ul>