<% 
  content_for :page_title, "Statistics for #{@account.name}"
  @active_tab = "statistics"
  js_bundle :graphael
%>

<h2>Page views by course</h2>
<div id="pageviews_by_course_chart"></div>
<div id="daily_page_views"></div>
<h2>Page views over time</h2>
<div id='chart_div' style='width: 700px; height: 240px;'></div>

<% js_block do %>

<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">

google.load('visualization', '1', {'packages':['annotatedtimeline']});

require([
  'jquery' /* jQuery, $ */,
  'vendor/graphael',
  'jquery.instructure_misc_plugins' /* /\.log\(/ */
], function($, Raphael) {
  
  window.pageViewData = <%= raw @account.page_view_data.to_json %>;

  $(function(){
    var r = Raphael("pageviews_by_course_chart", 700, 240);
    r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

    var pie = r.g.piechart(550, 110, 100,
       <%= raw @most_active_courses.map{ |c| @account.popularity_of(c)[:page_views_count] }.to_json %>,
      {
        legend: <%= raw @most_active_courses.map{ |c| "%%.%% - #{c.course_code} (#{number_with_delimiter(@account.popularity_of(c)[:page_views_count])})"}.to_json %>,
        legendpos: "west"
      });
    pie.hover(function(){
      console.log(arguments, this);
        this.sector.stop();
        this.sector.scale(1.1, 1.1, this.cx, this.cy);
        if (this.label) {
          this.label[0].stop();
          this.label[0].scale(1.5);
          this.label[1].attr({"font-weight": 800});
        }
      }, function(){
        this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
        if (this.label) {
          this.label[0].animate({scale: 1}, 500, "bounce");
          this.label[1].attr({"font-weight": 400});
        }
    });
  });

  google.setOnLoadCallback(function(){
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Page Views');
    data.addColumn('string', 'title1');
    data.addColumn('string', 'text1');
    
    var rows = []
    $.each(pageViewData, function() {
      var date = new Date();
      date.setTime(this[0]);
      rows.push(
        //this ends up being [(a date), (the number of pageViews on that date), "an annotation tile, (if any)", ""]
        [date, this[1], undefined, undefined]
      )
    });
    
    data.addRows(rows);

    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    chart.draw(data, {displayAnnotations: false});
    
  });

});
</script>
<% end %>
